[2018-10-18 08:58] satu0king opened #1 "Powerpoint plug-in"
Should be an easy way to embed CircuitVerse circuits in powerpoint - see lucidchart plug in for reference

[2018-10-18 08:59] satu0king opened #2 "Beginner Issues"
These are just few ideas or bugs I know right now. I will keep updating the list. Before starting anything, create an issue and await instructions. Feel free to suggest any features or bug fixes

Simulator
- [ ] Counter
- [ ] Decimal to BCD and vice versa
- [ ] Combinational Analysis - Make it easier to give input.
- [x] 7 Segment - change color
- [ ] Add undo - redo buttons
- [ ] Undo - fixes - c

[2018-10-18 09:00] satu0king opened #3 "Flag not working in embed mode"

[2018-10-18 09:01] satu0king opened #4 "Countries and Educational institutions - User Model"
User Model to store country and educational institution information. This is necessary for analysis.

Should they be a foreign key to another table or just stored as string?
Foreign key - Probably more difficult to implement

[Jquery Autocomplete](http://jqueryui.com/autocomplete/) might help.

[2018-10-18 09:03] satu0king opened #5 "Separate backend/front end code"
Currently backend and front end code is tightly coupled. Developers who want to work on the simulator will not want to install and setup the backend code and dependencies. Therefore it is desirable to separate the two.

[2018-10-18 09:07] satu0king opened #6 "Featured Circuits/ Editor Picks"
[Desmos](https://www.desmos.com/)
Refer to the way Desmos shows featured works for more details.

Currently featured circuits is hardcoded temporarily. Will need a nice way for admins to selectively feature circuits.

- [ ] Create Model FeaturedProjects - primary attribute - project_id
- [ ] Send email to the featured project's author
- [ ] Monthly/ Weekly send email to everyone about past month's

[2018-10-18 09:08] satu0king opened #7 "Bulk mail"
The organisation needs a way to send bulk mail to all users. Ideally we should be able to use transactional email service like mailchimp. Alternatively we can maintain our own subscription system (not recommended).

[2018-10-18 09:09] satu0king opened #8 "Dockerize code"
Dockerize the code to be run in development so developers can quickly get started.

[2018-10-18 10:11] satu0king opened #9 "Add undo button in simulator page"
Just add button and add listener to Undo

[2018-10-18 10:13] satu0king opened #10 "Zoom by scrolling in embed mode"
Currently zoom in embed mode is with just buttons. Add mouse listeners to the zoom

[2018-10-18 15:39] rogelio-o commented on #10
Can I work on this?

[2018-10-18 16:07] satu0king commented on #10
Definitely,
You will need to write code in
public/js/embedListeners.js

You can refer this code from listeners.js (same directory)

[code]

[2018-10-18 16:59] satu0king opened #11 "Add watermark with link in embed mode when embedded in external tools"
If bloggers/teachers embed circuits from CircuitVerse in external places like powerpoint/blogs. A watermarks or banner such as "Made with CircuitVerse" or "View on CircuitVerse" needs to be displayed.

[2018-10-18 17:07] satu0king opened #12 "Fix missing icons in simulator"
Add images with type svg in the images folder.
Missing images. You can send the icons in separate PRs

- [x] Tunnel
- [ ] TestBench Input
- [ ] TestBench Output
- [x] ForceGate

[2018-10-18 20:40] manuelcarrizo commented on #8
/request

[2018-10-19 03:18] satu0king commented on #8
Go ahead! Thank you @manuelcarrizo

1. Install the dependencies
2. Create the database(start another container)
3. Migrate the database
4. Start redis-server(not needed if it works without that)
5. Start the sidekiq server(Not needed if you don't do the previous step)
6. Load public and app folder as a volume, this will ensure all images are saved persistently and that the developers don't need to

[2018-10-19 10:31] rogelio-o commented on #10
Added and checked. It works!

[2018-10-19 13:58] satu0king commented on #10
Great

[2018-10-19 13:58] #10 closed

[2018-10-19 17:27] HypheX opened #14 "Add a property to components such as decoders that sets the gap between the pins."
Decoders, encoders, multiplexers, de-multiplexers.

They always have a 2-square gap between the pins. It would be really useful to be able to set the gap between the pins as to avoid additional wiring. #

[2018-10-19 17:54] satu0king commented on #14
This can be done as follows

Add an additional attribute called spacing type in the objects. Set it to 1 for 2-square gap and 0 for 1-square gap. This has to be implemented using mutableProperties attribute. When the property value is changed, delete the object and create a new one at the same position. This will be neat and easy.

- [ ] Add attribute `spacingType` set it according to the current

[2018-10-19 18:18] johneckert commented on #12
added Tunnel.svg and ForceGate.svg in the above pull request

[2018-10-19 22:47] manuelcarrizo commented on #8
It worked without redis and sidekiq, please test it and let me know if I should add them too

[2018-10-20 03:52] satu0king commented on #8
![image](https://user-images.githubusercontent.com/2092958/47250961-17b15980-d449-11e8-9ae6-80412576cde6.png)
Thats great!
It started the server perfectly. However redis is required for sending mails. It would be great if you could configure redis too. If not, it is not a big deal, that can be another issue, as the simulator can still be used without user signing in.
Thanks a lot!

[2018-10-20 05:37] mohammedsafwat commented on #9
I have added a new button below the right panel buttons (zoom in, center, zoom out) and used the same listener method 'undo' that's used inside the project when the user presses the key with code 122. Kindly inform me if you need anything to be improved/updated.

[2018-10-20 07:28] #9 closed

[2018-10-20 07:34] mohammedsafwat commented on #2
I have fixed a bug related to saving an empty circuit. Kindly review and inform me if everything is correct.

[2018-10-20 07:54] satu0king opened #19 "Assignment Deadline Job bug"
When the deadline is reached, the assignment is correctly closing, however the submissions are not being recorded correctly, that is a copy of the projects are not being made and not being marked as a submission.

Check file at CircuitVerse/app/jobs/assignment_deadline_submission_job.rb

[2018-10-20 08:21] satu0king opened #20 "Replace logix with circuitVerse"
The project was initially named logix but was later renamed to CircuitVerse. The name has been changed in most places but there are still some places where it hasn't been changed.

1. Do a global search for term "logix" or "Logix" and replace with "circuitVerse" and "CircuitVerse" respectively
2. Make sure whatever you replace is data and database independent otherwise old project will no longer w

[2018-10-20 18:46] satu0king opened #21 "Search Engine"
Currently we are using google custom search which doesn't do a very good job. The search should search over project names and descriptions.

[2018-10-20 18:49] satu0king opened #22 "Fix css and bootstrap for mobile"
There are small css and bootstrap issues. For example, this is the sign in page on mobile below.

![image](https://user-images.githubusercontent.com/2092958/47259407-de1f3380-d4c6-11e8-97e8-620af989b290.png)

[2018-10-20 18:53] satu0king opened #23 "Mobile compatibility for Simulator"
I think it will be difficult to maintain both Desktop and mobile in one HTML file, so one approach is to use a separate html file for mobiles.

- [ ] Setup mobile HTML5 layout
- [ ] Add touchscreen listeners

[2018-10-20 19:59] mohammedsafwat commented on #11
I have added a light grey watermark that's saying "Made with CircuitVerse" at the bottom of any circuit image that will be exported. Kindly inform me if you need it to be adjusted in another way. Thank you!

[2018-10-21 05:03] #8 closed

[2018-10-21 05:05] satu0king opened #26 "Add redis to docker-compose"
![image](https://user-images.githubusercontent.com/2092958/47250961-17b15980-d449-11e8-9ae6-80412576cde6.png)

The docker container starts perfectly. However redis is required for sending mails. Therefore it is necessary to configure redis too.

[2018-10-21 11:42] lucaslago commented on #26
Opened a PR for this issue #27 🙃

[2018-10-21 11:42] #26 closed

[2018-10-21 12:13] satu0king opened #28 "Add admin seed user in docker"
Seed the database with an admin user

email id: "admin@circuitverse.org"
password:"password"

Don't forget to set admin attribute in user to true.

One way is to write it in `seeds.rb` and run `rake db:seed`

[2018-10-21 20:27] blane1257 opened #30 "Circuit Browser Improvement"
There should be a "Most Viewed" section to the home page, or maybe a proper circuit browser with a few options for filtering and order.

[2018-10-22 07:53] satu0king opened #31 "Prompt user to save the circuit for new circuits"
If the user has created a new project but has not saved it yet. Prompt the user to save after 5 minutes.

[2018-10-22 20:18] manuelcarrizo opened #33 "Login loop after clicking 'Save Online'"
Steps to reproduce

- Edit a project and add some components
- Click `Save Online` and name the project
- The side redirects to `/users/sign_in`
- Don't log in, click the CircuitVerse logo

The site redirects to the home, then to the simulator and you see the message `You have to login to save the project, you will be redirected to the login page.` that redirects again to `/users/sign_in`

[2018-10-23 04:07] satu0king commented on #33
It is interesting that no one mentioned this before.

[2018-10-23 04:11] #28 closed

[2018-10-23 14:48] soweli-Luna opened #34 "Crashing and Autosave"
CircuitVerse crashes a lot, (requiring the page to be closed and re-opened) usually because of pins/nodes not behaving correctly. (somehow a pin has been moved from it's intended spot, or a pin hasn't generated when making new wire) Whether this issue gets fixed or not, there should be an optional autosave feature as well.

[2018-10-24 03:42] satu0king commented on #34
The autosave feature is a must. @blane1257 would you think it is better to autosave locally (and recover in case of a crash) or autosave online.

This is a known bug, however it presents itself in very specific cases and we haven't been able to reproduce it correctly. Could you give more information of when this happens.

[2018-10-24 05:35] blane1257 commented on #34
There should be an option for whether it autosaves locally, online, or both.

Also i believe a reliable way to reproduce the crash is: use the shift multiselect function but instead of selecting a gate or subcircuit, select a node attached to a gate or subcircuit, this should allow you to move the node from it's intended position leading
to a crash. (i have only done it once or twice but it should

[2018-10-24 13:39] blane1257 commented on #34
Thats a good idea.

[2018-10-24 16:42] HypheX commented on #14
I think a larger gap choice would be better. Many circuits have gaps of 15 or more, and the wiring gets really crazy in small spaces.

[2018-10-25 16:51] satu0king opened #35 "Multiple access for projects"
Should CircuitVerse provide a way for multiple people to edit the same circuit?

If yes, how should we implement it. Real time editing like google docs is not feasible. One way is to allow users to independently open the circuits and independently save. That is the responsibility of saving correctly and avoiding clashes is on the users.

[2018-10-25 17:42] satu0king commented on #33
Resolved

[2018-10-25 17:42] #33 closed

[2018-10-25 17:42] #31 closed

[2018-10-26 16:33] blane1257 commented on #35
Yes, there should be. Maybe a way to "request edit" or use a randomly generated key

[2018-10-26 16:36] blane1257 commented on #23
This is a good idea. I was looking at circuitverse on my phone recently and was disappointed with the lack of formatting on mobile. but being able to edit and view circuits on mobile sounds awesome!

[2018-10-30 14:33] blane1257 opened #36 "SubCircuit Surface LED's"
When customizing the layout of a SubCircuit, any LED's that have been placed should appear on the SubCircuit similar to inputs or outputs, but on the surface. A similar idea I just had is to do the same with buttons, allowing for a SubCircuit button panel.
Here's a graphical representation of what I mean about the surface LED's:
![screenshot 2](https://user-images.githubusercontent.com/34515731/47

[2018-10-30 14:42] satu0king commented on #36
That is a great idea! The LEDs can be done right away, however, the buttons may be a tad bit trickier.

[2018-10-30 14:50] blane1257 commented on #36
Awesome! Also, the image is just a rough demonstration, I definitely would want it to look a little better than that.. particularly the non-lit LED's and the borders between them stick out way too much.

[2018-10-30 14:53] satu0king commented on #36
Should the LEDs be circular or square?, should there be a border around the LEDs?

[2018-10-30 14:56] blane1257 commented on #36
They should be square and "pixel-like." There should be a border, but a fainter one than in the image.

[2018-10-30 17:06] bmwalters opened #37 "Fork/duplicate your own project"
## What
It would be nice if as a logged in user you could "clone" or duplicate your own project. You can currently do this with another user's project, but not your own. [simulator.io](
https://simulator.io) has this feature.

## Why
A use case for this would be keeping a base version of a circuit, such as an ALU, then cloning it before adding features.

## How
Since there's already support for fo

[2018-10-30 17:54] satu0king commented on #37
Yes, this is a definite requirement. Having a version control would be overkill and confusing to most users. Branching would be similar to forking itself. However, merging like on GitHub would be extremely difficult if not impossible.

As of now, if you need this feature immediately, simply select all the circuit elements from the main circuit and copy paste it into a new circuit, even the subcirc

[2018-10-30 17:56] satu0king commented on #37
For now, duplicate can be implemented as fork itself by simply relaxing the constraint to fork oneself's circuit.
Would this work out @bmwalters

[2018-11-04 12:18] satu0king commented on #37
@bmwalters I have relaxed the fork feature. Could you check if it works as expected.

[2018-11-04 12:22] satu0king opened #38 "Subcircuit improvements"
- [x] Make title optional
- [x] Zoom/Pane in layoutMode
Features requested by @blane1257

[2018-11-04 12:23] satu0king opened #39 "Version Control of engine"
Would it possible to let users decide what version of the engine they want to use? It would be really useful in case an update rolls in, and breaks some circuits. It would be nice to have a drop-down menu on the corner that lets you choose a version of the engine. This would help preserve old circuits in working state, while still letting users update their circuits to work with newer versions if

[2018-11-05 17:05] HypheX opened #40 "ctrl+c stops working randomly"
Sometimes I use the copy/paste functions heavily. Occasionally, it stops working randomly. No idea what causes this, but the only fix is to save and refresh the page.

[2018-11-05 18:31] satu0king commented on #40
That is unexpected. It is difficult to debug these sort of issues without more information. Next time this happens, do the following.

1. Paste whatever is there in the clipboard into a comment here.
2. Open chrome developer tools (cmd+option+I) in mac and (ctr+shift+I) in windows/Linux. take a screenshot of the error messages or logs.

[2018-11-05 20:51] HypheX commented on #40
Okay, I will.
It is funny though, I kept getting this issue every 5 minutes...
Now I does not pop up at all, damn...

[2018-11-05 20:53] HypheX opened #41 "Tunnel "clickbox" is offset."
The "clickbox" of the Tunnel is offset to the side:
![offset-cb](https://user-images.githubusercontent.com/29693543/48026038-33cc2080-e102-11e8-925a-2314ebef6f51.gif)

Furthermore, deleting a Tunnel leaves a green dot behind.

[2018-11-06 14:59] HypheX commented on #41
I am currently using the Tunnel very heavily, and I constantly have to deal with this clickbox issue, editing wires next to the output is impossible unless I move the tunnel away first.

[2018-11-06 17:48] blane1257 opened #42 "7 Segment Decimal Point is hard to see"
The decimal point on the 7-Segment display is too close to the rest of the number and not defined enough, it is hard to see and easy to miss. Making it more separated from the other segments should fix this.

[2018-11-06 18:01] HypheX commented on #40
Glitch finally happened: clipboard:

{"layout":{"width":100,"height":40,"title_x":50,"title_y":13},"allNodes":[{"x":10,"y":0,"type":1,"bitWidth":1,"label":"","connections":[]}],"id":88379942558,"name":"BCD-sub","Input":[{"x":80,"y":130,"objectType":"Input","label":"","direction":"RIGHT","labelDirection":"LEFT","propagationDelay":0,"customData":{"nodes":{"output1":0},"values":{"state":0},"construct

[2018-11-06 18:03] HypheX commented on #40
SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data[Learn More] logix.js:56:65
paste
https://circuitverse.org/js/logix.js:56:65
startListeners/<
https://circuitverse.org/js/listeners.js:267:9

[2018-11-06 18:06] HypheX commented on #40
I just found the cause of the glitch... if you copy twice in a row too fast, it breaks.
1)Select a part
2)Hold ctrl
3)Double tap C quickly

[2018-11-06 18:08] satu0king commented on #41
@HypheX  I just fixed it. Can you check it once? You may need to clear your cache to see the update (Ctr+Shift+R). There was another bug regarding deletion of Tunnel. I fixed that too.

[2018-11-06 18:14] satu0king commented on #40
When you do C twice, the first time it copies the selected elements, but once copied, the selected elements are no longer selected (this cannot be fixed). So the second time it copies nothing .... so it can paste nothing. This is expected behavior. However, you reported that after it fails once, the copy paste breaks, this is not expected behavior. For me, once it breaks, if I select again and cop

[2018-11-06 18:16] satu0king commented on #42
![image](https://user-images.githubusercontent.com/2092958/48084570-17250b00-e21e-11e8-8afb-c14bfeda2587.png)
@blane1257 does this look alright?

[2018-11-06 18:16] HypheX commented on #40
I am using Firefox Version 63.0.1 (64-bit)

[2018-11-06 18:17] #37 closed

[2018-11-06 18:17] blane1257 commented on #42
that looks much better, but i'd have to see it next to another display with some numbers on them and the decimal point on

[2018-11-06 18:31] blane1257 commented on #42
Alright, I will when I get the chance. Thanks for being so quick!

[2018-11-06 21:17] HypheX commented on #41
Yes! THANK YOU! It is fixed 👍

[2018-11-06 21:32] HypheX opened #43 "--ignore--"
Ignore this, sorry.

[2018-11-07 01:54] HypheX commented on #35
Yes, and it would be awesome if we could get near-live feedback (if possible)

[2018-11-07 03:52] #41 closed

[2018-11-07 03:52] #43 closed

[2018-11-07 13:08] blane1257 commented on #40
I'm using Chrome and it happens for me occasionally too.

perhaps this could be fixed by introducing a cool-down after the first copy.

[2018-11-07 13:10] satu0king commented on #40
I am having an idea to fix the issue by not copying anything if nothing is selected. This should fix it .. will try later today.

[2018-11-07 15:00] satu0king commented on #40
@blane1257 @HypheX, I made a change, could you report if you face the issue again. (Clear the cache to get the latest version)

[2018-11-07 16:10] satu0king commented on #38
@blane Could you check if the updates are as per your requirements.

[2018-11-07 16:11] blane1257 commented on #38
Will when I get the chance.

[2018-11-08 22:39] blane1257 opened #44 ""Download Image" feature is slightly broken"
When downloading an image of my display (I have not tested it on any other circuits yet) it seems to h\get the layers mixed up.
![test](https://user-images.githubusercontent.com/34515731/48231746-21bedc00-e3a7-11e8-8ea9-a939588d5436.png)
![screenshot 2018-11-08 17 34 18](https://user-images.githubusercontent.com/34515731/48231755-27b4bd00-e3a7-11e8-818d-e339e84dfffe.png)

The image on the bottom i

[2018-11-08 23:17] bmwalters commented on #37
Great! Thanks

[2018-11-09 01:30] HypheX opened #45 "Ctrl +/- incompatibility."
Upon revising some of the code: https://github.com/CircuitVerse/CircuitVerse/blob/master/public/js/listeners.js

I found a compatibility issue with Firefox, in line 68 and 75.

According to javascripter.net
![image](https://user-images.githubusercontent.com/29693543/48237464-f2e33e80-e383-11e8-8d4b-10fd95b37352.png)

The keycodes for the +  and - keys differ in firefox.
I tested this, ctrl + +/- d

[2018-11-09 01:32] HypheX commented on #40
I confirm, the issue has stopped. AWESOME, THANK YOU!!!

[2018-11-09 01:44] HypheX commented on #45
I made a pull request... I believe the fix will work, if not, then don't use it :P

[2018-11-09 03:34] satu0king commented on #44
This circuit looks amazing! Yeah, the render order was wrong, I corrected it, could you confirm and post a picture of the same.

[2018-11-09 03:38] satu0king opened #47 "Display Matrix"
Users are making their own display using LEDs.
![image](https://user-images.githubusercontent.com/2092958/48241888-c0c2f280-e3fe-11e8-8d1c-84762f7eeca2.png)

This is great. However, It probably is easier to have a custom display matrix component.
![image](https://user-images.githubusercontent.com/2092958/48241960-fd8ee980-e3fe-11e8-8179-801460de9000.png)

@blane1257 what do you think of it?

[2018-11-09 03:39] satu0king commented on #40
Cheers!

[2018-11-09 03:39] #40 closed

[2018-11-09 03:40] satu0king commented on #38
I am closing this for now.

[2018-11-09 03:40] #38 closed

[2018-11-09 03:40] satu0king commented on #42
I am closing this for now.

[2018-11-09 03:40] #42 closed

[2018-11-09 03:51] satu0king opened #48 "Subcircuit Layout upgrade"
Referencing #36.

Until recently subcircuits had very strict dimensions and positions and little could be done to move the node positions. As of now, subcircuits have flexible dimensions and node positions can be changed.
Moving forward, the design pattern has to be considered to ensure extensibility and ease for both development and the users.

Some of the features are to be considered to be impl

[2018-11-09 04:30] blane1257 opened #49 "Color setting for 7-segment displays"
The 7-segment and hex displays are lacking a color setting, which would be great to have. The variable LED is also lacking a color setting.

[2018-11-09 05:04] satu0king commented on #49
This can be done

[2018-11-09 05:04] satu0king commented on #48
Yes this can be done too

[2018-11-09 05:04] blane1257 commented on #49
Thanks

[2018-11-09 05:06] satu0king commented on #47
This was just a random image from the internet. I will not be having the dark color or too much space.

[2018-11-09 05:06] blane1257 commented on #47
Oh alright, good.

[2018-11-09 14:02] HypheX commented on #48
I agree with blane, it sounds great! Can't wait for these features, I am "hyped".

[2018-11-09 16:47] HypheX commented on #49
I will attempt to do this...

[2018-11-09 16:47] HypheX commented on #47
Actually, yes, a display matrix component would be awesome.

[2018-11-09 17:19] satu0king commented on #49
Great! It is very easy to do. Just add an attribute called color in all of them. Then add mutable properties and write the appropriate function for changeColor. In fact, you can copy everything from DigitalLed. Ensure the default colors are the one that is used now.

Checkout DigitalLed in `public/js/module.js`.

[2018-11-09 18:16] HypheX commented on #49
Oh, thank you, I was reading through every script, trying to find the properties 😛.

[2018-11-15 22:06] HypheX commented on #40
![image](https://user-images.githubusercontent.com/29693543/48584806-ff1d4d80-e8e7-11e8-9de7-30d8373d0f61.png)
It happened again @satu0king

[2018-11-16 00:44] HypheX opened #51 "Ctrl+c stopped working again. H"
It happened again @satu0king
I am surprised, it had not happened in quite a while now.
However, it only happened once.

_Originally posted by @HypheX in https://github.com/CircuitVerse/CircuitVerse/issues/40#issuecomment-439207598_

[2018-11-16 00:44] HypheX commented on #51
![image](https://user-images.githubusercontent.com/29693543/48590783-1e26da00-e8fe-11e8-9e92-9372458e18c1.png)

[2018-11-16 06:35] HypheX commented on #51
Oh, it happened again... no error. Weird...

[2018-11-16 08:32] HypheX opened #53 "Extremely odd dragging behavior."
![what-drag](https://user-images.githubusercontent.com/29693543/48607388-69f97380-e93e-11e8-8495-d9d144aa9b1c.gif)
Notice, there is a dot that is moving twice as fast as the rest of the selected parts.
![image](https://user-images.githubusercontent.com/29693543/48607464-885f6f00-e93e-11e8-8198-c2be568febd8.png)
![image](https://user-images.githubusercontent.com/29693543/48607552-a62cd400-e93e-11e8

[2018-11-16 08:36] #44 closed

[2018-11-16 20:31] blane1257 opened #54 "Forbid Combinational Analysis for teachers"
There should be an option for teachers to forbid combinational analysis for assignments, as it seems many students use it.

[2018-11-16 20:32] HypheX commented on #54
Completely agree!

Fierro Salinas Luis Alberto-3C

El vie., 16 de nov. de 2018 a la(s) 13:31, blane1257 (
notifications@github.com) escribió:

[2018-11-21 00:41] HypheX opened #55 "Keyboard shortcut changes"
I suggest the following changes:

1. Pressing L should prompt the user to change the label.    (It currently deletes it)
2. Pressing D should prompt the user to change the delay.

It would be great to see those changes!

[2018-12-01 05:57] jbox144 opened #56 ""Bug" with bits and integer limits"
So I was putting together a group of 16 bit full adders to make a 64 bit full adders. This was forked from another project of course. I was testing it out, and then the simulation began to act strangely. Somehow, it believed that the binary values were negatives (and appended a negative sign onto the inputs). I also wasn't able to change any further values past a certain point. My guess as to the

[2018-12-01 06:09] jbox144 opened #57 "Subcircuit saving and loading + additional subcircuit improvements"
- [ ] Saving subcircuits for use in other projects

This has probably (definitely) been suggested before, but I have some ideas for some extra improvements to sub curcuits, and a way of distributing them to other people, or at least between projects. The idea is that you can save subcircuits to a tab in the "circuit elements" tab, which will allow you to utilise that subcircuit elsewhere. This wil

[2018-12-01 06:25] jbox144 opened #58 "Control improvements"
I have a couple of tiffs with the current control scheme for CircuitVerse, which I think could be easy fixes and make the simulation much easier to use.

- [x] Fix the "backspace" key

Firstly, unbind the "backspace" key from delete. Countless times I have edited values in a part then accidentally deleted it when I made a minor edit via the backspace key. This is incredibly frustrating, and should

[2018-12-01 06:31] jbox144 opened #59 ""More" button on recent circuits"
It doesn't seem that there's a way to see more recent circuits past the main page's "recent circuits". I want to see a way to see more circuits by people to look at. If this isn't the right place to ask about it (since I'm assuming this is to raise issues about the engine, not the website), then I'll take note of that. If this can be achieved however, please do!

[2018-12-01 06:37] jbox144 opened #60 "Diodes"
Basically not gates that don't not. Don't ask me why. This just needs to be a thing.

[2018-12-01 06:42] jbox144 opened #61 ""Multiple Input" solutions"
Normally, having multiple inputs into one wire causes some bizarre results. I'll be honest, I don't like the current behavior, and how multiple inputs are handled (or rather, not). I believe that multiple inputs should then OR compare all of the inputs, and treat it as such. Essentially, wires should act as OR gates if more than one input occurs. This makes more sense to me, and would also make wi

[2018-12-01 06:55] satu0king commented on #61
No, actually multiple inputs should not be an OR on the wires. If that is what you actually want, then simply put it behind an OrGate before putting it into the wire.

No, it is not done due to a technical limitation. Two input sources should not drive a bus to 2 different values. What you are suggesting is plain short ciruiting of circuits.

However I think what you actually need is a TriState bu

[2018-12-01 06:55] #61 closed

[2018-12-01 06:55] satu0king commented on #59
This is a highly requested feature. I wish someone would work on this.

[2018-12-01 07:03] satu0king commented on #58
You have raised some very valid points. The backspace is unfortunately bound to delete because that is how it is on Mac. Of course, one simple solution is to bind it only for Mac users. Another solution is to check if some input element is being focussed.

This can be done easily.

This I believe comes down to preferences, and hardware being used. However going forward, I think users should have a

[2018-12-01 07:06] satu0king commented on #57
I like this idea. This definitely is a must have feature. For now, you could simply copy relevant portions of any circuit and paste it in your new circuit, Everything gets copied correctly.

This is a bit ambitious, what is more achievable is simply duplicate the current version of the subcircuit. In case it is updated, it has to be duplicated again.

[2018-12-01 07:07] satu0king commented on #55
Definitely will do

[2018-12-01 07:08] satu0king commented on #54
Haha true, my professor got me to disable it for his course. I completely disabled it for him.
It is actually a feature in the to-do list.

[2018-12-01 07:10] satu0king commented on #53
This should not be happening. Something really wrong must have happened. Either the node got detached from the parent, then something really bad happened somewhere. Or the node got selected by mistake, then we can rectify it by putting a constraint somewhere. Have to look into it.

[2018-12-01 07:11] satu0king commented on #60
There is a buffer element which might do what you need.

[2018-12-02 06:20] jbox144 opened #62 "Fork individual subcircuits from other peoples projects into your own projects"
A handy feature would be the ability to fork individual subcurcuits into your own projects, and use them in your projects. This would mean you could take a bunch of individual parts from other projects to use in another project.

[2018-12-02 06:27] jbox144 opened #63 "User profile improvements"
This should be fairly easy. Basically, a user's comment should have a link to their profile page. Also, on user profiles should be a link to their groups and favorite circuits. You can access these already via the good ol' URL bar but there isn't a link directly on their profile page.

[2018-12-02 22:52] Compilatron144 opened #65 ""Weekly Challenges""
I had a small idea to try and improve the user activity on circuitverse, and get people interested. What you could do is host a "weekly challenge", which is a challenge which people can submit to for the fun of it. A prize could be a profile badge or the like.

[2018-12-02 23:39] jbox144 commented on #60
Until changes are made to how multiple inputs are handled, diodes are useless.

[2018-12-02 23:39] #60 closed

[2018-12-02 23:40] jbox144 commented on #58
Made a pull request for the WASD key implementation

https://github.com/CircuitVerse/CircuitVerse/pull/66

[2018-12-02 23:49] blane1257 commented on #65
this is a really great idea!

[2018-12-03 01:04] jbox144 opened #67 ""Counter" component"
See this project for an example: https://circuitverse.org/users/1577/projects/4036

Essentially, the counter would take in a clock signal, and output a signal which is incremented by 1 every time it receives a clock pulse.

[2018-12-03 01:05] jbox144 commented on #48
I'll look into making some assets

[2018-12-03 16:41] HypheX commented on #67
Actually, there is already a neat way to do this, which is what I implemented on my WIP computer.
![image](https://user-images.githubusercontent.com/29693543/49387574-648e7e00-f6df-11e8-85c3-a021757b0434.png)

However, I don't see why there shouldn't a counter component.

[2018-12-03 16:44] HypheX commented on #65
I agree!

[2018-12-03 16:45] HypheX commented on #62
Actually, this is already possible!
You can straight up copy-paste subcircuits from other people's projects.

[2018-12-03 16:50] HypheX commented on #56
I ran across this problem while working on my BCD calculator. It appears like the maximum bidwidth usable is 32 bits.

Any component with a higher bitwidth is prone to throw errors, or output nonsense. I ended up using 2x 32 bit wires for my 64 bit output.

[2018-12-03 16:56] satu0king commented on #65
This is a pretty good idea. It would require some thought process to implement correctly.

The major decision is the exact structure of the whole thing.
1. Can anyone post a challenge privately or publicly?
2. Should a group of selected people (say, for example, you guys) can post challenges.
3. How long should the challenge be active?
4. How should the winners be decided?

A weeks time might be t

[2018-12-03 17:05] HypheX opened #68 "Deleting a project, then going to another project's page displays a delete message."
So, I deleted a project I created on accident, then went to my calculator's project page, only to be greeted by this message:
![image](https://user-images.githubusercontent.com/29693543/49389122-cac8d000-f6e2-11e8-962f-d7ca0fe0016a.png)

I thought I had accidentally deleted my BCD calculator.

[2018-12-03 23:55] jbox144 commented on #65
You can see this for an idea
https://circuitverse.org/users/1577/projects/4074
https://circuitverse.org/users/1577/projects/4075

[2018-12-04 00:00] jbox144 commented on #65
A simple/easy method would be to have users include `#challenge` in their submissions. This would mean no major infrastructure would need to be changed when it comes to challenge submissions, as we could just search up entries.

I'm not experienced with server infrastructure, but I would be happy to do this if need be.

Mabey a week to a month, depending on how much traffic we get.

Whomever submi

[2018-12-04 01:32] satu0king commented on #68
This is an annoying UI bug. I will fix it.

[2018-12-04 06:17] jbox144 commented on #65
A few more ideas I had for challenges @satu0king

- [ ] Only not/or gates

Only using not/or gates, you need to recreate every component in CircuitVerse (or as much as you can at least) as a subcircuit. You can reuse subcircuits, but for an extra challenge, make every circuit from scratch.

- [ ] Only subcircuits

You must scour the site and search for subcircuits from other people, which you can

[2018-12-05 04:24] jbox144 opened #69 ""CircuitVerse" forums"
I'm kind of surprised CircuitVerse lacks a dedicated forum of some kind. Hopefully something like that could be implemented for people to use. It would definitely be necessary if CircuitVerse aims to grow its community further.

[2018-12-05 10:05] blane1257 commented on #69
These are both great ideas! (more so the forum, as it is highly needed)

[2018-12-05 12:24] jbox144 opened #70 "Have sharing preferences default to "private""
Too many people save stuff online, and leave the sharing perms on public. This clogs up the "recent circuits" area with incomplete ciruits. This should be an easy fix, at least I hope :P

If I can be bothered, I'll make a fork with this patch and then make a pull request to make it easier for yah.

[2018-12-05 12:30] Compilatron144 opened #71 "Community connections improvements"
This is just to wrap together all of the community connection improvements, so they can be seen in one issue.

- [x] Community forums

See: https://github.com/CircuitVerse/CircuitVerse/issues/69

- [ ] Community challenges

See: https://github.com/CircuitVerse/CircuitVerse/issues/65

- [x] User profile navigation improvements

See: https://github.com/CircuitVerse/CircuitVerse/issues/63

- [ ] Feat

[2018-12-05 12:34] satu0king commented on #70
This has to be fixed by improving the featured circuits section and maybe adding another trending now section. The trending now to be dynamic based on views, comments, and likes.

Since CircuitVerse is free and open source, the platform should not encourage circuits to be private. The only reason it has private circuits is so that students and professors can hide assignments from each other.

[2018-12-05 12:34] #70 closed

[2018-12-12 15:12] satu0king commented on #69
https://discourse.circuitverse.org/
Check this out, sign up and test if everything works fine,

[2018-12-12 16:53] blane1257 commented on #69
I wouldn't mind being a moderator.

[2018-12-13 07:21] satu0king commented on #59
@jbox144 @HypheX @blane1257 check if this works for you. Ideally, it should be smoother. However, this should work for now.

[2018-12-13 07:43] satu0king commented on #58
@jbox144 I have merged WASD key implementation and fixed the backspace issue too.

[2018-12-13 07:48] satu0king commented on #53
@HypheX have you been able to reproduce this issue?

[2018-12-13 12:44] primeprover opened #77 "Freezing after wrong input to splitter"
If I close the popups for the splitter rather than filling them in the whole page freezes. The only way to recover is to refresh.

[2018-12-13 14:10] #77 closed

[2018-12-13 14:12] satu0king commented on #77
I have fixed this particular issue. However other wrong inputs such as text instead of numbers will not be handled.

[2018-12-13 15:34] satu0king opened #79 "Configure Discourse email"

[2018-12-25 14:44] satu0king commented on #69
It is going to be a while before we launch this as I am having an issue with setting up email for the forum. Also currently we are using Yandex email as our email provider (for free). It currently works well but we need to upgrade to a better (paid) email provider. However, the project currently does not have the financial support to do so.

[2018-12-26 17:36] superstewie opened #81 "RAM component"
I believe a RAM component should be made. When working with large RAM, weird errors start to occur around 16k bytes. I tried two methods of building RAM, one method which uses progressively larger matrices of 8 bit registers which fails around 16k bytes, and one method which uses multiples of the circuit below:
![capture](https://user-images.githubusercontent.com/36019929/50452754-b0f56400-0901-11

[2018-12-27 09:12] satu0king commented on #81
Yes, a RAM component is needed.

[2018-12-27 09:18] satu0king commented on #81
The minimap problem might simply be an update delay. As for the lagging, try and use subcircuits as much as possible. The lagging is due to the rendering of the circuit and not the simulation of the circuit.

Other failures have included red screens. This is disturbing, could you give a situation when this happened.

[2018-12-27 16:58] HypheX commented on #81
Me and blane have tried doing huge RAM's before, but even if we used

It would be lovely to see a bit width property and a separate "address bit width" property, allowing for the customization of the RAM's size to its full extent.

However, one has to keep in mind that the maximum bit width possible is 32, possibly due to limitations with the browsers, only allowing integers up to 2^32-1.
A fix fo

[2018-12-27 21:15] superstewie commented on #81
The largest circuit was built by using 4 eight bit registers, with a 2 control bit demux on the input and mux output. Then nesting those four at a time. In one situation, when using Firefox (I have also tried multiple browsers), I placed one of the subcircuits containing 4K bytes, then copy/pasted it once, and then when I pasted a selection of those two to create a 16K group of RAM, the redscreen

[2018-12-28 08:05] satu0king commented on #81
@superstewie not sure why this would happen. The red screen occurs when the rendering fails.

@HypheX, 32 bit address space is actually pretty high. There are still many computers around that use a 32-bit architecture. With 32 bits, you can actually address 4294967296 locations. If each location is 1 byte, then you can address 4 GB.

[2018-12-28 16:59] HypheX commented on #81
I am aware, I was mainly talking about bitwidth issues, not specifically about address space, wires break if you attempt to use a bitwidth of 33 or higher.

[2019-01-01 11:09] superstewie opened #82 "Allow users to change values in ROM when in view mode."
It is not possible to change the values stored in a ROM when in view mode. This applies to both ones own circuits and when viewing others circuits. I believe that allowing the ROM component to be edited when in view mode will add significant functionality to many circuits, especially in situations where it would be beneficial to allow users an easy method of entering data or instructions. Well, at

[2019-01-02 18:11] fpintos opened #83 "Demultiplexer "remembers" output of non-selected outputs"
According to the documentation (and expected behavior), the demultiplexer is supposed to return zero for the non-selected outputs and forward the input to the currently selected output.

However, I'm seeing that the multiplexer "remembers" the value of each output.
To reproduce, go to https://docs.circuitverse.org/#/decodersandplexers?id=demultiplexer and do this:
- make T=1 while S=0; O1 is 1 as

[2019-01-02 18:40] fpintos opened #84 "Add support for re-ordering subcircuits"
I would like to be able to re-order subcircuits.

Right now it is possible to move an unused subcircuit to the end of the list by copying its elements and pasting to a new subcircuit. But if the subcircuit is already in use this doesn't work unless you manually remove all usages and add them back after the move.

Expected usage would be to be able to click on the subcircuit title and drag it aroun

[2019-01-02 18:48] fpintos opened #85 "Project Properties does not update when moving from one subcircuit to another"
The "Circuit" name in the "Project Properties" div in the editor does not update as you move from one subcircuit to another.

Repro:
- Create a project with two or three subcircuits
- Click on the subcircuits name at the top of the editor to move from one to another.
Actual:
- Notice the circuit name in the "Project Properties" does not update as you move from circuit to circuit.
Expected:
- Proje

[2019-01-02 18:57] fpintos opened #86 "Unexpected sticky selection"
This is a weird one since I haven't figured out a consistent repro yet:
- _Sometimes_ the set of selected elements in the editor gets stuck and I seem unable to deselect them. I can click around in other elements without using shift and this causes the elements to be added to the selection.

Normally I double-click (or triple-click) in a blank part of the editor and that seems to be enough to dese

[2019-01-03 16:02] fpintos opened #87 "The description of a project does not respect rich text formatting"
When the site shows the description of a project it does not respect rich text used when we edit such description.

Repro:
- Create a new project and use rich text when editing its description (in https://circuitverse.org/users/{id}/projects/{id}/edit)
- View the project (https://circuitverse.org/users/{id}/projects/{id}) and notice that the rich text is lost.

Expected:
- For rich text to be disp

[2019-01-03 16:11] fpintos opened #88 "Sign-in with Google account always goes thru sign-up process"
I signed-up to CircuitVerse using Google account and sign-on process showed up as expected.

However, when I need to sign-in again, the Google button in the https://circuitverse.org/users/sign_in page goes thru the whole sign-up process again. This happens every time I need to sign-in.

Expected: after completing the Google sign-on process once I should be able to sign-in without seeing all the si

[2019-01-03 23:36] fpintos opened #89 "When forking a project we see a message that says the project was "successfully destroyed""

[2019-01-04 03:15] satu0king commented on #89
Duplicate issue #68

[2019-01-04 03:16] satu0king commented on #88
Interesting, the library does all the API calls. Not sure we can do much about it.

[2019-01-04 03:19] satu0king commented on #86
Yes, double click is what is to be done to deselect.

I think this is only possible because the shift listener was missed somehow. If this happens just try hitting shift again and see what happens.

[2019-01-04 03:20] satu0king commented on #84
This is an important requirement which would need significant changes to the code. Right now we do not store the order in which the circuits are to be displayed.

[2019-01-04 03:21] satu0king commented on #83
Thank you for reporting this bug

[2019-01-04 05:53] superstewie commented on #82
I see now. I don't know why I couldn't get it to work the other day. I guess PEBKAC was the likely culprit.

[2019-01-04 06:01] superstewie commented on #85
Additionally, if you click in the "Circuit" panel, as if you were going to type something there, and then click on blank space, it changes the name of the current circuit to the name of the previous circuit.

[2019-01-05 16:12] satu0king commented on #87
Could you check if the issue is rectified.

[2019-01-05 23:03] fpintos commented on #87
Indeed it is fixed. Thanks!

[2019-01-05 23:03] #87 closed

[2019-01-05 23:04] #89 closed

[2019-01-05 23:05] fpintos commented on #86
No luck with pressing shift again.

[2019-01-06 15:13] satu0king commented on #86
Strange, we will need to be able to reproduce the issue to debug this.

[2019-01-07 16:08] satu0king commented on #68
can you see if the issue is resolved

[2019-01-07 19:50] fpintos commented on #88
Perfect!

[2019-01-07 19:50] #88 closed

[2019-01-09 05:06] #85 closed

[2019-01-09 05:07] satu0king commented on #85
Please check if the issue is fixed.

[2019-01-09 05:13] satu0king commented on #82
The issue is not with ROM but with full screen. For some reason, the keyboard does not work properly in full screen. I am not sure there will be a fix.

[2019-01-09 05:13] #82 closed

[2019-01-09 05:14] satu0king commented on #62
As @HypheX said, it is already possible with copy/paste. Providing additional functionality to make it work differently will overcomplicate matters.

[2019-01-09 05:14] #62 closed

[2019-01-09 05:19] #83 closed

[2019-01-09 05:19] satu0king commented on #83
Can you confirm if the issue is fixed.

[2019-01-09 05:48] satu0king commented on #63
Check if the issue is resolved

[2019-01-09 05:48] #63 closed

[2019-01-09 19:37] fpintos commented on #54
I'm not sure disabling the feature would actually prevent students from using it.

One can always open the simulator (disconnected from an assignment), build the circuit with the tool and simply cut-and-paste it (or visually copy it) back into a project where the feature was disabled. In a more extreme case, one can produce the circuit in a completely different program and then copy the resulting

[2019-01-09 22:58] fpintos commented on #83
Fixed indeed. Thanks.

[2019-01-10 04:54] satu0king commented on #54
@fpintos, yes you are right students will find ways to overcome this. The initial plan was to give an option to disable cross-project copy/paste. Hence allowing only copy paste within the assignment. This will also ensure people cannot copy/paste from other public projects too.

Yes, that is correct. In my university, except the first assignment, all further assignments allowed the use of combinat

[2019-01-10 07:38] satu0king commented on #35
@blane1257 @HypheX could you check if this is as per expectations.

[2019-01-10 17:49] blane1257 commented on #48
surface elements such as buttons and LEDs should be individually togglable if possible

[2019-01-10 17:52] blane1257 commented on #81
This is a really great idea! similarly the ability to customize the address and byte bitwidth of the ROM would be a nice feature, but understandably difficult due to the need to have the values displayed on top of it

[2019-01-11 18:04] fpintos commented on #47
If it helps anyone out there:

I've built a 16x8 pixels, 16-color graphical display that can be cut-and-pasted into other projects:
https://circuitverse.org/users/1935/projects/5010

In principle, larger displays could be built by stacking this basic one, but at some point the simulation might end up with lag, I suppose.

With this as a proof of concept, it would be great to have a built-in compon

[2019-01-12 17:19] #35 closed

[2019-01-12 17:19] #68 closed

[2019-01-14 15:26] satu0king opened #91 "Implement Subscriptions for comments"
https://github.com/lml/commontator

Check the documentation and add the functionality of subscriptions to comments.

[2019-01-15 10:03] satu0king opened #92 "Allow emails to be separated by space/commas - collaborations/group invitations"

[2019-01-16 05:05] fpintos opened #93 "Simulator fails with following error in console "Uncaught TypeError: Cannot read property 'scope' of undefined""
I just lost a large change in a particular circuit because it fails in a loop with the following error in the console:

Uncaught TypeError: Cannot read property 'scope' of undefined
    at Node.delete (Node.js:73)
    at new Node (Node.js:11)
    at Wire.update (wire.js:12)
    at update (engine.js:11)
Node.delete	@	Node.js:73
Node	@	Node.js:11
Wire.update	@	wire.js:12
update	@	engine.js:11
setTim

[2019-01-16 17:32] satu0king commented on #79
Could not configure yandex provider, using a temporary fix for now.

[2019-01-16 17:32] #79 closed

[2019-01-17 13:52] satu0king opened #94 "Save does not work in layoutmode"

[2019-01-17 19:23] fpintos commented on #48
Could the input/output elements just have an extra property that tells if they show up in the layout or not?

We also need to consider if their labels show up or not; I can think of cases where we would want to and in cases where we would not want to.

The size of the leds might also be important; in a project like this  https://circuitverse.org/users/1935/projects/5010, I would love to have the L

[2019-01-18 02:20] satu0king commented on #48
@fpintos These are valid points. This particular issue will take at least 3 months to implement correctly!

[2019-01-18 18:03] #19 closed

[2019-01-19 15:17] satu0king opened #95 "Fix and simplify Testbench"
- [ ] Combinational Circuits
- [ ] Sequential Circuits
- [ ] Documentation

[2019-01-22 17:10] fpintos opened #96 "Stepper does not work in Preview/Embed mode"
Steppers do not seem to be responding to keyboard events in the preview window, even thou they appear selected when you click on them.

Repro:
- Navigate to a project that uses steppers, ex: https://circuitverse.org/users/1935/projects/5524
- In the preview pane, click one of the steppers (in this case, one of the two squares inside the pixel art box)
  - Stepper becomes yellow, indicating it is s

[2019-01-22 18:23] satu0king commented on #96
This should be easy to fix, by adding the listeners in embedListeners.js

[2019-02-03 08:16] fpintos opened #97 "Keep connection point fixed when changing bit width of input and output elements"
When you change the bit width of an input or output element its position is adjusted so that the middle of the element stays the same.

This causes a disruption in the circuit layout when the connection point is to the right or the left of the element and usually requires one to go and move the element back into a better position. It can even happen that the connection point ends up on top of anot

[2019-02-03 08:29] fpintos opened #98 "Automatic inference of bitwidths"
Would it be possible for element to automatically infer the bitwidth of their inputs?
Perhaps the bitwidth value could have an "auto" value.

For some elements this should be simple:

- An Output element would simply pick up the bitwidth of the line it is connected to.
- Gates would automatically infer the bitwidth if all input lines are the same width and error out otherwise.
- Similar for the da

[2019-02-03 08:48] fpintos opened #99 "Buffer remembers previous output when input is X"
I might be wrong on this one...

When I think of "Buffer" I think of an element that simply outputs its input as-is.

But the one in CircuitVerse has a memory - if the input becomes X the Buffer will output the last non-X input it received. By combining a TriState with a Buffer we effectively create a memory cell similar to a D-Latch.

Is that intentional?

Maybe it is, since the Buffer has a Rese

[2019-02-03 08:51] fpintos opened #100 "Does CircuitVerse respect the Delay setting of each element?"
I'm wondering if we should expect CircuitVerse to respect the Delay setting in each element.
As far as I can tell, changing the value has no effect.

If delays are not implemented, should it be removed from the UI?

[2019-02-03 14:52] satu0king commented on #100
Delays are implemented but not in the way one might expect. It can be used to resolve race conditions for most circuits, the race condition - delay has no effect but sometimes it is very critical especially in feedback loops.

[2019-02-03 14:54] satu0king commented on #99
Yeah, it is intentional. Probably the name is incorrect. The idea is that it remembers the last input, hence it buffers the data.

It was implemented partially for this use because, at the time, feedback loops were not supported.

Maybe we should deprecate this element.

[2019-02-03 14:54] #99 closed

[2019-02-03 14:57] satu0king commented on #98
Haha, you mean template circuit elements like template functions in C++ or Java. Thanks! that is in Interesting idea. Implementing this would require some major planning and testing. I will mark this is a future feature.

[2019-02-03 14:59] satu0king commented on #97
Yes, that is a good idea, this can be done.

Steps to do it

1. In changeBitWidth() function in Input/Output element, calculate the positions of new and old position
1. Move the circuit element by that much

[2019-02-04 23:58] fpintos commented on #47
That is a pretty awesome display.

[2019-02-06 04:38] blane1257 opened #101 "16 Segment Display"
Add a 16 Segment Display element

A 16 segment display element would be very useful for displaying complex characters with very little ROM space

[2019-02-11 04:02] fpintos opened #103 ""EventQueue size exceeded" exception"
I'm trying to build a large RAM component from smaller building blocks and eventually the simulator hits an "EventQueue size exceeded" exception.

Once this happens the editor goes into a bad state, failing to draw new components and (perhaps) even save the existing work.

I suppose this limit might exist to keep the simulation contained; if that is the case, perhaps the error should be handled in

[2019-02-13 08:25] fpintos commented on #47
Hi @blane1257 , checkout the PR I sent that will allow us to build a display matrix with zero circuitry around the LEDs: #104

Here is a sample - note this is built with just square RGB LEDs. The matrix is full color, depending only on the controlling circuit we attach to it. :-)

![image](https://user-images.githubusercontent.com/4239171/52696927-1d193f00-2f25-11e9-8de5-bc2eb979da98.png)

[2019-02-15 02:00] jbox144 opened #106 "Additional in out component ideas"
Here, have a few more component ideas :P

- [ ] **Servo Motor**
A servo motor, which will operate using standard servo input, i.e. the angle the servo should rotate too is represented by the length of time it recieves in a pulse. I.E holding a pulse for 9 ticks will make it go to 90°, a pulse for 17 ticks will make it go to 180°, a pulse for 1 tick will make it go to 0°

- [ ] **Square button**
Si

[2019-02-15 02:10] jbox144 opened #107 "Component selection size issues"
There are a number of components in Circuit Verse which have a selection area which extends outside their graphical size, or which has their selection area overlap their pins. These components are often troublesome, to work with, and need to be fixed.

For sake of time, I will refer to the selection area as the "Hit Box"

- [x] Decoder, Multiplexer, Demultiplexer
When the Decoder, Multiplexer or D

[2019-02-15 02:20] jbox144 opened #108 "Rotation and flipping"
It's kind of annoying how porly supported rotation is. I'd also like to see and option to support fliping some components too. Here are a few major suspects:

- [ ] **Power and ground**
Aside from the power and ground pins being absolute hell to actually manipulate thanks to their broken selection area, you can't even rotate them! I demand a refund!

- [ ] **D-Flip, D-Latch, T-Flip, JK-Flip, SR-Fl

[2019-02-17 07:21] satu0king opened #109 "Demultiplexer Bug"
https://circuitverse.org/users/2373/projects/7979

[2019-02-17 07:25] fpintos opened #110 "Make the script part of CircuitVerse a React/TypeScript/WebPack application"
Just putting these cards on the table...

Making this a TypeScript application will help ensure all parts of the system are properly written, at least from a type perspective. I've noticed, for example, how several components that "numeric" properties but the change functions end up receiving strings. TypeScript would help keep things like that in check and will help us know what references what.

[2019-02-17 07:28] satu0king commented on #110
Yes, this is one of the steps we need to take to increase the stability of the system.

[2019-02-18 01:41] jbox144 opened #111 "Im"

[2019-02-18 01:41] #111 closed

[2019-02-18 01:48] jbox144 opened #112 "Dynamic Bitwidth"
So you know how most components can have a custom bitwidth? Well, what about subcircuits?

There are many sub circuits which can easily be changed to a new bitwidth, while still functioning as normal. This still requires each compoent  to be changed individually, but it is doable. I thought there should be a feature that can allow subcircuits to have a custom bitwidth given by the user, which can

[2019-02-18 08:35] fpintos commented on #81
Hi, I've created a PR with a RAM component that should address these issues.

Since it is a built-in component it will not have the 'large RAM' issue we saw, which I believe was due to the number of events in the simulation queue when building the RAM with flip-flops.

I've also made the address and data widths configurable. Addresses can go up to 20 bits and data to 32 bits as usual. I chose 20 b

[2019-02-18 10:44] satu0king commented on #112
Similar to #98

[2019-02-18 11:01] satu0king commented on #81
I think an easier and more elegant way to implement file download is to simply have a button in the properties which will when clicked, will download the data. This is great if you were planning to use the file download option mainly for debugging, but if you were to use it a way for end users to say save state etc, then this may not be the best way to go.

[2019-02-18 20:34] satu0king commented on #103
Wow, I wasn't expecting this to happen for a long while. The current simulation queue is limited to 10000 elements because the priority queue data structure uses linear implementation instead of `logn` implementation. We need to change the implementation of the priorty queue to use a heap data structure instead of a linear datastructure.

[2019-02-19 01:40] fpintos commented on #103
Well, I suppose the new built-in RAM component will mitigate this problem.

[2019-02-19 08:51] satu0king opened #114 "Write instructions on groups page"
- [ ] Users are not clear about the difference between groups and collaborations
- [ ] Students are not understanding that they need to start their assignment on the group page.
- [ ] Students are not clear about how their assignment will be submitted.

Some information can be found here https://docs.circuitverse.org/#/groups

[2019-02-20 04:18] satu0king opened #115 "Subcircuit Layout height automatically increasing by 1 unit."
Eventhough, in the edit mode, it has been configured to have this height, The height increases by one unit.

Configured Height
![image](https://user-images.githubusercontent.com/2092958/53066168-a1a32900-34f4-11e9-81a9-e773e835ad0e.png)

Resultant Height.
![image](https://user-images.githubusercontent.com/2092958/53066146-8c2dff00-34f4-11e9-82a0-ba263b4858e2.png)

[2019-02-20 04:31] satu0king opened #116 "Show subcircuit type on previewMode"
When the users clicks/hovers on a subcircuit in preview mode, the subcircuit type should be displayed.

[2019-02-20 15:39] blane1257 commented on #115
Yes, this happens all the time, and is really annoying!

[2019-02-20 15:40] satu0king commented on #115
Please report such things, even if it is small! I didn't know it till today when I was trying to use the SquareLED

[2019-02-20 15:50] blane1257 opened #117 "ROM update"
My idea is to make the ROM writable. Not necessarily persistent between saves, I mean like have an origin state, but instead of being locked in that state throughout the simulation, add the ability to write new values, and whenever the simulation is saved, the current state of the ROM component becomes the origin. This would make it so computers can much more easily build and run programs, instead

[2019-02-21 05:50] #81 closed

[2019-02-21 05:57] satu0king opened #118 "DMA for RAM"
Thanks to @fpintos we have an excellent RAM module. In order to extend the RAM module to have complex integrations with say graphics card, file reader writer, A DMA pin was discussed.

One question we need to ask is what all modules will have a similar DMA accessible option, only RAM? or even ROM? Maybe later we might have a persistent storage too which might perhaps store locally on browser's loc

[2019-02-21 06:04] satu0king commented on #106
The idea of a servo motor has in CircuitVerse has been mentioned before by a professor, However I am not sure if it is implementable or practical in the current design of CV.

Square button, is definitely doable.

Button matrix - I am not sure I got what this actually is. Is it like there is a matrix of buttons but u can access the values of the buttons only row by row? This seems a very strange u

[2019-02-21 06:08] satu0king commented on #108
I agree this is an issue, the developers decided to fix the rotation of certain elements to keep things simple.

Fixing the rotation of Ground and Power is for purely aesthetic reasons but we can perhaps relax it now.

I agree flipping is very important and has to be looked into. Especially with the plexers and splitters.

[2019-02-21 07:54] fpintos commented on #107
It looks like the issue is not only with the component dimension but also with the rounding on the simulation.mouseX and mouseY; it makes the component think it is being hovered even when the mouse is half-a-square away.

[2019-02-21 09:01] jbox144 commented on #116
I recently got Visual Studio, I'll try this.

[2019-02-21 10:19] jbox144 opened #120 "Graphical Improvements for the RAM, customizability Improvements for the ROM"
So, now we have got a RAM component.

Great huh?

Well, not quite. The ram is certainly powerful, but I feel like it's significantly lacking graphically. I was kind of hoping the RAM would have the same appearance as the rom, making both elements interchangable, and relatable. This would also mean RAM would give a programmer some form of visual feedback to it's state, instead of a "core dump", whi

[2019-02-21 12:17] satu0king commented on #120
The RAM cannot have the same UI as the current ROM because the amount of memory the RAM supports is huge. Having said that, yes I think it is high time that the ROM gets an overhaul now. It was implemented as a solution to build the SAP-1 but now we are way past that!

@jbox144 what do you think of the DMA access pin discussed in #118 ? I think that is a solution that will meet everyone's requirem

[2019-02-21 16:20] satu0king commented on #69
We should launch the forum soon, any thoughts on how to go about this?

[2019-02-21 22:03] jbox144 commented on #120
I like the solution, and I also think the RAM deserves it's own DMA pin too. Like I said, both components deserve equal attention.

[2019-02-21 22:09] #107 closed

[2019-02-21 23:01] jbox144 opened #121 "Backspace deleting components while editing labels bug re-occured"
This bug was found a while back, and patched, but has recently reoccured.

In summary, at random, pressing the backspace while editing a component's tag deletes the part, when the part should not be deleted while the tag is being edited.

[2019-02-21 23:03] jbox144 opened #122 "Holding backspace and dragging corrupts simulator"
This is a strange one.

Holding down backspace and dragging your mouse will corrupt the simulator. I have absolutely no diagnosis nor explanation as to how or why, I just know it does happen. Pretty consistently too.

[2019-02-22 00:58] satu0king commented on #121
Yes, in the attempt to fix this issue another issue came up - people were not able to delete at all! So temporarily the fix has been reverted.

[2019-02-22 02:21] jbox144 commented on #121
If it helps, the original patch's bug of not being able to delete components could be fixed by dragging a new component in

[2019-02-22 04:41] satu0king commented on #121
Thank you, I actually happen to know what is happening but not sure how to fix it. It is one these awkward situations where you know exactly what the bug is but still no idea on how to fix it!

Basically backspace has to be delete because Mac OS binds backspace to delete. Now backspace is also used as actual backspace in text elements in property menu. So the temporary fix I did was that as long a

[2019-02-22 05:41] jbox144 commented on #118
Could we also see the ability to pair RAMs together?

My reason for asking is because I realised an ability I really want is multi-headed rams, i.e, rams having independent read-write heads. What you would essentially do is have each RAM able to access the same table, which they can all read and write from at the same time.

[2019-02-22 05:45] jbox144 commented on #118
Also a DMA pin which shows a single RAM address's contents at all times.

[2019-02-22 08:57] fpintos commented on #118
This seems like an odd feature with the potential for race conditions.

It sure sounds like it could be possible and I might even think we can't really prevent that, since in theory that is what other DMA-peripherals will be doing (reading and writing to the RAM). For this particular case, you have one RAM and two "heads" connected to that RAM. But suppose both heads want to write to the same addr

[2019-02-22 09:09] fpintos commented on #117
Sounds like you want an [EPROM](https://en.wikipedia.org/wiki/Eprom).

We can derive from the RAM and just include the memory array in the serializer.

The only issue I can think is that a large array will generate a large JSON; even the memory addresses that were not populated (and thus make the array sparse) will get converted to 'null' in the generated JSON, so maybe EPROMs should be limited in

[2019-02-22 09:39] jbox144 commented on #118
At the very least seperate addresses for reading and writing or something like that.

[2019-02-22 11:48] blane1257 commented on #117
Well, kind of more similar to an EEPROM, but yes. I basically want it to behave lile the RAM, but with an origin state, which can be updated to the current  by saving the simulation

[2019-02-22 15:06] blane1257 commented on #117
If there's a "reset" pin, should this clear the entire ROM, or revert it to it's origin state?

Or maybe two reset pins, a "full reset" or maybe "format" which clears everything, and a "factory reset" which reverts to the origin state.

[2019-02-23 03:04] satu0king commented on #117
Yes, what you need is a RAM which starts which an origin state which we can do by using a DMA module which can put data into the RAM.

[2019-02-23 03:06] blane1257 commented on #117
well, i would also like the ability to update the origin state when the simulation is saved

[2019-02-24 06:15] blane1257 commented on #117
really, the reason is, programming a 65KB ROM by hand sounds absolutely horrible to me. what i'd love to be able to do is build small programs to help me program the computer faster (like IDE's, interpreters, and other programs) so I can much more quickly fill the ROM with programs and files, then just save the end product and be done.

[2019-02-25 12:31] tachyons commented on #2
Can we split these issues into separate github issues

[2019-02-26 12:23] satu0king commented on #2
Yes, we need to kill this issue and split it across separate issues. Some of these are resolved and need to be marked as completed.

[2019-02-26 13:32] satu0king opened #124 "Mobile sign in page CSS Issue"
![image](https://user-images.githubusercontent.com/2092958/53416195-f49b4580-39f8-11e9-808e-b834039b6299.png)

The sign in page on mobile is not very aesthetically good looking.

[2019-02-26 14:04] Yugandhartripathi commented on #124
I am on it

[2019-02-26 14:33] satu0king opened #125 "CircuitVerse Favicon Logo"
We have a decent CircuitVerse logo but we do not have a good square logo which can be used as favicon or for places we need a shorter form of the logo.

Not sure what is needed. I am thinking similar to the current Favicon logo would do.

[2019-02-26 16:18] blane1257 commented on #125
Is there a file type preference?

[2019-02-26 16:38] blane1257 opened #126 "Multi-headed RAM and ROM"
This is a feature first suggested by @jbox144, but it was mostly brushed off, as well as by me. But now I've been thinking about "multi-core" CPUs, (and I plan to make my second computer have 2 cores if this is added) to allow for multitasking, which obviously should be able to read/write from/to the same RAM and ROM. Understandably, this brought up the issue about race conditions, but this could

[2019-02-26 18:15] Yugandhartripathi commented on #124
@satu0king I have spotted following associated CSS issues after setting up the project both on mobile and Desktop viewports.<br>
## Like Forgot Password screen here:
![image](https://user-images.githubusercontent.com/32102845/53435764-959cf700-3a1f-11e9-8ddc-f5482a43adc3.png) <br>
## Signup page on mobile needs same rework as sign in page:
![image](https://user-images.githubusercontent.com/3210284

[2019-02-26 21:14] ankitkataria commented on #116
@jbox144 Are you still working on this? I wish to work on it.

[2019-02-26 21:26] fylux commented on #124
I have an small initial proposal. There is a lot of room for improvement, but probably this is a good example of the way to go: using placeholders, centering the form, use link instead of button to Sign Up, etc. Any suggestion?

[![screen](https://user-images.githubusercontent.com/1207962/53447381-45b93280-3a15-11e9-825d-c040d53ba37f.png)](url)

[2019-02-26 22:06] ankitkataria commented on #92
I would like to take up this issue!

[2019-02-26 22:35] ankitkataria opened #127 "Add pry-rails for easy debugging"
`pry-rails` - https://github.com/rweng/pry-rails is a very useful plugin for live debugging the backend.
Addition of pry will make the whole development process very easy.

`binding.pry` - can be inserted anywhere inside the code, rails will open a console and stop execution when this statement will be encountered, then the state of various variables can be checked.

For example: Adding `binding.p

[2019-02-26 22:47] ankitkataria opened #129 "Add code linter"
As the code base grows large, a code linter like rubocop - https://github.com/rubocop-hq/rubocop will make it very easy to keep a hold of overall code quality by imposing strict checks.

Once added, the entire code-base will have to linted. Most of errors will get fixed by `rubocop -a`

[2019-02-26 22:50] ankitkataria commented on #129
I would like to self assign the issue! :smile:

[2019-02-26 23:46] ankitkataria opened #131 "Empty group member list gives success message"
Adding group members without any emails shows the success message that a groups member has been added. It should show an error message regarding the empty email field.
Similar issue occurs while adding collaborators.

[2019-02-26 23:49] ankitkataria commented on #131
I would like to self assign this issue. :slightly_smiling_face:

[2019-02-27 00:10] tachyons commented on #129
Also eslint or prettier  for js code

[2019-02-27 04:25] satu0king commented on #131
I would like the message to show the following details.

- [ ] Number of emails newly invited
- [ ] Number of emails already invited
- [ ] Number of emails failed (email is not actually an email)

For checking if the email given is an email, right now, the system doesn't parse the email strings to check if the string is actually an email. You will need to implement this.

[2019-02-27 07:36] nehavatsyan commented on #125
Is this issue resolved ?

[2019-02-27 08:04] maykillmore commented on #114
I'd like to take this up . how do i proceed??

[2019-02-27 08:57] tachyons opened #133 "Setup CI"
Refer: https://thoughtbot.com/blog/circleci-2-rails

[2019-02-27 08:58] tachyons opened #134 "Unit tests for all models"
Refer: https://github.com/rspec/rspec-rails

[2019-02-27 09:00] tachyons opened #135 "Configure codeclimate for code style review"
Related to #129

[2019-02-27 09:01] tachyons opened #136 "Documentaion for setting up this project on Windows using WSL"
Refer: https://richonrails.com/articles/rails-on-windows-10-via-wsl

[2019-02-27 09:45] ankitkataria commented on #133
@tachyons
I was going to suggest this while I was working on a few issues yesterday. This will make reviewing and testing the PR very easy. If possible I was hoping to work on setting up the CI/CD pipeline. :smile:

[2019-02-27 09:54] ankitkataria commented on #134
Currently tests are written using `ActiveSupport::TestCase`. `RSpec` is the most widely used testing framework for ruby.
Are you proposing to add this as a new dependency? If so, will we have to re-write all the existing specs?

[2019-02-27 10:06] ankitkataria commented on #131
We can use `validates :email, format: { with: URI::MailTo::EMAIL_REGEXP  }` in the required models to check the emails. I also wanted to propose the use of [strong params](https://edgeguides.rubyonrails.org/action_controller_overview.html#strong-parameters) as it a good security practice.

[2019-02-27 10:46] tachyons commented on #134
All of those tests are just empty files. So we will have to start fresh anyway. So better use Rspec

[2019-02-27 11:08] dhyey35 commented on #11
@satu0king I had like to work on this issue. Will ask you if I have any doubts

[2019-02-27 11:44] jbox144 commented on #116
Unfortunately, I failed to set up the project, go ahead and do this

[2019-02-27 13:22] ankitkataria commented on #134
Then tests will also be required for various controllers, helpers, and mailers. Only after the tests are complete a CI/CD pipeline can be set up. I'll open up issues for them.

[2019-02-27 13:26] ankitkataria opened #137 "Implementing tests for controllers and mailers using rspec"
Tests will have to written using RSpec for controller and mailers. They will prove to be necessary while setting up a CI/CD pipeline.
Refer - https://github.com/rspec/rspec-rails

[2019-02-27 13:51] shubhankarsharma00 opened #138 "IRC channel"
is there any irc channel or slack or discord sever if not, are there any plans on creating one?

[2019-02-27 13:56] Swapnilr1 commented on #91
I would like to work on this.

[2019-02-27 13:57] souravpd commented on #136
Currently Working on it

[2019-02-27 15:21] ankitkataria commented on #116
@satu0king Could I get a little more information on the issue? I found out the preview mode. What is meant by the `type` of a subcircuit?

[2019-02-27 15:23] ankitkataria commented on #138
No @shubhankarsharma00, there isn't any slack or IRC channel as of yet.

[2019-02-27 15:25] akoopraba4 commented on #116
Can I work on this issue?

[2019-02-27 15:27] ankitkataria commented on #116
Hey @satu0king! I'm already working on it. :smile:

[2019-02-27 15:29] satu0king commented on #124
This looks good, go ahead.

[2019-02-27 15:30] satu0king commented on #124
Please send a PR with the fixes.

[2019-02-27 15:31] #92 closed

[2019-02-27 15:40] satu0king commented on #125
@shubhankarsharma00 I checked the svg image in your PR. Though you have designed as asked, something seems to be missing. Maybe the shorter logo should not be "CV" and instead be a circuit design type logo similar to the current logo.

[2019-02-27 15:51] satu0king commented on #114
Study how groups, assignments, and collaborations work, just try it out. Then document the same both on docs.circuitverse.org and also as a Note somewhere on the groups page.

**Places to add documentation**
* User Group's page: https://circuitverse.org/users/3/groups - What groups are, what teachers can use the group for
* Specific Group's page: https://circuitverse.org/groups/88 - How teachers c

[2019-02-27 15:52] satu0king commented on #131
This is good, but we might not want to create a PendingInvitation record in the first place if the email ID is incorrect.

[2019-02-27 15:57] satu0king commented on #116
In some circuits, users disable title for SubCircuits. For example: https://circuitverse.org/users/3/projects/8618

Several subcircuits are used but for aesthetic reasons, all titles are disabled. However we need a way to know which subcircuit it is by hovering on them without clicking (Clicking will goto that circuit).

Maybe a tooltip or a message in a fixed location will work, try out which loo

[2019-02-27 16:19] vik-y commented on #137
This is something we have been looking for a long time.

We prefer using factorybot and rspec for it.

I am managing this, in case if you want are interested in working on it, let me know.

[2019-02-27 16:21] ankitkataria commented on #137
Yeah! I'd like to work on it. I've worked with factory_bot and rspec before. :slightly_smiling_face:

[2019-02-27 16:21] vik-y commented on #136
This project currently supports docker.

We would strongly encourage using docker on windows and Linux both.

[2019-02-27 16:28] vik-y commented on #136
@satu0king Do you have any inputs on this?

[2019-02-27 16:30] vik-y commented on #134
Rspec + Factorybot

We'll start first with model level tests - that's high priority.

[2019-02-27 16:31] satu0king commented on #136
I agree with @vik-y that the use of docker is encouraged. @tachyons, is there any reason to not use the docker for the development environment.

[2019-02-27 16:49] shubhankarsharma00 opened #140 "Integrating Spice for Analog circuits."
I am relatively new to the project but when I was going through the project I noticed we can only make digital circuits because verilog logic was being used to simulate logic. Why not integrate Spice for Analog circuits? Is there a reason why verilog was preferred over spice and is an integration of Spice possible?

[2019-02-27 16:50] satu0king commented on #140
Verilog is not being used to simulate logic. Actually, we have an experimental module which can generate verilog netlists given a circuit design. However, we have not published it yet.

[2019-02-27 17:21] #140 closed

[2019-02-27 17:25] akoopraba4 opened #141 "SHOWING-"This page isn’t working""
I am not sure if this is correct or not.If we press the back button in new groups without entering the group name it shows
This page isn’t working
If the problem continues, contact the site owner.
HTTP ERROR 406
https://circuitverse.org/groups/new
Please check this out

[2019-02-27 18:01] satu0king commented on #141
Yes it is a bug.

[2019-02-27 18:06] satu0king opened #142 "Migrate tooltips"
Currently, tooltips information are stored at UX.js, migrate the same to individual circuit elements. Check out how Power and Ground implement Tooltips.

[2019-02-27 18:36] akoopraba4 commented on #141
I would like to work on this issue.However @satu0king  can you provide some information on how to go about it?

[2019-02-27 19:37] tachyons commented on #136
I am not against docker, intact it provides a consistant environment. This is just a low priority task for those who want native environment in windows. Feel free to close this issue if you think this isn't worth

[2019-02-27 20:00] ankitkataria commented on #134
Great! I'll start working on this. :man_technologist:

[2019-02-28 02:49] vik-y commented on #138
We are planning to create a slack channel soon. I don't think we'll have an IRC channel though.

[2019-02-28 02:49] #138 closed

[2019-02-28 03:23] Parikshit-Hooda opened #145 "add CODE OF CONDUCT"
add Code of Conduct section in the README.md for visitors and contributors for GSSoC.

[2019-02-28 03:27] Parikshit-Hooda commented on #145
I am attaching some links below that could be consulted for the above mentioned task.
GitHub Help on Code of Conduct - [https://help.github.com/en/articles/adding-a-code-of-conduct-to-your-project](url)
Docker Code of Conduct - [https://github.com/docker/code-of-conduct/blob/master/code-of-conduct-EN.md](url)

[2019-02-28 03:29] Parikshit-Hooda opened #146 "add Contribution Guidelines - CONTRIBUTING.md"
add Contribution Guidelines section in README.md for GSSoC participants and other contributors.

[2019-02-28 03:31] Parikshit-Hooda opened #147 "Mention MIT License in README.md"
Mention the MIT License in README.md and provide a link to the same.

[2019-02-28 03:52] vik-y commented on #136
Even after following the write up you sent - it will take a while to set things up on Windows.

It'll be much easier to avoid all the struggle and just do `docker compose build && docker compose up`

Though I am not against it but I'd prefer people avoiding the pain of setting things up natively in Windows. And then again we won't have the consistent environment thing, if people develop it using d

[2019-02-28 04:47] #127 closed

[2019-02-28 05:51] ankitkataria commented on #146
Setup instructions are already present in the README. Probably, a template for opening issues and making a pull request can be added. Also, commit guidelines can be added.

Reference:
- https://help.github.com/en/articles/about-issue-and-pull-request-templates
- https://github.com/devspace/awesome-github-templates

[2019-02-28 05:56] ankitkataria commented on #129
Also, a .editorconfig can have to be added for uniform formatting.

[2019-02-28 06:22] maykillmore commented on #114
Sure I'll get right on it.

[2019-02-28 07:26] rkpattnaik780 commented on #142
I would like to work on this issue.

[2019-02-28 07:27] tachyons commented on #129
I am not fan of linting whole code together as it will change git history without any functional change. But since this project is in early stage, it may be fine. @satu0king your thoughts please

[2019-02-28 10:52] souravpd commented on #136
Totally agree with your point

I was facing issues setting this project up on my local machine and as I
was new to docker I preferred to do it the native way
So I thought this would be of some help..

On Thu, 28 Feb 2019, 09:22 Vikas Yadav, <notifications@github.com> wrote:

[2019-02-28 11:21] tachyons opened #150 "Implement Authorization layer"
In the current code authorization is handled in the controller layer. It is always better to extract it into separate layer.

Use https://github.com/varvet/pundit (Preferred), Or https://github.com/CanCanCommunity/cancancan

[2019-02-28 11:33] vik-y commented on #136
@souravpd I completely understand. But as I said using a consistent dockerized environment makes deployment easier.

Let's not argue over this anyway, we can just merge it and move on.

[2019-02-28 11:33] #136 closed

[2019-02-28 11:35] souravpd commented on #136
Ya sure
Thank you for your time

On Thu, 28 Feb 2019, 17:03 Vikas Yadav, <notifications@github.com> wrote:

[2019-02-28 16:41] shubhankarsharma00 commented on #125
@satu0king I completely agree with the point that there seems to be something missing in the short logo that I designed. If you're thinking of designing a circuit design type logo I'll be happy to assist.

[2019-02-28 18:08] creyente1897 opened #154 "Add issue and pr template"
#### I am submitting a -
* [x]  **Feature Request**
* [] **Bug Report**

#### Describe your bug/feature -
Currently there is no template for issue and pull request and so there are problems in a well formatted issue which can be easy to understand. So there must be a template for both.

#### Are you working on this issue? (Yes/No)
Yes

[2019-03-01 16:42] #147 closed

[2019-03-01 17:53] #141 closed

[2019-03-01 18:35] satu0king commented on #138
https://gitter.im/CircuitVerse/community?utm_source=share-link&utm_medium=link&utm_campaign=share-link
Join on gitter.

[2019-03-01 21:29] creyente1897 opened #159 "Add the gitter channel"
Adding gitter channel link to the contribute page of circuit verse

[2019-03-01 23:23] ankitkataria commented on #150
Can I start looking into this?

[2019-03-02 01:05] tachyons commented on #150
Sure, go ahead

[2019-03-02 03:34] parammittal16 commented on #159
Want to work on this issue. I am a GSSoC participant.

[2019-03-02 05:51] Ankitanvesh commented on #96
Hello @satu0king can I take up this issue

[2019-03-02 07:09] parammittal16 commented on #159
@creyente1897 plz review my PR.

[2019-03-02 07:56] creyente1897 commented on #159
@creyente1897 I am sorry that i did not added that i am working on it and created the pr 10 hours ago.
I will keep that in mind next time :smile: .

[2019-03-02 09:39] armudgal commented on #159
Hi @parammittal16  @creyente1897, looks like there was a confusion. We would keep that in mind that it doesn't happen next time.

[2019-03-02 10:31] Ankitanvesh commented on #96
I have had a look at the issue. I wanted to know if it is needed to have the values of the steppers changed by using +,- keys as it happens in design mode or is it needed to have their values changed using up,down keys.

[2019-03-02 13:08] abdullah-mohamed commented on #1
@satu0king _Asking for more details_.
LucidChart plugin allows creation and full-manipulation of the diagrams right inside of PowerPoint,
Is that what this issue is referring to or do we just need to embed/display ready circuits from our account/local computer?
I have found this link that indicates how to add a PowerPoint add-in:
[https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/pow

[2019-03-02 14:58] sanctophagus commented on #101
Hey! @blane1257, I'd like to work on this issue, if anyone is not working on it right now, this would be my first contribution.

[2019-03-02 15:19] satu0king commented on #1
We just need a way to embed ready circuits. Not even requiring any signing in. CircuitVerse already has a way to embed circuits in 3rd party websites.

eg.

[2019-03-02 15:35] Amansingla97 commented on #11
@dhyey35  are you still working on it ? I would like to work on this

[2019-03-02 15:36] garry329 commented on #4
I would like to work on this issue @satu0king.Will that be okay?

[2019-03-02 15:37] garry329 commented on #6
Is there any work left to be done on this @satu0king ?

[2019-03-02 15:38] satu0king commented on #6
There has been no work done on this! The featured circuits you see on the home page are hardcoded.

[2019-03-02 15:39] Amansingla97 commented on #22
I would like to work on this issue

[2019-03-02 15:39] satu0king commented on #4
Yes, @tachyons any advice on how to proceed with this feature?

[2019-03-02 15:44] garry329 commented on #6
Ok, cool then i will start working on this one.

[2019-03-02 15:50] tachyons commented on #4
Storing countries and colleges as separate tables seems an overkill to me. There are gems available to implement country select https://github.com/stefanpenner/country_select

[2019-03-02 15:51] satu0king commented on #4
What about universities?

[2019-03-02 15:57] tachyons commented on #4
It is almost impossible to get all university details. I would suggest just use a string field

[2019-03-02 15:59] tachyons commented on #22
Fixes in https://github.com/CircuitVerse/CircuitVerse/pull/156

[2019-03-02 16:11] garry329 commented on #4
Okay, so for country i will be making another table and use it as foreign key in user model.For institution , i will be adding a new string field to user model.Does this sound ok?

[2019-03-02 16:12] garry329 commented on #21
I would like to work on this issue.

[2019-03-02 16:20] blane1257 commented on #101
I dont believe anyone is working on this issue.

[2019-03-02 16:34] rishi-s8 commented on #135
I would like to work on this. Can you give me some pointers?

[2019-03-02 16:43] hjhimanshu01 commented on #91
Hey @satu0king , May I work on this enhancement?

[2019-03-02 21:01] #154 closed

[2019-03-02 23:24] armudgal commented on #142
Hi @rkpattnaik780, can you please if you are working on this issue

[2019-03-03 02:02] jbox144 opened #165 "The "Cloud Pin""
#### I am submitting a - feature

#### Describe your bug/feature -

So, imagine you design a system which connects together computers. Said computers could be next to each other, or across the globe. They can share information with each other, such as scientific data, publications, educational material or funny cat photos. This system could literally change the world as we know it. You call this "

[2019-03-03 02:04] jbox144 opened #166 "Hardware COM port interface"
#### I am submitting a - Feature Request

#### Describe your bug/feature -

A small idea I had was the ability for circuit verse to interface with real world COM ports. This would make CircuitVerse capable of working with real world data for prototyping, such as sensor inputs or micro controller serial communication.

[2019-03-03 04:28] ankitkataria opened #167 "Add unit tests for important public methods of the models"
#### I am submitting a -
* [X] **Feature Request**

#### Describe your bug/feature -
I've added basic test for the models in PR #148.
Now tests for important public methods has to added.

#### Are you working on this issue? (Yes/No)

Yes. I would like to self assign the issue.

[2019-03-03 05:20] fpintos commented on #96
The request in this case is to have the stepper work consistently in both cases. I think it is a good idea to support the arrow keys and -/+ keys as well in both cases.

[2019-03-03 08:08] #159 closed

[2019-03-03 08:21] hjhimanshu01 commented on #91
@armudgal may I work on this issue if it isn't taken?

[2019-03-03 09:12] garry329 commented on #4
So, i have opened the which resolves this issue. i have used the country_select as suggested by @tachyons.I have also refactored and formatted some code in the logix controller and view templates.Please tell me if anything more needs to be done.

[2019-03-03 09:45] sanctophagus commented on #145
Hey @Parikshit-Hooda !
I would like to work on this issue, if anyone else is not working on it presently.

[2019-03-03 09:48] Parikshit-Hooda commented on #145
Sure @sanctophagus . Go ahead.. get in touch if any help is needed.

[2019-03-03 10:11] Amansingla97 commented on #122
Can you please give me more details on this issue?.I am not able to reproduce this issue.

[2019-03-03 10:18] sanctophagus commented on #108
Hey @jbox144 !
I'd like to work on this issue, if anyone else ain't working on it.

[2019-03-03 10:31] la2798 commented on #146
Hi I would like to contribute to this issue

[2019-03-03 10:37] sushantahujaa commented on #137
I've worked with rspec and factory bot before. It would be great if we can work on it and also we can add simplecov to it, to get the maximum coverage

[2019-03-03 10:43] ankitkataria commented on #137
Hey @sushantahujaa!
I've started working on adding the basics of the test-suite in PR #148. I've added coveralls for code-coverage in the same PR. It is approved and should be merged soon. We'll start working on it and divide work once that is done. :smile:

[2019-03-03 10:46] sushantahujaa commented on #137
Yeah cool @ankitkataria let me know

[2019-03-03 11:37] armudgal commented on #91
Please go forward @hjhimanshu01

[2019-03-03 11:50] armudgal commented on #146
Hi @la2798, there seems to be an overlap here with #161, please look through other issues until we sort this out. Thanks :)

[2019-03-03 11:58] la2798 commented on #146
I was about to make a PR 😅 , I ll look through other issues then

[2019-03-03 11:59] Parikshit-Hooda commented on #145
Revision : Please make a new file with an appropriate name for Code of Conduct(.md) and provide a link to it in README.md

[2019-03-03 12:01] Parikshit-Hooda commented on #146
Hi @la2798 .
Revision : Put contribution guidelines in the CONTRIBUTING.md and put a link to it in README.md.

[2019-03-03 12:07] Parikshit-Hooda commented on #146
Also, please note that
**before submitting any PR, please talk about the bug fix/feature/enhancement by opening an issue. PR's without referencing any issue becomes hard to keep a track of.**

@armudgal , I have quoted you here.

[2019-03-03 12:30] la2798 commented on #146
So i need to raise an issue here and then do a PR ??

[2019-03-03 12:40] armudgal commented on #21
@garry329, please go forward with this.

[2019-03-03 12:41] armudgal commented on #21
@garry329, please go forward with this.

[2019-03-03 12:58] Amansingla97 commented on #109
can you please elaborate on this issue

[2019-03-03 13:02] la2798 opened #176 "Added contributing.md file"
#### I am submitting a -
* [] ** Added Feature**

#### Enchancement
Added the CONTRIBUTING.md file which has the steps to raise a PR and also steps for how to open an Issue which will help people who are new to open source contribution.

[2019-03-03 13:10] Amansingla97 commented on #12
<img width="242" alt="screenshot 2019-03-03 at 6 38 57 pm" src="https://user-images.githubusercontent.com/20012612/53695606-a795e580-3de3-11e9-82fc-926f10ea354d.png">

It appears that icons for TB input and output are still missing.Can you suggest how can I find the relevant svg's?

[2019-03-03 13:13] armudgal commented on #135
Hi @rishi-s8, you can read about ESlint and how to configure it with CodeClimate, you might need our access to add the repository and setup the configuration but we would really like if you could setup everything and ping us back.

Would you be up for this issue then?

[2019-03-03 13:14] tachyons commented on #135
He can do in the forked project where he have full access

[2019-03-03 13:16] ankitkataria commented on #135
Looks cool! @rishi-s8 let me know if you need help on this one. :tada:

[2019-03-03 13:23] armudgal commented on #165
Hi @jbox144, thank you so much for this feature proposal. I really see potential in this and maybe these can be one of the projects for our Google Summer of Code.

The specifics still need to be discussed regarding this and this still needs approval from other org members, the security will be one thing to concern about here.
The ID of 'cloud pin' needs to be unique (a hash maybe) and I am thinkin

[2019-03-03 13:25] rishi-s8 commented on #135
Yes. I am on it. :)

[2019-03-03 13:26] garry329 commented on #7
I would like to work on this issue.I will start looking into email services.

[2019-03-03 13:50] armudgal commented on #146
Hi @la2798, the previous message was to mention some points that needs to be added in the `CONTRIBUTING` file. This issue is already being worked upon by @Ankitanvesh.

[2019-03-03 13:53] #131 closed

[2019-03-03 14:12] armudgal commented on #109
@Amansingla97 Please go through the link, the description has mentioned the issue, if you have any questions after that please post

[2019-03-03 14:15] armudgal commented on #176
Hi, it's a duplicate of #146, @Parikshit-Hooda message conveyed that if the PR you are working on *does not* have an existing issue, then the issue needs to be created.

[2019-03-03 14:15] #176 closed

[2019-03-03 14:17] armudgal commented on #135
@tachyons I think that even if he does it on the forked project, codeclimate will only do the checks for the forked project. we need to link CircuitVerse/CircuitVerse to codeclimate to link this project.

[2019-03-03 14:19] Amansingla97 opened #177 "User name dropdown menu css issue ."
There seems to be a positioning issue with the dropdown menu which is dependent on the size of username.

I would like to self assign this issue

<img width="412" alt="screenshot 2019-03-03 at 3 17 29 pm" src="https://user-images.githubusercontent.com/20012612/53696496-686c9200-3ded-11e9-8483-ff4e864c4e2a.png">

[2019-03-03 14:22] armudgal commented on #12
Hi @Amansingla97, there aren't any pre-existing SVG's for the same and you need to design them.

[2019-03-03 14:44] satu0king commented on #122
@armudgal, what is triage?

[2019-03-03 15:09] armudgal commented on #122
@satu0king issues under `triage` needs to be looked upon once again after reproducing and confirming the issue, to figure out the difficulty in resolving it.

[2019-03-03 16:55] satu0king commented on #12
Generally, generateSvg() in data.js is used to generate the SVG but this may not work with this element.

[2019-03-03 16:57] satu0king commented on #109
This is a tough issue. I wasn't able to diagnose the bug. So the first part of the fixing this issue is finding out why is he not able to save (data is corrupted but what actually is the corruption?). The second part is figuring out how it happened and third part is fixing it.

[2019-03-03 17:01] satu0king commented on #7
Do check for email services, however the organization currently doesn't have any funds to actually pay for a subscription service. Maybe, if you can find one that gives opensource/non-profit/educational organizations subscriptions for free, then awesome.

[2019-03-03 17:03] satu0king commented on #21
@garry329 do check various options and revert back to us.

[2019-03-03 17:22] ankitkataria commented on #21
There are multiple options we have here, one is implementing a normal query-based search along with proper indexing. If we are going that way we can use [EXPLAIN](https://robots.thoughtbot.com/reading-an-explain-analyze-query-plan) queries to analyse and tweak the index. I've seen such searches doing very well previously.
I'm guessing there will be considerable experimentation required for this, a

[2019-03-03 17:45] shubhankarsharma00 commented on #21
@ankitkataria we can also use elasticsearch-ruby (as specified in wiki page/projetcs) or [Chewy gem](https://github.com/toptal/chewy). Elastic-search has inbuild Explain API.

[2019-03-03 17:50] ankitkataria commented on #21
Yes, that is also one way to go. But I'm not a personal fan of adding
dependencies if it's possible to replicate one from scratch. We can
probably try both and weigh the differences.

On Sun 3 Mar, 2019, 11:15 PM Shubhankar Sharma, <notifications@github.com>
wrote:

[2019-03-03 18:21] dhyey35 commented on #11
@Amansingla97 Go ahead

[2019-03-03 18:47] ahmedkrmn opened #180 "Auto hide bootstrap alerts and change alert width"
When creating a new group or adding a new assignment, an alert showing **Group was successfully created.** OR **Assignment was successfully created.** is displayed above the group name. This alert stays there on the page.
For a better UX, this alert should auto-hide after a certain amount of time.
The alert would also look more aesthetically pleasing if it stretched across the entire container.
![

[2019-03-03 19:32] fpintos commented on #97
I'm fixing this one.

[2019-03-03 19:51] fpintos commented on #98
I have a simple fix for the OUTPUT element, which makes it inherit the bitWidth of its input signal automatically. I'll try to generalize before sending the PR.

[2019-03-03 21:06] shubhankarsharma00 opened #182 "Tags in projects"
#### I am submitting a -
* [x] **Feature Request**
* [] **Bug Report**

#### Describe your bug/feature -
Tags in projects.
#### Current behaviour -
Currently there are no tags in projects.
#### Expected behaviour -
We can have an option to tag projects and with the help of these tags we can view all projects by opening tags/<any_tag> also this can be used to generate queries to a very primtive sea

[2019-03-03 21:13] jbox144 commented on #108
@sancophagus

sure!

[2019-03-03 22:26] fpintos commented on #98
@satu0king , the solution I have seems to work generically, so we can implement inference in different components with different rules for each.

Here is the proposal:
- Elements will optionally implement a `onBitWidthError` callback. This callback will receive an offending node (which will be one of its children) and the expected bitWidth, which will be determined by the external node connected t

[2019-03-03 22:56] jbox144 opened #183 "CircuitVerse Discord"
#### I am submitting a - None Of The Above

#### Describe your bug/feature -

I want to startup an unnofficial CircuitVerse Fan Discord Server, as an alternative means of community connections. I wanted to first request permission to do this, to avoid any conflicts with other plans.

#### Current behaviour -

There is no discord.

#### Expected behaviour -

There is a discord.

#### Screenshots (i

[2019-03-04 02:25] satu0king commented on #98
This seems to be a suitable approach. We can handle each case separately and only support a few of the elements initially.

[2019-03-04 02:45] satu0king commented on #183
Sounds like a great idea. I am not very familiar with discourse however, can you brief me on how it works? I would like to know if we need to host this separately as well, do we need to pay for this and on which domain will the discord be accessible.

Also so we are using gitter for developer discussions, discourse for user's question forum and discord for fan discussions?

[2019-03-04 02:54] satu0king commented on #183
@fpintos any comments?

[2019-03-04 03:00] jbox144 commented on #183
@satu0king

Discord is a free service, and they host the servers themselves. "server" is just a word for a group of chats operated by the same people. otherwise, discord can be likened to an IRC, but with a lot of extra features.

[2019-03-04 03:00] satu0king commented on #183
Great, go ahead then

[2019-03-04 04:48] agarwalrounak commented on #183
What about Slack? I see a lot of Open Source Projects nowadays using Slack. I too have been using it for the past few months and it's really good.

[2019-03-04 04:55] agarwalrounak commented on #124
@armudgal I guess the `taken` label can be added here.

[2019-03-04 06:36] garry329 commented on #21
@satu0king i have looked into this and i also saw that we are using postgres db in production so i think postgres's full text search is a very good option for us.it has:
-search rankings(getting more relevant results)
-support for searching entire phrases(which is an important usecase for us)
-fuzzy search(searching through misspellings)
It is much lighter than something like elasticsearch or SOLR

[2019-03-04 06:59] Parikshit-Hooda commented on #183
I will setup a Slack workspace. Mentors and participants - opinions? There is nothing actually distinguishable with discord..its just pretty slick in the sense of themes, animations, welcome messages as far as i have noticed.

[2019-03-04 07:03] Parikshit-Hooda commented on #183
Also, I like the above template of issue which leads to submitting a PR. I think we can put it in CONTRIBUTING.md . Opinions?

[2019-03-04 08:11] Parikshit-Hooda commented on #125
https://circuitverse.org/img/favicon.ico like this.

[2019-03-04 09:18] #134 closed

[2019-03-04 09:39] Parikshit-Hooda commented on #124
Please confirm who is finally working on this issue.

[2019-03-04 09:43] rishi-s8 commented on #135
@armudgal, I read about ESLint and CodeClimate and was able to add my forked repository to CodeClimate.
Here's the screenshot of the issues page.
![screenshot 2019-03-04 at 3 10 00 pm](https://user-images.githubusercontent.com/33762894/53724373-bafe8a80-3e8f-11e9-9870-af866856a6a7.png)
Can you help me with what I have to do next?
Also, I read about ESLint, and that is for JavaScript Apps I guess.

[2019-03-04 10:10] tachyons commented on #135
Looks good, but need to fix #129 before this

[2019-03-04 10:15] rishi-s8 commented on #135
I can try #129 too. :)

[2019-03-04 10:25] ankitkataria commented on #135
@rishi-s8 I've mentioned in the issue about rubocop, you can look into it. You'll need to add a `.rubocop.yml` file in the project with the rules. Similarly for js you'll have to add an `eslintrc` file.
Once added, there will be a lot of linting violations in the codebase which will have to be fixed. I'm not sure if we're supposed to go ahead and make all the linting changes at once.
I'm been look

[2019-03-04 10:48] ankitkataria commented on #135
You can work on top of #188 to add eslint.

[2019-03-04 11:17] fpintos commented on #183
I suppose the only comment I have on this right now is that if we end up with multiple community fragments it gets harder to keep track of them and people won't know where to go for answers.

It might also be interesting to setup expectations about these services: one might be more community-driven and community-oriented for people that just want to use the product, while another might be more app

[2019-03-04 11:43] ankitkataria commented on #129
If we don't want to lint the whole code-base at once, we can look into running rubocop only on those files that are being changed before every commit -
`git ls-files -m | xargs ls -1 2>/dev/null | grep '\.rb$' | xargs rubocop`
We can add this as a pre-commit hook.

[2019-03-04 11:47] tachyons commented on #129
@Ankitanvesh https://github.com/brigade/overcommit does this

[2019-03-04 11:51] ankitkataria commented on #129
Thanks :+1: , I'll look into them once.

[2019-03-04 13:12] agarwalrounak commented on #124
I think the PR #156 is for this issue

[2019-03-04 14:01] ahmedkrmn commented on #183
An IRC channel would be a viable solution as well.

[2019-03-04 14:02] Amansingla97 commented on #91
@hjhimanshu01 are you still working on it ? I would like to work on this

[2019-03-04 14:20] hjhimanshu01 commented on #91
@Amansingla97 , Thanks Aman , would reach you out if I'm stuck somewhere , for now it's going well.

[2019-03-04 16:03] sarthak77 commented on #177
I would like to take up this issue

[2019-03-04 16:07] sarthak77 commented on #142
Hi I would like to take up this issue if not taken

[2019-03-04 16:08] sarthak77 commented on #125
Hey, is the issue still open.
I would like to take this up

[2019-03-04 16:10] sarthak77 commented on #67
Hey, I would like to take up this issue

[2019-03-04 16:29] blane1257 opened #190 "ASCII capable display"
#### I am submitting a -
**Feature Request**

#### Describe your feature -
Currently, we have an ASCII TTY display, and we are able to make displays using LEDs. This is all great, but at the moment there isn't much of a way to display ASCII on top of a pixel display, and displaying ASCII characters on a display is a bit impractical. So, why don't we make a component able to display both ASCII char

[2019-03-04 17:04] HypheX commented on #183
I do think a discord would be nice! I use discord a lot actually. I can only see it contributing positively.

[2019-03-04 17:14] Parikshit-Hooda commented on #125
Hi @sarthak77 Please make a new favicon for CIrcuitVerse somewhat like the current one and then we will see. As of yet, this issue is still under discussion and no one has claimed it..so, I believe that you can.

[2019-03-04 17:18] sarthak77 commented on #125
Ok I'll be on it

[2019-03-04 18:05] blackwolf08 opened #192 "CSS issues at multiple places, body width expanding more than vw."
#### I am submitting a -

**Bug Report**

**Would like to SELF ASSIGN the issue**

#### Describe your bug/feature -
Issue with the CSS at index and projet subpages in mobile view.

#### Expected behaviour -
1. Navbar and paginator should not occupy more than 100% of view width.
2.  Stars and views sub tab should not extend beyond 100% of the width in mobile view.
3. (Proposal) Search bar in the na

[2019-03-04 19:58] blackwolf08 commented on #192
created a pull request to address the issues 1 and 2 and created another pull request to apply my proposed change of search bar to the top of stack :)

[2019-03-04 20:03] agarwalrounak commented on #192
I see that you have modified the issue template. Please use it. It helps maintains a uniformity across all issues.

[2019-03-04 20:12] blackwolf08 commented on #192
thanks @agarwalrounak I have updated the issue, thanks :)

[2019-03-04 21:17] hjhimanshu01 commented on #91
@Amansingla97 , I think it might take time to implement this and I'm currently having semester exams , go ahead and take this issue . Thanks !

[2019-03-04 22:47] jbox144 commented on #21
Could I also get a tool to order by views and stars, or stars over a certain period of time?

[2019-03-04 23:04] devu1999 commented on #96
is this issue still open ?

[2019-03-05 00:27] satu0king commented on #183
No I do not prefer slack. Either way @jbox144 wanted a fanbase forum for fun discussions. For any developer discussions, Gitter will do well. Adding to what @fpintos said, I would like the following to be the expectations

- Discourse - Question And Answer Forum for normal users - questions related to CV and Digital Logic Design
- Gitter - Developer only discussions
- Discord - Fan discussions - p

[2019-03-05 04:52] utkarshg99 commented on #2
@satu0king I can help with the documentation part, can you guide me how to get started after setting up of my development environment?
From what I have understood I think you need a separate webpage with description of all elements on your site. Am I right?

[2019-03-05 05:07] agarwalrounak commented on #114
@maykillmore Are you still on it, cause I would like to work on it.

[2019-03-05 05:08] agarwalrounak commented on #20
I will work on it

[2019-03-05 06:03] ME-ON1 commented on #14
is this issue open to be taken?? GSSOC19

[2019-03-05 08:13] Ankitanvesh commented on #96
I m already working on it.

[2019-03-05 11:52] shubhscoder commented on #67
@sarthak77 I think this is actually a big issue. Would you mind if we both can work on this?

[2019-03-05 11:53] shubhscoder commented on #67
I will try to subdivide this issue into multiple smaller sub issues , we can take work on them!

[2019-03-05 12:28] sarthak77 commented on #67
ok thats fine
Please let me know my part

[2019-03-05 12:45] armudgal commented on #67
@sarthak77 and @shubhcoder, there is already a PR opened to fix the issue and is under the process of being reviewed. Please look through other issues on which you can work.

[2019-03-05 12:50] armudgal commented on #96
Hi @devu1999, @Ankitanvesh is working on it :)

[2019-03-05 12:52] armudgal commented on #14
@ME-ON1 Please go forward.

[2019-03-05 12:53] armudgal commented on #20
@agarwalrounak sure, waiting for the PR :)

[2019-03-05 13:05] Aanisha opened #195 "Responsive Layout problem"
I am submitting an issue,with which I want to work too.The <body> tag is not fixed and responsive.The <body> tag is scrollable horizontally too and does not fit screen width for every device.

[2019-03-05 13:07] Aanisha opened #196 "Issue with pages icon"
I want to change the UI of the pages icon.The links at the bottom which allows navigation between pages.

[2019-03-05 14:02] shubhankarsharma00 commented on #96
@armudgal I already sent a pr 2 days ago fixing it

[2019-03-05 14:35] abdullah-mohamed commented on #190
@blane1257 @satu0king
I would like to be assigned this issue.

[2019-03-05 14:35] blane1257 commented on #190
Oh, great! I wasn't expecting this to be worked on so quickly

[2019-03-05 14:36] blane1257 commented on #190
Oh, great! I wasn't expecting this to be worked on so quickly

[2019-03-05 14:36] blane1257 commented on #190
that was an accident

[2019-03-05 15:23] armudgal commented on #96
@shubhankarsharma00 Aah, didn't see that, but again please inform us before starting to work on any issue. I have mentioned this before but it becomes really difficult for us to allocate issues that way.

@Ankitanvesh please talk to @shubhankarsharma00 and figure this out. Thanks

[2019-03-05 15:25] armudgal commented on #129
@tachyons looks like you tagged the wrong Ankit :D

[2019-03-05 15:29] armudgal commented on #124
@agarwalrounak Thanks mate :)

@Parikshit-Hooda Since there is already a PR done, we can mark this as `taken`. @satu0king is reviewing the PR, if I get to squeeze a little more time I will do it. Thoughts?

[2019-03-05 15:31] armudgal commented on #21
@jbox144 Sure you can, waiting for a feature request in seperate Issue :)

[2019-03-05 15:31] armudgal commented on #21
@tachyons Can you go through this once. Thanks :)

[2019-03-05 15:44] armudgal commented on #91
Hi @Amansingla97, will you be working on it?

[2019-03-05 16:00] Ankitanvesh commented on #96
@shubhankarsharma00 is trying to fix the original issue. Although I have been working on the issue plus the suggestion to add the arrowkeys for updating values of the steppers. I will leave it to @shubhankarsharma00 to fix the issue while I work on adding the arrowkey feature. Is it fine to continue that way @armudga.l

[2019-03-05 16:03] tachyons commented on #21
I believe postgres full text search is enough for our use case in our scale. If a dedicated search engine is necessary then ES is the way to go I recommend https://github.com/ankane/searchkick. It is easy to work with and have good integration with rails

[2019-03-05 16:05] tachyons commented on #129
Oops, sorry

[2019-03-05 16:44] garry329 commented on #21
Ok, thanks @tachyons .So i'll go ahead with posgres full text search.

[2019-03-05 16:51] blane1257 opened #198 "Clock Component independency"
#### I am submitting a -
* [] **Feature Request**

#### Describe your feature -
As of now, every clock is set to the same value, set within the simulation. There are times, however, when you may want two different clocks operating at different independent speeds.
#### Current behaviour -
All clocks operate at the same frequency.
#### Expected behaviour -
Each clock has an independent "speed" setti

[2019-03-05 17:55] SubhajitCode commented on #190
@abdullah-mohamed  is a js Class in js/logix.js file

[2019-03-05 19:30] fpintos commented on #198
My understanding is that the entire simulator works by recalculating stuff on each clock tick, so having two wildly independent clocks might not be as simple as it sounds.

In the meantime, one can always use a ripple counter to effectively create separate clocks, although in this case the clocks are always multiple of each other.

As for the minimum speed, I never tested lower values; it would ha

[2019-03-05 19:34] fpintos opened #199 "Refactor classes into separate files"
We should refactor the code to make it easier for people to get started with the code base.
Ideally, each class should have its own file and each standalone function should be on its own file as well.

In the long term we can pack them together for a single file download with webpack (as mentioned in #110)

Example of issues:
_Originally posted by @abdullah-mohamed in https://github.com/CircuitVer

[2019-03-05 19:48] blane1257 commented on #198
When I first found this simulator, the fastest clock speed was as fast as 1ms, or 1KHz, though I'm unsure if such clock speeds made the simulator  unstable, or if the actual simulated clock speed was actually that fast

[2019-03-05 19:53] fpintos commented on #190
This would be an awesome component to have. :-)

@abdullah-mohamed , if you want to tackle this you might want to start by taking a look at a couple of other PRs where I added some new components, for example: #172, #113

We also need to decide on the addressing and color formats for this. For example, is it a full RGB (24bits/char) or less? And does each char has a foreground+background color or

[2019-03-05 19:53] ankitkataria commented on #199
This will be great! We can use React to declare the entire UI as various components. The life cycles methods will make it easier to define the routines that will be running the circuit.

[2019-03-05 20:10] agarwalrounak commented on #199
This is a great idea! I can get started with it.
Just for the purpose of knowing that I am on the right path, I will first start with the refactoring of [modules.js](https://github.com/CircuitVerse/CircuitVerse/blob/master/public/js/modules.js) Based on the reviews I get, I will continue further.

@fpintos Can I take up this issue?

[2019-03-05 20:11] blane1257 commented on #190
I think each character/x,y pos should definitely have both background and foreground color, and 8 bits per color (24 bits) is ideal, but it might be excessive. I do think 4 bits per color (12 bits total) is the minimum, though. And just to be clear, I think it will be most aesthetically pleasing if there are no borders between the pixels/characters, similar to what is shown in the original image.

[2019-03-05 20:27] sanctophagus commented on #142
Hey @satu0king !
If no one is working on this issue, than I am willing to work on it!

[2019-03-05 20:31] blane1257 opened #200 "Add the ability to bind keyboard buttons to buttons"
#### I am submitting a -
* [] **Feature Request**

#### Describe your bug/feature -
Currently, the only way to use your keyboard to control circuits is by using the ASCII keyboard input, which is great, but somewhat limiting, as it only works with ASCII text. Anything that isn't text cannot be used. Binding keyboard buttons to buttons in CircuitVerse would allow us to use non-text keys, such as ct

[2019-03-05 20:43] armudgal commented on #142
@sarthak77 Would you be taking up this issue?

[2019-03-05 20:46] sarthak77 commented on #142
ok i'll be working on it

[2019-03-05 20:52] armudgal commented on #96
Sure, just wait for the other PR to get merged so that there are no conflicts :)

[2019-03-05 20:53] armudgal commented on #142
Hi @satu0king, the issues are based on first come first serve, so sorry for that, please look through other issues. Cheers

[2019-03-05 20:56] agarwalrounak commented on #142
@armudgal I think you tagged the wrong person :sweat_smile:

[2019-03-05 22:06] sarthak77 commented on #142
Yeah I'm working on it

[2019-03-05 22:12] sarthak77 commented on #142
Hey I could not relate to what do you mean by Power and Ground
Can you elaborate?

[2019-03-05 23:21] Sadat97 commented on #91
if no one is working on it, i have used this gem recently in a school project and i would like to help

[2019-03-05 23:35] Amansingla97 commented on #91
@armudgal yes i am on it

[2019-03-06 01:36] jbox144 commented on #183
Yay! I made the unofficial CircuitVerse fan discord server!

https://discord.gg/95x8H7b

[2019-03-06 04:20] Amansingla97 commented on #91
@armudgal @satu0king  Although I have enabled the subscription for the comments but the subscription mailer is not working. What I think is that ,the commontator uses mailgun as a mailer and in the the source code of it ,they have not mentioned any public key. Kindly correct me if I am wrong. I too have raised a issue in their repo as well :)

[2019-03-06 05:07] #124 closed

[2019-03-06 05:39] #67 closed

[2019-03-06 05:40] #116 closed

[2019-03-06 05:43] #177 closed

[2019-03-06 05:48] #97 closed

[2019-03-06 06:04] pradnyasd commented on #125
@satu0king @Parikshit-Hooda is the issue still open? I have a few ideas. Can I work on this issue?

[2019-03-06 06:27] satu0king commented on #192
![image](https://user-images.githubusercontent.com/2092958/53860407-e952a600-4006-11e9-8202-8e3949213f8c.png)
This doesn't look very neat. I know if the circuit name is too long, the original CSS breaks and we need to fix that.

[2019-03-06 06:31] blackwolf08 commented on #192
I’ll work around with the icons then i suppose

On Wed, 6 Mar 2019 at 11:57 AM, Satvik Ramaprasad <notifications@github.com>
wrote:

[2019-03-06 06:31] blackwolf08 commented on #192
We can also set the overflow property on the text

On Wed, 6 Mar 2019 at 11:59 AM, Sunny Dhama <sunnydhama@yahoo.com> wrote:

[2019-03-06 06:43] #96 closed

[2019-03-06 07:03] satu0king commented on #91
Not very aware on how this gem works internally. I am sure if they have a default configuration of mailgun, there should be a way to change it. Also can you check and see if other emails are being sent? Emails will be sent only if redis-server is running. So maybe you can start a redis-server and check.

[2019-03-06 07:06] satu0king commented on #199
This will be a major refactor and will break everything that others are working on. I would want to this after GSSoC is over and after GSoC selections are over.

[2019-03-06 07:08] satu0king commented on #199
I don't think there will not be any major changes in the core circuit logic. I think the canvas is best handled by regular javascript and not react. Yes all the UI elements can move to react.

[2019-03-06 07:13] satu0king commented on #198
You are right, all calculations happen when a user makes an interaction or when the clock ticks. So having multiple clocks will make this complicated and inefficient. The rendering doesn't happen on every clock tick at lower frequency. Whenever the clock ticks, it requests a canvas update, however, the canvas will actually update only after a certain time (before which several clock ticks can happ

[2019-03-06 07:30] satu0king commented on #200
Interesting idea. I will give some thought and formulate how this can be achieved and update this issue.

[2019-03-06 07:35] satu0king commented on #142
Look for this line in modules.js:
`Power.prototype.tooltipText = "Power: All bits are High(1).";`

This is how we want all modules to implement tooltips now.

[2019-03-06 07:37] satu0king commented on #2
We already have a documentation: docs.circuitverse.org
See https://github.com/CircuitVerse/CircuitVerseDocs

[2019-03-06 07:54] satu0king commented on #129
True, it will change git history without any functional change but it has to happen sometime! We can do it along with the refactor of #199. I would not want to do it now as it will raise unnecessary conflicts with everyone's PRs.

[2019-03-06 08:39] #4 closed

[2019-03-06 10:51] Sadat97 commented on #2
I would love to work on the assignment grading system.. am currently working on an LMS system, I have a bit experience in this area. but I need more details on this issue. is there a requirement or a story I can get more info on what to do?

[2019-03-06 11:57] abdullah-mohamed commented on #190
@blane1257 _thanks for the details_
This is my visualization of the tool, Correct me if there is something wrong.

The user will choose the element from the sequential elements dropdown.
By default it will have some height and width, which the user can change by entering custom values
in the sidebar, now the number of characters will be `height * width`.
But
If I get this right, this will be an el

[2019-03-06 13:31] #11 closed

[2019-03-06 14:49] mehtabhazra1998 commented on #200
Hey i want to take up this issue and work on it.
could you please brief me on the problem in a bit more detail. since this is my first time conrtibuting to your org

[2019-03-06 15:15] armudgal commented on #195
Can you please submit more information regarding this. Screenshots would be recommended. Thanks

[2019-03-06 15:17] armudgal commented on #114
@agarwalrounak I would wait for @maykillmore to respond. If there is no response within a day, you can take this up :)

[2019-03-06 15:35] armudgal commented on #125
Hi @pradnyasd , @sarthak77 is working on it and is coming up with a design. If you have any designs in mind please feel free to post them here.

[2019-03-06 15:39] blane1257 commented on #198
@satu0king did the 1ms clocks work properly, and why can you no longer set a value so low?

[2019-03-06 15:44] blane1257 commented on #190
Instead of a height and width variable, I think there should just be independent X and Y bitwidths, as this makes things a bit simpler. There should also be a clear button. The shift pin(s) would be used to shift the entire image up, down, left, or right. Originally I had the idea of this as a shift "up" sort of like a "Ln" or new line, useful in the case of a console or terminal, instead of redra

[2019-03-06 15:53] #146 closed

[2019-03-06 15:55] armudgal commented on #196
Hey @Aanisha, Screenshots would help us understand how/what you are solving.

[2019-03-06 16:03] mehtabhazra1998 commented on #200
okay @armudgal
. i want this issue to be assigned to me

[2019-03-06 16:04] mehtabhazra1998 commented on #196
I want to work on this issue . Assign me this issue

[2019-03-06 16:17] #145 closed

[2019-03-06 16:20] armudgal commented on #200
@mehtabhazra1998 Sure, once the mappings with the keys are finalised as to what keys will be used for what purposes we can analyze whether we want to go forward with only one issue or break the issue into more than one for different functionalities. Based on that this issue can be assigned to you. Since this might take couple of days, please look into other issues.

[2019-03-06 17:32] sarthak77 commented on #125
jbj

[2019-03-06 17:49] blane1257 commented on #200
armudgal, I think you misunderstood. I wan't to give the user the ability to assign whatever keys they like to buttons, so that the buttons can be pressed using the keyboard as well as the mouse.

[2019-03-06 17:58] armudgal commented on #200
@blane1257 Aah, I see. I am sorry I just gave a cursory read to the issue. Thanks for the clarification.

[2019-03-06 18:12] garry329 commented on #21
![screenshot 2019-03-06 at 11 38 50 pm](https://user-images.githubusercontent.com/20072704/53903237-38c9be00-4069-11e9-90a0-c4a275970bca.png)
@satu0king , can you please give me feedback on this single project search result?

[2019-03-06 18:50] abdullah-mohamed commented on #190
@blane1257
ok, I will assign it 6bits each allowing for 64*64 cells and will try to make things as abstract as possible in order to modify it in the future.
for the shift pins, I quite get it. I will start by 1 shift and will extend into 4 in the future.
for the clear button, I think this will be easy as its function will be to clear the whole screen.
another question, Will this element be updated

[2019-03-06 19:42] creyente1897 commented on #196
Hey @Aanisha
Thanks for raising this issue :smile:
Please follow the issue template and always add whether you are working on this issue or not.
This will help others to know whether the issue is taken or not

[2019-03-06 20:12] blane1257 commented on #190
There also needs to be an ASCII character input, other than that is seems fine!

[2019-03-06 20:20] sanctophagus opened #205 "Link to Code of Conduct is not working"
Commit: fc55b0ac2a844c1bb5b3e8d2047545860c4c1cb9 changed the name of file `CODE OF CONDUCT.md` to `code-of-conduct.md` which broke the link between `README.md` and `code of conduct`.

[2019-03-06 20:22] agarwalrounak commented on #205
Nice catch!

[2019-03-06 20:44] mehtabhazra1998 commented on #196
@Aanisha could you please explain the issue in a bit more detail

[2019-03-06 20:46] sanctophagus opened #207 "[BUG] "Gates" look ugly when increase input size"
![and_gate](https://user-images.githubusercontent.com/31550423/53911977-e47d0900-407d-11e9-933e-07b45e8732a9.png)

When trying to increase the input size beyond 5, all the `Gates` (exception: not gate) look not so visually appealing.

[2019-03-06 20:46] sanctophagus commented on #207
I don't know if this was intentional, but if it is not I self assign this one to me.

[2019-03-06 20:48] sanctophagus commented on #207
@fpintos @satu0king Like with multiplexers, can we increase the size of the gates? You views?

[2019-03-06 20:56] armudgal commented on #205
Thanks for this, the cause of the bug would be me :P

[2019-03-06 20:57] #205 closed

[2019-03-06 20:59] armudgal commented on #7
Hi @garry329, are you working on this? If yes, what are the updates.

[2019-03-06 21:12] jbox144 commented on #207
I say there should also be an option to adjust the spacing between the inputs of gates.

Otherwise, I'd say this functionality of having gates having multiple inputs was largely thrown together, and not properly implemented. Not that I'm shaming the person who did this, it's not the end of the world.

[2019-03-06 21:16] ankitkataria commented on #129
Maybe we can explore of the option of still setting up codeclimate where we can view all the new offences and try fix most of them in each pr. This way add the new additions will be free of lint errors.

[2019-03-06 21:17] jbox144 opened #208 "Search filtering/ordering"
In response to the search engine improvements, I have a few suggestions to add.

- [ ] **Search filtering**
Filtering results by tags, users, number of views, or submissions over a certain period of time (this day, week, month, e.t.c)

- [ ] **Search ordering**
Ordering search results by number of stars, views or comments.

- [ ] **Searching without keywords**
The ability to make search queries wi

[2019-03-06 22:02] agarwalrounak commented on #208
If this is to be worked upon now, then I would like to work on Search ordering.

[2019-03-06 22:33] ankitkataria commented on #208
Related to #21, @agarwalrounak I feel filters can be worked on once the actual search is ready.  Since the original issue is tagged with 'Future' and this also happens to be a GSoC project. I have a feeling we are supposed to present our proposals now and eventually work on them during the summers.

[2019-03-06 22:47] ankitkataria commented on #7
I think it is possible to implement this through a simple ruby mail script that iterates through all the users and sends them emails.
In order to reduce the run time of the script, we can look into dividing the users into chunks and processing chunks in different threads, we can experiment with the chunk size and the no of email queues to see which one responds with the best result.

[2019-03-07 01:47] satu0king commented on #7
Yes, these are my thoughts as well. We are currently using yandex as our mail provider. Which surprisingly gives free email service for custom domain and as far as I can see it isn't against their user policy to use this email as a server email. I couldn't even find any restrictions regarding the same. However, based on articles and blogs on the internet it is best to use a mailing service.

[2019-03-07 02:18] fpintos commented on #207
If we do change the size it would have to be optional, otherwise it will break existing circuits.

[2019-03-07 02:26] satu0king commented on #207
@sanctophagus, Yes this is by design. It has to be functional before visually appealing. Also, an AndGate which grows in size is not very functional as uses will have to keep adjusting the position. The functionality was introduced for multiplexers because there it was more straightforward.

Also as @fpintos says, if we have an implementation it has to be optional as it will otherwise break the ci

[2019-03-07 02:26] #207 closed

[2019-03-07 04:48] ankitkataria commented on #7
Great, @garry329 Let us know if you're still working on it. Also don't hesistate to ask for help if required. :wink:

[2019-03-07 05:57] Aanisha commented on #195
Once we scroll down the web elements get unevenly shifted towards right,and
the contents are not fixed horizontally while we scroll.Here I attached the
ScreenShot.

On Wed, 6 Mar 2019, 20:45 Arushit Mudgal, <notifications@github.com> wrote:

[2019-03-07 06:02] garry329 commented on #7
@satu0king @armudgal according to plans provided by email services:
- we can have a service like mailgun or mailchimp which provide about 10,000 emails per month on their free plans.
- services like sendgrid and sendinblue providing few hundered emails per day.
Now, i don't think either of the above plans would suffice.
So, for now we can go with a script as suggested to roll out some quick announ

[2019-03-07 06:05] Aanisha commented on #196
The page icons and the UI can be improved.I'll like to work on it.

On Wed, 6 Mar 2019, 21:25 Arushit Mudgal, <notifications@github.com> wrote:

[2019-03-07 06:14] pradnyasd commented on #125
@armudgal I have made 2 designs. Kindly review it and let me know about the changes if any.
![screenshot from 2019-03-07 11-41-03](https://user-images.githubusercontent.com/46742046/53935970-4a917c80-40ce-11e9-98b5-9d2a67791251.png)

![screenshot from 2019-03-07 11-41-22](https://user-images.githubusercontent.com/46742046/53935977-50875d80-40ce-11e9-8c69-29fd85d17b54.png)

[2019-03-07 06:25] garry329 commented on #21
So i have implemented a basic search functionality(full text search using pg_search).What should i do next?
@satu0king @armudgal @tachyons
![search](https://user-images.githubusercontent.com/20072704/53936217-25e9d480-40cf-11e9-88ca-63f1d31bf49f.gif)

[2019-03-07 06:29] tachyons commented on #199
https://github.com/rails/webpacker is the best way to accomplish this within rails app

[2019-03-07 06:38] armudgal commented on #21
Can you please send a PR so that we can test it and review it. Thanks

[2019-03-07 06:39] armudgal commented on #196
@Aanisha, Please send a PR(don't forget to include screenshots) for the changes your propose

[2019-03-07 06:44] armudgal commented on #7
I have worked previously on mass mailers and there are too many factor to consider such as multi-threading(puma) and when there is parallelism, there are cases when the mails are not sent properly or end up in spam. I really don't see the point of reinventing the wheel by writing our own script.

**Suggestion** : We go forward with mailchimp or mailgun, because setting them up won't take much time

[2019-03-07 07:03] armudgal commented on #195
Hi, I am still not able to understand where the issue actually is. As I mentioned please attach screenshots for better understanding or send a PR if the fix is a quick one.

[2019-03-07 07:12] garry329 commented on #21
@armudgal Done.

[2019-03-07 09:34] Sadat97 commented on #150
Is anyone one working on this issue?

[2019-03-07 09:47] ankitkataria commented on #150
Hey @Sadat97, I've opened a PR for it.

[2019-03-07 11:32] blane1257 commented on #125
I like the second design, but I'm not sure how well it will scale..

[2019-03-07 13:42] sanctophagus commented on #125
![circuitversefavicon](https://user-images.githubusercontent.com/31550423/53960500-7fbcbf80-410c-11e9-8240-b80727426cda.jpg)
This is one of my own design.
@satu0king @blane1257  @armudgal Please review it.

[2019-03-07 15:11] tachyons commented on #133
Fixed in #186

[2019-03-07 15:11] #133 closed

[2019-03-07 15:51] Amansingla97 commented on #91
@satu0king @armudgal where are the mailing variables defined ?
<img width="713" alt="screenshot 2019-03-07 at 9 21 24 pm" src="https://user-images.githubusercontent.com/20012612/53969539-fc589980-411e-11e9-8e94-5b3bcaf77ea3.png">
I was not able to find the environment file

[2019-03-07 19:15] SubhajitCode commented on #36
hi I implemented this feature and creating a pull request to check them out .. please notify me if you find any bugs....
I really need some  one who knows inside out of this project as mentor
ps.. those  leds are circular now but will change them to rectangular later ...

[2019-03-07 19:16] agarwalrounak commented on #20
Need a little help on this!

Do we have to replace "logix" with "circuitVerse" wherever the project is named as "logix" or everywhere(including the filenames). I suppose @satu0king meant where the project is still named as ''logix'' or "Logix".

[2019-03-07 19:24] blane1257 commented on #36
Hey @SubhajitCode, this issue is a bit outdated, it's reiterated in #48, go there instead. I'll close this issue, actually.

[2019-03-07 19:24] #36 closed

[2019-03-07 19:38] blane1257 commented on #165
This seems like a really amazing feature!

I'm not sure how an "internet" would work, though, as it would require the adoption of many standards, such as a standard protocol for transmission of files, some standard file types, and a standard way of viewing the files. I don't doubt that, given time, and some organization, standards would begin to show, but it would likely take a long time.. Anyways

[2019-03-07 19:50] SubhajitCode commented on #36
here is the pull req
https://github.com/CircuitVerse/CircuitVerse/pull/210

[2019-03-07 21:08] jbox144 opened #211 "Bug: Counter component resets when wires are added/removed"
Whenever wires connected to the counter component are added, removed or updated, the counter component reset's it's value. This is a bit of a nuisance.

[2019-03-07 21:10] jbox144 opened #212 "RAM should save it's values"
RAM components are really handy for storing a lot of data, which is why I think they should also be able to save it's values with the project. Hopefully this isn't a big ask.

[2019-03-08 01:23] blane1257 commented on #212
This is exactly what I've been asking for with my writable ROM #117

A writable ROM, or a RAM which saves its contents.

[2019-03-08 02:29] satu0king commented on #212
It is not actually difficult but as @fpintos pointed out it is functionally wrong for a RAM to persist values. Once the DMA is implemented we can achieve this functionality by saving data into some other module, maybe disk? and then loading of from the said module back into RAM during startup.

[2019-03-08 02:45] satu0king commented on #21
Looks great! It would be good if you can also show number of stars and views. If not we can do that in a later issue.

[2019-03-08 03:22] jbox144 commented on #21
I agree, showing the number of stars and views would be handy

[2019-03-08 05:41] pradnyasd commented on #125
@satu0king @Parikshit-Hooda @armudgal I have made one more favicon logo
![screenshot from 2019-03-08 11-09-09](https://user-images.githubusercontent.com/46742046/54009918-bdfcc200-4192-11e9-9d97-e7e58c6d4945.png)

[2019-03-08 06:27] armudgal commented on #125
I really like the second logo. If we can make it more simple and remove the background it will look really good. @satu0king and @tachyons comments?

[2019-03-08 06:28] #180 closed

[2019-03-08 06:33] armudgal commented on #20
Please move forward with the places where the project is named as variants of 'Logix', updating the filenames right now will lead to a lot of conflict and I would wait for proper tests to setup before changing the files so that we know what we break (if we break).

[2019-03-08 06:38] armudgal commented on #91
If we included the env file here, it would kill the purpose of having it in the first place.
https://www.honeybadger.io/blog/ruby-guide-environment-variables/ go through this.

You need to setup your own `smtp settings`.

[2019-03-08 06:39] pradnyasd commented on #125
@armudgal I will make the changes and send it to you.

[2019-03-08 06:45] pradnyasd commented on #125
@armudgal How is this. Is this as per your expectation?
![screenshot from 2019-03-08 12-14-22](https://user-images.githubusercontent.com/46742046/54012385-e5a45800-419b-11e9-9bea-6928baa8f6dd.png)

[2019-03-08 17:34] sanctophagus commented on #55
@satu0king I'll be taking this up, ok?

[2019-03-08 19:18] armudgal commented on #55
@sanctophagus Please go forward

[2019-03-08 20:45] armudgal opened #213 "Wrong use of bootstrap class in Delete CIrcuit"
We are currently using the wrong class of bootstrap alert to give the warning when there are less than 2 circuits.

![image](https://user-images.githubusercontent.com/19341613/54054612-af54f000-4210-11e9-9966-37c515510476.png)

**Solution**: Use `alert-warning` or any other class if you think it would make more sense. Look into `showError` and `showMessage`

[2019-03-08 20:55] Parikshit-Hooda commented on #183
CircuitVerse Slack url [circuitverse.slack.com](url)

[2019-03-08 20:56] Parikshit-Hooda commented on #183
@jbox144  open a PR.

[2019-03-08 21:31] armudgal opened #214 "Close icon not being displayed in ui-dialog"
Hi,

![image](https://user-images.githubusercontent.com/19341613/54056806-2e4d2700-4217-11e9-935a-09289dea0139.png)

As you can see the close icon can not be displayed. (Circuit -> Insert Subcircuit)

**Solution**: We haven't included the jquery-ui class `ui-dialog-titlebar-close` in `UX.css`. Also the code mentioned below is redundant and can be removed.
https://github.com/CircuitVerse/CircuitVer

[2019-03-08 21:42] armudgal opened #215 "Using Bootstrap CDN instead of hosting on our server"
Hi,

So the issue title is pretty self-explanatory. It would be wise to use the static bootstrap files using CDN so that the loading time is faster.
Bonus: Cleans our code a little bit. (~22% reduction in our repo size)

[2019-03-08 22:16] sanctophagus commented on #213
Hey @armudgal ! I am working on it.

[2019-03-08 22:21] armudgal commented on #213
Nice response. Waiting for the PR 🍔

[2019-03-08 22:21] sanctophagus commented on #214
Hey @armudgal ! I am working on it.

[2019-03-08 22:22] sanctophagus commented on #215
Hey @armudgal ! I am working on it.

[2019-03-08 22:27] armudgal commented on #214
@sanctophagus Hey, send a PR for #213 and then you can take this one. We don't want to block issues if they can't be worked upon :)

[2019-03-08 22:28] armudgal commented on #215
@sanctophagus Hey, send a PR for the previous issue and then you can take this one. We don't want to block issues if they can't be worked upon :)

[2019-03-08 22:31] agarwalrounak opened #216 "Mention discord and gitter link in the readme explicitly"
Update the discord and gitter link in the readme explicitly, perhaps under the section of 'talk to us at' or 'circuitverse community'.

I am working on it.

[2019-03-08 22:56] fpintos commented on #212
I'll write the EPROM this weekend.

[2019-03-08 22:57] fpintos commented on #117
I'll write the EPROM this weekend.

[2019-03-08 23:05] blane1257 commented on #117
Awesome!

[2019-03-09 03:48] sanctophagus commented on #55
Presently, `D` is used for changing direction, so won't be able to use it for delay. How should I proceed?

[2019-03-09 07:10] ankur54 commented on #212
Hi everyone. I am new here. I have a fair amount of knowledge about C++, Java and some experience in python. If this issue is open can I start working on it?

[2019-03-09 08:39] #214 closed

[2019-03-09 09:34] SubhajitCode commented on #115
Hi I created a pull req to fix this bug kindly review it and let me know
https://github.com/CircuitVerse/CircuitVerse/pull/220

[2019-03-09 12:12] #183 closed

[2019-03-09 12:24] creyente1897 commented on #216
@agarwalrounak This was an issue related to #183 and has been resolved in the pr #221

[2019-03-09 14:11] creyente1897 commented on #216
You can add the discord link in the about page if you want

[2019-03-09 16:05] blane1257 commented on #212
I believe fpintos is working on this.

[2019-03-09 17:39] ankitkataria opened #224 "Handling schema.rb in version control"
It is generally recommended to commit `schema.rb` file along with other file systems as mentioned [here]( https://stackoverflow.com/questions/6450263/what-is-the-right-approach-to-deal-with-rails-db-schema-rb-file-in-git)
Will it be a good idea to remove it from `.gitignore` and commit it for our project too?

[2019-03-09 19:29] Oghenebrume50 commented on #211
Hi, @jbox144 could you please be more descriptive with this issue, I would like to work on it, but I understand it clearly.

[2019-03-09 20:43] ankur54 commented on #126
Hi. Could you please elaborate on what to do and the topic? I would like to contribute to it.

[2019-03-09 20:46] ankur54 commented on #57
Hi. I am interested in this project of reusing subcircuits. I would definetely like to contribute to it. Currently I know JavaScript, C++, HTML, CSS and also have some experience in python. Could you please help me in how to proceed?

[2019-03-09 20:54] ankur54 commented on #56
Hi. Are there any suggestions on how to tackle this problem? I think this problem is tremendously trivial, as such errors also occur in programming languages like C/C++ etc. If anyone has any idea regarding this issue, I would like to work on.

[2019-03-09 20:59] armudgal commented on #224
I suppose it wasn't done in the past to stay away from merge conflicts but that is not the way we should go forward. I agree of having `schema.rb` in our version control.
@tachyons would be the best person here to respond to this.

Thanks for the suggestion.

[2019-03-09 21:01] armudgal commented on #212
@fpintos Hi there, can you confirm whether you are working on it. We can block this issue then.

[2019-03-09 21:15] #213 closed

[2019-03-09 21:23] ankur54 commented on #211
@jbox144 Please post the link to the circuit diagram you are facing problem in. That would help a lot.

[2019-03-09 21:28] ankur54 commented on #109
Is there always a loading diamond going on over the circuit diagram?

[2019-03-09 23:38] tachyons commented on #224
Yes, it is the recommended practice, but it is impossible to have schema.rb in version control since we support two databases at the moment. We can add them once we drop mysql support

[2019-03-09 23:41] ankitkataria commented on #224
I agree, the extension mentioned in the file would differ. Are we planning to drop mysql support anytime soon?

[2019-03-09 23:53] Parikshit-Hooda commented on #125
An advice : use all the above candidates as favicons in your own browser and compare them with some well known ones like FB, GitHub. My personal favorite is this so far :
![image](https://user-images.githubusercontent.com/25405707/54078786-6aa28500-42f4-11e9-8616-dbdddde646c8.png)

[2019-03-10 00:55] sanctophagus commented on #215
@armudgal  Should I delete all the files of `public/bootstrap-3.3.7`

[2019-03-10 03:22] fpintos commented on #212
Yeah, I'll work on it.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Arushit Mudgal <notifications@github.com>
Sent: Saturday, March 9, 2019 1:01:41 PM
To: CircuitVerse/CircuitVerse
Cc: Fabio Pintos; Mention
Subject: Re: [CircuitVerse/CircuitVerse] RAM should save it's values (#212)

@fpintos<https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%

[2019-03-10 07:05] armudgal commented on #215
@sanctophagus After making sure that everything works locally (UI and front-end JS part) you can. Once you make the PR, I will test as well.

[2019-03-10 07:06] armudgal commented on #224
@ankitkataria We are.

[2019-03-10 18:01] tachyons commented on #7
I second @armudgal

[2019-03-10 19:09] #167 closed

[2019-03-11 04:05] YizhePKU opened #227 "Seperate Circuit Elements tab and Properties tab"
Put Properties on the right of the screen. This will make editing properties simplier(by not having to scroll down to see the properties when an element tab is open)

[2019-03-11 05:28] saumyashrm2802 commented on #227
@armudgal I would like to work on this issue. Please assign me this.

[2019-03-11 05:52] saumyashrm2802 opened #228 "Clicking on links present under MENTORS and EXTENDED TEAM heading results opening of Linked in page of Mr. Vaibhav Aggarwal."
![image](https://user-images.githubusercontent.com/40107298/54102647-55f6e780-43ef-11e9-946b-618d50b6ea51.png)

Whenver links under MENTORS heading and EXTENDED TEAM heading are clicked, linked in profile of Mr. Vaibhav Aggarwal gets opened.
I would like to fix this issue.
I require links to linked in profiles of the mentors and extended team members so I that I can attach the link with their name

[2019-03-11 05:54] saumyashrm2802 commented on #228
@armudgal @satu0king please assign me this issue.

[2019-03-11 15:41] AniMysore74 commented on #1
Plugin currently under development. https://github.com/AniMysore74/CircuitVersePPT
This persists the data as well :smile:

Consider moving ownership to CircuitVerse?

[2019-03-11 18:03] kunalvishnoi opened #231 "Resposive Navbar/Homepage Problem"

[2019-03-11 18:11] kunalvishnoi commented on #231
Submitting a Bug Report and would like to work on the same
Current Behaviour:
![Screenshot_2019-03-11-23-29-31-012_com android chrome](https://user-images.githubusercontent.com/24695316/54146647-71e1a400-4456-11e9-886b-5af8982d99ed.png)

Expected Behaviour:
![Capture](https://user-images.githubusercontent.com/24695316/54146819-d270e100-4456-11e9-9496-354421dc58d4.JPG)

Images are self-explanatory

[2019-03-11 19:54] sanctophagus commented on #55
Due to bug mentioned in issue #121 , I am facing problem implementing keyboard shortcut for changing label.
An alternative would be to prompt to change the Label, something like
![Label_Alternative](https://user-images.githubusercontent.com/31550423/54153185-f5a28d00-4464-11e9-996a-f150033f13e4.png)
@armudgal  @satu0king How should I proceed?

[2019-03-11 20:48] ankur54 commented on #227
I'll do it. Is that okay?

[2019-03-11 20:56] ankur54 commented on #126
Hey! Could you please elaborate on what do you exactly mean by multiheaded RAM/ROM? I couldn't find any reference for this anywhere on the internet.

[2019-03-11 21:04] blane1257 commented on #126
In this context, by "head" I mean the apparatus which is used to read and write values. In the case of multiple heads, there are two address lines, two data in lines, two write inputs, and two data out lines. It would behave much like 2 RAM/ROM components that share the same memory.

[2019-03-11 21:21] ankur54 commented on #126
Can I work on this? But, the only problem I am facing is, reading the undocumented code base. I hope for guidance since I am new to open source community.

[2019-03-12 03:27] ankur54 commented on #126
Should I implement this in ram.js?

[2019-03-12 07:47] Amansingla97 opened #233 "Implement voting(likes and dislikes) and mentions in comments."
Currently this feature is missing and it would be great to integrate it.
I would like to self assign this feature.

[2019-03-12 08:12] tachyons opened #234 "Drop Mysql support"
**Describe the bug**
Supporting two databases causes unnecessary hurdles in development. We decided to drop Mysql support and just use PostgreSQL in all environments

**Are you working on this issue? (Yes/No)**
No

[2019-03-12 08:14] Amansingla97 commented on #234
i would like to work on this issue

[2019-03-12 08:46] tachyons commented on #234
Go ahead

[2019-03-12 09:05] ankur54 commented on #3
Hi. Could you please elaborate the issue? I would like to contribute to it.

[2019-03-12 10:00] armudgal commented on #231
The issue is with the paging, Since the paging (numbers) is moving out of the screen, it's causing the screen to have a blank space on the right.
Please go forward.

[2019-03-12 10:07] armudgal commented on #228
@saumyashrm2802 Please go forward with this. Also fix the width of the whole div which will be solved if you remove the hyperlink.

For now, remove the links, we will provide you with the list of links to add later on.

[2019-03-12 10:07] armudgal commented on #228
Also add screenshots in the PR after the change.

[2019-03-12 10:20] armudgal commented on #231
Duplicate of #192

[2019-03-12 10:20] #231 closed

[2019-03-12 10:46] ankitkataria commented on #224
I'll add the schema.rb once Issue #234 is done.

[2019-03-12 13:47] ankur54 commented on #98
The idea seems really interesting to me. Can I work on this issue? GSOC '19

[2019-03-12 15:14] An0u commented on #114
@maykillmore @agarwalrounak This is something I'd like to work on if it becomes available.

[2019-03-12 15:38] agarwalrounak commented on #114
@An0u Since @maykillmore isn't responding, I will take it up.

[2019-03-12 16:21] saumyashrm2802 commented on #228
Yes sir..i will surely do it.

[2019-03-12 17:15] kunalvishnoi opened #235 "Content Hide in Mobile View"
**Problem**
Main heading content of the page teacher, feature, contribute and about page is hiding due to large text in mobile view.

**Expected behavior**
The content should be clearly visible

**Screenshots**

![Screenshot_2019-03-12-22-35-33-977_com android chrome](https://user-images.githubusercontent.com/24695316/54220781-2a235100-4518-11e9-8855-9df7bfbe7a8c.png)

**I am working on the issue

[2019-03-12 17:16] HypheX opened #236 "Tristate buffers do not properly prevent contention errors outside of its subcircuit."
If a tri-state buffer's output is given to the subcircuit output, it will fail to prevent concatenation errors.

Steps to reproduce the behavior:
1. Create a circuit like shown:
![image](https://user-images.githubusercontent.com/29693543/54220720-a3d72280-44b7-11e9-8d86-41cb264d765a.png)

2. Use the subcircuit as shown:
![image](https://user-images.githubusercontent.com/29693543/54220734-b2bdd500-

[2019-03-12 17:21] arkokoley opened #237 "Track users in Google Analytics"
**Is your feature request related to a problem? Please describe.**
Being able to track usage through Google Analytics ends up being cumbersome since many users will be counted twice when accessing from different devices or locations.

**Describe the solution you'd like**
Send the `current_user` id along with the tracking token for GA. This would help converge all the activities by a single user ac

[2019-03-12 19:09] Parikshit-Hooda commented on #125
What is the update on this issue?

[2019-03-12 22:03] Parikshit-Hooda commented on #150
@ankitkataria  if this has been done, please refer the PR here. Then, this issue can be closed after the merge.

[2019-03-12 22:07] ankitkataria commented on #150
@Parikshit-Hooda PR #184  is yet to be merged. I've referenced the issue in the PR already. I'll ensure that the issue gets closed once it is merged! :sweat_smile:

[2019-03-13 00:09] ankitkataria opened #240 "No access check for show method in AssignmentsController"
**Describe the bug**
Currently, there is no access check for show method in assignments controller, which means any user who is signed in can view assignment of any group provided the url is available, even if the user is not a part of the group.
Is this expected behavior?

**To Reproduce**
Steps to reproduce the behavior:
1. Create a group
2. Create an assignment of a group without adding any mem

[2019-03-13 03:55] satu0king commented on #240
This is not expected behavior.

[2019-03-13 09:23] ankitkataria commented on #240
@satu0king Should I add this along with #184 ? Or after that PR has been reviewed and merged?

[2019-03-13 11:12] shubhankarsharma00 opened #242 "Show action on group page."
**Is your feature request related to a problem? Please describe.**
On groups page of a user, I see 3 options under actions do we really need show option can't the name of the group serve as the hyperlink for showing the group info.

**Describe the solution you'd like**
I would like the name of the group to serve as a hyperlink to group details

**Are you working on this? (Yes/No)**
In case everyon

[2019-03-13 11:53] shubhankarsharma00 opened #243 "Notification for users."
**Is your feature request related to a problem? Please describe.**
with commontator subscriptions, mentions, upvote, downvote, and groups it's important to make a system to notify the user about these inside the website.

**Describe the solution you'd like**
 A notification system similar to GitHub would just be a perfect solution but we can start with just a basic notification option in navbar wh

[2019-03-13 13:09] danllin commented on #234
Drop Mysql support #234

[2019-03-13 14:22] ankur54 commented on #53
So, if I am correct, the issue is of the green wire rotating abnormally, right?

[2019-03-13 23:13] fpintos commented on #211
This is an odd one...I see the value of the counter reset to zero but I don't see the lines that do that being called...maybe calling the field "value" is causing conflict with something else I might have missed?

[2019-03-13 23:21] fpintos commented on #211
I spoke too soon...bug is in this line in Counter.prototype.resolve:
[code]

It should be simply:
[code]

[2019-03-14 12:33] ankur54 commented on #126
@blane1257 do you want the 2 read operations and the write operation to perform simultaneously?

[2019-03-14 12:36] blane1257 commented on #126
As stated in the original post, each write input should have an increasing amount of delay, such so that they are all different.

[2019-03-14 13:22] fpintos commented on #211
I'll send a fix for this.

[2019-03-14 14:46] ankur54 commented on #126
@blane1257 I am not sure, why suggested the idea of delay, but, I think that might cause, unnessecary delay, even when not required. Although, it would be really helpful if you could explain what exactly do you mean by delay. I am interpreting it as using setTimeOut(). Also, I think, using seperate clock signals, to control the read and write pins seperately, would be a good idea. Please correct m

[2019-03-14 14:49] animysore opened #246 "Number of views for a circuit increases upon page reload"
**Describe the bug**
Everytime a signed in user who is *not* the creator refreshes the page, the view count increases.

**To Reproduce**
Steps to reproduce the behavior:
1. Sign in to CircuitVerse.
2. Go to any project. eg. https://circuitverse.org/users/3/projects/247
3. Keep refreshing the page
4. Views keep increasing

**Expected behavior**
Views should not change upon refresh.

**Screenshots**

[2019-03-14 15:01] blane1257 commented on #126
In circuitverse, all components have a "delay" value. This value does not actually add any delay, but instead resolves race conditions. The write pins should all have different delay values, as to not cause an error when writing two values to the same address at the same time.

[2019-03-14 15:29] armudgal commented on #228
Closed by #244

[2019-03-14 15:29] #228 closed

[2019-03-14 15:40] ankur54 commented on #126
Is that property named "PropagationDelay"?

[2019-03-14 15:41] blane1257 commented on #126
I have no clue, I'm sorry

[2019-03-14 15:43] ankur54 commented on #126
I am sorry, but are you sure, that there is a "delay" property for all circuit elements?

[2019-03-14 15:47] blane1257 commented on #126
This is the delay property I'm talking about. As far as I know, all components have this property.

![Screenshot 2019-03-14 11 44 26](https://user-images.githubusercontent.com/34515731/54370880-cb142800-464e-11e9-8fa2-cc290975cd3f.png)

[2019-03-14 15:59] ankur54 commented on #126
ok I got you, thats the propagationDelay property you are talking about.

[2019-03-14 16:51] ankur54 commented on #126
It would be really helpful if I could contact any of the mentors, to discuss a solution for the issue before jumping into code, because, to be honest, I really doubt, the delay method would work.

[2019-03-15 05:40] pradnyasd commented on #125
@satu0king @blane1257  @shubhankarsharma00 @armudgal @tachyons  Any update on this issue??

[2019-03-15 07:31] #101 closed

[2019-03-15 09:34] satu0king commented on #125
Please keep the logos simple, Logos like this have too much detail which will be lost when made into a favicon

![image](https://user-images.githubusercontent.com/2092958/54422009-90d08680-4733-11e9-93e6-213f97ac4b1f.png)

[2019-03-15 09:35] satu0king commented on #125
I agree, we should give it a try.

[2019-03-15 09:38] satu0king commented on #125
@blane1257, I am not able to find the logo, you designed, could you share it again here?

[2019-03-15 09:41] satu0king commented on #125
Thanks for these designs!
The second and fourth look good. Can you try making them simpler. Remember, the size of the image will be scaled down to this size, and things will not be visible then.
![image](https://user-images.githubusercontent.com/2092958/54422430-7ea31800-4734-11e9-97e0-626cf646fd71.png)

[2019-03-15 09:41] satu0king commented on #125
Hello, these look nice for analog design circuits, not so much for CV

[2019-03-15 09:42] satu0king commented on #125
This one looks good.

[2019-03-15 09:43] Parikshit-Hooda commented on #125
The second one in this looks good.

[2019-03-15 10:30] satu0king commented on #125
![image](https://user-images.githubusercontent.com/2092958/54425423-52d76080-473b-11e9-8c9f-7009956d75e6.png)

This is the logo by @blane1257. It is my favourite so far. Not very circuity but elegant and recognizable like the GitHub logo. What do you say @armudgal ?

[2019-03-15 10:35] #211 closed

[2019-03-15 10:43] #129 closed

[2019-03-15 10:47] #212 closed

[2019-03-15 10:59] #237 closed

[2019-03-15 11:02] #233 closed

[2019-03-15 11:09] satu0king opened #248 "Reflected-XSS/HTML Injection"
**Describe the bug**
A user sent this mail

This is a seemingly minor bug, but it is identical to the self-retweeting tweet so it should probably be addressed immediately. If HTML is placed into the title of the project, it is interpreted as such by the editor. This only does anything in the editor, and all other situations are either protected or do not show the title. Script tags are the scary p

[2019-03-15 11:11] satu0king commented on #198
Well, our engine is not very optimized for such frequencies, to keep things stable, we have set the max frequency to 20 Hz. Of course, we need to improve this moving forward.

[2019-03-15 11:15] satu0king opened #249 "Watermark not clickable"
**Describe the bug**
A clear and concise description of what the bug is.
![image](https://user-images.githubusercontent.com/2092958/54427777-7a312c00-4741-11e9-8076-f5d2e400a3cd.png)

Check #11 for more details regarding watermark.

URLS via embed, for example, https://circuitverse.org/simulator/embed/704 should show water-mark. The same watermarks should redirect to the project page of the circui

[2019-03-15 11:26] satu0king commented on #165
Very interesting, I think the easiest way to have something like this is to implement it similar to how pipes are implemented in UNIX. Sockets are quite high level to be implemented at Circuit level. Maybe @fpintos has some inputs on this.

Also, we need to then have a method for the different circuits to communicate. Circuits running on the same browser can probably communicate using the localsto

[2019-03-15 11:30] satu0king commented on #20
@armudgal is right.

I do not think many files have logix in the name. However many messages/constants/strings have them. Over time a lot of it has changed but some parts remain. @agarwalrounak you could probably help us by identifying the places that need to be changed simply by doing a global search for "logix" and "Logix"

[2019-03-15 11:35] satu0king commented on #56
It is easy to tackle if we are to implement or designing something from scratch. We have a whole system that relies on the regular integer of javascript, we cannot just change it easily.

[2019-03-15 11:38] pradnyasd commented on #125
@Parikshit-Hooda @satu0king
Kindly finalize a logo and in case if you need any help do let me know. :blush:

[2019-03-15 11:42] satu0king commented on #7
@tachyons @armudgal You are right. We need to use something like mailchimp and mailgun. But not right now, maybe someone can send a PR and we can keep it pending till we acquire funds for the same.

[2019-03-15 11:44] satu0king commented on #1
@AniMysore74 you are up. Once the plugin is complete, we can move it to CircuitVerse organization.

[2019-03-15 11:45] satu0king commented on #55
Not very sure, the keyboard shortcuts will vary user to user and so has to be configurable. Currently, WASD is used to rotate the element as someone requested it but not everyone wants to use it.

[2019-03-15 11:46] tachyons commented on #7
Mailchimp's free plan must be  enough for our usecase https://mailchimp.com/help/about-the-forever-free-plan/

[2019-03-15 11:46] satu0king commented on #227
Go ahead, try different options and we will review.

[2019-03-15 11:48] satu0king commented on #240
As per your convenience.

[2019-03-15 11:50] satu0king commented on #243
@arkokoley can you give your input here.

[2019-03-15 11:52] satu0king opened #250 "ActionView Gem update"
Update ActionView Gem

![image](https://user-images.githubusercontent.com/2092958/54429538-d34f8e80-4746-11e9-8373-8fd525394117.png)

**Are you working on this issue? (Yes/No)**
No

[2019-03-15 11:56] satu0king commented on #246
No, I think storing user-project views is a lot of data. Also, we would want to count multiple views by the same users as separate. I am not sure how websites like youtube implement views.

Given that, I do not think every refresh should be a new view. Instead, every page visit, that lasts longer than 15 seconds or so can be counted as a view.

@vik-y @tachyons @arkokoley can you give your input h

[2019-03-15 11:59] satu0king commented on #126
@fpintos should guide this. However, this is an advanced feature to be implemented in the future.

[2019-03-15 12:00] Amansingla97 commented on #249
I would like to work on it

[2019-03-15 12:00] ankur54 commented on #126
Atleast we can discuss this right?

[2019-03-15 12:01] Amansingla97 commented on #249
I would like to work on it

[2019-03-15 12:02] Sadat97 commented on #250
i would to work on this

[2019-03-15 12:05] satu0king commented on #126
Definitely! Thats why I tagged @fpintos.

[2019-03-15 12:08] satu0king commented on #7
I had already seen this, the free plan allows it to be free until 2000 subscribers, we have already crossed 4000 users!

[2019-03-15 12:09] tachyons commented on #246
There is a gem that does this https://github.com/ankane/ahoy

[2019-03-15 12:17] satu0king opened #251 "Verilog Export"
A quick and dirty implementation of a verilog netlister has been implemented but we haven't published yet. I request people who have good domain knowledge in HDL to review the implementation, correctness and then proceed to make required changes.

Note that the output is not expected to be perfect, the developer may need to make several manual changes to get the circuit working. It is primarily fo

[2019-03-15 12:23] satu0king opened #252 "Waveform Generator"
There is a prototype implementation of the waveform generator. It is not very efficient and user-friendly.

Check this project https://circuitverse.org/users/3/projects/10896. You will need to fork the project and launch it in the editor to actually see the project. The implementation doesn't work in the preview mode.

There are some CSS positioning issues of the plotter. They need to be reviewed

[2019-03-15 12:25] satu0king commented on #3
https://circuitverse.org/users/3/projects/10897
Check this project out, the circuit doesn't load because of some bug in embed mode.

[2019-03-15 12:29] satu0king commented on #142
@sarthak77 since we haven't heard from you, I am releasing this issue. Please feel free to claim the issue again if you are still working on this.

[2019-03-15 14:38] monsij opened #253 "Improper thumbnail"
**Describe the bug**
A proper thumbnail for test benches is not set.

**Expected behavior**
A more appropriate thumbnail must be shown, probably a default image for such objects may also seem fine. But a broken image looks odd.

**Screenshots**
![Circuit](https://user-images.githubusercontent.com/23289387/54438874-a195f200-475d-11e9-86a1-2272993b2589.JPG)

**Desktop :**
 - OS: Windows
 - Browser :

[2019-03-15 15:26] satu0king commented on #253
Yes, please have a default image.

[2019-03-15 15:38] Ayannnn opened #254 "SignUp and LogIn page icon issue"
Two Pages:-
https://circuitverse.org/users/sign_up
https://circuitverse.org/users/sign_in

![gsoc_LI](https://user-images.githubusercontent.com/46364732/54442758-3cde9580-4765-11e9-9518-2a6fc373bf53.jpg)
![gsoc is_LI](https://user-images.githubusercontent.com/46364732/54442762-3d772c00-4765-11e9-8226-7bac7160ec5f.jpg)

In LogIn page
1--"Sign up with Google" will be "Continue with Google"
2-- There

[2019-03-15 16:15] ankur54 commented on #56
So, what is the resolved output that you want?

[2019-03-15 17:01] sarthak77 commented on #142
I was having trouble in setting up the system and had exams in between so was out for a while

[2019-03-15 17:34] ankitkataria opened #256 "Route: users/:id/groups, does not respond to the :id"
**Describe the bug**
The route `users/:id/groups` does nothing of the `:id`. It merely displays the groups of the `current_user` from [here](https://github.com/CircuitVerse/CircuitVerse/blob/master/app/views/users/logix/groups.html.erb#L22)

**To Reproduce**
Steps to reproduce the behavior:
1. Make a group from a user(say of id 2)
2. Copy the group URL(say `user/2/groups`)
3. Log in as another use

[2019-03-15 19:30] Ayannnn commented on #125
I made these Favicon Logo.

![logo](https://user-images.githubusercontent.com/46364732/54457247-e3875e00-4786-11e9-8482-6c67c4b518ed.jpg)
![logo2](https://user-images.githubusercontent.com/46364732/54457248-e3875e00-4786-11e9-9f7d-21af74e6ddb5.png)

[2019-03-16 04:47] blane1257 commented on #198
Yes, I think the low clock frequency is very limiting.

Though on second thought, this might not be such a bad thing, as it has caused me to think much more intently about optimization of systems...

[2019-03-16 04:47] #198 closed

[2019-03-16 04:50] #54 closed

[2019-03-16 04:50] #117 closed

[2019-03-16 04:50] satu0king commented on #49
There is an open PR with a few minor issues, we will have this feature soon.

[2019-03-16 04:51] blane1257 commented on #49
Ah, okay

[2019-03-16 10:19] creyente1897 opened #258 "Improve buttons for third party log in"
**Is your feature request related to a problem? Please describe.**
Currently, we have a png image of a login button for google and facebook and a link which leads us to the OAuth page.

![google_signin](https://user-images.githubusercontent.com/33548141/54473867-8978ae00-4803-11e9-8f9a-6517ed246da0.png)

**Describe the solution you'd like**
It will be much better if we can use actual buttons inste

[2019-03-16 11:15] armudgal commented on #235
Please go forward

[2019-03-16 11:17] armudgal commented on #114
@agarwalrounak Please take it up.

[2019-03-16 11:21] tabishshakeel commented on #254
I will solve this issue.

[2019-03-16 11:34] kunalvishnoi commented on #235
Sure

[2019-03-16 11:37] kunalvishnoi commented on #192
Can i go for the issue as it is still open and there is no update from long time?

[2019-03-17 00:24] fpintos commented on #251
Hi @satu0king , I don't think I'll be able to look at this anytime soon, one of the reasons being that I'm not familiar with verilog. :-) Or are we just looking to implement some UI to expose the feature?

[2019-03-17 04:08] satu0king commented on #251
@fpintos I am not familiar with verilog either, this is why I have requested someone to review the current status. UI to expose the feature can be easily done as a pop up dialog from the menu.

[2019-03-17 07:17] mohamedar97 commented on #142
i want to give this issue a try, can i take it?

[2019-03-17 11:31] mohamedar97 commented on #200
so here is how i see this, in the button configuration the user should get an option to assign a keyboard key to activate that button instead of just using the mouse.
if i understood things correctly please let me work on this issue

[2019-03-17 12:42] Aanisha commented on #196
I have changed the UI of the page icons.I'll be very glad if you try it out.

I have attached the working version of the page buttons,the text code,and
the images

On Wed, 6 Mar 2019 at 22:39, Arushit Mudgal <notifications@github.com>
wrote:

<!DOCTYPE html>
<html>

    <head>

        <title>Page Title</title>

         <link href='https://fonts.googleapis.com/css?family=Quantico' rel='stylesheet

[2019-03-17 12:50] satu0king commented on #246
@AniMysore74 this looks like a solid gem, go ahead with this.

[2019-03-17 14:02] satu0king commented on #196
@Aanisha, the code doesn't help us much as we cannot see the output. Images will help.

[2019-03-17 15:27] Aanisha commented on #196
These are the output images.

On Sun, 17 Mar 2019, 19:32 Satvik Ramaprasad, <notifications@github.com>
wrote:

[2019-03-17 15:30] prajapatgautam1999 commented on #114
@satu0king Do anyone working on this issue or I can proceed resolving this one.

[2019-03-17 15:33] ankitkataria commented on #114
@prajapatgautam1999 @agarwalrounak seems to be on this issue.
Also, all the issues that labelled `taken` have already been claimed. Try looking for ones that haven't been labelled so. :wink:

[2019-03-17 15:37] prajapatgautam1999 commented on #142
@satu0king @armudgal Is anyone working on this issue as it is not marked "taken" but there are few who seem to be working for the same.

[2019-03-17 15:41] sanctophagus commented on #55
@satu0king, can you please elaborate, what exactly you want, in the final feature?

[2019-03-17 15:48] SunYiZheXinKe opened #262 "Unable to save an empty project"
Saving an empty project produces an error.

Create a new project, click 'save online', enter a project name, and see the error.

(Not working on this issue)

[2019-03-17 16:05] ankitkataria commented on #262
The problem seems to be [here](https://github.com/CircuitVerse/CircuitVerse/blob/master/app/controllers/simulator_controller.rb#L63)
When the circuit is empty, then `data_url` is `data:,`, it otherwise is `data:image/jpeg;base64,<actual_data>`. We'll need to check if `<actual_data>` is empty and save  maybe a custom image that says "No Preview Available" for the circuit. This will be required for

[2019-03-17 16:44] blane1257 commented on #200
that is correct!

[2019-03-17 16:51] mohamedar97 commented on #200
Okay can i work on the issue?

[2019-03-17 16:56] blane1257 commented on #200
Absolutely!

[2019-03-17 18:00] theredcap commented on #262
Ok, I'll try to work on this issue

[2019-03-17 21:34] mohamedar97 commented on #200
@blane1257  i need your help with something. now i see a lot of variables and objects used but i cant find their definition anywhere, for example 'simulationArea' object is used a lot but i cant find where is it defined

[2019-03-17 22:03] blane1257 commented on #200
Sorry, I don't know the language. Maybe @fpintos can help.

[2019-03-17 22:21] mohamedar97 commented on #200
okay thanks @blane1257

[2019-03-17 23:20] mohamedar97 opened #263 "Understanding code problem"
I was trying to grasp how the CircuitVerse app is implemented, like understanding the code and so, and I’m facing a few problems.
First I see objects being used but I can’t see where they are defined example is the ‘simulationArea’  (public/js/) used In many files,
Same goes for some functions and variables like for example ‘errorDetected’, ‘updateCanvas’ ,’updateSimulation’ , etc. (public/js/list

[2019-03-17 23:20] mohamedar97 opened #264 "Understanding code problem"
I was trying to grasp how the CircuitVerse app is implemented, like understanding the code and so, and I’m facing a few problems.
First I see objects being used but I can’t see where they are defined example is the ‘simulationArea’  (public/js/) used In many files,
Same goes for some functions and variables like for example ‘errorDetected’, ‘updateCanvas’ ,’updateSimulation’, 'update()' , etc. (pu

[2019-03-18 02:24] #234 closed

[2019-03-18 03:30] SunYiZheXinKe commented on #262
One more thing to notice:
The bug only occurs when the empty circuit is currently selected. If you save the project while editing other circuits, it works fine even if there is empty circuit in the project.

[2019-03-18 05:34] #224 closed

[2019-03-18 09:17] ankitkataria opened #267 "Use enums to handle model status'"
**Is your feature request related to a problem? Please describe.**
It is often difficult to figure out the exhaustive set of values that a key should get in a model.
For example: `project_access_type` can have only three values - `Private, Public, Limited access`, though `Public` and `Private` are pretty evident,  `Limited access` isn't.

**Describe the solution you'd like**
We can use enums in ou

[2019-03-18 09:34] satu0king opened #268 "Show circuit element hovered with label"
Currently, we have a feature which shows the subcircuit hovered/clicked in preview-embed mode As shown below. We need it to also show regular circuit elements too. It can be shown like `<circuitElementClass>:<label>` if label is present, otherwise just `<circuitElementClass>`. For subcircuit, show `Subcircuit:<CircuitName>` if the label is not present and `Subcircuit:<label>` if label is present.

[2019-03-18 12:41] shubhankarsharma00 commented on #263
A shortcut to learning all this by yourself would be to get a good IDE like vs code and look for definitions and search for use of class methods. simulationArea is id of the canvas on which the circuit is drawn.

[2019-03-18 13:06] shubhankarsharma00 commented on #250
@Sadat97 are you still working on this?

[2019-03-18 13:22] tachyons commented on #267
Also solution should contain proper data migration. Existing statuses should not be lost

[2019-03-18 13:24] tachyons commented on #264
You can ask the specific questions in gittter channel. Also it will be great if you can help us by documenting them in the project wiki

[2019-03-18 13:43] mohamedar97 commented on #263
I do have vscode installed but whenever i click 'go to definition' it says not found.
Also I'm not talking about the simulationArea id , I'm talking about the object

[2019-03-18 13:51] mohamedar97 commented on #264
I would be more than happy to help with this, but i'm not so familiar with github so can you elaborate a little bit more how do you want me to help with the docs?

[2019-03-18 13:55] tachyons commented on #264
You can add code related documentations here https://github.com/CircuitVerse/CircuitVerse/wiki

[2019-03-18 14:00] mohamedar97 commented on #264
so  i should add a page called ' source code explanation' and add code related stuff to it. right?

[2019-03-18 14:28] mohamedar97 commented on #263
i managed to find at last in the logix.js but there were too many references of it so i missed it

[2019-03-18 15:58] satu0king opened #271 "Truth Table - Scroll"
When we use combinational analysis (Tools->combinational analysis) and if the number of inputs is high, the truth table is no longer viewable. Add a scroll to it, so the content can be scrolled.

**Are you working on this? (Yes/No)**
No

[2019-03-18 18:24] Sadat97 commented on #250
yes am working on it

[2019-03-18 23:04] prajapatgautam1999 commented on #262
@SunYiZheXinKe @ankitkataria I would to to work on this issue.

[2019-03-19 02:31] #268 closed

[2019-03-19 05:22] SunYiZheXinKe opened #272 "Changes to layout height gets reverted after switching to another circuits"
Changes to layout height gets reverted after switching to another circuits.

To Reproduce:
1. Create a circuit
2. Click "Edit layout", add a bunch of height, and save the change
3. Click "Edit layout" again, and confirm that the change is saved
4. Switch to another circuit, then switch back again
5. Click "Edit layout", and notice that the change of height is reverted. However, it shouldn't.

This

[2019-03-19 05:41] satu0king opened #273 "Database Seed"
Seed the following data to the database. We already have administrator@circuitverse.org. Keep all passwords  as "password". The seeds can be done in separate PRs if necessary.

- [ ] user1 - user1@circuitverse.org, user2 -  user2@circuitverse.org
- [ ] Make user1 a group mentor of group "group1", add user 2 to the group

Add the example circuits to user1 - https://circuitverse.org/examples

- [ ]

[2019-03-19 05:48] #22 closed

[2019-03-19 06:09] satu0king opened #274 "Sidekiq queue in docker"
Have queues for sidekiq (not mails) in docker.

`bundle exec sidekiq -q default -q mailers -d`

**Are you working on this? (Yes/No)**
No

[2019-03-19 06:31] #150 closed

[2019-03-19 06:31] #240 closed

[2019-03-19 06:42] #182 closed

[2019-03-19 06:52] #235 closed

[2019-03-19 07:29] #215 closed

[2019-03-19 07:41] satu0king commented on #142
This is a very easy issue, therefore the first PR will be merged.

[2019-03-19 09:09] #258 closed

[2019-03-19 11:25] shubhankarsharma00 opened #277 "safe html for description on tags page"
**Describe the bug**
when the html is not plain the whole html of project description is rendered

**To Reproduce**
Steps to reproduce the behavior:
1. Go [here](https://circuitverse.org/projects/tags/test)

**Are you working on this issue? (Yes/No)**
Yes

[2019-03-19 15:13] satu0king commented on #277
Actually, it is already html_safe, that is why you are seeing the HTML as text in the browser. @tachyons is that right?

[2019-03-19 15:24] tachyons commented on #277
By default rails consider text as unsafe because it is a potential xss target. Do we really want to allow HTML in the description ?

[2019-03-19 15:26] tachyons commented on #277
Calling html_safe will mark the text as safe, but since it is user entered field, we should not trust it. So html_safe is dangerous here

[2019-03-19 15:28] tachyons commented on #277
See https://edgeapi.rubyonrails.org/classes/ActionView/Helpers/SanitizeHelper.html

[2019-03-20 02:31] shubhankarsharma00 commented on #277
@satu0king here is what I see right now
![image](https://user-images.githubusercontent.com/32474302/54655017-414cda80-4ae6-11e9-8aa2-401a20795e29.png)

[2019-03-20 02:46] shubhankarsharma00 commented on #277
@tachyons my PR now uses sanitize but the description in show_project uses html_safe should I change that too?

[2019-03-20 02:54] shubhankarsharma00 commented on #243
@satu0king @tachyons @arkokoley  I also think that if we have a notification feature we can easily keep a follow user option and send latest updates to followers with the help of notifications (like GitHub and codeforces do). I think a perfect notification feature can take some time as a lot of experimentation will be required for it. This can also be a GSoC project.

[2019-03-20 03:04] vik-y commented on #243
Agreed. This looks like a good gsoc project. Building a good notification
system willl take time.

On Wed, 20 Mar, 2019, 8:24 AM Shubhankar Sharma <notifications@github.com
wrote:

[2019-03-20 04:33] arkokoley commented on #243
Agreed. Building a robust notification system which is free of N+1 queries is a non trivial problem, suitable for GSoC. There are a few pluggable notification systems like

[Notifications](https://github.com/rails-engine/notifications)
[Activity Notification](https://github.com/simukappu/activity_notification)

[Public Activity](https://github.com/chaps-io/public_activity)

Public Activity is for

[2019-03-20 04:40] satu0king commented on #277
Yes use santize, Actually, we were using sanitize previously, I don't recollect why we changed to this.

[2019-03-20 05:20] tachyons commented on #243
For more advanced implementation https://blog.chaps.io/2016/05/18/creating-activity-feeds-in-postgresql.html

[2019-03-20 06:13] ankitkataria commented on #243
If it hasn't already been mentioned, once the notification system is set up, we can also look into setting web push notifications.
Reference - https://rossta.net/blog/web-push-notifications-from-rails.html

[2019-03-20 07:10] armudgal commented on #192
@kunalvishnoi Please go forward.

[2019-03-20 07:17] armudgal commented on #254
@tabishshakeel hi there, I think @Ayannnn is already working on it.

@Ayannnn: I would like to change the behaviour of the solution. Mentioning 'Signing up' for both google and facebook doesn't make sense therefore it should be `Continue with Google` and `Continue with Facebook` on both Sign up and Sign-in page.
Please do the necessary edits in the issue description.

[2019-03-20 07:27] armudgal commented on #249
@Amansingla97 Please take on the issue.

[2019-03-20 07:36] armudgal commented on #196
@Aanisha Hey there, we can't see the images. It looks like you are responding through email and it would be great if you could come on github and comment. Also you need to make a Pull Request for all the changes you make

[2019-03-20 12:16] tabishshakeel commented on #254
Oh! I didn't know he was working on that issue so I solved this issue and already submitted a pull request.
I mentioned you there @armudgal .

[2019-03-20 13:06] MechaFinch opened #282 "Ability to hide components other than output"
**Is your feature request related to a problem? Please describe.**
I'd like to have the ability to hide wiring and only see outputs such as LEDs and TTY text, as when wiring output such as LEDs to be like screens, the wires get in the way.

**Describe the solution you'd like**
Some option or button that toggles the visibility of wires and/or non-output components.

**Describe alternatives you've c

[2019-03-20 14:59] satu0king commented on #282
The way I understand is you want to have a way to hide the circuitry for testing. So both Inputs and Outputs should be visible but not other circuits elements.

If we were to implement the feature we could mark certain elements as IO and dim/reduce the brightness of others either completely as you mentioned or partially.

[2019-03-20 15:04] armudgal commented on #142
@prajapatgautam1999 You can go ahead since we didn't receive any PR till now

[2019-03-20 15:06] Amansingla97 commented on #271
I am on it

[2019-03-20 16:29] mohamedar97 commented on #142
migration done under pull request #283

[2019-03-20 20:07] Sadat97 opened #284 "pg gem duplication in Gem file"
While I was setting up the environment I noticed a warning,
![Screenshot from 2019-03-20 22-05-32](https://user-images.githubusercontent.com/26658549/54715551-654b0300-4b5c-11e9-8a1d-3d919c94dcd3.png)

Are you working on this issue? (Yes/No)
Yes

[2019-03-21 02:51] prajapatgautam1999 commented on #142
@armudgal Alright then I am now working on this issue.

[2019-03-21 02:52] prajapatgautam1999 commented on #142
@mohamedar97

[2019-03-21 05:55] #277 closed

[2019-03-21 06:31] fpintos opened #287 "Open up wiki so other people can collaborate"
@satu0king ,

The CircuitVerse wiki in GitHub seems to be read-only right now.
It would make sense to open it up so other people can edit as well; there's an option in the project settings for that.

Optionally, add people that are interested in contributing to the wiki to the list of collaborators.

[2019-03-21 06:44] fpintos commented on #282
Hi @MechaFinch

One way to hide circuitry is to create a sub-circuit.

In your example, you can create sub-circuits that will hold the wires internally and expose the pins where you connect the leds in the main circuit. Obviously it requires a little more work, but it is doable.

Here's an example: https://circuitverse.org/users/1935/projects/5524
In the "16-pixel" row circuit I have the "wires" a

[2019-03-21 06:57] satu0king commented on #287
I will go with this option. Have added you as collaborator.

[2019-03-21 07:07] mohamedar97 commented on #142
@prajapatgautam1999 no need to do so i already fixed the issue

[2019-03-21 07:08] mohamedar97 commented on #142
Pr #286

[2019-03-21 09:37] NavonilDas commented on #272
I am Working on it.

[2019-03-21 10:01] NavonilDas opened #288 "Adding a custom context menu."
**Describe your feature.**
Adding a custom context menu for the simulation area.

The context menu will contain the following options in the same order as well:
- [ ] Copy
- [ ] Cut
- [ ] Paste
- [ ] Delete  (it deletes the selected circuit element)
- [ ] Undo
- [ ] New Circuit
- [ ] Insert Subcircuit
- [ ] Center Focus

This is the default context menu provided by Chrome.
![screenshot](https://us

[2019-03-21 15:55] monsij opened #289 "Redundant icon file"
**Describe the bug**
Currently there are two files named `favicon.ico` and `favicon.ICO`.  Both of these serve the same purpose.

**Screenshots**
![Duplicate](https://user-images.githubusercontent.com/23289387/54765552-bd970900-4c1f-11e9-9321-224392cca911.PNG)

**Are you working on this issue? (Yes)**

[2019-03-21 16:25] vik-y commented on #287
@satu0king but we have a separate place for storing docs right?

[2019-03-21 16:27] vik-y commented on #274
I can take ownership of this. If anyone is interested to work on this, please contact me.

[2019-03-21 16:29] vik-y commented on #246
I can take ownership of this task. Whoever wants to work on this, please contact me.

[2019-03-21 19:33] sal2701 opened #291 "Extra columns in Combinational Analysis due to an extra space in input"
**Description of the bug**
In the Combinational Analysis, while entering the input number of columns vary because of a space at the end of the input.

**Steps to reproduce the behavior:**
1. Go to Simulator.
2. Click on Combinational Analysis and Enter "a b c "
3. The generated table has 4 columns instead of the expected 3 columns.

**Expected behavior**
4 columns

**Screenshots**

![Circuitverse_

[2019-03-22 00:11] mohamedar97 commented on #200
@armudgal so i'm done with adding this feature but there a problem i'm having that is a little bit awkward.
so i have added a property to the button class "activationKey" which is set to the key that activates this button.
then i added two event listeners to the window "keyup" and "keydown", in keydown i check if 'e.key' matches the activationKey property of any button defined in the globalScope a

[2019-03-22 00:14] mohamedar97 commented on #200
here is the problem i'm having, when either of the events occur all the code in them runs fine except for the "resolve" method, however if i attach the event to the window from the browser console everything works perfectly.
`window.addEventListener('keydown', function (e) {

        // If mouse is focusing on input element, then override any action
        // if($(':focus').length){
        //

[2019-03-22 00:18] mohamedar97 commented on #200
here is the problem i'm having, when either of the events occur all the code in them runs fine except for the "resolve" method, however if i attach the event to the window from the browser console everything works perfectly.
`window.addEventListener('keydown', function (e) {

        if (globalScope.Button.length > 0) {
            globalScope.Button.forEach((button,index) => {
                if

[2019-03-22 03:49] fpintos commented on #200
I'll venture a guess that you might need to add the button to the simulation queue instead of calling resolve directly.
I can give it a try tomorrow and see if I spot anything else.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Mohamed Raafat <notifications@github.com>
Sent: Thursday, March 21, 2019 8:18:20 PM
To: CircuitVerse/CircuitVerse
Cc: Fabio Pintos

[2019-03-22 06:52] AniMysore74 commented on #246
@vik-y I have started integration.

[2019-03-22 09:00] Amansingla97 commented on #274
I am on it :)

[2019-03-22 11:20] mohamedar97 commented on #200
i think upon creating an element the is added automatically to the simulation queue, right?
the code runs perfectly when i add the event from the browser console but only the resolve method doesn't work if i add the event in my code editor.
does anyone have an explanation for this?

[2019-03-22 12:50] prajapatgautam1999 commented on #142
@satu0king @armudgal @mohamedar97 So as far till now no, PR are made to fix the issue successfully.
I am working on this issue for now, and will update accordingly.

[2019-03-22 15:15] satu0king commented on #287
@vik-y the other repo is for documentation on how to use CircuitVerse not with respect to the code.

[2019-03-22 17:27] ankitkataria opened #295 "Make groups create route user specific"
**Is your feature request related to a problem? Please describe.**
Currently, there is only one route for creating groups which is `groups/new`. It creates groups corresponding to `current_user` i.e. the user that is currently logged in. In #294 I've added the permissions for admins to view the groups of any user using the route `users/:id/groups/`. If we're required to give the admin the permissi

[2019-03-23 05:55] shubhankarsharma00 commented on #243
@satu0king @vik-y @arkokoley @tachyons can someone spare some time and review my draft proposal on this issue?

[2019-03-23 05:57] Amansingla97 commented on #291
This happens when we enter a space after last input.https://github.com/CircuitVerse/CircuitVerse/blob/c9e365ba3e9095628f312781c3106754a926e43f/public/js/combinationalAnalysis.js#L22 when .split(' ') detetcts a space it forms a empty input. let me know if you need any help

[2019-03-23 06:10] Amansingla97 commented on #262
@prajapatgautam1999 already done waiting it to get merged

[2019-03-23 08:15] #249 closed

[2019-03-23 08:17] #256 closed

[2019-03-23 08:23] #273 closed

[2019-03-23 09:07] ankitkataria commented on #137
I'll be working on this issue from now on. I'll be updating the PR with the tests.

[2019-03-23 09:22] #262 closed

[2019-03-23 09:28] #271 closed

[2019-03-23 09:36] satu0king commented on #289
Yes the one with ICO is redundant.

[2019-03-23 09:40] monsij commented on #289
I'm interested to take this up.

[2019-03-23 09:41] satu0king commented on #114
This is an easy issue and should be resolved within an hour. Since people have been taking it and not completing it, We will merge the first PR.

[2019-03-23 09:41] satu0king commented on #289
go ahead

[2019-03-23 10:01] satu0king opened #300 "Watermark and tooltip overlapping"
![image](https://user-images.githubusercontent.com/2092958/54864688-9d329000-4d80-11e9-820e-37ae519d2910.png)

**Are you working on this issue? (Yes/No)**
No

[2019-03-23 10:04] Amansingla97 commented on #300
I would work on it 🙂

[2019-03-23 10:10] #289 closed

[2019-03-23 10:11] satu0king commented on #243
Please send proposals in private and not on the public forum.

[2019-03-23 10:27] agarwalrounak commented on #20
Here you can find the files that have to be modified: https://hastebin.com/osawakonos.cpp
Let me know what are the changes that can be done now.

[2019-03-23 10:37] satu0king commented on #288
Good idea. I have updated the issue to be more appropriate.

[2019-03-23 10:41] satu0king opened #301 "Select all elements"
Currently, the user has to manually hold down shift and select all elements. Write down a function that can select all elements. Bind the function with "CTR + A".

**Are you working on this? (Yes/No)**
No

[2019-03-23 10:48] #253 closed

[2019-03-23 10:50] tachyons commented on #243
Oops, I closed the issue by mistake

[2019-03-23 10:59] shubhankarsharma00 commented on #243
Okay @satu0king :grimacing:

[2019-03-23 18:28] sal2701 commented on #291
Thanks! I am planning on using ```.match(/\S+/g)``` instead of ```.split(' ')```. This will give me everything except the whitespace and solves the above problem as well. I don't think this should cause any other problems. Do suggest me anything or any problems this might cause :)

[2019-03-23 19:26] NavonilDas commented on #301
I am on it.

[2019-03-24 11:47] satu0king opened #307 "Keyboard doesn't work in preview mode."
https://circuitverse.org/users/2418/projects/10802

This circuit's keyboard doesn't work in preview mode. This will mostly need copying of some listener code from listeners.js to embedListeners.js

**Are you working on this issue? (Yes/No)**
No

[2019-03-24 12:17] satu0king opened #308 "CircuitVerse Discord Circuit Embed"
**Is your feature request related to a problem? Please describe.**
When we embed a youtube link in Discord, you can see the video inline in chat. Similarly I would like to see the circuit preview image or better still circuit preview itself inline.

**Describe the solution you'd like**
I have no idea if this is possible. Would like someone to survey on the same. I found something that might help:

[2019-03-24 13:09] ankitkataria commented on #307
I'll look into this.

[2019-03-24 13:35] theredcap opened #309 "Login Template Text Overflow"
**Problem**
![login](https://user-images.githubusercontent.com/42991063/54880125-93d12280-4e69-11e9-8103-111794a79807.png)

Here the text Facebook is overflowed from the button

**Expected behavior**
A clear and concise description of what you expected to happen.
Something like that of signup page would look good.
![signup](https://user-images.githubusercontent.com/42991063/54880133-bcf1b300-4e69-

[2019-03-24 13:38] theredcap commented on #309
This type of behavior is observed when the browser is maximized.
![login1](https://user-images.githubusercontent.com/42991063/54880181-3be6eb80-4e6a-11e9-9c91-228bcbe82d4d.png)
When it is minimized to this seems fine

[2019-03-24 17:23] theredcap opened #311 "Timing Diagram Visualization"
**Is your feature request related to a problem? Please describe.**
What are your thoughts on making a timing diagram visualization. It would be easier to look at how the different signals are acting at certain instant of time.

**Describe the solution you'd like**
To build a tool that would help us to visualize the timing diagram. Probably something like this.
![timing](https://user-images.githubu

[2019-03-24 17:57] theredcap opened #312 "Preset not working in Sequential elements."
**Describe the bug**
https://circuitverse.org/users/4399/projects/12251
The Preset input does not seem to have any reaction to the sequential system. I have tried it on SR Flip Flop and D Flip Flop but it doesn't seem to bring any change in the output of the Flip Flops

![pre1](https://user-images.githubusercontent.com/42991063/54883491-326f7a80-4e8e-11e9-908f-814f60c106a2.png)

![preset](https://

[2019-03-24 21:48] jbox144 commented on #308
Message embeds are generated by bots normally.

That being said, we *could* certainly add a bot to the CircuitVerse Discord that embeds a CircuitVerse simulator when a link is posted, similar to the BlueprintBot commonly used on Factorio discord servers. I know that is an option, although it would not make CircuitVerse embeds native to discord, but would make it possible to preview circuits via Di

[2019-03-24 21:56] jbox144 commented on #308
For reference, here's an example of jbot1 using customly generated embeds. Only bots can use such embeds, but we could easily use a bot to post CircuitVerse embeds whenever a user posts a CircuitVerse link.
![image](https://user-images.githubusercontent.com/40789662/54886423-ee0acb80-4edb-11e9-8c8b-b4b2e8aafb5c.png)

[2019-03-25 03:50] satu0king commented on #308
Yes, a bot will do, is it easy to add a bot?

[2019-03-25 03:58] #300 closed

[2019-03-25 06:37] blane1257 commented on #308
It's fairly easy to make a bot, though I'm not sure if the embed feature would allow for the circuitverse preview. It could certainly show an image of the circuit, but I'm not sure if it would be able to use iframes...

[2019-03-25 06:46] blane1257 opened #313 "Fix discord link"
The discord link found in the readme file does not work.

The link is: https://discordapp.com/channels/552660710232948749

Discord requires that users be "invited" to a server to have access to it. This is as simple as a single invite link. (set to never expire)

A discord invite should look like "https://discord.gg/######"
(in place of "######" should be a random 6 letter unique identifier)

[2019-03-25 06:52] blane1257 commented on #313
@jbox144 I believe you can get an invite easily.

[2019-03-25 07:34] jbox144 commented on #308
Using python like I did, it's dead easy to make a bot. You can easily create a bot account directly from Discord, and the scripting is childs play from my experience.

[2019-03-25 08:01] satu0king commented on #308
Yes atleast image is good

[2019-03-25 10:30] NavonilDas commented on #312
I am working on it.

[2019-03-25 11:51] jbox144 commented on #313
@blane1257 Ah yes, here it is!
https://discord.gg/95x8H7b

[2019-03-25 14:27] MechaFinch commented on #311
Try placing a Flag from the Misc section and connect a wire to it. It does this.

![waveform visualizer](https://user-images.githubusercontent.com/33042726/54927476-9de63600-4ee8-11e9-98c1-19b85a8d3679.png)

[2019-03-25 14:38] NavonilDas opened #316 "The JK Flip flop doesn't Updates its center value."
**Describe the bug**
The center value of JK Flip flop does not get updated on changing the Output (q). Most of the sequential elements update their center value on a change in output.

**To Reproduce**
Just Build a simple JK Flip flop circuit.

### Doesn't affect much

**Screenrecording**
The Part has been higlighted.
![jk](https://user-images.githubusercontent.com/29132316/54928277-ad419f80-4f39-

[2019-03-25 16:07] satu0king commented on #125
Sorry for the delay, we have shortlisted these two logo.

@blane1257's logo
![image](https://user-images.githubusercontent.com/2092958/54935041-88ebc000-4f45-11e9-9539-f34476d55f4b.png)

@pradnyasd's logo
![image](https://user-images.githubusercontent.com/2092958/54935074-99039f80-4f45-11e9-83df-2971219dd328.png)
Please fine tune your logos. @pradnyasd a black and white logo would be good.