[2019-12-08 10:13] sakshi1499 commented on #379
@JoshHeng We don't. If you go through these articles, they'll specify that these are the most important articles that should be taken care of, if not then it might lead to article 79. @tachyons should I approve the task?

[2019-12-08 10:58] tachyons commented on #379
Is this task added to GCI already ?

[2019-12-08 11:27] sakshi1499 commented on #379
Yes it was added long back, with aim of just researching and providing solutions

[2019-12-08 12:09] JoshHeng commented on #669
Issue fixed in branch stories/new_ux. Can close

[2019-12-08 13:08] tachyons commented on #664
https://codein.withgoogle.com/dashboard/tasks/5538448790781952/

[2019-12-08 13:37] tachyons commented on #663
It is published now

[2019-12-08 13:54] JoshHeng commented on #521
@eKuG I installed Ruby using the GUI installer and then followed the instructions in the CircuitVerse README and that worked fine for me. I'm running Windows 10 Home without Docker, and all I have to do to start the server is to navigate to the CircuitVerse directory and enter `rails s -b 127.0.0.1 -p 8080` in command prompt (as said in the README).

[2019-12-08 13:56] eKuG commented on #521
That's why this is just a documentation task

[2019-12-08 14:01] JoshHeng commented on #521
Isn't it already documented though, on the README? If anything needs to be added, it's literally to install Ruby using the installer on their website

[2019-12-09 09:35] M06631 commented on #444
Hi please assign this issue to me am working on it

[2019-12-09 09:49] M06631 commented on #467
Please assign me this issue I would like to work on it

[2019-12-09 18:10] nrs1729 commented on #521
I claimed the task on GCI and wrote up how I installed ruby/rails on WSL - is this what was intended?

[2019-12-10 18:40] NumberC commented on #663
I just claimed this task on GCI. Has someone been trying this or has done it already?

[2019-12-11 21:15] nrs1729 commented on #527
Hi, just to say I claimed the task on GCI and am working on it.

[2019-12-13 12:18] #661 closed

[2019-12-13 22:36] nrs1729 opened #733 "Add clarifications to README setup instructions"
**Is your feature request related to a problem? Please describe.**
Some of the instructions are unclear and incomplete, making them hard to follow.

**Describe the solution you'd like**
Add instructions (or a link to instructions) for installing and running redis server and for setting up postgres, and rephrase the line about configuring the database.

**Are you working on this? (Yes/No)**
Yes

[2019-12-14 07:51] sal2701 commented on #733
Hey @nrs1729, this can be a GCI task, I'll add one so you can claim it then

[2019-12-14 12:57] nrs1729 commented on #114
Hi! Just to say I claimed the task on GCI and am working on it :)

[2019-12-14 17:47] nrs1729 commented on #733
Thanks!

[2019-12-15 06:28] satu0king commented on #733
These are the instructions if the developer chooses not to use Docker correct ?

[2019-12-15 06:28] satu0king commented on #733
These are the instructions if the developer chooses not to use Docker correct ?

[2019-12-15 10:45] nrs1729 commented on #733
Yeah without Docker

[2019-12-15 14:08] nrs1729 commented on #733
I've already done two beginner tasks so someone else can claim it if they want.

[2019-12-16 08:36] sal2701 commented on #733
@nrs1729 That's very kind of you. You can send a PR, in-case no one claims this within a few days we'll merge yours because this is a very important part of the ReadMe and we need it to be done as soon as possible.

[2019-12-16 17:50] nrs1729 commented on #733
Okay cool, I made a PR last week for a task adding WSL instructions (https://github.com/CircuitVerse/CircuitVerse/pull/720) so is it okay if I use that as a base instead of the currently merged README (create a branch of the branch I made for the task)? I know some other people edited the README for docker instructions etc.

[2019-12-17 09:46] kshitijandmojo commented on #712
Hi!
I would like to solve this issue, but an not able to understand which files are involved, coukd you please help me with them?

[2019-12-17 15:33] Shivansh2407 commented on #662
Can you please explain the term own controller . I would like to fix this issue please

[2019-12-17 15:42] tachyons commented on #662
@Shivansh2407 Can you go through this tutorial, https://www.youtube.com/watch?v=wbZ6yrVxScM This will give an idea about MVC architecture in Rails, also feel free to ask any doubts in our slack channel

[2019-12-17 15:50] kshitijandmojo opened #742 "Getting Started Videos Corrupted"
On the website The Videos in getting started section are not able to play cuz they are being described as corrupted

**To Reproduce**
Steps to reproduce the behavior:
  Open Firefox Web browser
 Go to 'https://docs.circuitverse.org/#/getting_started'

**Expected behavior**
Videos must be ready to be played as like in other sections of the page

**Screenshots**
Attached below

**Are you working on

[2019-12-18 23:06] M06631 commented on #444
@phyzicist  @satu0king
I add this feature it looks like:
![Text size](https://media.giphy.com/media/XygiJjMl06AhhEPGxW/giphy.gif)
I'll make a PR to master I think?

[2019-12-19 07:03] sharmaaditya570191 commented on #533
Hi @ankitkataria and @satu0king  . I would like to take this up.

[2019-12-19 17:25] nrs1729 commented on #604
Would this be added as in the tools menu?

[2019-12-19 18:10] PragatiVerma18 commented on #604
Yeah, that would be good!

[2019-12-20 15:20] nrs1729 opened #748 "Update TestBench Page"
**Is your feature request related to a problem? Please describe.**
The testbench generate data page https://circuitverse.org/testbench doesn't really have styling and doesn't look like the rest of the site, also doesn't have a header and footer (and doesn't seem to be linked to anywhere on the site other than in docs?)

**Describe the solution you'd like**
Update the design of the page, add a head

[2019-12-20 15:44] nrs1729 commented on #733
No one has claimed it so I had a go and made a PR https://github.com/CircuitVerse/CircuitVerse/pull/749 (based of the currently merged readme - the instructions I/other people added for WSL and docker are in different PRs), is that alright?

[2019-12-20 15:52] fluctix commented on #638
As you already reported on slack, the colon seems to be not allowed on Windows file names Perhaps we can try what this [slack answer](https://stackoverflow.com/questions/33021074/rails-iso8601-strip-dashes-colon) tells.

[2019-12-20 15:55] nrs1729 commented on #663
Is someone still working on it? The task is unclaimed.

[2019-12-20 17:25] nrs1729 commented on #369
Would it be okay to have a "-" button on each column that deletes it instead of one button at the top?

[2019-12-20 18:52] #459 closed

[2019-12-21 14:56] nrs1729 opened #755 "TestBench breaks with repeated column names"
**Describe the bug**
When the name for different input/output columns is set to be the same, the generate data function counts them as one column (taking the last one I think) due to the way the data is stored in an object.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://circuitverse.org/testbench
2. Add some input and output columns
3. Rename some of the columns to be the same

[2019-12-21 15:46] NumberC commented on #755
I'm currently taking a look at this. Forbidding the use of the same name is a simple and nice approach. I will first try to see if we can allow it.

[2019-12-22 01:08] nrs1729 commented on #755
If its merged I can update https://github.com/CircuitVerse/CircuitVerse/pull/754 so it works with the new function.

[2019-12-22 05:46] sakshi1499 commented on #712
Bootstrap issue is already being dealt with in issue #509

[2019-12-22 14:35] ankitkataria opened #760 "Add a button to delete profile picture."
**Is your feature request related to a problem? Please describe.**
Add a button to delete the profile picture and reset it to default.

**Describe the solution you'd like**
A button on the profile page to achieve the above functionality.

**Are you working on this? (Yes/No)**

No, GCI task.

[2019-12-22 14:36] ankitkataria commented on #760
Fixed in #757

[2019-12-22 15:25] shubhankarsharma00 opened #761 "language filter for descriptions."
**Is your feature request related to a problem? Please describe.**
As the pics shared in this issue : https://github.com/CircuitVerse/CircuitVerse/issues/561
 many users on the platform use profanity which shoud be restricted.

**Describe the solution you'd like**
I want to restrict the use of profanity in at least descriptions.

**Describe alternatives you've considered**
We can use https://githu

[2019-12-22 15:48] tachyons commented on #761
Agree with having a profanity filter for public projects, comments etc

[2019-12-23 00:23] nrs1729 commented on #657
For Interactive Book I used session storage to remember whether dark mode is enabled, is that alright?

[2019-12-23 05:18] junron commented on #761
I think this should be a task

[2019-12-23 07:58] #552 closed

[2019-12-23 11:37] MrBartusek opened #765 "Navbar not working in new ux"
**Describe the bug**
On any page navbar buttons have `#` in href, `Learn` button is always active
Only `Login` and `Notifications` works properly
Page logo should work as an index button but it not

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to any page with navbar
2. See error

**Expected behaviour**
Clicking buttons should change page and the selected page should be marked as activ

[2019-12-23 12:08] MrBartusek opened #767 "No comments section in projects"
**Describe the bug**
The comments section on projects don't show

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to any project page
2. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/23432278/71357269-61359100-2585-11ea-9326-1bb9227d7ac9.png)

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser: Vivaldi (chromium)

**Are yo

[2019-12-23 12:10] junron commented on #765
Yep currently only Login works iirc

[2019-12-23 12:14] MrBartusek commented on #765
@junron edited

[2019-12-23 12:29] MrBartusek opened #769 "Sign-in/Login page layout"
**Describe the bug**
Login and sing-in page needs layout changes

1. ~~Remember me checkbox is not styled at all~~ (fixed in #1259)
2. Social login buttons look odd when they are aligned that way if we want to stick to circles the best way to fix that will be something like that:

![image](https://user-images.githubusercontent.com/23432278/77224763-1a960980-6b69-11ea-8447-cb48ce3ffaa8.png)

3. Ele

[2019-12-23 13:01] MrBartusek opened #771 "Old logo on index"
**Describe the bug**
CirciutVerse logo changed but the logo on index page is still old
If there is a black version of the new logo it should be replaced but if not it should be changed to normal text

**Screenshots**
![image](https://user-images.githubusercontent.com/23432278/71359392-8c6fae80-258c-11ea-8da8-f7517683def8.png)

**Desktop (please complete the following information):**
 - OS: Windows

[2019-12-23 13:43] nitin10s commented on #769
1) Yes true I didn't make it during design therefore it was copied as it is from previous design.
2) There is a reason the button is left aligned. This might help you. https://www.interaction-design.org/literature/topics/fitts-law
3) There are no hard and fast rules for button styling. It should follow just some few basic guidelines: It must appear clickable and should clearly depict what'll happe

[2019-12-24 15:13] NumberC commented on #771
I don't think this is an issue. The logo changed, but CircuitVerse spelled out like that is a design choice that makes it look better and more unique. That image highlights the organization's name, even though it may not be the logo.

[2019-12-24 16:32] nitin10s commented on #771
Actually, we currently don't have a logo as such. We'll be finalizing a new logo after GCI (It was a task for students)

[2019-12-25 06:02] #663 closed

[2019-12-26 17:35] MrBartusek opened #779 "Default Javascript Popups"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I see default javascript alert() and prompt(), They are really lowering experience of using CirciutVerse

**Describe the solution you'd like**
I think adding a modal popup styled circiutverse-like will be a better solution

**Additional context**
![image](https://user-images.githubusercontent.com/23432278

[2019-12-28 11:41] JoshHeng opened #782 "Add social media icons"
We've just added Facebook and Twitter accounts. Icons/links to these should be shown on the header

**Are you working on this? (Yes/No)**
Yes

[2019-12-28 15:35] NumberC commented on #782
Wouldn't it be better to put it in the footer?

[2019-12-28 16:05] NumberC opened #784 "CircuitVerse Doesn't Work on Mobile Devices"
**Describe the bug**
On mobile devices, you can't use the simulator!

**To Reproduce**
Steps to reproduce the behavior:
1. Go to CircuitVerse on a mobile device
2. Go to the simulator
3. Try to use it
4. You'll have a hard time using it

OR

1. Go to CircuitVerse on your browser
2. Inspect Element
3. Change Size to be similar to that of a mobile device
4. Go to the simulator
5. Try to use it
6. Yo

[2019-12-29 20:08] Ananthavijay commented on #658
@sal2701 Could u make this a GCI task?

[2019-12-29 23:25] MrBartusek commented on #782
@NumberC good idea but for now this will be better cause footer will be redesigned soon I think

[2019-12-30 05:35] #685 closed

[2019-12-30 08:44] #538 closed

[2019-12-31 13:55] JoshHeng opened #787 "Create website redirects"
**Describe the solution you'd like**
Create redirects from the main website to other websites, such as social media:
- circuitverse.org/facebook
- circuitverse.org/twitter
- circuitverse.org/slack
- circuitverse.org/discord
- circuitverse.org/learn
- circuitverse.org/docs
- circuitverse.org/github

**Are you working on this? (Yes/No)**
I can if moderators think this is a good idea

[2020-01-01 13:12] salomon03 commented on #576
Happy new year to all can i have the source code

[2020-01-01 18:04] Ananthavijay opened #792 "Documentation on creation of google,fb,github app"
There should be documentation on creation
of google, fb, github apps so that user can use login with feature in development

**Are you working on this? (Yes/No)**
Yes

[2020-01-02 14:52] MrBartusek commented on #742
![image](https://user-images.githubusercontent.com/23432278/71672973-b2106b00-2d77-11ea-8e63-813a9f6b6ba7.png)
works fine in my case, try update or reinstall browser

[2020-01-02 15:19] #782 closed

[2020-01-02 16:53] Ananthavijay commented on #792
I want to work on this @tachyons

[2020-01-02 17:14] #787 closed

[2020-01-02 18:27] MrBartusek commented on #711
I think that might be closed cause [this page will be redone](https://xd.adobe.com/spec/7453ce8f-6d79-4969-4a1a-d0162c42c53d-0262/screen/8eb46bd1-d2bb-4f71-b5f0-d18b8e887157/Profile-Self-1) in new UI same as #710

[2020-01-02 19:32] MrBartusek commented on #548
@plxity  this is fixed in new ui can be closed
![image](https://user-images.githubusercontent.com/23432278/71687744-daf82680-2d9e-11ea-8684-064a074fa3a8.png)

[2020-01-02 19:36] MrBartusek commented on #576
@salomon03 you can access source code[ here](https://github.com/CircuitVerse/CircuitVerse), and this is an issue page, not good place to ask questions like that instead please ask on [Slack](https://join.slack.com/t/circuitverse-team/shared_invite/enQtNjc4MzcyNDE5OTA3LTdjYTM5NjFiZWZlZGI2MmU1MmYzYzczNmZlZDg5MjYxYmQ4ODRjMjQxM2UyMWI5ODUzODQzMDU2ZDEzNjI4NmE)

[2020-01-02 19:39] MrBartusek commented on #556
![image](https://user-images.githubusercontent.com/23432278/71688317-f0ba1b80-2d9f-11ea-8974-da311c03e4fc.png)
works fine on chromium, maybe it has been fixed

[2020-01-02 20:14] MrBartusek commented on #771
the index will be different in new UX so closing

[2020-01-02 20:14] #771 closed

[2020-01-02 20:20] MrBartusek commented on #701
Adding it on [docs](https://github.com/CircuitVerse/CircuitVerseDocs) will be better sollution

[2020-01-02 20:24] MrBartusek commented on #712
@sakshi1499 that issue is more about buttons
@kshitijandmojo you need to add form classes from bootstrap in `app\views\projects\_form.html.erb`
basically same rules as #778

[2020-01-02 21:45] JoshHeng commented on #784
I suggest just disabling the simulator on mobile and displaying a message to use a desktop. Adding mobile compatability would be a huge job without much of a target audience, and a mobile screen is too small and quite unoptimised for this task

[2020-01-03 03:49] sakshi1499 commented on #712
@MrBartusek Yes I very well know that. Its not worth mentioning in twice, when it has already been dealt with in another PR. This is what creates duplicates.

[2020-01-03 04:34] tachyons commented on #641
This seems an expected behavior, cc @satu0king

[2020-01-03 04:40] Ananthavijay opened #801 "No option to Sign out"
**Describe the bug**
There is no option for :
- signout
- view my circuits,my profile
in new UI
**To Reproduce**
Steps to reproduce the behavior:
1. Go to homepage
2. See error

**Expected behavior**
There should be a dropdown containing these.

**Additional context**
Add any other context about the problem here.

**Are you working on this issue? (Yes/No)**
Yes

[2020-01-03 05:48] #662 closed

[2020-01-03 09:14] MrBartusek commented on #712
@sakshi1499 #778 is only about assignment but here is needed to do something like this but on a different page, not a duplicate

[2020-01-03 09:26] sakshi1499 commented on #712
@MrBartusek I was talking about #509, please see my above comment again. Thanks

[2020-01-03 09:39] MrBartusek commented on #712
@sakshi1499 oh yeah sorry, in that case #509 should be closed case it don't describe whole problem

[2020-01-03 12:01] MrBartusek commented on #784
On our [Slack](https://circuitverse-team.slack.com/archives/CJTJJ6XN0/p1578044638130300) we disused and like a @JoshHeng said there is no point of making simulator mobile-friendly, I will work on blocking it to mobile users

[2020-01-03 12:02] JoshHeng commented on #784
@MrBartusek Note that the circuit previewing should still work (which is done through an iframe)

[2020-01-04 14:04] mohit-003 opened #807 "In the simulator,project name merges with 'help' when the screen size is reduced"
**Describe the bug**
In the simulator ,the name of the project merges with 'help' when screen is shrunk ,which makes it difficult to access 'help'.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Simulator](https://circuitverse.org/simulator)
2. Reduce the screen size , and look at the top bar.

**Expected behavior**
The project name should not merge with help.

**Screenshots**
![imag

[2020-01-04 16:04] ShreyaPrasad1209 commented on #801
Sign out option is relevant only when the user is signed in that's why it is not present separately.
![2020-01-04 (2)](https://user-images.githubusercontent.com/43600306/71768161-bb493580-2f39-11ea-8df1-beaa04b0fab3.png)

[2020-01-04 16:10] Ananthavijay commented on #801
@ShreyaPrasad1209 this is old ui. I am talking about the new one

[2020-01-04 17:44] AnupNair08 commented on #769
I would like to work on this issue and come up with a solution covering all the suggested changes
Thanks

[2020-01-05 10:56] satu0king commented on #784
@MrBartusek Instead of just disabling the simulator in previews, instead maybe show the circuit image that is saved.

[2020-01-05 11:02] MrBartusek commented on #784
@satu0king this page triggers only when `edit.html.erb` is requested, did it broke something?

[2020-01-05 11:30] JoshHeng commented on #784
@satu0king Does the circuit preview need to be interactive? Because then the image method wouldn’t work (or we could do one image per combination of inputs)

[2020-01-05 11:34] satu0king commented on #784
Oh my bad

[2020-01-05 12:16] JoshHeng commented on #784
A better option could maybe be to show the user the interactive/embedded version of the circuit on mobile devices, which doesn't have the controls.
(For example showing this https://circuitverse.org/simulator/embed/42961 with a message at the top saying the circuit is only editable if a larger screen or computer is used)

[2020-01-05 12:20] JoshHeng opened #808 "Add an 'Open online' button in the simulator menu"
**Describe the solution you'd like**
Currently, the project menu in the simulator shows options for managing a project and opening an offline project, but it doesn't have a button for opening an online project.

<img width="156" alt="Screenshot 2020-01-05 at 12 17 30" src="https://user-images.githubusercontent.com/34946235/71780041-8a0e4b00-2fb5-11ea-80fa-0948da2ea8dd.png">

Although a user's proj

[2020-01-05 16:48] MrBartusek commented on #784
@JoshHeng `edit.html.erb` ([the file where detection is triggered](https://github.com/CircuitVerse/CircuitVerse/pull/806/files#diff-fac33a1fb6ffd5158a20f99fb570ac31)) is renderd only when user request:
`/simulator` which is rendering `SimulatorController#new`
`/simulator/edit/:id` which is rendering `SimulatorController#edit`
So user is blocked only when he click `Edit` or `Launch Simulator` on th

[2020-01-05 16:52] NumberC commented on #784
What about instead of redirecting them to another page, you just forbid them from clicking on any of the circuits (Inputs, Outputs, Gates, etc.)?

[2020-01-05 16:58] MrBartusek commented on #784
@NumberC The whole simulator on small screens is broken so I don't think there is any sense of doing that. For this moment we don't have plans to support simulator as slack poll says

![image](https://user-images.githubusercontent.com/23432278/71783286-ea68b100-2fe4-11ea-9359-c609a703c195.png)

[2020-01-05 17:00] NumberC commented on #784
Currently, is the embeded view working? I thought it wasn't working.

[2020-01-05 17:07] MrBartusek commented on #784
@NumberC all photos made on chrome dev tools phone emulator
Simulator - **Blocked**
![simulator](https://user-images.githubusercontent.com/23432278/71783352-e5f0c800-2fe5-11ea-8536-fc59e4a19bc8.png)

Embed - **Working**
![embed](https://user-images.githubusercontent.com/23432278/71783356-ef7a3000-2fe5-11ea-9797-2141d0a33bc9.png)

Project View - **Working but, not related UI issues**
![project view

[2020-01-05 17:08] NumberC commented on #784
Oh, ok. Sorry, disregard my suggestion. I thought the project view wasn't working due to a change

[2020-01-05 17:09] MrBartusek commented on #784
No problem

[2020-01-05 17:22] JoshHeng commented on #784
I would change the buttons to:
`Go back` to `View Circuit`
`Continue anyway` to `Go back`

`View Circuit` should go to the full screen, read-only embed page that I mentioned earlier. If you want, you can make another route (something like /simulator/view) which calls the same controller and does exactly the same thing.

Completely remove the ability to bypass the message as there is no need to giv

[2020-01-05 17:46] MrBartusek commented on #784
@JoshHeng I moved it to [Slack](https://circuitverse-team.slack.com/archives/CJTJJ6XN0/p1578246347159700)

[2020-01-05 21:38] MrBartusek opened #809 "Add search bar in simulator"
As a new user of CircuitVerse, I don't know in which categories all components are so it will be helpful to add a small search bar

**Additional context**
![image](https://user-images.githubusercontent.com/23432278/71786390-3cbcc880-300b-11ea-9582-e6553247f26f.png)
something like this but make it look as a search bar
![image](https://user-images.githubusercontent.com/23432278/71786450-ab018b00-300

[2020-01-05 23:02] Ananthavijay commented on #523
@eKuG

[2020-01-06 12:57] fluctix commented on #808
Can be a good-first-issue

[2020-01-06 16:28] Shivansh2407 commented on #466
Can I work on this issue sir?

[2020-01-06 17:09] Shivansh2407 commented on #505
Can I please work on this issue?

[2020-01-06 20:56] Ananthavijay commented on #523
@eKuG I have made a universal shift register. Check it out here : https://circuitverse.org/users/13891/projects/45314 so that I can add it into the example list as suggested

[2020-01-07 03:05] eKuG commented on #523
Yes you may use it. It would be better if you could explain the working for other people. Also, check if it is in the docs or not. And add it there as well

[2020-01-07 05:11] #761 closed

[2020-01-07 05:13] #658 closed

[2020-01-07 05:15] #574 closed

[2020-01-08 02:06] #555 closed

[2020-01-08 02:06] #652 closed

[2020-01-08 10:41] Shivansh2407 commented on #808
Can I work on this issue ?
Please let me know on which link the page needs to be redirected to after clicking on open online button

[2020-01-08 10:44] Shivansh2407 commented on #779
Can I work on fixing this issue. I suggest rather than prompts we could use small in-page windows or popups to replace this.

[2020-01-08 10:45] Shivansh2407 commented on #84
Can you please explain the issue clearly . I would like to fix this issue.

[2020-01-08 10:54] MrBartusek commented on #779
@Shivansh2407 I don't know if it will be GCI Task So, please ask on our [Slack](https://join.slack.com/t/circuitverse-team/shared_invite/enQtNjc4MzcyNDE5OTA3LTdjYTM5NjFiZWZlZGI2MmU1MmYzYzczNmZlZDg5MjYxYmQ4ODRjMjQxM2UyMWI5ODUzODQzMDU2ZDEzNjI4NmE) if you can do that before you start

[2020-01-08 14:38] alvarudras opened #815 "When having a lot of subcircuits the top and bottom of "insert subcircuit" dialog will span out of view."
When having a lot of subcircuits the top and bottom of "insert subcircuit" dialog will span out of view. This means you cannot close the dialog from "x" or select the subcircuits that are not visible. One fix would be to set maximum height to window and then "overflow: auto" style, that would cause scrollbar to appear when you have more subcircuits that will fit on that dialog.

[2020-01-08 15:29] KaranKS commented on #651
is it still assigned to anyone? I want to fix this.

[2020-01-08 16:50] JoshHeng commented on #808
The page destination should be `https://circuitverse.org/users/{userid}`.

If this task is not being used for GCI then yes you can work on it

[2020-01-09 14:02] shubhankarsharma00 opened #817 "A custom context menu for the elements in side-bar."
**Is your feature request related to a problem? Please describe.**
Right now we display little info about the tool we hover on but I purpose an option to view more information about the tool from the context menu.

**Describe the solution you'd like**
A custom context menu with an option of more info that redirects to the docs page.

**Are you working on this? (Yes/No)**
GCI

[2020-01-09 17:34] #649 closed

[2020-01-09 19:19] aayush-05 commented on #815
Can you please attach a screenshot for this as well ?

[2020-01-09 19:34] aayush-05 commented on #807
Looks like a good GCI task @tachyons

[2020-01-09 19:38] shipcy commented on #533
I wanna take this.

[2020-01-09 19:40] shipcy commented on #196
Can I take this issue?

[2020-01-09 19:41] shipcy commented on #192
Can I go for this issue?

[2020-01-09 19:44] shipcy commented on #473
I want to take this issue. Can I?

[2020-01-09 19:45] shipcy commented on #49
I want to take this issue

[2020-01-09 23:54] alvarudras commented on #815
sure :)
![screenshot](https://user-images.githubusercontent.com/2356565/72114434-29cc3000-334c-11ea-832c-388d86447cfc.PNG)

[2020-01-10 09:34] codingfreak98 commented on #664
Has this issue been solved?
I would like to work on it if anyone else isn't working on it at the moment

[2020-01-10 10:59] junron commented on #664
Go ahead! 👍

[2020-01-10 11:06] Ananthavijay commented on #664
@codingfreak98 This is a beginner's task in GCI. If you are a GCI student and have not completed 2 beginner's task then go ahead!

[2020-01-10 12:17] aayush-05 commented on #533
@shipcy I think this task is under GCI now, so you can take it from the GCI website only

[2020-01-10 18:23] #801 closed

[2020-01-11 05:19] shipcy commented on #533
@aayush-05 But there are no such mentions here that it is a GCI task.

[2020-01-11 12:01] Shivansh2407 commented on #807
Can I work on this issue Please?

[2020-01-11 14:15] MrBartusek commented on #713
I will work on that

[2020-01-13 06:44] ericsheng495 commented on #379
https://docs.google.com/document/d/1x_DZx3ruqdcsQNMZPHLftjH7DpT2_4t2ZSpwopENFHY/edit?usp=sharing

[2020-01-14 16:30] ShubhamChaudharyy commented on #470
I would like to work on this Bug!

[2020-01-14 18:44] sgpritam commented on #49
Can i work on this issue

[2020-01-15 09:49] aayush-05 commented on #533
@shipcy sorry about that. I have made the changes now.

[2020-01-15 11:39] tachyons commented on #808
@nitin10s

[2020-01-17 20:47] JoshHeng opened #824 "Simulator Code Problems"
**Describe the bug**
Currently the simulator page page uses the application layout which contains lots of changes which the simulator page does not require. There are also style issues in the simulator in the master branch

**Solution**
- Create base stylesheet for simulator layout
- Create base javascript for simulator layout
- Fix style overriding issues in master branch

**Other Information**
C

[2020-01-17 20:50] JoshHeng commented on #634
Please be more specific and maybe add screenshots/mockups to demonstrate what you mean

[2020-01-17 20:50] JoshHeng commented on #635
Please be more specific and maybe add screenshots/mockups to demonstrate what you mean

[2020-01-17 20:58] sgpritam commented on #634
@JoshHeng When I bring the page from desktop mode to mobile mode, the search bar is switched to be converted into search bar logo.

[2020-01-17 21:02] sgpritam commented on #635
@JoshHeng When I bring the page from desktop mode to mobile mode, the sign in is switched to be converted into sign in logo.

[2020-01-17 21:31] JoshHeng commented on #635
I still don't understand, please could you answer each point:

* What is the problem?
* What are possible solutions?
* Do you want to work on this?

Can you also attach screenshots of what you mean - both on the desktop and mobile mode.

If English isn't your first language, maybe use a service like Google Translate or (maybe) respond in your native language and hopefully someone else will be able

[2020-01-17 21:31] JoshHeng commented on #635
I still don't understand, please could you answer each point:

* What is the problem?
* What are possible solutions?
* Do you want to work on this?

Can you also attach screenshots of what you mean - both on the desktop and mobile mode.

If English isn't your first language, maybe use a service like Google Translate or (maybe) respond in your native language and hopefully someone else will be able

[2020-01-17 21:32] JoshHeng commented on #634
I still don't understand, please could you answer each point:

* What is the problem?
* What are possible solutions?
* Do you want to work on this?

Can you also attach screenshots of what you mean - both on the desktop and mobile mode.

If English isn't your first language, maybe use a service like Google Translate or (maybe) respond in your native language and hopefully someone else will be able

[2020-01-17 21:44] sgpritam commented on #634
@JoshHeng
Problem:-
I want that as the size of the web page is small then the search bar will be converted to Search Bar Logo.
Image
https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQIKedXMaQ5oIy3Xznycv14ieFh_EfsJGqGwIkYoTI2xMBL7fKl

[2020-01-18 13:25] wwe123456789 commented on #586
https://github.com/login

[2020-01-18 20:05] MrBartusek commented on #509
Duplicate with less info of #712

[2020-01-18 20:07] MrBartusek commented on #712
There was no update from @kshitijandmojo for more than 2 weeks so I will for on that

[2020-01-19 13:53] Ananthavijay opened #828 "Scroll up to Zoom in and Scroll down to Zoom out"
**Describe the bug**
In the simulator when you scroll up it should zoom in but it is happening the opposite.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://circuitverse.org/simulator
2. Scroll Up
4. See error

**Expected behavior**
When you scroll up, it should zoom in and not zoom out

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Are you wor

[2020-01-19 16:25] arvindh75 commented on #808
Can I start working on this ?

[2020-01-19 19:05] nitin10s commented on #808
Sorry for the late reply. Although the Save Offline Option is enough, Open Online option can be a good addition for users that would want to save projects online there and then.

[2020-01-19 20:59] MrBartusek opened #829 "#823 Centered too much pages"
Merging #823 centred all pages using the `row` element
[Slack Conversation](https://circuitverse-team.slack.com/archives/CQ17325A5/p1579458247002100)

![image](https://user-images.githubusercontent.com/23432278/72688042-ff286700-3b03-11ea-97d3-2e3bf2fa06a5.png)

**Are you working on this issue? (Yes/No)**
@aayush-05 is working on that

[2020-01-19 21:12] MrBartusek opened #830 "WYSIWYG broken and might look nicer"
**Describe the bug**
- Dropdowns not working `index.js:22 Uncaught TypeError: Bootstrap's dropdowns require Popper.js (https://popper.js.org/)`
- The scrollbars on the WYSIWYG editor should only be shown if needed
- The blue colour in the WYSIWYG editor should be changed to something that follows the overall colours of the website. It looks a bit out of place

**Are you working on this? (Yes/No)**

[2020-01-20 14:10] #765 closed

[2020-01-20 16:30] #829 closed

[2020-01-21 17:16] #830 closed

[2020-01-22 07:34] #398 closed

[2020-01-22 09:38] yash15601 commented on #828
yes

[2020-01-22 09:39] yash15601 commented on #828
i am working

[2020-01-22 09:50] yash15601 commented on #828
@Ananthavijay  when we press ctrl +scroll mousewheel up its working perfect

[2020-01-22 10:29] Ananthavijay commented on #828
But it would great if it works with just scroll

[2020-01-22 11:42] yash15601 commented on #828
ok

[2020-01-22 13:10] #509 closed

[2020-01-22 13:10] #712 closed

[2020-01-22 13:52] #707 closed

[2020-01-22 14:22] MrBartusek commented on #586
blocked by #767

[2020-01-22 14:48] aayush-05 commented on #767
Can you mention some of the projects (from the public ones or either make yours public) where you have faced this issue. I can find the comment section on all the project pages I checked.

[2020-01-22 14:56] MrBartusek commented on #767
@aayush-05 on production it is working fine, it has been broken on new ux (master)

[2020-01-22 18:12] AyanChoudhary commented on #808
I would like to take up this issue

[2020-01-22 18:13] AyanChoudhary commented on #779
Can I start working on this? I already have experience working on things like this.

[2020-01-22 18:15] AyanChoudhary commented on #673
Can I take this up, if this is not complete?

[2020-01-22 18:16] MrBartusek commented on #779
I was checking it today and that isn't GCI task so yes, go ahead @AyanChoudhary

[2020-01-22 18:17] AyanChoudhary commented on #769
Can I work on this, I already have experience with work like this and am quite good with it.

[2020-01-22 18:18] AyanChoudhary commented on #807
Can I work on this issue? This looks like a good task which I can complete quickly.

[2020-01-22 18:20] MrBartusek commented on #769
Yes, go ahead @AyanChoudhary

[2020-01-22 18:33] nitin10s commented on #808
@tachyons Whatsay?

[2020-01-25 12:04] Ananthavijay opened #841 "Issue with gitpod config"
**Describe the bug**
The deployment on gitpod fails.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'readme.md'
2. Click on 'open in gitpod'
3. Wait for some time
4. See error

**Expected behavior**
The deployment should succeed.

**Are you working on this issue? (Yes/No)**
Yes

[2020-01-25 19:30] jha11aditya commented on #817
I added a onclick function on CircuitVerse Tip button in properties menu which redirects to the specific
help page of the circuit element in Pull Request No.  #843

[2020-01-26 04:28] shubhankarsharma00 commented on #828
I always thought of this as a feature rather than a bug normal scroll up zooms in and ctrl + scroll zooms out(i.e. inverts the scroll) some might prefer inverted zoom so as long as both zooms are available I don't think we need a fix for this. What do you think @tachyons @ankitkataria?

[2020-01-26 04:30] Ananthavijay commented on #828
@shubhankarsharma00 then we should let the user know to use control+scroll to scroll instead of just scroll

[2020-01-26 04:37] shubhankarsharma00 commented on #471
Can be closed by #827

[2020-01-26 10:31] Ananthavijay commented on #828
@shubhankarsharma00 There is no doc for controls, like the selection of many components is done by shift+mouse button.

[2020-01-26 18:58] MrBartusek opened #844 "Security Issues - Security Audit"
**Describe the bug**
A couple of days ago I was making a platform security audit as part of GCI contest
I found a couple of issues (they may not be a real threat at all, I am not a security expert)
I put all my research in [Google Docs](https://docs.google.com/document/d/1b-orOjyNYUeg3AZt953qwLmC02cXRp6LxcWUV5OG6Q0/edit?usp=sharing)
Note: you can work on one/couple of issue from doc if you don't w

[2020-01-26 19:53] MrBartusek opened #845 "New Emails System"
**Summary**
The current emails system is in the most part broken and email layout is not matching the whole CircuitVerse theme and not look good

<img src="https://user-images.githubusercontent.com/23432278/73140540-48376880-407a-11ea-9b23-f0719811c6bd.png" width="60%"/>

**The New System**
I uploaded all assets and description on my idea to [Google Drive](https://drive.google.com/drive/folders/1s

[2020-01-27 10:45] GrayR00t commented on #845
I would like to work on this

[2020-01-27 11:44] Ananthavijay commented on #841
Fixed via https://github.com/CircuitVerse/CircuitVerse/commit/2b3407430b80f6826d0d7f02c5351c756746b0cb

[2020-01-27 11:44] #841 closed

[2020-01-28 17:34] GrayR00t commented on #845
@MrBartusek Will  you please tell me exactly
 what is required to do ?

[2020-01-28 20:44] CEa-TIde opened #848 "Clear circuit function should have popup asking if you're sure"
The clear function clears the circuit without asking if you're sure. This way a misclick can almost be fatal to your progress.

**Additional context**
I have almost lost a whole computer circuit to this, so please add this. The only ways to recover the circuit are to luckily have a recent offline save or go to your circuits and reopen the project.

**Are you working on this? (Yes/No)**
No

[2020-01-29 17:17] MrBartusek opened #849 "User settings/preferences"
**Is your feature request related to a problem? Please describe.**
Circiutverse is a growing platform and lack of any way to customize its behaviour by users is starting to make problems. For an example implementation of new emails system or GDPR compliance are impossible due to lack of settings.

**Describe the solution you'd like**
Create a new settings page on `/users/:id/settings` that will ma

[2020-01-29 17:25] MrBartusek commented on #845
@GrayR00t refer to `IMPLEMENTATION` at [Google Drive](https://drive.google.com/drive/folders/1sefgdEZGbYx2xVj2OIi8p2hmYZI65NBJ?usp=sharing)
You need to rewrite the current emails system to use new layout (that which I provided is fine) and should be implemented using `Smart Implementation` (see drive)

I also said in that document something about that user should be able to customize emails prefer

[2020-01-29 17:48] MrBartusek opened #850 "Color property selector"
![image](https://user-images.githubusercontent.com/23432278/73382323-942b1d00-42c7-11ea-8e57-63e48eec2124.png)

Colour text field at simulator should be replaced with the colour selector
_This issue is a part of my [Usability Test](https://drive.google.com/open?id=1igwLx2tc1dAU_75qY2F4u7ZnHf2crcp-)_

**Are you working on this issue? (Yes/No)**
No

[2020-01-29 19:59] MrBartusek opened #851 "Blank Circuit Name Breaks Bar Height"
![image](https://user-images.githubusercontent.com/23432278/73392216-a746e880-42d9-11ea-8bf9-e21f602f804a.png)

When names of all project circuits are empty the circuit selection bar changes width to 5.9px. The best solution will be to don't allow for blank names
_This issue is a part of my [Usability Test](https://drive.google.com/open?id=1igwLx2tc1dAU_75qY2F4u7ZnHf2crcp-)_

**Are you working on

[2020-01-29 20:12] MrBartusek opened #852 "Unwanted pop-up when editing element's label in simulator"
![ezgif-2-9609bca3a01e](https://user-images.githubusercontent.com/23432278/73393348-c9416a80-42db-11ea-940c-50a445617644.gif)

While testing simulator I came across popup that showed while editing diode label that prompted to insert label but inserting it and accepting pop-up didn't changed the label
_This issue is a part of my [Usability Test](https://drive.google.com/open?id=1igwLx2tc1dAU_75qY2F

[2020-01-31 08:50] Shivansh2407 commented on #851
I would like to work on this issue @MrBartusek

[2020-01-31 09:00] Shivansh2407 commented on #850
Can you please let me know that in which file should I add the color selector?

[2020-01-31 09:02] Shivansh2407 commented on #828
Can I please work on this issue @Ananthavijay ?

[2020-01-31 09:14] Shivansh2407 commented on #828
Please review the PR @Ananthavijay .

[2020-01-31 09:17] Shivansh2407 commented on #848
Can You specify which all files need this Change? I would love to work on this @CEa-TIde .

[2020-01-31 10:14] CEa-TIde commented on #848
Unfortunately I am not familiar with the code base and cannot tell you which files need to be changed. I've tried to look for it, but cannot find any files related to the clear function. My guess would be that is in the same file as the save (offline/online) feature and other from the same list.

@Shivansh2407

[2020-01-31 12:48] MrBartusek commented on #851
@Shivansh2407 sure, go ahed

[2020-01-31 13:21] Shivansh2407 commented on #851
Can you guide me a bit on where to proceed this issue?? (If possible please specify the file)

[2020-01-31 13:25] Shivansh2407 commented on #852
Which file has that issue @MrBartusek Sir?

[2020-01-31 13:28] MrBartusek commented on #850
@Shivansh2407 no idea, ask on [Slack](https://join.slack.com/t/circuitverse-team/shared_invite/enQtNjc4MzcyNDE5OTA3LTdjYTM5NjFiZWZlZGI2MmU1MmYzYzczNmZlZDg5MjYxYmQ4ODRjMjQxM2UyMWI5ODUzODQzMDU2ZDEzNjI4NmE)

[2020-01-31 13:29] MrBartusek commented on #852
@Shivansh2407 no idea, ask on [Slack](https://join.slack.com/t/circuitverse-team/shared_invite/enQtNjc4MzcyNDE5OTA3LTdjYTM5NjFiZWZlZGI2MmU1MmYzYzczNmZlZDg5MjYxYmQ4ODRjMjQxM2UyMWI5ODUzODQzMDU2ZDEzNjI4NmE)

[2020-01-31 13:29] MrBartusek commented on #851
@Shivansh2407 no idea, ask on [Slack](https://join.slack.com/t/circuitverse-team/shared_invite/enQtNjc4MzcyNDE5OTA3LTdjYTM5NjFiZWZlZGI2MmU1MmYzYzczNmZlZDg5MjYxYmQ4ODRjMjQxM2UyMWI5ODUzODQzMDU2ZDEzNjI4NmE)

[2020-01-31 14:43] MrBartusek opened #855 "BidWidth Error Changes"
**Describe the bug**
BidWidth error is hard to understand for beginners and its behaviour should be changed. Currently, the cable will light up red and it shows an error message (as on screenshot)

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Simulator
2. Insert `Input` with `BidWidth: 2` and `Digital Diode` `BidWidth: 1`
3. As excepted it produces an error

**Expected behaviour**
B

[2020-01-31 14:53] MrBartusek opened #856 "Cable Node above elements cannot be moved"
**Describe the bug**
When a cable node is placed above any element attempt to move the node results in moving the element

**Expected behaviour**
When the node selection mark appears, the element selection mark should not be visible and moving should result in moving the node

![ezgif-2-9ff3623a3335](https://user-images.githubusercontent.com/23432278/73548615-64a02000-4441-11ea-86e4-496bc589bd36.g

[2020-02-01 07:31] #742 closed

[2020-02-02 03:49] Shivansh2407 commented on #575
Can I work on this?

[2020-02-02 06:55] yash15601 commented on #710
can i work on this

[2020-02-02 06:56] yash15601 commented on #710
can u plzz tell on clicking create project in which page we should redirect?

[2020-02-02 07:24] ShreyaPrasad1209 commented on #575
Sure

[2020-02-02 07:45] Shivansh2407 commented on #575
Can You please explain me what needs to be done here @ShreyaPrasad1209 ?
Like we should add display : flex ; in the css or anything extra?

[2020-02-02 10:26] shubhankarsharma00 opened #857 "Update ERD"
**Describe the bug**
The ERD here: https://github.com/CircuitVerse/CircuitVerse/blob/master/erd.pdf is outdated.

**Are you working on this issue? (Yes/No)**
It can be a first-time issue.

[2020-02-02 11:50] Shivansh2407 commented on #857
What Can we update in here? I would like to work on this issue

[2020-02-02 11:52] shubhankarsharma00 commented on #857
Many new tables like notifications taggings have to be added.

[2020-02-02 12:15] Shivansh2407 commented on #857
Can you please explain more on this so that I can Update this.

[2020-02-02 13:28] Shivansh2407 commented on #533
@aayush-05 can I work on this now as GCI is Over I guess?

[2020-02-02 13:44] Shivansh2407 commented on #528
Please review this @rajat2502 and let me know if any changes.

[2020-02-03 08:56] Shivansh2407 commented on #650
Can I please work on this ? Please let me know how to proceed with this?

[2020-02-03 08:57] Shivansh2407 commented on #653
Please list out all the pages so that I can change and fix them.

[2020-02-03 15:20] CEa-TIde commented on #103
I've run in this error aswell while building a 8-bit computer. I can't access it anymore as it stays in a loading state. Even if you remove the loading icon, "main" isn't visible/accessable. It is quite crucial for me that this gets fixed, as the project is of importance for school.
Project: https://circuitverse.org/users/13948/projects/41310

The linked issue is still open, so is there a quick fi

[2020-02-04 09:47] Shivansh2407 commented on #713
Can i take up this task?

[2020-02-04 10:07] Shivansh2407 commented on #586
Can I work on this ?

[2020-02-04 11:04] Shivansh2407 commented on #576
Can I work on this ?

[2020-02-04 11:52] Shivansh2407 commented on #713
Please Can you help me with how to proceed @JoshHeng ?

[2020-02-04 11:56] MrBartusek commented on #713
@Shivansh2407 if you want to ask how to do this issue a better place would be [Slack](https://join.slack.com/t/circuitverse-team/shared_invite/enQtNjc4MzcyNDE5OTA3LTdjYTM5NjFiZWZlZGI2MmU1MmYzYzczNmZlZDg5MjYxYmQ4ODRjMjQxM2UyMWI5ODUzODQzMDU2ZDEzNjI4NmE), btw: you don't need to ask if you can take issue, just say that you are working on it

[2020-02-04 13:02] Shivansh2407 commented on #532
Hey @aayush-05 I would like to work on this .

[2020-02-04 13:34] Shivansh2407 commented on #532
We can solve this issue by add CSS media queries for different zooming levels I guess?
What say @aayush-05 ?

[2020-02-04 13:55] Shivansh2407 commented on #491
I would like to work on this . Please can you guide me on this @ankitkataria .

[2020-02-04 15:45] falguniraina commented on #808
can i start working on this??

[2020-02-04 16:11] Shivansh2407 commented on #808
Actually I am working on this issue currently @falguniraina .

[2020-02-04 16:36] Shivansh2407 commented on #851
![1](https://user-images.githubusercontent.com/42182955/73765331-66981500-479a-11ea-97a3-292dd3fc35ab.PNG)
@MrBartusek Which Break are you referring to ? I have created a project without giving the title but I see no break in Bar Height.
Please let me know soon.

[2020-02-04 16:39] Shivansh2407 commented on #464
I would like to Work on this issue . Can you please help me @ankitkataria , @satu0king by letting me know how to proceed ?

[2020-02-04 16:44] MrBartusek commented on #851
@Shivansh2407

![ezgif-2-9e05678c2f6b](https://user-images.githubusercontent.com/23432278/73766129-e069d780-4775-11ea-934b-c6e18576244b.gif)

[2020-02-04 16:46] Shivansh2407 commented on #851
Ok Cool . Looking forward to fix this issue .

[2020-02-04 20:49] JoshHeng commented on #713
What problems are you having? If you're new to CircuitVerse, read the README to get started!

[2020-02-04 21:17] felixfaisal commented on #2
Hey it's my first time, I'd like to work on decimal to bcd and vice versa. Please help me out.

[2020-02-05 15:45] yash15601 commented on #590
can i work on this??

[2020-02-05 18:08] falguniraina commented on #650
can i work on this?please till me about the link in which i can find the source code??

[2020-02-05 18:10] falguniraina commented on #651
can i please work on this??

[2020-02-05 18:11] falguniraina commented on #710
can i work on this??

[2020-02-05 18:22] ShreyaPrasad1209 commented on #650
You can use hover property in css. For finding the source code, use inspect element.

[2020-02-05 18:26] falguniraina commented on #521
can i work on this??

[2020-02-05 18:32] falguniraina commented on #2
Hi!! this is the first time i'm contributing somewhere i would love to try my hands in documentation please guide me how to get started!!

[2020-02-05 18:33] sal2701 commented on #653
Hey! You need to go through all the pages and see the titles and see if they match. I haven't made a list.

[2020-02-05 18:38] yash15601 commented on #710
@falguniraina  I already  made a pr u can check🙂

[2020-02-06 08:29] Shivansh2407 commented on #641
Is it fixed?

[2020-02-06 08:30] Shivansh2407 commented on #653
Ok Cool . Will fix this soon.

[2020-02-06 08:37] Shivansh2407 commented on #575
@ShreyaPrasad1209 any updates?
Like we should add display : flex ; in the css or anything else?

[2020-02-06 08:43] Shivansh2407 commented on #529
Can I work on it @CodeSarthak ?

[2020-02-06 08:45] Shivansh2407 commented on #521
Hey @eKuG I have recently gone through the process of setting up Ruby on rails without the use Docker on my local machine. Can I give this a try?

[2020-02-06 08:46] eKuG commented on #521
I think this task is over!

[2020-02-06 08:46] #521 closed

[2020-02-06 08:47] Shivansh2407 commented on #492
Can you please guide me how to proceed with this issue @ShreyaPrasad1209 ?

[2020-02-06 08:49] Shivansh2407 commented on #450
I would like to work on this issue.

[2020-02-06 10:49] #641 closed

[2020-02-06 11:17] kartik918 opened #871 "Make navbar logo and button responsive"
**Describe the bug**
A clear and concise description of what the bug is.

Current Navbar is unresponsive and the nav button also covers part of the screen on smaller devices.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any page on https://circuitverse.org/
2. Switch to responsive mode on browser if not on a smaller screen.

**Expected behavior**
Navbar fits right on  smaller screen

[2020-02-06 12:38] Shivansh2407 commented on #871
Can I work on this?

[2020-02-06 12:46] Shivansh2407 commented on #553
I would like to work on this.

[2020-02-06 12:48] aayush-05 commented on #532
Yes that can be done. But solving this now won't be beneficial, because anyways we are revamping the UI.

[2020-02-06 12:49] aayush-05 commented on #586
See the comment above, this can be done only before solving #767 . I guess the UI revamp will solve both of these issues.

[2020-02-06 12:51] aayush-05 commented on #533
Saying it again but UI revamp is supposed to solve all of the minor UI bugs. You can help us in with that, join the ux channel on slack

[2020-02-06 13:02] Shivansh2407 commented on #533
Ok cool @aayush-05 .

[2020-02-06 13:30] Shivansh2407 commented on #55
Is this still open ?

[2020-02-06 13:50] Shivansh2407 commented on #489
This is not suitable for those users who have not entered their email in the Email Field . When there is no email in the field and user clicks on the Forgot Password Link then it would give error. We could fix it as if the user has entered the email in the field and clicked Forgot Password then it should not show the Forgot Password Page otherwise it shows. Would like to hear what you think about

[2020-02-06 13:59] kartik918 commented on #871
I've worked on a fix already , thanks though

[2020-02-06 15:04] Ananthavijay commented on #489
Nope, when the user does not enter user's mail id the forgot password page should not have any email id but if the user enter the email it should be carried to forgot password page

[2020-02-06 15:52] sakshi1499 commented on #489
@Shivansh2407 I would second @Ananthavijay . That is exactly what I had in mind when I created this issue. You can however share your vision, in case you want to add something more.

[2020-02-06 15:57] Shivansh2407 commented on #489
Can I work on this @sakshi1499 then?

[2020-02-06 16:00] sakshi1499 commented on #489
I think this task was dealt with, in GCI. Please confirm once. If not, you are most welcome to contribute to it. @Shivansh2407

[2020-02-06 16:04] Ananthavijay commented on #489
I think this was not put up as a task in GCI @sakshi1499

[2020-02-06 16:07] tachyons commented on #489
GCI is already over, So all the issues are now free to take

[2020-02-06 16:08] Shivansh2407 commented on #489
Cool thanks @tachyons

[2020-02-06 16:31] Shivansh2407 commented on #852
@MrBartusek I would like to work on this but first please change/update the example screenshot (It is not visible).

[2020-02-06 17:57] jha11aditya commented on #848
Oh sorry I didn't see there was already a pull request, there was none about 2 hrs ago.

[2020-02-07 08:53] Shivansh2407 commented on #848
@jha11aditya I was Working on the issue as you could see my comment above. Please first claim the issue and then work to avoid this type of situations.

[2020-02-07 09:58] Shivansh2407 commented on #852
Working on it.

[2020-02-07 10:09] Shivansh2407 commented on #852
@MrBartusek Should I remove the Label prompt or should I link the Prompt with Label Updation. According to me Removing the prompt is much better because we can change the Label from the Sidebar.

[2020-02-07 11:25] Ananthavijay opened #876 "Star button is not visible"
**Describe the bug**
The star button on the project page is not visible.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on any circuit
2. See error

**Expected behavior**
The star should be visible.

**Screenshots**
![CircuitVerse - ALU-74LS181](https://user-images.githubusercontent.com/35162705/74025711-90378300-49ca-11ea-87fc-40503c7dbbcb.gif)

**Are you working on this issue? (Yes/

[2020-02-07 11:40] Ananthavijay commented on #876
This may be fixed by the new UI. So closing this

[2020-02-07 11:40] #876 closed

[2020-02-07 13:46] jha11aditya commented on #848
Yes, ok.

[2020-02-08 06:39] Shivansh2407 commented on #655
Can I work on this issue @sal2701 ?

[2020-02-08 06:41] sal2701 commented on #655
Yes sure!

[2020-02-08 15:31] Shivansh2407 commented on #655
@sal2701 I have fixed one part of the issue . Please review it and let me know what do you think on this ?

[2020-02-08 17:31] #871 closed

[2020-02-09 06:01] Shivansh2407 commented on #659
Would like to take up this task . Can you please tell me which file to look for ?

[2020-02-09 11:05] Shivansh2407 commented on #463
Can I work on this?

[2020-02-09 13:05] Shivansh2407 commented on #381
@Parikshit-Hooda can I work on this ?

[2020-02-09 15:29] tachyons commented on #857
It is difficult to maintain such a file, we can just remove that file instead

[2020-02-09 15:32] Shivansh2407 commented on #857
Should I open a PR for that ?

[2020-02-10 10:05] Shivansh2407 commented on #505
Can I work on this @tachyons and @sakshi1499 ?

[2020-02-10 10:50] sakshi1499 commented on #505
As all the PRs have been closed without merging, you can work on this. Ref the last PR, some comments have been made for improvement. Include those. @Shivansh2407

[2020-02-10 10:51] Shivansh2407 commented on #505
Ok Cool @sakshi1499

[2020-02-10 12:19] YashKumarVerma commented on #857
I think we must not completely remove the file, instead, we can use some other method to share database details.

[2020-02-10 12:50] YashKumarVerma commented on #465
@tachyons, there are linting issues in other files as well, (as of now, the count is at 44k). Will PR addressing those be welcomed?

[2020-02-10 17:21] Shivansh2407 commented on #656
Can I work on this issue or the new UI revamping would fix this ? If not I would like to fix this

[2020-02-11 03:59] #807 closed

[2020-02-11 04:00] #505 closed

[2020-02-11 08:09] #792 closed

[2020-02-11 09:31] shubhankarsharma00 commented on #857
This still takes effort. I agree with @tachyons we should remove the file.

[2020-02-11 09:55] Shivansh2407 commented on #857
So @shubhankarsharma00 and @tachyons should I open a PR for the same?

[2020-02-11 10:03] Shivansh2407 commented on #504
Can I work on this issue?

[2020-02-11 10:05] shubhankarsharma00 commented on #857
The issue is still an open discussion but go ahead open the PR.

[2020-02-11 11:29] #857 closed

[2020-02-11 13:11] Shivansh2407 commented on #638
@thiefie and @ankitkataria I would like to work on this . Can you please guide me how to proceed with this?

[2020-02-11 13:22] Shivansh2407 commented on #755
Is it still Open ? I would like to work on this .

[2020-02-11 13:34] Shivansh2407 commented on #49
Can I take up this issue @blane1257 , @satu0king ??

[2020-02-11 14:24] shubhankarsharma00 commented on #849
We can also add an option to customize the key bindings.

[2020-02-11 14:43] yash15601 commented on #617
Hey what if can validate circuit name to certain length and make pop up if the name crosses that length ,then their will no be balck screen

[2020-02-11 15:10] NumberC commented on #755
I already fixed this in my PR, but my PR hasn't been merged yet.

[2020-02-11 15:44] Shivansh2407 commented on #664
I would like to work on this @tachyons  Sir. Please let me know what needs to be done here.

[2020-02-11 17:06] tachyons commented on #664
Just integrate letter opener or mail catcher as suggested in above comments

[2020-02-11 17:16] Shivansh2407 commented on #664
Ok @tachyons Working on it 👍

[2020-02-13 05:41] Shivansh2407 commented on #664
@tachyons I have integrated mailcatcher as suggested successfully 👍  . Can I go ahead and open up a PR for this ?
![Capture](https://user-images.githubusercontent.com/42182955/74404800-86da6a80-4e51-11ea-8b36-0e4ebc81473b.PNG)

[2020-02-13 05:43] tachyons commented on #664
Yes

[2020-02-13 05:44] Shivansh2407 commented on #664
Ok @tachyons Sir 👍

[2020-02-13 09:28] #664 closed

[2020-02-13 16:01] Shivansh2407 commented on #617
Hey @thiefie and @yash15601  you can Take a look at my PR and I will be glad to hear your views.

[2020-02-13 20:12] YashKumarVerma opened #898 "JavaScript tests missing"
**Is your feature request related to a problem? Please describe.**
- CircuitVerse relies heavily on client-side javascript to make the editor functionable. The javascript codebase is divided into multiple file sources which make it difficult for developers to manually debug/test the application.

**Describe the solution you'd like**
- Extensive tests should be written to cover 100% of frontend jav

[2020-02-13 20:14] YashKumarVerma commented on #779
are you still working on it @AyanChoudhary ?

[2020-02-13 20:20] AyanChoudhary commented on #779
No, I am no longer working on it

[2020-02-14 04:46] Shivansh2407 commented on #815
Hey can you please suggest a way in which this can be solved. I am trying to add overflow-y: scroll but it is not working /disabled . Please let me know a better method. Would like to fix this .

[2020-02-14 05:51] Shivansh2407 opened #899 "New Circuit and Sub Circuit Bugs"
**Describe the bug**
There are some bugs present in the New Circuit and Insert SubCircuit Feature that need to be fixed to make the UI more user friendly.
1. Whenever we enter a long name , then if we try to insert it as a subcircuit , it will flow out from the existing div.
2. Including #815 . When many subcircuits are involved then the Insert Subcircuit overflows vertically. Then user has to ref

[2020-02-14 06:54] YashKumarVerma commented on #849
how should we implement this in the database ?

[2020-02-14 09:02] Arun-42 commented on #507
@sakshi1499  Where in particular is this section?

[2020-02-14 09:26] MrBartusek commented on #849
@YashKumarVerma The best implementation, in my opinion, will be making some sort of `array cell` in a database for each user, rather than hard-coding values cause that will make adding new settings not painful at all

[2020-02-14 10:25] Shivansh2407 commented on #483
I guess This has been fixed in PR #891

[2020-02-14 11:10] shubhankarsharma00 commented on #849
@MrBartusek I think I am missing something here. Can you elaborate?

[2020-02-14 11:30] Shivansh2407 commented on #485
Can you please let me know how to proceed with this @sakshi1499 ?

[2020-02-14 11:31] Ananthavijay commented on #849
I think notifications can also be put under the settings tab.

[2020-02-14 11:34] Shivansh2407 commented on #601
Where can I find the Code for the Button panel present on the simulator page?

[2020-02-14 11:39] MrBartusek commented on #849
@shubhankarsharma00 done

[2020-02-14 12:44] Shivansh2407 commented on #486
I would like to add this feature but I do not have the message/text that should be shown on alert. Please let me know soon @ankitkataria and @sakshi1499 .

[2020-02-14 15:35] snpd25 commented on #642
@PragatiVerma18 Is the issue solved or can I work on it?

[2020-02-14 15:44] sakshi1499 commented on #486
Which text/message are you unsure of? @Shivansh2407 If you are unsure of all the messages that are missing, I'll recommend you to review simulator tools on google. In the screenshot above, the selected gate is AND gate. So the alert should show 'AND gate selected' or something similar.

[2020-02-14 15:52] Shivansh2407 opened #900 "TB_Input : Test Bench JSON not working properly"
**Describe the bug**
As In the Video below when we place all the elements then as soon as I put TB_input from testbench section it asks for Json Input and when I cancel the input prompt , all the elements are removed from the main screen but their existence is shown in the minimap. Also when we click on the Testbench Input element then it works weirdly by sticking the cursor to the webpage even if

[2020-02-14 15:58] Shivansh2407 commented on #486
Ok cool. But I am asking that like if I hover on Ground element then it shows

So should I keep something similar or Just the element name and selected . All can I open up a PR for this ?

[2020-02-14 16:46] PragatiVerma18 commented on #642
You may work on this issue. Happy contributing!!😀

[2020-02-15 03:34] Shivansh2407 commented on #659
@sal2701 sir please could guide me on this issue ?

[2020-02-15 06:20] Shivansh2407 commented on #377
Can I work with this @satu0king and @harsha-iiiv ?

[2020-02-15 08:49] Shivansh2407 commented on #514
@eKuG Please review the PR

[2020-02-15 15:29] Shivansh2407 commented on #569
Where is the lite mode button given?

[2020-02-15 16:38] yash15601 commented on #515
@eKuG  can you explain this theroy of computation in more detail like taking input in melay machine and verifying it ??

[2020-02-16 04:31] Shivansh2407 commented on #530
@Tanish0019 Please review the PR 👍

[2020-02-16 11:38] yash15601 commented on #748
@satu0king  can i  add header and footer to the testbench page

[2020-02-16 11:52] YashKumarVerma opened #905 "Code Refactor : Javascript Standards, Linting"
**Is your feature request related to a problem? Please describe.**
- The current collection of frontend scripts is a beautiful piece of software, however, it does not follow the latest conventions and standards.
- The codebase does not follow any particular set of styles as well, which makes it look inconsistent and cluttered.
- Linting throws nearly hundreds of errors in one file.
- Total 45k+ er

[2020-02-17 05:39] #530 closed

[2020-02-17 09:21] #643 closed

[2020-02-17 10:06] Shivansh2407 commented on #376
Can I work on this issue @harsha-iiiv and @theredcap ?

[2020-02-17 10:12] Shivansh2407 commented on #2
Hey @satu0king Sir the Redo option is not available in the menu yet. I would like to give a try to it .

[2020-02-17 19:50] aayush-05 commented on #657
Issue fixed in https://github.com/CircuitVerse/Interactive-Book/pull/124
The problems with Circuitverse Docs would be more helpful to be added as an issue in that repo.

[2020-02-18 06:02] harsha-iiiv commented on #376
Yes, go-ahead with W PR

[2020-02-18 12:50] Nitish145 commented on #642
@snpd25 are you working on this issue ?

[2020-02-18 13:39] Shivansh2407 opened #910 "Input BitWidth on increasing over 32 does not work ."
**Describe the bug**
The input when below 32 we can easily toggle the Bits from 0 to 1 or vice-versa. But over 32, let us assume 33 then the 33rd bit does not allows toggle , In this case you only can toggle the first 32 bits and rest remain static. If we do not want the circuit to accept input more than 32 bits then we should provide any alert otherwise we should fix this.
The spinner up button d

[2020-02-18 14:02] #598 closed

[2020-02-19 12:39] yash15601 commented on #899
Hey  @Shivansh2407  ,

3. When we Click on Insert subcircuit then if we have three circuits then only two of them show up in the Pop-up

So this is not an issue, when you create a new circuit you switch to it directly.
Thus when you try to insert a new circuit it wont show the circuit itself. Try switching to `Main` circuit and then open the `Insert SubCircuit` dialog and it'll show you the circui

[2020-02-19 12:46] Shivansh2407 commented on #899
Cool, I thought it differently that it must be adding all the given subcircuits to Main Only . Thanks for pointing this out . Will take care of it.

[2020-02-19 16:57] Nitish145 opened #914 "Insert subcircuit button still visible even if there are no subcircuits"
**Describe the bug**
A clear and concise description of what the bug is: When there are no SubCircuits there shouldn't be a button to _Add SubCircuit_ as it may be confusing to first time users.

Similiar behaviour is observed when trying to open offline projects.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://circuitverse.org/simulator
2. Click on Circuit -> Insert Subcircuit

[2020-02-19 17:49] Shivansh2407 commented on #914
As far as this issue is concerned , the button is not clickable so that will not create a confusion but disabling it will be good.

[2020-02-19 18:01] Nitish145 commented on #914
Yes! button is non clickable but when i first time used simulator i was a bit confused what this button is for if there are no offline projects :)

[2020-02-19 21:19] Nitish145 commented on #779
@YashKumarVerma are you on it ??

[2020-02-20 06:13] YashKumarVerma opened #916 "Conflicting Integrations causing hinderance in development workflow"
**Describe the bug**
As of now, multiple services are being used for code review, namely Hound, CodeCliamte, AccessLint.  These serivices were added to serve for segments of the application, i.e. the rails part, the frontend javascript engine etc, but are not configured properly, and therefore started reviewing all code changes.

The problem at hand is that these services have different configurat

[2020-02-20 06:19] tachyons commented on #916
Solution

Configure hound to not check any files other than erb

[2020-02-20 06:24] Shivansh2407 commented on #916
@tachyons in the hound.yml file , it is only configured for ` erblint:  enabled: true` and others as false so then where should we look to fix this ?

[2020-02-20 06:40] tachyons commented on #916
get other engines which are tru by default and disable this

[2020-02-20 06:44] YashKumarVerma commented on #779
@Nitish145 No.

[2020-02-20 13:36] Nitish145 commented on #779
I am working on this issue.

[2020-02-20 15:41] MrBartusek commented on #779
@Nitish145 you can ask about that on #ux on Slack

[2020-02-20 15:47] Shivansh2407 commented on #779
@Nitish145 the jQuery dialogs will be fine or you can prefer doing something to match the theme of CircuitVerse dialogs. You can get more suggestions on Slack 😊.

[2020-02-21 07:00] ShubhankarKG commented on #49
Hey, is the PR still up ? Has the issue been solved @satu0king ? Else, I can contribute on this one.

[2020-02-21 13:12] sal2701 commented on #659
Hey @Shivansh2407 sorry for the late reply but I am working on this issue. While using combinational analysis we might sometimes forget to enter a value. And the tool doesn't output a circuit if even a signal input is "x". We need to show a popup to indicate this to the user.

[2020-02-21 13:14] Shivansh2407 commented on #659
Actually I also started working on this issue . I understand the issue completely .

[2020-02-21 13:37] yash15601 commented on #899
Hey @Shivansh2407  Are you still working in this PR because I have already fix this if you dont have problem can i make PR again

[2020-02-21 13:39] Shivansh2407 commented on #899
Actually I was working on some more Subcircuit bugs simultaneously , so if you want go ahead and make a PR.

[2020-02-21 13:41] yash15601 commented on #899
Thanks , will make PR tonight

[2020-02-21 13:49] Shivansh2407 commented on #899
Cool But make sure to fix the Bugs mentioned here. I will then open a separate issue for other subcircuit bugs. All the best 👍

[2020-02-21 13:58] sal2701 commented on #905
Hey @YashKumarVerma great initiative! Can I also help you with this task?

[2020-02-21 16:20] gkan30 commented on #604
Greetings!
I would like to work on this.
Can you assign this issue to me?

[2020-02-21 16:25] YashKumarVerma commented on #905
sure. kindly help me by reviewing the PR's I've made. :smile:

[2020-02-21 19:11] angrycharas commented on #769
I am a UI/UX designer and can make a better Log-in/Sign-in page.
I am planning to make a Figma file with the design of the new Log-in page, before starting to code.
Can I take this issue? (The PR linked to this issue is inactive for a long period of time.)

[2020-02-21 19:14] AyanChoudhary commented on #769
It's already completed and has a pr linked to it.

[2020-02-21 19:16] MrBartusek commented on #769
@angrycharas Nitin is coordinating UX remake, We already have [prortotype](https://xd.adobe.com/spec/7453ce8f-6d79-4969-4a1a-d0162c42c53d-0262/). If you would like to work on new UX please ask on #UX on Slack

[2020-02-22 05:23] Nitish145 opened #923 "ask user before redirecting to login page"
**Describe the bug**
When a not logged in user tries to save a project, an alert is shown and the user is redirected to the login page. User is not presented with a choice of not being redirected to login page..

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://circuitverse.org/simulator
2. Click on Circuit -> New Circuit
3. Save the project
4. See error (if not logged in).

**Ex

[2020-02-22 10:00] arpancodes commented on #923
I am working on it

[2020-02-22 11:48] criticic opened #924 "Label of input button not shown in Firefox"
**Describe the bug**
#### Mozilla Firefox
![Screenshot_2020-02-22_17-08-03](https://user-images.githubusercontent.com/40538506/75091696-5d7ab680-5596-11ea-821a-8a398a23c196.png)
#### Chromium
![Screenshot_2020-02-22_17-08-28](https://user-images.githubusercontent.com/40538506/75091697-5f447a00-5596-11ea-9972-3f91feff929e.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Firefox and

[2020-02-22 11:54] thiefie commented on #924
@satu0king

[2020-02-22 13:13] sal2701 commented on #924
@thiefie I can see the label. It is working fine for me. I am using Firefox 72.0.2 on Ubuntu with i3wm.

Screenshot:
![cv1](https://user-images.githubusercontent.com/42511766/75092940-092a0380-55a3-11ea-9e8e-d117ee0e32fb.png)

[2020-02-22 14:24] yash15601 commented on #924
@sal2701  update your forked repo
 follow this link :
https://gist.github.com/CristinaSolana/1885435

[2020-02-22 14:28] arpancodes commented on #923
@tachyons

[2020-02-22 14:29] arpancodes commented on #923
Just fixed the issue. Please review @tachyons

[2020-02-22 15:35] yash15601 opened #926 "Tooltip slightly upward in circuit elements when we hover"
**Describe the bug**
When we hover on Circuit Elements in the simulator the Tooltip slightly shifted upward from the bottom

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Simulator'
2. Hover on 'Circuit Elements'

**Expected behavior**
The ToolTop should be at the bottom of Circuit Elements

**Screenshots**
![Screenshot (58)_LI](https://user-images.githubusercontent.com/49101492/7509

[2020-02-22 15:42] Shivansh2407 commented on #926
@yash15601 this is the case with localhost I guess. On the website it is working absolutely fine 👍

[2020-02-22 16:00] yash15601 commented on #926
@Shivansh2407  i think the problem is with new ui

[2020-02-22 16:03] Shivansh2407 commented on #926
I think you must try cloning the repo again. That might fix this .

[2020-02-22 16:05] yash15601 commented on #926
Actually, I am noticing this from past few days and my repo is updated

[2020-02-22 16:06] yash15601 commented on #926
@Shivansh2407 can you provide me your screenshot is it working or not

[2020-02-22 16:12] ShubhankarKG opened #927 "Issue with README.md"
**Describe the bug**
There's a small typography error in the file __README.md__ .

**To Reproduce**
Steps to reproduce the behavior:
1. Go to __README.md__ .
2. Scroll down to line 84.
4. The Back Tick symbol (`) used to define code blocks has imperfect opening and closing set of back ticks

**Expected behavior**
Code block form for the line :
`gitpod url/users/auth/(google or facebook or github)/

[2020-02-22 16:22] yash15601 commented on #926
@nitin10s  views please

[2020-02-22 16:23] Ananthavijay commented on #927
I think this is being done in this [PR](https://github.com/CircuitVerse/CircuitVerse/pull/835)

[2020-02-22 16:25] ShubhankarKG commented on #927
I have fixed the same. Please review @tachyons

[2020-02-22 17:06] nitin10s commented on #926
As @Shivansh2407 said, it works fine on the website, so lets put a hold on this PR.

[2020-02-22 17:08] nitin10s commented on #926
As @Shivansh2407 said, it works fine on the website, so lets put a hold on this issue.

[2020-02-23 04:35] Shivansh2407 opened #930 "Combinational Analysis Bugs"
**Describe the bug**

1. When we enter no value in the dialog Box then too , it takes us to the table with empty fields.
2. When there is a comma (delimeter) left by mistake then it creates another empty column in the combinational table. ( #291 is similar but not yet reflected in website )

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org'
2. Click on 'simulator'
3. Go

[2020-02-24 03:23] #900 closed

[2020-02-24 03:39] Shivansh2407 commented on #899
@tachyons the first part of the issue is not fixed yet and I have asked @yash15601 to fix it in the PR he made. I think till then the issue must remain open.

[2020-02-24 03:40] #899 closed

[2020-02-24 03:40] tachyons commented on #899
Make separate issues for bugs, otherwise it will be difficult to keep track of

[2020-02-24 03:43] Shivansh2407 commented on #899
Ok @tachyons 👍

[2020-02-24 03:53] #486 closed

[2020-02-24 04:27] aayush-05 commented on #644
Invalid issue @tachyons

[2020-02-24 04:32] Shivansh2407 commented on #644
Also as mentioned by @sal2701 about the arrow keys to rotate the elements , We have an option in CV where after dragging the element we can rotate it using W-A-S-D keys.
So I think this issue is already implemented. Let me know your views @aayush-05 and @tachyons .

[2020-02-24 04:57] #644 closed

[2020-02-24 06:11] DevL0rd opened #935 "20 And Counting most BRAIN MELTING bugs I ran into while making the 16-Bit Computer"
Here is a link to the computer I mentioned in the title.
https://circuitverse.org/users/17603/projects/54486

I love circuit verse and hope alot of these annoying issues get fixed. thanks everyone who works so hard on this, But withouth further ado... let me release my frustration this software has fueled me with.

While building this I ran into very many frustrating issues I would like to list he

[2020-02-24 07:41] dkapur17 opened #936 "NavBar issues on mobile site"
**Bug Description**

The NavBar has some issues while viewing in the mobile device. Firstly, on the landing page, due to the pagination container, the NavBar overflows off the screen and one must swipe to the right to be able to access the hamburger.

Also on the other pages, the hamburger may appear below the Nav-Brand item based on the screen size of the viewing device. This is probably because

[2020-02-24 08:57] shubhankarsharma00 commented on #936
@dkapur17 it's always better to open a PR on existing issues. It's been bought up  If you can solve that issue I think it would be best if you go ahead with a PR for that issue and close this one.in #540 . If you can solve that issue I think it would be best if you go ahead with a PR for that issue and close this one. :v:

[2020-02-24 09:11] shubhankarsharma00 opened #937 "Middle Click to delete a circuit element"
**Is your feature request related to a problem? Please describe.**
feature requested in https://github.com/CircuitVerse/CircuitVerse/issues/935#issue-569672715

**Describe the solution you'd like**
Middle Click to delete a circuit element

**Describe alternatives you've considered**
Some might feel `Del` is enough but middle click to delete is a nice feature to have.

**Additional context**
Add an

[2020-02-24 09:12] dkapur17 commented on #936
Sure @shubhankarsharma00 . Thanks for the response!

[2020-02-24 09:12] #936 closed

[2020-02-24 09:13] dkapur17 commented on #540
I would like to work on this issue if that's alright.

Cheers!

[2020-02-24 09:29] Shivansh2407 commented on #937
I would like to work on this @shubhankarsharma00  :+1:

[2020-02-24 13:55] HarshalGoyal commented on #769
Hi i am Harshal Goyal
I am an undergraduate student and i am willing to participate in gsoc 2020

[2020-02-24 13:56] HarshalGoyal commented on #769
Can you please help me out by guiding me about project

[2020-02-24 17:09] MrBartusek commented on #769
Hello @HarshalGoyal The best place for asking such things is our [Slack](https://join.slack.com/t/circuitverse-team/shared_invite/enQtNjc4MzcyNDE5OTA3LTdjYTM5NjFiZWZlZGI2MmU1MmYzYzczNmZlZDg5MjYxYmQ4ODRjMjQxM2UyMWI5ODUzODQzMDU2ZDEzNjI4NmE)

[2020-02-25 12:26] dkapur17 commented on #540
I have noticed that the code in the repository is for the new UI that is being planned for the website. As such, there is no way for me to edit the source code of the currently hosted site. So do I drop this issue? Thanks.

[2020-02-25 12:47] aayush-05 commented on #540
This issue would be automatically solved when the New UI gets shifted to the production branch, so no need to solve it now.
This can be closed @tachyons

[2020-02-25 13:50] falguniraina commented on #650
@ShreyaPrasad1209 ma'am i am unable to find post comment/cancel button !!Help me to find this so that i can start with this issue

[2020-02-25 14:18] Ananthavijay commented on #650
@falguniraina Right now, there is an issue with comment section. Refer to this [issue](https://github.com/CircuitVerse/CircuitVerse/issues/767)

[2020-02-25 14:55] gkan30 opened #948 "Change cursor to hand when hover over circuit elements"
**Is your feature request related to a problem? Please describe.**
Whenever we hover over a circuit element we do not get any feedback regarding if the element is interactable or not. Showing the hand/pointer cursor when hovered will give us the proper feedback

**Describe the solution you'd like**
Using CSS or other feasible solution

**Additional context**
**_Current State:_**

![NormalCursor](h

[2020-02-25 14:57] gkan30 commented on #948
I am working on this 👍

[2020-02-25 19:00] eKuG commented on #515
As far as I remember, This issue was merely regarding DE rather than ToC

[2020-02-25 19:15] yash15601 commented on #515
@eKuG  i dont know about DE

[2020-02-25 21:29] DevL0rd commented on #935
Added 4 more bugs to the list. I'll keep adding to this one when they come up..

Undo sometimes takes 2 or 3 times hitting it for it to work, but sometimes it doesn't even work at all making it severly frustrating when i mess something up.

Recovering unsaved work is a absolute joke. I have lost progress so many times due to these bugs, but worst of all recovering a save rarely works. And if you l

[2020-02-25 21:33] DevL0rd commented on #937
Thanks I'd really love it. I'm growing the bug list as i work on my 16 bit computer. Man it is really frustrating with the issues right now but I love it so much I'm goign to stick with it. Thanks for the work guys.

[2020-02-26 00:34] DevL0rd commented on #937
@Shivansh2407 Hey your working in the simulators control events. can you point me to this part of the code so i can start contributing and fixing these issues? I have not look at the code base once but it woul be a good place to start and work my way deeper.

[2020-02-26 00:35] DevL0rd commented on #937
And i'm immediately redesigning this editor and making a dark theme and adding some more in depth graphics settings. lol

[2020-02-26 02:04] Shivansh2407 commented on #937
Yes @DevL0rd I am working to fix this issue . Will open up a PR soon .

[2020-02-26 02:59] swarali15 opened #951 "Overlapping of circuit elements."
**Is your feature request related to a problem? Please describe.**
When circuit elements are placed one on the top of the other ,the newly added element should align itself with respect to other such that there is no overlapping.
**Describe the solution you'd like**
If the newly added circuit element overlaps the previously added element ,the newly added circuit should get aligned with proper spac

[2020-02-26 04:53] aayush-05 commented on #558
@nitin10s we have to design the assignments page too.

[2020-02-26 04:57] aayush-05 commented on #572
Footer has been redesigned, now this can be closed @tachyons

[2020-02-26 04:58] #583 closed

[2020-02-26 05:09] #572 closed

[2020-02-26 05:12] #540 closed

[2020-02-26 06:08] DevL0rd commented on #935
Ok 4 more new bugs to add to the list.

16. Sometimes after saving the simulation just completely craps out and won't step forward, even though everything is still controllable.

17. Splitters dissapear halfway off screen alot of the time.

18. Saving randomly dies and stops working. And when this happens so does offline save. Saving results in endless saving icon and not ever being able to recove

[2020-02-26 06:14] DevL0rd commented on #935
oh forgot
20. When you have alot of chips the insert chip menu goes off the top and bottom of page and doesn't allow scrolling. You have to zoom the page to get to the off screen chips.

[2020-02-26 07:42] yash15601 commented on #935
20. Is already  their  as issue  and I almost  fixed that so no need to mention  this issue you can at this pr
https://github.com/CircuitVerse/CircuitVerse/pull/938

[2020-02-26 08:13] #923 closed

[2020-02-26 08:37] shubhankarsharma00 commented on #948
Maybe you can also change the  cursor while we drag circuit or it's elements.

[2020-02-26 14:25] gkan30 commented on #948
@shubhankarsharma00 yup,on it

[2020-02-26 20:15] dkapur17 opened #956 "Unwanted X-Scroll on New UI"
**Describe the bug**
There is some white space to the right of each page on the new UI, caused by the padding on the footer. This is causing an unwanted scroll in the x direction.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch the New UI
2. See error

**Expected behavior**
There should be no scroll in the x-direction.

**Screenshots**

Unwanted X Scrollbar.

![X-Scroll 1](https://use

[2020-02-26 23:58] darkshredder opened #958 "Add Dark and Light mode feature"
**Is your feature request related to a problem? Please describe.**
Many people like to work at night or any other time and would love to work in their desired mode
**Describe the solution you'd like**
So I would like to create a toggle button which will change the theme to light or dark mode

**Are you working on this? (Yes/No)**
Yes

[2020-02-27 00:38] dkapur17 commented on #956
Referencing #959

[2020-02-27 06:35] #824 closed

[2020-02-27 06:56] satu0king commented on #935
@DevL0rd, thanks for using CV and patiently facing our bugs! Please consider joining our slack channel and helping us identify and fix these issues.

[2020-02-27 07:20] satu0king commented on #937
Middle click to delete sounds interesting but most users wouldn't expect it. I am not sure about this change.

[2020-02-27 07:22] satu0king commented on #935
Double click anywhere to deselect for now.

[2020-02-27 07:24] satu0king commented on #935
Yes, The user interface is not very clear on this.

[2020-02-27 07:27] satu0king commented on #935
15, 16, 18 and 19 seem related to me. @DevL0rd could you paste what you see in your browser console when this happens? Its very hard to debug these issues and any help would be great. @tachyons do you have any ideas as to why the server might reject a save request?

[2020-02-27 07:41] shubhankarsharma00 commented on #937
Hmm, I agree that it won't be intuitive to users who don't use middle click to close browser windows and someone might delete their circuit by mistake. I guess we should add this feature later, once we can manage simulator shortcuts so a user can toggle between the option according to his preference.

[2020-02-27 08:17] #956 closed

[2020-02-27 08:45] satu0king commented on #566
@MrBartusek @aayush-05, while this is one way of looking at it, I don't think the end user actually wants this. When the user says delete circuit, it is not delete simulator. Moreover, this doesn't allow the user to save the circuit. Instead what would be interesting is, when the single circuit is deleted, it would help if the circuit was replaced with a new empty circuit (starting fresh).

[2020-02-27 10:09] tachyons commented on #849
Good one

[2020-02-27 10:19] aayush-05 commented on #549
This can be closed @tachyons

[2020-02-27 12:36] tachyons commented on #935
No idea, may because payload was too big and server closed connection 🤔 . Need to check in detail

[2020-02-27 13:17] MrBartusek opened #963 "Multi-Lingual Support"
Recently I made a [poll on slack](https://circuitverse-team.slack.com/archives/CJTJJ6XN0/p1581680032055200) asking if Multi-Lingual support is needed, The poll result was `3.1/5` which means that the community is mostly neutral with slight support to implementing this feature

![image](https://user-images.githubusercontent.com/23432278/75447892-80c4ad80-596a-11ea-82f9-e8f0ca24089b.png)

I won't wr

[2020-02-27 13:40] ShubhankarKG opened #964 "SVG Image format not supported by GMail"
**Describe the bug**
The custom emails that CircuitVerse sends to people when they register, do stuff etc. have a slight bug. When the emails are opened in GMail App/Browser, the CircuitVerse logo fails to render and we see an alternate hyperlink instead.

I have read about this online and the problem is due to the fact that GMail **does not** support SVG extension files. This is not the case with

[2020-02-27 13:53] MrBartusek commented on #964
Good point but. that should be considered as a separate issue, more like a part of #845

[2020-02-27 13:58] ShubhankarKG commented on #845
What has been the update here ? Have the email problems been resolved ?

[2020-02-27 14:18] Shivansh2407 commented on #964
I would like to work on this issue .

[2020-02-27 15:07] aayush-05 commented on #537
Can be closed @tachyons

[2020-02-27 15:48] ShubhankarKG commented on #964
Well i myself could try. I did ths=is to bring it to notice. Hope you don't mind.

[2020-02-27 15:53] Shivansh2407 commented on #964
No Problem @ShubhankarKG . Open up a PR soon and let me know if you need any help 👍 .

[2020-02-27 16:23] ShubhankarKG commented on #964
Thanks, I would want some help @Shivansh2407 , @MrBartusek . Hope y'all will help me. I intend to start from Saturday since I have my exams ongoing.

[2020-02-27 16:25] Shivansh2407 commented on #964
Yes Obviously, I am ready to help 👍

[2020-02-27 16:56] MrBartusek commented on #845
@ShubhankarKG that is slighty blocked by #849 but still, you can work on it like that:

[2020-02-27 19:06] DevL0rd commented on #935
@satu0king will do. I'll keep this open. They are intermittent issues but hwen they happen i'll be sure to open my developer console. I am running chrome ATM. I'll post more details like chrome version, etc when I upload the next time it happens.

Can you help me with joining the slack channel? The sooner we can track down the cause of these bugs the better XD I'd love to have a little less frustr

[2020-02-27 19:12] Ananthavijay commented on #935
Click this [link](https://circuitverse-team.slack.com/join/shared_invite/enQtNjc4MzcyNDE5OTA3LTdjYTM5NjFiZWZlZGI2MmU1MmYzYzczNmZlZDg5MjYxYmQ4ODRjMjQxM2UyMWI5ODUzODQzMDU2ZDEzNjI4NmE) to join circuitverse in slack

[2020-02-27 22:44] DevL0rd commented on #935
@Ananthavijay Thanks!

[2020-02-28 07:08] tachyons commented on #487
Already done

[2020-02-28 07:08] #487 closed

[2020-02-28 07:08] #537 closed

[2020-02-28 09:30] tachyons commented on #549
Fixed

[2020-02-28 09:30] #549 closed

[2020-02-28 15:19] YizhePKU commented on #935
I can relate to this. Sometimes when I am editing the label, it seems that the keyboard input is not completely captured. For example, when I tries to enter 'Q' in the label it pops up the "edit bit width" window, though the input 'Q' is actually appended to the label as well. In case of backspace, it just deletes the circuit altogether. But I cannot find a way to consistently reproduce the BUG. S

[2020-02-28 15:35] Shivansh2407 commented on #935
The Backspace Feature has been enabled in #952 .

[2020-02-28 15:59] YizhePKU commented on #935
@Shivansh2407 This is a different, unrelated bug. When I press Backspace when editing a label in the properties panel, sometimes it deletes the circuit instead.

[2020-02-28 16:16] ahmedo42 commented on #708
I'd like to work on this

[2020-02-28 17:36] YizhePKU opened #971 "Allow circuits to follow the cursor when pasting"
## Description

The current pasting behavior is to directly put down the circuits wherever the cursor is. This can lead to inconvenience and sometimes frustration.

* Often times the circuits don't land where the user wants them, so the user needs to move them manually.
* To make matters worse, the pasted circuits are not auto-selected, so the user needs to re-select whatever have been put down. T

[2020-02-28 17:43] MrBartusek opened #972 "Outline not working properly in `/user/:id`"
**Describe the bug**
Outline on the user page is not rounded (but it should) and have wired white strip

**Screenshots**

![image](https://user-images.githubusercontent.com/23432278/75571670-f196c300-5a59-11ea-9267-82c208ef1fb1.png)

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser: Vivaldi (chromium)

**Are you working on this issue? (Yes/No)**
No

[2020-02-28 17:46] MrBartusek opened #973 "Footer not sticking to the bottom of the page of small pages"
### This issue is partially fixed, please read the whole thread

---

**Describe the bug**
The footer should always be on the bottom of the page

**Screenshots**

![image](https://user-images.githubusercontent.com/23432278/75571895-62d67600-5a5a-11ea-9575-0e9fecc637d2.png)

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser: Vivaldi (chromium)

**Are you working

[2020-02-28 17:46] Shivansh2407 commented on #972
I would like to work on this 👍

[2020-02-28 17:47] MrBartusek commented on #528
Footer has been changed in new UI should be closed

[2020-02-28 17:51] MrBartusek opened #974 "Images stretched out on `/teachers`"
**Describe the bug**
For an example, first image is stretched from `115px` to `150px`

**Screenshots**

![image](https://user-images.githubusercontent.com/23432278/75572451-193a5b00-5a5b-11ea-9a5f-9a2dca3e52ae.png)

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser: Vivaldi (chromium)

**Are you working on this issue? (Yes/No)**
No

[2020-02-28 17:57] MrBartusek opened #975 "Footer links redirect to `circuitverse.org` instead to the relative page"
**Describe the bug**

`About` link should redirect to `/about` but for now it is redirecting to `circuitverse.org/about`

**Links that should be changed to a relative:**
- Simulator
- Examples
- Login
- Contribute
- Teachers
- About
- Social Media

**Links that should be kept cause they redirect to subdomain:**
- Learn
- Documentation

**Is fix needed?** [Yes](https://github.com/CircuitVerse/Circu

[2020-02-28 18:00] Ananthavijay commented on #974
@MrBartusek This is not a valid issue, these images will be replaced once the pages are complete

[2020-02-28 18:02] MrBartusek commented on #974
@Ananthavijay page is completed only those images are out of place but still, they should be changed asap if we plan to launch new UI in 2 days

[2020-02-28 18:02] Ananthavijay commented on #974
I meant the other pages. The images are of old UI

[2020-02-28 18:06] Ananthavijay commented on #974
@MrBartusek see this [comment](https://github.com/CircuitVerse/CircuitVerse/pull/933#pullrequestreview-363630386)

[2020-02-28 18:09] Shivansh2407 commented on #975
Can you please explain more on this @MrBartusek ?

[2020-02-28 18:12] MrBartusek commented on #975
@Shivansh2407
![image](https://user-images.githubusercontent.com/23432278/75573919-20169d00-5a5e-11ea-82fc-4556dc4ef9e5.png)
It shouldn't redirect to the main page when running on localhost rather it should redirect to the local copy

[2020-02-28 18:13] MrBartusek commented on #974
@Ananthavijay Ok, but still, will keep issue as a reminder that we need to do it before launch

[2020-02-29 03:07] YizhePKU commented on #935
@DevL0rd Please take a look at #971. Would that solve (part of) your problem? Any feedback is welcome :)

[2020-02-29 06:37] Ananthavijay commented on #975
@Shivansh2407 Are u working on this or can I open a PR?

[2020-02-29 08:01] Shivansh2407 commented on #975
@Ananthavijay actually I am busy with my exams so go ahead and make a PR.

[2020-02-29 10:44] thiefie commented on #468
we would need a new one for the new logo

On Sat, Feb 29, 2020, 5:38 AM github-actions[bot] <notifications@github.com>
wrote:

[2020-02-29 10:53] Miftahunajat opened #978 "Update Deadline Bugs"
**Describe the bug**
When the teacher changes the deadline of an assignment to the time before the current time at the moment then we get redirected to the next page and the edit button still hasn't changed to 'Reopen'. Must be refreshed first

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org'
2. Login
3. Open your groups
2. Click on 'Edit' in the one of the group
3. Ch

[2020-02-29 14:31] #975 closed

[2020-02-29 14:50] YizhePKU commented on #905
Nice work. It will be really useful for future development. Hope that it will be ready by the time of GSoC.

[2020-03-01 00:09] #760 closed

[2020-03-01 00:09] #733 closed

[2020-03-01 00:09] #709 closed

[2020-03-01 04:00] YashKumarVerma commented on #905
As discussed on the slack channel, this has become a track for GSoC and is therefore put on hold until the standards are discussed and decided in the community.

Depending on the conventions adopted in the community, these PR's might close, or more might come in as well.

[2020-03-01 06:44] ciphereck opened #982 "No of Views can be easily increased by requesting page in a loop by curl or something else"
**Describe the bug**
A clear and concise description of what the bug is.
I request to get this page in the browser https://circuitverse.org/users/18390/projects/56841 and saw no of views increase by one. But then I added a for loop in a shell script to make a curl request again and again, and it's increasing no of views.
Suppose a person creates a project, he/she can easily increase their number o

[2020-03-01 11:07] KaustubhDamania commented on #982
Maybe this issue can be fixed by incrementing the views count only if the session id encountered is new :thinking:

[2020-03-01 12:55] ShubhankarKG commented on #964
Where is the main image being processed at ? I mean the CircuitVerse logo. I couldn't find it in `app\mailers` or `app\views`. Any ideas @MrBartusek @Shivansh2407

[2020-03-01 13:34] aayush-05 commented on #964
You can find the new logo in app/assets/images @ShubhankarKG

[2020-03-01 13:40] MrBartusek commented on #964
@ShubhankarKG ask on slack

[2020-03-01 14:25] abstrekt commented on #973
I'd like to work on this issue :)

[2020-03-01 14:26] abstrekt commented on #972
I'd love to work on it!

[2020-03-01 15:00] shubhankarsharma00 opened #985 "Dropdown menu not working on simulator page."
**Describe the bug**
dropdown menu options like save, clear and many others unfunctional

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://localhost:3000/simulator'
2. Click on 'project'
3. Scroll down to 'save online'
4. nothing happens

**Expected behavior**
should save.

**Are you working on this issue? (Yes/No)**
Yes

[2020-03-01 16:54] abstrekt commented on #973
I am unable to reproduce this issue.. the footer seemed to be at the bottom when i ran it in my system

[2020-03-01 16:55] abstrekt commented on #973
is the issue solved?

[2020-03-01 18:33] MrBartusek commented on #973
@abstrekt I don't think so, check favourite projects

[2020-03-01 18:33] MrBartusek commented on #972
@abstrekt
@Shivansh2407 Is working on it

[2020-03-02 00:08] #669 closed

[2020-03-02 00:08] #654 closed

[2020-03-02 00:08] #628 closed

[2020-03-02 02:09] #985 closed

[2020-03-02 05:11] abstrekt commented on #972
ok, I'll look for something else

[2020-03-02 09:58] tachyons opened #989 "Integrate with saucelabs"
Saucelabs is willing to offer free account for Circuitverse under their open source plan, Check how can we make use of that to ensure cross browser support

[2020-03-02 10:00] tachyons opened #990 "Add linting extensions to gitpod"
Gitpod suppports vs code extensions, add linting tools like eslint, rubocop etc to gitpod via plugins https://www.gitpod.io/docs/vscode-extensions/

[2020-03-02 10:02] Ananthavijay commented on #990
Can I work on this?

[2020-03-02 10:04] tachyons commented on #990
Sure

[2020-03-02 12:22] #990 closed

[2020-03-02 12:23] Ananthavijay commented on #989
Can I work on this?

[2020-03-02 12:25] tachyons commented on #989
Sure

[2020-03-02 12:48] Ananthavijay opened #994 "Update CircuitVerse logo in the Readme file"
**Describe the bug**
The logo in the readme file is the old one.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'readme.md'
2. See error

**Expected behavior**
The old logo should be replaced with the new one

**Are you working on this issue? (Yes/No)**
No

[2020-03-02 12:58] Ananthavijay opened #995 "Update favicon logo"
**Describe the bug**
Favicon logo in the development is the old one

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any page in CircuitVerse in the development environment.
2. See error

**Expected behavior**
The old favicon logo should be replaced with the new one

**Are you working on this issue? (Yes/No)**
No

[2020-03-02 15:01] Shivansh2407 commented on #995
I would like to fix this 👍

[2020-03-02 15:27] abstrekt commented on #994
I will work on it!

[2020-03-02 16:55] #995 closed

[2020-03-02 20:07] Rana-Elkhouly commented on #374
I'm working on this issue.

[2020-03-03 00:08] #606 closed

[2020-03-03 00:08] #603 closed

[2020-03-03 00:08] #597 closed

[2020-03-03 00:08] #599 closed

[2020-03-03 00:08] #596 closed

[2020-03-03 00:08] #593 closed

[2020-03-03 00:08] #595 closed

[2020-03-03 04:04] jbox144 commented on #370
noooo!

[2020-03-03 10:02] abstrekt commented on #973
* Footer was in its right place, seemed off in place due to empty content
* Checked adding favourties, footer stay at bottom
## Screenshot
![issue footer](https://user-images.githubusercontent.com/42478217/75764441-dbdc1300-5d63-11ea-9a89-ae64b9115603.png)

please review @MrBartusek , Shall add a few more pixels to it?

[2020-03-03 10:49] #551 closed

[2020-03-03 10:51] #556 closed

[2020-03-03 11:21] #528 closed

[2020-03-03 11:23] #529 closed

[2020-03-03 11:23] #553 closed

[2020-03-03 11:35] #533 closed

[2020-03-03 12:31] abstrekt commented on #973
## screenshot latest commit
![footer fix](https://user-images.githubusercontent.com/42478217/75775931-ff5d8880-5d78-11ea-86a6-b5cc20f1a55e.png)

[2020-03-03 12:59] Ananthavijay commented on #711
@tachyons This can be closed since this has been fixed already

[2020-03-03 13:27] Ananthavijay commented on #527
@tachyons This can also be closed, fixed by new UI

[2020-03-03 13:29] Ananthavijay commented on #511
@ShreyaPrasad1209 this can be done only after creating Google, Fb, Github app. Check this [wiki](https://github.com/CircuitVerse/CircuitVerse/wiki/Create-Apps) for more info. @tachyons This can be closed.

[2020-03-03 13:32] Ananthavijay commented on #482
@tachyons this can be closed, old UI.

[2020-03-03 13:32] Ananthavijay commented on #484
@tachyons This can be closed.

[2020-03-03 13:37] #527 closed

[2020-03-03 13:38] Ananthavijay commented on #367
@tachyons This can be closed, Old UI

[2020-03-03 13:40] #367 closed

[2020-03-03 13:40] #484 closed

[2020-03-03 13:40] #482 closed

[2020-03-03 13:55] Ananthavijay commented on #511
My bad, didn't read the issue properly

[2020-03-03 14:18] abstrekt opened #1003 "scroll & zoom(canvas) of project preview (popup) doesn't seem right"
**Describe the bug**
Under My Circuits when you click ```view```
* The popup is scrolls along the page
* Secondly when you use a mouse-pad (2 finger scrolling), it scrolls as well as zooms the canvas

**To Reproduce**
Steps to reproduce the behavior:
1.  Log in with admin credentials
2. Go to My Circuits under User drop-down
2. Click on view on the saved project for the popup to appear
3. Scroll i

[2020-03-03 14:26] tachyons opened #1004 "Cleanup style sheets"
- Remove`!important` from css rules
- Remove logic_release.scss and move styles to corresponding stylesheets
- Run scss-lint on all scss files and fix the violations
- Remove custom css and use builtin bootstrap classes wherever possible

- Move inline styles in views to CSS

[2020-03-03 14:36] ShubhankarKG commented on #1004
I can take up this one @tachyons . I'll get back in a day.

[2020-03-03 14:47] mahmodHammad commented on #1004
I Want to work on this issue

[2020-03-03 15:45] aayush-05 commented on #1003
Can you clarify the issue you were facing (may be include a video) ? The scroll to zoom is a feature of simulator itself, so if you scroll on the iframe it zooms, else when you scroll outside it goes normally to scroll the page/pop up further. (The popup hasn't been made fixed because it might not be visible completely on smaller devices.)

[2020-03-03 15:59] abstrekt commented on #1003
i currently don't have an app to record screen, but I realized this problem persists in Firefox and not in chrome!, if you try it in firefox you it should reproduce!

[2020-03-03 16:50] abstrekt commented on #1003
@tachyons @nitin10s @MrBartusek , what shall be done?

[2020-03-03 18:46] darkshredder opened #1009 "Adding Back button to Edit Profile Page"
**Is your feature request related to a problem? Please describe.**
Its annoying to click on browser back button to go back on Edit profile page

**Describe the solution you'd like**
Add a back button To it

**Are you working on this? (Yes/No)**
Yes

[2020-03-03 18:47] darkshredder commented on #1009
[https://github.com/CircuitVerse/CircuitVerse/pull/1008](url)

[2020-03-03 18:50] darkshredder commented on #1009
#1008

[2020-03-03 18:53] darkshredder commented on #1009
#1008

[2020-03-03 18:53] darkshredder commented on #1009
[https://github.com/CircuitVerse/CircuitVerse/pull/1008](url)

[2020-03-03 18:54] darkshredder commented on #1009
#1008

[2020-03-03 21:31] PavlosMak commented on #1009
Hello! I would like to work on this if it is fine by you.

[2020-03-03 21:33] darkshredder commented on #1009
Actually I have already opened a PR

[2020-03-03 21:35] PavlosMak commented on #1009
Oh alright then. Thank you!

[2020-03-04 00:08] #589 closed

[2020-03-04 00:08] #591 closed

[2020-03-04 00:08] #592 closed

[2020-03-04 00:08] #577 closed

[2020-03-04 00:08] #580 closed

[2020-03-04 00:08] #567 closed

[2020-03-04 00:08] #568 closed

[2020-03-04 00:08] #561 closed

[2020-03-04 00:08] #565 closed

[2020-03-04 01:04] tachyons commented on #982
https://github.com/CircuitVerse/CircuitVerse/pull/414

[2020-03-04 13:05] shubhankarsharma00 commented on #994
@abstrekt the logo is available #ux channel in slack.

[2020-03-04 14:25] AsaoluElijah commented on #994
Hi @abstrekt are you still working on this?

[2020-03-04 15:51] abstrekt commented on #974
This issue was solved, forgot to added fixes, you can close this issue.

[2020-03-04 15:52] abstrekt commented on #973
This issue was solved, forgot to add fixes, you can close this issue.

[2020-03-04 16:01] Miftahunajat commented on #978
I think this Issue can be closed because of choosing a date before earlier than now. In the new display of Circuitverse no longer be activated

[2020-03-04 16:48] Miftahunajat opened #1017 "Javascript Error at New Assigment Teacher"
**Describe the bug**
When the teacher creates a new assignment the deadline time remaining showing error that says "something went wrong when loading script" instead of the remaining time.
The javascript doesn't load

**To Reproduce**
Steps to reproduce the behavior:
1. Login
2. Click on Your newly created group
3. Click on Create Assignment
4. See error

**Expected behavior**
A time remaining sho

[2020-03-04 17:08] Shivansh2407 opened #1019 "Bottom Logo Overlapping with Text on zoom"
**Describe the bug**
The links in the bottom get overlapped by the Logo image when user zooms in.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org'
2. Zoom to  '150% or 175%'
3. Scroll down to 'footer'
4. See error

**Expected behavior**
The Overlapping must be removed.

**Screenshots**
![Issue5](https://user-images.githubusercontent.com/42182955/75904079-8fc6c680-5e68

[2020-03-04 17:18] Shivansh2407 commented on #1019
@tachyons and @nitin10s review 👍

[2020-03-04 17:55] abstrekt commented on #1019
what app did you used for the screen record? @Shivansh2407

[2020-03-04 17:57] Shivansh2407 commented on #1019
@abstrekt I use Apowersoft Online screen recorder.

[2020-03-04 21:48] MayankG20 opened #1021 "navigation bar overlapped with text on Editing project page(In half Screen mode)"
**Bug Description**
When we haven't save the project than a popup will appear asking us to save the project on clicking, it asks about name and redirect us to editing project page which has overlapping title with navigation bar.

**To Reproduce**
Steps to reproduce the behavior:
1. Login
2. Start working on the project
3. A popup will appear:
![Screenshot from 2020-03-05 02-49-13](https://user-ima

[2020-03-05 00:08] #558 closed

[2020-03-05 00:26] #243 closed

[2020-03-05 03:41] Shivansh2407 commented on #1021
Can I fix this @MayankG20 ?

[2020-03-05 04:30] tachyons commented on #1019
Thanks for reporting the issue

[2020-03-05 08:45] rishipurwar1 commented on #1021
I think this issue is in old UI. In new UI, this issue is now fixed.

[2020-03-05 08:57] yash15601 commented on #1021
@rishipurwar1   see the browser the problem is in firefox i think which you are using ??

[2020-03-05 13:44] rishipurwar1 opened #1022 "Navbar button not working on small screen"
When CircuitVerse simulator open in small screen, navbar button not working.

Steps to reproduce the behavior:
1. Go to simulator page
2. Click on navbar button

Expected behavior
It should show all navbar items when user click on this button.

Are you working on this issue?
 Yes

[2020-03-05 13:48] rishipurwar1 commented on #1022
I am working on this

[2020-03-05 17:06] ciphereck commented on #208
@tachyons we can close this issue since #319 fixed the issue #21
And this issue is the same as #21

[2020-03-05 17:42] yash15601 commented on #1022
Mention the browser?? @rishipurwar1

[2020-03-05 19:20] MayankG20 commented on #1021
Yeah you can I tried but not able to figure out the correct file for chaning css of that page.

[2020-03-05 19:22] yash15601 opened #1024 "In Group and Assignments , if their are no members and no Assignments display No members in the Group and No Assignments"
**Is your feature request related to a problem? Please describe.**
when you go to groups and if their are no members it should display no members in the group

**Additional context**
![Screenshot (77)](https://user-images.githubusercontent.com/49101492/76017520-bfe39780-5f44-11ea-9fab-fb130fe20684.png)

**Are you working on this? (Yes/No)**
Yes

[2020-03-05 19:27] MayankG20 commented on #1021
Yeah this problem only arises in firefox but  we have to correct that also

[2020-03-05 21:52] nitin10s opened #1026 "No illustration for mobile view in Login & Sign-Up [New UX]"
**Describe the bug**
In the new_UX,
The mobile view of Login and Sign-Up should not have the illustration that is present in the Desktop View.

**To Reproduce**
Steps to reproduce the behaviour:
1. Open Login/Sign-Up on a mobile device

**Expected behaviour**
No illustration to be shown in the mobile view.

**Screenshots**
![login](https://user-images.githubusercontent.com/16988558/76028959-9a14bd

[2020-03-05 21:59] nitin10s opened #1027 "No feedback when on Login Page [New UX]"
**Describe the bug**
Whenever a user is on pages like Examples, Teachers, About., there is navigation feedback on the navbar [ The selected menu is underlined ]. But when a user is on Login Page, there is no navigational feedback.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Teachers Page
2. Check the Teachers Section is underlined to provide navigational feedback
3. Now click on L

[2020-03-06 00:08] #550 closed

[2020-03-06 00:08] #566 closed

[2020-03-06 00:08] #542 closed

[2020-03-06 00:08] #536 closed

[2020-03-06 00:08] #539 closed

[2020-03-06 00:08] #535 closed

[2020-03-06 00:08] #525 closed

[2020-03-06 00:08] #534 closed

[2020-03-06 00:08] #519 closed

[2020-03-06 00:08] #517 closed

[2020-03-06 00:08] #508 closed

[2020-03-06 00:08] #513 closed

[2020-03-06 00:08] #494 closed

[2020-03-06 00:09] #493 closed

[2020-03-06 00:09] #481 closed

[2020-03-06 00:09] #477 closed

[2020-03-06 00:09] #480 closed

[2020-03-06 00:27] yash15601 commented on #1027
Can I work on this @nitin10s ?

[2020-03-06 00:56] tachyons commented on #199
Part of refactoring task

[2020-03-06 01:03] #208 closed

[2020-03-06 03:27] rishipurwar1 commented on #1026
I am working on this

[2020-03-06 03:27] rishipurwar1 commented on #1022
OS-Windows 10 pro
Gooogle Chrome

[2020-03-06 05:04] rishipurwar1 commented on #1021
I am using chrome.
if this problem is in firefox, we have to fix that.
Anyone working on it?

[2020-03-06 05:12] rishipurwar1 opened #1028 "Simulator project title is not align properly"
When simulator page is open in mobile, the project title doesn't align properly

Steps to reproduce the behavior:
1. Go to the simulator in the mobile phone and click on navbar button
2. See error
Expected behavior
it should be aligned in the center

Are you working on this issue?
Yes

[2020-03-06 06:39] ciphereck commented on #784
Should not close this issue. Once someone removes conflict in #810 by rebasing, then merging will automatically close this issue.

[2020-03-06 06:45] rishipurwar1 commented on #1026
![signup](https://user-images.githubusercontent.com/57035408/76058283-f7ccf800-5fa1-11ea-88a9-f6322ecd47cb.png)
![login](https://user-images.githubusercontent.com/57035408/76059067-ed136280-5fa3-11ea-8e47-766d8a74e928.png)

Please check it
Is it fixed now? @nitin10s

[2020-03-06 08:47] KaustubhDamania commented on #951
Is this issue still open? I'd like to work on it.

[2020-03-06 09:03] ciphereck commented on #434
@tachyons @nitin10 we can close this issue since it's same as #236

[2020-03-06 09:32] KaustubhDamania commented on #971
Is this issue still open? I'd like to work on it.

[2020-03-06 09:54] #1027 closed

[2020-03-06 10:21] tachyons commented on #434
Duplicates #236

[2020-03-06 10:22] Ananthavijay commented on #434
@ciphereck you have pinged the wrong person, Nitin's id is nitin10s

[2020-03-06 10:23] tachyons commented on #236
.

[2020-03-06 11:50] Ananthavijay commented on #974
@tachyons This issue can be closed.

[2020-03-06 12:39] Shivansh2407 commented on #1028
@rishipurwar1 If you dont mind, I would Like to work on this issue as I have a completely working solution for this. I just need to open up a PR.

[2020-03-06 12:43] #767 closed

[2020-03-06 12:45] #1009 closed

[2020-03-06 12:59] YizhePKU commented on #971
@KaustubhDamania Yes. I planned to work on this myself but got distracted recently. You are welcome to try.

[2020-03-06 13:33] Shivansh2407 commented on #1028
Working on this 👍

[2020-03-06 13:59] #1022 closed

[2020-03-06 14:02] rishipurwar1 commented on #1028
I close my pull request. You start working on it and make a pr.

[2020-03-06 14:07] aayush-05 commented on #1028
Can you please check it again @rishipurwar1 ? It seems to work fine for me.
![image](https://user-images.githubusercontent.com/47032027/76090642-f0c5da00-5fe1-11ea-83da-74410ac96942.png)

[2020-03-06 14:09] aayush-05 commented on #1021
@MayankG20 please check if it still exists on the latest master because this page had been revamped under new UI

[2020-03-06 14:12] Shivansh2407 commented on #1028
When I opened Gitpod for the same , It showed some problems and overlaps , I will be opening a PR please see that and let me know your views

[2020-03-06 14:12] rishipurwar1 commented on #1028
Are you running locally @aayush-05

[2020-03-06 14:18] aayush-05 commented on #1028
Yes, it is now visible after I pulled from the current master.
![image](https://user-images.githubusercontent.com/47032027/76091351-6aaa9300-5fe3-11ea-9f15-59af376107c2.png)
Go ahead @Shivansh2407

[2020-03-06 14:22] MrBartusek commented on #784
@JoshHeng

[2020-03-06 14:24] #974 closed

[2020-03-06 14:34] MrBartusek opened #1033 "Group Page can look better [new UX]"
Issues that I found on `/groups/:id`

- Button for removing a user from a group needs some more margin on long usernames
- `Add Member` and `Add new Assignment` should be in same line as their headers, for now, there is wired empty space between header and content of the section
- Margin above group name is bigger than the margin below `Back` button

**Additional context**
![image](https://user-im

[2020-03-06 14:37] Nitish145 commented on #1033
I am working on this issue 🙂

[2020-03-06 14:42] MrBartusek opened #1034 "White button hover on groups list"
**Describe the bug**
The button hover is white and its blends with background

**Screenshots**
![image](https://user-images.githubusercontent.com/23432278/76093327-0f67a900-5fc1-11ea-8e0e-9695dd7456b5.png)
![image](https://user-images.githubusercontent.com/23432278/76093340-17274d80-5fc1-11ea-86c7-df4a03dfd639.png)

**Are you working on this issue? (Yes/No)**
No

[2020-03-06 14:59] rishipurwar1 commented on #1034
I want to work on this issue

[2020-03-06 16:43] darkshredder commented on #1034
@rishipurwar1 If you dont mind can I work on this??

[2020-03-06 17:10] rishipurwar1 commented on #1034
I already working on this. @darkshredder

[2020-03-06 17:23] rishipurwar1 commented on #1034
It's OK @darkshredder

[2020-03-06 17:31] darkshredder opened #1038 "Social Media links looks dull without hover effects in Login page"
**Is your feature request related to a problem? Please describe.**
Social Media links looks dull without hover effects in Login page

**Describe the solution you'd like**
Add hover effects to it

**Are you working on this? (Yes/No)**
Yes

[2020-03-06 21:47] swarali15 commented on #951
Yes the issue is open...But I am working on it...

[2020-03-07 00:08] #461 closed

[2020-03-07 00:08] #448 closed

[2020-03-07 00:08] #449 closed

[2020-03-07 00:08] #444 closed

[2020-03-07 04:14] tachyons commented on #165
.

[2020-03-07 06:36] shubhankarsharma00 opened #1041 "Can't see icons while editing layout. [new UX]"
**Describe the bug**
glyphicons not working in `simulator\embed.html.erb`  and  `simulator\edit.html.erb`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'localhost/3000'
2. Try edit layout option or look for this:

![image](https://user-images.githubusercontent.com/32474302/76138207-9f622d00-606b-11ea-9675-b73f3eeb08a6.png)

**Expected behavior**
this is not visible:
![image](https:/

[2020-03-07 07:26] MayankG20 commented on #1021
I am new to ruby so can you tell me what is the location of this page inside this repo as i have tried a lot but couldn't figure out

[2020-03-07 07:41] rishipurwar1 opened #1043 "Learn logic design link should be button"
On the homepage, currently learn logic design is a link but I think it should be a button.

Steps to reproduce the behavior:
1. Go to the homepage
4. See logic learn link
![bug](https://user-images.githubusercontent.com/57035408/76139366-09330480-6075-11ea-95df-806dd5e13792.png)

**Expected behavior**
It should be a button
![budc](https://user-images.githubusercontent.com/57035408/76139373-15b75d0

[2020-03-07 07:41] rishipurwar1 commented on #1043
I am working on this

[2020-03-07 08:59] MrBartusek opened #1044 "Not responsive buttons on index"
**Describe the bug**
`For Teachers` and `For Contributors` buttons should be centred on mobile version

**Screenshots**
![image](https://user-images.githubusercontent.com/23432278/76140376-18f11f80-605a-11ea-86ce-305861c2d859.png)

**Desktop (please complete the following information):**
 - Chrome Dev Tools iPhone X Emulation

**Are you working on this issue? (Yes/No)**
No

[2020-03-07 09:03] Nitish145 commented on #1044
Working on this issue 🙂

[2020-03-07 09:18] MrBartusek opened #1045 "Footer Elements not centered"
**Describe the bug**
I made this bug report for mobile footer cause it shows more problems than desktop but, some of the problems are desktop too and should be fixed

- The logo is not centred
- Social media icons are too far to the right
- Titles are not aligned to the content (`Circuits`, `Info`, `Sponsors`)

**Screenshots**

![image](https://user-images.githubusercontent.com/23432278/76140472-0

[2020-03-07 09:24] MrBartusek opened #1046 "Educational Institute Typeahead Not Working"
**Describe the bug**
Typeahead endpoint throws 505

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to `/users/:id/profile/edit`
2. Type to `Educational institute` and look for network monitor

**Screenshots**

![image](https://user-images.githubusercontent.com/23432278/76140718-9bc7a980-605d-11ea-85d3-de68e73b5ce2.png)

![image](https://user-images.githubusercontent.com/23432278/76140721

[2020-03-07 09:29] MrBartusek opened #1047 "Background of new UX pages blends with page background"
**Describe the bug**
The content of pages using this layout is inside the grey box which blends with a grey background

**Screenshots**
![image](https://user-images.githubusercontent.com/23432278/76140766-e9dcad00-605d-11ea-90dd-122dc7f26284.png)

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser: Vivaldi (chromium)

**Additional context**
I don't know how to fi

[2020-03-07 09:33] Nitish145 commented on #1045
Would be happy to work , similar to previous one

[2020-03-07 09:35] Shivansh2407 commented on #1047
I would like to work on this 👍

[2020-03-07 09:37] Shivansh2407 commented on #1041
I would like to work on this @shubhankarsharma00 .

[2020-03-07 09:45] MrBartusek commented on #973
@abstrekt
Found same issue on `/notifications`
![image](https://user-images.githubusercontent.com/23432278/76141007-a899cc80-6060-11ea-9579-b83b051d7cdc.png)

[2020-03-07 09:49] MrBartusek opened #1048 ""Social" Icons need to be more clickable"
**Describe the bug**
These icons need to be clickable on the whole surface (not only one point) and need some kind of hover animation

**Screenshots**

`/contribute`
![image](https://user-images.githubusercontent.com/23432278/76141052-11814480-6061-11ea-8891-aee822f7b0a6.png)
![image](https://user-images.githubusercontent.com/23432278/76141062-2362e780-6061-11ea-8e5d-9ed3bb5f6fac.png)

`/about`
![

[2020-03-07 09:52] MrBartusek commented on #769
Still relevant

![image](https://user-images.githubusercontent.com/23432278/76141125-a421e380-6061-11ea-81c9-c248640ed9a6.png)

[2020-03-07 09:52] Shivansh2407 commented on #1048
I would like to work on this 👍

[2020-03-07 09:53] Ananthavijay commented on #1048
This has been fixed in this PR: https://github.com/CircuitVerse/CircuitVerse/pull/1011

[2020-03-07 09:58] MrBartusek commented on #1048
@Ananthavijay Ok, Can you add hovers to your PR too?
I will appreciate adding `Fixes #1048` to your PR too

[2020-03-07 09:58] Ananthavijay commented on #1048
yep will do it asap

[2020-03-07 10:07] MrBartusek opened #1049 "Pages and footer left & right margins"
**Describe the bug**
Margin to centre content of pages to don't spill out to the whole screen are too big

![cv1](https://user-images.githubusercontent.com/23432278/76141343-7b9ae900-6063-11ea-8ffd-6d358bc033a3.png)

The footer should have the same margins as page content _That might create conflicts with #1045_

![c2](https://user-images.githubusercontent.com/23432278/76141357-a2591f80-6063-11ea-

[2020-03-07 10:10] Nitish145 commented on #1049
On it, will also take care of conflict..

[2020-03-07 10:14] rishipurwar1 commented on #1044
please tell me where is index.html located?

[2020-03-07 10:19] MrBartusek commented on #1044
@rishipurwar1 That is `app\views\logix\index.html.erb`
BTW: If you need help any help best place to ask is our [Slack](https://join.slack.com/t/circuitverse-team/shared_invite/enQtNjc4MzcyNDE5OTA3LTdjYTM5NjFiZWZlZGI2MmU1MmYzYzczNmZlZDg5MjYxYmQ4ODRjMjQxM2UyMWI5ODUzODQzMDU2ZDEzNjI4NmE)
BTW2: @Nitish145 is already working on that

[2020-03-07 10:25] rishipurwar1 commented on #1044
Thanks @MrBartusek.

[2020-03-07 11:08] MrBartusek commented on #973
@tachyons can you re-open?

[2020-03-07 11:27] #1034 closed

[2020-03-07 11:28] shubhankarsharma00 commented on #1041
Ok

[2020-03-07 11:41] MrBartusek commented on #1048
@Ananthavijay these 2 don't have hover yet
![image](https://user-images.githubusercontent.com/23432278/76142770-f3bbdb80-6070-11ea-9b23-df94333fa0be.png)

@tachyons can you re-open?

[2020-03-07 11:46] yash15601 commented on #1047
@MrBartusek  Can you please elaborate  what you are trying  to say

[2020-03-07 11:48] yash15601 commented on #1047
@MrBartusek  I tryed with the grey background  it looks odd

[2020-03-07 12:03] Shivansh2407 commented on #1047
Yes please elaborate the issue @MrBartusek .

[2020-03-07 12:13] MrBartusek commented on #1047
@yash15601 @Shivansh2407 Moved to [Slack](https://circuitverse-team.slack.com/archives/CQ17325A5/p1583583189203400)

[2020-03-07 12:14] akansha-singh opened #1050 ""Hover Effect" on buttons(in About page) make them invisible"
**Describe the bug**
"Hover Effect" on these buttons make them invisible and After visiting the buttons it looks like as shown in 2nd pic.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'About' page
2. Hover on The buttons 'Terms of Service ' and 'Privacy policy'
![WhatsApp Image 2020-03-07 at 17 43 10](https://user-images.githubusercontent.com/47236824/76143182-44e0c500-609b-11ea-894

[2020-03-07 12:36] Ananthavijay commented on #1048
My bad 🤦‍♀

[2020-03-07 12:54] nitin10s commented on #1049
I don't understand the issue completely. I see the footer is not centre aligned and I agree with that issue but what else are you trying to say?

[2020-03-07 12:57] aayush-05 commented on #1050
It has been updated, pull from the latest master

[2020-03-07 12:59] ryuk156 opened #1051 "Same name of Group and same name of Assignments should not be their"
**Describe the bug**
When we create a group of name eg : yash15601 the one group is created now create the another group of same name i.e yash15601 ,it will create the group of same group
Same in Assignments :,When we create a Assignments of name eg : myfistassignments the one Assignment is created now create the another Assignments of same name i.e myfistassignment ,it will create Assignments of

[2020-03-07 13:00] aayush-05 commented on #1049
I think he is talking about the increased margin space on the left and right, but it seems to be fine on my screen.
![image](https://user-images.githubusercontent.com/47032027/76143974-b3288600-60a1-11ea-9d80-b2f684c6d5d6.png)

Can you check on your machine @nitin10s ?

[2020-03-07 13:02] MrBartusek commented on #1049
@nitin10s I am thinking about 2 issues here, margins on left and right of the page are too big on big screens (like mine) and footer should have the same margins as content in my opion

[2020-03-07 13:03] nitin10s commented on #1051
Didn't understand what is the expected behaviour?

[2020-03-07 13:04] Ananthavijay commented on #1051
Group,Project,Assignment names should be unique

[2020-03-07 13:05] yash15601 commented on #1051
@nitin10s  As said by  @Ananthavijay

[2020-03-07 13:08] aayush-05 commented on #1047
Not sure if this is what you meant, but if you are saying the border of that div blends in with the background, then it is what meant to be done. The border of that div has been explicitly set to zero. @MrBartusek

[2020-03-07 13:09] Ananthavijay opened #1052 "Preview modal doesnt work in project page"
**Describe the bug**
Preview modal doesnt work in project page

**To Reproduce**
Steps to reproduce the behavior:
1. Start the server
2. Make a circuit and save it
3. click ````Preview````
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![CircuitVerse - test](https://user-images.githubusercontent.com/35162705/76144098-e7e90d00-60

[2020-03-07 13:10] yash15601 commented on #1047
@MrBartusek  yes the border is set to Zero , i think this what you are trying to say

[2020-03-07 13:11] Shivansh2407 commented on #1047
So should I just add border to the Div? @MrBartusek @nitin10s

[2020-03-07 13:12] aayush-05 commented on #1046
Are you not able to save the value provided for Educational Institute as well ?

[2020-03-07 13:13] yash15601 commented on #1047
@Shivansh2407 no Dont add border it dosent look good i tryed when  i was desiging this

[2020-03-07 13:21] nitin10s commented on #1043
"learn logic design" is indeed a button and is made that way to look distinctive on purpose. @tachyons Please close this issue.

[2020-03-07 13:34] MrBartusek commented on #1046
@aayush-05 Saving works fine

[2020-03-07 14:18] #1043 closed

[2020-03-07 14:47] aayush-05 commented on #1049
We are using bootstrap containers as of now, I think either we can explicitly increase the max-width for larger displays to reduce the margins.
![image](https://user-images.githubusercontent.com/47032027/76145585-9ba4c980-60b0-11ea-8361-5c14edbabad0.png)
Footer can be made uniform with the rest of the content.

[2020-03-07 15:17] aayush-05 commented on #1044
They are explicitly left idented, check the prototype.

[2020-03-07 15:20] MrBartusek commented on #1044
@aayush-05 I am thinking only about mobile

[2020-03-07 16:01] rishipurwar1 opened #1055 ""view example" button in examples not align properly in mobile view"
In examples section, when open in mobile view, a view example button not aligned properly.

Steps to reproduce the behavior:
1. Go to examples
2. Switch in mobile view
3. See error

**Current Behaviour**
![bug1w](https://user-images.githubusercontent.com/57035408/76146667-be3be000-60ba-11ea-9445-120daf54e940.png)

**Expected behavior**
It should be like this
![bug1](https://user-images.githubuserc

[2020-03-07 16:09] Potential17 commented on #466
Hey,I would Like to contribute for this issue.

[2020-03-07 16:39] #1055 closed

[2020-03-07 16:50] nitin10s commented on #1049
For the first issue - I agree with what @aayush-05 mentioned
For the second issue - There is no hard and fast rule for that footer. Moreover, since our footers have various elements, I'd say it's ok to keep it that way.

[2020-03-07 16:58] nitin10s commented on #1047
Don't do any anything for now.

[2020-03-07 17:21] Ananthavijay opened #1058 "Recent circuits not being shown in Homepage"
**Describe the bug**
Recent circuits not being shown in Homepage

**To Reproduce**
Steps to reproduce the behavior:
1. Start the server
2. Scroll down
3. See error

**Expected behavior**
Recent circuits should be shown in Homepage

**Screenshots**
![image](https://user-images.githubusercontent.com/35162705/76147821-1e844f00-60c6-11ea-909b-a110dfe5f8a1.png)

**Desktop (please complete the following

[2020-03-07 17:28] Shivansh2407 commented on #1058
I would like to work on this 👍

[2020-03-07 19:09] nitin10s commented on #1051
Great observation! :)

[2020-03-07 19:10] yash15601 commented on #1051
@nitin10s  thanks 😂

[2020-03-07 21:53] abstrekt commented on #973
I'll recheck all pages today.

[2020-03-07 23:46] mahmodHammad opened #1064 "minor style issues at about page"
**Describe the bug**
- white space need to be adjusted at  about page
- our team doesn't look good at md screens
- terms of Service & privacy needs to be centered

**To Reproduce**
Steps to reproduce the behavior:
- Go to 'http://localhost:3000/about'

**Expected behavior**
white space should be equal on both sides to look better

**Screenshots**
![before](https://user-images.githubusercontent.com

[2020-03-08 00:09] #468 closed

[2020-03-08 00:09] #442 closed

[2020-03-08 00:09] #425 closed

[2020-03-08 00:09] #413 closed

[2020-03-08 00:56] mahmodHammad commented on #1064
https://github.com/CircuitVerse/CircuitVerse/pull/1065

[2020-03-08 04:46] ciphereck commented on #701
@tachyons @nitin10s can close this. Since, currently, we are not planning to add an FAQ page or are we?

[2020-03-08 04:48] ciphereck commented on #548
@tachyons @nitin10s this can be closed since this issue is fixed in new UI as mentioned by MrBartusek

[2020-03-08 04:51] ciphereck commented on #523
@Ananthavijay are you still working on this? I see you closed your pull request?

[2020-03-08 04:52] ciphereck commented on #511
Can close this, since just a misunderstanding while onboarding @tachyons @nitin10s

[2020-03-08 04:53] Ananthavijay commented on #523
I delted the branch by mistake, will reopen it

[2020-03-08 04:54] ciphereck commented on #466
@Potential17 yeah sure. and Let us know your updates please on this thread.

[2020-03-08 04:56] ciphereck commented on #412
.

[2020-03-08 06:10] #1050 closed

[2020-03-08 07:26] rishipurwar1 opened #1067 "Image of user not display when modify comment"
In comment section, after commenting on the saved project and then go to edit option, the image of the user not shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to user project and click on more
2. Click on new comment and write a comment
3. And then click on edit
4. Users image not display(blank space is there instead of user image)

**Expected behavior**
Users image should display

[2020-03-08 07:27] rishipurwar1 commented on #1067
I am working on this

[2020-03-08 07:41] yash15601 opened #1069 "Testbench page not working"
**Describe the bug**
Testbench page is broken addinput and other buttons are not working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org/testbench'
2. Click on 'Addbutton'
3. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/49101492/76158653-21bb2180-613e-11ea-86c2-76af96f24a77.png)

**Are you working on this issue? (Yes/No)**
Yes

[2020-03-08 08:43] nitin10s opened #1071 "Toolbar not visible in the simulator [New UX]"
**Describe the bug**
This toolbar is present but not visible in the simulator in the new UX.
![image (2)](https://user-images.githubusercontent.com/16988558/76159431-60ed7080-6146-11ea-9431-12a2e34bcf33.png)

This is because we're using Bootstrap 4 which has dropped the support for Glyphicons. Since we are already using Font-Awesome, we can use it as a replacement.

**To Reproduce**
1. Go to Simul

[2020-03-08 08:44] Ananthavijay commented on #1071
Duplicate of https://github.com/CircuitVerse/CircuitVerse/issues/1041

[2020-03-08 08:44] Shivansh2407 commented on #1071
Similar to #1041 . I am working on it @nitin10s

[2020-03-08 08:45] #1071 closed

[2020-03-08 08:45] nitin10s commented on #1041
This is because we're using Bootstrap 4 which has dropped the support for Glyphicons. Since we are already using Font-Awesome, we can use it as a replacement.

[2020-03-08 09:19] shubhankarsharma00 commented on #1041
@nitin10s what if we import glyphicons from bootstrap 3 ?

[2020-03-08 09:21] Shivansh2407 commented on #1041
I have completed fixing the issue with Font Awesome . It is now working and I will open the PR soon.

[2020-03-08 09:21] shubhankarsharma00 commented on #1041
Ok Nice

[2020-03-08 10:18] MrBartusek commented on #701
Basically no activity, no elaboration. the bot will close it in 2 days

[2020-03-08 11:26] Nitish145 commented on #1049
What changes needs to be done then in footer ? @nitin10s

[2020-03-08 11:48] Shivansh2407 opened #1074 "Use Text Area in TestBench Page"
**Is your feature request related to a problem? Please describe.**
Instead of using a prompt to load TestBench JSON Data we should use either a Popup with a Text Area or a Fixed Text Area in the Page . We should be using this because if we want to load A lot of data and then make edits in between then it becomes really problematic to go back. Instead while using a text area we just need to scroll

[2020-03-08 11:49] Shivansh2407 commented on #1074
Please let me know your views about it @satu0king , @tachyons and @nitin10s so that I can Open a PR 👍

[2020-03-08 12:51] akansha-singh opened #1078 "Navbar position should be ' Fixed ' static on the top when Scroll ."
**Isyour feature request related to a problem? Please describe.**
On scroll .. The position of the Navbar should be fixed on the Top.

**Additional context**
![ezgif com-video-to-gif(1)](https://user-images.githubusercontent.com/47236824/76163167-f817ef80-6169-11ea-91d2-d21e8b6a8349.gif)

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Desktop (p

[2020-03-08 13:27] abstrekt opened #1079 "Footer breaking in Ipad (potrait) & Iphone X/XS (landscape)"
**Describe the bug**
Refer screenshot

**Screenshots**
If applicable, add screenshots to help explain your problem.
![footer ipad potrait](https://user-images.githubusercontent.com/42478217/76163718-9c9c3080-616e-11ea-8fc2-46ed6617d650.png)

![footer iphoneX land](https://user-images.githubusercontent.com/42478217/76163719-9efe8a80-616e-11ea-8427-fd9463328354.png)

**Are you working on this issue?

[2020-03-08 13:40] yash15601 commented on #1074
@Shivansh2407  This can be change in the new layout as i said in my testbench pr

[2020-03-08 14:12] MrBartusek commented on #1047
Closing for now, please mention me here if anyone will have an idea how to fix it

[2020-03-08 14:12] #1047 closed

[2020-03-08 14:27] Shivansh2407 commented on #1079
Similar to #1019 . I am working on it to get it fixed soon .

[2020-03-08 14:52] Shivansh2407 commented on #602
Please reopen this issue @tachyons . I have a PR pending to fix this issue.

[2020-03-08 15:01] Shivansh2407 commented on #532
This Needs to be reopened. The issue has not been fixed yet @tachyons . See error in the screenshot below.
![Capture](https://user-images.githubusercontent.com/42182955/76165287-c6a81f80-617b-11ea-9c7f-e45c78e869cc.PNG)

[2020-03-08 15:13] aayush-05 commented on #532
Any possible solution for this @Shivansh2407 ? This is happening due to the different aspect ratios of the images, so setting a max-height won't help as then the remaining text would overflow.

[2020-03-08 15:16] Shivansh2407 commented on #532
I am trying to fix this . If I get any better solution I will open up a PR.

[2020-03-08 15:33] yash15601 commented on #532
@Shivansh2407  @aayush-05  try placing the view button in center  after the text and add new div of class container to text ? i think this will work

[2020-03-08 15:38] Shivansh2407 commented on #532
@aayush-05 and @yash15601 the Image thing is fixed now, But the Name is of different Length so I am thinking to add ... at the end of the Long names to avoid this type of situation. Because if anyone adds or updates the Names in future then also this fix can work

[2020-03-08 15:40] yash15601 commented on #532
@Shivansh2407  good idea this the possible way we can prevent the length of text being long @aayush-05 your views on this

[2020-03-08 15:44] aayush-05 commented on #532
Feels right @Shivansh2407 , send a screenshot and get it verified by @nitin10s for confirmation

[2020-03-08 15:57] Shivansh2407 commented on #532
![150zoom](https://user-images.githubusercontent.com/42182955/76166250-3b328c80-6183-11ea-8792-6ad20322212a.PNG)
@nitin10s and @tachyons I will be doing something like this . This is a screenshot for 150% zoom , I will be adding ... to long names so that whenever the user zooms in or views it on mobile deices then they do not face this issue. Please let me know your views on this.

[2020-03-08 16:02] satu0king commented on #1041
Fixed in #1082

[2020-03-08 16:02] #1041 closed

[2020-03-08 16:14] yash15601 commented on #532
LGTM🙂

[2020-03-08 17:37] satu0king opened #1084 "Issues in Production Environment for new UI"
When I tried to do `RAILS_ENV=production rails s`

I got this error.

I think a possible fix in `application.rb` would be this. But I think its better to remove Rack::Deflator completely.

[code]

Another issue is when I run
`RAILS_ENV=production rails assets:precompile`, uglifier has some issues. By doing `config.assets.js_compressor = Uglifier.new(:harmony => true)` in `production.rb`, some erro

[2020-03-08 17:40] satu0king commented on #1084
@tachyons @ankitkataria @Ananthavijay

[2020-03-08 18:26] #1067 closed

[2020-03-08 18:41] satu0king commented on #1051
This is not really much of an issue. Any fix should consider the following things
1. It should be efficient
1. It should not break current assignments/groups etc

[2020-03-08 18:41] satu0king commented on #1084
This is a high priority issue

[2020-03-09 00:09] #409 closed

[2020-03-09 00:09] #369 closed

[2020-03-09 00:39] yash15601 commented on #1051
@satu0king  like having same name of group will create problem for user to identify the in which he/she added related  members  a part from this about efficiency  and breaking assignment /group  will fix this soon

[2020-03-09 05:49] darkshredder opened #1088 "Add Cursor on simulator circuit elements"
**Is your feature request related to a problem? Please describe.**
Add Cursor on simulator circuit elements and canvas
**Describe the solution you'd like**
Cursor changes to pointer on circuit elements chosen and on canvas while grabing changes to grabing and so on.

**Are you working on this? (Yes/No)**
Yes

[2020-03-09 05:50] tachyons commented on #511
No this issue need to be fixed as issue happened in production, not local environment

[2020-03-09 05:51] Shivansh2407 commented on #371
Can I work on this @tachyons ?

[2020-03-09 05:53] #973 closed

[2020-03-09 05:53] #548 closed

[2020-03-09 05:54] tachyons commented on #371
No, it is already done. We are postponing the merge as it requires some manual work for deployment

[2020-03-09 05:56] #1045 closed

[2020-03-09 06:08] rishipurwar1 commented on #1078
Are you still working on it?
If not, I would like to work on it..

[2020-03-09 06:30] nitin10s commented on #769
What is still relevant? Also, we'll be styling all checkbox uniformly soon.

[2020-03-09 06:36] nitin10s commented on #1048
@Ananthavijay can you please add hover to those two buttons as well?

[2020-03-09 06:36] Ananthavijay commented on #1048
will do it asap

[2020-03-09 06:38] nitin10s commented on #1044
Yes, for mobile they would look better centre aligned.

[2020-03-09 07:04] aayush-05 commented on #1021
I checked, it is fixed in the new UI. Please close this issue
![image](https://user-images.githubusercontent.com/47032027/76190134-4f699e80-6202-11ea-9b8c-49f79c8f7ddc.png)
![image](https://user-images.githubusercontent.com/47032027/76190144-509acb80-6202-11ea-903a-f7edb1997a25.png)

[2020-03-09 07:42] yash15601 commented on #1044
![image](https://user-images.githubusercontent.com/49101492/76192218-4deea500-6207-11ea-8418-b9a86cbbf471.png)
i did this for iphone x but in it look like this will it okk
![image](https://user-images.githubusercontent.com/49101492/76192298-7b3b5300-6207-11ea-89e3-ea34d9cce386.png)
@nitin10s  @MrBartusek  your views please

[2020-03-09 07:55] #1038 closed

[2020-03-09 07:57] #1024 closed

[2020-03-09 08:00] yash15601 commented on #511
@tachyons   can i work on this

[2020-03-09 08:38] yash15601 commented on #511
@tachyons   thiers some issue with facebook app id
here's my screenshot
![image](https://user-images.githubusercontent.com/49101492/76195974-64006380-620f-11ea-8679-b48722dd0209.png)

[2020-03-09 09:11] Shivansh2407 opened #1090 "Stars to the Project Not working properly"
**Describe the bug**

- [ ] The Icon of Star is not available so we cannot identify how to star it .
- [ ] On clicking the star the rating decreases to -1, -2, -3 and so on.
- [ ] A user must not give more than one star to the circuit (ideally).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'New UI either through gitpod or clone the repo and on Localhost'
2. Log In => Create a Circui

[2020-03-09 09:12] Shivansh2407 commented on #1090
I am working on this , @tachyons please let me know your views on this issue.

[2020-03-09 09:29] Ananthavijay commented on #1090
@shivansh2407 This is in old UI. Please check the new UI. This can be closed

[2020-03-09 09:32] Ananthavijay commented on #511
@yash15601 This is in circuitverse.org not in the development environment. To use the social media login u should check [this](https://github.com/CircuitVerse/CircuitVerse/blob/master/SETUP.md#configuring-third-party-services) .

[2020-03-09 10:12] yash15601 commented on #1090
Yes @Shivansh2407  even I was bit confused  about ui update your repo

[2020-03-09 10:16] Shivansh2407 commented on #1090
Oh Sorry , Actually I got a bit confused with the Old and New UI . Thank you for informing @Ananthavijay and @yash15601 👍 . Updated my repo 😅

[2020-03-09 10:16] Shivansh2407 commented on #1090
Closing This issue 👍

[2020-03-09 10:16] #1090 closed

[2020-03-09 10:38] Shivansh2407 opened #1091 "Stars Not Working Properly"
**Describe the bug**
Whenever I star any of my circuit then it gets starred. Now when I get to my circuits page and then from there navigate to that particular circuit again a the glowing star is not shown but it remains in my favourites .

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'New UI (Gitpod or Recent repo clone)'
2. Click on 'My circuits'
3. Star any circuit
4. See error

*

[2020-03-09 10:39] Shivansh2407 commented on #1091
I would like to know your views on this @satu0king , @tachyons and @nitin10s 👍

[2020-03-09 10:40] Ananthavijay commented on #1091
This is fixed in this [PR](https://github.com/CircuitVerse/CircuitVerse/pull/1057)

[2020-03-09 10:41] Shivansh2407 commented on #1091
Is the star now shining too when the user returns back to the same page @Ananthavijay ?

[2020-03-09 10:46] #994 closed

[2020-03-09 10:46] Ananthavijay commented on #1091
No it doesnt

[2020-03-09 10:47] Shivansh2407 commented on #1091
So I will update the Issue . Thank you for informing @Ananthavijay

[2020-03-09 10:59] satu0king commented on #1088
Fixed in #966

[2020-03-09 10:59] #1088 closed

[2020-03-09 11:02] #1069 closed

[2020-03-09 12:22] #1017 closed

[2020-03-09 12:35] akansha-singh commented on #1078
yeah I am working

[2020-03-09 12:36] akansha-singh commented on #1078
I am just 1 PR away to fix this issue

[2020-03-09 13:14] pranavmodx commented on #982
I would like try this issue. If someone could give me a head start on the section of code handling user views count, it would be great.

[2020-03-09 14:14] KaustubhDamania commented on #971
Can anyone tell me where is the code for drawing new circuits or circuit elements in the simulator canvas? For e.g., when the circut element is copy pasted, a new element is drawn on the canvas. However I'm not able to find the code for the same in the paste function in public/js/logix.js.

[2020-03-09 17:34] MrBartusek commented on #769
@nitin10s

[2020-03-10 00:09] #368 closed

[2020-03-10 00:09] #351 closed

[2020-03-10 00:27] mahmodHammad opened #1096 "Extra white space appears at phone sizes at contribute page"
### Exrtra white space at contribute page
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://localhost:3000/contribute'

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/41790090/76268306-59c58000-6276-11ea-87cb-7ebc6d3e54f6.png)

**Desktop (please complete the following informa

[2020-03-10 00:28] mahmodHammad commented on #1096
**i mean contribute page not about page**

[2020-03-10 04:15] rishipurwar1 opened #1098 "Button not align properly in homepage in mobile view"
**Describe the bug**
In homepage, "for teachers and for contributors" button should be centered instead of align left in mobile view

**To Reproduce**
Steps to reproduce the behavior:
1. Go to homepage in mobile view
2. See error

**Expected behavior**
It should be aligned centered

**Screenshots**
Before
![bug2](https://user-images.githubusercontent.com/57035408/76279197-c90d9500-62b3-11ea-97e6-f

[2020-03-10 04:23] #1084 closed

[2020-03-10 05:16] #1078 closed

[2020-03-10 05:22] shubhankarsharma00 commented on #374
@tachyons can we reopen this.

[2020-03-10 05:32] darkshredder opened #1100 "Footer broken in group discription page when no assignment"
**Describe the bug**
Footer broken in group discription page when no assignment on url - https://beta.circuitverse.org/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'admin/my groups'
2. Click on '.make any group..'
3. Scroll down to '....'
4. See error

**Expected behavior**
footer links should not be broken
**Screenshots**
<img width="1411" alt="Screenshot 2020-03-10 at 10 54 47 AM

[2020-03-10 05:40] #1021 closed

[2020-03-10 06:03] swarali15 opened #1102 "on Hover menu to be highlighted in navbar"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://beta.circuitverse.org/
2. Hover on navbar links

**Expected behavior**
On hover the menu or links should get highlighted or underlined

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser chrome

**Additional context**
Adding te

[2020-03-10 07:16] rishipurwar1 opened #1105 "Add hover effect on simulator button"
**Describe the bug**
Adding hover effect on simulator button

Steps to reproduce the behavior:
1. Go to homepage
2. See error

**Screenshots**
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/57035408/76288593-18ac8a80-62cd-11ea-8161-c1597b942314.gif)

**Are you working on this issue? **
Yes

[2020-03-10 07:27] aayush-05 opened #1106 "Overlapping content on User Projects page"
**Describe the bug**
The dialog for showing no projects/circuits and the favourites button are overlapping on mobile displays.

**Screenshots**
![image](https://user-images.githubusercontent.com/47032027/76289257-b48ac600-62ce-11ea-8b68-a39e291589f0.png)

**Are you working on this issue? (Yes/No)**
Yes

[2020-03-10 07:42] Nitish145 commented on #1106
Do you mind if I work on this issue ?

[2020-03-10 08:00] akansha-singh commented on #958
@darkshredder are you still working on this issue ?

[2020-03-10 08:02] darkshredder commented on #958
not right now

[2020-03-10 08:08] Nitish145 opened #1107 "Descriptive Images not centered in Teachers Page"
**Describe the bug**
In Teachers Page the images following the description are not centered.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to beta.circuitverse.org/teachers
2. Scroll down to see error

**Expected behavior**
The images should be centered in Mobile view

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot from 2020-03-10 13-37-08](htt

[2020-03-10 08:44] aayush-05 commented on #1106
No problem, go ahead @Nitish145

[2020-03-10 09:04] aayush-05 commented on #1079
This can be closed @tachyons

[2020-03-10 09:43] yash15601 commented on #1106
@aayush-05  @Nitish145  this page have lot of bugs in mobile and ipad view in ipad view the footer is not at the bottom
Screenshot:
![image](https://user-images.githubusercontent.com/49101492/76299564-51eef580-62e1-11ea-91d3-c0c520dc44c0.png)

media queires are  missing for some devices
 screenshot:
![image](https://user-images.githubusercontent.com/49101492/76299755-a003f900-62e1-11ea-9beb-01f3b4

[2020-03-10 09:50] Shivansh2407 commented on #1106
The Footer is not at Bottom in Many Pages : Profile, Notifications, My Circuits, My Groups, My Favourites in IPad Pro while inspecting the element. If no one is working on this , I would like to give this a try 👍 @aayush-05 .

[2020-03-10 09:52] yash15601 commented on #1106
@Shivansh2407  wait @Nitish145  will fix this in this pr for the page dont make new issue

[2020-03-10 09:53] Shivansh2407 commented on #1106
Ok cool @yash15601 👍

[2020-03-10 09:54] Nitish145 commented on #1106
@yash15601 Sure, will make the page responsive for all screen sizes (reimplement the whole page maybe)

[2020-03-10 09:55] yash15601 commented on #1102
@swarali15  are you working on this or should i make pr i have fixed this

[2020-03-10 09:57] swarali15 commented on #1102
I am working on it

[2020-03-10 10:00] yash15601 commented on #1102
Okay

[2020-03-10 10:00] darkshredder commented on #1102
btw it should beborder-bottom: 2px solid #42b983; not text-decoration: underline;

[2020-03-10 10:08] swarali15 commented on #1102
okay

[2020-03-10 11:44] ShubhankarKG opened #1110 "CircuitVerse page not responsive"
**Describe the bug**
The designs on the beta testing site of Circuit Verse are not responsive to screensize at the current moment. The lines clatter on changing the scrren size (Using mobile, etc).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'beta.circuitverse.org'
2. Resize the page.
3. See error

**Expected behaviour**
The page renders elements responsive to device display width

[2020-03-10 13:47] Nitish145 commented on #1106
Hey @yash15601 @Shivansh2407 i am not able to reproduce the footer error on any device or aspect ratio. How do i reproduce the error ?

[2020-03-10 13:49] Shivansh2407 commented on #1106
Go on https://beta.circuitverse.org
Then Go to any link mentioned : Profile, Notifications, My Circuits, My Groups, My Favourites . Click on inspect element and Change the device to IPad Pro.
See error.

[2020-03-10 14:00] yash15601 commented on #1106
@Nitish145  as @Shivansh2407  said

[2020-03-10 14:01] mahmodHammad opened #1113 "center Explore more button"
**Describe the bug**
i think i would be better if we aligned explore more button to center

**Screenshots**
![image](https://user-images.githubusercontent.com/41790090/76319652-320f0000-62e8-11ea-97cb-49fef27f68e9.png)

**Desktop (please complete the following information):**
 - OS: win10
 - Browser chrome
**Additional context**
Add any other context about the problem here.

**Are you working on t

[2020-03-10 14:35] Nitish145 opened #1114 "Edit Details button misalignment in Edit Profile Page"
**Describe the bug**
Edit details button is slightly shifted to right.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to circuitverse.org
2. Click on navbar->Username
3. Click on Profile
4. See error

**Expected behavior**
The button should be properly aligned with the immediate upper element.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (pleas

[2020-03-10 15:11] Shivansh2407 opened #1117 "Popups in Simulator not working properly"
**Describe the bug**
Whenever we click on `Insert Subcircuit` , `Open Offline`, `Combinational Analysis`, `Render Image` in simulator then a Popup Opens . The Popup is both resizable and draggable. Now when the user try to resize the Popup, it resizes weirdly. (See in the GIF Below)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'New UI on Gitpod or beta.circuitverse.org or circuitver

[2020-03-10 15:12] Shivansh2407 commented on #1117
@satu0king , @tachyons , @nitin10s I would like to hear your views on this 👍

[2020-03-10 15:23] harshgujrati opened #1118 "Alingment of Feature Section on Homepage"
**Describe the bug**
Use sub circuits and multi bit buses and components are not alinged on the homepage.

**To Reproduce**
Go to homepage scroll to Features Section

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

![Screenshot (156)](https://user-images.githubusercontent.com/519226

[2020-03-10 15:27] ciphereck opened #1119 "Follower / Following Concept in CV website"
**Is your feature request related to a problem? Please describe.**
How to attract new users to come to the CV website as well as attract old users to use the CV website more. How to personalize the website more as you feel like you are doing social networking and studying at the same time.

**Describe the solution you'd like**
I suggest introducing the follower/following concept on the website. Al

[2020-03-10 15:30] #1079 closed

[2020-03-10 15:35] harshgujrati opened #1120 "Alingment of learn logic design button on homepage"
**Describe the bug**
Learn Logic Design button should be on next row in all mobile device

**Screenshots**
If applicable, add screenshots to help explain your problem.

![Screenshot (161)](https://user-images.githubusercontent.com/51922630/76329592-c8f0b200-6312-11ea-8944-de2383f5f20d.png)

**Are you working on this issue? (Yes/No)**
Yes

[2020-03-10 15:45] #1098 closed

[2020-03-10 15:49] ciphereck opened #1121 "Introducing a rating algorithm that rate users to show off their Digital logic Circuit expertise"
**Describe the solution you'd like**
We need to discuss this issue more. But I like the idea of having a relative rating of each user that will help them show off their knowledge about Digital Logic Circuits. It can be based on the number of stars count or number of visited users on various projects of the user, number of unique projects of the user from the rest of the community (we need an algor

[2020-03-10 16:02] ciphereck opened #1122 "Gamifying the CV platform to encourage users to visit website."
**Is your feature request related to a problem? Please describe.**
It's about encouraging users to visit CV more and more as well as attract new users to CV.

**Describe the solution you'd like**
Gamifying the platform is really a good way to go to make the website more interactive and competitive. It can be done in introducing multiple games or adding new ways to compete. One of the ways I sugges

[2020-03-10 16:11] Nitish145 opened #1123 "Alignment and Position of New Group Page buttons"
**Describe the bug**
In Mobile view the _Save_ and _Back_ button are neither aligned nor positioned properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to circuitverse.org
2. Click on *My Groups*
3. Click on *Make New Group*
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot from 2020-03-10 21-40-41](https://user-images.githubuser

[2020-03-10 16:13] #1114 closed

[2020-03-10 16:13] #1113 closed

[2020-03-10 16:15] #1107 closed

[2020-03-10 16:59] Shivansh2407 opened #1124 "Sign Out from Simulator Not Working"
**Describe the bug**
Whenever the user wants to sign out through the link in simulator it shows `The record you wish access could not be found `
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'New UI on Gitpod or beta.circuitverse.org'
2. Click on 'simulator'
3. Go to 'sign out'
4. See error

**Expected behavior**
It must sign out normally and show message Signed out successfully.

**S

[2020-03-10 22:09] mahmodHammad opened #1127 "margin y at contact method cards"
**Screenshots**
![image](https://user-images.githubusercontent.com/41790090/76363631-1decf200-632c-11ea-952e-ee8ba88ad008.png)

**Are you working on this issue? (Yes/No)**
YES

[2020-03-11 00:09] #370 closed

[2020-03-11 00:09] #711 closed

[2020-03-11 00:09] #322 closed

[2020-03-11 00:09] #338 closed

[2020-03-11 00:09] #320 closed

[2020-03-11 00:09] #308 closed

[2020-03-11 00:09] #287 closed

[2020-03-11 00:32] satu0king commented on #48
Do not close

[2020-03-11 01:44] #1096 closed

[2020-03-11 02:49] darkshredder opened #1133 "Replacing prompt with popup dialog box for new circuit"
**Is your feature request related to a problem? Please describe.**
Its annoying to look at the prompt that comes up to create a new circuit
**Describe the solution you'd like**
Replacing prompt with a popup dialog box for creating new circuit like inserting new subcircuit

**Are you working on this? (Yes/No)**
Yes

[2020-03-11 05:12] tachyons commented on #7
.

[2020-03-11 07:01] nitin10s commented on #1064
Hey, This "Our Team" section is outdated, so we don't need to make changes on this, we'll be designing a new section in a couple of days.

[2020-03-11 07:01] #1064 closed

[2020-03-11 08:00] pranavmodx commented on #14
Is this issue still up? If yes, I would like to take it up.

[2020-03-11 08:09] yash15601 commented on #1102
@swarali15  hey are you Still working on it or should i make pr i have my pr ready

[2020-03-11 08:12] darkshredder commented on #1102
mine is ready as well 😂😂

[2020-03-11 08:19] #1048 closed

[2020-03-11 08:30] Shivansh2407 commented on #595
Is this issue open to work or has it been implemented @nitin10s? If opened I would like to work on this 👍

[2020-03-11 11:46] Shivansh2407 commented on #1046
@MrBartusek Can You please elaborate more about the issue so that I can help in fixing this.

[2020-03-11 12:14] MrBartusek commented on #1046
@Shivansh2407 i don't know what is causing that

[2020-03-11 12:19] Shivansh2407 commented on #1046
Okay, @aayush-05 do have any clue about this?

[2020-03-11 12:34] Ananthavijay commented on #1046
Can I work on this issue?

[2020-03-11 12:43] Shivansh2407 commented on #1046
Actually @Ananthavijay I am working on it

[2020-03-11 13:20] pranavmodx opened #1136 "Disable page navigation button on start and end pages [UI]"
**Is your feature request related to a problem? Please describe.**
Currently the page navigation buttons - Previous and Next, are not disabled when the user is at the start or the end of the pages list respectively, allowing the user to click without effect. This can be a cause for a future bug.

**Describe the solution you'd like**
Disable the concerned buttons when user is at the corresponding p

[2020-03-11 13:24] Shivansh2407 commented on #1136
@pranavmodx It is Old UI . Please see the new UI here beta.circuitverse.org

[2020-03-11 13:34] pranavmodx commented on #1136
Thanks for the prompt reply. I wouldn't know otherwise.
Don't you think it should be mentioned somewhere in contributing guidelines for the newcomers?

[2020-03-11 13:37] Shivansh2407 commented on #1136
Actually we are working towards revamping the UI so please join slack channel for Updates. the link is present in the readme .
Please close this Issue.

[2020-03-11 13:47] #1136 closed

[2020-03-11 13:54] #1100 closed

[2020-03-11 15:16] yash15601 opened #1137 "Pages are not aligned properly for ipad /ipad pro / iphone 5/SE"
**Describe the bug**
Most of the pages are not aligned for ipad pro and other devices as shown below

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org'
2. See error

**Screenshots**
ipad pro:
![image](https://user-images.githubusercontent.com/49101492/76430582-7b3d7d80-63d6-11ea-9c21-f11bb2939bd9.png)

Iphone 5/SE:
![image](https://user-images.githubusercontent.com/4910

[2020-03-11 15:24] swarali15 commented on #1102
@yash15601  and @darkshredder I think on hover the links should get scaled or changed color of text because active links are already being highlighted using border bottom.

[2020-03-11 15:43] aayush-05 commented on #1137
Most of the pages work fine on Ipad/Ipad pro. I guess the problem is that you used a really long username, so the website is trying to show it completely and leaves extra space up on the right. What we can do is use "..." for really long names or maybe set a limit to it.
![image](https://user-images.githubusercontent.com/47032027/76435513-16395600-63dd-11ea-9afc-0bf52d02b9e2.png)

[2020-03-11 15:54] yash15601 commented on #1137
ohh i see , except extra space the footer is not at bootom at some pages

[2020-03-11 15:58] aayush-05 commented on #1137
The footer is in works I guess. Can we close this issue and someone make a new one for the name thing.

[2020-03-11 16:00] yash15601 commented on #1137
will close this and making new for name thing @aayush-05

[2020-03-11 16:00] #1137 closed

[2020-03-11 16:07] ryuk156 opened #1138 "If Username is to long extra White space is produce in ipad pro view"
**Describe the bug**
If username is to long the white space is produced in ipad pro view

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org'
2. Click on 'login in'
3. See error

**Screenshots**
long username :
![image](https://user-images.githubusercontent.com/49101492/76437982-636af700-63e0-11ea-8b27-4a5f9a3c1d1b.png)

**Are you working on this issue? (Yes/No)**
Yes

[2020-03-11 16:09] yash15601 commented on #1102
@swarali15  i think you are right @nitin10s  what is your Review can we color text on hover

[2020-03-11 18:35] ciphereck commented on #982
Hi @pranavmodx
Sorry for the late reply. Check #414 PR, it contains some work, maybe you can take it from there.

[2020-03-12 00:09] #345 closed

[2020-03-12 00:09] #267 closed

[2020-03-12 00:09] #282 closed

[2020-03-12 00:09] #251 closed

[2020-03-12 00:09] #248 closed

[2020-03-12 03:04] #972 closed

[2020-03-12 06:42] tachyons commented on #1046
pluck returns an array and you can't use limit after that

[2020-03-12 06:52] #1127 closed

[2020-03-12 07:16] aayush-05 opened #1140 "Fix alignment of buttons on Homepage"
**Describe the bug**
Move the second link to bottom for small displays

**Screenshots**
![image](https://user-images.githubusercontent.com/47032027/76496565-58a37700-645f-11ea-83c6-4a029e8362f7.png)

[2020-03-12 07:18] aayush-05 opened #1141 "Fix login/SignUp/Forgot password pages"
**Describe the bug**
Improve alignment of buttons, text and social media handles for smaller displays. Remove the sketch on forgot password page for smaller displays.

**Screenshots**
![image](https://user-images.githubusercontent.com/47032027/76496693-92747d80-645f-11ea-8cb4-a2a3990da470.png)
![image](https://user-images.githubusercontent.com/47032027/76496698-96080480-645f-11ea-831b-1053be4caab3

[2020-03-12 07:19] aayush-05 opened #1142 "Fix footer alignment"
**Describe the bug**
Fix footer elements alignment for smaller displays. Make sure it doesn't create any horizontal scroll on the page.

**Screenshots**
![image](https://user-images.githubusercontent.com/47032027/76496840-debfbd80-645f-11ea-84a1-0703dfb3e8c3.png)

[2020-03-12 07:21] aayush-05 opened #1143 "Fix Edit Profile page"
**Describe the bug**
Fix the complete alignment for Edit profile page. Also check for the font size (it appears big on smaller displays)

**Screenshots**
![image](https://user-images.githubusercontent.com/47032027/76497004-32320b80-6460-11ea-83e6-2d375c255967.png)
![image](https://user-images.githubusercontent.com/47032027/76497011-33fbcf00-6460-11ea-9339-a0c77970c3ff.png)

[2020-03-12 07:35] mahmodHammad commented on #1140
@aayush-05
i can do it now  if you are not working on it

[2020-03-12 07:36] mahmodHammad commented on #1140
also i would like to indent these button to the left to be aligned with the text above it

[2020-03-12 07:37] mahmodHammad commented on #1140
#1120
@aayush-05
it's duplicated

[2020-03-12 07:41] yash15601 commented on #1143
@aayush-05  i am working on this

[2020-03-12 07:42] mahmodHammad opened #1144 "for teacher for contributor button position need to be fixed"
**Describe the bug**
these buttons position changes with changing image size
so it's position is not good at large screens

**Screenshots**
![image](https://user-images.githubusercontent.com/41790090/76498332-559b8d00-6445-11ea-8fb8-fd5d78b4bccd.png)

**Are you working on this issue? (Yes/No)**
YES

[2020-03-12 07:57] #1124 closed

[2020-03-12 08:26] yash15601 commented on #1143
![image](https://user-images.githubusercontent.com/49101492/76502010-48909500-6469-11ea-9e69-cb8b62fcc723.png)
@aayush-05  does it look good now

[2020-03-12 08:33] rishipurwar1 commented on #1141
I am working on it

[2020-03-12 08:34] rishipurwar1 commented on #1142
I am working on it

[2020-03-12 08:39] Nitish145 commented on #1141
Hey @rishipurwar1 would you mind if i take up this issue?

[2020-03-12 08:39] rishipurwar1 commented on #1141
I am already start working on it

[2020-03-12 08:41] Nitish145 commented on #1141
Oh cool 🤞

[2020-03-12 08:53] mahmodHammad opened #1146 "extra white space at top of homePage"
**Describe the bug**
extra white space existed at phone screens

**Screenshots**
![home b](https://user-images.githubusercontent.com/41790090/76502780-5a643f00-644d-11ea-80a4-bdb764af2abf.PNG)

**Expected behavior**
It would be better if we reduced that margin top to be like this :
![home](https://user-images.githubusercontent.com/41790090/76502679-27ba4680-644d-11ea-95d7-b9372b3c8b28.PNG)

**Are

[2020-03-12 10:19] nitin10s commented on #1102
Already resolved

[2020-03-12 10:19] #1102 closed

[2020-03-12 10:22] nitin10s commented on #1110
Already working on the responsiveness in sections. Let us know if some section still needs work in particular.

[2020-03-12 10:22] #1110 closed

[2020-03-12 10:33] nitin10s opened #1149 "Fixing the active navbar item"
**Describe the bug**
The active navbar-item state looked like a section break in mobile devices

**To Reproduce**
Steps to reproduce the behaviour:
1. Open Navbar Menu in Mobile Devices

**Solution**
Rather than making the active state underlined, we can make the text green without any underline.

**Are you working on this issue? (Yes/No)**
No

[2020-03-12 10:36] Nitish145 commented on #1149
Would like to take up this issue 🙂

[2020-03-12 10:41] arpita-in commented on #1149
I would like to work on this issue

[2020-03-12 10:43] Nitish145 commented on #1149
already started @arpita-in :slightly_smiling_face:

[2020-03-12 10:59] rishipurwar1 commented on #1141
![127 0 0 1_8080_users_sign_in(Galaxy S5) (1)](https://user-images.githubusercontent.com/57035408/76514878-982d8b80-647e-11ea-9a63-ab3002e7eaff.png)

Please check the changes is it OK or not @aayush-05
I want to know if we change forgot password into link and remove reset your password.
What's your thought?

[2020-03-12 17:11] #1049 closed

[2020-03-12 17:19] nitin10s opened #1157 "Footer not centre aligned"
**Describe the bug**
Footer content is not centre aligned

**Screenshots**
![FireShot Capture 183 - CircuitVerse - Support the platform - beta circuitverse org](https://user-images.githubusercontent.com/16988558/76547708-a5b13880-64b3-11ea-8ef0-2be98f0f1153.png)

**Are you working on this issue? (Yes/No)**
No

[2020-03-12 17:20] #1019 closed

[2020-03-12 17:28] Shivansh2407 commented on #1019
#1020 is a PR ready for this Issue @nitin10s . Please reopen this issue .

[2020-03-12 18:03] MrBartusek commented on #1049
@nitin10s
@Nitish145 pr was for #1045 can you re-open that

[2020-03-12 18:18] tirthyme commented on #1119
An additional feature could be different sorts of channels that specialize in creating various circuits, could be a useful feature for students across all fields. And we can assign several mods that reviews user submissions and can feature them onto the channel wall, perhaps?
Channel can also be created in between user circles alongside with your followers/following concept.

I'd also like to work

[2020-03-12 18:31] kulkarniatharv commented on #1157
Can I work on this?

[2020-03-12 19:13] nitin10s opened #1158 "Reporting Issues related to Simulator in an easy way"
**Is your feature request related to a problem? Please describe.**
Currently, there isn't any efficient issue reporting system when a normal user encounters any problem/difficulty in using the simulator. Currently, a user, if he/she wants to report an issue would have to email CV or log in to GitHub and open an issue, etc which are time-consuming.

**Describe the solution you'd like**
A favourable

[2020-03-12 21:12] sal2701 commented on #1158
Is anyone working on this? I'd like to take this up

[2020-03-12 21:44] kulkarniatharv commented on #1157
Footer can be remade by using CSS Grids rather than HTML tables and it fixes the alignment.

[2020-03-13 00:09] #242 closed

[2020-03-13 00:09] #200 closed

[2020-03-13 00:09] #195 closed

[2020-03-13 03:19] rishipurwar1 commented on #1157
I am working on it

[2020-03-13 05:18] #1046 closed

[2020-03-13 06:54] kulkarniatharv commented on #1157
Already started @rishipurwar1 :)

[2020-03-13 07:25] kulkarniatharv commented on #1157
I already resolved the issue.

[2020-03-13 07:31] rishipurwar1 commented on #1157
Oh, great...
Keep contributing...

[2020-03-13 07:41] kulkarniatharv commented on #1157
Thanks!
I've made changes using Gitpod.
![resolved](https://user-images.githubusercontent.com/15829308/76599861-d339c880-652b-11ea-9273-caa57d31e47b.jpg)

Can you tell me how to create a Pull request?
I followed this article: [Pull Request using Gitpod]((https://github.com/CircuitVerse/CircuitVerse/wiki/Pull-Requests-using-Gitpod) but it is giving the following permission error after I execute ste

[2020-03-13 11:35] nitin10s commented on #1158
No one is, pls do @sal2701

[2020-03-13 14:36] Ananthavijay opened #1161 "Broken svg in edit assignments page"
**Describe the bug**
Edit svg is broken in edit assignments page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://beta.circuitverse.org"
2. Create a group and assignment
3. See error

**Expected behavior**
Svg should not be broken

**Screenshots**
![Screenshot (43)](https://user-images.githubusercontent.com/35162705/76630459-0a2cd000-6566-11ea-9d83-fcafb7709cba.png)

**Are you

[2020-03-13 15:16] Ananthavijay opened #1163 "Groups not shown"
**Describe the bug**
The ````Groups you are in```` section does not show groups.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://beta.circuitverse.org/'
2. Create a group and add a member
3. Login as member
4. See error

**Expected behavior**
Groups should be shown

**Screenshots**
![Screenshot (44)](https://user-images.githubusercontent.com/35162705/76633981-9a214880-656b-11e

[2020-03-13 16:16] #1163 closed

[2020-03-13 16:17] #1161 closed

[2020-03-13 17:02] #196 closed

[2020-03-13 17:02] nitin10s opened #1166 "Issues with Group Details Page"
1. The font of Edit Name is inconsistent.
2. The Back button should be styled like it is everywhere [No bg, green color, underlined]

![FireShot Capture 193 - CircuitVerse - Digital Circuit Simulator_ - 3000-e058e8fd-8e70-42ad-8b01-108ce4f7c3b2 ws-ap01 gitpod io](https://user-images.githubusercontent.com/16988558/76642922-1a4eaa80-657a-11ea-852e-c4637cfe49ee.png)

[2020-03-13 17:04] nitin10s opened #1167 "Checkboxes Not Styled"
**Problem**
The checkboxes in new UI don't have any styling. Needs to be done at all pages.

**Are your working on the issue**
No

[2020-03-13 17:13] akansha-singh commented on #1167
I want to work in this

[2020-03-13 17:18] Ananthavijay commented on #1166
I am working on this

[2020-03-13 17:23] #657 closed

[2020-03-13 17:23] #651 closed

[2020-03-13 17:23] #650 closed

[2020-03-13 17:24] nitin10s commented on #642
Not needed

[2020-03-13 17:24] #642 closed

[2020-03-13 17:26] #634 closed

[2020-03-13 17:26] nitin10s commented on #1167
Ok.

[2020-03-13 17:26] #507 closed

[2020-03-13 17:27] #673 closed

[2020-03-13 17:29] #701 closed

[2020-03-13 17:30] #1052 closed

[2020-03-13 17:32] nitin10s commented on #1044
Ok.

[2020-03-13 17:34] yash15601 commented on #1044
@nitin10s I think  this is fixed some one was working on this

[2020-03-13 17:36] nitin10s commented on #1044
Is the PR merged?

[2020-03-13 17:40] yash15601 commented on #1044
@nitin10s  no @mahmodHammad  is facing some issue

[2020-03-13 17:47] nitin10s commented on #1044
@mahmodHammad link this issue with your PR.

[2020-03-13 17:48] Shivansh2407 opened #1169 "User Not Underlined when clicked on Navbar"
**Problem**
The User is not underlined whenever any link in the User dropdown is clicked .

**Solution**
UserName Must Be Underlined

**Are You Working on this Issue**
Yes. I will be Uploading the Screenshots Soon.

[2020-03-13 17:51] nitin10s commented on #1169
Didn't Understand the problem, can you please upload the screenshot of the problem

[2020-03-13 18:06] Shivansh2407 commented on #1169
![Issue11](https://user-images.githubusercontent.com/42182955/76647760-6a7e3a80-6583-11ea-959b-e626776704ef.gif)
@nitin10s here Admin is not Underlined when I click on any link present in the drop down.

[2020-03-13 18:13] Shivansh2407 commented on #1169
@nitin10s and @tachyons I would like to hear your views on this :+1:

[2020-03-13 18:32] rishipurwar1 commented on #1167
Can I work on this issue ? @akansha-singh

[2020-03-13 18:36] akansha-singh commented on #1167
@rishipurwar1 I already started working on this issue ..

[2020-03-14 00:09] #434 closed

[2020-03-14 00:09] #227 closed

[2020-03-14 00:09] #166 closed

[2020-03-14 00:09] #122 closed

[2020-03-14 02:20] Nitish145 opened #1172 "Cards broken in Contribute page"
**Describe the bug**
The email, slack, and github cards background overlap with content.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://beta.circuitverse.org/contribute
2. See error

**Expected behavior**
The card's background should not overlap and all the cards must be consistent in terms of layout.

**Screenshots**
If applicable, add screenshots to help explain your problem

[2020-03-14 03:41] aayush-05 commented on #1172
Can you check once again, it seems to work fine for me.
![image](https://user-images.githubusercontent.com/47032027/76674293-b658d000-65d3-11ea-81ce-88ee928b4adf.png)
![image](https://user-images.githubusercontent.com/47032027/76674298-cc669080-65d3-11ea-893d-cc6f7a467d4b.png)

[2020-03-14 03:42] Shivansh2407 commented on #1172
Same @aayush-05 . It works for me as well .

[2020-03-14 03:44] aayush-05 commented on #1169
I think we will be changing the response for active state to be change in text colour. Further I don't know how valid it is because the last option is a dropdown while the other are direct links.

[2020-03-14 03:44] Nitish145 commented on #1172
![Screenshot from 2020-03-14 09-14-21](https://user-images.githubusercontent.com/45434030/76674325-3d0dad00-65d4-11ea-8ad1-4774e313c28a.png)

[2020-03-14 03:49] Nitish145 commented on #1172
@nitin10s Please check.. Should i proceed with this issue ??

[2020-03-14 03:52] aayush-05 commented on #1157
@kulkarniatharv can you fix the footer before we push the new UI to production, it is breaking responsive of pages.

[2020-03-14 04:08] aayush-05 commented on #1141
@rishipurwar1 please refer to the prototype for now. Further enhancements to be done after the release.

[2020-03-14 04:09] #1140 closed

[2020-03-14 04:11] aayush-05 commented on #1120
@harshgujrati please fix this asap.

[2020-03-14 04:16] aayush-05 commented on #1172
Let us wait for now and see how it goes on production.

[2020-03-14 05:00] Nitish145 opened #1173 "home page contents not aligned properly"
**Describe the bug**
- *Launch Simulator* and *For Teachers* buttons not aligned properly
- The *new_homepage_sketch* image is not aligned with corresponding content.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to beta.circuitverse.org
2. See error

**Expected behavior**
The forementioned buttons must be aligned properly and the image must be aligned with it's contents.

**Screenshots

[2020-03-14 05:20] rishipurwar1 opened #1174 "Group page not aligned properly"
**Describe the bug**
After creating a group, when you visit a newly created group page. Button and text are not properly aligned

**To Reproduce**
Steps to reproduce the behavior:
1. Create a group
2. Click on view in mobile view
3. See error

**Expected behavior**
Buttons and  text should be aligned properly

**Screenshots**
![beta circuitverse org_groups_14](https://user-images.githubusercontent

[2020-03-14 05:20] rishipurwar1 commented on #1174
Can I start working on it? @nitin10s

[2020-03-14 05:22] Nitish145 commented on #1174
@rishipurwar1 this page has been completely redone. You can check here #1062

[2020-03-14 05:24] rishipurwar1 commented on #1174
Ok @Nitish145

[2020-03-14 05:24] #1174 closed

[2020-03-14 08:51] kulkarniatharv commented on #1157
What part is not responsive in the footer? The changes I made or some other part? Because they seem to reposition and resize according to change in display size.
The change I made includes only the logos section. I didn't edit code which was handling other stuff.

[2020-03-14 09:15] aayush-05 commented on #1157
I can't see your pull request. Can you link it here ?

[2020-03-14 09:54] #1033 closed

[2020-03-14 10:28] kulkarniatharv commented on #1157
I can't link the pull request to the issue. I guess I don't have the authorisation.
But you can check the PR [here:](https://github.com/CircuitVerse/CircuitVerse/pull/1160)

[2020-03-14 10:40] kulkarniatharv commented on #1157
Link to the PR is [here](https://github.com/CircuitVerse/CircuitVerse/pull/1160)
Idk how is it not linked to this issue even when I followed [this](https://help.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword)

[2020-03-14 11:47] Ananthavijay opened #1178 "Outline not working properly in favorites page"
**Describe the bug**
Outline on the favorites page is not rounded (but it should) and have wired white strip

**Screenshots**
![Screenshot (50)](https://user-images.githubusercontent.com/35162705/76681334-f346b600-6617-11ea-9d32-0c7e804d1432.png)

**Are you working on this issue? (Yes/No)**
No

[2020-03-14 11:51] Nitish145 commented on #1178
@Ananthavijay i think there was a pr related to that #1066 ..

[2020-03-14 11:52] Ananthavijay commented on #1178
Yep, but this issue is on favorites page

[2020-03-14 11:54] Nitish145 commented on #1178
Working on it :)

[2020-03-14 12:02] Vishruth-S commented on #1146
Can I work on this?

[2020-03-14 12:04] Vishruth-S commented on #1173
Can I work on this?

[2020-03-14 12:05] Nitish145 commented on #1178
@Ananthavijay i think the borders shouldn't be rounded as reflected in the discussions of #1066 .
Please update the issue..

[2020-03-14 12:08] Shivansh2407 commented on #1178
Yes the Borders Must be straight instead of rounded as in #1066

[2020-03-14 14:11] harshgujrati commented on #1120
#1156

[2020-03-15 00:09] #120 closed

[2020-03-15 00:09] #121 closed

[2020-03-15 00:09] #115 closed

[2020-03-15 00:09] #114 closed

[2020-03-15 00:09] #110 closed

[2020-03-15 00:37] Nitish145 commented on #1173
@Vishruth-S PR already linked

[2020-03-15 03:30] ShubhankarKG opened #1185 "Remove button on teacher's page for Members isn't completely visible."
**Describe the bug**
Remove button on teacher's page for Members isn't completely visible.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org/'
2. Click on 'Teachers', then click to view your Groups.
3. See error

**Expected behavior**
Button completely visible as in other window sizes.

**Screenshots**
![Screenshot from 2020-03-15 08-57-48](https://user-images.g

[2020-03-15 03:51] Nitish145 commented on #1185
@ShubhankarKG i think @darkshredder is working on this very issue..
@darkshredder please confirm..

[2020-03-15 03:56] Shivansh2407 commented on #121
@satu0king #952 fixes this issue . Please reopen this issue and review the PR 👍

[2020-03-15 03:59] darkshredder commented on #1185
@ShubhankarKG @Nitish145 I m working on this

[2020-03-15 09:21] #1106 closed

[2020-03-15 09:21] #1178 closed

[2020-03-15 09:23] #1120 closed

[2020-03-15 09:29] #1185 closed

[2020-03-15 09:41] #1123 closed

[2020-03-15 10:59] mahmodHammad commented on #1118
@harshgujrati  What is the updates ?
are you still working on it or need some help ?

[2020-03-15 11:04] darkshredder commented on #1158
@sal2701 are you still working on it. Or can I work on it. Please confirm

[2020-03-15 11:14] Vishruth-S opened #1187 "A little extra whitespace"
**Describe the bug**
I feel that this whitespace in the homepage is a bit extra

**To Reproduce**
Steps to reproduce the behavior:
Check the Homepage bottom

**Expected behavior**
Decrease whitespace

**Screenshots**
![circuit](https://user-images.githubusercontent.com/55310756/76700294-1175ea00-66dc-11ea-9882-2ecac05d05d7.png)

**Desktop (please complete the following information):**
 - OS: Windo

[2020-03-15 11:15] Nitish145 commented on #1187
@Vishruth-S this is intentional i guess @Ananthavijay please confirm..

[2020-03-15 11:17] Vishruth-S commented on #1187
Ohh okay...Thanks
Is there any other issue which I can work on?

[2020-03-15 11:19] akshathkaushal opened #1188 "Invert colors"
**Is your feature request related to a problem? Please describe.**
It is not related to any problem. But I have seen many such projects have an option of inverting colors.
So it would be nice if such a feature is integrated in the simulator.

**Describe the solution you'd like**
I am thinking of adding a button that inverts all the colors in the simulator.

**Are you working on this? (Yes/No)**
Ye

[2020-03-15 11:25] Ananthavijay commented on #1187
Yes I think this is intentional, this issue can be closed

[2020-03-15 11:27] sal2701 commented on #1158
Yup. Will surely let you know if I am not @darkshredder

[2020-03-15 12:13] harshgujrati commented on #1118
@mahmodHammad i will make a pr for it today

[2020-03-15 14:29] shubhankarsharma00 commented on #470
@Shivansh2407 are you still working on this?

[2020-03-15 15:09] Shivansh2407 commented on #470
Yes @shubhankarsharma00 I am working on it. I will be creating two different Listeners for canvas and elements area.

[2020-03-15 15:38] Vishruth-S opened #1190 "Navbar bug"
**Describe the bug**
The "untitled" is out of place in tablet & mobile screen size

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://circuitverse.org/simulator
2. Reduce screen width so that navbar collapses
3. Open the navbar
4. See error

**Expected behavior**
The "Untitled" should be centered

**Screenshots**
![circuit6](https://user-images.githubusercontent.com/55310756/76704

[2020-03-15 15:46] #1187 closed

[2020-03-15 16:02] Ananthavijay opened #1191 "Mentor should not be able to add himself as a member of the same group"
**Describe the bug**
The mentor should not be able to add himself as a student of the same group

**To Reproduce**
Steps to reproduce the behavior:
1. Go to circuitverse.org
2. Create a Group
3. Click Add members
4. Add the email with which you have created the group
4. See error

**Screenshots**
![Screenshot (54)_LI](https://user-images.githubusercontent.com/35162705/76705216-5f064d00-6704-11ea-8

[2020-03-15 16:03] Nitish145 commented on #1191
Would like to take up this issue :)

[2020-03-15 16:11] pranavmodx opened #1193 "Test button in Notifications page is not working"
**Describe the bug**
The Test button in Notifications page is not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Notifications page
2. Enable browser notifications if not already enabled.
3. Click Test button

**Expected behavior**
Not sure what the test button is actually there for.

**Screenshots**
![Screenshot 2020-03-15 at 9 39 27 PM](https://user-images.githubusercontent

[2020-03-15 16:13] Nitish145 commented on #1193
@pranavmodx I think Notifications page was discussed to be disabled @satu0king Please confirm.

[2020-03-15 16:54] sal2701 opened #1195 "Can't preview all mailers in local environment"
**Describe the bug**
In development, when we go to ```localhost:8080/rails/mailers``` all mailers are not visible.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ```localhost:8080/rails/mailers```
2. Only few mailers are visible.

**Expected behavior**
All mailers should be visible.

**Screenshots**
Current
![Screenshot from 2020-03-15 22-19-08](https://user-images.githubusercontent.c

[2020-03-15 17:12] Shivansh2407 commented on #1190
Similar to #1028 . #1035 Fixes this Issue .

[2020-03-15 17:58] pranavmodx opened #1197 "Input field for user profile picture accepts non-image files"
**Describe the bug**
The input field for profile picture accepts non-image files (pdfs, json, etc), which is not valid.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to User Profile
2. Click Edit Details
3. Upload any file under Profile Picture and hit save.

**Expected behavior**
Only image files should be taken as input.

**Screenshots**
If applicable, add screenshots to help explain

[2020-03-16 00:09] #412 closed

[2020-03-16 00:09] #466 closed

[2020-03-16 00:09] #109 closed

[2020-03-16 00:09] #106 closed

[2020-03-16 00:09] #95 closed

[2020-03-16 00:09] #98 closed

[2020-03-16 00:09] #86 closed

[2020-03-16 00:09] #93 closed

[2020-03-16 00:09] #94 closed

[2020-03-16 00:09] #84 closed

[2020-03-16 00:09] #69 closed

[2020-03-16 02:47] ShubhankarKG opened #1200 "Redundant hyperlinks"
**Describe the bug**
There are some redundant links on the home page and on the learning page. While one can be removed, the other can be pointed out to another link.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org'
2. Observe that Learn Logic Design/ Learn point to the same link.
3. Go to 'https://learn.circuitverse.org/'
4. Observe that the hyperlink on the

[2020-03-16 04:39] Ananthavijay commented on #523
Please reopen this issue

[2020-03-16 11:58] #1200 closed

[2020-03-16 17:30] nitin10s commented on #1158
Yes, it's best to implement this as soon as possible.

[2020-03-16 17:30] nitin10s commented on #1190
Duplicate

[2020-03-16 17:30] #1190 closed

[2020-03-16 17:48] GarrySan commented on #1138
Hi @yash15601, are you still working on this?

[2020-03-16 17:53] yash15601 commented on #1138
@GarrySan yes I'm still  working

[2020-03-16 17:53] mahmodHammad commented on #23
What is the updates on this issue?

[2020-03-16 20:18] mahmodHammad opened #1204 "Profile Image Shrink"
**Describe the bug**
Profile Picture appears as  150px * 150px
so when it's aspect ration is not 1 the image will shrink

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org/users/18462/profile'

**Expected behavior**
there's two solution (i would go with the second solution):
1 - user should crop his image to make it's aspect ratio to be 1 before submitting it
2 -

[2020-03-16 20:37] mahmodHammad opened #1205 "My circuits section is broken at phone screens"
**Describe the bug**
My circuits section is broken at phone screens

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://circuitverse.org/users/18462

**Screenshots**
![image](https://user-images.githubusercontent.com/41790090/76797365-fdaeae80-67d5-11ea-82b6-27ad5e7dfe98.png)

**Are you working on this issue? (Yes/No)**
Yes

[2020-03-17 00:09] #473 closed

[2020-03-17 00:09] #56 closed

[2020-03-17 00:09] #57 closed

[2020-03-17 00:09] #51 closed

[2020-03-17 00:09] #53 closed

[2020-03-17 03:39] Shivansh2407 commented on #511
Can I work on this @tachyons ?

[2020-03-17 06:06] #1091 closed

[2020-03-17 06:17] #1166 closed

[2020-03-17 07:49] Nitish145 opened #1210 "Explore More button in homepage redirects to Examples page."
**Describe the bug**
*Explore More* button in homepage redirects to examples page but it should to featured circuits page..

**To Reproduce**
Steps to reproduce the behavior:
1. Go to circuitverse.org
2. Click on *Explore More*
3. See error

**Expected behavior**
*Explore More* button should redirect to *Featured Circuits* page.

**Screenshots**
If applicable, add screenshots to help explain your

[2020-03-17 10:11] KaustubhDamania opened #1213 "docker-compose up throwing yarn error"
**Describe the bug**
After running ```docker-compose up``` as mentioned in <a href="https://github.com/CircuitVerse/CircuitVerse/blob/master/SETUP.md">SETUP.md</a>,  the circuitverse_sidekiq_1 image throws a ```sh: 1: yarn: not found``` error and the server doesn't start.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repository
2. Change directory to the cloned Circuitverse folde

[2020-03-17 13:48] Vishruth-S opened #1216 "Same content for developer and student in contribute page"
**Describe the bug**
The content for "developer" and "student" is the same in contribute page. I think this can be improved by modifying it as shown in the images below

**To Reproduce**
1. Go to https://circuitverse.org/contribute

**Expected behavior**
I Think it would be better to improve the developer's content as shown below,,,just an opinion

**Screenshots**
Before
![circuit11](https://user-

[2020-03-17 14:16] Vishruth-S opened #1217 "Function of toggle button not obvious"
**Describe the bug**
The toggle button in "Documentation" page has no description of what it does unless clicked. At first sight, looks as if it allows "Edit on Github" since it's next to it

**To Reproduce**

1. Go to https://docs.circuitverse.org/#/
2. See error

**Expected behavior**
Adding "Dark mode" next to the button improves appearance and user experience
**Screenshots**
Before
![circuit15

[2020-03-17 14:17] Ananthavijay commented on #1217
Create the issue here: https://github.com/CircuitVerse/CircuitVerseDocs/issues

[2020-03-17 14:24] Vishruth-S commented on #1217
Okay, Thanks

[2020-03-17 14:29] angad-k opened #1218 "No horizontal margins for icons in simulator"
**Is your feature request related to a problem? Please describe.**
Yes. It's a minor UI thing but results in the overall design not looking good.
![HorizontalMarginsForButtons](https://user-images.githubusercontent.com/54415525/76865763-32c80900-6889-11ea-89c1-5c8bb572bdba.png)
So, as it can be seen in the screenshot, the buttons don't have a margin in the horizontal direction which disturbs the o

[2020-03-17 14:30] #1217 closed

[2020-03-17 14:49] angad-k opened #1219 "Styling fix for "Delete Circuit" and "Edit Layout" buttons in Simulator"
**Is your feature request related to a problem? Please describe.**
Yes, another minor UI issue. So, the "delete circuit" and "edit layout" don't look pretty when we minimize the left panel enough to get them stacked on each other as shown in the screenshot.
![DeleteCircuitAndEditLayout](https://user-images.githubusercontent.com/54415525/76867735-f21dbf00-688b-11ea-8101-bd55d5f72923.png)
They don't

[2020-03-17 15:13] Ananthavijay opened #1220 "Assignments page is broken"
**Describe the bug**
- Preview modal doesn't appear when the name of the member is clicked.
- UI should be updated, Text area for entering Grade is missing

**To Reproduce**
Steps to reproduce the behavior:
1. Go to circuitverse.org
2. Create a group and assignment
3. Login with another account as a member and submit your work
4. Login with mentor account and see the assignment

**Screenshots**
-

[2020-03-17 15:14] yash15601 commented on #1220
@Ananthavijay  I'm working on this

[2020-03-17 15:14] yash15601 commented on #1220
Will make pr soon

[2020-03-17 16:17] #1210 closed

[2020-03-17 16:29] nileshdas commented on #1216
Can I work on this?

[2020-03-17 18:18] nitin10s commented on #1218
Looks good.

[2020-03-17 18:18] nitin10s commented on #1219
Looks good.

[2020-03-17 18:22] nitin10s commented on #511
@yash15601 is working on it. Right?

[2020-03-17 18:34] yash15601 commented on #511
Yes @nitin10s

[2020-03-17 19:46] angad-k opened #1224 "Left panel in simulator isn't fully visible when any of the circuit elements is expanded"
**Is your feature request related to a problem? Please describe.**
Yes. Though this issue doesn't lead to any loss of information, the border of the properties tab on the left panel gets obscured from below when any of the circuit elements tab is expanded.
![Screenshot from 2020-03-18 01-07-57](https://user-images.githubusercontent.com/54415525/76895046-44270a80-68b5-11ea-94cf-c7264b4db7ec.png)
As

[2020-03-18 00:09] #192 closed

[2020-03-18 00:09] #20 closed

[2020-03-18 00:09] #3 closed

[2020-03-18 00:09] #5 closed

[2020-03-18 04:20] Vishruth-S commented on #1216
@nileshdas ...I already took up this issue and submitted a PR.

[2020-03-18 07:13] ShubhankarKG opened #1227 "Report User Successfully Removed instead of User Successfully Destroyed."
**Describe the bug**
When removing a member from the group, a message is displayed stating "Group member was successfully _destroyed_" which is awkward.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http:circuitverse.org'
2. Click to see your groups if you are a mentor.
3. Remove any member.
4. See error

**Expected behavior**
Group member was successfully removed.

**Screenshots**

[2020-03-18 07:30] Shivansh2407 opened #1229 "Simulator Circuit Elements Panel Not Working Properly"
**Describe the bug**
Whenever the user Drags the Left panel present in simulator , then on dragging to the leftmost part or the rightmost part the panel cannot be reverted back and hence the user must reload .

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org'
2. Click on 'simulator'
3. Drag the 'Left Panel of The simulator where elements are present'
4. See error

**Ex

[2020-03-18 10:35] #1157 closed

[2020-03-18 10:44] nitin10s commented on #1158
@sal2701 ?

[2020-03-18 10:46] #492 closed

[2020-03-18 10:46] #491 closed

[2020-03-18 10:47] sal2701 commented on #1158
@darkshredder Please proceed, I am working on another issue which is taking more time than expected. Sorry for the delay @nitin10s

[2020-03-18 10:47] #575 closed

[2020-03-18 10:47] #586 closed

[2020-03-18 10:48] darkshredder commented on #1158
Sure will start from today, will open PR soon

[2020-03-18 13:46] darkshredder commented on #1158
@tachyons @satu0king @nitin10s Can you tell me how to send mail to CV like I send mails using mailto: but that wont look good i guess... any alternative?

[2020-03-18 14:57] #1220 closed

[2020-03-18 15:27] kulkarniatharv opened #1234 "Footer alignment issues along with copyright text being slashed"
**Describe the bug**
Alignment issues were observed during testing the footer in different screen sizes along with some text in the copyright section not to be displayed.

![alignment](https://user-images.githubusercontent.com/15829308/76976625-37a8bd80-695a-11ea-802f-fa233fe46bcf.jpg)

**To Reproduce**
Steps to reproduce the behaviour:
Check the footer on a mobile view using Chrome/Firefox DevToo

[2020-03-18 16:02] akansha-singh opened #1237 "An illustration on the 'favourites page', If there are no favourite projects of the user"
**Is your feature request related to a problem? Please describe.**
If there are no favourites added by a user, show an illustration rather than just showing a message

**Additional context**
Add any other context or screenshots about the feature request here.

![WhatsApp Image 2020-03-18 at 18 45 02](https://user-images.githubusercontent.com/47236824/76980131-d59e8700-695e-11ea-9c34-81d67b5f4dc8.j

[2020-03-18 16:55] akansha-singh commented on #1234
@kulkarniatharv https://github.com/CircuitVerse/CircuitVerse/pull/1232 this pr already resolved this issue

[2020-03-18 17:01] akansha-singh opened #1238 "Large empty space(left side), if Description of the project is too large"
**Describe the bug**
A clear and concise description of what the bug is.

If the circuit description is too large, then the page has lots of white space (Desktop View) below the circuit.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org/users/3464/projects/16521' (Desktop View)
2. Scroll down
3. See Large empty space on left side (Desktop View)

**Expected behav

[2020-03-18 18:13] kulkarniatharv commented on #1234
@akansha-singh Your PR used **HTML Tables** and **bootstrap** which creates complex code and a heavyweight abstraction(Bootstrap) for layouts. I've used a new and browser native solution **CSS Grids** which will improve performance and also create a simple code which is easy to understand for any future developer. I request you to go through the issue and my PR one more time. Also, take a look at

[2020-03-18 18:16] kulkarniatharv commented on #1234
@aayush-05 Please review the PR.

[2020-03-18 18:16] satu0king commented on #602
#121, #322, #326, #602 are related issues.
@Shivansh2407

The issue is that on mac backspace is also delete key (backspace and delete key are combined in mac). Actual delete is `fn + backspace` but not all the users are aware of it. This raises a weird problem, backspace in text boxes is actually backspace and not delete. For some annoying reason I haven't been able to find a solution to this even

[2020-03-18 18:42] Vishruth-S commented on #1238
I would like to take up this issue.
I would suggest a fix as shown below by increasing the area of the canvas and also correcting the top-alignment of the main circuit.

Before
![bandicam-2020-03-19-00-02-57-862](https://user-images.githubusercontent.com/55310756/76995213-89ab0c80-6975-11ea-94da-83aa269712fb.gif)

After
![circuit25](https://user-images.githubusercontent.com/55310756/76995587-13f37

[2020-03-18 18:54] satu0king commented on #755
We need to completely rewrite the testbench, so pending redesign.

[2020-03-18 19:29] satu0king commented on #1238
A better fix would be to limit the size of the property div and make it scrollable imo. @nitin10s ?

[2020-03-18 20:04] nitin10s commented on #1238
I agree with @satu0king . That would be the best fix.

[2020-03-19 00:07] #14 closed

[2020-03-19 05:17] ALWISH007 commented on #1224
@angad-k still working on this?

[2020-03-19 05:37] ALWISH007 commented on #1193
@pranavmodx  did you find any solution for this.

[2020-03-19 06:22] pranavmodx commented on #1193
No, I didn't work on it since there was no follow up.

[2020-03-19 06:22] #1193 closed

[2020-03-19 08:21] RohitKumarGit opened #1239 "UI Enhancement - Simulator nav-bar"
**Regarding UI enhancement**

**Is your feature request related to a problem? Please describe.**
The navbar color scheme seems odd  , The popup is of black color which I don't consider going along with the design idea and vibe. Moreover there is no depiction of what's dropdown is currently being viewed

**Describe the solution you'd like**
I want that the dropdown should be of light black , and th

[2020-03-19 08:27] RohitKumarGit opened #1240 "Small Names of The Circuit Elements"
**Is your feature request related to a problem? Please describe.**
The name of the gates are really annoyingly small

**Describe the solution you'd like**
I want that some kind of tooltip should appear on right where name , and a link should be there , from where the user can know about that gate

**Are you working on this? (Yes/No)**
Yes , I have already designed the cool "tooltip" and thought of

[2020-03-19 09:28] UltimateGamer07 commented on #1238
I'd like to implement this issue in the wat that @satu0king said, if you can assign this issue to me ill have a PR within a short while

[2020-03-19 11:14] Vishruth-S opened #1241 "Zooming error in project"
**Describe the bug**
By default, circuit is zoomed out. But once zoomed in, it is not possible to bring back to original state

**To Reproduce**
1. Go to https://circuitverse.org/users/3464/projects/16521
2. "Zoom in" the circuit
3. Zoom out
4. See error

**Are you working on this issue? (Yes/No)**
No