[2021-10-01 11:57] Palaksharma23 commented on #2149
I want to work on this issue . Can you please assign it to me

[2021-10-01 12:22] Palaksharma23 commented on #1856
I want to work on this issue , Can you please assign it to me

[2021-10-01 12:43] pulkit-30 commented on #2321
Hi,
Is anyone working on this issue?
If not, please assign me this issue, and please help me out with some references from where I can start digging into it.

[2021-10-01 13:17] Palaksharma23 commented on #2454
I want to work on this issue , Can you please assign it to me.

[2021-10-01 13:28] Palaksharma23 commented on #376
Hii,
Is anyone working on this issue?
Please assign me this issue and please help me out with some code pointers/references from where I can start digging into it.

[2021-10-01 13:34] vedant-jain03 commented on #2454
@Palaksharma23 I am already on it. Please try to work on different

[2021-10-01 13:45] Palaksharma23 commented on #2454
okay sir continue .

[2021-10-01 16:27] gr455 commented on #2496
Sorry if I'm late here, but can you try again with the current master branch again. We fixed a similar issue a couple weeks ago

[2021-10-01 16:29] awwmawno commented on #1966
I would like to try working on this issue for Open Source Day '21.

[2021-10-01 16:31] gr455 commented on #1966
Go ahead!

[2021-10-01 16:41] gr455 opened #2510 "Make Invite Link text area uneditable"
**Describe the bug**
The text area where the group invite link is displayed is editabe, although it's not required to be

**To Reproduce**
Steps to reproduce the behavior:
1. Create a group
2. Go to `Add Members`
3. Click on `Group Invite Link`

**Expected behavior**
Text area should be uneditable

Related code [here](https://github.com/CircuitVerse/CircuitVerse/blob/master/app/views/groups/_add_m

[2021-10-01 17:05] verovillar commented on #2197
I would like to work on this issue for OSD vGHC

[2021-10-01 17:07] Kriti-bit commented on #2497
Hi @Shivansh2407, I would like to work on this as a part of OSD(October)

[2021-10-01 17:08] Shivansh2407 commented on #2497
Sure @Kriti-bit . Go ahead!

[2021-10-01 17:09] Kriti-bit commented on #2497
Thank you! It would be great if you could please assign this issue to me
Thanks!

[2021-10-01 17:38] gr455 commented on #2197
Go ahead!

[2021-10-01 17:40] Prerna-0202 commented on #1751
Hii,
I am interested in this issue
Is anyone working on this issue?
Please assign me this issue...

[2021-10-01 17:43] gr455 commented on #1751
No need to be assigned, you can work on this

[2021-10-01 18:12] csaa2019 commented on #2510
Hello, can I work on this as part of OSD?

[2021-10-01 18:13] gr455 commented on #2510
Yes go ahead!

[2021-10-01 18:29] Nonna-source commented on #2227
Hey @ShreyaPrasad1209 I am a participant at GHC OSD and I would like to try working on this issue. I am not sure if I will be able to fix this issue. I will need some mentoring assistance.

[2021-10-01 18:42] gr455 commented on #2227
@Nonna-source Looks like this was already worked on in https://github.com/CircuitVerse/CircuitVerse/pull/2464

[2021-10-01 21:12] Kartikay304 commented on #2496
@gr455, I tried it again, but it is not working/..
![Screenshot 2021-10-02 023954](https://user-images.githubusercontent.com/40604582/135686588-34c25623-eb43-4ff3-847d-73284f7b82cc.png)

[2021-10-02 11:26] Palaksharma23 commented on #2149
Currently working on it ........

[2021-10-02 11:32] gr455 commented on #2149
@Palaksharma23 seems like https://github.com/CircuitVerse/CircuitVerse/pull/2462 has aleady addressed this issue

[2021-10-02 11:37] Palaksharma23 commented on #2149
Okay sir @gr455

[2021-10-02 12:36] Palaksharma23 commented on #376
Currently working on it ............

[2021-10-02 14:20] nitin10s commented on #376
Sure Palak

cc @abstrekt @satu0king

[2021-10-02 14:27] vedant-jain03 commented on #2507
@tachyons @nitin10s Should I go ahead?

[2021-10-02 14:36] nitin10s commented on #2507
The homepage is not really longer than 4-5 screens and a back to the top button would be overkill so I don't think it's really required. What do you think?

[2021-10-02 15:07] #2149 closed

[2021-10-02 15:19] vedant-jain03 commented on #2507
I completely agree, Just asking as now some of the websites have this functionality, but totally agreed with your point. 👍🏼

[2021-10-02 15:20] #2507 closed

[2021-10-02 17:01] gr455 commented on #2510
Closed by https://github.com/CircuitVerse/CircuitVerse/pull/2515

[2021-10-02 17:01] #2510 closed

[2021-10-03 05:54] Palaksharma23 commented on #2488
Are you still working on this issue
Can I take up this issue ?

[2021-10-03 06:57] Kartikay304 commented on #2488
@Palaksharma23 Currently I am not working on this issue, you can go ahead and take up this issue.👍

[2021-10-03 07:01] Palaksharma23 commented on #2488
Okay @Kartikay304  Working on it now 👍

[2021-10-04 06:29] Kartikay304 opened #2519 "Add 'hi' translations using i18n"
Adding 'hi' translations in following pages:

**1. In groups page ,for flash mesage**
![groups](https://user-images.githubusercontent.com/40604582/135802678-ae810bff-9756-41dc-9221-828b1889547d.png)

**2. In new assignment page ,for the form elements**
![new assignment](https://user-images.githubusercontent.com/40604582/135802932-9d8f0d36-0be8-4716-9632-0ec686ed8da0.png)

**3. In notification page

[2021-10-04 06:36] Kartikay304 opened #2520 "Sticky footer problem in 404 error page"
**Describe the bug**
The footer is not in a fixed position (footer is not sticky)

**To Reproduce**
<h2>Steps to reproduce the behavior:</h2>

1. Go to 'any invalid page'

2. Eg: https://circuitverse.org/sasdsada

3. Except root page all pages have the similar type of issue.

4. Then change screen zoom

5. See error

**Expected behavior**
<h3>Footer should be sticky.</h3>

<hr>

<h2>Screenshots</h

[2021-10-04 07:23] #2509 closed

[2021-10-04 10:08] vedant-jain03 commented on #2520
@Kartikay304 I use windows 10 and I am not able to see the error I mean on my screen at 404 page I can see the correct placing of the footer!

[2021-10-04 12:36] tabhay563 commented on #2307
@pavanjoshi914 I am new to coding and currently learning WEB D can you assign me this issue as this is open  after 19 days also can please elaborate more about this issue

[2021-10-04 16:28] pavanjoshi914 commented on #2519
You can close this. We already translated different modules just little late in merging

Keep contributing !

[2021-10-04 18:44] prsndp commented on #2520
@Kartikay304 I guess it is not a bug. Obviously, if we visit an unknown page then it will happen, we can't design for unknown pages, For example, the Microsoft official site also has the same issue.

[2021-10-05 07:41] ShreyaPrasad1209 commented on #2520
I can see this issue in Mac. @prsndp in case of unknown page, websites send back a 404 page which can be easily designed.
@Kartikay304 please go ahead

[2021-10-05 08:45] Kartikay304 commented on #2520
Okay working on it.

[2021-10-05 08:57] Aashishkushwaha commented on #2520
Hi @ShreyaPrasad1209  Can I work on resolving this footer issue ?

[2021-10-05 10:10] Kartikay304 commented on #2520
Currently I am working in this issue..

[2021-10-05 20:13] sharmarahul1001 commented on #2307
Hi @tabhay563 I'm @sharmarahul1001 currently I'm working  on this I m running late on schedule due to college exams, this issue is the same as #1997 but yet I will manage to complete it on time no worries

[2021-10-06 04:54] pavanjoshi914 commented on #2520
Do you say except the home page every page has this issue?

Footer is designed as a bootstrap ``fluid-container``` hence it takes entire horizontal space. which is correct behaviour

On any page, the footer is always stuck to the end of the page and that seems correct behaviour.

it is just homepage has more vertical length than others and fills the zoomed page completely, in others it doesn't hap

[2021-10-06 15:28] somesh202 opened #2523 "No background for the typeahead drop-down for Educational Institute"
**Describe the bug**
The suggestions drop-down for educational institutions in the Edit Profile section appears transparent which looks weird.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Dashboard`
2. Click on `Edit Details`
3. Try entering something in **`Educational institute`** input
4. See error in suggestions

**Expected behavior**
There should be some background for the drop

[2021-10-07 14:36] Kriti-bit commented on #2497
Hi @rushikeshadhav, I am working on it, almost done

[2021-10-07 15:18] tachyons opened #2528 "Remove all ocuurances of logix from codebase"
Circuitverse was originally named as logix, but we still have references to it in the codebase and that is ambiguous to the new contributors. Replace the occurrences of logix with Circuitverse without changing any changes to the end user experience

[2021-10-07 15:57] rushikeshadhav opened #2529 "Distance between pagination and rows"
**Is your feature request related to a problem? Please describe.**
- The gap between pagination and row is very little.
- And there is lot of space below pagination.

**Describe the solution you'd like**
- Increase bottom margin of  row
- Reduce height of container below pagination

**Additional context**
Add any other context or screenshots about the feature request here.

**Are you working on th

[2021-10-07 15:58] rushikeshadhav commented on #2528
Can you assign ?

[2021-10-08 05:15] #2004 closed

[2021-10-08 06:38] Vasuvj24 commented on #2317
hello i am looking to contribute and i am a newbie, Is this issue still open?

[2021-10-08 06:43] Vasuvj24 commented on #2523
hello @gr455 i am newbie , can i work on the issue if @rushikeshadhav you are ok with it

[2021-10-08 07:27] rushikeshadhav commented on #2523
Yes, I am working on it

[2021-10-08 08:51] rushikeshadhav commented on #2523
Hey! @somesh202 can you tell me where can I find the file.
Actually I am new to this project and I am unable to find the index.html file where I can make changes.
Thanks

[2021-10-08 12:15] Vasuvj24 commented on #2321
@tachyons it should align with the other pages of circuitverse

[2021-10-08 15:23] gr455 commented on #2523
@rushikeshadhav I think [this](https://github.com/CircuitVerse/CircuitVerse/blob/master/app/views/users/logix/edit.html.erb#L32) is the file that you're looking for, it's an html.erb file which is a ruby view file. It's very much like HTML but it supports some ruby logic in between

[2021-10-08 15:44] Kartikay304 commented on #2528
Yes, we have to change them all... and all the routes and controllers associate with them. Currently I am working with logix folder you can start working with logix_assets. @vedant-jain03 whatsay?

[2021-10-08 16:03] rushikeshadhav commented on #2523
Thanks for helping :-)

[2021-10-08 16:35] rushikeshadhav commented on #2528
Hey! @Kartikay304 @vedant-jain03 can I also work with you.

[2021-10-08 16:57] vedant-jain03 commented on #2528
@rushikeshadhav @Kartikay304 Lets meet in slack and divide the task, what do you think?

[2021-10-08 17:27] rushikeshadhav commented on #2528
This is my member id U024U3PF4SU

[2021-10-08 19:14] Palaksharma23 commented on #2523
I am new to ope source if there is any mistakes in the pr please tell me i will solve them @gr455 @ShreyaPrasad1209

[2021-10-09 03:17] Palaksharma23 commented on #2488
@Vasuvj24 I am trying but I am getting an error if you want you can take this up

[2021-10-09 03:58] Palaksharma23 commented on #2523
@gr455  i have just added style i line 730 and it is working fine
This time i have attached the screenshots as well

i tried to look for the class related to the dropdown menu but i am unable to find it in any css file other than (vendor/bundle/ruby/2.6.0/gems/bootstrap-typeahead-rails-0.10.5.1/vendor/assets/javascripts/bootstrap-typeahead-rails/bootstrap-typeahead.js)

[2021-10-09 06:12] Palaksharma23 commented on #2523
Yes @somesh202  Thank you so much , now it is working fine
@gr455 please once review this pr

[2021-10-09 07:01] Vasuvj24 commented on #2501
can i work on this issue i am new it will be great if you please elaborate the issue

[2021-10-09 08:44] Vasuvj24 commented on #2488
its client side is also made in ruby?

[2021-10-09 09:55] rushikeshadhav commented on #2523
@somesh202 Do I have to add  class  tt-dropdown-menu in the users.scss with background-color: white

[2021-10-09 10:08] somesh202 commented on #2523
@rushikeshadhav Yes

[2021-10-09 10:54] Palaksharma23 commented on #2523
@gr455 i have added the box-shadow effect

[2021-10-09 12:08] rushikeshadhav commented on #2523
Actually I was working on this issue before @Palaksharma23
I had asked doubts also
So, I should make PR right

[2021-10-09 12:47] Palaksharma23 commented on #2523
Yes you have commented first , but I was solving it much before and what was taking time for me was to figure out how should I set my database in educational institution box

I have asked @gr455 him on LinkedIn to figure out the setup for the same as well . I didn't comment because I thought whenever I will do it I will make the pr

Because in one issue I have commented but i didn't make the pr so

[2021-10-09 13:29] Palaksharma23 commented on #2523
Sorry for wasting your time as you are newbie , i am also newbie but if you need any kind of help or want to ask anything in future you can get my LinkedIn id in my readme you can ask me anytime . I would love to help you ☺
Thank you so much

[2021-10-09 13:30] shub78910 commented on #2322
Hey, can I pick this up?

[2021-10-09 13:39] rushikeshadhav commented on #2523
That's great. Thank you so much
Yeah I will ask you if I need any help
As far as now I just need one help
How do I close my PR:blush: so that yours will get merged

[2021-10-09 14:14] Palaksharma23 commented on #2523
Try this link -
https://www.linkedin.com/in/palak-sharma-57256a200
Yes sure you can ask 👍

[2021-10-10 08:40] #2528 closed, assigned to nobody

[2021-10-10 09:45] Kartikay304 commented on #2488
Yeah go ahead

[2021-10-10 12:34] Kartikay304 opened #2543 "Fix UI of buttons in groups page"
**Describe the bug**
Fix UI of buttons n groups page

**To Reproduce**
Steps to reproduce the behavior:
1. Change locale to 'hi' from edit profile
2. Go to 'Groups'
4. See error

**Screenshots**

![fix](https://user-images.githubusercontent.com/40604582/136695845-495b27f7-0811-4cd0-8c3b-7c8ffb01ed71.png)

**Are you working on this issue? (Yes/No)**
## YES ##

[2021-10-10 17:43] nitin10s commented on #2227
Closing via #2337

[2021-10-10 17:43] #2227 closed

[2021-10-11 04:18] Kriti-bit commented on #2497
Hi, what is the screen size in the above screenshot?

[2021-10-12 16:16] Kartikay304 commented on #1938
I would like to work on this feature.

[2021-10-14 06:08] vedant-jain03 opened #2552 "feat: Notification button in Simulator."
**Is your feature request related to a problem? Please describe.**
Like there is a button of notification in circuitverse main, we can also add that in Simulator user's drop-option.

**Describe the solution you'd like**
Add a new button that routes to notification page.

**Are you working on this? (Yes/No)**
yes

[2021-10-14 12:38] Kartikay304 opened #2554 "Wrong position of pagination"
**Describe the bug**
Wrong position of pagination.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Crcuitverse forum'
3. Scroll down.
4. See error.

**Expected behavior**
The pagination should be placed below card body.

**Screenshots**

![pagination](https://user-images.githubusercontent.com/40604582/137317992-a8ec1be8-047b-4cae-935b-7bc8d1542a6d.png)

**Are you working on this issue

[2021-10-14 16:45] gr455 commented on #2497
@ShreyaPrasad1209 can you check if this issue still exists?

[2021-10-15 08:26] somesh202 opened #2555 "Github Auth is not working."
**Describe the bug**
The functionality of user log in using github account is not working currently.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Login'
2. Click on 'Login with Github'
3. Redirects you to **`/users/sign_up`**
4. See error

**Expected behavior**
Clicking on Login with Github should redirect us to github login api.

**Screenshots**
If applicable, add screenshots to h

[2021-10-15 16:47] vedant-jain03 opened #2556 "feat: Darkmode in Circuitverse Main"
**Is your feature request related to a problem? Please describe.**
Every modern website has a dark mode feature. Dark Mode can give a great environment to users of circuitverse.

**Describe the solution you'd like**
- I will add the mixin function in theme.scss where I will use (prefers-color-scheme) and add different global colors for different themes.
- By default, the theme will be the user's O

[2021-10-17 13:10] mayank171 commented on #2317
Can I work on this issue? I will refractor the group.scss as much as possible.

[2021-10-17 14:08] Palaksharma23 commented on #2200
I would love to work on this issue , can you please assign it to me ?

[2021-10-17 14:11] Palaksharma23 commented on #1900
I would love to work on this issue , is anybody working on this issue , can you please assign it to me ?

[2021-10-17 14:13] tachyons commented on #2555
Unable to reproduce, I could sign in using Github

[2021-10-17 14:25] gr455 commented on #2555
I was not able to sign in as well

[2021-10-17 16:58] #2552 closed, assigned to nobody

[2021-10-17 17:02] #2543 closed, assigned to nobody

[2021-10-17 17:17] Wimukti commented on #2466
Is this bug fixed? If not please assigned this to me so that I can resolve it

[2021-10-17 17:22] Kartikay304 commented on #2466
Hello,yeah.this bug is already fixed.

[2021-10-19 15:10] vedant-jain03 opened #2558 "Swap the position of notifications and testing button."
**Describe the bug**

- Notifications of the user should be displayed at the top of the testing button.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'notifications'
2. See error

**Screenshots**
![Screenshot (163)](https://user-images.githubusercontent.com/76901313/137939162-15f26abf-b53a-49d6-9db1-451ce9f13595.png)

**Device Information [optional]:**
 - OS: [e.g. iOS]
 - Browser [e

[2021-10-19 21:27] Palaksharma23 commented on #2395
@gr455 are you still working on this issue or i can take this up ,
i am not getting what's this draft tag on your pull request means

[2021-10-19 21:28] Palaksharma23 commented on #2341
i would love to work on this issue , can mentors please assign it to me ?

[2021-10-19 21:32] Palaksharma23 commented on #2
@satu0king  i would like to work and contribute to 'Add scroll bar to sidebar' . can i go ahead ?

[2021-10-19 21:45] Palaksharma23 opened #2560 "Search bar should stick at the top while scrolling in the documentation page"
**Describe the bug**
in the sidebar of documentation page "type here to search option is not fixed"
it should be fixed which will help user to search anything easily at any time

Initially it is like this
![one](https://user-images.githubusercontent.com/87171452/137994708-1ca8c362-7a35-4b47-b53a-202471832094.png)

After scrolling it hides
![two](https://user-images.githubusercontent.com/87171452/1

[2021-10-20 05:02] Palaksharma23 commented on #2560
@kushalShukla-web no currently i am working on this issue , please try on some other issue

[2021-10-20 06:17] gr455 commented on #2395
@Palaksharma23 Draft tag just means that the PR is not ready yet. However, I do think this should fix the error. Can you test and review this PR? That would be really helpful

[2021-10-20 06:49] vedant-jain03 opened #2562 "feat: Add functionality in "add members in group" like "add collaborators in project""
**Is your feature request related to a problem? Please describe.**
- Add functionality in "add members in group" like "add collaborators in project"
- add members in group
![bandicam 2021-10-20 12-16-14-999](https://user-images.githubusercontent.com/76901313/138042118-669f6755-875b-4b94-a2ae-139b8899583a.jpg)

- add collaborators in project
![bandicam 2021-10-20 12-15-54-826](https://user-images.g

[2021-10-21 13:39] Prerna-0202 commented on #808
I would like to work on this issue...
Is anyone working on this issue???

[2021-10-26 10:34] tachyons opened #2570 "Deploy touch support for simulator"

[2021-10-26 10:41] tachyons opened #2571 "Enable LTI integrations to all users"

[2021-10-29 06:57] gr455 opened #2575 "TTL Compliance: Make unconnected / high impedance input nodes propagate 1 by default"
According to TTL (Transistor Transistor Logic), A value of 0 is thought to draw the gate low. Hence the default value of the gate input on disconnected input / high impedance should be 1. Currently CircuitVerse simulator defaults such values to 0.

[TTL](https://en.wikipedia.org/wiki/Transistor%E2%80%93transistor_logic)

Modules to modify:
- [ ] AND gate
- [ ] OR gate
- [ ] XOR gate
- [ ] NAND gat

[2021-10-29 16:56] vedant-jain03 opened #2576 "feat: Validations in registration."
**Is your feature request related to a problem? Please describe.**
The goal of web form validation is to ensure that the user provided necessary and properly formatted information needed to successfully complete an operation.
Currently, their is not validation in registration form that may be lead to unnecessary invalid users.

**Describe the solution you'd like**
I will try to add validation usin

[2021-10-30 05:50] gr455 commented on #49
You can go ahead and work on it. You will have to add a color property in modules/MODULENAME.js, change the customDraw() function to use that color. Finally you will have to add the color property in MODULENAME.mutableProperties so that the option shows up on the dialog box on the simulator.

Refer to @\satu0king's comments and the closed PR for reference

[2021-10-30 06:59] Prerna-0202 commented on #1711
I would like to work on this issue.
Is anyone working on this issue?

[2021-10-30 16:16] #2576 closed

[2021-10-30 17:22] Prerna-0202 commented on #1966
I would like to work on this issue.
Is anyone working on this issue?

[2021-10-30 18:09] Prerna-0202 commented on #1808
I would like to work on this...
Can i work on this issue?

[2021-11-01 11:12] tachyons opened #2577 "Deploy testbench for the simulator"

[2021-11-02 06:03] tachyons commented on #1808
yes

[2021-11-03 11:38] Palaksharma23 commented on #1640
is anyone working on this issue , i would like to work on this issue .

[2021-11-03 13:49] Palaksharma23 opened #2579 "Solving errors in public\css\ux.css file"
**Describe the bug**
There are some errors in ux.css file

**Screenshots**

<img width="960" alt="one" src="https://user-images.githubusercontent.com/87171452/140071990-6ed8c311-3b25-4357-bd13-829a0b9a5fe9.png">
<img width="960" alt="two" src="https://user-images.githubusercontent.com/87171452/140072017-1c87e436-dddf-4c47-b083-27d55d9c8306.png">

**Are you working on this issue? (Yes/No)**
Yes i a

[2021-11-03 13:50] Palaksharma23 commented on #2579
@gr455 @satu0king  @nitin10s  @shubhankarsharma00  can you please tell me should i uncomment background url or should i remove it .

[2021-11-03 14:06] Palaksharma23 opened #2580 "Show proper name of element"
**Describe the bug**
Now when we hover on any element in stimulator section it is not showing proper name of the element, it must show proper name when hovered

**Screenshots**

<img width="960" alt="element" src="https://user-images.githubusercontent.com/87171452/140074896-098b2e45-d89b-4dc9-9f63-c0a3f3217d26.png">

**Are you currently working on this issue**
Yes i am Currently working on this is

[2021-11-03 15:39] vedant-jain03 opened #2582 "fix: Size of group members for 'non-admin group viewer' should be less."
**Describe the bug**
fix: Size of group members for 'non-admin group viewer' should be less

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'My Groups'
2. Click on 'view'
3. Scroll down to 'members'
4. See error

**Expected behavior**
- For now the embed ruby if-else condition generate div for "remove" button that should not be created.
- For non-admin user in the class 'group-members-

[2021-11-04 07:41] Palaksharma23 commented on #2580
@gr455 @nitin10s @satu0king  can you please tell me do you need this change , as i have solved the issue but it requires some changes in names of svg files , if you say i will make the pull request.

[2021-11-04 09:34] Palaksharma23 opened #2585 "X to trash icon"
**Describe the bug**
To delete a circuit x is given which is sometimes misguidiing

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Circuitverse.org'
2. Click on 'Stimulator'
3. See error

**Screenshots**

**Currently it is like this**

<img width="960" alt="x to trash" src="https://user-images.githubusercontent.com/87171452/140290351-389c09a5-ad88-4b8d-9835-59a460b811b8.png">

**It sh

[2021-11-04 12:02] Palaksharma23 commented on #2055
Are you  working on this issue @SingingApple Can i work on this issue ?

[2021-11-05 03:49] Palaksharma23 commented on #2236
hay @pranay-simejia are you still working on this issue ?
Can i take up this issue .

[2021-11-05 04:09] Palaksharma23 commented on #376
@abstrekt that pr is closed so can i work on this issue .

[2021-11-05 04:20] Palaksharma23 opened #2588 "Correct position of box when user click on right side or bottom of the simulator page"
**Describe the bug**

https://user-images.githubusercontent.com/87171452/140457549-879e6a6c-b9ad-4472-80e0-3d5756706f8c.mp4

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org'
2. Click on 'Stimulator'
3. Right Click on right or bottom of the page
4. See error

**Expected behavior**

https://user-images.githubusercontent.com/87171452/140457713-0b4ac734-bbb6-4d77-af39-b359

[2021-11-05 04:29] vedant-jain03 commented on #2588
@Palaksharma23 change stimulator to simulator in issue title.

[2021-11-05 06:34] Palaksharma23 commented on #2588
sorry, by mistake @vedant-jain03 :)

[2021-11-05 07:34] dhruvsol commented on #2585
i am working on it

[2021-11-05 07:45] vedant-jain03 commented on #2585
@dhruvsol the PR is already been made by @Palaksharma23 and it is under review
You can work on another issue ig.

[2021-11-05 07:46] dhruvsol commented on #2585
ok

[2021-11-05 09:08] Palaksharma23 commented on #376
@abstrekt if you want you can continue your work on your pull request, i checked it and you have done all correct changes just you have made changes in public file which is not in use now.
You can do these changes in simulator folder and can again make a pull request , but please confirm me if you are working on this or not.
Thank you

[2021-11-05 09:11] Palaksharma23 commented on #49
@shlokjjw are you working on this issue ?
i would love to take up this issue .

[2021-11-05 10:46] vedant-jain03 opened #2590 "fix: Border in footer social media links look odd."
**Describe the bug**
Border in social media links look odd.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org'
3. Scroll down to 'Footer'
4. See error

**Expected behavior**
Remove the border

**Screenshots**
![bandicam 2021-11-05 16-13-42-250](https://user-images.githubusercontent.com/76901313/140498856-f7dfc8d8-726a-4dfd-b107-7c959fb161ba.jpg)

**Device Information [o

[2021-11-05 10:58] dhruvsol commented on #2590
i am working on it

[2021-11-06 03:36] pavanjoshi914 commented on #1640
Already fixed and merged ! closing this

[2021-11-06 03:36] #1640 closed

[2021-11-13 04:54] soham4abc commented on #2317
I am working on this issue will provide a PR soon

[2021-11-13 17:35] vedant-jain03 opened #2597 "feat: filter functionality in comment section."
**Is your feature request related to a problem? Please describe.**
- Filter Functionality in Comment Section.

**Are you working on this? (Yes/No)**
Yes

[2021-11-14 04:01] Kartikay304 commented on #2575
@gr455, I would like to work on this issue.

[2021-11-14 10:05] tachyons commented on #2590
Can you get this approved on #ux channel first

[2021-11-14 15:53] dhruvsol commented on #2590
@tachyons  where is this channel??

[2021-11-14 16:29] tachyons commented on #2590
https://circuitverse.org/slack

[2021-11-14 18:38] gr455 commented on #2575
Go ahead. Look at the `resolve()` function for the circuitElements. That function resolves the output nodes of the elements accroding to the input values

[2021-11-15 05:25] nitin10s commented on #2580
I didn't exactly get you. Can you briefly describe it?

[2021-11-15 05:26] nitin10s commented on #376
@Palaksharma23 you can open a PR for the same.

[2021-11-15 05:27] #2466 closed

[2021-11-15 06:02] nitin10s commented on #2590
A hover effect was added on purpose. Please confirm if the issue is valid by a maintainer before sending PRs. Closing this.

[2021-11-15 06:02] #2590 closed

[2021-11-15 06:23] #2562 closed

[2021-11-15 07:17] nitin10s commented on #49
@Palaksharma23 you can take up the issue.

[2021-11-15 07:59] #2558 closed

[2021-11-15 11:25] khareyash05 opened #2599 "Redesign error 404 page"
I would like to redesign error 404 page

![image](https://user-images.githubusercontent.com/60147732/149188227-e45dd7ed-cc24-4850-b47a-ebe6b5d790bc.png)

[2021-11-15 17:27] Palaksharma23 opened #2600 "Replace content of prompt box while closing a new circuit"
As a discussion in this pr https://github.com/CircuitVerse/CircuitVerse/pull/2586

**Describe the bug**
Whenever we click on x button in side of name of a project, we see that it is written are you sure you want to delete this circuit.
It should be Are you sure you want to close this circuit.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org'
2. Click on 'simulator'
3.

[2021-11-16 14:03] Palaksharma23 opened #2603 "Disturbed position of password show/hide icon when sign up error occurs"
**Describe the bug**
While trying to sign up whenever any error occurs the position of password show/hide icon gets disturbed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org'
2. Click on 'login'
3. Scroll down to 'sign up'
4. Click on 'sign up'
5. Leave everything blank and click on 'sign up'
6. See error

**Current behavior**
![image](https://user-images.githubuserc

[2021-11-16 15:20] pulkit-30 commented on #1945
Is there anyone working on this issue?
If not can you please assign me this issue and please help me out with some code pointers/references from where I can start digging into it.

[2021-11-16 16:36] gr455 commented on #2575
@ayan-biswas0412 About this issue, do we want the behaviour to be same as Logisim? At least for gates?

[2021-11-16 17:37] ayan-biswas0412 commented on #2575
yah right

[2021-11-16 18:02] Prerna-0202 opened #2605 "Add a Search Icon On Dashboard"
**Describe the feature**
Add a search icon in the search field which could help users easily identify it as a search field...
Screenshots:
![2021-11-16 (1)_LI](https://user-images.githubusercontent.com/89515816/142040220-196438e3-b823-4fe7-beea-4056ed59dc21.jpg)
<img width="942" alt="2021-11-16 (2)" src="https://user-images.githubusercontent.com/89515816/142040352-77d8589e-129d-4290-bd2a-31519c2c9

[2021-11-17 11:20] sakkshm26 opened #2607 "Misalignment of text inside a card in features section"
**Describe the bug**
The text inside the card with title "Multi Bit Buses and components" in the features section of home page is not aligned properly with the left card.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org'
2. Scroll down to the Features section
3. See error

**Expected behavior**
The text should be properly aligned with the left card.

**Screenshots**
![

[2021-11-17 16:17] #2597 closed

[2021-11-17 17:48] Prerna-0202 opened #2608 "Add diode in the Circuit Elements"
**Describe the solution you'd like**
Add diode as a new feature in the circuit elements

**Are you working on this? (Yes/No)**
Yes, I am working on this issue

[2021-11-18 14:23] Palaksharma23 commented on #2554
i would love to work on this issue , is anyone working on it currently ?
if not then i would love to take up this issue .

[2021-11-18 14:24] Palaksharma23 commented on #2497
i would love to work on this issue , is anyone working on it currently ?
if not then i would love to take up this issue .

[2021-11-18 19:55] Kartikay304 commented on #2031
I am currently working on thus issue

[2021-11-18 21:21] Azhrdev commented on #2607
I'm currently working on this issue

[2021-11-19 04:23] Palaksharma23 commented on #2607
yes @sakkshm26 i you have already fixed the issue , you can open a pr linking this issue .

[2021-11-19 06:55] Palaksharma23 commented on #2497
yes @gr455  this issue still exists.

[2021-11-19 08:46] UTKARSHSHARMA718 commented on #2317
Sir can I work on this please, I am new to open source and love to contribute to your organization, it would be better for me to try a good first issue first.

[2021-11-19 08:59] UTKARSHSHARMA718 commented on #2
Hi sir/mam, I am utkarsh, new to open source, and looking forward to enhancing and learning new skills and gaining some experience. And I would love to contribute to your organization.  Since I had used circuit verse in my 2nd semester for my electrical lab I am a bit familiar with it so, can I work on ''Decimal to BCD and vice versa'' please?

[2021-11-19 16:42] Prerna-0202 commented on #1660
I would like to work on this issue. Is anyone working on this issue??

[2021-11-19 16:58] Palaksharma23 opened #2617 "Go to top button must be there at each page"
**Description.**

A back to top button must be there at each page and it shoul come only on scroll not before than that just like interactive book has one .

![image](https://user-images.githubusercontent.com/87171452/142661580-64da590f-f65e-4b05-a8a9-978cc859e8bd.png)

**Are you working on this? (Yes/No)**
Yes i have fixed the issue , will raise a pull request soon.

[2021-11-19 18:58] harshagrawal523 opened #2618 "Colour difference in hover and click"
**Describe the bug**
On the home page of website in the navbar , when I hover on "Getting Started" the color is different than when I click it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org/'
2. Click on 'Getting Started'
3. See colour difference in hover and click

**Expected behavior**
The colour should be same as it looks more professional that way and al

[2021-11-20 00:35] tachyons commented on #2608
Duplicate of https://github.com/CircuitVerse/CircuitVerse/issues/1992

[2021-11-20 00:35] #2608 closed

[2021-11-20 06:00] vedant-jain03 opened #2619 "feat: add custom scroll theme for circuitverse"
**Is your feature request related to a problem? Please describe.**
Every modern website nowadays has its custom scrolling theme.

**Describe the solution you'd like**
Using webkit.

**Are you working on this? (Yes/No)**
Yes.

[2021-11-20 06:50] pulkit-30 commented on #1742
Is there anyone working on this issue?
If not, may you please assign me this issue and please help me out with some code pointers/references.

[2021-11-20 10:00] Kartikay304 opened #2621 "UI Improvements for Projects Search Page"
This page needs to be redesigned.

![save_new](https://user-images.githubusercontent.com/40604582/142722192-a6f5f0d1-559e-4c10-9199-282fc241cbf3.png)
**Are you working on this? (Yes/No)**
Yes

[2021-11-20 10:14] Prerna-0202 commented on #2095
I would like to work on this issue.
Is anyone working on this issue?

[2021-11-20 11:29] Palaksharma23 commented on #2202
yes this one is already fixed

[2021-11-20 11:30] Palaksharma23 commented on #2108
is anyone working on this issue ?
i would love to work on this issue

[2021-11-20 11:31] Palaksharma23 commented on #2001
is anyone working on this issue ?
i would love to work on this issue .

[2021-11-20 11:35] Palaksharma23 commented on #1748
hey is anyone working on this issue ?
i would love to work on this issue .

[2021-11-20 11:37] Palaksharma23 commented on #1740
i would love to work on this issue , if no one is working on it .

[2021-11-20 11:40] Palaksharma23 commented on #1693
i am working on this issue.

[2021-11-20 11:42] Palaksharma23 commented on #1633
i would like to take up this issue

[2021-11-20 11:44] Palaksharma23 commented on #1802
i would like to work on this issue

[2021-11-20 15:02] #2605 closed

[2021-11-20 15:35] Palaksharma23 commented on #2108
i have solved the issue , making a pr soon .

[2021-11-20 16:14] Palaksharma23 commented on #2108
@gr455 @ShreyaPrasad1209 @tachyons @shubhankarsharma00 @tachyons can you please once review my pull request .

[2021-11-20 16:31] Palaksharma23 commented on #1802
i have fixed this issue , will raise a pr soon.

[2021-11-20 17:08] tachyons commented on #2619
Closing as I don't see any value addition by doing this

This is not accurate.

[2021-11-20 17:08] #2619 closed

[2021-11-20 18:17] gr455 commented on #2108
@Palaksharma23 Simulator is not comaptible for mobile devices yet, @ZadeAbhishek is working on it

[2021-11-20 19:05] SOUMOJIT-CHAKRABORTY commented on #2
Hi! I am new to opensource can anyone suggest from where I should start my journey?

[2021-11-20 19:07] SOUMOJIT-CHAKRABORTY commented on #1966
Hi! I am new to opensource can anyone suggest me how to start the journey?....please help

[2021-11-20 19:55] Prerna-0202 commented on #1748
![Screenshot (4)](https://user-images.githubusercontent.com/89515816/142739281-11669efd-fa47-4d2c-b21a-8bc310a6d7e5.png)

@abstrekt @nitin10s @sal2701,  please have a look at this one.. is this ok?

[2021-11-21 07:50] reejuBhattacharya commented on #2618
Hi, anyone still working on this issue, or can I work on it?

[2021-11-21 07:51] harshagrawal523 commented on #2618
Hi @reejuBhattacharya , Yes I am working on it and will provide a PR soon!

[2021-11-21 07:53] reejuBhattacharya commented on #2621
HI, I would really like to work on this issue.

[2021-11-21 07:56] reejuBhattacharya commented on #2618
Ok cheers!

[2021-11-21 09:14] ajaybhaskar-h commented on #2621
Hey, I'm new to open source
I would really like to work on this issue
Can I ?

[2021-11-21 09:17] ajaybhaskar-h commented on #2617
I'm new to open source and I'm really interested in working on this issue.
Is it still open?

[2021-11-21 11:32] pulkit-30 commented on #1711
Hey @satu0king ,
Is anyone working on this?
If not, I can solve this issue, please assign me.

[2021-11-21 13:14] Palaksharma23 commented on #2617
@ajaybhaskar-h i am currently working on this issue .
please try on different one

[2021-11-21 13:16] Palaksharma23 commented on #2580
sir @nitin10s  when we hover on any item in circuit elements to pick that up , the title shows its class name not the proper name and when we search as well it doesn't get searched with proper name , it get search by the class name

[2021-11-21 13:18] Palaksharma23 commented on #2580
Focus on constant Value element in these pictures
![image](https://user-images.githubusercontent.com/87171452/142763409-13318d7d-7424-4abf-9ff8-c28c02a9450b.png)

on searching
![image](https://user-images.githubusercontent.com/87171452/142763421-0f6cdeef-7161-4a8c-a473-ad52cc52a183.png)

![image](https://user-images.githubusercontent.com/87171452/142763424-fa3670f7-13d3-4afa-bc93-6bdb3c144d94.png)

[2021-11-21 13:18] Palaksharma23 commented on #2580
@nitin10s

[2021-11-21 13:18] pulkit-30 commented on #1358
Is this issue open?
If yes, Please assign me this issue and please provide me with code pointers/references so that I can start working on this.

[2021-11-21 13:58] pulkit-30 commented on #1966
Hey @gr455 ,
I can solve this Issue, May you please assign me this issue and please help me with some code pointers and references so that I can start working on this.

[2021-11-21 14:06] ajaybhaskar-h commented on #2617
@Palaksharma23 Ok cheers

[2021-11-21 14:43] Prerna-0202 opened #2626 "Add Some Label Fonts in the Properties Dialog Box"
**Describe the solution you'd like**
Add Some Label Fonts in the Properties Dialog Box

**Additional context**
Add any other context or screenshots about the feature request here.
<img width="949" alt="2021-11-21 (9)" src="https://user-images.githubusercontent.com/89515816/142766247-d2e5584c-0854-4f52-a048-6fbc156542f9.png">
<img width="956" alt="2021-11-21 (8)" src="https://user-images.githubuser

[2021-11-21 14:45] ajaybhaskar-h commented on #2626
I would like to work on it.
Is it open?

[2021-11-21 14:46] Prerna-0202 commented on #2626
@ajaybhaskar-h , Currently I am working on this issue. Please try on different one :)

[2021-11-21 14:48] ajaybhaskar-h commented on #2626
@Prerna-0202 Ok

[2021-11-21 14:52] Prerna-0202 commented on #2626
@gr455 @tachyons Can you Please tell me that, Is this feature request is valid/right? Should I make a pr for this issue?

[2021-11-21 15:16] Prerna-0202 opened #2627 "Change the direction of arrows when click on the navbar elements in simulator"
**Describe the bug**
When we click on the navbar elements the downward arrow remains in the downward position

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org'
2. Go to 'Simulator'
2. Click on 'Project'
4. See error

**Expected behavior**
When we click on the navbar elements and we hover on the dropdown elements the downward arrow  should change to an upward arrow

**S

[2021-11-21 15:17] ajaybhaskar-h commented on #2627
Can I work on this bug?

[2021-11-21 16:57] tachyons opened #2628 "Fork circuit action should be POST request, not GET request"
Currently, forking project is done via http GET request, which need to converted into POST request to enable bultin CSRF protection in rails

[2021-11-21 17:02] Kartikay304 commented on #2628
I want to work on this issue

[2021-11-21 17:28] tachyons commented on #2600
Can you add your reasoning why the 'close' is better here ?

[2021-11-21 18:40] harshalkaigaonkar commented on #2523
Is it open still?

[2021-11-22 01:00] tachyons commented on #2523
Fixed in #2534

[2021-11-22 01:00] #2523 closed

[2021-11-22 02:03] vedant-jain03 commented on #2628
@tachyons There is a typo error in the title of the issue.

[2021-11-22 05:08] gr455 commented on #1748
Looks good to me

[2021-11-22 05:11] Palaksharma23 commented on #2600
@tachyons yes sir in discussion of my pull request https://github.com/CircuitVerse/CircuitVerse/pull/2586 , it was concluded to replace delete keyword with close .

[2021-11-22 10:11] harshalkaigaonkar commented on #2317
is it open?

[2021-11-22 10:12] harshalkaigaonkar commented on #2307
open?

[2021-11-22 10:13] #2317 closed

[2021-11-22 11:50] harshalkaigaonkar commented on #2202
open?

[2021-11-23 12:40] Sarfraz-droid opened #2643 "Cannot render console from 172.19.0.1! Allowed networks: 127.0.0.0/127.255.255.255, ::1"
I was trying to run the environment in Docker but Images/Icons are not loading in localhost:3000/simulator.
I did sent it on slack but got no reply

Steps to reproduce the behavior:
1. Run docker-compose up
2. open localhost:3000
3. Go to localhost:3000/simulator
4.  Circuit elements not loading

**Expected behavior**
It should show the circuit elements

**Screenshots**
![image](https://user-image

[2021-11-23 17:13] nitin10s commented on #2001
I've left a comment on the previous PR. Let's wait for some time for @sarthakm21. If he's unavailable, you may take the issue.

[2021-11-23 17:16] nitin10s commented on #2580
Oh I see now, yeah I think that's a problem. You may go ahead and open a PR

cc @gr455

[2021-11-23 17:53] nitin10s commented on #1748
Looks good to me as well

[2021-11-23 17:55] Palaksharma23 commented on #2580
Thank you @nitin10s , i will raise a pr soon

[2021-11-24 00:52] Rick-mad-lab commented on #2643
Hey It might a problem of image source file

[2021-11-24 04:05] Sarfraz-droid commented on #2643
How can I fix it?🤔

[2021-11-24 04:06] Rick-mad-lab commented on #2643
Find the resources folder

[2021-11-24 04:18] nitin10s commented on #1358
@pulkit-30 please go ahead. For any help, please message in the #coding channel on our Slack. Thanks!

[2021-11-24 04:52] Sarfraz-droid commented on #2643
then?

[2021-11-24 10:19] Rick-mad-lab commented on #2643
hey just remove old docker container and then make a new container and clone it again  and deploy it again.

[2021-11-24 12:45] Prerna-0202 commented on #1748
@gr455 @nitin10s, So, can I make a pull request for this change?

[2021-11-24 18:26] Sarfraz-droid commented on #2643
till getting errors :/

[2021-11-24 18:27] Rick-mad-lab commented on #2643
Hmm 🤔 wait let me try

[2021-11-25 04:48] pulkit-30 commented on #1358
Sure sir,
I have started working on this and will open PR soon.

[2021-11-25 09:10] pulkit-30 commented on #1315
I understand the Issue and the idea to show minified username below the Project/Circuit is good.
Can I go with this issue?
@nitin10s  may you please help me out with some code Pointers and references.

[2021-11-25 14:11] gr455 commented on #2580
Yeah seems like a reasonable change

[2021-11-25 14:26] #2095 closed

[2021-11-25 21:44] Sarfraz-droid commented on #2643
still not solved yet :/

[2021-11-26 04:56] Prerna-0202 commented on #2627
@ajaybhaskar-h, yes you can work on this issue...

[2021-11-26 13:59] Sarfraz-droid commented on #2496
Any solution? facing the same issue

[2021-11-26 13:59] h2o-Noob opened #2652 "Padding in Apply theme button on changing theme in simulator"
**Describe the bug**
A clear and concise description of what the bug is.
Apply theme button has no internal padding.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org'
2. Click on 'simulator'
3. Click on 'tools'
4. Click on 'themes'
5. See error

**Expected behavior**
Apply themes button should have a bit of internal padding to make the text more natural and readable.

[2021-11-26 14:00] Kartikay304 commented on #2496
Which OS are you using?

[2021-11-26 14:01] Sarfraz-droid commented on #2496
Win 10 Home

[2021-11-26 14:02] Kartikay304 commented on #2496
You can use gitpod for running cv instance

[2021-11-26 14:04] gr455 commented on #2496
Are you also using vscode terminal for docker?

[2021-11-26 14:04] Sarfraz-droid commented on #2496
Nope I am using PS admin terminal

[2021-11-26 14:05] Sarfraz-droid commented on #2496
Yea but it has a time limit which is already running out :/

[2021-11-26 14:13] Kartikay304 commented on #2496
I was facing the same problem in win 10/11 pro, so I changed my OS to Linux. You can dual boot your win 10 with Linux. Docker works well in Linux.

[2021-11-26 14:39] vedant-jain03 commented on #2652
@h2o-Noob This enhancement is also applicable for all the sub-menu popups under the tools menu.
If @nitin10s @tachyons @Shivansh2407  agrees with this you can also add primary-button class in others popups as well.

[2021-11-26 14:49] h2o-Noob commented on #2652
@vedant-jain03 Yes, I will apply it to all other sub-menu popups as well if I get approval.

[2021-11-26 16:42] #2519 closed

[2021-11-26 17:29] #2520 closed

[2021-11-27 11:41] Prerna-0202 commented on #1880
I would like to work on this issue. Is anyone working on this issue?

[2021-11-27 12:12] divyesh-rathod commented on #2628
Is the issue still open? May I work on it?
@tachyons

[2021-11-27 12:13] tachyons commented on #2628
This is work in progress

[2021-11-27 12:13] #2628 closed

[2021-11-27 12:15] tachyons commented on #1880
LTI integration is done, LMS integrations are pending

[2021-11-27 13:26] divyesh-rathod commented on #2501
Is the issue still open ? May I work on it
@gr455

[2021-11-27 15:30] pulkit-30 commented on #376
Hey @nitin10s,
I was trying to implement this feature and successfully implemented the feature.
Opening pr for the requested feature.

[2021-11-27 17:45] Prerna-0202 commented on #1880
I would like to work on this issue. Please help me with some references so that I can start working on this issue...

[2021-11-27 18:12] pulkit-30 commented on #1766
Hey @satu0king @ShreyaPrasad1209 ,
Is anyone working on this?
If not Please assign me this issue and please help me out with some code pointers/references from where I can start digging into it.

[2021-11-28 03:58] vedant-jain03 commented on #958
@tachyons Can I work on this?

[2021-11-28 04:02] vedant-jain03 commented on #2307
@tachyons  @pavanjoshi914 Can I work on this?

[2021-11-28 04:07] pavanjoshi914 commented on #2307
Go ahead

[2021-11-28 04:15] vedant-jain03 commented on #2307
Sure

[2021-11-28 05:40] Palaksharma23 commented on #2580
@gr455 @nitin10s , i have tried a lot but i am getting some error , can you please provide me a little reference in solving this issue .

[2021-11-28 06:05] Palaksharma23 opened #2655 "Hover effect on social media icons"
When we hover on social media icons there should be some hover effects

![image](https://user-images.githubusercontent.com/87171452/143731616-9561aa63-315d-431d-9ff4-4d642796a468.png)

**Are you working on this issue? (Yes/No)**
Yes , i am working on this issue , and will raise a pull request soon.

[2021-11-28 07:00] FaizAlam commented on #2655
Internet Archive is a different organization.

[2021-11-28 11:13] ayan-biswas0412 commented on #2652
I don't think it is a bug, rather it is an design enhancement issue.
Looking for your comments @nitin10s

[2021-11-28 12:21] tachyons commented on #2652
Looks like a bug to me, button text should have padding

[2021-11-28 12:59] divyesh-rathod opened #2656 "Circuit elements not displaying information when hovered over."
**Describe the bug**
If the circuit elements are searched in the search box then hovered over they would not display information about them

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Circuit Elements'
2. Click on 'Search box'
3. Type any circuit element name or letter  'eg~b'
4. Hover over the circuit element
5. See the error

**Expected behavior**
While circuit elements being ho

[2021-11-28 13:59] #2655 closed

[2021-11-28 14:00] Palaksharma23 commented on #2655
@FaizAlam by mistake

[2021-11-28 17:54] KarishmaVanwari commented on #2621
Can I work on this? @Kartikay304

[2021-11-28 18:58] Kartikay304 commented on #2621
Sure,but first we need to make the design for the page,you can make the design and share it on #UX channel on slack.

[2021-11-28 19:32] KarishmaVanwari commented on #2621
Okay @Kartikay304

[2021-11-29 02:54] h2o-Noob commented on #2652
I actually looked at other previous created issues and it seemed like design bugs/flaws are also counted as bug so i labelled it as bug.

[2021-11-29 04:50] Palaksharma23 commented on #2656
@divyesh-rathod it is the copy of #2580 and I am working on it :)

[2021-11-29 05:38] divyesh-rathod commented on #2656
@Palaksharma23 it NOT the copy of #2580 I went through it. #2580 deals with not displaying proper names and #2656 is all about displaying information about the circuit element.

[2021-11-29 12:29] Kartikay304 opened #2658 "Improve UX/UI for cv mailers"
**Is your feature request related to a problem? Please describe.**

At the moment, the appearance of CV emails is minimalistic, and not very interactive. I think we should make some UX changes to CV mailers.

**Current Design**

![Screenshot from 2021-11-26 22-55-32](https://user-images.githubusercontent.com/40604582/143868109-be92c2a3-9f91-4f6d-98b7-ba72a1bd190a.png)

**Are you working on this? (

[2021-11-29 12:42] vedant-jain03 commented on #2658
@Kartikay304 It will be great if you put circuitverse logo on the design.

[2021-11-29 12:45] Kartikay304 commented on #2658
Yeah, when I will make the design for cv mailers then, I will add the logo to it.

[2021-11-30 03:44] nitin10s commented on #958
Lets wait on this issue while we fix all the UI problems on the normal version.

[2021-11-30 03:45] vedant-jain03 commented on #958
Sure @nitin10s

[2021-11-30 03:48] nitin10s commented on #2652
Yes, it's a bug, and we need to change it everywhere. I am working on a set of buttons we should be using and post that we can have PRs making those changes everywhere.

[2021-11-30 03:49] nitin10s commented on #2580
you can ask for help on #coding channel in Slack specifying what errors you are getting.

[2021-11-30 10:50] Hitansh-Shah commented on #2627
I would also like to work on this issue. @ajaybhaskar-h Let me know if you are still working on this

[2021-12-01 03:34] pulkit-30 commented on #1880
Hey @Prerna-0202,
Are you working on this?

[2021-12-01 05:32] tachyons opened #2661 "Integrate with Google Classroom"
We have LMS integrations with LTI tool. But Google Classroom is not compatible with LTI and need to integrated separately.

[2021-12-01 05:34] tachyons commented on #2661
Previous attempts for ref:

https://www.youtube.com/watch?v=7svs_j8MPA0 from @koolgax99

[2021-12-01 05:35] tachyons commented on #1880
Closing this for https://github.com/CircuitVerse/CircuitVerse/issues/2661

[2021-12-01 05:35] #1880 closed

[2021-12-01 06:38] pulkit-30 commented on #2661
Hey @tachyons,
 I would like to work on this issue. May you Please assign me this issue.

[2021-12-01 07:06] tachyons commented on #2661
@Prerna-0202 Asked for this first, you can take in case she isn't taking this

[2021-12-01 08:50] Prerna-0202 commented on #2661
@pulkit-30, yes you can start working on this issue...

[2021-12-01 12:54] pulkit-30 commented on #2661
@Prerna-0202 @tachyons, I am starting working on this.

[2021-12-01 13:20] Palaksharma23 commented on #2627
i would like to work on this issue

[2021-12-01 14:50] koolgax99 commented on #2661
@pulkit-30  https://github.com/koolgax99/CircuitVerse-GSoC-Task you could probably check out this repo for your ref. The only problem is how u share the circuit link with the gclassroom's api

[2021-12-01 14:54] gr455 commented on #2501
@divyesh-rathod Yes. The issue actually boils down to finding some pastebin site which works with just Client ID (like imgur does) so we don't have to trouble the backend with the paste creation. If you have such a pastebin site in mind, you can tell.

[2021-12-01 15:17] tachyons commented on #2661
@ayan-biswas0412 Also did some work on this

[2021-12-01 15:38] koolgax99 commented on #2661
Yes yes we did it as a gsoc task.😁

[2021-12-01 15:39] ayan-biswas0412 commented on #2661
Yeah here are the two POC videos for Google Classroom integration,

1. https://youtu.be/UPnXXuXWHng
2. https://youtu.be/UPnXXuXWHng

But we need a clear cut flow for integrating Google Classroom for our CircuitVerse.
Challenges for Google Classroom are,
1. It is not open-sourced so we don't know how its internal thing works, and we neither make a plugin that can be installed in Google Classroom si

[2021-12-01 16:06] ayan-biswas0412 commented on #2661
regarding grade submission, I saw these last year but the flow is complicated https://developers.google.com/classroom/reference/rest/v1/courses.courseWork.studentSubmissions
In the LTI case we have implemented two things 1. sharing assignment to LMS and the grade syncing with LMS but if we do Google Classroom then also I think we should implement these two

[2021-12-01 19:30] #2643 closed

[2021-12-01 20:03] Sarfraz-droid opened #2662 "Improved UI of Search Bar"
I would like to change the UI of Search Bar

Currently
![image 2](https://user-images.githubusercontent.com/73013838/144305220-8c4b9cf8-6aed-4f41-a844-f0f26fd4907f.png)

**Describe alternatives you've considered**
![Group 2](https://user-images.githubusercontent.com/73013838/144305235-ee7ef664-d3c3-4697-81a9-1a9d14aa8173.png)

**Are you working on this? Yes and I'll provide a PR soon**

[2021-12-02 14:25] pavanjoshi914 commented on #2580
![image](https://user-images.githubusercontent.com/55848322/144435906-93c212e2-0cd7-401d-a007-6291037db944.png)
since you just type ```constant``` we can get the element displayed. not every user will go till ```constant value```

if it doesn't increase code complication or requires fewer changes in existing code then I think it can be done else not necessary

@Palaksharma23  here is the part of t

[2021-12-02 14:46] Palaksharma23 commented on #2580
yes @pavanjoshi914 i agree with you , user will type only few letters , i will once try to change for search accuracy .☺

[2021-12-02 15:25] sakshi-2412 opened #2663 "Development on Gitpod failing"
**Describe the bug**
After following the steps mentioned on the page - [`Development on Gitpod`](https://github.com/CircuitVerse/CircuitVerse/wiki/Development-on-Gitpod), all ports can be made public except port 3000 as it is not served. I am not sure if this problem is particular to some users or to all of them.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'gitpod.io/#https://githu

[2021-12-02 16:17] Shilpashreemr commented on #2652
Can I work on this issue?

[2021-12-02 16:21] h2o-Noob commented on #2652
no sorry, I'm already working on it

[2021-12-02 18:04] Prerna-0202 commented on #2663
@sakshi-2412, For serving 3000 port we have to run a command  "bundle exec rails s"  in our terminal and It is mentioned on the page "Development on gitpod"
![Screenshot (35)](https://user-images.githubusercontent.com/89515816/144478007-570f8094-39cb-4ff5-8192-f8570100849c.png)

[2021-12-02 18:21] sakshi-2412 commented on #2663
Yes that worked, thanks! :smiley: It was confusing since the command is given after the preview is already loaded and port 3000 is serving.

[2021-12-03 01:54] Shilpashreemr opened #2665 "Adding padding to few buttons"
This is a enhancement to make the buttons easily read - able, by adding padding  around few of the buttons.

The buttons like:
![Screenshot (485)_LI](https://user-images.githubusercontent.com/86882411/144531133-4680037b-d45d-4232-a00e-e91a15e483ce.jpg)
![Screenshot (484)_LI](https://user-images.githubusercontent.com/86882411/144531152-505578dd-a21d-4fb8-80e0-8a0605b821f8.jpg)

Are you working on t

[2021-12-03 03:21] vedant-jain03 commented on #2665
I think this is duplicate of #2652

[2021-12-03 03:22] vedant-jain03 commented on #2663
@sakshi-2412 If the issue is recovered kindly close it.

[2021-12-03 05:50] #2663 closed

[2021-12-03 08:17] #2665 closed

[2021-12-03 13:23] UkaniVedant commented on #2662
Can you please assign me this issue.

[2021-12-03 14:12] vedant-jain03 commented on #2662
@UkaniVedant
@Sarfraz-droid is working on this issue. Kindly check different issue.

[2021-12-04 04:43] UkaniVedant commented on #2662
Ok no problem 👍🏻

[2021-12-04 17:21] h2o-Noob opened #2666 "Using button instead of link on "Learn Logic Design" link for a consistent UX design."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Not a problem, but an enhancement suggestion on using a button instead of a link for a consistent UX design
![linkimg](https://user-images.githubusercontent.com/85777684/144718406-2bb7d999-5703-4a46-a502-4fbeefb22fd1.png)

**Describe the so

[2021-12-04 17:46] h2o-Noob commented on #2666
#2667

[2021-12-04 17:57] Prerna-0202 commented on #1658
I would like to work on this issue. Is anyone working on this issue?

[2021-12-04 19:28] sulogna2001 commented on #2666
Can I work on this feature?

[2021-12-05 00:45] tachyons commented on #2666
It is an intentional design to give more importance to simulator button

[2021-12-05 00:45] #2666 closed

[2021-12-05 03:52] h2o-Noob commented on #2666
Alright 👍🏻

[2021-12-05 07:49] h2o-Noob opened #2668 "Added Target="blank" property to homepage link"
**Is your feature request related to a problem? Please describe.**
It's pretty annoying when instructions are not opened on a separate tab because it gets difficult to multi-task and work on the simulator side by side.

**Describe the solution you'd like**
Learn Logic Design link on home should open on a new tab.

**Describe alternatives you've considered**
A clear and concise description of any a

[2021-12-05 08:35] sakshi-2412 opened #2670 "Improve user-details design for smaller screens"
Currently, user details on dashboard don't look appealing on smaller screens.

https://user-images.githubusercontent.com/85152262/144739306-edc4205e-b805-4212-8028-5e6220cc7728.mp4

**Describe alternatives you've considered**

https://user-images.githubusercontent.com/85152262/144739329-79280440-bbd4-424f-8865-ab3be5e2c75c.mp4

**Are you working on this? (Yes/No)**
Yes

[2021-12-05 09:48] ayan-biswas0412 commented on #2670
@nitin10s looking for your suggestions

[2021-12-05 11:26] Palaksharma23 commented on #2580
@pavanjoshi914 @nitin10s @gr455 i have corrcted the proper name of elements on hovering , can you please once review it .

[2021-12-05 11:26] Palaksharma23 commented on #2580
Now i will work on improving the search accuracy as well

[2021-12-05 14:35] Palaksharma23 commented on #2580
I have added the search accuracy in as well in second commit in my pull request #2673 :)

[2021-12-05 15:43] tichnas commented on #2627
@Prerna-0202 Is this issue still available? If yes, I'd love to give it a shot!

[2021-12-05 17:06] Maddiprog opened #2674 "You haven't add 8x1 multiplexer in circuit verse why ..?😤😤 .I have to do my task tomorrow is my last date of assignment submission."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device Information [optional]:**
 -

[2021-12-06 05:16] h2o-Noob commented on #2674
@Maddiprog I don't think it's a bug, It's more like a feature request.

[2021-12-06 07:46] nitin10s commented on #2670
Looks nice, we can move ahead with this proposed design 👍

[2021-12-06 08:52] RahulSingh210 commented on #1966
I would like to work on this issue if it's still not solved. I'm new to open source so please help me out with the references to start working on this issue.

[2021-12-06 09:55] SOUMOJIT-CHAKRABORTY commented on #2
@satu0king Sir I am new to opensource I want to work on Decimal to BCD and vice versa. Can you assign me this.

[2021-12-06 09:59] pulkit-30 commented on #1966
@RahulSingh210, My pr is under review for this issue. Please try on a different one...

[2021-12-06 11:52] RahulSingh210 commented on #1966
@pulkit-30 Ok...I'll look for another one.

[2021-12-06 14:23] RahulSingh210 commented on #2627
If the bug is still present in the repo, I would like to work this out.

[2021-12-07 04:03] Palaksharma23 commented on #2627
@RahulSingh210 currently, I am working on this issue
try on different one please :).

[2021-12-07 04:59] RahulSingh212 commented on #2
@satu0king  If the issue is still open, I would like to work on it.

[2021-12-07 05:55] RahulSingh212 commented on #2000
@humble-barnacle001 I am new to open source and If the issue is still unresolved, I would like to work on it.

[2021-12-07 15:23] humble-barnacle001 commented on #2000
@RahulSingh212 I think this has been resolved in #2026

[2021-12-07 15:23] #2000 closed

[2021-12-07 16:18] pulkit-30 commented on #2661
After going through all the references and Google classroom API docs I have come up with these methods and a summary about Google Classroom Integration with CV,

As of now, Circuitverse provides us the LMS facilities to :
- Create a group
- Add members in the Group
- Open Assignments
- Grade students on the basis of their performance and return them back.

A similar task we want to achieve with go

[2021-12-07 16:39] ayan-biswas0412 commented on #2661
@pulkit-30 the Share to Classroom approach I think is not apt according to our current flow of assignments because
after sharing an assignment to GClassroom Circuitverse is not able to track the events.

Possible events we need to sync is
- Assignment creation in Circuitverse end should create the assignment in Google Classroom
- Assignment grading from Circuitverse should update the Grade in Goog

[2021-12-07 18:08] pulkit-30 commented on #2661
When I first start searching for a better approach to implement this, I tried with the share to GClassroom Button, and also mentioned by you and @koolgax99 ...
But talking about assignment flow, Share to the classroom doesn't apt, that's why I go through the REST API references and check how it works and read more about it, and also mentioned some of the API requests above.
And yes we need to gath

[2021-12-07 18:19] koolgax99 commented on #2661
The important point is here to understand the use case and the usage/credibility of it. I feel, we cant do the same thing as google classroom does and ask the user to start using cv its completely not apt in terms of productivity, costing or other miscellaneous reasons. What we have to think if how to make it feasible for the CV student or a professor to manage their assignments via Google Classro

[2021-12-07 19:20] Palaksharma23 opened #2677 "Value of button remains same even after entering the full screen mode"
**Describe the bug**
When we go to full screen mode to view a project, value of the button remains the same.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Circuitverse.org'
2. Click on 'search icon' shown in below image
![image](https://user-images.githubusercontent.com/87171452/145091856-ca095c10-cae6-4f87-99c3-7b43cae5d17b.png)

3. Select Project and then click on search button
![i

[2021-12-08 14:31] pulkit-30 commented on #2001
Hey @Palaksharma23,
Are you working on this?

[2021-12-08 17:10] tachyons commented on #2674
Feature requests should be tagged accordingly, also we can't commit timeframe for the features as the development is handled by the volunteers

[2021-12-08 17:10] #2674 closed

[2021-12-08 17:52] tachyons opened #2683 "Find a replacement for bootstrap-tagsinput"
bootstrap-tagsinput is no longer maintained and having a security issue, this package need to be replaced with a library which is being maintained

[2021-12-08 18:33] Kartikay304 commented on #2683
We can use [Select2](https://github.com/select2/select2)  or [selectize js ](https://github.com/selectize/selectize.js) for bootstap-tagsinput replacement.

[2021-12-09 04:53] h2o-Noob commented on #2683
@tachyons @Kartikay304 can I work on this one?

[2021-12-09 17:23] pulkit-30 opened #2685 "Navbar is not responsive at width 992px of the screen size"
**Describe the bug**

### Navbar at 993px width
<img width="1026" alt="Screenshot 2021-12-09 at 9 35 45 PM" src="https://user-images.githubusercontent.com/76155456/145443569-e8f42094-5018-4f5e-8bcb-65b4586058de.png">

### Navbar at 992px width
<img width="1019" alt="Screenshot 2021-12-09 at 9 35 10 PM" src="https://user-images.githubusercontent.com/76155456/145443654-d48b2084-87ca-4e3f-afc2-258aa4

[2021-12-09 17:56] Palaksharma23 commented on #2683
i would love to take up this issue , if no one is working on it .

[2021-12-10 06:21] sakshi-2412 opened #2687 "Add functionality to delete user profile picture"
**Is your feature request related to a problem? Please describe.**
If a user has a profile picture uploaded, then there is no way to delete it (set it back to default).

**Describe the solution you'd like**
Functionality to delete user's profile picture in the edit profile form.

**Are you working on this? (Yes/No)**
Yes

[2021-12-10 08:49] #376 closed

[2021-12-10 08:55] gr455 opened #2688 "Simulator: Undoing subcircuit after removing an input/output node in main circuit crashes the simulator"
**Describe the bug**
Undoing circuit with a subcircuit of main circuit, after removing an input/output node in main circuit, crashes the simulator

**To Reproduce**
Steps to reproduce the behavior:
1. Go to simulator
2. Add an input node, output node and connect them with a wire
3. Make another circuit in the same project
4. Add Main's subcircuit to this circuit
5. Go to Main circuit
6. Remove the

[2021-12-11 04:30] Sayan-Maity commented on #2005
@satu0king , I want to work on this issue, Can you please assign it to me ?

[2021-12-11 04:32] pulkit-30 commented on #1966
It is under review

[2021-12-11 04:54] Sayan-Maity commented on #2194
@Kartikay304 , are you working on it or shall I start working on this isuue

[2021-12-11 06:16] Sayan-Maity commented on #1966
okay, thank you for informing me

On Sat, Dec 11, 2021 at 10:02 AM Pulkit Gupta ***@***.***>
wrote:

[2021-12-11 06:24] dipanshparmar opened #2689 "Timing diagram panel exceeds the body width"
**Describe the bug**
When trying to increase the width of the timing diagram it should be constrained inside the document's width but it just overflows.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'the simulator'
2. Click on 'increase width on timing diagram panel multiple times'
4. See overflow bug

**Expected behavior**
It should be constrained within the body width

**Screenshot

[2021-12-11 06:26] dipanshparmar commented on #2689
@tachyons @Prerna-0202 Should I continue with this?

[2021-12-11 06:36] dipanshparmar commented on #2627
Hey @Palaksharma23, are you still working on this?

[2021-12-11 06:44] Palaksharma23 commented on #2627
you can take this up :) 👍

[2021-12-11 06:58] Sayan-Maity commented on #2599
@khareyash05 , are you still working on this issue? Or I shall contribute in it

[2021-12-11 07:16] Sayan-Maity commented on #2321
@Vasuvj24 , have you improved the UX design ? Cause I want to contribute in it.

[2021-12-11 07:19] Sayan-Maity commented on #1966
Sorry but , it is under review means only PR ios left  or you would
entertain any other contributors to contribute in it.  ??

On Sat, Dec 11, 2021 at 11:45 AM Sayan Maity ***@***.***> wrote:

[2021-12-11 08:46] dipanshparmar commented on #2627
@Prerna-0202 Instead of changing the position of the arrows, why not just make them invisible as long as there is focus on that item because by default when we hover over the item the icon disappears. So let's just keep it invisible as long as there is the focus?

[2021-12-11 09:05] Kartikay304 commented on #2194
yeah and I have already made a PR on this issue,

[2021-12-11 09:57] tachyons commented on #2683
@Kartikay304 Both seems being developed actively, Can you check for
- Size of the library (smaller the better)
- UI consistency with existing CV theme

[2021-12-11 10:02] tachyons commented on #2661
@ayan-biswas0412  Can you facilitate a brainstorming session for this? A time that works for @ayan-biswas0412 @pulkit-30 and @Prerna-0202 ?

Also don't worry about the credit of the work, git does support co-author feature so that every one who involved will get the credit for the work.

[2021-12-11 10:05] #2617 closed

[2021-12-11 10:19] ayan-biswas0412 commented on #2661
sure, suggest some of the time slots @tachyons , sat/sun (except 19th Dec 2021) fine for me.

[2021-12-11 10:26] tachyons commented on #2661
I may not be available to join, I suggest you to the lead on this

[2021-12-11 10:31] ayan-biswas0412 commented on #2661
@ayan-biswas0412 @pulkit-30 @Prerna-0202 do you guys want to do a brainstorming session then ? if yes can you share some free time slots (20-30 minutes will work I think).

[2021-12-11 10:31] khareyash05 commented on #2599
@Sayan-Maity  I am waiting for assignment and I think you too should wait till then

[2021-12-11 10:31] Sayan-Maity commented on #2599
@khareyash05 , yeahhh

[2021-12-11 10:51] Sayan-Maity commented on #2194
@Kartikay304 , okay can you paste here an image showing the final work

[2021-12-11 11:19] Prerna-0202 commented on #2627
Yes, This can be done. Whatsay @tachyons?

[2021-12-11 12:07] pulkit-30 commented on #2661
Great Idea!

[2021-12-11 12:09] pulkit-30 commented on #2661
Tomorrow or 18th Dec will be fine for me

[2021-12-11 13:07] Kartikay304 commented on #2683
Sure

[2021-12-11 13:21] Prerna-0202 commented on #2661
yes, Tomorrow or 18th Dec will be fine...

[2021-12-11 14:57] ayan-biswas0412 commented on #2661
Tomorrow 5:30 PM ?? @Prerna-0202 @pulkit-30 ??

[2021-12-11 15:00] pulkit-30 commented on #2661
Yes, looks good!
whatsay @Prerna-0202

[2021-12-11 15:42] Prerna-0202 commented on #2661
Yes sure...

[2021-12-11 16:40] Shilpashreemr commented on #2529
can I work on this issue?

[2021-12-11 18:16] ayan-biswas0412 commented on #2661
I have posted the Gmeet link in the `#community` channel in slack, please have a look,I look forward to meet you guys at 5:30 pm on 12 Dec 2021.

[2021-12-12 09:52] Shilpashreemr opened #2699 "Adding border to text box"
**Is your feature request related to a problem? Please describe.**
Yes , this would enhance the visibility of the text box #2127

**Describe the solution you'd like**
This can be done by adding a border to the text boxes.

**Additional context**
before :
![Screenshot (503)](https://user-images.githubusercontent.com/86882411/145707742-956b35f6-6ab8-4f8f-b04b-adacecfce70e.png)

after:
![Screenshot (

[2021-12-12 11:27] vedant-jain03 opened #2700 "fix: confirm popup box in simulator after clicking save online giving unexpected output."
**Describe the bug**
After clicking to cancel button in confirm popup box, it is redirecting to save online rather closing the popup.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org/simulator'
2. Click on 'save online'
3. Click on 'cancel'
4. See error

**Expected behavior**
After clicking to cancel button in confirm popup box, it should close the popup.

**De

[2021-12-12 12:48] #2700 closed

[2021-12-12 13:29] ayan-biswas0412 commented on #2661
So what we discussed was to integrate the CircuitVerse with Classroom according to below

Teacher Creates assignment in CircuitVerse -> Classroom checkbox ticked -> POST req to Classroom (handle google login in between)

And during Grade submission , (handle google login) -> Send Grades to Google Classroom

@pulkit-30 please add your detailed plan here on this.

[2021-12-12 15:00] Sayan-Maity opened #2701 "Adding scroll-top button in homepage"
**Is your feature request related to a problem? Please describe.**
Yes
This will help user easily to go to the top portion of the page without scrolling by mouse

**Describe the solution you'd like**
I will make a simple button

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

**Are you working on this? (Yes/No)**
Yes, and I will soon make a PR

[2021-12-12 15:02] vedant-jain03 commented on #2701
@Sayan-Maity
This is not needed in CV, kindly check what maintainer say about this in this thread: https://github.com/CircuitVerse/CircuitVerse/pull/2660#issuecomment-986515311
Kindly close this issue.

[2021-12-12 15:06] vedant-jain03 commented on #1938
@Kartikay304 Are you working on this, if not I want to work on this issue.

[2021-12-12 15:07] vedant-jain03 commented on #1938
@Kartikay304 I want to work on this issue if you are not working?

[2021-12-12 15:11] #2701 closed

[2021-12-12 16:45] pulkit-30 commented on #2661
Sure, I will share all the details here by tomorrow.

[2021-12-13 04:00] tachyons commented on #1742
This is not a bug, You can see similar behaviour in Github as well

[2021-12-13 04:00] #1742 closed

[2021-12-13 04:11] #1748 closed

[2021-12-13 04:16] tachyons commented on #2
If you want to work on any of the above tasks, create a new issue and refer that issue from your PR. Also ensure that issue is not created before to avoid duplicates

[2021-12-13 10:10] Kartikay304 commented on #1938
@vedant-jain03 You can work on this issue. Currently. I am not working on this issue.

[2021-12-13 11:37] Kartikay304 commented on #2683
[selective js](https://github.com/select2/select2)  is smaller and have UI similar to Cv theme

[2021-12-13 12:31] pulkit-30 commented on #2661
## LMS

A Learning Management System (LMS) is an online integrated software used for creating, delivering, tracking, and reporting educational courses and outcomes.

### 🔴 Google classroom is the third-party LMS integration.

* * *

## What we have in CV

Currently, in circuitverse we can
-\> Make a group
-\> Add members in that group
-\> Open an assignment in it
-\> Member complete that assignmen

[2021-12-13 12:31] pulkit-30 commented on #2661
hey @ayan-biswas0412,
I have added the details,
Any add-on, or anything I forgot to add or any suggestion, kindly mention that.

[2021-12-13 13:08] ayan-biswas0412 commented on #2661
@pulkit-30 can you remove the Share to classroom thing from your above comments by editing and and also removing the first video it will look more neat and clean then

[2021-12-13 13:48] tachyons commented on #2661
I enabled [discussions](https://github.com/CircuitVerse/CircuitVerse/discussions) on this repo, Can we move discussions ot there ?

[2021-12-13 14:04] ayan-biswas0412 commented on #2661
sure

[2021-12-13 15:52] vedant-jain03 commented on #1421
@nitin10s is this issue is open now?

[2021-12-13 17:02] Creatoon commented on #2618
I have solved the issue, can i make a pr? as the issue has not been resolved since 22 days.

[2021-12-13 17:06] harshagrawal523 commented on #2618
Okay sir , I will close the issue.

[2021-12-13 17:06] #2618 closed

[2021-12-13 17:08] Creatoon commented on #2618
@vedant-jain03 Thanks for confirming.

[2021-12-13 17:23] Creatoon opened #2709 "Adding circuitverse installation video"
**Is your feature request related to a problem? Please describe.**
We can add project setup tutorials so that beginners will not have to face issues related to setting up the project.

**Describe the solution you'd like**
There are 3 methods of setup -> One with docker-compose, Gitpod, Local Setup, We can use Asciinema (https://asciinema.org/) to record bash commands. As it provides the best quali

[2021-12-13 18:01] Creatoon opened #2710 "Making Search Box Corners Square"
**Describe the bug**
If we match the input boxes on the simulator page, we will find the corners of Search Box in the Circuit Elements Box and Properties box do not match, they all have to maintain same kind of corners.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://circuitverse.org/simulator
2. Check the corners of Input boxes in both Circuit Elements Box and Properties Box

[2021-12-14 02:31] vedant-jain03 commented on #2710
I think this is the expected behavior as the search input box is used to get the input and search the results and the Properties box is used to input the prop. for respective circuit elements. There must be a difference between them.
Let's wait for @nitin10s assistance.

[2021-12-14 02:34] vedant-jain03 commented on #2709
Hey @Creatoon thank you for raising an issue
We have a detailed markdown file for setting up CV env. : https://github.com/CircuitVerse/CircuitVerse/blob/master/SETUP.md .

[2021-12-14 02:35] vedant-jain03 commented on #30
@tachyons I want to work on this issue. May I?

[2021-12-14 02:42] vedant-jain03 commented on #467
@tachyons Is this issue is open? Can I work on this?

[2021-12-14 02:48] vedant-jain03 commented on #611
@aayush-05 @tachyons Can we do one thing, we can make a filter button on the right of the search input. That will contain filters like:
- Most Viewed
- Featured
- My projects
- Most starred

![bandicam 2021-12-14 08-15-38-869](https://user-images.githubusercontent.com/76901313/145923913-e5a918e9-f8af-4a17-ba07-4f7c5af9cc56.jpg)

It will close this issue as well as #30 as well.

[2021-12-14 04:51] Palaksharma23 commented on #1892
I would like to take up this issue if no one is working  on it.

[2021-12-14 18:13] rucha0702 opened #2712 "Centering the social icons in the footer"
**Describe the bug**
Misalignment of icons: There is a non-uniform margin and padding on the icons.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://circuitverse.org/
2. Scroll down to 'footer'
4. See the icons

**Screenshots**

Before:
![original](https://user-images.githubusercontent.com/77936051/146054938-957d456f-b3a8-48a3-9ac6-4b4b4bae06fb.png)
After:
![edited](https://user

[2021-12-15 06:44] camperjett opened #2713 "Localeapp::MissingApiKey in CircuitverseController"
**Describe the bug**
Critical error which seems to have come after last few commits. The project doesn't functions properly. Error Localeapp::MissingApiKey is thrown.

**To Reproduce**
Steps to reproduce the behavior:
1. Open gitpod environment (or pull latest changes in your local repository)
2. Run ```docker-compose up```
3. open localhost:3000 in browser

**Expected behavior**
A red page shows

[2021-12-15 06:59] camperjett commented on #2713
I checked out the previous commit (59e52d6f8efeac73723e8dfc6d5b5fdf1f1ff897) "Cleanup outdated instrcutions" which seems stable. @tachyons

[2021-12-15 08:41] tachyons commented on #2713
Fixed in 0bb5b872665b6439ce640cf238f3cf88e9b21235

[2021-12-15 08:41] #2713 closed

[2021-12-15 11:20] camperjett opened #2715 "Styling profile picture in search page and user dashboard"
**Is your feature request related to a problem? Please describe.**
The way Profile pictures are displayed is not appealing in case they are not round or square shaped. Most websites use round border to show profile pictures.

**Describe the solution you'd like**
I will add a new class ```"search-image-cropper"``` to the div that contains the profile picture which will give the image its round shap

[2021-12-15 12:12] Prerna-0202 commented on #65
I would like to work in this issue ...Can I start working on this issue?

[2021-12-15 15:17] pulkit-30 opened #2717 "Decimal to BCD and vice versa #2"
#2

Currently, there is no decimal to BCD and vice versa conversion in CV.

**Describe the solution you'd like**
<img width="542" alt="Screenshot 2021-12-15 at 8 45 05 PM" src="https://user-images.githubusercontent.com/76155456/146212840-68c5e3da-2db5-4864-8bb6-63a83fa29264.png">

**Additional context**
examples:
[code]

**Are you working on this? (Yes/No)**
Yes

[2021-12-16 06:57] KoushikAD1234 opened #2720 "Centering the social icons in the footer"
**Describe the bug**
There is a misalignment of icons and there is non-uniform padding and margin on the icons.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://circuitverse.org/
2. Scroll down to Footer section
3. See the social icons (Twitter, LinkedIn, Facebook)

**Expected behavior**
The social media icon is must align on center of the box.

**Screenshots**
Before:-

![Scree

[2021-12-16 09:59] rucha0702 commented on #2720
@KoushikAD1234  The exact same issue has already been created. Check out #2712

[2021-12-16 16:30] pulkit-30 commented on #1964
Hey @satu0king @tachyons  @abstrekt ,
Is Anyone working on this?
If not, Can I come up with an idea, how to implement this and Can I start working on this Issue?

[2021-12-17 04:44] pulkit-30 commented on #1964
What I understand so far is that
We need a custom theme generator that takes the input as JSON and the User can Set his own custom theme colors.

https://user-images.githubusercontent.com/76155456/146489661-1914d464-59cc-4b6d-99fa-771e0e07f7be.mov

keypoints:
1. Reflect changes in realtime
2. Theme can be downloaded (export)
3. Theme can be loaded (import) as a JSON file

@satu0king @abstrekt @tac

[2021-12-17 09:12] pulkit-30 commented on #1964
I just work on the loading/downloading of custom theme file

https://user-images.githubusercontent.com/76155456/146518779-85f00361-18c2-4c4f-b0e9-405146701fe6.mov

Users can export the Custom theme JSON file for the future and also import the file and set the custom theme.

[2021-12-19 06:25] camperjett opened #2722 "Codebase Overview Document required"
**Is your feature request related to a problem? Please describe.**
New Developers will be easily able to understand and quickly start contributing to the project.

**Describe the solution you'd like**
A documentation for codebase overview like [Oppia Codebase overview](https://github.com/oppia/oppia/wiki/Overview-of-the-Oppia-codebase)

**Are you working on this? (No)**

[2021-12-19 07:25] #2600 closed

[2021-12-19 14:05] NerdyLucifer commented on #2712
May I work on this issue?

[2021-12-20 05:50] #2685 closed

[2021-12-20 06:39] #2588 closed

[2021-12-20 11:54] vedant-jain03 opened #2723 "feat: filter in search for projects resource"
**Is your feature request related to a problem? Please describe.**
filter button on the right of the search input. That will contain filters like:

- All (default scope)
- Most Viewed (order according to decreasing order of project views)
- Featured (search projects which are featured)
- My projects (to search for own projects that are public, private and forked, etc.)
- Most starred (order accord

[2021-12-20 15:37] Prerna-0202 commented on #1402
I would like to work on this issue..

[2021-12-20 18:01] abstrekt commented on #1964
We haven't yet brainstormed on this particular feature. Will need to do some research on this for how the experience should be for end users.

at-least we know that exposing the css variables directly to the UI won't make much sense & will complicate stuff for the users.
There needs to be a layer of abstraction here which should solve for:
* ease of use
* reduce number of input from users
* better

[2021-12-20 18:19] tachyons commented on #1964
I don't think we need custom themes for CV, having custom themes doesn't add much value. WDYT @nitin10s ?

[2021-12-22 04:57] nitin10s commented on #2710
No, actually this is a problem Vedant and should be fixed, good find. Please note that the input height in the "after" image is less compared to the other fields.

[2021-12-22 05:17] nitin10s commented on #1964
I agree with abstrekt with the introduction of a level of abstraction for ease of use. @tachyons this is a "good to have" feature.

[2021-12-22 06:22] Creatoon commented on #2710
I think the height is same, the only issue is with border-radius, am I right ?

[2021-12-22 07:52] #2668 closed

[2021-12-22 07:53] #489 closed

[2021-12-22 12:16] #1402 closed

[2021-12-22 14:40] #2687 closed

[2021-12-22 16:34] vedant-jain03 commented on #2092
@gr455
Can I work on this?

[2021-12-22 17:12] gr455 commented on #2092
Yeah go ahead. Make sure to make the changes on the API side as well

[2021-12-23 16:46] fritzw commented on #48
I‘m not completely sure, but I guess there is a fourth type that you did not mention: Elements that _only_ show up in the layout view, but not in the circuit. For example, lines, boxes, or custom text. Those have no place in the circuit view really, and requiring a user to add a line to the circuit view only to then position the line in the layout view would be very confusing.

PS: @satu0king I th

[2021-12-23 16:47] #2501 closed

[2021-12-23 17:01] fritzw commented on #48
Also, another another thing that seems related, so I‘m not sure whether to put it here or in a separate issue:

I‘d like an option to add symbols to any input or output pin. For example an „inverter circle“ (e.g. think output of a NAND gate) or the „clock triangle“ (e.g. the clock input of the flip flop symbols). The implementation should of course be generic enough to allow for future extensions

[2021-12-24 11:02] Creatoon commented on #2710
@vedant-jain03 Can I make the pr for the same?

[2021-12-25 06:36] gr455 opened #2739 "No profile dropdown on Group page"
**Describe the bug**
Clicking on profile name on Group page does not trigger the dropdown

**To Reproduce**
Steps to reproduce the behavior:
1. Create a group
2. On the group page, click on your profile name on top right

**Expected behavior**
Must have a dropdown
![Screenshot from 2021-12-25 12-04-49](https://user-images.githubusercontent.com/53974118/147379033-87342a3b-070f-47a1-9ae4-6320462a040

[2021-12-25 12:37] h2o-Noob commented on #2739
can i work on this one ?@gr455

[2021-12-25 13:17] tachyons commented on #1892
This issue is open for contributions, Basically you need to provide additional configurations in assignment creation/edit page. And those should reflect in simulator as well.

[2021-12-25 14:15] gr455 commented on #2739
Yeah sure!

[2021-12-25 17:53] pulkit-30 commented on #49
Hey @satu0king @gr455 @nitin10s, I tried to add this feature, Please have a look at #2741 and provide me with appropriate feedback so that I can continue working on this.

[2021-12-26 03:48] vedant-jain03 commented on #1892
@tachyons @satu0king I want to work on this issue.
I have understood from the perspective of the assignment page.
Can you please provide features that can be configured on the assignment creation page?

[2021-12-26 14:06] tachyons commented on #1892
You start with the 4 options listed in the issue

[2021-12-26 14:12] #2717 closed

[2021-12-27 07:27] pranay101 commented on #2739
Hi, I am new to open source and I would like to work on this issue. Please guide me further on what needs to be done.

[2021-12-27 07:29] h2o-Noob commented on #2739
Sorry, I'm already working on this issue and almost ready to make pr.

[2021-12-27 07:39] pranay101 commented on #2739
okayy, good luck

[2021-12-28 06:13] denver-39 commented on #2720
@KoushikAD1234  I've fixed this issue should I make PR
![Screenshot 2021-12-28 114145](https://user-images.githubusercontent.com/88855792/147534150-0940c991-ab9d-444f-a0fc-9196111e76f7.png)

[2021-12-28 06:19] denver-39 commented on #2712
@rucha0702  I've fixed this issue should I make PR
![Screenshot 2021-12-28 114145](https://user-images.githubusercontent.com/88855792/147534687-081108bb-4bd1-4baf-a491-637f23b8bf51.png)
?

[2021-12-28 13:08] pulkit-30 commented on #445
Hey !,
I tried to reproduce this issue with the Text box in CV,
I write Hello and tried to copy and paste using hotkeys

[code]
it adds c and v at the end of Hello and it doesn't copy and paste the text box.

https://user-images.githubusercontent.com/76155456/147568572-20385f17-e262-4eee-8714-4a3fc49ae3f9.mov

Expected behavior:
It should Copy the Text box and create a new one with the same text.

[2021-12-28 13:30] tachyons commented on #445
👍

[2021-12-28 17:00] pulkit-30 opened #2746 "Signout link in Simulator Header is sending GET call instead of POST"
**Describe the bug**
Signing Out from the simulator throws an error!

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://circuitverse.org/
2. sign in to your Account
3. Go to https://circuitverse.org/simulator
4. click on your name (right top in navbar)
5. try to signOut from there
6. throws an error
(you were redirected to https://circuitverse.org/users/sign_out with the message,

[2021-12-28 17:55] vedant-jain03 commented on #1892
Sure sir.

[2021-12-30 06:18] Kunal0220 commented on #2202
Is the issue still open , I would be happy to try it !

[2021-12-30 06:45] Kunal0220 opened #2749 "Decimal to BCD and vice versa"
**Is your feature request related to a problem? Please describe.**
This feature will be a tool to convert Decimal to BCD and Vice-Versa.

**Describe the solution you'd like**
I want the user to enter a Decimal/BCD code , according to their choice and in return the get the appropriate result.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions o

[2021-12-30 15:07] Prerna-0202 commented on #2749
This issue has been solved in pr #2719.
You can try on other open issues...

[2021-12-31 04:05] Kunal0220 commented on #2749
Ok cool , I think i'll find some other issue then.
Thank You.

[2021-12-31 04:05] #2749 closed

[2021-12-31 04:35] Kunal0220 commented on #2715
@camperjett , You still up on this issue , if so , can I help you with something?

[2021-12-31 04:43] camperjett commented on #2715
Sure. Let me know.

[2021-12-31 04:45] Kunal0220 commented on #2710
hey @Creatoon , I can resolve this issue , Can I start working ?

[2021-12-31 04:58] Kunal0220 commented on #2715
What can I help you with ? Just specify and I'll get it done!

[2021-12-31 08:20] Creatoon commented on #2710
@Kunal0220 hey, I just resolved this and within few hours gonna create a pr, if today I will not make any pr you can surely go for it 😊

[2021-12-31 16:21] Kunal0220 commented on #2710
@Creatoon Ok Cool , I will check it tomorrow once more , btw Happy New Year in Advance 🙌🏻

[2022-01-01 06:07] PrateekUp commented on #2005
Is this issue open?....I would like to work on it.

[2022-01-02 07:43] arnavk1872 commented on #2722
Hello. I'm new to open source development. I have some knowledge of full-stack development. I'd like to get started with this can you assign this issue to me?

[2022-01-02 12:38] Snehagupta1907 commented on #2739
is this issue still open?... if yes then can I work on it?

[2022-01-02 13:08] vedant-jain03 commented on #1892
@tachyons @satu0king
Here is my sample solution idea for this:

- We can create a new array column `feature_restrictions` in the assignment table like restriction.
- In form views, we can create a checkbox `Enable features restrictions:` under which there will be a list of restrictions as follows:
   - Combinational Analysis Tool.
   - Verilog tools.
   - Copy / Paste.
   - Allow Collaborators.
-

[2022-01-02 15:22] Snehagupta1907 commented on #2662
is anyone working on this issue? if not can I work on it

[2022-01-02 15:25] Snehagupta1907 commented on #2627
is anyone working on this bug?

[2022-01-02 17:49] vedant-jain03 commented on #2739
PR for this issue is under review. You can checkout other issue.

[2022-01-03 02:15] dipanshparmar commented on #2627
Yeah @Snehagupta1907 I'm on it. I'm just waiting for the inputs from @tachyons

[2022-01-03 04:52] tachyons commented on #2627
cc @nitin10s

[2022-01-03 04:57] tachyons commented on #1892
Use jsonb column instead of array

[2022-01-03 08:44] Snehagupta1907 opened #2752 "Bug in the dashboard section"
**Describe the bug**
-hovering style of choose file button is not working
**Expected behavior**
before

https://user-images.githubusercontent.com/96808735/147912221-7753136b-b762-47b2-8939-eda08930b9ee.mp4

after

https://user-images.githubusercontent.com/96808735/147912245-3e134f85-73bf-4a01-a801-6ce837b70654.mp4

**Device Information [optional]:**
 - OS: windows
  - Browser -chrome
**Are you wor

[2022-01-03 08:51] vedant-jain03 commented on #1892
Sure sir.

[2022-01-03 13:33] pulkit-30 commented on #2203
Hey @tachyons @ZadeAbhishek,
This issue still exists

<img width="1045" alt="Screenshot 2022-01-03 at 6 55 33 PM" src="https://user-images.githubusercontent.com/76155456/147935702-d653217e-c76f-41f1-be97-cd2acdd215e8.png">

Is anyone working on this?
If not, may you please assign me this Issue?

[2022-01-03 15:45] ZadeAbhishek commented on #2203
@pulkit-30  have you tried this branch #2205

[2022-01-03 16:18] pulkit-30 commented on #2203
Yes, @ZadeAbhishek, I tried this and the changes are looking good.
but the changes need to be optimized, too many changes for a small bug.
and it would be great if we can implement the requested feature by reviewers @pranay-simejia.

[2022-01-04 07:07] deek121477 opened #2756 "Adding new components for fluid circuits"
**Is your feature request related to a problem? Please describe.**
 To add new components to the simulator. This component can be useful for fluid and hydraulic systems diagrams.

**Describe the solution you'd like**
By adding new features in  simulator can also help for designing various control system designs.

**Are you working on this? (Yes/No)**
Yes

[2022-01-04 11:16] tachyons commented on #2756
Hi @deek121477, Circuitverse is a digital circuit simulation platform. Adding control system simulation is out of the scope of this project

[2022-01-04 11:16] #2756 closed

[2022-01-04 11:18] tachyons commented on #2746
Issue is that signout link is sending GET call instead of DELETE

[2022-01-05 20:49] Kartikay304 commented on #1938
@vedant-jain03 I want to work on this issue, if you are not working on it?

[2022-01-06 02:59] vedant-jain03 commented on #1938
Go ahead, I am working on #1892 currently.

[2022-01-06 05:36] gr455 opened #2760 "Cannot sign-out from simulator"
**Describe the bug**
Clicking sign-out from `/simulator` produces a 404 Not found.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/simulator`
2. Click on your profile on the top right
3. Click sign-out
4. See error

**Expected behavior**
Must sign out similar to how it happens on other pages

**Are you working on this issue? (Yes/No)**
No

[2022-01-06 09:05] ankanbag101 commented on #2760
Can I work on this issue?

[2022-01-06 10:00] ankanbag101 commented on #2746
Anyone working on this issue?

[2022-01-06 11:21] csking101 commented on #2760
Can I work on this as my first issue?

[2022-01-06 12:29] pulkit-30 commented on #2746
Yes 👍🏽

[2022-01-06 12:31] pulkit-30 commented on #2760
Hey @gr455, I think we just open the same issue 😅 #2746

[2022-01-06 13:30] gr455 commented on #2760
Whoops, I'll close this one. Moved to #2746

[2022-01-06 13:30] #2760 closed

[2022-01-08 05:21] shukapurv opened #2764 "feat: Filter functionality in dashboard section for circuits"
**Is your feature request related to a problem? Please describe.**
If there are lots of projects its hard to find only private or public projects so- a filter button in each section(My circuits, Favorite Circuits, Collaborated Circuits) for projects to filter for specific access types.

**Describe the solution you'd like**

- creating an option to select for access type in each section
- Filtering

[2022-01-08 06:06] #445 closed

[2022-01-08 06:18] #2580 closed

[2022-01-08 06:18] #2656 closed

[2022-01-08 10:24] Palaksharma23 opened #2766 "Share link directly via social media functionality in group invite link"
![image](https://user-images.githubusercontent.com/87171452/148640711-675a6e45-3d09-4bd5-8c9b-86eb8b1e15cd.png)
I think we should add a button to share link via other social media icons just like we do on other platforms like youtube

**Are you working on this? (Yes/No)**
Yes , i am working on this issue and will raise a pr soon

[2022-01-08 13:42] vedant-jain03 commented on #2766
@Palaksharma23 I think that mentor doesn't want to post the invitation link on social media because:
- token has an expiry date of 12 days
- I think that it is an inappropriate way to share the link on social media as students are going to access it.
Although it is my point of view, WDYT @tachyons @ayan-biswas0412 @gr455 ?

[2022-01-08 14:29] Kunal0220 commented on #2752
Hey @Snehagupta1907  , I think I can resolve this issue , Do you need some help ?

[2022-01-08 15:06] Sarthakaga15 commented on #2218
@tachyons Hi, I am new to open source ? Is this issue still open ,I would like to work on it if possible. Thanks.

[2022-01-08 16:45] Snehagupta1907 commented on #2752
I have already made a PR for this issue

[2022-01-09 12:51] ayan-biswas0412 commented on #2766
I also think that direct sharing on social media has a lot's of negative effects on the group itself, like spamming and unnecessary joining of lot's of members and also group link has a finite expiry time so sharing will not be a good choice

[2022-01-09 14:11] #2752 closed

[2022-01-09 15:46] #2766 closed

[2022-01-10 15:36] TildaDares commented on #2341
Hi @Palaksharma23, are you still working on this issue?

[2022-01-10 16:35] vedant-jain03 opened #2770 "Make the checkbox checked for already included elements restrictions in assignment while editing."
**Is your feature request related to a problem? Please describe.**
Currently, if some elements restrictions are included and mentor have to edit the assignment, the checkbox for already included is not checked which may lead to confusing for mentors to reselect.

**Describe the solution you'd like**
Make the checkbox checked for already included elements restrictions in the assignment while editin

[2022-01-11 06:24] Kartikay304 commented on #65
@tachyons , I would  like to work on this issue. May I😃?

[2022-01-11 09:38] Palaksharma23 commented on #2341
@TildaDares you can go ahead 👍

[2022-01-11 10:12] TildaDares commented on #2341
Hi @Palaksharma23, do you know what file I need to add this change to?

[2022-01-11 13:56] rachit3006 commented on #2770
I would like to work on this issue. I request to provide a bit more detail on it please.

[2022-01-11 19:00] Traitor000 opened #2776 "Simulator tutorial message box displayed improperly"
**Describe the bug**
On opening the simulator of circuit verse for the first time(or on incognito mode) , the last tutorial message box is not displayed properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new incognito window / Private Window.
2. Go to https://circuitverse.org/simulator .
3. Click on Next until the last tutorial message box .
4. See error (Message box hangs at t

[2022-01-12 02:25] vedant-jain03 commented on #2776
Hey @Traitor000 This is already begin raised #2348 and PR is also being raised and waiting for merge #2360

[2022-01-12 04:18] #2776 closed

[2022-01-12 04:20] Traitor000 commented on #2776
Sure ! So I am closing this issue @vedant-jain03 . Let me know if you have some issues in mind that I can work on or any other way I can contribute.

[2022-01-12 11:08] #2348 closed

[2022-01-12 17:09] khareyash05 commented on #2599
@vedant-jain03 @tachyons have a look at this issue

[2022-01-12 17:17] khareyash05 opened #2780 "make navbar transparent on scrolling down"
**Is your feature request related to a problem? Please describe.**
I would like to make the navbar transparent when scrolling down is performed

**Are you working on this? (Yes/No)*Yes*

[2022-01-12 17:29] vedant-jain03 commented on #2599
cc @nitin10s

[2022-01-13 02:07] vedant-jain03 commented on #2780
Hello @khareyash05 may I know the reason for the issue?

[2022-01-13 04:30] khareyash05 commented on #2780
I thought maybe making the navbar transparent would enhance the looks of the website

[2022-01-13 05:01] Palaksharma23 opened #2781 "Random password suggestions"
We should add a feature to suggest random and strong password to the user like other sites do

Whenever a user click on password while signing up on the circuitverse, we can show up an option saying "Use Suggested password"

and then if a user click on that option we can generate a strong password

![image](https://user-images.githubusercontent.com/87171452/149268421-9cdf35b8-5211-477d-b9cc-ad45c1

[2022-01-13 05:36] Kartikay304 commented on #708
I would like to work on this issue.

[2022-01-13 07:45] tachyons commented on #2781
Circuitverse signup page works well with existing password managers, they provide password generation and password autofill functionalities. Doing that ourselves is not secure and an overkill

[2022-01-13 07:45] #2781 closed

[2022-01-13 12:14] Kartikay304 commented on #2780
If we make the navbar transparent, then nav-items/links will overlap with site content on scrolling, and we do not want to do that.

[2022-01-13 13:10] ayan-biswas0412 commented on #2571
Hi @tachyons when can we get the newer version of the CircuitVerse docs in deployment ,
because LMS integration depends on it.

[2022-01-13 15:19] Kartikay304 commented on #708
@tachyons , Should we verify the new mail_id (updated) by a token(otp) method or via regex, before updating  the database.

[2022-01-13 21:06] Swayamshu commented on #2770
Hi! I would like to work on this issue. Can I contribute as well?

[2022-01-14 02:54] vedant-jain03 commented on #2770
@Swayamshu thanks for your initiative but I have started working on the issue and will raise a PR soon. Kindly check other unassigned issues.

[2022-01-14 10:33] vedant-jain03 commented on #849
@tachyons Can we discuss this idea in the issues team?

[2022-01-14 10:57] ayan-biswas0412 commented on #849
sure

[2022-01-14 11:52] ZaidKhan2002 commented on #2
Hey @satu0king could you please update this list or it's already been updated ?

[2022-01-14 16:38] Kartikay304 commented on #357
I would like to work on this issue.

[2022-01-14 17:37] Swayamshu commented on #2770
Ok, no issues. Thank you

[2022-01-15 03:50] shubhwal56 commented on #108
@tachyons Can I work on this issue?

[2022-01-15 05:43] gr455 commented on #2341
Hi Palak and Tilda, You might want to check [this line](https://github.com/CircuitVerse/CircuitVerse/blob/master/simulator/src/data/load.js#L45). This file is used to load the circuit from the saved data.
When `data.propagationDelay` is 0, this line will yeild `obj.propagationDelay` instead of `data.propagationDelay`.  You will have to add a case to allow `data.propagationDelay = 0`.

[2022-01-15 07:43] Kartikay304 opened #2787 "Profile picture should get removed instead of the button being selected."
**Describe the bug**
Profile picture should get removed instead of the button being selected.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Dashboard'
2. Click on 'Edit details'
3. Click on 'Remove Picture'
4. See error

**Expected behavior**
Current behavior when the user wants to remove his profile pic :
1. Clicks on the remove profile pic button.
2. The button is selected. (but t

[2022-01-15 10:45] Palaksharma23 commented on #446
@tachyons I would like to work on this issue : )

[2022-01-15 10:47] Palaksharma23 commented on #2787
I would love to take up this issue

[2022-01-15 12:12] Kartikay304 commented on #2787
Thanks for your initiative but, this issue is only open for beginners and new contributors. You can check other unassigned issues.

[2022-01-15 12:47] Kartikay304 commented on #1421
Working in this issue

[2022-01-15 13:11] #2007 closed

[2022-01-15 13:14] vedant-jain03 commented on #1952
fixed in #2360

[2022-01-15 13:14] #1952 closed

[2022-01-15 14:10] Palaksharma23 commented on #443
I would love to work on this issue : )

[2022-01-15 14:13] Palaksharma23 commented on #443
This issue is already solved. I guess @tachyons we can close this one : )

[2022-01-15 14:37] Palaksharma23 commented on #103
I would love to take up this issue

[2022-01-15 14:53] mudassir1231 commented on #2787
can i work on this issue

[2022-01-15 15:01] Kartikay304 commented on #2787
Sure, go ahead

[2022-01-15 17:28] dikshashukla455 commented on #2787
Greetings, can I work this issue if there's no problem

[2022-01-15 17:51] arnavchhokrajuit commented on #2787
Greetings,  I would love to take this issue, if it's no problem.

[2022-01-15 18:30] Prerna-0202 commented on #1856
duplicate of  #376

[2022-01-15 18:30] #1856 closed

[2022-01-15 18:40] Prerna-0202 commented on #2145
solved in pr #2589

[2022-01-15 18:40] #2145 closed

[2022-01-15 18:48] Prerna-0202 commented on #2251
Solved in  pr #2360

[2022-01-15 18:48] #2251 closed

[2022-01-15 18:59] #443 closed

[2022-01-16 03:59] ashwani3011 commented on #2787
I would love to work on this, should I proceed ahead?

[2022-01-16 06:22] Kartikay304 commented on #2787
@dikshashukla455 @ashwani3011 @arnavchhokrajuit , this issue is already assigned, You can check other unassigned issues

[2022-01-16 07:44] vedant-jain03 commented on #779
@tachyons Can I work on this?

[2022-01-16 07:50] vedant-jain03 commented on #1051
I am working on this issue.

[2022-01-16 07:56] raghavluthra20 commented on #2746
Does this issue still need work? I'd be happy to contribute

[2022-01-16 08:46] rachit3006 commented on #2764
Can I also help with working over this issue?

[2022-01-16 08:55] rachit3006 commented on #2394
I would like to work on this issue. Is it still open?

[2022-01-16 08:59] ayan-biswas0412 commented on #1051
yah I think this check should be there.

[2022-01-16 09:50] rachit3006 commented on #2245
I would like to work on this feature if it is still open.

[2022-01-16 10:17] pulkit-30 commented on #112
Hey @tachyons, I want to work on this ...
Please assign me this issue!

[2022-01-16 10:54] ZaidKhan2002 opened #2789 "Copyright is not changed to 2022"
**Describe the bug**
It's not bug, It's just on learn page at footer copyright year is 2021.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to <a href="https://learn.circuitverse.org/">Learn</a>
2. At bottom in footer Copyright year is not changed
3. See error

**Expected behavior**
 It should be 2022 I suppose.

**Screenshots**
<img width="690" alt="Screenshot 2022-01-16 at 4 02 54 PM"

[2022-01-16 10:55] ZaidKhan2002 commented on #2789
It should be 2021 only or it should be 2022. Like on official mainpage and other pages it's 2022.

[2022-01-16 18:20] St80ene commented on #2789
Hi, @ZaidKhan2002 I would love to work on this issue. Thanks

[2022-01-16 18:22] St80ene commented on #2789
I would love to be assigned to handle this issue @ZaidKhan2002

[2022-01-16 18:45] pulkit-30 commented on #2789
Related to [Interactive-Book](https://github.com/CircuitVerse/Interactive-Book)

[2022-01-16 22:46] shukapurv opened #2790 "Unsuitable width of form fields with error"
**Describe the bug**
Unsuitable width of fields with error in sign-up page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Sign up page'
2. Sign up with all fields blank.

**Expected behavior**
Width of the fields should be fixed.

**Screenshots**
![Screenshot from 2022-01-17 04-10-44](https://user-images.githubusercontent.com/73848723/149681134-0d21ed59-6ac0-4136-80c0-6d2f04ba95fe.p

[2022-01-17 00:29] shukapurv opened #2792 "Multiple options for India in countries."
**Describe the bug**
In case geocoder returns India there are multiple occurrences of India in select options for countries.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Edit profile page'
2. Click on the country select element

**Expected behavior**
There should be only one option for India.

**Screenshots**
![Screenshot from 2022-01-17 05-50-15](https://user-images.githubusercont

[2022-01-17 02:14] shukapurv opened #2795 "Navbar toggler not working on groups page"
**Describe the bug**
Navbar toggler not expanding on the groups page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any of your groups view page.
2. Click on any navbar toggler.

**Expected behavior**
Togglers should expand on click.

**Screenshots**
https://user-images.githubusercontent.com/73848723/149690122-85d52159-ec16-4d42-b990-bbbf75452463.mp4

**Device Information [optional]:

[2022-01-17 03:39] vedant-jain03 commented on #2795
Duplicate #2739

[2022-01-17 03:39] #2795 closed

[2022-01-17 04:55] ZaidKhan2002 commented on #2789
Should I close this issue here ?

[2022-01-17 05:20] pulkit-30 commented on #2789
Yes,
Please open same at Interactive-Book

[2022-01-17 05:35] Prerna-0202 commented on #2790
Duplicate of #2603

[2022-01-17 06:38] ZaidKhan2002 commented on #2789
Sure.

[2022-01-17 06:38] #2789 closed

[2022-01-17 10:09] Harshil-Jani commented on #2722
A wiki page elaborating the codebase will suffice. Ping me, If CircuitVerse needs the Documentation for the same. I can work for this.

[2022-01-17 11:02] Harshil-Jani opened #2796 "Selection in simulator window."
**Is your feature request related to a problem? Please describe.**

Suppose you are designing some circuit. Then you made one section of circuit incorrect. Now you want to delete that section. Currently you have to select individual elements and delete them. Instead, It would be more good for a user to select some elements together and delete them in bulk.

**Describe the solution you'd like**
By

[2022-01-17 12:35] shukapurv commented on #2790
@Prerna-0202 sorry for the Duplicate issue but I think #2603 is only related to the password field's positioning and this issue is related to width of all the fields.

[2022-01-17 13:26] shukapurv opened #2797 "Unexpected behaviour on typing 1 in educational institute"
**Describe the bug**
An Alert window pops up on typing 1 in the educational institute section of edit profile page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to edit profile page
2. clear educational institute and type 1

**Expected behavior**
No alert should appear.

**Screenshots**

https://user-images.githubusercontent.com/73848723/149776716-9cae79d5-6ff8-4fde-a90d-c4e2e2db3791.m

[2022-01-17 13:47] gourcool commented on #2797
Can I work on this Bug

[2022-01-17 14:24] shukapurv commented on #2797
Hey @gourcool! I am currently working👨‍💻 on this issue. You can check other issues.

[2022-01-17 14:54] Kartikay304 commented on #2394
@rachit3006 ,I am not able to replicate this issue. @vedant-jain03 can you try replication this issue.

[2022-01-17 15:07] rachit3006 commented on #2394
While editing a project's or assignment's description if shift+enter is pressed the <br> tag is visible in the view HTML option and it also shows in the textarea, but somehow it is not being stored in the database in the field assignment.description. So on updating the assignment or project description or creating a new one that contains<br> tag, it does not get reflected when viewed later on. Whe

[2022-01-17 15:14] Kartikay304 commented on #2394
Sure, go ahead.

[2022-01-17 15:25] vedant-jain03 opened #2798 "feat: integrating tagsinput in Project Tag List"
**Is your feature request related to a problem? Please describe.**
We have integration of tags input in some of textarea, integrating with project tag list will enhance UI.

**Describe the solution you'd like**
Integrate tags input using Stimulus

**Are you working on this? (Yes/No)**
Yes

[2022-01-17 17:48] rachit3006 commented on #2394
I checked the contents of the database using pry. the &lt;br&gt; tag is getting stored in the database in assignment.description but it is not being shown on the assignment details page. Even on going to the edit page and seeing the HTML code for the description textarea, the &lt;br&gt; tag is not present there although it is still present in assignment.description. Some help would be greatly appr

[2022-01-17 17:57] rohit-raje-786 commented on #2627
@Prerna-0202 I have resolved the bug 🐞could just review it .

[2022-01-18 12:46] tachyons commented on #2683
select2 looks good, feel free to proceed

[2022-01-19 04:28] #1766 closed

[2022-01-19 09:10] rohit-raje-786 commented on #2652
@nitin10s  @tachyons  @ayan-biswas0412 @vedant-jain03 I have resolved the bug🐞 could you please review it.

[2022-01-20 07:53] #49 closed

[2022-01-20 14:29] vedant-jain03 commented on #39
@tachyons I want to work on this issue. If some ref. is there it would be really great then.

[2022-01-20 14:38] vedant-jain03 commented on #450
I am working on this issue.

[2022-01-20 15:39] Kartikay304 commented on #2245
@rachit3006  Sure,go ahead

[2022-01-21 05:20] pariksh1th commented on #2746
I like to work on this, it may become my first contribution.
Even I am facing this issue.
-  OS: MacOs
- Browser: Safari

[2022-01-21 08:32] vedant-jain03 commented on #2746
@pariksh1th thankyou for your interest but the PR for this issue is under review.

[2022-01-22 05:20] tachyons commented on #2722
Yes, you can work on this

[2022-01-23 06:38] ayan-biswas0412 commented on #2662
@Sarfraz-droid are you still working in this issue ?

[2022-01-23 14:29] metakunal commented on #2699
Is this issue still open, can I work on it.

[2022-01-24 17:24] tachyons commented on #112
@gr455

[2022-01-24 17:25] tachyons commented on #779
Yes

[2022-01-24 18:24] gr455 commented on #112
Since the inputs in the actual circuits can be of different bitwidths (completely independent of each other), I don't see much use in having a single bitwidth option that changes all the inputs. What I feel is a more useful option is to declare some inputs and outputs as DYNAMIC bitwidth, so that in the subcircuit, they accept any bitwidth.

The UX for this will be tricky as we need to convey to t

[2022-01-25 07:51] Sarfraz-droid commented on #2662
Yes I am not working as for now.. I already did my changes and issued a pr for the same @Snehagupta1907 and @UkaniVedant can go ahead.

[2022-01-25 09:49] Prerna-0202 commented on #779
Hey @vedant-jain03, Sorry to bother you but you know that as I was commented on the pr related to this issue, and after that, I was ill and busy with my college stuff. So, Please give me some more days to solve this if I am unable then you can start working on this...

[2022-01-25 09:56] KhanFiza896 commented on #2394
Is it still open?

[2022-01-25 09:58] vedant-jain03 commented on #779
Absolutely fine. Let me know if you needed any help. Good luck 👍

[2022-01-25 10:25] devartstar opened #2829 "Themes for Verilog Code Editor"
**Is your feature request related to a problem? Please describe.**
Customizing the Verilog Code Editor with different themes.
On changing themes of the simulator,
the theme for the Verilog code editor doesn't change.

**Describe the solution you'd like**
Currently, it just supports the default theme.
Since CodeMirror is used for the text editor, it supports 60+ themes for the editor to be integrat

[2022-01-25 10:28] #2792 closed

[2022-01-25 11:02] KhanFiza896 commented on #2790
Is this issue still open?

[2022-01-25 11:06] KhanFiza896 commented on #2720
can i work on this issue?

[2022-01-25 12:52] pulkit-30 commented on #112
we need to brainstorm the DYNAMIC bit-width implementation idea and as mentioned about the UX.

[2022-01-25 17:48] vedant-jain03 commented on #2720
@KoushikAD1234 Kindly approve the issue in the slack UX channel first before opening the issue as it may lead to unnecessary issue numbers.

[2022-01-26 07:18] sulogna2001 commented on #2829
can I work on this feature

[2022-01-26 08:56] SethiVanshika commented on #2746
Is this closed !

[2022-01-26 09:06] SethiVanshika commented on #2194
Is this issue open ?

[2022-01-26 09:10] SethiVanshika commented on #1966
@ShreyaPrasad1209  could you assign this issue to me?

[2022-01-26 09:16] vedant-jain03 commented on #1966
PR for the issue is under review.

[2022-01-26 09:23] SethiVanshika commented on #1966
Okay

[2022-01-26 10:04] devartstar commented on #2829
@sulogna2001 I have been working on this. Will make a PR soon.

[2022-01-26 13:56] Kartikay304 commented on #2194
We already have a PR on this issue.

[2022-01-27 11:48] SethiVanshika commented on #2796
Can I work on this issue.

[2022-01-27 12:03] SethiVanshika commented on #2709
Is this feature open? @Creatoon may I work on this issue ?

[2022-01-27 12:29] Creatoon commented on #2709
@vedant-jain03 Like, I really thought you were saying that we have a markdown and there is no need of creating such video.
But i guess you were suggesting the helper for that video.
I will create a pr soon.
Thanks

[2022-01-27 12:30] Creatoon commented on #2709
@SethiVanshika if you really wanna work, you can go with this feature, but make sure to remind me if you are unable to complete it, so that I can create the pr for the same.
Also if you want any help you can ask here 😀

[2022-01-27 13:51] kartikeyjangir opened #2848 "While editing the profile, Educational Institution is added as empty if we do not mention it or add whiteSpaces"
While editing the profile, Educational Institution is added as empty if we do not mention it or add whiteSpaces

**To Reproduce**
Steps to reproduce the behavior:
1. Create an account at CircuitVerse and try to edit your profile.
2. Don't enter anything in the Educational Institute input box or add whiteSpaces.
3.  Click on the save button, it will get accepted as valid input for the educational i

[2022-01-27 13:53] rachit3006 commented on #2848
Can I work on this issue?

[2022-01-27 14:02] kartikeyjangir commented on #2848
Currently I am working on thia issue. Please read the complete comment.

[2022-01-27 14:08] kartikeyjangir opened #2850 "Auto suggestion on Search for users and projects"
While searching for a project or users, we might not remember the entire name, so to provide suggestions to users regarding the existing projects and users with a drop-down at the search box.

Currently, I am working on this feature.
<img width="1440" alt="Screenshot 2022-01-27 at 7 37 25 PM" src="https://user-images.githubusercontent.com/72850375/151374800-f999cede-e006-4f03-84c3-b6b803714f48.png

[2022-01-27 23:28] romasinha commented on #2850
@kartikeyjangir can I work on this issue?

[2022-01-28 09:42] PaarthAgarwal opened #2854 "Adding dark mode"
While exploring the website I found the dark mode feature in learn tab so I'd like to add a dark mode like the one present in the interactive book to make the UI more consistent, user friendly and attractive.
Like this

![Screenshot 2022-01-28 151027](https://user-images.githubusercontent.com/86092410/151524086-41706c4e-ee7d-494a-af55-e7eb7b7fc4e1.png)

**Are you working on this? (Yes)**

I want t

[2022-01-28 09:56] vedant-jain03 commented on #2854
@PaarthAgarwal This is already being raised #2823

[2022-01-28 09:56] #2854 closed

[2022-01-28 14:07] mudassir1231 commented on #2850
Can I work on this

[2022-01-28 14:39] FIZA-khan7 commented on #2787
Hello, dear @Kartikay304 sir, can you plz assign me any good first issue. I didn't find any unassigned good first issue in circuitverse repositories.

[2022-01-28 14:57] mudassir1231 opened #2855 "While creating a new group if i enter a blank space it is accepting blank space as group name"
**Describe the bug**
While creating a new group if i enter a blank space it is accepting blank space as group name

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create group'
2. Enter blank space as group name
3. Click on save
4. See error

**Expected behavior**
it should show alert when blank space is entered

**Screenshots**

![Screenshot (139)](https://user-images.githubuserconte

[2022-01-28 15:24] mudassir1231 opened #2856 "new group is not updated in realtime"
**Describe the bug**
when we create a new group and save it and if i go back to the previous page i am not able to see my created Group unless I refresh the page

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a group and save
2. go back to the previous page twice
3. I don't see the group unless i refresh the page

**Expected behavior**
it should update the new group without reloadin

[2022-01-28 16:42] vedant-jain03 commented on #2856
@mudassir1231 I guess this is not a bug or issue we do not use dynamic continuous API call and on the side of a back button it is actually the stack property that is being used by the browser that means to render the previously visited page and in the case when there is not a group clicking to back button will render the previous page(that have no groups) and I think it is expected behavior.
It is

[2022-01-28 16:55] Kartikay304 commented on #2787
Hi @FIZA-khan7 ,there is already a PR for this issue. You can go through other issues.

[2022-01-28 17:13] FIZA-khan7 commented on #1401
Is this issue still open?

[2022-01-28 20:57] pulkit-30 opened #2857 "Circuit-Cards on Example page are not responsive"
**Describe the bug**
CircuitCards on [examples](https://circuitverse.org/examples) page are not responsive between 992/843 and 1199/843

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org/examples'
2. resize window between 992 - 1199
3. see error

**Expected behavior**
Card Design should be responsive

**Screenshots**
<img width="995" alt="Screenshot 2022-01-29 at

[2022-01-28 22:06] ayan-biswas0412 commented on #2856
it is not a bug according to me. Because browser just goes back to previous state and it is expected behaviour.

[2022-01-29 00:36] romasinha commented on #2857
Can I work on this issue?

[2022-01-29 02:50] vedant-jain03 commented on #2857
@romasinha Go Ahead

[2022-01-29 10:54] vedant-jain03 commented on #464
@tachyons I am working on this.

[2022-01-29 19:55] aashimawadhwa opened #2860 "Tooltip in the footer for social icons"
**Describe the bug**
In the footer when we hover on the social icons the tool-tip is not present there .

**To Reproduce**
Steps to reproduce the behavior:

1. Scroll down to footer
2. hover on the social icons'
3. See error

**Expected behavior**
To display tool-tips

**Screenshots**

![Screenshot from 2022-01-30 01-20-04](https://user-images.githubusercontent.com/73706697/151675625-5cb4f8c4-4f82

[2022-01-30 04:19] prakhar3062 commented on #2860
Please assign me this issue, i will resolve it.

[2022-01-30 04:35] prakhar3062 commented on #2855
assign it to me i will work on it

[2022-01-30 05:22] mudassir1231 commented on #2855
I am already working on it I am waiting for the approval

[2022-01-30 05:28] prakhar3062 commented on #2855
okay

[2022-01-30 07:14] ayan-biswas0412 commented on #2571
@tachyons now as the new docs are in production, that means we are ready to launch the LMS integration.
Please take the necessary steps regarding that.
Tasks
- [ ] Enable the feature from the Flipper admin panel

cc @tachyons

[2022-01-30 07:21] tachyons commented on #2571
Done

[2022-01-30 07:37] vedant-jain03 commented on #2860
@aashimawadhwa can you please ellaborate the use case. Why it is needed?

[2022-01-30 08:22] aashimawadhwa commented on #2860
Providing tooltips will enhance it and will provide a clear description of  the social icons.

[2022-01-30 14:28] pulkit-30 opened #2861 "Improve notification page"
**Describe the bug**

1. No Profile Image 
2. On clicking notification card, it throws up a 404 error
 saying `OOPS, THE PAGE YOU ARE LOOKING FOR CAN'T BE FOUND!`,
( ig because of GET request instead of POST).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org > notifications'
2. Click on 'any notification card'
3. See an error

**Expected behavior**
1. Display profile I

[2022-01-30 14:42] rachit3006 commented on #2861
Are you working on this? If not can I work on it, please?

[2022-01-30 14:52] Arch0125 commented on #2857
@vedant-jain03 I was not able to replicate the bug. Maybe it happens on some specific devices/browsers ?
Here are some screenshots, the cards seem to be responsive
![Screenshot from 2022-01-30 20-17-13 ](https://user-images.githubusercontent.com/72722967/151704681-18af9311-64b2-4a25-a69a-d0c509d1784a.png)
![Screenshot from 2022-01-30 20-16-54](https://user-images.githubusercontent.com/72722967/151

[2022-01-30 14:54] pulkit-30 commented on #2857
Resize your window to 1040 X 852
By opening dev tools on chrome

[2022-01-30 15:23] Arch0125 opened #2862 "Browser Notification button not enabling notifications"
**Describe the bug**
When Enable button is clicks the browser does not asks to enable browser notifications

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Circuitverse.org>Profile>Notifications'
2. Click on 'Enable button'
3. See error

**Expected behavior**
A Browser pop-up should appears asking for notification permissions

**Screenshots**

https://user-images.githubusercontent.com

[2022-01-30 15:26] mudassir1231 commented on #2862
Can i work on this issue

[2022-01-30 15:28] Kartikay304 commented on #2856
Yeah, I don't think it is a bug, it is an expected behaviour.

[2022-01-30 15:32] mudassir1231 commented on #2861
can i work on this issue

[2022-01-30 15:33] Arch0125 commented on #2862
@mudassir1231  Sure

[2022-01-30 16:47] mudassir1231 commented on #2856
I have good suggestion for this

![sol1](https://user-images.githubusercontent.com/88880988/151708665-b76ca110-9f5e-4fcd-83e6-54425984ac16.png)

Whenever the user clocks on the back, the user is redirected to the first page and reloads it.
In this way, we can increase the user experience

[2022-01-30 16:59] Prakhargarg-2010196 commented on #2857
Is this issue still open can I work on it ?

[2022-01-30 17:08] mudassir1231 opened #2864 "Dropdown menu is not working on this page"
**Describe the bug**
dropdown menu is not working on this page
https://circuitverse.org/groups/4023

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'groups'
2. Click on 'profile'
3. See error

**Screenshots**

https://user-images.githubusercontent.com/88880988/151709363-e1299a59-e145-4c6f-8829-2511651a159d.mp4

**Expected behaviour**

![bug1](https://user-images.githubusercontent.com/

[2022-01-30 17:16] mudassir1231 opened #2865 "Unable to sign in with Facebook"
**Describe the bug**
Unable to sign in with Facebook

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'sign-in page'
2. Click on 'sign-in with Facebook'
3. See error

**Screenshots**

![Screenshot (143)](https://user-images.githubusercontent.com/88880988/151709767-df1623da-9ae3-4be3-8107-27f18c1cd830.png)

![Screenshot (142)](https://user-images.githubusercontent.com/88880988/151709773-

[2022-01-30 17:51] tachyons commented on #2856
The behaviour is expected and not a bug, but we can consider adding ux improvements like back button or [breadcrumps](https://semantic-ui.com/collections/breadcrumb.html)  cc @nitin10s

[2022-01-31 03:46] anugoyal998 commented on #2857
can I work on the issue?

[2022-01-31 07:04] Arunesh-Tiwari commented on #2864
**I want to work on this issue, pls asign it to me**.

[2022-01-31 07:06] Arunesh-Tiwari commented on #2864
the link which you provided https://circuitverse.org/groups/4023 is unable to acces it shows:
"You are not authorized to do the requested operation"

[2022-01-31 07:06] mudassir1231 commented on #2864
I am working on it bro

[2022-01-31 07:08] mudassir1231 commented on #2864
@Arunesh-Tiwari   you can't access it
Log in to your account and create grups and the see error

[2022-01-31 09:10] Palaksharma23 opened #2866 "Option to change font size of label"
**Describe the solution you'd like**
A button to change the font size of label

![image](https://user-images.githubusercontent.com/87171452/151766682-f3ac6250-a820-41b4-9886-9f93afc798fe.png)

**Are you working on this? (Yes/No)**
Yes

[2022-01-31 10:31] Palaksharma23 commented on #2720
Duplicate of #2712

[2022-01-31 10:31] #2720 closed

[2022-01-31 14:27] Palaksharma23 commented on #2626
Can i take this up @Prerna-0202

[2022-01-31 15:55] devartstar opened #2868 "Verilog Editor Scrolbar not functioning properly"
**Describe the bug**
The Verilog Editor vertical scrollbar is not functioning properly.
No horizontal scrollbar.
On writing/copying long codes which has more lines than the view-port can offer, the navbar and tabsbar disappears.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Simulator
2. Click on `Circuit` drop-down in navbar.
3. Select `New Verilog Module`
4. Write a long code

**Ex

[2022-01-31 16:33] mudassir1231 commented on #2868
Can I work on this bug

[2022-01-31 22:30] PrerakMathur20 commented on #2857
If this issue is still open, I would like to take up. And will fix this in no time.

[2022-02-01 02:38] tachyons commented on #2626
This will make things complex as system fonts will vary with devices and embedding fonts with circuits are expensive.

cc @satu0king @nitin10s

[2022-02-01 02:38] #2626 closed

[2022-02-01 04:27] Ankur-Agrawal-ece20 opened #2870 "Checked option is not aligned properly in firefox"
**Describe the bug**
While working with CircuitVerse on firefox, I found the issue that the div showing the checked option is not aligned to right.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Simulator on firefox
2. Login and click on `Dashboard`.
3. Scroll down to the `Subscribe to mails?` checkbox.
4. See an error.

**Expected behavior**
The checkbox should align to right like i

[2022-02-01 05:30] #2571 closed

[2022-02-01 05:44] gr455 commented on #2626
I also don't see much value in custom fonts (maybe dyslexia friendly fonts for accessibility). It's unnecessary complexity.

[2022-02-01 05:46] gr455 commented on #2626
I'm so sorry for the late response this slipped under my notifications 😓

[2022-02-01 14:04] prakhar3062 commented on #2865
Assign it to me, i will resolve it through firebase.I have did it previously also.

[2022-02-01 14:23] mudassir1231 commented on #2864
@vedant-jain03  can you please assign this issue to me

[2022-02-01 14:38] mudassir1231 commented on #2865
I don't think they are using firebase at the back end 🤔
And I actually am working on this issue

[2022-02-01 16:48] mudassir1231 commented on #2787
#2824

[2022-02-01 17:49] gr455 commented on #2866
Thanks for this @Palaksharma23 but I don't think there is much utility in being able to adjust font size. Also the `Properties` dialog box is getting bigger and bigger (as you can see in your screenshot), so we may not want to add more things to it unless necessary.

[2022-02-02 09:12] theshivanshvasu commented on #2857
Can I work on this issue?

[2022-02-02 11:03] theshivanshvasu commented on #2857
@vedant-jain03 @pulkit-30 @anugoyal998  Please have a look on my PR!

[2022-02-02 11:16] pulkit-30 commented on #2857
Thanks, @theshivanshvasu , There are already two pr waiting for review

[2022-02-02 12:06] Palaksharma23 commented on #1992
i am working on this :)

[2022-02-02 14:18] mudassir1231 commented on #2865
I this this issue can only be solved by the admine so it is better to close this issue

[2022-02-02 14:18] #2865 closed

[2022-02-02 17:25] gr455 opened #2887 "Restore custom tooltips"
**Describe the bug**
Due to some error (presumably in jquery-ui) custom tooltips have stopped working and result in unhandled exceptions. They have been temporarily removed in [this](https://github.com/CircuitVerse/CircuitVerse/pull/2886/commits/ba929958c844e3c4d319ac7dcf2480fe56332945) commit. We need to fix the problem and restore the custom tooltips.

**Expected behavior**
Custom tooltips must

[2022-02-02 17:35] rachit3006 commented on #2861
@pulkit-30 can you assign this issue to me?

[2022-02-02 17:37] gr455 commented on #2887
Called tooltip on a specific selector instead of `$(document)`. Seems to get rid of the errors, but no custom styling is applied to the tooltips

[2022-02-02 17:47] rachit3006 commented on #2861
Should opening the notification in the screenshot given above open the project page?

[2022-02-02 20:08] Ash-KODES commented on #2870
Can I work on this?

[2022-02-02 21:39] ASGDMN commented on #2658
I would like to work on this issue.
We just have to add the logo and make it look good. I saw the code and all user_mailer are very minimalist so should I change all or just welcome email?

[2022-02-02 21:55] suyashdube commented on #2787
Can I work on this issue? i am a beginner

[2022-02-03 02:36] vedant-jain03 commented on #2887
Can we use stimulus for this, as now stimulus is powered in our whole application

[2022-02-03 06:34] vedant-jain03 commented on #2787
@suyashdube It is already been assigned checkout another issues.

[2022-02-03 09:55] Kartikay304 commented on #2658
Sure go ahead!, not just welcome mail change all of them.

[2022-02-03 12:41] Palaksharma23 commented on #2199
@ZadeAbhishek @tachyons can i work on this

[2022-02-03 17:15] Ankur-Agrawal-ece20 commented on #2870
I have tried to resolve the issue and created a PR for the same.

[2022-02-03 17:30] Ankur-Agrawal-ece20 opened #2890 "Space issue around image button"
**Describe the bug**
Very little space on the left and right sides of the `Render Circuit Image` button.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Simulator
2. Click on the download as image button
3. Observe the `Render Circuit Image` button
4. See an error

**Expected behavior**
The space should be more so that button looks neater.

**Screenshots**
Before:
![Screenshot from 202

[2022-02-03 19:11] ASGDMN commented on #2658
I think this one is fixed. This is what I got which is different from what you got.
![image](https://user-images.githubusercontent.com/97045861/152412404-e2d182eb-b3b5-41b6-aa8c-ab0dc05256dd.png)

[2022-02-04 09:49] soustab10 commented on #2890
Can I work on this issue?

[2022-02-04 10:12] Ankur-Agrawal-ece20 commented on #2890
I am working on it bro.

[2022-02-04 10:23] Ankur-Agrawal-ece20 commented on #2890
@Kartikay304 should I work on this issue?

[2022-02-04 11:01] soustab10 opened #2893 "NavBar should always display the complete First Name"
**Describe the bug**
The navbar should display the complete first name and should not replace the last few characters by ... . I think it adds to the experience of using the website when his full first Name is shown (e.g. **Soustab**) and not **Sousta...** .

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org/'
2. Login.
3. See error on the navbar(Error is only be

[2022-02-04 11:10] rachit3006 commented on #2893
But in that case, the navbar would shift left according to each name and there would be no uniformity and if the name is too long it would not look aesthetically nice.

[2022-02-04 11:33] pulkit-30 opened #2894 "Unexpected behaviour : deleting an Offline Project"
**Describe the bug**

Unexpected behaviour after deleting an offline project.
We cannot choose a project to open (Radio button disappear)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org/simulator'
2. Click on 'project>open Offline '
3. Delete a project
4. See an error

**Expected behavior**

It should remain the same ( radio button and the delete icon should n

[2022-02-04 11:34] soustab10 commented on #2893
Yes, it would. But a user on his page, is only aware of his/her name. So the uniformity across different users matters less than his/her name.(in my opinion).
Or better still if his name altogether is replaced with the profile picture which transforms to a menu upon clicking.
Here's a rough mockup what could be done:
![Screenshot 2022-02-04 170325](https://user-images.githubusercontent.com/9563258

[2022-02-04 11:36] Prerna-0202 opened #2895 "Unexpected behaviour : Cancel Save Online prompt"
**Describe the bug**
In Simulator, When we click on save online the 'Enter Project Name' dialog opens and then click on the cancel button and it redirects to the Edit project page which is not the expected behavior...

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Simulator
2. Click on 'Save Online'
3. Click 'Cancel button'
4. See Error

**Expected behavior**
When we click on the canc

[2022-02-04 12:20] arpandesai0 commented on #2893
The name should be replaced by a keyword like **profie**, so it's same for all.

[2022-02-04 12:48] Snehagupta1907 commented on #2895
can I take this issue?

[2022-02-04 13:07] rachit3006 commented on #2893
I think the profile picture feature would be better. Can I work on this issue if the maintainers are willing to keep it?

[2022-02-04 13:11] arpandesai0 opened #2896 "Unwanted border around social icons in footer."
**Describe the bug**
There is an added border around the social icons which makes the UI look broken.

**Expected behavior**
Either border must not be there or icons must be aligned in center. ( I prefer it should be without border)

**Screenshots**
![image](https://user-images.githubusercontent.com/71290351/152534466-21645adc-4d1f-4134-ba32-7b32474ac59c.png)

**Are you working on this issue? (Yes

[2022-02-04 13:56] Trupti0406 commented on #2864
@mudassir1231 I'd like to work on this issue. Can you please direct me to the file/folder where changes can be made!

[2022-02-04 14:04] pulkit-30 commented on #2864
solved #2739

[2022-02-04 14:20] Trupti0406 commented on #2896
@arpandesai0 I figured out the solution for this. Please assign this to me.

[2022-02-04 14:22] arpandesai0 commented on #2896
@Trupti0406 I am already on it and have made pull request for the same.

[2022-02-04 15:20] Prerna-0202 commented on #2895
yes

[2022-02-04 16:01] Ankur-Agrawal-ece20 commented on #2894
@pulkit-30 I would like to work upon this issue. Can you please assign it to me?

[2022-02-04 17:16] Trupti0406 opened #2899 "The copyright text should be at the center."
**Describe the bug**
In the footer, the copyright text is aligned at the left-most side instead of at the center.

**Expected behavior**
The copyright text i.e. ("Copyright © 2022 CircuitVerse, All rights reserved.") should be at the center of the footer instead of the left side.

**Screenshots**
Current behaviour:
![current](https://user-images.githubusercontent.com/92917582/152572012-7c339b7b-5b

[2022-02-04 20:09] Harshil-Jani opened #2901 "Fixing Social Icons on About US Page"
**Describe the bug**
The social icons on About us page as not looking as expected. Styling was supposed to be improved over there.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [About ](https://circuitverse.org/about) Section of CircuitVerse
2. Scroll down to [Social Links](https://circuitverse.org/about#:~:text=Email%20us%20at,Slack%20Channel)
4. See error

**Expected behavior**
A c

[2022-02-04 23:01] PrerakMathur20 commented on #2894
@pulkit-30
I think I have figured out the bug here, and can fix this issue up in no time. So I'd like to work on this issue.

[2022-02-05 02:25] Ankur-Agrawal-ece20 commented on #2894
Nice to see that you are eager to contribute but I think that's the incorrect way of doing so. I have asked @pulkit-30 first and he reacted to me with thumbs up so I have also sorted the issue. But you should have asked first if anyone is working upon the issue before creating a PR.
Thank you.

[2022-02-05 09:34] Prerna-0202 commented on #2894
Hey @PrerakMathur20, If someone has already commented on an issue, then it's not right to do it like this. Everyone has their own potential. It's great that you solved this issue in no time. But if someone wants to try. Let them try first...You can work on other open issues ...

[2022-02-05 11:51] #2864 closed

[2022-02-05 15:47] rinkydevi commented on #2202
i can contribute in this issue, how can i proceed?

[2022-02-05 15:47] arpandesai0 commented on #2896
#2898

[2022-02-05 15:49] arpandesai0 commented on #2896
#2898

[2022-02-05 15:49] #2896 closed

[2022-02-05 15:49] rinkydevi commented on #1966
i can contribute in this issue, how can i proceed?

[2022-02-05 17:28] pulkit-30 commented on #1966
Hey @rinkydevi,
I left a comment, let's wait for their suggestions
Thanks :D

[2022-02-05 18:22] rinkydevi commented on #1966
@pulkit-30 thanks for your response,
will surely wait for it!

[2022-02-05 19:39] vishwassrivastava commented on #2901
Is this issue open?

[2022-02-05 19:58] Subhraneel77 commented on #2202
Can I give it a Try ?

[2022-02-05 20:25] vishwassrivastava commented on #2899
Yes I am working on this issue

[2022-02-05 20:28] Trupti0406 commented on #2899
I've already fixed the issue and put up a pull request. It'd better to not
waste time and work on something else. Thank you and all the best.

On Sun, Feb 6, 2022, 01:55 Vishwas Srivastava ***@***.***>
wrote:

[2022-02-05 20:43] rachit3006 commented on #2861
@pulkit-30 there is an open notification button which on click does nothing currently. It seems to me that it was made so that the notification content would be visible once it is clicked but I think that the open notification option is not needed. Even without it the notifications are looking pretty minimalistic and are visible directly. So should I remove the open notification option? @tachyons

[2022-02-05 21:05] rachit3006 commented on #2893
@soustab10 what should be done? Can I work on this issue?

[2022-02-05 21:25] vishwassrivastava commented on #2899
@wallento @mohammedsafwat @revathskumar please look into my pr

[2022-02-06 02:52] vedant-jain03 commented on #2899
@Trupti0406 Do not raise a PR for an self made issue before reviewing.

[2022-02-06 10:05] vedant-jain03 commented on #2901
@Harshil-Jani I am not able to reproduce the bug.
Thank you for raising a PR but before raising a PR do review your issue by community members for betterment.

[2022-02-06 10:08] vedant-jain03 commented on #2899
@Trupti0406 Thank you for your contribution but do review your issue by community members before raising a PR for betterment.

From my perspective of this issue, it is not the expected behavior.

[2022-02-06 10:26] vedant-jain03 commented on #2893
@gr455 @nitin10s

[2022-02-06 18:48] Prerna-0202 commented on #2860
@gr455 @tachyons

[2022-02-07 01:56] prakhar3062 commented on #2860
Yeah it might be possible that some of the users can't get the idea of social media platform icon. So tooltip will also work nice. Just put the name of social media platform in span tag. And make it's opacity zero and change to one on hover

[2022-02-07 06:10] soustab10 commented on #2893
I think the maintainers should decide what to be done? Fix the exisiting issue or create a new dashboard.

[2022-02-07 06:30] ZaidKhan2002 opened #2905 "Documentation for groups is not working"
**Describe the bug**
Documentation regarding the groups is giving 404 error.

**To Reproduce**
Steps to reproduce the behavior:
1. Login to your account
2. View my groups on your profile dropdown
3. Click on make group
4. Click here for documentation
5. See error

**Expected behavior**
A documentation should be properly linked and if documentation is not there than it should be made.

**Screenshot

[2022-02-07 11:15] Prerna-0202 commented on #2905
@ZaidKhan2002, This is an issue of Circuitverse docs, So Please open this issue in the "CircuitVerseDocs" repo..

[2022-02-07 11:29] rachit3006 commented on #2861
@vedant-jain03 what views do you have regarding the above?

[2022-02-07 11:47] tachyons commented on #2861
Duplicate of https://github.com/CircuitVerse/CircuitVerse/issues/2321

[2022-02-07 11:47] #2861 closed

[2022-02-07 11:53] rachit3006 commented on #2321
If someone is currently not working on this issue can I work on it, please? There is an open notification button which on click does nothing currently as the contents of the notification are already visible by default. It seems to me that it was made so that the notification content would be visible once it is clicked but I think that the open notification option is not needed. Even without it the

[2022-02-07 12:57] rachit3006 commented on #2321
@nitin10s it would be great to hear about your views regarding the above?

[2022-02-07 14:28] Kartikay304 commented on #2905
I tried, but I am not able to replicate this issue. Instead, the drop-down menu didn't appear when clicking on getting started in the group view page. @vedant-jain03  @pulkit-30 are you able to replicate this issue ?

https://user-images.githubusercontent.com/40604582/152806825-8ce4364b-de68-4367-9361-7fdd5ca45eb2.mp4

[2022-02-07 14:54] pulkit-30 commented on #2905
No, the mentioned issue didn't exist and the issue with the drop-down menu has been fixed #2739.

[2022-02-07 19:22] bhutani2002 commented on #2860
Hey @aashimawadhwa please assign this issue to me. As I saw that no one is assigned this issue yet and there's no pull request too, for this. I have started on the tooltip formation and will get back to you as soon as possible, when it's ready.
Thank You.

[2022-02-07 19:27] aashimawadhwa commented on #2860
I am already working on it and its already mentioned on the issue itself.

[2022-02-08 03:43] prakhar3062 commented on #2893
@vedant-jain03 i may work on this issue

[2022-02-08 03:47] vedant-jain03 commented on #2893
@prakhar3062 Actually this issue is not approved by maintainers, so I suggest not to go with it as it may be closed and will ruin your work.
I will suggest you to work on other issues.

[2022-02-08 03:48] vedant-jain03 commented on #2905
@pulkit-30 @Kartikay304 Can we close this issue?

[2022-02-08 03:56] prakhar3062 commented on #2893
okay thanks for informing me

[2022-02-08 04:43] Kartikay304 commented on #2905
Sure

[2022-02-08 04:43] #2905 closed

[2022-02-08 05:55] bhutani2002 opened #2906 "Produce a Card-box-shadow effect"
Describe the problem
In the "How to Support?" section of the "Contribute" Webpage, all the three cards of Student, Teacher and Developer doesn't look distinguished from each other and is being visible as a single block.

To Reproduce
Steps to reproduce the behavior:

1. Go to [https://circuitverse.org/contribute]
2. Scroll down to the "How to Support Section"
3. See error

Expected behavior
To pro

[2022-02-08 06:02] bhutani2002 commented on #2906
Hi @gr455 @shubhankarsharma00, please try to review it once and provide me a feedback so that I can complete the task and generate a pull request.

[2022-02-08 06:20] soustab10 commented on #2893
Thanks for informing.. @vedant-jain03

[2022-02-08 07:08] bhutani2002 commented on #2906
![image](https://user-images.githubusercontent.com/84590758/152935816-087a512c-324d-44e6-a862-2ee329e1a3af.png)

V.S.

![image](https://user-images.githubusercontent.com/84590758/152935854-32fb210a-d26e-4338-a911-ee63ac80ef37.png)

[2022-02-09 02:45] Shilpashreemr commented on #2699
I have already opened a pull request

[2022-02-09 07:27] #2899 closed

[2022-02-09 08:12] adarrssh commented on #2906
hey @bhutani2002, Can you assign me this issue I would like to work on this?

[2022-02-09 09:54] akashroy1 commented on #2
Hello! Can I work on this issue or it is already assigned?

[2022-02-09 11:07] devartstar opened #2911 "Properties Panel disappears on deleting circuit elements"
**Describe the bug**
In simulator - Properties panel disappears on deleting one or multiple circuit elements.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Simulator
2. Draw any Circuit
3. Right-click on any circuit element (or multiple selected elements) and click on the delete
4. See error - The properties panel disappears

**Expected behavior**
The Properties Panel should not disa

[2022-02-09 11:48] Palaksharma23 commented on #2
@akashroy1 yes you can go ahead, please follow this instruction

[2022-02-09 11:57] akashroy1 commented on #2
Thanks for your reply.

On Wed, Feb 9, 2022, 5:19 PM Palak Sharma ***@***.***> wrote:

[2022-02-09 12:37] gr455 commented on #2906
Sounds good, you can go ahead with this.

[2022-02-09 12:41] gr455 commented on #2901
I am too, not able to reproduce the bug. Can you tell me the resolution of your display or some way to reproduce this?

[2022-02-09 12:48] gr455 commented on #2893
@nitin10s Mind having a look at this?

[2022-02-09 12:50] gr455 commented on #2712
Adding more to this, currently the borders for the icons is also visible. It would be great if those are hidden

[2022-02-09 13:09] rachit3006 opened #2912 "Add an option to report an issue or suggest a feature"
**Is your feature request related to a problem? Please describe.**
Currently, there is an option to report an issue in the Circuitverse simulator, but there is no such option outside the simulator. A current Circuitverse user who finds an issue not related to the simulator but doesn't have knowledge about GitHub can not report the issue to the developers. Moreover, there is also no such option for

[2022-02-09 14:39] Harshil-Jani commented on #2901
https://user-images.githubusercontent.com/79367883/153223495-3a0a4691-2d6a-48ac-bb24-0f8192c0b246.mp4

[2022-02-09 16:09] #1964 closed

[2022-02-09 16:29] gr455 opened #2914 "[jsdocs] Fix JSDocs for customThemer"
**Describe the bug**
JSDocs is not able to generate new documentation due to illegal comments in customThemer.js
Log:
[code]

**Expected behavior**
JSDocs action should be able to generate new documentation.

**Additional context**
Seems like the comment uses `HTML Document` as a return type which is an illegal class for jsdocs

cc: @pulkit-30

[2022-02-09 17:41] #2914 closed

[2022-02-09 18:09] rachit3006 commented on #2912
@vedant-jain03 @tachyons @gr455 can this feature be added?

[2022-02-09 19:17] aashimawadhwa opened #2916 "Password validator only validates for length of password"
**Describe the bug**
Password validator only validates for the length of password i.e. more than 6 , but it should check for a special character , number , uppercase alphabet , lowercase alphabet .

**To Reproduce**
Steps to reproduce the behavior:
1. Go to signup
2.  enter more than 6 alphabets
3. click on signup
4. See error

**Expected behavior**
It should check for a special character , number

[2022-02-10 06:08] PrakritiShetty commented on #2712
Hi I'm working on this issue. Goals: 1. Remove the bounding box for the twitter icon 2. Make the bounding box for LinkedIn a square rather than a circle. 3. Work on incorporating a GitHub icon if possible

[2022-02-10 07:44] Manan17 commented on #2894
Hi, can I work on this issue?

[2022-02-10 15:45] aashimawadhwa commented on #2916
I'm already working on it and it's mentioned in the issue itself.

[2022-02-10 16:13] bhutani2002 opened #2918 "Responsiveness of various webpages"
**Describe the bug**
Various Webpages are not responsive beyond certain dimensions or completely.

"Not Responsive below 500 dimension on Width."

Dash Board:
![CircuitVerse-Dashboard-1-Old (1)](https://user-images.githubusercontent.com/84590758/153445808-9473375b-60bb-4155-a979-e86a9982afc7.png)
![CircuitVerse-Dashboard-2-Old (1)](https://user-images.githubusercontent.com/84590758/153445836-76c0d

[2022-02-10 16:18] bhutani2002 commented on #2918
Hey @gr455  @vedant-jain03 , please try to review it once and provide me a feedback so that I can complete the task and generate a pull request.

[2022-02-10 16:27] ashish960 commented on #2787
@Kartikay304 can i work on this issue

[2022-02-10 17:03] aroradhruv2308 opened #2919 "Text is not completely highlighted on hover"
**Describe the bug**
The text ("Learn Digital Logic") in the drop down options of help menu is not getting completely selected when we hover on it

**Screenshots**
![Selection_080](https://user-images.githubusercontent.com/67088080/153457024-dcf89d53-160a-4b6a-86f9-98cacef6c8fa.png)

**Device Information [optional]:**
 - OS:  Ubuntu 20.04.3 LTS
 - Browser: Firefox

**Are you working on this issue?

[2022-02-10 18:04] ayan-biswas0412 commented on #2912
I think if we can use Github API to open issues that will be fine, like the flow will be like this
user enters the issue in CircuitVerse -> automatic Github issue will be opened in this repo -> Slack notification with the Git issue link

[2022-02-10 23:48] Zhongy1 opened #2920 "Project Breaking Problem/Bug Caused by Splitter Element"
**Describe the bug**
Clicking cancel in splitter prompt window causes an error to occur. This ends up breaking the project, and if saved, the project will never be able to load.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch a project
2. Click on Circuit Elements > Misc > Splitter
3. Click cancel through the two prompt windows
4. See errors in dev tools' console
5. Try to save projec

[2022-02-11 10:20] rachit3006 commented on #2912
Sure, that would be a great idea to implement, so can I start working on it?

[2022-02-11 10:45] pulkit-30 opened #2923 "Importing theme file breaks customTheme dialog"
**Describe the bug**
When we import a custom Theme file, we cannot change the color Input values

**To Reproduce**
Steps to reproduce the behavior:
1. Go to circuitverse simulator
2. Click on tools > themes > customThemes
3. Import a theme file
4. try to change color
5. see error

**Expected behavior**
After importing the theme file, the user is able to change input color values

[2022-02-11 12:31] ayan-biswas0412 commented on #2912
yah go ahead

[2022-02-12 02:54] vedant-jain03 commented on #2919
Kindly check your solution not affect design for other OS, you use another browser to test this.

[2022-02-12 02:56] vedant-jain03 commented on #2918
@gr455 I think that this need to be done. WDYT?

[2022-02-12 09:18] blackpanther-95 commented on #2923
Hey, I want to work on this issue.

[2022-02-12 09:23] KhanFiza896 commented on #2923
Hey @pulkit-30 ,I think all the color input values are work properly plz review it again. Thanks!

[2022-02-12 12:37] aroradhruv2308 commented on #2919
@vedant-jain03 Yes I have checked on another browser, it is working fine. .

[2022-02-12 13:29] pulkit-30 commented on #2923
steps to reproduce:
1. go to the simulator
2. click on tools > themes > custom themes
3. import a theme file
4. try to change color
5. notice, you cannot change color

https://user-images.githubusercontent.com/76155456/153713081-0bb99675-37da-46ea-8d68-36b8115c826b.mov

Also, custom Theme is a new feature, currently not available @ [circuitverse.org](https://circuitverse.org/), you will find it on

[2022-02-12 18:46] auyfadaiaiedfviyab opened #2928 "Slack link"
The link to the slack channel for GSoC 22 doesnt work.
@satu0king

[2022-02-12 20:23] bhutani2002 opened #2929 "Notifications Page is lack luster"
**Is your feature request related to a problem? Please describe.**
The notifications Webpage is completely lack lustered with no functioning of buttons and lack of better user experience on the frontend side. The page is not visually appealing.

**Describe the solution you'd like**
To make the webpage user friendly and appealing.

Providing some popups.....Showing each of the notifications receive

[2022-02-12 20:29] bhutani2002 commented on #2929
Hey @gr455 @tachyons @vedant-jain03 @Prerna-0202 can you provide some suggestions on what is been required to be done on this page. Since I know this is in the project list of gsoc2022 too, so I needed some feedback on what you all expect the content to be on this page .

I have mentioned some suggestions on my issue above.
I don't know how I'll do this, but will definitely make the page better😂.

[2022-02-13 07:36] vedant-jain03 commented on #2928
Actually I guess GSoC 2022 for contributors not begin officially yet as mentoring org. List awaits by 7th march. Will try to update the slack link after that for sure I G.
@tachyons

[2022-02-13 08:45] ayan-biswas0412 commented on #2928
I think we can update the link now, because there will be many of interested future GSoCers who may want to interact with us from now

[2022-02-13 09:55] Prerna-0202 commented on #2929
Hey @bhutani2002, Thanks for raising an issue but this is  duplicate of #2321

[2022-02-13 09:56] #2929 closed

[2022-02-13 11:17] soustab10 commented on #2928
Yes would be very helpful.

[2022-02-13 11:20] ayan-biswas0412 commented on #2928
yes it is updated now.

[2022-02-13 11:20] #2928 closed

[2022-02-13 11:34] aroradhruv2308 opened #2930 "Option to attach image in "Report an issue" feature."
**Is your feature request related to a problem? Please describe.**
This feature will allow users to attach images or videos while reporting an issue.

**Describe the solution you'd like**
Currently to report an issue user can only describe the issue in textual format. We can add a button to allow users to attach images or videos to describe the issue.
![Selection_085](https://user-images.githubuse

[2022-02-13 11:42] rachit3006 commented on #2930
@aroradhruv2308 actually I am working on this feature. You can check issue #2912 it involves using GitHub API and mostly it will involve the option to attach images.

[2022-02-13 12:11] aroradhruv2308 commented on #2930
@rachit3006  Ok! no problem ☺️. So should I close this one?

[2022-02-13 15:16] #2930 closed

[2022-02-14 07:01] gr455 commented on #2912
I think we can include `Report the error or suggest a feature` on the existing bug reporting flow. You can go ahead with this, thanks! :smile:

[2022-02-14 07:05] gr455 commented on #2887
I am not too familiar with stimulus, but if it can get the job done, it would be great!

[2022-02-14 07:19] #2911 closed

[2022-02-14 07:22] gr455 commented on #2918
Yep for sure

[2022-02-14 19:44] bhutani2002 opened #2931 "Simulator's navbar and draggable panels position adjustment (Responsive View)"
**Is your feature request related to a problem? Please describe.**
The simulator's navbar is just hiding below all the panels when, it's opened . The panels doesn't seem to look nice in the position where they are right now, as on any small screen, the gap between the panels makes uncomfortable for the user to put the elements in between that gap and it's is just like having unnecessary space and

[2022-02-14 19:51] bhutani2002 commented on #2931
Hi @gr455 @tachyons @vedant-jain03 , please try to review it once and provide me a feedback so that I can complete the task and generate a pull request.

[2022-02-14 20:42] aashimawadhwa commented on #2916
@gr455 @vedant-jain03 , please review this issue once .

[2022-02-14 20:43] bhutani2002 opened #2932 "Wrong link of Documentation on new group Webpage and Adjusting the link for Blog Webpage"
**Describe the bug**
There's a wrong link provided on the new group webpage(Documentation link), which opens the 404 error page, i.e. that the page does not exist.
The blog webpage is opening on the same tab and not the new tab. As of suppose we again want to go to the home page or any other webpage of the CircuitVerse website, now we can only move through the browser history arrows and not from t

[2022-02-14 20:58] bhutani2002 commented on #2932
Hey, @vedant-jain03 please review this.

[2022-02-15 04:10] devartstar opened #2935 "Making context-menu options dynamic"
**Describe the bug**
There are some bugs in Context Menu -
1. Undo option is not working
2. Context menu showing option for Cut, Copy, and Delete even if nothing is selected.
And on clicking those options nothing happens.
This might confuse the user.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `simulator`
2. Right Click to get the context menu
3. Click on Undo (it does not undo)
4.

[2022-02-15 15:32] riteshsonawane1372 commented on #2855
????

[2022-02-15 16:04] pulkit-30 opened #2937 "undefined class property"
**Describe the bug**
Typographical error : Undefine class property `this.data` in `isCaseValid()` method inside TestbenchData class.

[2022-02-16 17:22] vedant-jain03 opened #2939 "fix: Replace Post method with Put method for unopened notifications."
**Describe the bug**
Currently, the method is Post that should be put as it is not creating a new notification infect updating the existing.

**Are you working on this issue? (Yes/No)**
Yes

[2022-02-16 21:17] Subhadiptech commented on #2855
Is this still an issue or has been solved ?

[2022-02-16 21:20] Subhadiptech commented on #2200
Hey is this still an issue ?

[2022-02-16 21:24] Subhadiptech commented on #2797
Is this issue solved?

[2022-02-16 21:37] Subhadiptech opened #2941 "Drop Down doesn't appear on clicking profile name."
**Describe the bug**
After creating a group, on the group page when we click on our profile to get the drop down for dashboard, my groups, notifications and sign out options, it actually don't appear and is actually not clickable. I think this makes the user experience bad because it may happen that the user creates a new group and want to sign out. In that case, user have to suffer for this. Thin

[2022-02-17 03:24] vedant-jain03 commented on #2941
@tachyons

[2022-02-17 04:28] Subhadiptech commented on #2941
Hey @vedant-jain03 I want to resolve this issue, I am just finalizing project setup on local machine.

[2022-02-17 04:59] vedant-jain03 commented on #2941
You can setup your CV env.
Let's wait for @CircuitVerse/circuitverse-core-team review for this issue.

[2022-02-17 05:01] vedant-jain03 commented on #2797
@shukapurv Are you working on the issue?

[2022-02-17 05:02] vedant-jain03 commented on #2200
@Subhadiptech Go Ahead 👍🏼

[2022-02-17 05:02] vedant-jain03 commented on #2855
@mudassir1231 are you working on the issue?

[2022-02-17 06:00] prakhar3062 commented on #2855
you may add required in input tag then it may work

[2022-02-17 06:28] tachyons commented on #2941
Are you getting this issue in local, this issue was fixed, not deployed yet

[2022-02-17 08:30] Subhadiptech commented on #2941
Yes I was getting this issue on the official release in Chrome

[2022-02-17 13:10] mudassir1231 commented on #2855
@vedant-jain03  yes I am working

[2022-02-17 13:27] mudassir1231 commented on #2855
@prakhar3062  actually I tried to add "required" but it didn't work

[2022-02-17 13:44] vedant-jain03 commented on #2941
@Subhadiptech the bug is already solved in development mode and not deployed.

[2022-02-17 13:44] #2941 closed

[2022-02-17 14:28] mudassir1231 commented on #2856
@tachyons can i work on it

[2022-02-17 14:37] Kartikay304 commented on #2856
this issue is expected behaviour and not a  bug, if you want to work on adding a back button or [breadcrumb](https://semantic-ui.com/collections/breadcrumb.html) . This needs approval of Nitin as he is ux lead , you can ask in #coding on slack.

[2022-02-17 16:24] gr455 commented on #2912
This might litter the issues tab because of invalid bugs or spam.

I think we can rename the existing option to `Report error or suggest a feature` and maybe have a similar option on the rest of the platform which just uses the same backend function for reporting issues. (UX on this might be slightly tricky since we don't want this bug report thing to interfere with the existing UI much)

[2022-02-17 16:32] rachit3006 commented on #2912
I have two options -
1) Put the option similar to the one in the simulator, i.e, a floating button that expands on hovering over it.
2) Put a link that opens the dialog box, in the footer of the page.
I think that the first option would be better as it is visible to the users and looks good design-wise.
The option will be renamed to "Report an issue / Suggest a feature".

[2022-02-17 19:38] rachit3006 commented on #2912
I am using the <b>simulator/post_issue</b> route to post the issue similar to the one used previously in the simulator. I think the slack channel can be renamed to <b>issues and features</b> or something else from <b>simulator-issues</b> because it will now contain both the simulator issues as well as the overall platform issues.
Is it fine or should I create another route to post the platform iss

[2022-02-18 02:51] vedant-jain03 commented on #2939
@tachyons

[2022-02-18 03:01] devartstar commented on #34
@taycons I would like to work on the autosave feature for both -
- Simulator
- Verilog Code Editor

can I start working on it?

Can I discuss with you the plans to implement this feature.

[2022-02-18 11:33] rohit0110 commented on #2923
Hey @pulkit-30 is the CV_Customtheme.json not downloadable in gitpod?

[2022-02-18 11:45] pulkit-30 commented on #2923
No, it's working fine

[2022-02-18 17:06] prakhar3062 commented on #2855
then we have dom as another option

[2022-02-19 08:24] pulkit-30 opened #2947 "On redo, Testbench crashes"
**Describe the bug**

Test-bench crashes on `Redo`, this is bcoz we didn't restore the testbench data from the current scope.
We need to restore testbenchData from the current scope to the `Redo` scope.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to the simulator
2. Draw a circuit and attach a test.
3. Undo and then redo
4. See error

**Expected behavior**
Testbench should not crash

[2022-02-19 13:45] rohit-raje-786 opened #2949 "Aligning the text message properly under the custom shortcut submenu of tools."
**Describe the bug**
The text message inside the box is not aligned properly after the user click on any of the option mention under the keybinding preference.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to simulator
2. Click on Tools
3. Select Submenu Custom Shortcut
4. Click on any of the option under the keybinding preference.
4. See the bug.

**Expected behavior**
The text should

[2022-02-20 09:35] #2947 closed

[2022-02-20 09:37] gr455 commented on #2931
Actually, at the moment, simulator is not compatible with phones and it's not supposed to be used on a phone. We will be making it mobile compatible with new updates

[2022-02-20 09:45] gr455 commented on #2916
Do we really need that strong of a password for CircuitVerse? cc @tachyons

[2022-02-20 14:05] tachyons commented on #2916
I don't think so

[2022-02-20 14:05] #2916 closed

[2022-02-20 15:28] #2857 closed

[2022-02-21 11:02] #2688 closed

[2022-02-21 11:22] vedant-jain03 commented on #2949
@rohit-raje-786 I think it is expected as the lower part is of the div is for warnings

For example:

![Screenshot from 2022-02-21 16-51-01](https://user-images.githubusercontent.com/76901313/154945640-da418bed-2e4c-422d-8585-e84ce43b8f00.png)

@tachyons @gr455  any views?

[2022-02-21 13:04] #2582 closed

[2022-02-21 19:22] Dnouv commented on #1460
Hello @mahmodHammad @satu0king
I am planning to work on this issue, and I hope it's still available.
Thank you!

[2022-02-21 20:32] bhutani2002 commented on #2931
Yes, I read the project list of GSOC'22 and there was something provided to improve on the UI . Therefore I suggested this idea, which I thought might be beneficial. As there's gonna be work, to be done on the touch for mobile devices, here I provided the idea and implementation of the initial positions of the panels. So I just pointed out the positions across various widths that we can have, so t

[2022-02-22 10:58] teyim commented on #2920
can i work on this?

[2022-02-22 11:52] vedant-jain03 commented on #2920
@teyim Actually the PR is already being created and it is under review.
You can check out other issues, Thankyou 😃

[2022-02-22 17:27] aashimawadhwa opened #2951 "Eye button to view password is not available in reset password form."
**Describe the bug**
Eye button to view password is not available in reset password form .

**To Reproduce**
Steps to reproduce the behavior:
1. Go to login page
2. Click on forget password
3. select "send password reset link"
4. click on the link received on mail to reach reset form
5. see error

**Expected behavior**
It should have a eye button which should show and hide password, similar to the

[2022-02-23 08:44] Dnouv commented on #2621
Hello @Kartikay304
I would like to work on this issue, and I am preparing the sketches; could you please share the slack invite link.

[2022-02-23 10:27] Dnouv commented on #2887
Hello @gr455 @vedant-jain03
Is this still available to contribute? I would like to work on this issue.
I am looking forward to hearing back from you. Thank you!

[2022-02-23 10:39] vedant-jain03 commented on #2887
Sorry for responding late, @Dnouv You can try this issue. I will try to solve it using stimulus and get back in this thread .

[2022-02-23 11:44] vedant-jain03 commented on #2951
@aashimawadhwa If you started working on the issue, it will be great if you also align "Go to Login Page" vertically.

[2022-02-23 11:44] vedant-jain03 commented on #2951
@gr455 @tachyons

[2022-02-23 11:45] Dnouv commented on #2887
Thank you for your prompt reply @vedant-jain03 . Could you please let me know what was the expected behavior because, on the simulator page, the custom tooltip is appearing on hover, here is an attached clip of the tooltip,
![chrome-capture-2022-1-23](https://user-images.githubusercontent.com/61188295/155313083-9716bf3f-360e-4add-9ffd-82a0872805c5.gif)

[2022-02-23 11:53] vedant-jain03 commented on #2887
@gr455

[2022-02-23 13:10] #2939 closed

[2022-02-23 17:43] aashimawadhwa commented on #2951
okay , I'll see to it too.

[2022-02-25 08:40] Dnouv commented on #2112
Hello @ayan-biswas0412
Is this issue still open for contributions? If it is, please let me know. I would like to contribute to this issue.
Thank you!

[2022-02-25 08:56] Dnouv commented on #2887
@vedant-jain03 any updates on this issue?

[2022-02-25 09:14] Dnouv commented on #1987
Hello @satu0king
I would like to contribute to this issue; if it's available, please let me know.
Thank you.

[2022-02-25 09:27] Dnouv commented on #1949
Hello @Shivansh2407
Is this issue open for contributions? If it is please let me know. I would like to work on this issue.
Thank you!

[2022-02-25 12:03] tachyons commented on #1949
Need to check if this issue still exist, if yes, then this is open for contributions

[2022-02-25 12:23] Dnouv commented on #1949
Thank you for the prompt reply; I guess it is still there; however, please re-verify it, and let me know the results, then I will submit a PR.

[2022-02-25 14:47] ayan-biswas0412 commented on #2112
Yeah go ahead, but please research on it a bit, because this issue needs a proper pathway to proceed, so before coding you can research a bit and write an probable implementation pathway here

[2022-02-25 15:02] Dnouv commented on #2112
Thank you for the prompt reply; I'll look up more details about the implementation strategy and will post here. The starting point would most probably be looking for the part number for the components; I've done introductory minor courses in Electronics; however, it might require some brushup.
I hope to receive your guidance if got stuck somewhere.
Thank you!

[2022-02-25 16:32] #2555 closed

[2022-02-26 04:29] MashTerro commented on #2901
Hi @Harshil-Jani  I want to fix this issue can fix it?

[2022-02-26 04:42] MashTerro commented on #1761
Hi @r0the, I would like to contribute in this issue can you assign me this?

[2022-02-26 12:43] devartstar opened #2957 "Project Recovery and Autosave Feature."
**Task1 -**
--------------
Project Recovery not working:-
	Currently, the project is recovered only on page-reload but it is not working.
	Just page reload is not enough. The user might accidentally close the browser tab or Power Off.

in simulator/src/project.js
[code]

**Task2 -**
----------
[Issue #34](https://github.com/CircuitVerse/CircuitVerse/issues/34)
AutoSave feature for CircuitVerse Sim

[2022-02-26 13:10] #2932 closed

[2022-02-26 13:19] #2488 closed

[2022-02-26 13:19] ahmedibrahim404 opened #2958 "Enabling drag select of objects"
**Is your feature request related to a problem? Please describe.**

I was building some big logic circuit, and then I wanted to select part of the circuit (sub-circuit) and delete it
I wan't able to select only the gates I needed to delete, Either select one (by clicking shift + click over it) or select all (ctrl+a)
I thought I'd be better if I was able to select the needed sub-circuit only by dra

[2022-02-26 14:24] ayan-biswas0412 commented on #2957
@devartstar great research go ahead 🎉

[2022-02-26 15:01] Dnouv commented on #2112
@ayan-biswas0412  I've planned to introduce a new node in the Object `elementHierarchy` of the elements in addition to the `name` and `label` node say `type` or `number`, then make a list of these IC numbers available to the simulator as done for the elements name. Proceeding forward in the search function of elements in addition to filtering the array-based only on `name` the new function will al

[2022-02-26 15:19] xUser5000 commented on #2958
I faced this problem before and it was painful for me to delete so many gates one by one.

[2022-02-26 15:34] vedant-jain03 commented on #2958
@tachyons @gr455

[2022-02-26 15:51] ahmedibrahim404 commented on #2958
Sorry, I didn't see that the feature is already there
By clicking `Shift`, then selecting the needed part

I am closing the issue

[2022-02-26 15:51] #2958 closed

[2022-02-26 16:02] ahmedibrahim404 opened #2959 "ESC button to deattach objects - Closing fullscreen"
**Is your feature request related to a problem? Please describe.**

1. When selecting any object(gate, ...etc) from the side panel, and then wanting to delete it (before placing over the panel) then ESC may does this for us

2. Exiting fullscreen mode using ESC button (sometimes it easier than clicking over `Exit Full Preview`)

**Describe the solution you'd like**
Make ESC button responsible for

[2022-02-26 16:03] ahmedibrahim404 commented on #2959
@tachyons @gr455

Let me know If I can work on this
Thanks in advance

[2022-02-26 18:07] pulkit-30 commented on #103
Hey @tachyons @gr455,
I would like to continue with this issue,
Can we discuss the implementation of this...?

Thanks

[2022-02-26 18:28] ayan-biswas0412 commented on #2959
yah i think it's a good one
cc @nitin10s what you think ?

[2022-02-27 17:14] ahmedibrahim404 opened #2962 "Notifications is not working"
**Describe the bug**
Notification system is not working as described below in the GIF

In the GIF, I enabled the Notifications manually, to test 'Test' button also

**To Reproduce**
Steps to reproduce the behavior:
1. Select your username (top right of screen)
2. Click on 'Notifications'
3. Try 'Enable' is disabled, or 'Test' is enabled
4. Nothing happens

**Expected behavior**
Should give a promp

[2022-02-27 17:14] ahmedibrahim404 commented on #2962
@ayan-biswas0412
Can you check this, please?

[2022-02-28 04:19] vedant-jain03 commented on #2962
@ahmedibrahim404 I guess this is one of the parts of the GSoC project as we are expecting to replace the gem, so I think this issue should get resolved on it.
WDYT @tachyons

[2022-02-28 06:11] ayan-biswas0412 commented on #2962
yes that's true

[2022-02-28 06:11] ayan-biswas0412 commented on #2962
See this  [Project 2](https://github.com/CircuitVerse/CircuitVerse/wiki/GSoC%2722-Project-List#project-2---circuitverse-platform-improvements)

[2022-02-28 06:11] #2962 closed

[2022-02-28 07:49] mubashirjamali101 commented on #2496
## Docker build failed

### here's my build log, when that error occurs

[code]

[2022-02-28 08:43] kushalShukla-web commented on #2937
can i ?

[2022-02-28 10:10] Dnouv commented on #2887
Hello @gr455
I understand your busy schedule but could you please verify this issue once and let me know the expected behavior.
Thank you!

[2022-02-28 10:13] Dnouv commented on #2621
@Kartikay304, I have uploaded the new designs in the #ux channel. Could you please review them once and let me know? I would then proceed with the PR.
Thank you!

[2022-02-28 10:16] Dnouv commented on #2112
Hello @ayan-biswas0412
I have raised a PR with the required changes, could you please review it, and provide feedback. If any changes are required, please let me know I will make the changes accordingly.
Thank you!

[2022-02-28 12:11] vibhuti019 opened #2963 "Support for IoT"
**Is your feature request related to a problem? Please describe.**
I would like to increase the scope of Circuitverse from Digital Logic to Arduino-based IoT circuits.
We have tinkercad, which simulates Arduino circuits but it withdrew support for the wifi modules.
So currently we don't have any online platform to simulate an IoT circuit.

**Describe the solution you'd like**
We can build a collab

[2022-02-28 12:33] pulkit-30 commented on #2937
Thanks, @kushalShukla-web,
I have already fixed this one, You can try another `good-first` issue

[2022-02-28 12:34] Dnouv opened #2964 "Unresponsive length of Navbar"
**Describe the bug**
On the simulator page on `md` size devices, when the navbar is opened it flexes to around the half-length of the page and then returns to the expected length.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the simulator page on medium-screen size devices.
2. Open the Navbar.
3. Drag and keep the quick tools outside the navbar area.
4. Now close the navbar again an

[2022-02-28 13:37] ayan-biswas0412 commented on #2963
I think it is a very big project and needs a detailed plan to implement this, I will encourage you to plan before start any coding, you can submit your detailed plan here also you can also apply for Google Summer of Code and come up with your own proposal idea and submit to us, please check [this](https://github.com/CircuitVerse/CircuitVerse/wiki/GSoC%2722-Project-List#your-idea)

[2022-02-28 17:37] gr455 commented on #2887
Yep. this is happening on the master branch. The latest state of the master branch is not yet deployed, so this won't be seen on circuitverse.org.

I removed the code for the custom tooltips because it was throwing unhandled errors in the commit referenced in the issue.

[2022-02-28 18:53] Subhraneel77 commented on #2599
Can I give it a try?

[2022-02-28 18:55] Subhraneel77 commented on #2338
Can I Work upon this Issue?

[2022-02-28 19:17] Dnouv commented on #2887
No worries at all, yeah I just re-checked and the tooltip (as appearing on the circuitverse.org) is not appearing on the development server, so I guess we need to show a custom tooltip something like in the above video. I'll try to resolve this issue.
Thank you!

[2022-03-01 04:24] vedant-jain03 commented on #2964
@Dnouv As far as I know the new responsive design for the simulator is solved in GSoC mobile touch compatibility.
@CircuitVerse/circuitverse-core-team

[2022-03-01 06:29] Dnouv commented on #2964
Thanks for the info, ok, so this would be completed under the GSoC project, then shall I close this issue? Please let me know.

[2022-03-01 09:06] vedant-jain03 commented on #2964
Let's wait for the reviews from other core-team.

[2022-03-01 14:14] ritesh027 commented on #2923
hey @pulkit-30 is this solved or should i work on this?

[2022-03-01 18:49] ahmedibrahim404 opened #2981 "Add keyboard shortcuts docs"
**Is your feature request related to a problem? Please describe.**

I have been using the application for 4 days, and since then I am always discovering new keyboard shortcuts to make the design process faster, and that's an amazing thing.

I tried to search for keyboard shortcuts catalog where I can know all the available shortcuts but didn't find any unfortunately

That's why I suggest adding sh

[2022-03-01 18:53] ahmedibrahim404 commented on #2981
What do you think?
@ayan-biswas0412 @nitin10s @gr455

[2022-03-01 19:41] ayan-biswas0412 commented on #2981
yah sure go ahead

[2022-03-01 21:32] ahmedibrahim404 commented on #2981
Thanks @ayan-biswas0412
Here is the [PR](https://github.com/CircuitVerse/CircuitVerseDocs/pull/325)
It was really fun going through the codebase and discovering new keys shortcuts!

[2022-03-01 21:39] ahmedibrahim404 opened #2982 "Zoom in/out bug"
**Describe the bug**
Whenever I zoom in/out using `Ctrl + (+/-)`, it works properly but the top bar percent doesn't change (as described in the gif below)
The leads to unexpected behaviors when using both

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Simulator
2. Click on `Ctrl + '+'`
3. See it's zooming in, but the top zoom bar doesn't change

**Expected behavior**
The top zoom bar

[2022-03-01 21:40] ahmedibrahim404 commented on #2982
Can I work on this? Thanks!
@ayan-biswas0412

[2022-03-02 05:04] gr455 commented on #2599
Sure, we could use a better looking 404 page

[2022-03-02 05:15] vedant-jain03 commented on #2982
@gr455

[2022-03-02 05:23] gr455 commented on #103
@pulkit-30 I believe this issue was fixed in https://github.com/CircuitVerse/CircuitVerse/pull/2356. Can you verify?

[2022-03-02 05:46] #2906 closed

[2022-03-02 05:59] gr455 commented on #2982
Yep, Good find

[2022-03-02 06:19] kushalShukla-web commented on #2920
this issue is still open ?

[2022-03-02 06:26] kushalShukla-web commented on #2919
can i work on this

[2022-03-02 06:56] kushalShukla-web commented on #2923
hey can i work on this pls!!!

[2022-03-02 09:09] aashimawadhwa opened #2990 "Checkbox is overlapping in edit details page"
**Describe the bug**
the checkbox is overlapping the subscribe to mail

**To Reproduce**
Steps to reproduce the behavior:
1. Go to dashboard
2. Click on  edit details
3. Scroll down
4. See error

**Expected behavior**
checkbox should not overlap

**Screenshots**
![Screenshot from 2022-03-02 14-30-15](https://user-images.githubusercontent.com/73706697/156330309-53688203-1997-43f3-844e-086581fcfde7.

[2022-03-02 09:43] kushalShukla-web commented on #2990
Can I pls..

[2022-03-02 10:15] vedant-jain03 commented on #2990
@aashimawadhwa is this behavior in firefox?

[2022-03-02 12:29] vibhuti019 commented on #2963
Thanks, Circuitverse, @ayan-biswas0412  for acknowledging my idea.

It is surely a big project but it will make circuitverse a one stop solution for most of the electronics simulation work.
I was amazed by the idea of sharing iframe of the simulation, if that can be imcluded in IoT devices, it can provide a realtime monitoring of the devices.
I am working on the draft, which will include the featu

[2022-03-02 12:36] devartstar commented on #2957
@gr455 As of now I planned to autosave offline only.
But if we want to autosave online we can do it in this way:-

In the autosave logic - there are two intervals small and big.
- We can autosave online every one big interval (5 mins...can be changed)
- autosave offline if it passes the check (`changeCounter > changeCounterLimit`) after every small interval.
We can alter with the three variables `

[2022-03-02 14:52] ahmedibrahim404 commented on #2959
@kushalShukla-web
It's done and merged now
Thanks

[2022-03-02 14:52] #2959 closed

[2022-03-02 16:22] kushalShukla-web commented on #2901
Can I work on this issue

[2022-03-02 16:35] kushalShukla-web commented on #2866
Guys anyone working on this issue.

[2022-03-02 16:41] pulkit-30 commented on #103
Hey @gr455,
I verified this issue with the [mentioned](https://circuitverse.org/users/1935/projects/4774) circuit on the local development...
Yes, this issue is still valid

https://user-images.githubusercontent.com/76155456/156405209-d2b8d880-9c08-4475-b86e-ad04411f5bad.mov

I am redrawing the circuit on the simulator and trying to add another 4KB circuit;
let me know if I am doing something wron

[2022-03-03 05:27] kushalShukla-web commented on #2683
Guys is this issue still open

[2022-03-03 05:53] kushalShukla-web commented on #2918
is anyone working on this , or can i

[2022-03-03 05:55] kushalShukla-web commented on #2887
can i work on this issue

[2022-03-03 06:03] kushalShukla-web commented on #2662
is this issue still open

[2022-03-03 06:05] kushalShukla-web commented on #2621
is this issue still open , can i work on it ?

[2022-03-03 06:05] bhutani2002 commented on #2918
Yes @kushalShukla-web I have been working on it. And the pull request is already been generated and is on the edge of merging.
Thank You.

[2022-03-03 06:13] Dnouv commented on #2887
Hello @kushalShukla-web sorry but I'm working on this issue.
Thank you!

[2022-03-03 06:14] kushalShukla-web commented on #2138
Is this issue still open?

[2022-03-03 06:15] Dnouv commented on #2621
Hello @kushalShukla-web sorry but I have already submitted UI designs in the UX channel and it is in process of review.
Thank you!

[2022-03-03 06:18] kushalShukla-web commented on #1987
Hello guys , me too want to contribute to this issue ..

[2022-03-03 06:34] kushalShukla-web commented on #1991
Can I work on this issue

[2022-03-03 11:35] kushalShukla-web commented on #2829
Can I work on this issue

[2022-03-03 11:44] devartstar commented on #2829
Hi, @kushalShukla-web
This issue has already been solved.

[2022-03-03 12:25] vedant-jain03 commented on #2662
@Sarfraz-droid Any updates?

[2022-03-03 13:09] Palaksharma23 commented on #2677
@kushalShukla-web yes a pull request has been made for this and is under review.

[2022-03-03 18:56] aashimawadhwa opened #2997 "Report a bug prompt is accepting empty request ."
**Describe the bug**
while reporting a bug  , empty request are being accepted .

**To Reproduce**
Steps to reproduce the behavior:
1. Go to simulator.
2. Click on 'report a bug prompt '.
3.  Submit it with empty fields.
4. See error.

**Expected behavior**
should not accept empty value and should give a warning .

**Screenshots**

![ezgif com-gif-maker](https://user-images.githubusercontent.com/7

[2022-03-04 07:57] namanjain2001-code commented on #2997
i can fix this bug

[2022-03-04 11:09] Dnouv commented on #2964
Hey @vedant-jain03 from whom shall we get this issue reviewed please let me know.
Thank you!

[2022-03-04 11:17] Dnouv commented on #1949
Hello @tachyons
I understand your busy schedule, however, I would really appreciate it if you could review this issue.
Thank you!

[2022-03-04 11:44] tachyons commented on #1949
Have you tried to reproduce the issue ?

On Fri, 4 Mar, 2022, 4:47 pm Dnouv, ***@***.***> wrote:

[2022-03-04 11:58] Dnouv commented on #1949
Yeah I did, here is an snap from the try
<img width="409" alt="image" src="https://user-images.githubusercontent.com/61188295/156759527-1a69a7c9-1aa3-4cae-999a-c41e377e8a9c.png">

[2022-03-04 12:01] tachyons commented on #1949
Thanks, please proceed with PR

[2022-03-04 16:01] vedant-jain03 commented on #2964
@Dnouv actually I have tagged core-team, so expecting one from the behalf of core-team.

[2022-03-04 17:38] tintin9999 opened #3001 "Deletion of Flag makes the timing diagram blank"
**Describe the bug**
Bugs related to the timing diagrams and flags.
1. Deletion of every flag causes the timing diagram panel to have an empty box.
2. Creation of flag after the previous deletion doesn't show a timing graph.

**To Reproduce**
Steps to reproduce bug 1.:
1. Go to Simulator
2. Open Timing Diagram
3. Add and Delete a flag
4. See Bug 1.

Steps to reproduce bug 2.:
1. Follow the steps g

[2022-03-04 19:59] aashimawadhwa opened #3002 "Help Button is not directing to right URL in properties menu of circuit element."
**Describe the bug**
help button is not directing to right URL in properties menu of  circuit element in simulator.

**To Reproduce**
Steps to reproduce the behavior:
1. Select an circuit element
2. Click on help from properties menu
3.  See error

**Expected behavior**
It should be directing to circuitverse docs

**Screenshots**
![Screenshot from 2022-03-05 01-26-52](https://user-images.githubuse

[2022-03-05 02:33] vedant-jain03 commented on #3002
@CircuitVerse/circuitverse-core-team What should be the ideal path for help link?

[2022-03-05 02:34] vedant-jain03 commented on #3001
@gr455

[2022-03-05 06:56] kushalShukla-web commented on #3002
Can I contribute to it

[2022-03-05 07:12] pavanjoshi914 commented on #3002
circuitverse docs are in the process of refactoring. if refactoring is finished you can start to change the links

you can see the difference, so each  doc is present in particular ```chapter``` folder and links are different now
[code]

[2022-03-05 07:40] kushalShukla-web commented on #3002
@pavanjoshi914  is this issue assigned to me?

[2022-03-05 08:09] aashimawadhwa commented on #3002
should I wait for the refactoring to be done?

[2022-03-05 08:11] aashimawadhwa commented on #2997
@vedant-jain03 @pavanjoshi914 can you review this please?

[2022-03-05 08:13] pavanjoshi914 commented on #3002
@kushalShukla-web I think  @aashimawadhwa  already mentioned working on this issue
[code]

I think a great place to start is going with issues labelled ```good first issue```

if someone is not working on that issue, or if issue is pending for a long time you can start working on such issue without waiting for issue being assigned

hope this helps!

[2022-03-05 08:13] pavanjoshi914 commented on #3002
cc @Shivansh2407

[2022-03-05 08:20] pavanjoshi914 commented on #2997
its valid please go ahead

[2022-03-05 14:42] gr455 commented on #3001
Yep this needs to be fixed. @tintin9999 If you could work on this, it would be a great help

[2022-03-05 14:44] tintin9999 commented on #3001
Sure thing! I have a fix ready, I'll make a PR soon. @gr455

[2022-03-06 17:13] devartstar opened #3005 "Verilog Code Editor - Restoring previous theme"
**Is your feature request related to a problem? Please describe.**
Currently if we have selected a theme for verilog code editor, after we revisit it goes back to default theme.

**Describe the solution you'd like**
It should restore back to the previous theme selected.

**Additional context**
**Before -**

https://user-images.githubusercontent.com/61665451/156933842-034f7bb4-be03-4ed3-b049-eb9fb7

[2022-03-07 10:43] vedant-jain03 opened #3008 "Update mailer copyright text"
**Describe the bug**
Currently, the mailer copyright text in locales is `Copyright © 2021 CircuitVerse. All rights reserved. For any issues, reach out to us support@circuitverse.org` which should be updated like [this](https://github.com/CircuitVerse/CircuitVerse/blob/80b1a0ba56231b1b43d4d1355cf033ee36fe4025/config/locales/views/layouts/en.yml#L22)

**Are you working on this issue? (Yes/No)**
No

[2022-03-07 17:29] ahmedibrahim404 commented on #3008
I think I can do this, if applicable

[2022-03-07 17:40] ahmedibrahim404 opened #3009 "Gates style when no of inputs > 5"
**Describe the bug**
The design on the input gate becomes not good looking when the number of inputs to it becomes > 5

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Simulator
2. Click on Gates
3. Choose AND Gate
4. Make no of inputs > 5
5. See error

**Expected behavior**
The gate should become greater whenever the number of inputs increases, so that the points of the input don't ove

[2022-03-07 17:47] vedant-jain03 commented on #3008
@pavanjoshi914
Is this valid, Then we can assign the issue.

[2022-03-08 04:45] ayan-biswas0412 commented on #3009
i think we should dynamically adjust gate size

[2022-03-08 13:50] pulkit-30 opened #3014 "Undoing circuit not backup upto last state of Simulator"
**Describe the bug**
Draw a circuit and try to undo (without clicking on canvas), Notice: how it pops out 2 backup states, and with redo, it only restores up to the second last backup state.

**Why is this happening**
while doing undo and redo we are not creating a backup for the current state of the simulator. We need to perform a `scheduleBackup()` before undoing/redoing.

**To Reproduce**
Steps

[2022-03-08 16:41] Garvit1809 commented on #2919
I am new to this project, is anyone currently working on this issue.

[2022-03-08 17:35] pavanjoshi914 commented on #3008
applicable

[2022-03-08 17:40] vedant-jain03 commented on #3008
@ahmedibrahim404
Go ahead 👍

[2022-03-08 18:14] devartstar opened #3016 "Deleting Saved Projects from Project Dialog Box"
**Describe the bug**
On deleting a project from the open offline project dialog box by clicking the `trash svg`
The `trash svg` of all other projects convert to `cross svg`.
The radio buttons also disappear.
After deleting all the project we must update the content of the dialog box.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Simulator
2. Save some projects Offline
3. Projects dro

[2022-03-09 09:54] pulkit-30 commented on #3016
duplicate #2894

[2022-03-09 11:51] devartstar commented on #3016
@pulkit-30 thanks for pointing it out.
I will edit the issue to just the 2nd part, ie. when all projects are deleted, the dialog box should show as it does when opened when no project is present.

[2022-03-09 16:19] kalashvasaniya commented on #2919
Hey Assign this to me I know how to work on this issue!

[2022-03-10 07:10] #2981 closed

[2022-03-10 12:03] pulkit-30 commented on #103
Hey @gr455, please check this issue...
Thanks :D

[2022-03-10 12:10] SiddheshKukade opened #3027 "Open with Simulator Button for featured examples from CircuitVerse homepage"
**Is your feature request related to a problem? Please describe.**
Request for an **Open With Simulator Button** on featured examples

**Describe the solution you'd like**
## Issue Description :
- Go to homepage :  [circuitverse.org](circuitverse.org)
- scroll down to featured examples
![Screenshot_2022-03-10-17-25-05-472_com.android.chrome.jpg](https://user-images.githubusercontent.com/65951872/1

[2022-03-10 13:43] pulkit-30 commented on #3027
Hey, @SiddheshKukade Welcome to circuitverse,

talking about this issue, We have a full-screen button that preview circuits and sub-circuits, Any user can test these projects... and for making some changes and enhancing the project, we have a fork button( user must be signed in ), Simply user can fork the project and launch the simulator and made his changes to that project...
Directly making chan

[2022-03-10 14:52] ayan-biswas0412 commented on #3027
I don't think fork directly changes the main project, rather it creates a copy in the profile who have forked and all changes made to the copied one.

[2022-03-10 14:55] pulkit-30 commented on #3027
Yep!

[2022-03-10 16:14] #3027 closed

[2022-03-11 02:51] vedant-jain03 opened #3029 "feat: Program section in about us Page"
**Is your feature request related to a problem? Please describe.**
A program section will contain the open-source programs in which CircuitVerse participated (Past and Present).

**Are you working on this? (Yes/No)**
Yes

[2022-03-11 02:52] vedant-jain03 commented on #3029
@tachyons Any feedback or suggetion.

[2022-03-11 18:13] aashimawadhwa opened #3031 "Star button can be added to dashboard's card"
**Is your feature request related to a problem? Please describe.**
Star button can act as a shortcut to favorite or unfavorite without opening the circuit every time.

**Describe the solution you'd like**
A star button on the card.

**Additional context**
Existing card  -

![WhatsApp_Image_2022-03-05_at_1 07 55_AM](https://user-images.githubusercontent.com/73706697/157925429-13ece526-efb0-47a5-8df

[2022-03-12 02:47] vedant-jain03 commented on #3031
The proposed design doesn't look aligned!
WDYT @ayan-biswas0412 @gr455
CC @nitin10s

[2022-03-12 07:59] ayan-biswas0412 commented on #3031
I also think same as you @vedant-jain03

[2022-03-12 09:21] aashimawadhwa commented on #3031
This is just a prototype the final outcome will look aligned .

[2022-03-12 09:22] aashimawadhwa commented on #3031
I am thinking of something like this too , looking forward for your views on it.

![cv](https://user-images.githubusercontent.com/73706697/158012211-30332976-9f02-47b6-8b05-2aff96646fce.png)

[2022-03-12 09:33] ayan-biswas0412 commented on #3031
what do you want to add ? delete button or star button ?

[2022-03-12 10:00] aashimawadhwa commented on #3031
I just want to add a button that will act as a shortcut to  star or unstar a given circuit without opening it . should i proceed with the first one with proper alignment?

[2022-03-12 13:38] vedant-jain03 commented on #3031
If you want to make star toggle functionality you should not add a delete icon, you should rather fill the background color of the star to black when it is starred otherwise just a border-star icon.

The alignment for the latest img you shared looks good.

Note: if you start working on this, the projects which are already starred should be rendered as starred only.

[2022-03-12 14:48] aashimawadhwa commented on #3031
I got it so can i go with the top right corner itself and the button functionality as you suggested ? seems fine ? @vedant-jain03  @ayan-biswas0412

[2022-03-12 17:23] Prerna-0202 opened #3032 "SR Flip-Flop doesn't have clock"
**Describe the bug**
In the Simulator, the SR Flip Flop does not have clock, due to which SR Flip Flop is showing some unexpected behavior.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Simulator'
2. Scroll down to 'Sequential Elements'
3. Click On 'SR Flip-Flop'
4. See error.

**Expected behavior**
It should have a clock(like JK Flip Flop).

**Screenshots**
Unexpected behavior :

h

[2022-03-13 12:09] gr455 commented on #2957
Extremely sorry for such a late reply. Yes, you can know the limits https://github.com/CircuitVerse/CircuitVerse/blob/6362a9eb4a9fd6b5391c8e4ef0e3b82525e722de/config/initializers/rack_attack.rb#L35

[2022-03-13 12:12] gr455 commented on #2901
Are you able to reproduce this issue?

[2022-03-13 14:27] khareyash05 commented on #3032
I would like to work on this if this issue is open

[2022-03-14 07:42] Prerna-0202 commented on #3032
Yes you can , but let just wait for  @gr455 and @tachyons suggestions on this issue..

[2022-03-14 12:21] #2982 closed

[2022-03-14 12:43] #3001 closed

[2022-03-14 13:13] #2860 closed

[2022-03-14 13:23] #3005 closed

[2022-03-14 13:43] gr455 commented on #103
Aw man :disappointed: . It would be great if you could try your hand at it

[2022-03-14 14:44] Prerna-0202 opened #3033 "Discussion Forum Showing Error"
**Describe the bug**
When we click on the discussion forum, It is showing 500 server error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Simulator'
2. Click on 'Help'
3. Scroll down to 'Discussion Forum'
4. See error

**Expected behavior**
It should redirect to the Forum Page

**Screenshots**
![Screenshot (295)](https://user-images.githubusercontent.com/89515816/158196071-5aad0762-

[2022-03-14 20:54] Subhraneel77 opened #3034 "Quick Access Toolbar is Overlapped by Timing Diagram"
Describe the Issue :-
When the Timing Diagram in the Simulator is maximised then the Quick Access Toolbar is overlapped by Timing Diagram from  behind  and by sudden clicking over the Quick Access Toolbar it doesn't come in front of the screen.  We need to always move the Timing Diagram by dragging it any other direction so that we can view the Quick Access Toolbar.

To Reproduce :-
Steps to repro

[2022-03-15 01:41] pulkit-30 commented on #103
No problem, I will try to solve this 👍🏽

[2022-03-16 06:00] harshlancer commented on #3008
I would be happy to help if needed @ahmedibrahim404 ...

[2022-03-16 06:02] harshlancer commented on #2919
If this issue is still relevant I'd be happy to contribute.

[2022-03-16 13:16] #2001 closed

[2022-03-16 15:00] pulkit-30 commented on #3034
We have an idea to add a view option for the timing diagram and testbench dialog.
Please have a look at  [this](https://github.com/CircuitVerse/CircuitVerse/pull/2640#issuecomment-1030664219).

I think this will be covered in that. WDYT @gr455 @vedant-jain03

[2022-03-16 16:41] aashimawadhwa opened #3039 "Image annotation is not showing uploaded images."
**Describe the bug**
The image annotation box is not showing uploaded pictures.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to circuit elements
2. Click on annotation > Image annotation
3. Try to upload an image
4. See error

**Expected behavior**
The image should be visible

**Screenshots**
![ezgif com-gif-maker](https://user-images.githubusercontent.com/73706697/158641985-8991ec2d-6