[2020-03-19 11:34] yash15601 commented on #1241
@Vishruth-S it is working fine

[2020-03-19 11:58] Shivansh2407 commented on #1241
Please Check Again or explain the issue elaborately . This is working fine for me as well @Vishruth-S.

[2020-03-19 12:04] Vishruth-S commented on #1241
Okay...must be some internal error in my browser ig...nevermind

[2020-03-19 12:05] Shivansh2407 commented on #1241
Please Mention the Environment and the browser you are using @Vishruth-S .

[2020-03-19 12:14] Vishruth-S commented on #1241
My browser is chrome

And this is what i meant by the error
![bandicam-2020-03-19-17-40-11-237](https://user-images.githubusercontent.com/55310756/77066465-36829980-6a09-11ea-9218-b515f3e26287.gif)

[2020-03-19 12:15] Vishruth-S commented on #1241
I am not able to fully zoom out once zoomed in...

[2020-03-19 12:20] Shivansh2407 commented on #1240
Similar to #590

[2020-03-19 12:25] yash15601 commented on #1241
Are you Talking About Mouse scroll or zoom in zoom out button

[2020-03-19 12:26] Vishruth-S commented on #1241
Both of them give the same issue

[2020-03-19 13:01] RohitKumarGit commented on #1240
It hasn't been fixed yet though

[2020-03-19 14:24] yash15601 commented on #1241
@Vishruth-S  both are working fine

[2020-03-19 14:25] KaustubhDamania commented on #602
@satu0king What if the interaction with simulator area is disabled when any dialog is open? So when a dialog is open, such as combination analysis, then the user won't be able to add new elements in the simulator area.

[2020-03-19 14:33] KaustubhDamania commented on #590
Is this issue still open? I'd like to work on it.

[2020-03-19 14:35] yash15601 commented on #590
@KaustubhDamania  both the issues are solved i think @Shivansh2407 and i have made pr

[2020-03-19 14:42] KaustubhDamania commented on #590
Okay, just saw your PR. I think <a href="https://getbootstrap.com/docs/4.3/components/tooltips/">Tooltips</a> would be more useful in this case.

[2020-03-19 14:49] Shivansh2407 commented on #590
Each element has a defined tooltip @KaustubhDamania .

[2020-03-19 14:59] KaustubhDamania commented on #590
@Shivansh2407 I meant the tooltip mentioned below, on hovering on each element, a tooltip would be visible mentioning the name of the element.

![cropped](https://user-images.githubusercontent.com/33577657/77081104-275b1600-6a20-11ea-9eca-4d775093195b.png)

[2020-03-19 15:10] Shivansh2407 commented on #590
Yes this can be done @KaustubhDamania. Other way of implementing it can be, we can fade the element on hover and then on a light blue faded bg we can show the element name. This way we get more space and also bigger text. I would like to know the views of @satu0king and @nitin10s on this.

[2020-03-19 15:12] KaustubhDamania commented on #590
The result will look like this (I haven't styled it yet)

![cropped1](https://user-images.githubusercontent.com/33577657/77082487-22976180-6a22-11ea-8bd9-170d0811b232.png)

@Shivansh2407 @nitin10s

[2020-03-19 15:45] yash15601 commented on #590
Looks good  will be visible to all  this can overcome the issues of small size element name

[2020-03-19 17:53] sal2701 opened #1243 "'Show Assignment' button not visible when logged in as Student"
**Describe the bug**
Student should be able to look at the assignment. The show button is not visible.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as student
2. Go to a group and see assignments
3. Show button is not visible

**Expected behavior**
Show button should be visible which would take you to the assignment page beside the start working button

**Screenshots**
![Screenshot

[2020-03-19 18:14] Vishruth-S commented on #1241
Okay...Closing this issue..

[2020-03-19 18:14] #1241 closed

[2020-03-19 20:21] nitin10s commented on #590
Nope, the text doesn't look associated with the element due to lack of proximity.

[2020-03-19 21:20] KaustubhDamania commented on #590
@nitin10s I can make it look like the screenshot I sent earlier, the latest screenshot wasn't styled

[2020-03-20 05:11] RohitKumarGit opened #1247 "UI Enhancement - Color scheme of the Naviagation Bar"
**Is your feature request related to a problem? Please describe.**
The colors of the navigation bar is not , in harmony and completely not par with current modern design trend and scheme

**Describe the solution you'd like**
As the modern design is completely based on flat design and placement , I want that only the logo should be on left , when we hover an item , the background and the color of f

[2020-03-20 05:19] RohitKumarGit opened #1248 "UI Enhancement - Color scheme and look of the Circuit Element Selector"
**Is your feature request related to a problem? Please describe.**
The Design of the sidebar from where we are selecting elements looks "historic" , out of date

**Describe the solution you'd like**

 I want the dropdown to look like bootstrap's accordians. I want some adequate padding and margin between the input elements there. I want buttons to be of  "Ghost style " , all of these will improve

[2020-03-20 05:29] RohitKumarGit opened #1249 "UI Enhancement - Look and placement of buttons in sidebar"
**Is your feature request related to a problem? Please describe.**
There is literally no proper padding and margin between the form elements , especially the two buttons and the input field . Moreover the "Delete circuit button " is of red color , which is not anywhere in the website , Design looks obsolete.

**Describe the solution you'd like**
I want horizontally aligned , same color , "ghost st

[2020-03-20 05:39] RohitKumarGit opened #1250 "Signup and LogIn should happen in the simulator itself."
**Is your feature request related to a problem? Please describe.**
Consider me a new user , I opened the website and just started playing without noticing the "Sign in" button . Suddenly when I will want to save the project , I will click the button and it will take me out of the page , believe me it's frustating and not okay.

**Describe the solution you'd like**
I want that there should be a coo

[2020-03-20 06:40] nitin10s commented on #590
That would be great

[2020-03-20 06:54] KaustubhDamania commented on #590
Cool, then I'll start working on this and submit a PR ASAP! @nitin10s

[2020-03-20 07:55] #1239 closed

[2020-03-20 08:07] abstrekt opened #1253 "Show password seemed off in login page"
**Describe the bug**
In the log-in page, the show password button seemed off, please refer the screenshots

**Screenshots**
![Firefox_Screenshot_2020-03-20T08-05-57 205Z](https://user-images.githubusercontent.com/42478217/77145892-c1b66a80-6aaf-11ea-964e-4529724c82f7.png)

**Desktop (please complete the following information):**
 - OS: Windows 10 pro 64x
 - Browser Firefox
 - Version 74.0 32bit

*

[2020-03-20 08:52] abstrekt commented on #1167
ok I'm working on it, @akansha-singh  left, is it okay @rishipurwar1 ?

[2020-03-20 10:42] MrBartusek commented on #1253
Duplicate of #769

[2020-03-20 12:53] abstrekt commented on #769
I can work on the login-page for whatever seems off if all the claimers aren't working on it anymore, It's the second page all user's sees while visiting, I did a styling of the checkbox  #1259  (awaiting reviews)
@MrBartusek @nitin10s

[2020-03-20 13:40] yash15601 commented on #1237
@akansha-singh  Can i make a pr  for this

[2020-03-20 15:18] #1219 closed

[2020-03-21 00:06] #246 closed

[2020-03-21 06:57] RohitKumarGit opened #1264 "In the mobile mode the menu items shift to right."
**Describe the bug**
Abnormal position of the menu items.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '.simulator'
2. decrease width of browser
**Expected behavior**
The menu items should be properly placed and vericatlly centred.

**Screenshots**
![Capture](https://user-images.githubusercontent.com/59276987/77221389-4d430080-6b6f-11ea-8059-f782b03e3d62.PNG)

**Desktop ( windows 10

[2020-03-21 06:58] Nitish145 commented on #1264
@RohitKumarGit simulator will be disabled on mobile.

Please close this issue..

[2020-03-21 07:04] Sj1218305 opened #1265 "Adding Comments Section under Projects."
**Describe the solution you'd like**
Adding "See Responses" at the end of Project. Here users can see other's comments and can also add if they want. This will help in providing more specified description of the project.

![4HefbVP](https://user-images.githubusercontent.com/46301590/77227625-ad559900-6ba7-11ea-9ff3-6264ed669a6a.png)

**Are you working on this? (Yes/No)**
YES

[2020-03-21 07:14] Shivansh2407 commented on #1265
Please Post the screenshots. Similar to #1073

[2020-03-21 07:27] Sj1218305 commented on #1265
I have not started working on this issue yet. When the mentors will review it and if they permit me, then I will post the required screenshots in a PR

[2020-03-21 08:04] #1264 closed

[2020-03-21 09:31] krishanu-2001 opened #1267 "new circuit improvement in simulator"
**Describe the bug**
A clear and concise description of what the bug is.
1) ### The new circuit service in simulator 'looks off' when input name of varying length.
![issue1](https://user-images.githubusercontent.com/56930593/77223233-8c2d8200-6b80-11ea-8a4e-173c98d77ced.png)

2) ### The new circuit fails when input name is large for the screen size.
![issue2](https://user-images.githubusercontent.

[2020-03-21 09:53] krishanu-2001 opened #1268 "pin/ unpin of movable circuit tabs"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
Deploy pin/unpin options as an icon or on right click, this will be useful if the tabs are movable
other tasks - make the tabs movable, if not already --#443

**Additional context**
Such features are necessary for any modern UI, this will increase performance, engagement of client.

**Are you w

[2020-03-21 10:36] #1243 closed

[2020-03-21 10:52] MrBartusek commented on #769
@nitin10s @abstrekt I completely re-elaborate the whole issue, now it should be cleaner

[2020-03-21 10:58] #1238 closed

[2020-03-21 11:04] #1253 closed

[2020-03-21 11:08] abstrekt commented on #769
Removing some padding & margin will fix point 3
![Firefox_Screenshot_2020-03-21T11-07-37 257Z](https://user-images.githubusercontent.com/42478217/77225116-4d082c80-6b92-11ea-9d57-ec44e582e85c.png)

[2020-03-21 11:14] abstrekt commented on #769
CV uses fontawesome, so we can use their social icons, should look good for point 2.
![Firefox_Screenshot_2020-03-21T11-13-00 879Z](https://user-images.githubusercontent.com/42478217/77225208-1da5ef80-6b93-11ea-8bc8-c28354de27c3.png)
![Firefox_Screenshot_2020-03-21T11-13-54 694Z](https://user-images.githubusercontent.com/42478217/77225218-2c8ca200-6b93-11ea-8932-82b315e2b993.png)
![Firefox_Screens

[2020-03-21 11:22] #1229 closed

[2020-03-21 11:23] abstrekt commented on #769
maybe for 4
![Firefox_Screenshot_2020-03-21T11-22-17 442Z](https://user-images.githubusercontent.com/42478217/77225366-65794680-6b94-11ea-83d7-bc2cc8239d94.png)

[2020-03-21 11:24] abstrekt commented on #769
Shall I start working on it now? @nitin10s @MrBartusek

[2020-03-21 11:32] nitin10s commented on #769
We've tweaked the input boxes actually, I'll send the new design soon.

[2020-03-21 11:39] abstrekt commented on #769
was it Sign-in/Sign-up page layout ..

[2020-03-21 11:44] satu0king commented on #971
@YizhePKU, All the CAD tools I have used do not seem to do that. Copy means copy unless pasted. Because we might want to paste in this circuit, another subcircuit or entirely another project. The original issue posted by @DevL0rd actually says not to deselect everything once pasted. This means the pasted items needs to be selected, so it can be moved to the exact location after pasting. I see this

[2020-03-21 11:56] #1197 closed

[2020-03-21 12:08] satu0king commented on #1158
No, we wouldn't want this to be a mail because a mail at least directly as a mail would require authentication.

For a basic design, a mechanism to submit the feedback is to embed a google form or similar form. This is very ideal as it is super easy to manage, update etc. See https://optinmonster.com/best-ways-to-collect-customer-feedback/ and similar articles for ideas.

@nitin10s is suggesting t

[2020-03-21 12:09] #848 closed

[2020-03-21 12:11] ciphereck commented on #1119
It's like creating a chat app inside the CV website like slack I think?
Also, don't you think assigning mods for a number of channels is a little difficult considering the size of the community? @tirthyme
Anyways an idea worth discussing.

[2020-03-21 12:13] satu0king commented on #1158
https://mopinion.com/34-online-feedback-tools-an-overview/

Another very useful article

[2020-03-21 12:19] darkshredder commented on #1158
@satu0king for now i can redirect it google form, during gsoc period we can make it better that would be best.... so i would like you to create google form and i will open up the PR

[2020-03-21 12:27] KaustubhDamania commented on #971
@satu0king what if we display a toast message that an element(s) has been copied? So the user wouldn't be confused whether the element is copied or not.

[2020-03-21 12:46] satu0king commented on #971
@KaustubhDamania you can show but tell me which CAD tool shows that elements have been copied? In this case it won't confuse the user further but as a thumb rule deviating from what is conventionally done is not a good idea.

[2020-03-21 13:03] KaustubhDamania commented on #971
@satu0king yeah, got it! :+1:

[2020-03-21 14:45] #1237 closed

[2020-03-21 17:59] #635 closed

[2020-03-21 18:10] sgpritam commented on #1240
@RohitKumarGit Please provide the ss

[2020-03-21 18:57] akshathkaushal opened #1274 "Invert Colors"
**Is your feature request related to a problem? Please describe.**
I have seen a feature of inverting colors in some projects. So I want to add the same feature in the simulator at least.

**Describe the solution you'd like**
I am thinking of adding a toggle button which can help in switching between inverted and original mode.

**Are you working on this? (Yes/No)**
yes

[2020-03-21 19:01] nitin10s commented on #1158
I don't know if I am making sense, I thought of user-submitted issues getting posted in Slack directly, by making use of Incoming Webhooks of Slack Customized App, if anyone will be willing to try this can tell. @satu0king whatsay?

![FireShot Capture 200 - Slack API_ Applications - CircuitVerse Slack - api slack com](https://user-images.githubusercontent.com/16988558/77234433-68942700-6bd4-11ea-9

[2020-03-21 19:12] yash15601 commented on #1158
good idea , we can make channel for #issues and if user post any issues will be send to those issues channel Can i try this @nitin10s  if @satu0king  agree

[2020-03-21 19:31] mahmodHammad opened #1277 "Make Cards Clickable"
### make Example cards clickable

![image](https://user-images.githubusercontent.com/41790090/77235019-2f9b8880-6bbb-11ea-827e-eba8feb97f5b.png)

###Are you working on it (NO)

[2020-03-21 20:09] nitin10s commented on #1158
Exactly @yash15601, if @darkshredder doesn't mind, you may work on it. Just please try to build this as fast as possible. or maybe you two could coordinate and make it together, @darkshredder could make the frontend part and you could connect it with slack.

[2020-03-21 20:11] yash15601 commented on #1158
@nitin10s will try to finish  asap

[2020-03-22 00:24] #1227 closed

[2020-03-22 03:12] YizhePKU commented on #971
@satu0king The tool I'm using is LTSpice and it handles copy-pasting just like I've described. But yeah perhaps it is not typical, and we should aim for something that is more familar to the users.

[2020-03-22 04:23] YizhePKU commented on #971
@satu0king I agree that we should aim for behavior that is familiar to most users. But there might be a confusion here. What I meant is that copying is still the same as before, but when pasting, let the circuits follow the cursor. This way we can still paste in another subcircuit or another project easily. That's how LTSpice works and I find it intuitive. Perhaps it is a solution worth considerin

[2020-03-22 08:26] yash15601 commented on #1158
@nitin10s this feature should be in home page or in simulator page

[2020-03-22 09:09] nitin10s commented on #1158
Just in simulator page for now.

[2020-03-22 09:41] Sudhir-Pawar opened #1280 "Seperate Tab for Element and Properties menu"
Circuit Element and properties can be separated

![sep](https://user-images.githubusercontent.com/54767646/77246773-738c9d00-6c50-11ea-9e87-8998318566a2.png)

I have prepared sample mock up how menu might look like.It allow faster access of properties a user can select a element which is being placed in simulator and dive into its properties faster through it.

[2020-03-22 09:43] yash15601 commented on #1280
???? @Sudhir-Pawar  description  please

[2020-03-22 11:51] Cinderace commented on #1277
Hey, can I work on this?

[2020-03-22 13:18] Vishruth-S commented on #1277
I would like to commit a change as shown below
![bandicam-2020-03-22-18-43-51-708](https://user-images.githubusercontent.com/55310756/77250360-90839900-6c6d-11ea-8d6a-1d5ff95c2d67.gif)

@mahmodHammad  Please suggest if any further modification is required

[2020-03-22 21:46] mahmodHammad commented on #1277
@Vishruth-S
this hover effect is good
but it would be great if you could add this line
transition: all 0.3s ease;

![ani](https://user-images.githubusercontent.com/41790090/77261471-59c27880-6c97-11ea-87d0-0ea617de1fce.gif)

[2020-03-23 03:30] Vishruth-S commented on #1277
@mahmodHammad
Is this alright?
![bandicam-2020-03-23-08-56-00-995](https://user-images.githubusercontent.com/55310756/77278146-99638180-6ce4-11ea-98cd-8f04539fe6c4.gif)

[2020-03-23 04:07] mahmodHammad commented on #1277
@nitin10s
Please take a look at this

[2020-03-23 06:36] #914 closed

[2020-03-23 07:12] #590 closed

[2020-03-23 07:31] nitin10s commented on #1277
Reduce the size of the circuit box when hovered, like in the picture @mahmodHammad sent.

[2020-03-23 07:32] nitin10s commented on #1277
@Cinderace should work on this issue if available.

[2020-03-23 07:55] #930 closed

[2020-03-23 08:01] satu0king commented on #659
This is issue is actually incorrect,

Try this
![image](https://user-images.githubusercontent.com/2092958/77294613-9b403b80-6d0a-11ea-855c-96933ae1b4f0.png)

[2020-03-23 08:06] satu0king commented on #659
We still need to resolve this degenerate case as well, as the user cannot be expected to know this.

[2020-03-23 08:27] boukeas opened #1285 "Sharing links to circuits so that anyone can access them"
At the moment, a user that is not logged into Circuitverse can launch the simulator at circuitverse.org/simulator/ and start creating circuits. Saving their work requires logging in.

However, simulator URLs for specific circuits (like circuitverse.org/simulator/edit/xxxxx) cannot be launched from users who are not logged in or don't have an account. It would be really useful to add that feature,

[2020-03-23 08:34] Cinderace commented on #1277
@nitin10s Okay! I'm on it!

[2020-03-23 08:58] Vishruth-S commented on #1277
@Cinderace Really sorry I didn't notice your earlier comment. I am no longer working on this, You can take it up :)

[2020-03-23 10:39] krishanu-2001 opened #1287 "collapsing simulator on adding new circuit"
**Describe the bug**
A clear and concise description of what the bug is.

 ### The new circuit fails when input name is large for the screen size.
![issue2](https://user-images.githubusercontent.com/56930593/77223262-e3335700-6b80-11ea-968c-c7dbe148d765.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'simulator'
2. Click on 'circuit'
3. Scroll down to 'new circuit +'
4. type a nam

[2020-03-23 10:47] Shivansh2407 commented on #1287
I appreciate your work but this is similar to #617 . This has been fixed in #897 .

[2020-03-23 11:13] cognitive137 commented on #2
Hello, where is the shortcut to getting started required?

[2020-03-23 11:13] krishanu-2001 commented on #1287
sure, great work there!.
Here i wanted to try something different, I allow any input size but hide the display of whole name. The name can be viewed by hovering. This has been described in figures:
agian if this is a problem, i can tag it as Ui improvement or something...

images:
1.
![hut1](https://user-images.githubusercontent.com/56930593/77310829-05fe7080-6d25-11ea-9ede-3571bd245238.png)
 2.
!

[2020-03-23 11:16] Shivansh2407 commented on #1287
Sure go ahead . But keep in mind whether it will work for longer inputs or not.

[2020-03-23 11:18] krishanu-2001 commented on #1287
That i will.
should i change title of issue. if it causes issue!

[2020-03-23 11:20] #1267 closed

[2020-03-23 11:45] satu0king commented on #1158
Have added basic feedback support. Need to add screenshot capability.

[2020-03-23 11:47] Shivansh2407 commented on #1158
Screenshot capability can be added similar to that present in the simulator currently. We just need to remove various features from it and add a simple screenshot button. Right @satu0king ?

[2020-03-23 11:48] yash15601 commented on #1158
we can have file upload button in that

[2020-03-23 11:53] satu0king commented on #471
Resolved

[2020-03-23 11:53] #471 closed

[2020-03-23 12:00] #817 closed

[2020-03-23 12:11] satu0king commented on #808
Update: let the option be view project page and it should open the corresponding project page and not the user page.

[2020-03-23 12:18] satu0king commented on #850
Note that, the color picker should pick color, convert to hex and send inside to the function. Therefore this should only be a UI change. I actually prefer having the current option of writing the color name/color hex code as its easier to say I want "red", "green", "blue" rather than picking it from a color picker. Of course some users might need to have the color chosen from a picker.

[2020-03-23 12:26] #852 closed

[2020-03-23 13:44] Cinderace commented on #1277
@chaudharirohit2810 I am currently working on it. Please find another issue. Thank you.

[2020-03-23 13:47] chaudharirohit2810 commented on #1277
Okay

[2020-03-23 14:04] MrBartusek commented on #850
That's might be a good option to implement in #849

[2020-03-23 17:00] sal2701 commented on #659
@satu0king Yeah, but I feel we need to have a standard, like it won't work if there are any "X" left. If we follow it, output for the table 1 above can be obtained using a 1 input "C" and single output rather than 3 inputs. What do you feel?

[2020-03-23 17:42] nitin10s commented on #1287
Duplicate #617

[2020-03-23 17:42] #1287 closed

[2020-03-23 18:27] #1218 closed

[2020-03-23 18:29] #1144 closed

[2020-03-24 00:07] #23 closed

[2020-03-24 00:35] #1205 closed

[2020-03-24 00:48] #1118 closed

[2020-03-24 05:42] Sj1218305 opened #1291 "Alignment Issue of Title in Mobile View"
**Describe the bug**
alignment issue in magin of Title of Project in mobile view.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Simuator in Mobile view'
2. Click on 'Hamburger button'
3. See error

**Screenshots**
![RvsyS6O - Imgur](https://user-images.githubusercontent.com/46301590/77392115-4232df00-6dc0-11ea-94db-6bfe0738aa51.png)

**Desktop (please complete the following informat

[2020-03-24 09:37] mahmodHammad opened #1293 "featured_circuits Still on the old UI"
**Describe the solution you'd like**
I Think https://circuitverse.org/featured_circuits Should look like  https://circuitverse.org/examples

![image](https://user-images.githubusercontent.com/41790090/77410479-93909d80-6dc3-11ea-86ef-1769f839328e.png)

**Are you working on this? (Yes/No)**
NO

[2020-03-24 10:37] abstrekt commented on #1293
can you confirm @nitin10s I can work on it!

[2020-03-24 12:31] boukeas commented on #1285
Let me add some context to this request: in secondary education, it cannot be assumed that all students will have e-mail accounts with which to register. Ideally, a teacher would share a link to a circuit that the students can access (without being logged in) in order to experiment with or extend.

[2020-03-24 19:22] nitin10s commented on #1293
The thing is there is a confusion with the search bar, featured circuits, examples, Editor Picks. We plan to resolve this during the GSoC Period.

[2020-03-24 20:28] nitin10s opened #1294 "Log In link in Footer does nothing if user is logged in"
**Describe the bug**
The login link in footer redirects to nowhere if the user is logged in.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to CircuitVerse
2. Click Login in the Footer

**Expected behavior**
Clicking on it should redirect to the My Circuits Page

**Are you working on this issue? (Yes/No)**
No

[2020-03-24 20:55] yash15601 commented on #1294
@nitin10s  will try to fix this asap

[2020-03-24 20:58] yash15601 commented on #1294
@nitin10s  we should remove that link if the user is logged in their no use of that link

[2020-03-24 20:59] Ananthavijay commented on #1294
I think it would be better if `Login `changes to `My Circuits` if the user is logged in.

[2020-03-24 21:10] yash15601 commented on #1294
@Ananthavijay  let see what @nitin10s  says

[2020-03-25 00:07] #511 closed

[2020-03-25 00:14] #1173 closed

[2020-03-25 09:51] MrBartusek commented on #379
I think I should mention it here
This issue is blocked by: #849. It is needed to fully implement deleting the account or downloading user's information.

[2020-03-25 11:27] ShubhankarKG opened #1296 "Change content of how Students can contribute"
**Is your feature request related to a problem? Please describe.**
The contribute page that shows how students can contribute currently shows the following three points :-
1. Create amazing circuits and share on the platform
2. Find and report bugs. Become a bug hunter
3. Introduce the platform to your buddie
Out of these, only the first point is actually applicable to students.

**Describe the so

[2020-03-25 11:42] #851 closed

[2020-03-25 12:41] nitin10s commented on #1294
I agree with @Ananthavijay

[2020-03-25 12:45] nitin10s opened #1297 "Circuit Preview not Available"
**Describe the bug**
Some of the circuit previews can't be seen

**To Reproduce**
Steps to reproduce the behavior:
As far as I know, the circuits that you yourself make have the preview.
The circuits that you fork from someone else don't have the preview.

**Expected behavior**
A preview should be visible

**Screenshots**
![FireShot Capture 210 - Nitin Singhal - Favourite Circuits - circuitverse o

[2020-03-25 12:49] Shivansh2407 commented on #1297
Can I fix this @nitin10s ?

[2020-03-25 12:56] yash15601 commented on #1294
@nitin10s  okay will do that

[2020-03-25 13:04] nitin10s opened #1298 "Starring the Circuit has problems"
**Describe the bug**
On opening any of the favourite circuits, the icon displays it the opposite, although the working is completely fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your favourite projects
2. Open one of the circuits and observe the icon should be filled.

**Expected behavior**
The icon should appear filled if the circuit has been already starred.

**Screenshots**

[2020-03-25 13:15] Nitish145 commented on #1298
Working on it @nitin10s

[2020-03-25 13:24] nitin10s commented on #1297
No, please fix your already opened PRs before taking up new issues.

[2020-03-25 13:27] nitin10s commented on #1298
Ok, but see to it, that you've resolved your already opened PRs as well.

[2020-03-25 14:34] nitin10s commented on #1294
Please see to it that you resolve your previously opened PRs before taking up new issues.

[2020-03-25 14:52] yash15601 commented on #1294
yes @nitin10s  I'm working on that issues  just facing some little problems will fix that pr soon

[2020-03-25 15:05] satu0king commented on #710
This has been closed due to comments here - https://github.com/CircuitVerse/CircuitVerse/pull/887

[2020-03-25 15:05] #710 closed

[2020-03-25 15:13] krishanu-2001 opened #1300 "close cross removes on changing circuit name"
**Describe the bug**
A clear and concise description of what the bug is.
when trying to change circuit name close cross dissapears

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'simulator'
2. Scroll down to 'circuits in properties > right pane'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
close cross should remain there and perfo

[2020-03-25 16:12] ShubhankarKG commented on #1297
What files handle these ? I'm unable to locate one. Any help @Shivansh2407 ?

[2020-03-25 16:17] yash15601 commented on #1297
CircuitVerse/app/views/users/logix

[2020-03-25 16:36] Nitish145 commented on #1297
@ShubhankarKG you working on this ??

[2020-03-25 16:50] Shivansh2407 commented on #1297
@ShubhankarKG as @yash15601 said. I guess this might be an issue due to image_tag or the image URL. 👍

[2020-03-25 17:40] ShubhankarKG commented on #1297
Yeah, I'm working on this @Nitish145 . I might finish it by day after tomorrow at earliest. Thanks @Shivansh2407 @yash15601

[2020-03-26 00:07] #374 closed

[2020-03-26 10:00] #1294 closed

[2020-03-26 11:18] kromate commented on #1293
Can i also work on this @nitin10s ?

[2020-03-26 11:37] kromate opened #1304 "Top Users"
**feature request**
Noticed the coming soon feature of Top User request in the examples page and would love to work on it

**Describe the solution you'd like**
create a table with the users their projects and time spend on the site ( Depending on what is used to grade the top users ). planning on building the table using bootstrap and making it dynamic but adding a JavaScript function to update th

[2020-03-26 11:47] kromate opened #1305 "Search"
**feature request.**
Noticed that the Search bar in the Examples page doesn't have a search button and would require the user to click the enter button on their keyboard before it search, this might be inconvenient for mobile users and users with faulty keyboard

**Describe the solution you'd like**
I would just be adding a search button beside the search bar, to make things easier and this button

[2020-03-26 17:01] nitin10s commented on #1305
Yep, thats needed. Cool

[2020-03-26 17:30] #1296 closed

[2020-03-26 17:31] #1204 closed

[2020-03-26 17:46] kromate commented on #1305
The page were the search bar is located can be found under which sub repo

[2020-03-27 00:07] #602 closed

[2020-03-28 05:44] 1997SHUBHAM commented on #1249
Solved this issue

[2020-03-28 05:54] 1997SHUBHAM commented on #1167
I worked on it and solved the check box style problem

[2020-03-28 05:59] harshgujrati commented on #1305
CircuitVerse\app\views\logix\examples.html.erb

[2020-03-28 11:47] #1146 closed

[2020-03-28 12:46] satu0king commented on #7
An inbuilt solution has been implemented in this PR #423. However, this may not scale and we need to use a 3rd party API. As of now we haven't sent a single email blast using this service, so it is untested. There are over 20,000 subscribers currently.

[2020-03-28 13:17] mahmodHammad opened #1308 "fixing zooming issue"
**Describe the bug**
zoom doesn't work from keyboard
with ctrl + = or ctrl + - buttons

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org/simulator'
2. Click on 'ctrl + = '
3.notice that zoom doesn't work

**Additional context**

1. grid doesn't update after zooming from the keyboard

1. the user has to click on the bard before zooming

1. the + , and - buttons s

[2020-03-28 14:27] Shivansh2407 commented on #1308
The zoom actually works in the simulation area but after pressing CTRL + =/(+) you need to click on the grid/simulation area to see the results .
Steps :
1. Click on the Grid
2. Press CTRL + =
3. Click on the Grid after pressing the keys to see the result.
It actually needs to be fixed because not everyone would be aware that we need to click after pressing the keys.

[2020-03-28 14:31] mahmodHammad commented on #1308
aha after i put a component i fount it zooms
but

[2020-03-28 18:53] abstrekt opened #1309 "After saving a project online with name ended with '\' cant relaunch that project"
**Describe the bug**
when saving any project with name ended with \
**To Reproduce**
Save **online** a project by any name ending with '\' without quotes & re-launch it
unable to use
<pre>\</pre>
here too
4. See error

can't test to solve it as it's reporduced on "save online"

**Desktop (please complete the following information):**
 - OS: win 10
 - Browser : firefox/chrome/edge
 - Version [e.g.

[2020-03-28 19:02] abstrekt commented on #1309
need to add something to the ```stripTags``` functions, seeing what can be done..

[2020-03-29 04:33] mahmodHammad opened #1311 "Copy Component copying it Literally !"
**Describe the bug**
when user copy a component he copies it as text so if he pasted in other places he would past  the component's details as a big object

![copy](https://user-images.githubusercontent.com/41790090/77840338-a4a42a80-7186-11ea-9c9a-c2b0b6af80f7.gif)

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser: chrome

**Are you working on this issue? (Yes/No

[2020-03-29 04:50] mahmodHammad opened #1312 "copy cut past with a keydown!"
**Is your feature request related to a problem? Please describe.**
I want to assign a key like c to copy directly, x to cut, v to past .without having to press CTRL

**Additional context**
this would make it possible to customize keys for Copy, Cut, and Past later!
**Are you working on this? (Yes/No)**
YES

[2020-03-29 07:31] satu0king commented on #1311
Why is this approach wrong?

[2020-03-29 07:33] satu0king commented on #828
So many people have sent PRs inverting this feature again and again over time. There is no solution, each OS does something differently, each browser does something differently, mouse and keypad do something differently. Unless someone comes up with a real solution, we are not going to merge simple inversions

[2020-03-29 07:37] mahmodHammad commented on #1311
@satu0king
i think because users shouldn't see any side effects from our code, like this long object when he past at somewhere else

[2020-03-29 08:06] abstrekt commented on #1312
It is listed in assignment task for a project , **custom shortcuts**, most of the applicants have already implemented it in their private repo,

[2020-03-29 08:07] mahmodHammad commented on #1312
This is not the project task

[2020-03-29 11:25] Ananthavijay commented on #1026
@satu0king @tachyons This issue can be closed

[2020-03-29 13:23] #1026 closed

[2020-03-29 14:42] nitin10s opened #1315 "Confusing Favourites Page"
**Describe the bug**
Currently, the circuits in Favourites Page don't display the author, this sometimes becomes confusing and is important information that should be supplied.

**Screenshots**
In this screenshot below, one of the projects is my forked but I can't differentiate which one it is.
![download (2)](https://user-images.githubusercontent.com/16988558/77851931-79a6ee80-71f9-11ea-9ed0-594d

[2020-03-29 14:46] nitin10s opened #1316 "Deselecting elements in Simulator"
**Describe the bug**
Currently, to deselect the selected elements on the simulator, we have to double click on a clear space.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Simulator
2. Select one or more elements
3. Double click somewhere else to deselect

**Expected behaviour**
As used in Windows and everywhere as far as I remember, a single click should deselect the element.

**Scr

[2020-03-29 14:49] mahmodHammad commented on #1316
can i work on it ?

[2020-03-29 14:52] nitin10s commented on #1316
Work on your proposal, please. Take up issues after 31st.

[2020-03-29 14:55] mahmodHammad commented on #1316
@nitin10s
DONE ! 🙂
![selet](https://user-images.githubusercontent.com/41790090/77852271-0643b380-71de-11ea-9973-a635b2a744d1.gif)

[2020-03-29 15:18] nitin10s opened #1317 "CircuitVerse Help Doesn't work for some elements."
**Describe the bug**
The Help feature doesn't work for most of the elements. E.g NAND Gate

**Screenshots**
![download](https://user-images.githubusercontent.com/16988558/77852884-9b56a480-71fe-11ea-97eb-992d021939cb.png)

**Are you working on this issue? (Yes/No)**
No

[2020-03-29 15:33] Ananthavijay commented on #1317
Can I work on this?

[2020-03-29 22:30] sal2701 opened #1318 "Keep the Properties Menu fixed and scroll just the elements menu in the simulator"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when the element menu expands and the property menu goes below the screen and I have to scroll for it.

**Describe the solution you'd like**
Keep the Property Menu fixed at the bottom left and just make the element list scroll-able. At the same time, bring the expanded element list into focus, scrolling can be

[2020-03-30 01:06] mahmodHammad commented on #1318
thank you for reporting that.
actually this sidebar is going to be redesigned as a part of project 4, **as soon as possible :)**

[2020-03-30 05:17] shubhankarsharma00 commented on #470
@nitin10s can you reopen this?

[2020-03-30 05:30] shubhankarsharma00 commented on #445
@satu0king can we reopen this?

[2020-03-30 07:45] DevL0rd commented on #935
Absolutely it does!

[2020-03-30 07:46] DevL0rd commented on #935
For this one it only happens when the mouse isn't hovering over the toolbar. The simulator thinks the canvas is focused because of the mouse being over it. When in reality it should wait for the label input to be unfocused.

[2020-03-30 07:50] DevL0rd commented on #935
This is unrelated to the removal of objects while editing label properties I THINK, not 100%.
I believe it has to do with not checking weather the label input is not focused before focusing the simulator.

[2020-03-30 11:18] Potential17 commented on #1318
Would like to work on this issue

[2020-03-30 11:19] Potential17 commented on #1317
Would like to work on this

[2020-03-30 11:24] MrBartusek commented on #844
still valid

[2020-03-30 11:26] MrBartusek commented on #809
still valid

[2020-03-30 17:20] nitin10s opened #1320 "Misleading Icon in Simulator"
**Describe the bug**
The delete icon on the right toolbar is a cross that is misleading. It should instead be a "bin"

**Screenshots**
![FireShot Capture 218 - CircuitVerse - Digital Circuit Simulator online - circuitverse org](https://user-images.githubusercontent.com/16988558/77942063-bd245a00-72d8-11ea-8f93-5f71255b7e35.png)

[2020-03-30 17:20] nitin10s commented on #1320
@satu0king whatsay?

[2020-03-30 17:23] yash15601 commented on #1320
@nitin  I think yes it should be change

[2020-03-30 17:26] Ananthavijay commented on #1320
And also the undo icon should be other way, right now it looks like rotate icon

[2020-03-30 17:35] nitin10s commented on #1320
Yep

[2020-03-30 18:38] Ananthavijay commented on #1320
Can I work on this?

[2020-03-30 18:53] yash15601 commented on #1320
@Ananthavijay yes u can

[2020-03-31 03:05] mahmodHammad opened #1323 "Featured Examples cards"
**Describe the bug**
Featured Examples cards are broken at Medium screens (starting from 768px to 1200px )
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org/'
3. Scroll down to 'featured examples'
4. reduce screen width

**Expected behavior**
cards should have the same width and the same height.
**Screenshots**
If applicable, add screenshots to help explain your

[2020-03-31 04:34] Shivansh2407 commented on #1323
In #532 we have discussed this issue, https://github.com/CircuitVerse/CircuitVerse/issues/532#issuecomment-596220506 points to how this can be fixed. I would like to know the views of @nitin10s and @tachyons on this.

[2020-03-31 05:07] harshgujrati commented on #1323
Can we implement the cards as in examples page @Shivansh2407 @mahmodHammad

[2020-03-31 06:40] #948 closed

[2020-03-31 06:43] gkan30 commented on #514
Submitted PR #940

[2020-03-31 06:53] bolubee101 opened #1325 "Direction of undo button"
While minute, the direction of the undo button is in the clockwise direction. This goes against intuition. I propose that it be turned in the other anti-clockwise direction.
![Screenshot (102)](https://user-images.githubusercontent.com/32003376/77995941-98ee6a80-7324-11ea-9f37-321a4c3b2159.png)

[2020-03-31 07:21] Shivansh2407 commented on #1325
Similar to #1320 . Fixed in #1321 .

[2020-03-31 07:40] bolubee101 commented on #1325
Oh, OK. Thanks

On Tue, Mar 31, 2020, 8:21 AM Shivansh Srivastava <notifications@github.com>
wrote:

[2020-03-31 10:37] Ananthavijay commented on #1325
This issue can be closed.

[2020-03-31 10:45] #1325 closed

[2020-03-31 11:55] mahmodHammad opened #1326 "Bug with Report Bug"
![report](https://user-images.githubusercontent.com/41790090/78023614-3ebacd00-7357-11ea-9900-8fd946a60356.gif)
**Describe the bug**
if the user accidentally pressed on a custom shortcut, it would be executed.

also **copy , past , cut doesnt' work**
**Are you working on this issue? (Yes/No)**
YES, I Already have Done this fix on my machine a will make a PR with the solution soon

[2020-03-31 12:18] yash15601 commented on #1326
Please elaborate  the bug @mahmodHammad

[2020-03-31 12:21] Shivansh2407 commented on #1326
Actually @yash15601 , @mahmodHammad wants to say that the keyboard functions that are enabled in the simulation area,upon executing them accidentally in the text area of the report bug feature also works. That means CTRL + S will save the project in the background.

[2020-03-31 12:22] mahmodHammad commented on #1326
while entering the issue message the simulator still listen to the input , if user entered
CTRL + z  for example it will undo changes on the simulator
the worse this would be when he was selecting an element then report issue , and clicked backspace , the component would be deleted

[2020-03-31 12:23] yash15601 commented on #1326
Okay @mahmodHammad  got it😇

[2020-03-31 12:23] Shivansh2407 commented on #1326
Also Select all, Copy Paste feature also does not works, They all keep on working in the simulation area in the background.

[2020-03-31 12:24] mahmodHammad commented on #1326
@Shivansh2407
i will update the issue with that

[2020-03-31 12:25] Shivansh2407 commented on #1326
Sure @mahmodHammad 👍

[2020-03-31 14:25] harshgujrati opened #1329 "A customize modal to confirm deletion of group on group page"
**Describe the solution you'd like**
A customized modal in accordance with example page design to confirm deletion of group

**Are you working on this? (Yes/No)**
Yes

[2020-03-31 16:06] nitin10s opened #1331 "Delay in Arrow, Rectangle and Text to be removed"
**Describe the bug**
Delay in Arrow, Rectangle and Text field should be removed.
@satu0king can tell better on the other elements that don't require this.

**Screenshots**
![screenshot](https://user-images.githubusercontent.com/16988558/78048621-99741900-7397-11ea-9b2a-15fdaf750733.jpg)

[2020-03-31 16:39] Shivansh2407 commented on #1331
@nitin10s can I work on it? @satu0king please let me know which elements do not require these labels.

[2020-04-01 08:20] harshgujrati opened #1333 "A Discussion forum"
**Describe the solution you'd like**
A discussion forum where logged in user can post a query and can get reply from the community, an admin role to delete a discussion thread
Moderator role can be implemented during GSoC period

**Additional context**
Add any other context or screenshots about the feature request here.

**Are you working on this? (Yes/No)**
Yes

[2020-04-01 08:45] #1333 closed

[2020-04-01 08:45] harshgujrati commented on #1333
Already implemented at https://discourse.circuitverse.org/

[2020-04-01 08:51] harshgujrati opened #1334 "Adding CAPTCHA in signup form"
**Is your feature request related to a problem? Please describe.**
Spamming of account is possible

**Describe the solution you'd like**
There must be a recaptcha verification in signup form to stop spamming of account. I will like to use
reCAPTCHA v3
Note: We will have to ask for the consent of user to use ReCaptcha

**Are you working on this? (Yes/No)**
Yes

[2020-04-01 09:14] MrBartusek commented on #856
still valid

[2020-04-01 09:15] MrBartusek commented on #855
still valid

[2020-04-01 11:34] harshgujrati opened #1336 "Stretched images in example page"
**Is your feature request related to a problem? Please describe.**
Images on example page are stretched
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Edit the image such that it looks normal and changing the background of all image to white to maintain uniformity

**Additional context**
Add any other context or screenshots about the feature reques

[2020-04-01 16:07] #1334 closed

[2020-04-01 21:49] YashKumarVerma opened #1340 "Missing 404 Page when user not found"
**Is your feature request related to a problem? Please describe.**
When a user who does not exist is called for, it returns a plain page, which is not apt.

**Describe the solution you'd like**
A conventional 404 page which matches the site's UI scheme should be added

**Describe alternatives you've considered**
or redirect to the homepage if we don't wasn't a 404 page

**Additional context**
None

[2020-04-02 04:32] #514 closed

[2020-04-02 10:45] ciphereck commented on #465
@ankitkataria I ran **bundle exec rubocop ./spec/** again, and it's still showing 12 offenses in the latest master branch. Can we reopen this issue?

[2020-04-02 10:46] ciphereck commented on #465
@ankitkataria @tachyons  I ran bundle exec rubocop ./spec/ again, and it's still showing 12 offenses in the latest master branch. Can we reopen this issue?

[2020-04-02 13:47] Shivansh2407 commented on #504
@tachyons should we display custom messages instead of the default ones ? Would like to work on this 👍

[2020-04-03 11:20] Shivansh2407 opened #1350 "Launch Button in project preview not working properly"
**Describe the bug**
Whenever the user clicks on the view button , then tries to launch it always displays the editing of the recent circuit in the user dashboard. The same happens when the user tries to fork through project preview.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org'
2. Click on 'My Circuits' after login
3. Scroll down to 'any project' => View => Launch

[2020-04-04 18:18] mahmodHammad opened #1353 "top uses button needs some style fixes[UX]"
**Describe the bug**
top uses button needs some style fixes

**Screenshots**
![users](https://user-images.githubusercontent.com/41790090/78458410-5bd20180-76b1-11ea-9c6c-f42fde0cf5a2.gif)

**Are you working on this issue? (Yes/No)**
YES

[2020-04-05 11:29] nitin10s opened #1355 "Change the Login System to Pop-up"
**Is your feature request related to a problem? Please describe.**
Currently, the login page is used from two different places -
1. Simulator
2. CircuitVerse Platform

The users accessing the login from the simulator have to redirect to a completely different screen that proves to create friction in users' journey.

**Describe the solution you'd like**
I wanted to propose a **Pop-up Login and Sign

[2020-04-05 12:07] yash15601 commented on #1355
Can I work on this @nitin10s

[2020-04-05 13:14] nitin10s commented on #1355
Let's just first discuss on this.

[2020-04-05 13:20] yash15601 commented on #1355
Sure

[2020-04-05 13:37] tachyons commented on #1355
Even if we rely on popup login, we still have to reload the page to apply the changes.

[2020-04-05 13:45] yash15601 commented on #1355
@tachyons  is right after  pressing  login the page will surely reload to check if user exist in db if then will get access this will reload the page

[2020-04-05 14:22] Shivansh2407 commented on #1355
@tachyons @nitin10s a login modal can be displayed on load of the page in top right corner in the main page just below the sign in ( which can be closed if not needed or will not be shown if the user is signed in ) .

[2020-04-05 16:21] nitin10s commented on #1355
Is it possible we reload just the popup rather than the whole page?

[2020-04-05 17:13] yash15601 commented on #1355
@nitin10s  its is possible  to reload  only modal but we have also change username in simulator  at right corner that requires  page reload

[2020-04-05 17:22] nitin10s commented on #1355
I get it and that reload is okay. The current basically disconnects the user from the simulator canvas to redirect to a completely different place. That's the problem.
.

[2020-04-05 17:42] yash15601 commented on #1355
Yes @nitin10s  I think we can change  it  by redirecting it simulator  rather than  redirecting  it to home page

[2020-04-05 17:43] aayush-05 commented on #1355
What if we save the current circuit in browser storage when the login button is pressed. The user_id to which the circuit is to be saved can be taken from the login credentials, and then after login redirect the user back to that saved circuit.

[2020-04-05 18:20] nitin10s opened #1356 "Problem in Edit Assignment page"
**Describe the bug**
Currently, there are two buttons Show and Back.
The Show button is basically a back button, the Back button redirects to the My Circuits Page
![FireShot Capture 236 - CircuitVerse - Digital Circuit Simulator - circuitverse org](https://user-images.githubusercontent.com/16988558/78506535-c2c9e600-7797-11ea-828d-3b6c3908b8d6.png)

**Expected behavior**
The Show button should be

[2020-04-05 18:21] Nitish145 commented on #1356
Can i work on this issue?

[2020-04-05 18:27] nitin10s commented on #1356
Sure.

[2020-04-05 18:29] nitin10s commented on #1355
The user needs a feedback when he presses the login button, the feedback that the top right Sign in changes to his name.

[2020-04-05 18:31] yash15601 commented on #1355
Yess and that require page reload to change state

[2020-04-05 21:22] nitin10s opened #1357 "Self inviting for collaborators"
**Describe the bug**
Currently, I can invite myself through Add a collaborator for any project. This should not happen and an error should be displayed - You can't invite yourself.

[2020-04-05 21:29] nitin10s opened #1358 "Saving Online should open in new tab"
**Describe the bug**
Whenever a user clicks to save his project [online], he gets redirected to the Edit Project Screen losing his work area.

If he wants to work further on his project he needs to click on update project button from the Edit Project Screen then click on Launch Simulator to get his circuit back.

**Expected behavior**
The Edit Project Screen should open in a new page / After click

[2020-04-06 02:05] Shivansh2407 commented on #1358
Can I work on this @nitin10s ?

[2020-04-06 02:38] harshgujrati commented on #1357
can i work on this @nitin10s

[2020-04-06 03:02] harshgujrati commented on #1357
can i work on this @nitin10s

[2020-04-06 05:10] mahmodHammad commented on #1355
I am with not to redirect the user to a separate page to login.
the popup will be perfect

[2020-04-06 05:12] mahmodHammad commented on #1355
@tachyons
Can use promises to apply the changes. , instead of reloading the whole page?
It could be something like this section at _data.js [line 503]_
![image](https://user-images.githubusercontent.com/41790090/78524567-9da79880-77d4-11ea-877c-99a0a6b91fe0.png)

if success->display a message to indicate he successfully logged in then close the popup form and update (username, id,...etc)
if failur

[2020-04-06 05:27] aayush-05 commented on #1355
I understand, that is why I am saying we can first save the current circuit in the browser storage, so the current progress isn't lost and then after reloading, we can open up the same circuit.
Although one thing I am not sure is whether we can get the user_id from the database concurrently as the user is getting logged in.

[2020-04-06 07:18] aayush-05 commented on #1350
Ah, realised the id isn't passed on those buttons; please fix the "More" button too.

[2020-04-06 07:21] Nitish145 opened #1360 "Project Show page should have Forked from in place of Forked project"
**Describe the bug**
Show Project Page has Forked Project a title for forked projects.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://circuitverse.org/
2. Go to any forked project detail page.
3. See error.

**Expected behavior**
**Forked Project** should be **Forked from**

**Are you working on this issue? (Yes/No)**
Yes

[2020-04-06 07:29] aayush-05 commented on #532
@Shivansh2407 are you still working on this ?

[2020-04-06 07:30] aayush-05 commented on #532
@tachyons @nitin10s can we reopen this issue

[2020-04-06 07:31] aayush-05 commented on #1323
@nitin10s this can be closed. Similar to #532

[2020-04-06 07:39] aayush-05 commented on #1318
@Potential17 you want to work on this issue ?

[2020-04-06 07:47] aayush-05 commented on #1312
@tachyons @nitin10s shall we close this one

[2020-04-06 07:52] aayush-05 commented on #1308
Agreed @Shivansh2407 . @mahmodHammad maybe change the Issue title to better fit the problem.

[2020-04-06 07:53] aayush-05 commented on #1304
Maybe you can discuss the approach you are planning on Slack @kromate

[2020-04-06 08:02] abstrekt commented on #1358
Are you working on this? because I think I want to work on this quick fix! @Shivansh2407

[2020-04-06 08:09] #1323 closed

[2020-04-06 08:20] Shivansh2407 commented on #1358
Will open a PR soon @abstrekt .

[2020-04-06 08:23] Nitish145 opened #1362 "Back button redirect_url is not dynamic"
**Describe the bug**
Back button at places shows unexpected behaviour because back button's redirect_url is not dynamic.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://circuitverse.org/
2. Click on My Favourites.
3. Go to project show page
4. Click on back and see error.

**Expected behavior**
Back button should redirect to the previous page.

**Are you working on this issue?

[2020-04-06 08:26] Shivansh2407 commented on #532
I think @abstrekt has worked on this . See #1347

[2020-04-06 08:29] abstrekt commented on #532
my pr was for different UI components I guess, if no one's assigned for this issue, I can work on it, @aayush-05

[2020-04-06 08:34] aayush-05 commented on #532
Got it @abstrekt . Once you push those cards to rails partial do the same with these one too, because these two are majorly the type of cards we are using. Then we can just import them wherever required and it would help maintain consistency across screens

[2020-04-06 08:35] harshgujrati opened #1364 "Bug in circuits page of other user"
**Describe the bug**
A clear and concise description of what the bug is.
When you visit my circuit page of other user and if that user don't have any project then it shows "You don't have any projects. Create one here". First issue is that instead of you the name of user must be displayed and second issue is, as create one here directs to simulator it is of no use here it must be only visible to t

[2020-04-06 08:36] Nitish145 commented on #1364
Can i work on this issue ?

[2020-04-06 08:39] mahmodHammad commented on #1312
Why?

[2020-04-06 08:42] harshgujrati commented on #1364
Yes @Nitish145

[2020-04-06 08:51] abstrekt commented on #532
ok I'm on it

[2020-04-06 11:38] Nitish145 commented on #1357
@harshgujrati you working on this issue ? or shall i take up this one..

[2020-04-06 19:57] aayush-05 commented on #1312
Because as far as I know, GSoC tasks would eventually be converted to Issues during the community bonding period.

[2020-04-06 20:47] nitin10s opened #1367 "No favicon in simulator"
**Describe the bug**
There is no favicon when we open https://circuitverse.org/simulator

[2020-04-06 22:13] YashKumarVerma opened #1368 "More Verbose Input description required for splitters"
**Is your feature request related to a problem? Please describe.**
Let's face it, splitters are a bit complex to use if one is not a very big fan of reading the manual. So when a user goes to create a splitter, the description for the input fields should be a bit verbose. For instance, when the interface asks
![image](https://user-images.githubusercontent.com/14032427/78609914-63e09b80-7881-11ea-9

[2020-04-06 22:17] YashKumarVerma opened #1369 "Unused Project Setup in Github"
**Describe the bug**
**not exactly a bug**
The project made under github projects is not being used and is there since 2019, so could we remove it all together ?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/CircuitVerse/CircuitVerse/projects

**Expected behavior**
A blank project which is not being used should not exist.

**Screenshots**
Not Applicable.

**Are you

[2020-04-06 22:18] YashKumarVerma commented on #1369
@ankitkataria
sir kindly take this into consideration.

[2020-04-06 22:41] Ananthavijay commented on #1367
There is a fix for this issue in this PR: https://github.com/CircuitVerse/CircuitVerse/pull/1035

[2020-04-06 23:14] shivaylamba opened #1370 "Use of PNG files for Sponsor images on CircuitVerse home page footer."
**Is your feature request related to a problem? Please describe.**
It is not related to a problem
![image](https://user-images.githubusercontent.com/19529592/78613820-73b0ad80-788a-11ea-835f-7f089f19b0b7.png)

**Describe the solution you'd like**
Just a simple feature request to use PNG images for the logo of the sponsors, as it is a little bit better in terms of aesthetic look of the site.

**Are

[2020-04-07 05:01] mahmodHammad commented on #470
I have a ready solution for that,
@nitin10s can I make a PR?

[2020-04-07 06:05] shubhankarsharma00 commented on #470
@mahmodHammad I think you should go ahead with the PR as you have already shared screen recording of you working solution on slack and it was working as intended.

[2020-04-07 06:56] ryuk156 opened #1372 "Issue Reporting sidebar covers the scroll bar of Timing diagram"
**Describe the bug**
Their is Issue Reporting sidebar the right corner in the simulator when we place Timing diagram in the simulator the issue Reporting sidebar cover the scroll bar  of Timing daigram

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org'
2. Click on 'simulator'
3. Add  'Timing Diagram'
4. See error

**Screenshots**
![image](https://user-images.githubuserc

[2020-04-07 06:58] YashKumarVerma opened #1373 "Complementer Curcuit Element"
**Is your feature request related to a problem? Please describe.**
While developing circuits, a lot of algorithms require 1's complement and 2's complements. It is really troublesome to create it manually, especially when using non-unity bid width.

**Describe the solution you'd like**
A clean,nice little element which returns the 2's complement of n-bit width line

**Describe alternatives you've

[2020-04-07 07:02] YashKumarVerma opened #1374 "Shifter Circuit Element"
**Is your feature request related to a problem? Please describe.**
A lot of algorithms require the bits to be either right or left-shifted, and as of now, such a component does not exist. It would be very helpful as it would greatly speed up the circuit simulation process.

**Describe the solution you'd like**
A circuit element which shifts the bits right and left as needed.

**Describe alternativ

[2020-04-07 07:19] mahmodHammad commented on #470
@shubhankarsharma00
I'm using a different implementation for copy, paste, and cut to make this works.
so I would prefer to discuss that with @satu0king  before opening the PR
i was fixed at #1313 but it included much work that will be done during GSOC so I closed it for now

[2020-04-07 07:21] mahmodHammad commented on #470
if @satu0king  agree i will extract the implementation from #1313  to a separate PR

[2020-04-07 07:53] YashKumarVerma commented on #1332
Looks like this is a fundamental issue.

https://stackoverflow.com/questions/25828450/javascript-bitwsie-operation-0-2147483648-yields-2147483648

[2020-04-07 08:30] YashKumarVerma opened #1375 "Inputs can be assigned bit-widths more than 32 manually"
**Describe the bug**
If we use the tiny arrows to increase the bit-width of an input element, it stops at 32 as the upper limit.
![image](https://user-images.githubusercontent.com/14032427/78646816-43433080-78d7-11ea-8e91-7298cac0348f.png)
But when you manually type any arbitrary number greater than 32, it accepts and increases the length of the input element.
![image](https://user-images.githubus

[2020-04-07 08:49] mahmodHammad commented on #1277
@Cinderace  any updates?

[2020-04-07 08:53] Shivansh2407 commented on #1375
Similar to #910.

[2020-04-07 09:54] MrBartusek commented on #844
@tachyons can it be re-opened?

[2020-04-07 09:55] MrBartusek commented on #809
@tachyons can it be re-opened?

[2020-04-07 10:32] YashKumarVerma commented on #1375
Closing in favour of #910

[2020-04-07 10:32] #1375 closed

[2020-04-07 10:51] #1058 closed

[2020-04-07 14:52] tachyons commented on #1312
No need to close this issue

[2020-04-07 16:18] aayush-05 commented on #1312
@tachyons @nitin10s please can anyone of you reopen this issue then

[2020-04-09 00:06] #856 closed

[2020-04-09 06:30] Nitish145 opened #1380 "Acknowledge not logged in user trying to star a Project/Circuit"
**Describe the bug**
A clear and concise description of what the bug is.
If the user is `not logged` in currently the user's tap on star project button is not acknowledged.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to circuitverse.org
2. Scroll down to examples
3. Click on `Explore More`.
4. Click on any project.
5. Try to 🌟 the project
6. See error

**Expected behavior**
A clear an

[2020-04-09 10:55] MrBartusek opened #1381 "Stale issue marking not working properly"
**Describe the bug**
When the issue is marked as inactive `no activity` label cannot be removed by issue author in any way

![image](https://user-images.githubusercontent.com/23432278/78887886-f1c6ad00-7a60-11ea-973c-4cb56307f6cb.png)

**Example issues**
#856 #855 #844 #809 #779 #963 #769

**Expected behaviour**
The label should be removed after the author post any message on issue like `still val

[2020-04-09 10:57] MrBartusek opened #1382 "Logo white spots"
**Describe the bug**
Using a black background show that the logo has a white background on parts that are not directly connected to outside the image (inside sphere and `e`)

![image](https://user-images.githubusercontent.com/23432278/78888292-a2cd4780-7a61-11ea-83c4-8fbfa20a6540.png)

**Are you working on this issue? (Yes/No)**
No

[2020-04-09 10:58] MrBartusek commented on #856
@tachyons can you please re-open this and look intro #1381

[2020-04-09 10:59] MrBartusek commented on #855
@tachyons can you please re-open this and look intro #1381

[2020-04-09 11:09] Ananthavijay commented on #1381
I think this can be done by adding this to the stale.yml: ````exempt-issue-label: <label-name>```` and ````exempt-pr-label: <label-name>````

[2020-04-09 16:41] nitin10s opened #1383 "Problems with Login in Simulator"
****Describe** the bug**
As of now, when the user is on Simulator and clicks for Login, the user gets redirected to the homepage.

**Expected behavior**
He/She should be redirected to the simulator screen itself.

[2020-04-09 16:56] Shivansh2407 commented on #1383
Can I work on this @nitin10s?

[2020-04-09 18:37] nitin10s commented on #1383
Sure

[2020-04-10 03:23] ShubhankarKG commented on #1381
Can I work on this @Ananthavijay ? Is it just the line that needs to be added ?

[2020-04-10 03:28] ShubhankarKG opened #1387 "SVG Logo update"
**Describe the bug**
The new SVG Logo needs to be updated in the header and footer sections of thew website.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://circuitverse.org'
2. Scroll up to see the header.
3. Scroll down to see the footer.
4. See error

**Expected behavior**
The logo displayed is in SVG format without advertent white marks.

**Desktop (please complete the foll

[2020-04-10 08:15] aayush-05 commented on #1265
Is this issue about adding a comment section to the website @Sj1218305 ?

[2020-04-10 08:56] aayush-05 commented on #1291
@tachyons can be closed. Issue already raised under #1028

[2020-04-10 13:30] #1360 closed

[2020-04-10 13:57] Ananthavijay commented on #982
@tachyons this can be closed.

[2020-04-10 13:58] #982 closed

[2020-04-10 14:02] ciphereck commented on #982
@Ananthavijay yeah sure. Now it can after Or #1346

[2020-04-10 21:31] mahmodHammad opened #1390 "Help for components"
**Is your feature request related to a problem? Please describe.**
I want to make f1 key open the documentation of the selected components
for example:
- if the user selected a 7-segment displayer component and clicked on the f1 key, we will open [seven-segment-display](https://docs.circuitverse.org/#/outputs?id=seven-segment-display) section at the **documentation** on a **separate tab**, to give

[2020-04-10 21:34] mahmodHammad commented on #1390
@nitin10s  @aayush-05  @satu0king  @tachyons
could someone approve this feature,
i will start working on it after 9 hours form now of anyone approved it

[2020-04-11 07:02] yash15601 commented on #1390
Great  idea it sounds good😃

[2020-04-11 10:43] nitin10s commented on #1390
Sounds like a good idea.

[2020-04-11 17:37] mahmodHammad opened #1393 "circuit verse help button is not working for most components"
**Describe the bug**
circuit verse help button is not working for most components

**Expected behavior**
user shouldn't get a blank page for some component if he clicked on the help button,

**Screenshots**
![helper](https://user-images.githubusercontent.com/41790090/79050439-479a8100-7c2a-11ea-8126-8dd81bd1c3d9.gif)

**Additional context**
The reason for this bug is that the helpline is not defin

[2020-04-11 17:39] Ananthavijay commented on #1393
Duplicate of https://github.com/CircuitVerse/CircuitVerse/issues/1317
Fix: https://github.com/CircuitVerse/CircuitVerse/pull/1319

This issue can be closed.

[2020-04-11 17:49] mahmodHammad commented on #1393
i think the best solution for this is to **totally delete the helpline** from all component and **rename IDs of the doc page to have the same name as component's name**  then we will fix it with just **2 lines** like this
![image](https://user-images.githubusercontent.com/41790090/79050822-d8725c00-7c2c-11ea-9a2d-e8683a33e786.png)
this will make the code  shorter about 50 lines, and remove the dup

[2020-04-11 19:08] mahmodHammad opened #1394 "Timing diagram"
**Describe the bug**
after putting a flag and remove it later we will get a plank white bar at the bottom which reduces the simulator height

**Expected behavior**
this div should be hidden if there are no flags
![image](https://user-images.githubusercontent.com/41790090/79052657-5ab44d80-7c38-11ea-9d70-9cba534f29ed.png)

**Screenshots**
![timing](https://user-images.githubusercontent.com/41790090

[2020-04-11 19:10] Ananthavijay commented on #1394
I guess this will be done during GSOC.

[2020-04-11 19:23] yash15601 commented on #1394
It is part of project 1  fixing ui of timing  diagram  and other issues will be solved I think so

[2020-04-12 00:07] #713 closed

[2020-04-12 00:07] #576 closed

[2020-04-12 13:16] yash15601 commented on #1394
let me work on this

[2020-04-12 13:19] yash15601 commented on #1394
@mahmodHammad  i am working on this

[2020-04-12 16:11] Ananthavijay opened #1395 "Bitwidth not changing in stepper"
**Describe the bug**
Issue reported in slack - https://circuitverse-team.slack.com/archives/C010HK6TWQG/p1586699130000800
When I set the BitWidth from a Stepper eg. on 4, Save and reopen the Project, the BitWidth is reset to 8. And it doesn't help to change the BitWidth again, I need to place a new Stepper.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org/simulator'
2.

[2020-04-12 20:41] MrBartusek opened #1397 "Fix github labels"
I was speaking with some of the contributors during GCI about our issue labels but there wasn't any elaboration so here, is it!

## Naming Scheme

Some of the labels use `naming-scheme-with-dashes`, some of them are `with spaces` some of them are `Uppercased` some of them are `lowercased` there aren't any standard.

**FIX**
use lowercased labels with spaces `like that`

## Colours
![image](https:/

[2020-04-12 22:47] Ananthavijay commented on #483
@tachyons This can be closed

[2020-04-13 00:12] #483 closed

[2020-04-13 00:21] Ananthavijay commented on #927
@tachyons This can be closed.

[2020-04-13 00:22] Ananthavijay commented on #978
@tachyons This can be closed.

[2020-04-13 00:32] Ananthavijay commented on #653
I am working on this.

[2020-04-13 03:56] #978 closed

[2020-04-13 05:41] #927 closed

[2020-04-13 07:24] Ananthavijay commented on #601
@tachyons I think this can be closed

[2020-04-13 16:23] #601 closed

[2020-04-14 04:39] #1357 closed

[2020-04-15 13:24] Ananthavijay commented on #450
@tachyons this is still valid

[2020-04-16 15:10] Shivansh2407 commented on #569
Still a Valid Issue 👍

[2020-04-17 03:01] Shivansh2407 opened #1401 "Elements Direction Label Not Properly Mentioned"
**Describe the bug**
The Direction of Elements at some places is shown in the properties by` Orientation `while in some places it is displayed `Direction`. Please Refer to the Screenshots.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org'
2. Click on 'Simulator'
3. Scroll down to 'Any Element Property'
4. See error

**Expected behavior**
It should be evenly displayed a

[2020-04-17 06:09] Shivansh2407 opened #1402 "Multiplexers and Demultiplexers not working properly"
**Describe the bug**
Multiplexers and Demultiplexers have a property of `Control Signal Size` which on increasing does not works properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org/simulator'
2. Click on 'Decoders and Plexers'
3. Select Multiplexer or Demultiplexer => Increase Control Signal Size
4. See error

**Expected behavior**
I suggest that we should limit

[2020-04-17 06:10] Shivansh2407 commented on #1402
Please let me know your views on this issue @satu0king @tachyons @nitin10s so that I can start working on it 👍 .

[2020-04-17 08:41] KaustubhDamania opened #1403 "[UX] Change color for dropdown text in Properties in simulator interface"
**Describe the bug**
The dropdown text for Label Direction and Direction in simulator interface is black hence it's not clearly visible.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [simulator](https://circuitverse.org/simulator)
2. Add any element in the simulator.
3. The properties for the element would be visible in the left sidebar.
4. The text for Label Direction and Direction

[2020-04-17 16:30] aayush-05 opened #1406 "Broken Navbar for middle-sized screens"
**Describe the bug**
The navbar broke at middle screens and the drop down isn't reachable then.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org'
2. Resize the window width to ~1000px
3. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/47032027/79591766-9fd3f600-80f6-11ea-964f-c6c29ddd5385.png)

**Are you working on this issue? (Yes/No)**
N

[2020-04-17 17:52] abstrekt opened #1407 "Redis::TimeoutError"
Bug while running development environment from latest master branch,
Probably caused by PR #1346  ,
![Firefox_Screenshot_2020-04-17T17-50-37 300Z](https://user-images.githubusercontent.com/42478217/79598731-0f9bae00-8102-11ea-8732-7f93c18440d9.png)

@ciphereck can you please verify

[2020-04-17 17:54] yash15601 commented on #1407
Yes this the big problem  I think I'm still not able to run my repo @tachyons  can you take a look please

[2020-04-17 17:55] abstrekt commented on #1407
Til it gets fixed, can that PR be unmerged? @tachyons

[2020-04-17 17:57] yash15601 commented on #1406
@aayush-05  I tryed  using truncate in username  but that dropdown toggle is creating  problem

[2020-04-17 18:30] aayush-05 opened #1408 "Improper orientation of links on Homepage"
**Describe the bug**
'Learn Logic Design' button was moved to the next line to due to insufficient space for smaller mobile displays. But it stays there for devices (ex, Iphone X) where it can be easily displayed on the same line. Putting it on the next line makes the page looks a little dis-oriented.

**Screenshots**
![image](https://user-images.githubusercontent.com/47032027/79602035-68217a00-81

[2020-04-17 19:51] nitin10s commented on #1408
Sure, this can be done

[2020-04-18 01:44] Shivansh2407 commented on #1407
This issue is there in Gitpod too. We need to update the gitpod files also.

[2020-04-18 02:41] Ananthavijay commented on #1407
@abstrekt @Shivansh2407 Try starting the Redis server manually in a new terminal by running `redis-server`.

[2020-04-18 02:43] Shivansh2407 commented on #1407
@Ananthavijay it is working on localhost for me. Gitpod needs an update or some changes.

[2020-04-18 02:44] Ananthavijay commented on #1407
In gitpod try `bundle exec redis-server`

[2020-04-18 04:23] aayush-05 commented on #1406
Oh, okay. I will try once and get back to you on this

[2020-04-18 06:51] yash15601 commented on #1407
In normal  when I execute  the redis-server in new terminal another issue is created something  kill

[2020-04-18 16:34] harshgujrati commented on #1406
We also need to add a search bar for which i think that we have to redesign navbar @nitin10s @aayush-05

[2020-04-19 16:40] ciphereck commented on #1407
Maybe try running redis-server on your system.
If you are using gitpod, you need to run redis-server on it too.
Please let me know if the problem persists.
It's working fine on my system based on latest master commits @abstrekt

[2020-04-19 16:42] yash15601 commented on #1407
We tryed  it's not working

[2020-04-19 16:45] abstrekt commented on #1407
![image](https://user-images.githubusercontent.com/42478217/79693952-32a59980-828b-11ea-9552-45f0b3fe14b1.png)

[2020-04-19 16:45] abstrekt commented on #1407
![image](https://user-images.githubusercontent.com/42478217/79693969-40f3b580-828b-11ea-8c15-168f8184e8ba.png)

[2020-04-19 16:49] ciphereck commented on #1407
@yash15601 let's wait for @tachyons to check the issue then.
@abstrekt Do you have Redis installed? Probably not. Maybe try checking this.
https://stackoverflow.com/questions/6476945/how-do-i-run-redis-on-windows/10525215

[2020-04-19 16:50] yash15601 commented on #1407
Okay

[2020-04-19 17:16] Shivansh2407 commented on #1407
It is working fine for me too on localhost based on the latest master branch👍. Please check out redis.io for help too.

[2020-04-20 05:48] #1408 closed

[2020-04-20 10:48] abstrekt commented on #1407
@yash15601 install from https://github.com/microsoftarchive/redis/releases

[2020-04-20 10:48] #1407 closed

[2020-04-20 17:49] yash15601 commented on #1406
@aayush-05 did you find any solution for truncating the user name i was working on it but still the dropdown toggle is creating  problem

[2020-04-20 18:56] aayush-05 commented on #1406
![image](https://user-images.githubusercontent.com/47032027/79788588-833df500-8366-11ea-9636-96829774263b.png)
It worked, however it just shifted the dropdown toggle a little below; but I don't think that is an issue. Whatsay @nitin10s

[2020-04-20 20:30] yash15601 commented on #1406
@aayush-05  that's  the main thing its should not be shifted  if create div and then  after we add toggle it is still shifting  @nitin10s  can you suggest something

[2020-04-21 00:42] #916 closed

[2020-04-21 03:01] Shivansh2407 opened #1410 "Error Connecting to Redis On Gitpod"
**Describe the bug**
Whenever we try to open Gitpod (for PRs made after merging #1346) it displays error as in the screenshot below by default.
![RedisNotWorking2](https://user-images.githubusercontent.com/42182955/79820216-5c54e280-83a9-11ea-85e0-fdbdc6a798b3.PNG)

On Executing `bundle exec redis-server` it displays :
![3000NotServed](https://user-images.githubusercontent.com/42182955/79820530-18

[2020-04-21 04:57] aayush-05 commented on #1406
![image](https://user-images.githubusercontent.com/47032027/79826937-a5f9f900-83ba-11ea-957b-1e163ef5b056.png)
@yash15601 overriding the bootstrap toggle class will do. I guess this one looks fine now ?

[2020-04-21 06:34] yash15601 commented on #1406
Yes LGTM

[2020-04-21 14:08] ciphereck commented on #1410
@Shivansh2407 the 6379 port is for Redis.
I see it open before the PR, but not served after PR?

[2020-04-23 18:04] ciphereck commented on #1410
@Shivansh2407 I checked the latest repo from the master in Gitpod. It's working for me just fine.
Maybe you can just try either forking the repo again or restarting the workplace of Gitpod from scratch. I checked it by navigating to multiple pages. Also, port 6379 was open. I checked it on Ubuntu and Chrome browser.

@tachyons @satu0king
Maybe we can proceed towards closing this issue.

[2020-04-23 18:21] Mazurel opened #1412 "Timing and delays in simulation."
### Overview of the problem
**Delay**
CircutVerse gives a user an ability to use a setting called **_delay_** which is definitely not working like delay should work (it doesn't affect the time).  Although the delay in some cases may seem like a "slowing factor" of an element, in reality it is not. Currently, the delay is used in a queue as a priority of an element, which is good for a lot of cases

[2020-04-23 23:09] #1410 closed

[2020-04-24 03:14] Shivansh2407 commented on #1410
Yes @ciphereck it is now working on gitpod too. 👍

[2020-04-24 18:22] aayush-05 commented on #1370
@nitin10s I don't think we have access to PNG images for all sponsors ?

[2020-04-24 18:26] aayush-05 commented on #1216
@tachyons @nitin10s issue can be closed, related PR had been merged

[2020-04-25 06:05] nitin10s commented on #1370
I didn't get what @shivaylamba is trying to say. ??

[2020-04-25 06:06] #1216 closed

[2020-04-25 06:20] shivaylamba commented on #1370
@nitin10s I am just suggesting if the logos can have PNG format without the white background. It would look more aesthetic without the white borders.

[2020-04-28 06:20] #1356 closed

[2020-04-28 06:26] #1406 closed

[2020-04-30 00:07] #926 closed

[2020-04-30 00:07] #604 closed

[2020-05-03 00:07] #515 closed

[2020-05-04 06:58] nitin10s commented on #1003
I tried it and this is an issue indeed. On scrolling, both the zoom in and scrolling of page happens. Scrolling of the page should be disabled if the scrolling is done inside the canvas.

[2020-05-04 07:31] MrBartusek commented on #1044
Idk what fixed it but, fixed

![image](https://user-images.githubusercontent.com/23432278/80944482-fd9c5980-8de9-11ea-9176-2d927f6c749f.png)

[2020-05-04 07:31] #1044 closed

[2020-05-04 09:42] Ananthavijay commented on #1381
@ShubhankarKG Yes you can if u want to

[2020-05-04 09:55] ShubhankarKG commented on #1381
I'll take up this one then.

[2020-05-05 01:21] harshgujrati commented on #963
Can i work on this @nitin10s  @tachyons

[2020-05-05 01:23] harshgujrati commented on #849
Can i work on this @nitin10s  @tachyons

[2020-05-05 01:35] tachyons commented on #849
Sure

[2020-05-05 07:46] #1158 closed

[2020-05-05 09:49] nitin10s commented on #963
Sure

[2020-05-05 12:26] MrBartusek commented on #849
Hey @harshgujrati, I was recently thinking about this issue and I think I could work on it and, as I can see you also claimed #963. Both this and 963 are **huge** projects so what about that: you will work on i18n and I shall work on that

[2020-05-05 12:28] MrBartusek commented on #1381
The solution might be [stale bot](https://github.com/marketplace/stale) but, it needs to be added by admin (probably @tachyons can take it)

[2020-05-05 14:26] harshgujrati commented on #849
Okay @MrBartusek  i will make a pr in which i will make settings for user and will include language option after that you can add more settings and after completing i18n we can work together on more settings, is that okay @MrBartusek

[2020-05-05 14:41] MrBartusek commented on #849
@harsha-iiiv are you sure you can handle the whole system that I designed here? That quite a lot of work

[2020-05-05 14:55] nitin10s commented on #849
It's best you guys divide the work. I agree with @MrBartusek taking up this and @harsha-iiiv working on i18n.

[2020-05-05 15:06] MrBartusek commented on #849
@harshgujrati what about that?

[2020-05-05 15:34] harshgujrati commented on #849
I was also saying the same that i will implement i18n and you work on settings, in the pr i was only making the setting tab and will add setting column in user database in which we will store the settings in the form of hash which i have done in the assingment of GSoC after that you can add various settings and we will store language preference of the user there only, is that ok @MrBartusek  @niti

[2020-05-05 15:59] MrBartusek commented on #849
@harshgujrati I don't think that would be good idea to make one feature in multiple prs, maybe you will work on i18n and add an option to use it after I complete my part, how about that?

[2020-05-06 01:55] harshgujrati commented on #849
okay @MrBartusek

[2020-05-06 06:01] abstrekt commented on #1003
I'll think of a solution to this, i tried previously, will find a better one

[2020-05-07 05:39] thedarkdivinity commented on #1234
I would like to fix this issue but I cannot find the neccessary folder location.Could someone just guide me please.

[2020-05-08 09:19] nitin10s opened #1419 "Organizing the profile section"
**Is your feature request related to a problem? Please describe.**
Currently, the user section on the website is very unfavourable while it comes to navigation.
For instance, you cannot visit the Profile section from My Circuits section.
You can navigate to favourites section from My Circuits section but no the other way around [You cannot navigate anywhere the Favourites Section]

**Describe the

[2020-05-09 07:33] #1353 closed

[2020-05-09 07:40] #1373 closed

[2020-05-09 08:14] nitin10s opened #1420 "Links in Contribute section should open in next tab"
**Describe the bug**
The Email, Slack and Github Links in the [Contribute section](https://circuitverse.org/contribute) should open in next tab.

[2020-05-09 08:16] Shivansh2407 commented on #1420
Can I work on it?

[2020-05-09 08:40] nitin10s opened #1421 "Popup Login for Platform"
**Is your feature request related to a problem? Please describe.**
As discussed over Slack to change the login screen to a pop-up since it also gets accessed from the Simulator.

![image](https://user-images.githubusercontent.com/16988558/81468709-d5a06200-91fe-11ea-9527-bbf3ce3d7819.png)
![image](https://user-images.githubusercontent.com/16988558/81468711-d933e900-91fe-11ea-98bd-893fef6ac9fc.png)

[2020-05-09 08:54] himanshu010 opened #1422 "integrate prettier for improving code quality"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
To integrate prettier to improve code-quality
**Describe alternatives you've considered**
A clear and concise description of any alternative s

[2020-05-09 09:58] aayush-05 commented on #485
This isn't a bug I guess. The time remaining acts as a countdown, and the remaining time will change as the time passes by @tachyons @nitin10s

[2020-05-09 10:38] #815 closed

[2020-05-09 10:59] aayush-05 commented on #958
@satu0king @tachyons @nitin10s are we planning something like this anytime soon?

[2020-05-09 11:02] aayush-05 commented on #964
Can this be closed @nitin10s @tachyons , seems more like a part of #845 ?

[2020-05-09 11:11] ryuk156 commented on #958
@aayush-05  for this I think  we need to refactor  the css the buttons in the CV and other components  dont have same code for all the buttons  their  should be linear code and also components  that are same

[2020-05-09 11:12] aayush-05 commented on #1138
@nitin10s can be closed, fixed in #1411

[2020-05-09 11:30] aayush-05 commented on #1169
We would be changing the underline style to something different on active state, you can close this @Shivansh2407

[2020-05-09 11:34] aayush-05 commented on #958
Yes @ryuk156 , refactoring for frontend codebase is planned to be completed after we get over revamping the left over pages and fixing some workflows. I am just unsure if this a priority atm.

[2020-05-09 11:35] ryuk156 commented on #958
Okay😄

[2020-05-09 11:38] aayush-05 commented on #1172
Works fine for me, @tachyons @nitin10s can you confirm and close this ?

[2020-05-09 11:43] aayush-05 commented on #1234
Duplicate issue, already opened at #1142
@nitin10s can be closed

[2020-05-09 11:47] aayush-05 commented on #1291
@nitin10s @tachyons this can be closed

[2020-05-09 11:49] aayush-05 commented on #1297
@ShubhankarKG you still working on this ?

[2020-05-09 11:58] ShubhankarKG commented on #1297
Couldn't find a valid fault in the image tags. Not working.

[2020-05-09 12:08] aayush-05 commented on #1297
@tachyons can you help ?

[2020-05-09 12:10] aayush-05 commented on #1350
@Shivansh2407 you working on this ?

[2020-05-09 12:16] aayush-05 commented on #1369
Can be closed @YashKumarVerma @nitin10s

[2020-05-09 12:17] aayush-05 commented on #1370
@nitin10s can we close this ? I don't think we have PNG format images for all the sponsors

[2020-05-09 12:18] Nitish145 commented on #1172
Works fine for me too.. the issue aroused when i changed the default browser font size @aayush-05

[2020-05-09 12:18] aayush-05 commented on #1380
@Nitish145 working on this ?

[2020-05-09 12:19] #1172 closed

[2020-05-09 12:20] Nitish145 commented on #1380
Will work but depends on the login popup modal hence waiting for the same as we'll be required to redirect to login modal.. @aayush-05

[2020-05-09 12:26] shivaylamba commented on #1370
@aayush-05 I have converted them into PNG format

[2020-05-09 12:35] aayush-05 commented on #1370
Then we are good to go, I think an inverted complete white logo would look good. Can you give a final confirmation @nitin10s ?

[2020-05-09 13:22] #653 closed

[2020-05-09 13:24] #1320 closed

[2020-05-09 13:26] #1317 closed

[2020-05-09 13:40] #1395 closed

[2020-05-09 14:24] #910 closed

[2020-05-09 14:50] nitin10s commented on #485
The first time remaining is the actual time remaining [fixed].
The second time remaining is the countdown [varying]. Right?

[2020-05-09 14:51] #1169 closed

[2020-05-09 14:51] #1138 closed

[2020-05-09 15:26] nitin10s commented on #958
@ryuk156 is right. We can look at this as an option in future surely.

[2020-05-09 15:27] nitin10s commented on #1234
Duplicate #1142

[2020-05-09 15:27] #1234 closed

[2020-05-09 15:28] nitin10s commented on #1291
Duplicate #1028

[2020-05-09 15:28] #1291 closed

[2020-05-09 15:31] #1369 closed

[2020-05-09 15:33] nitin10s commented on #1370
If they won't have a white bg, Zense logo would not be even visible. Also, the white boxes make them look consistent. What do you suggest @aayush-05 ?

[2020-05-10 05:26] aayush-05 commented on #485
Yes @nitin10s , the first one mentions that certain date, so that is fixed. And the second one is just a timer on how much time is left, so it is bound to change as time passes.

[2020-05-10 05:41] aayush-05 commented on #1370
I was thinking about something like this:
![image](https://user-images.githubusercontent.com/47032027/81491717-f9bb7c00-92ae-11ea-95d0-a95bed34dbda.png)

[2020-05-10 06:26] #1331 closed

[2020-05-10 07:00] ArshdeepSahni commented on #49
can i take this issue to work on?

[2020-05-10 07:00] shubhankarsharma00 opened #1424 "Documentation for -+"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-10 07:00] shubhankarsharma00 opened #1425 "\":PDocumentation for -+ \/+*/5847"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-10 07:01] #1424 closed

[2020-05-10 07:01] #1425 closed

[2020-05-10 07:10] shubhankarsharma00 opened #1426 "Documentation of all Simulator's Javascript code."
**Is your feature request related to a problem? Please describe.**
Documenting the code for better understanding the codebase so that it can be easily refactored afterward.
**Describe the solution you'd like**
Using JSDocs guide for comments and then making HTML files for Documentation using `jsdoc`
**Describe alternatives you've considered**
NA
**Additional context**
NA
**Are you working on this?

[2020-05-10 08:39] nitin10s commented on #485
So the first one should be renamed to Deadline rather than Time Remaining. Time remaining can be confusing.

[2020-05-10 10:02] aayush-05 commented on #485
Didn't get you, the first one is already named Deadline.
![image](https://user-images.githubusercontent.com/47032027/81496160-2aada800-92d3-11ea-912e-9576cb42fa95.png)
![image](https://user-images.githubusercontent.com/47032027/81496161-2da89880-92d3-11ea-8dc0-9c9ab7004075.png)
Maybe we can add the time remaining around parenthesis to make it more clear ?

[2020-05-11 18:13] kradek opened #1430 "JK flipflop sometimes changes state with JK=00"
#### I am submitting a -
* [x] **Bug Report**

#### JK flipflop sometimes changes state when both J and K are 0. That shouldn't happen, with JK=00, expected behavior is "no change"

#### Current behaviour - It doesn't happen always, but sometimes it does - JK flipflop changes state (output) when both J and K inputs are 0. In the video attached, you can see that the first few times it doesn't happe

[2020-05-12 07:00] ryuk156 commented on #1143
@satu0king @tachyons  can you reopen this  pr it can be merged

[2020-05-12 12:29] abstrekt commented on #1401
I guess we can have orientation for both,
 The direction refers to the position of the node on the element, the orientation refers to the orientation of the element, all the logic gates have 'orientation' & i/o have 'direction'

[2020-05-12 12:31] abstrekt commented on #1394
@ryuk156 do you have the PR ready?

[2020-05-12 12:32] ryuk156 commented on #1394
No my system  is not working fine if you have then you can make pr@abstrekt

[2020-05-12 12:34] abstrekt commented on #1393
Duplicate, can be closed.

[2020-05-12 13:04] abstrekt commented on #1372
The report button would be moved to a new place, so this can be closed?
@nitin10s @satu0king

[2020-05-12 13:08] abstrekt commented on #1368
@YashKumarVerma  are you working on it?

[2020-05-12 13:47] abstrekt commented on #1318
Can be closed, UI Revamp in progress.

[2020-05-12 13:50] YashKumarVerma commented on #1368
I think not. Feel free to attempt it

[2020-05-12 13:59] abstrekt commented on #1311
though it is necessary to copy the object as text so that it can be pasted & render, I'm not sure we can avoid pasting the object somewhere else, a solution would be to have windows clipboard to be personal to the simulator,
@satu0king, please review

[2020-05-12 14:10] abstrekt commented on #1280
can be closed @nitin10s

[2020-05-12 14:12] abstrekt commented on #1274
Can be closed, themer under process. @nitin10s

[2020-05-12 14:19] abstrekt commented on #1249
can be closed @nitin10s

[2020-05-12 14:22] abstrekt commented on #1250
#1421 shall address this I guess @nitin10s

[2020-05-12 14:22] abstrekt commented on #1248
can be closed @nitin10s

[2020-05-12 14:24] abstrekt commented on #1249
revamp under process

[2020-05-12 14:24] abstrekt commented on #1247
can be closed, ui revamp under process
 @nitin10s

[2020-05-12 14:26] abstrekt commented on #1240
can be closed @nitin10s , it will be addressed on the revamp

[2020-05-12 14:27] abstrekt commented on #1224
can be closed, revamp  under process.
@nitin10s

[2020-05-12 14:29] abstrekt commented on #1188
can be closed, themer under process.
@nitin10s

[2020-05-12 14:35] abstrekt commented on #1117
can be closed, @nitin10s

[2020-05-12 14:35] abstrekt commented on #1117
will be fixed in new UI

[2020-05-12 14:45] abstrekt commented on #1004
Would be very great if it is done

[2020-05-12 15:07] nitin10s commented on #1372
Which place would it be moved to?

[2020-05-12 15:11] nitin10s commented on #1280
Revamping the simulator so closing this

[2020-05-12 15:11] #1280 closed

[2020-05-12 15:12] nitin10s commented on #1274
Revamping the simulator so closing this

[2020-05-12 15:12] #1274 closed

[2020-05-12 15:13] nitin10s commented on #1250
Wow, someone noticed this before, didn't know, Closing this #1421 explains the bug better along with the new design

[2020-05-12 15:13] #1250 closed

[2020-05-12 15:14] #1248 closed

[2020-05-12 15:15] nitin10s commented on #1224
Let's leave this UI bugs until we are in the process of building the new UI

[2020-05-12 15:15] #1188 closed

[2020-05-12 15:20] abstrekt commented on #1224
sure

[2020-05-12 15:29] abstrekt commented on #1372
Should we have it right where it is, or inside a dropdown?

[2020-05-12 15:37] ryuk156 commented on #1372
If  we want to place in dropdown then why I made the sliding  mechanism  this mechanism  looks attractive  as nitin  said    before creating  it,  ask all community  to where to place it  😅 that's  the last option  I can say

[2020-05-12 17:04] #1318 closed

[2020-05-12 17:19] nitin10s commented on #1372
I was wanting it to be placed right where it is with some z-index properties so it hides behind the timing diagram.

[2020-05-12 17:20] nitin10s commented on #1372
This is made to stand out basically so as to make it more discoverable

[2020-05-12 17:49] abstrekt commented on #1372
Okay :)

[2020-05-12 18:01] abstrekt commented on #569
@satu0king what is the purpose of it?

[2020-05-12 18:08] abstrekt commented on #381
https://github.com/CircuitVerse/CircuitVerse/pull/895#issuecomment-600802519
if PR is merged, this issue can be closed @satu0king ?

[2020-05-12 18:25] abstrekt commented on #55
can be closed, as it will be addressed as part of the GSOC project,
@nitin10s

[2020-05-12 18:41] abstrekt commented on #1393
@nitin10s

[2020-05-12 18:42] nitin10s commented on #569
Lite Mode is to enhance the performance of simulator for low-end computers. Just like there is a Facebook Lite for Facebook

[2020-05-12 18:44] #1393 closed

[2020-05-12 18:48] nitin10s commented on #55
Let's leave such issues that "will" be addressed until they are addressed properly.

[2020-05-12 18:53] abstrekt commented on #1240
can be assigned to me.

[2020-05-12 20:21] abstrekt commented on #55
yes, that would be better

[2020-05-12 20:23] abstrekt commented on #569
can we add the toggle of box blur to this feature?

[2020-05-12 20:28] Kushagraw12 commented on #2
@satu0king  Can i add breadcrumbs to the website that will make navigation easier from one page to another?

[2020-05-13 00:08] #951 closed

[2020-05-13 06:36] mahmodHammad commented on #1311
@abstrekt
WE can use local storage
i have done that before , and it's perfectly working

[2020-05-13 06:39] mahmodHammad commented on #1311
it's an  unnoticeable issue
but we will not be able to make a custom shortcut with the current implementation
so what would you say @satu0king

[2020-05-16 00:08] #905 closed

[2020-05-17 00:09] #1121 closed

[2020-05-17 00:09] #1122 closed

[2020-05-17 00:09] #1105 closed

[2020-05-17 00:09] #784 closed

[2020-05-17 06:26] #1213 closed

[2020-05-17 14:38] #1308 closed

[2020-05-17 14:43] #617 closed

[2020-05-17 20:27] #1403 closed

[2020-05-18 00:09] #1133 closed

[2020-05-19 00:09] #1149 closed

[2020-05-19 00:09] #1142 closed

[2020-05-19 16:43] #1195 closed

[2020-05-19 16:57] #1316 closed

[2020-05-20 00:08] #1143 closed

[2020-05-20 00:08] #1117 closed

[2020-05-20 10:54] schezfaz opened #1439 "Redesign "Learn Logic Design" hyperlink as a button on landing page"
**Current Status:** On the [landing page](https://circuitverse.org/ ) the "Learn Logic Design" link it is just presented as a hyperlink, where as "Launch Simulator" is presented as a button.  In my opinion, it feels a little out of place as it does not enforce continuity and uniformity, which are key factors for good UI/UX design.

![image](https://user-images.githubusercontent.com/28871211/824381

[2020-05-21 00:09] #1141 closed

[2020-05-21 06:46] ShubhankarKG commented on #1397
This is resolved here it seems. New labels have been added. I think this can be closed @tachyons .

[2020-05-21 09:40] MrBartusek commented on #1397
still, a lot of mess only done point from this issue is currently

[2020-05-21 13:11] JoshHeng opened #1444 "Examples section issues - no styling (& search doesn't work)"
**Describe the bug**
The examples section on the website is not styled properly - the fonts do not fit the theme.

Also, the search needs to be fixed. The magnifying glass icon is not linked itself so you must click the white background to the white of it, which brings up an empty dropdown. The enter key can be used which brings the user to a completely new page. (I think this is already been work

[2020-05-21 14:38] #1439 closed

[2020-05-21 18:01] schezfaz opened #1445 "GitHub authentication button on sign-up reads "Authorise satu0king" instead of "Authorise CircuitVerse""
**Description:**
When logging in to CircuitVerse via GitHub, the authentication message reads "Authorise satu0king". It should ideally read "Authorise CircuitVerse".

**Steps to Reproduce the behaviour:**
1. Go to https://circuitverse.org/
2. Click on "Sign In" in the top right corner
3. Click on the GitHub icon next to "Log in with"
4. You will get redirected to the authorisation page that will r

[2020-05-22 00:09] #1191 closed

[2020-05-22 09:34] shubhankarsharma00 opened #1446 "Refactoring simulator codebase"
**Is your feature request related to a problem? Please describe.**
As a part of GSoC project, I will be working on refactoring the simulator codebase. Updating it to ES6 and making some changes in the implementation of how a couple of things work.

**Are you working on this? (Yes/No)**
Yes

[2020-05-22 15:36] nitin10s opened #1449 "No feedback for Start Plot"
**Describe the bug**
In the Simulator, the Start Plot ( Tools > Start Plot ) works only when we have a flag in the circuit. Otherwise, it gives no feedback which is confusing for the user

**Expected behaviour**
When there isn't any flag on the canvas and the user clicks on Start Plot. An alert stating "You need to add a flag to use the Start Plot option"

[2020-05-24 18:03] MrBartusek commented on #769
https://github.com/CircuitVerse/CircuitVerse/pull/853#issuecomment-633228560

[2020-05-24 18:03] #769 closed

[2020-05-25 05:42] #1387 closed

[2020-05-25 08:32] #470 closed

[2020-05-26 06:03] mahmodHammad opened #1460 "Make Rectangle Resizable"
The rectangle should be resizable instead of manually choose the rows and columns from the property menu.
**Are you working on this? (Yes/No)**
NO
![image](https://user-images.githubusercontent.com/41790090/82865500-2619fe00-9f27-11ea-890c-b2c83801100d.png)

[2020-05-26 07:45] ryuk156 commented on #1460
@mahmodHammad  The size of rectangle  can be increased by arrow keys  since if user don't want to put values in properties

[2020-05-26 07:50] mahmodHammad commented on #1460
@ryuk156
I didn't figure out that.
Most of users will not too.
So it will be better if we enable resizing by dragging, users are most. Likely on hand users (mouse )

[2020-05-26 07:50] ryuk156 commented on #1460
Okay👍

[2020-05-27 14:36] shubhankarsharma00 opened #1464 "The close tab fa-icon always deletes the current circuit."
**Describe the bug**
When you are in main and make a new circuit and want to close main when you are currently working in main2. It will actually delete main2.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/simulator'
2. Click on 'Circuit -> New Circuit'
3. with new circuit in focus try to close Main.
4. See the prompt as it asks to delete the current circuit.

**Expected behavior**

[2020-05-27 19:29] nitin10s opened #1465 "Add email option in Report an Issue"
**Is your feature request related to a problem? Please describe.**
There are at times issues reported that don't make complete sense. It would be great if we could add an optional email field to the box so people who are willing to share more can be contacted.

[2020-05-27 20:47] ryuk156 commented on #1465
Can I work on this @nitin10s

[2020-05-28 04:56] Shivansh2407 opened #1466 "Dec-Bin-Hex Converter Not working properly"
**Describe the bug**
Currently in the Dec-Bin-Hex Converter, when we enter a value and then clear that, the current text field gets cleared but the other fields do not get cleared.
The Decimal, Binary, Octal fields also take alphabets as input which gives no response.
The HexaDecimal Field should not take alphabet over F. Currently it accepts alphabets beyond f like k and gives no response.

**To

[2020-05-28 05:08] nitin10s commented on #1465
Sure

[2020-05-28 05:18] Shivansh2407 opened #1467 "Elements Property Text Fields Not working properly"
**Describe the bug**
Currently the Text Fields have a upper limit restriction but it works only when the user clicks on the arrow manually. If the user types in the fields, then these restrictions do not work. Also we can enter e, E, ., +, - along with the numbers in the text field.
Some Restriction that need to be fixed in the Text Field while typing the value are listed below (Do add more if I h

[2020-05-29 15:21] shubhankarsharma00 opened #1471 "Launch and More option in embed mode are redirect to different project"
**Describe the bug**
go to https://circuitverse.org/users/3642 open any circuit (other then the latest circuit) and view it. In view mode select More or Launch it will open latest circuit.

**To Reproduce**
see issue problem

**Expected behavior**
should open the current project instead of latest one.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device Informati

[2020-05-29 15:26] Shivansh2407 commented on #1471
Duplicate of #1350.

[2020-05-29 16:12] shubhankarsharma00 commented on #1471
Can we close issue from GitHub mobile?

[2020-05-30 14:37] ryuk156 commented on #1466
@Shivansh2407  This 0b and 0x are representation of numbers. like for binary it is 0b can be used as prefix

Refer this:
https://stackoverflow.com/questions/46002161/what-does-the-0b-mean-at-the-begining-of-the-byte-0b1100010

[2020-05-30 14:40] Shivansh2407 commented on #1466
I meant to say that it would be better to show 1010 instead of 0b1010 so that the user is not in a state of confusion.
User should get a direct answer when they enter the input. Let me know your views.

[2020-05-30 14:59] ryuk156 commented on #1466
@Shivansh2407  In my pr i had not added the prefix @satu0king  added prefix before merging
@satu0king  your views please

[2020-06-02 11:53] mahmodHammad commented on #1471
![more button issue](https://user-images.githubusercontent.com/41790090/83516989-643f9080-a4d8-11ea-9803-cb121faf2ca6.gif)

i was going to report it too 😃

[2020-06-02 11:59] mahmodHammad opened #1476 "Deselect and Delete the selected from the side bar using the ESC Button"
What i really mean is if i selected a decoder then i changed my mind, i will just click ESC to revert that
## IT works with the delete button, but i think it must work with ESC key too
![ESC](https://user-images.githubusercontent.com/41790090/83517517-4cb4d780-a4d9-11ea-9c69-d4fb25fb3bdc.gif)

**Are you working on this? (Yes/No)**
NO

[2020-06-02 17:34] nitin10s commented on #1476
Do you mean on pressing Esc, the element should be deleted?

[2020-06-02 17:34] nitin10s commented on #1471
Duplicate of #1350

[2020-06-02 17:34] #1471 closed

[2020-06-02 17:35] nitin10s commented on #1350
@aayush-05 Seems like he isn't.

[2020-06-02 17:57] mahmodHammad commented on #1476
@nitin10s
Yes but only when the user pick an element from the side panal.

[2020-06-02 17:57] mahmodHammad commented on #1476
@nitin10s
Yes but only when the user pick an element from the side panal.

[2020-06-03 00:59] Shivansh2407 commented on #1350
Yes @aayush-05 if you want, you can work on this.

[2020-06-05 17:29] mahmodHammad opened #1486 "share simulation with edit acess"
**Describe the solution you'd like**
make it possible for team to work on the same simulation.

**We have 2 proposed solutions**:
- changes appeared at run time, like google docs.
- only one user can open it at a time, like Whatsapp

I know it's not easy but this feature will be a really great addition to circuitverse. because there's many team projects out there for college students

**Are you wo

[2020-06-05 17:41] mahmodHammad opened #1487 "Create a circuit to be used by any one as a subcircuit"
we may need to use some component that does not exist in CV like a program counter, which could be built by any one using the existed simpler component.
**Describe the solution you'd like**
for simplicity it could be the same idea as NPM https://www.npmjs.com/
all we need is an online repo for subcircuits, with the ability to search over it, then attach the needed subcircuit in the simulator.
**Ar

[2020-06-07 07:03] #1340 closed

[2020-06-07 08:12] #1465 closed

[2020-06-08 13:08] mahmodHammad opened #1493 "Moving a component mess up the connected wires"
**Describe the bug**
this happens sometimes when we try to move an element with more than input/output node on the direction perpendicular to the wire direction
like this:
![moveMess](https://user-images.githubusercontent.com/41790090/84033356-052ac180-a999-11ea-984f-f4ac4f54a0c7.gif)

my proposed solution is:
- make the connected wires move with its element,
it is not hard all you need is to look

[2020-06-08 17:52] Kushagraw12 opened #1494 "Bug in image loading in phone"
**Describe the bug**
No image is shown. There is a bug with the responsiveness of the home page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [CircuitVerse](https://circuitverse.org/)
2. Click on 'open dev tools (Chrome)'
3. View the home page in portrait mode
3. Scroll down to 'The last two examples'
4. See error

**Expected behavior**
A photo was supposed to show. This is a bug.

[2020-06-11 19:56] #1494 closed

[2020-06-13 10:44] mahmodHammad opened #1498 "Scroll with mouse wheel"
**Is your feature request related to a problem? Please describe.**
 I'm always frustrated when i work on large circuits, i have to keep dragging until i reach to the desired part of the circuit.

**Describe the solution you'd like**
use mouse wheel to scroll:

- without pressing `SHIFT` key it will scroll vertically

- with pressing `SHIFT` key it will scroll horizontally

- Dragging on the board

[2020-06-13 13:48] tushar-dalal commented on #1498
Wouldnt it be better to have the mouse return from the opposite side so that we can continue dragging?
For example, we grab and slide to the left and reach the left edge of the browser or app, the mouse cursor reappears from the right side, continuing the dragging operation.

[2020-06-13 19:15] mahmodHammad commented on #1498
@tushar-dalal
user have limited space on his touchpad or desk , so continue dragging is not a solution for this issue (in my opinion).
using a slider could be better

[2020-06-14 01:20] tushar-dalal commented on #1498
Sounds good, can someone guide me so that I can help get this feature working? I'd like to work on it.

[2020-06-14 07:59] mahmodHammad commented on #1498
@tushar-dalal
We are refactoring the simulator code right now, so the development of it is freezing for a Couple of months

[2020-06-17 16:20] YashKumarVerma opened #1502 "Delay Property Not working as expected."
Problem:
The delay is not documented, and I've tried using it with
- Input element
- Clock
- Gate

and none of the data streams are being delayed. Can someone help.

Context:
I actually need some help here. It seems the delay property isn't working across any input element. It would be pretty difficult to document it if it's not working @YashKumarVerma @Shivansh2407 @mahmodHammad

_Originally post

[2020-06-18 18:07] krishnakant08 opened #1503 "Bug while signing up in the "Name""
Signing up, in the "Name" option.
While signing up where the blank asks to fill the Name.
The blank accepts any random symbol and any amount of unwanted space.
Example: the Name blank accepts "/*--*/+uioyr76$%^^" as name.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org/'
2. Click on 'login/signup'
3. Scroll down to 'signup'
4. In the Name blank when try to ent

[2020-06-18 18:17] krishnakant08 commented on #1503
I am working on this.

[2020-06-19 15:24] mahmodHammad commented on #1502
This issue is complicated, i think it's hard to do that on the current code base so I 'd recommend to disable this feature until the refactoring is done.

[2020-06-22 14:14] MayankVir commented on #1336
I would like to work on this feature update

[2020-06-29 13:03] lopeselio opened #1515 "The links to the slack, email Us, github should open in another tab. Rather, it opens up in the same tab. This needs a fix."
**Describe the bug**
In the contribute section, when I try to open the three links mentioning email Us, slack and github, they open up in the same tab. It would have been better if this issue is fixed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org/contribute'
2. Click on any of the three links to contribute.
3. They Open up in the same tab
4. See error

**Ex

[2020-06-29 14:38] medakk opened #1516 "Copy-pasting circuits doesn't preserve layout"
**Is your feature request related to a problem? Please describe.**
I sometimes copy paste an existing circuit to build off of(when it doesn't make sense to just build off that as a black box). When I do this, the circuit components are correctly populated, but the layout is messed up

**Describe the solution you'd like**
The layout gets copied when I copy "entire" circuits

**Describe alternatives

[2020-06-30 17:39] himanshujaidka commented on #1515
Is anybody working on this? @lopeselio

[2020-06-30 18:59] lopeselio commented on #1515
I can try!

[2020-07-03 13:14] akash-arelli commented on #748
I would like to add the requires features like header and footer with a lot more styling.Can I work on this issue?

[2020-07-03 14:07] ryuk156 commented on #748
@akash-arelli  This issue  will be closed soon we are working on the integration  part of testbench  this was  just random pr I made ,after it became  gsoc project so  we are working on it  you can check gsoc 2020 project in you will find this as  first project

[2020-07-03 15:31] nitin10s commented on #748
@ryuk156 you can maybe help him get acquainted with the current status of this very project so that he can start with contributing to this as well?

[2020-07-03 16:00] animesh-007 commented on #1515
If it's okay Can I work on this? And the same issue is with About page I guess it will be good to implement the same over there too.

[2020-07-03 17:04] akash-arelli commented on #748
@ryuk156  is this issue almost closed?can you tell me about "integration part of testbench" project and what functionalities would the organisation like me to add?

[2020-07-03 17:26] ryuk156 commented on #748
@akash-arelli  the basic idea behind  testbench  is to check  whether  to check circuit  is correct or not so we planned something  like  when user create testbench  the json object is generated  that consist cases,  input array and output array  as part of integration  user can can create may testbench  he /she want this multiple  generated  testbench  are stored in user account and this testbenc

[2020-07-03 20:50] animesh-007 commented on #1515
#1443 This PR solves this issue.

[2020-07-06 19:49] animesh-007 commented on #1515
@YashKumarVerma Can you close this issue as it is already resolved?

[2020-07-08 17:47] Himanshunitrr opened #1521 "Typo/Grammatical error in contributing.md"
**Describe the bug**
A clear and concise description of what the bug is.
In contributing.md there is some typo or grammatical error.
To be precise :
Under the heading of how to contribute, there is a sentence "When you are ready to start work on a issue"
I think it must be "When you are ready to start to work on an issue" or "When you are ready to start, work on an issue"
**To Reproduce**
Steps to

[2020-07-09 02:51] Himanshunitrr commented on #1521
Should I fork, fix the problem and create a PR.

[2020-07-10 13:17] Ankit27Agg commented on #1521
i want to work on this issue.

[2020-07-11 03:43] #1521 closed

[2020-07-11 14:06] Sapna2001 opened #1530 "Readme update"
**Describe the bug**
Grammatical errors in readme file.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to README.md
2. Make changes

**Expected behavior**
Error-free readme

**Device Information [optional]:**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Are you working on this issue? (Yes/No)**
Yes

[2020-07-11 17:21] lopeselio commented on #1503
can I work on this ?

[2020-07-11 17:31] ellenspertus opened #1532 "Delete sometimes initiated when I click on a tab to the left of the X"
**Describe the bug**
Sometimes when I click on a tab, I receive the message "The following circuits are depending on ...Delete subcircuits of ... before trying to delete ...". See [video](https://360.articulate.com/review/content/2c91b570-992b-4dc7-87a1-ee9dd7949034/review).

**Expected behavior**

I expected to switch to the tab I clicked on.

**Device Information [optional]:**
 - OS: Windows 10

[2020-07-11 22:26] krishnakant08 commented on #1503
sure.

[2020-07-12 06:31] bankebihariagrawal commented on #1503
Can I work on this sir?

[2020-07-12 07:14] bankebihariagrawal commented on #1420
can I work on this?

[2020-07-12 09:16] nitin10s commented on #1420
@aayush-05

[2020-07-12 10:00] aayush-05 commented on #1420
Issue already fixed in updated master. This can be closed @nitin10s

[2020-07-12 15:08] #1420 closed

[2020-07-13 19:53] ellenspertus opened #1555 "Allow "Fullscreen" widget to be disabled when embedding"
**Is your feature request related to a problem? Please describe.**

When a small embed window is on a slide in an online lecture, the gate is obscured by the "Fullscreen" widget, as show:

![screenshot](https://user-images.githubusercontent.com/27104250/87347304-d2c83300-c507-11ea-9b44-6e0ef63c878a.png)

**Describe the solution you'd like**

An option to embed without the Fullscreen widget.

**Des

[2020-07-18 20:29] Kushagraw12 commented on #1503
Is it done, or can i take it up??
Thanks!

[2020-07-18 20:36] Kushagraw12 commented on #1277
Is this issue closed, or can i take it up?
Thanks!

[2020-07-18 20:51] Kushagraw12 commented on #1004
@tachyons  os this done, or can i take it up?
Thanks!

[2020-07-19 05:32] nitin10s commented on #1277
We won't be having this page after completing the revamp, @aayush-05 is handling the new UI, he can bring you up with any sort of contribution required in this area 😄

[2020-07-19 05:32] #1277 closed

[2020-07-19 05:43] Kushagraw12 commented on #1277
Okay. I want to make contributions, i am new to this org. Please let me know from where I can start! Thanks! :)

[2020-07-20 10:19] Kushagraw12 commented on #1421
@nitin10s  Can I work on this issue?
Thanks!

[2020-07-20 11:56] nitin10s commented on #1421
@aayush-05

[2020-07-20 12:04] nitin10s commented on #1421
@Kushagraw12 You may also look at https://github.com/CircuitVerse/blog/issues/5

[2020-07-20 12:12] nitin10s commented on #1421
Also, check out issues in our Interactive Book and Docs repo. The main platform is currently being worked upon by @aayush-05 as a GSOC project.

[2020-07-20 13:42] aayush-05 commented on #1421
Got done with Multiple mentors functionality backend; will give this one a shot before moving on to GDPR

[2020-07-20 14:47] nitin10s commented on #1421
No, I meant can you please point @Kushagraw12 to some relevant issues.

[2020-07-20 15:45] Kushagraw12 commented on #1421
Yeah please, I am new to this org, and looking forward to making contributions!
I looked at the issue you pointed me to. Can I give it shot?
Thanks!

[2020-07-20 15:47] aayush-05 commented on #1421
Sure @Kushagraw12, you are free to take any issue (just make sure someone hasn't commented on that before).

[2020-07-20 16:03] Kushagraw12 commented on #1421
Okay thanks @aayush-05 ! I will take a look at them and try to solve them.
Thanks :)

[2020-07-20 16:42] aayush-05 commented on #1421
Great, ping me on Slack if you need any help

[2020-07-25 05:13] nitin10s commented on #1293
Part of a GSoC project

[2020-07-25 05:13] #1293 closed

[2020-07-27 09:57] nitin10s commented on #1305
Being worked upon under a GSoC Project

[2020-07-27 09:57] #1305 closed

[2020-07-27 16:26] covalentbond opened #1571 "Updating the image on the front page"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
As of now the image on the front page was in simple PNG format.
Would like to give the image some animations by making that to a SVG

**Are you working on this? (Yes/No)**
Yes

[2020-07-29 08:53] nileshdas opened #1573 "My favourites page's More button has a bug"
**Describe the bug**
My favourites page's More button has a bug

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'My Favourites'
2. Click on 'More' of any circuit that is not created by you
3. See error

**Expected behavior**
The author's circuit page should open.

**Screenshots**
![favo](https://user-images.githubusercontent.com/39062229/88778246-e6c99100-d1a5-11ea-821f-bac5d4b2f002.gi

[2020-07-30 00:08] jbox144 commented on #165
b

[2020-07-31 12:39] #1530 closed

[2020-08-03 04:42] nc79188 commented on #1532
the close button hover css property has been given a left padding of 1em in UI.css and that is the reason for this closing
as it is only given in the :hover property and not in the the class it is observed after hovering on it

this issue can be solved by changing the padding-left to margin-left

i will make those changes

[2020-08-04 18:40] I-mikan-I opened #1586 "circuit preview doesn't load when flags are used"
## Describe the bug
When using flags in a circuit, and saving said circuit online, the interactive preview will be stuck in a loading loop.

## To Reproduce
Steps to reproduce the behavior:
1. Create a Circuit with flags.
2. Save the project online.
3. Open the project page.
4. The preview window doesn't load the circuit.

## Expected behavior
The preview should load (ideally with flags)

## Scree

[2020-08-05 00:24] #659 closed

[2020-08-05 07:01] #1573 closed

[2020-08-06 00:23] #1285 closed

[2020-08-07 00:24] #1300 closed

[2020-08-08 15:46] #1532 closed

[2020-08-09 20:20] aayush-05 commented on #1265
@nitin10s can be closed. Fixed by Aboobacker already

[2020-08-09 20:25] aayush-05 commented on #1312
@nitin10s this can be added in the new Key Shortcuts feature @abstrekt is developing

[2020-08-09 20:26] aayush-05 commented on #532
@tachyons @nitin10s this can be closed.

[2020-08-10 00:24] #1309 closed

[2020-08-10 00:24] #1167 closed

[2020-08-10 00:24] #371 closed

[2020-08-10 00:24] #199 closed

[2020-08-10 04:11] #532 closed

[2020-08-10 04:12] #1312 closed

[2020-08-10 04:12] #1265 closed

[2020-08-10 20:55] imrishabh18 commented on #1445
@schezfaz Hey, I will like to take up this issue.

[2020-08-11 00:24] #828 closed

[2020-08-11 09:37] pavanjoshi914 commented on #1445
@schezfaz
I checked other standard websites who integrates github api for user authentication.It is github default api setting that ,account which register an application on GitHub will get authorize so probably there is no way to change unless account holder changes its username as circuitverse .So issue must be closed

[2020-08-11 19:59] schezfaz commented on #1445
Oh right yes, I did not account for the fact that it could be a default api setting. Good catch! @pavanjoshi914

[2020-08-11 19:59] #1445 closed

[2020-08-12 13:25] kalyani489 commented on #809
Can I work on this?
Can it be re-opened again?

[2020-08-12 16:12] MrBartusek commented on #809
I am not currently active in cv and I think there is simulator rework happening currently, please ask on slack

[2020-08-13 00:24] #1329 closed

[2020-08-13 00:24] #1326 closed

[2020-08-13 08:13] kalyani489 commented on #809
Yes ok, no problem

[2020-08-13 16:16] aayush-05 commented on #1515
@nitin10s please close this one

[2020-08-13 17:41] #1515 closed

[2020-08-15 00:24] #504 closed

[2020-08-18 20:45] step64 opened #1608 "Dragging a component through another one, creates new unwanted connections."
**Describe the bug**
When dragging components, if 2 nodes end up at the same position (even without dropping), it will create a new, unwanted wire.

**To Reproduce**
Steps to reproduce the behavior:

1) Get any two components into the screen.
2) Drag one component, pass it over the other (without dropping it).

**Expected behavior**
It shouldn't be generating new connections when dragging, as this

[2020-08-18 20:46] #1608 closed

[2020-08-18 20:48] LFS6502 opened #1609 "Dragging a component over another creates new wires."
**Describe the bug**
When dragging components, if 2 nodes end up at the same position (even without dropping), it will create a new, unwanted wire.

**To Reproduce**
Steps to reproduce the behavior:

1) Get any two components into the screen.
2) Drag one component, pass it over the other (without dropping it).

**Expected behavior**
It shouldn't be generating new connections when dragging, as this

[2020-08-19 00:24] #1367 closed

[2020-08-19 00:24] #1364 closed

[2020-08-19 00:24] #1362 closed

[2020-08-19 00:24] #1355 closed

[2020-08-19 00:24] #1304 closed

[2020-08-20 00:24] #1374 closed

[2020-08-23 23:02] #1571 closed

[2020-08-24 06:40] nitin10s commented on #450
@shubhankarsharma00

[2020-08-24 06:40] nitin10s commented on #898
@shubhankarsharma00

[2020-08-25 00:25] #1390 closed

[2020-08-26 18:52] daivikpurani commented on #1498
Is this open

 of months

Is the issue open for contributions now?

[2020-08-27 00:25] #935 closed

[2020-08-27 15:18] max-keviv opened #1627 "the setup.md is not properly documented"
documentation for the setup.md does n't provide clear installation guide

**Describe the solution you'd like**
1) little details are provided for setting up .env file
2) creating a database is not properly stated [ nothing is stated about setting db ,username , password]
3) format for setting up in ubuntu is totally confusing

**Describe alternatives you've considered**

have a look how well it is

[2020-08-30 05:47] Roshan13046 commented on #1609
I am interested in working on this issue.
Are you working on this issue?

[2020-09-01 10:08] bijoysijo commented on #1503
I'm working on this.

[2020-09-01 10:54] bijoysijo opened #1633 "user sign up, email field only checks for @ in the email."
The bug:
When a user signs up, if he leaves out the end part of the email, the user is still able to sign up without a proper mail id.

Example:
If a user tries to enter email as, user@test.com, the email format is correct.
but if he enters an email without the '@', the error message is displayed by the browser saying that the user is missing the '@'.
The bug happens when a user enters email as us

[2020-09-01 15:15] nitin10s commented on #1609
@satu0king

[2020-09-01 19:44] nishchal215 commented on #1633
@bijoysijo can you please let me know whether you are working on this issue currently. If not I would like to work on this issued.

[2020-09-02 04:43] bijoysijo commented on #1633
Yes, I'm working on this.

[2020-09-04 00:29] #844 closed

[2020-09-04 06:36] aayush-05 commented on #485
This must get fixed by #1629

[2020-09-04 06:37] aayush-05 commented on #656
@nitin10s can this be closed? Now everything is cleaned and we can control fonts for the platform via a single change (except the simulator)

[2020-09-04 06:39] aayush-05 commented on #1004
@tachyons this can be closed >> Completed with the frontend code refactor

[2020-09-04 06:41] aayush-05 commented on #1298
@nitin10s this can be closed >> fixed with new UI

[2020-09-04 06:42] aayush-05 commented on #1336
@tachyons @nitin10s this can be closed >> Examples page revamped

[2020-09-04 06:43] aayush-05 commented on #1350
Fixed in #1629

[2020-09-04 06:45] aayush-05 commented on #1380
@Nitish145 I guess this can be closed. Star icon isn't visible for non-logged users with the new UI

[2020-09-04 06:46] aayush-05 commented on #1419
Fixed by #1629

[2020-09-04 06:47] aayush-05 commented on #1444
@tachyons @nitin10s this can be closed >> Examples page has been revamped

[2020-09-04 07:23] Nitish145 commented on #1380
Yeah, Closing this issue..

[2020-09-04 07:23] #1380 closed

[2020-09-04 08:40] #1336 closed

[2020-09-04 08:41] #1004 closed

[2020-09-04 11:37] tushar912 commented on #49
is this issue still open?

[2020-09-04 16:04] #1444 closed

[2020-09-04 16:04] #1419 closed

[2020-09-04 16:04] #1350 closed

[2020-09-04 16:05] #1298 closed

[2020-09-04 17:31] nitin10s commented on #1003
@aayush-05

[2020-09-06 04:09] tachyons commented on #1503
Accept combination of alphabets and spaces, remove special characters and numbers,

Refer https://makandracards.com/makandra/35477-matching-unicode-characters-in-a-ruby-1-9+-regexp

[2020-09-07 00:30] #655 closed

[2020-09-09 00:29] #937 closed

[2020-09-10 05:04] pavanjoshi914 opened #1640 "Signup form improvements"
**Is your feature request related to a problem? Please describe.**

Circuit verse signup forms has many validation problems

problem1:no proper validation set up to username field

    as there is only one field in signup form it can used as username  as well as full name for user
   so only possible validation can be applied is it cant be left blank  (Closes #1503 )
    (  no server side validati

[2020-09-10 09:02] max-keviv opened #1641 "in Collaborated Projects Section when Clicked on Project more Button it show's Error 404"
In Collaborated Projects Section when Clicked on Project more Button it show's Error 404

A clear and concise description of what the bug is.

Steps to reproduce the behavior:
1. Go to https://circuitverse.org/users/${user_id}
2. Click on Collaborated Projects Section if exists if not make one
3. Click down to more button
4. See error

Screenshots
![Screenshot (42)](https://user-images.githubuserc

[2020-09-11 00:29] #463 closed

[2020-09-11 10:29] Tushardeepak commented on #1640
I would like to work on it..

[2020-09-14 00:30] #989 closed

[2020-09-14 00:30] #924 closed

[2020-09-15 01:58] nTrfAce opened #1651 "Combinational Analysis tool fails due to an independent output"
**Describe the bug**
If the Combinational Analysis tool is asked to create a circuit where one or more of the outputs are not dependent on an input, it outputs nothing or a partial circuit.

**To Reproduce**
I encountered this behavior trying to generate the circuit for a 7-segment decoder, but limited to the states 0-3.  The issue is that the b segment in this case is "degenerate" per Issue #659

[2020-09-16 15:58] nitin10s opened #1655 "Indicate that Getting Started [in Navbar] is a dropdown"
**Describe the bug**
The Getting Started nav-link in the navbar is a dropdown but the same isn't indicated.
![image](https://user-images.githubusercontent.com/16988558/93362006-1e2df300-f863-11ea-9542-0b6c3486ea10.png)

**Expected behavior**
A down arrow to indicate that it is, in fact, a dropdown

**Are you working on this issue? (Yes/No)**
No

[2020-09-16 19:20] aayush-05 opened #1656 "Fix Sidebar scroll for Assignment Submissions"
**Describe the bug**
The Sidebar's height for the Assignment submissions must not exceed a certain length, rather it should scroll to expose rest entries.

**Expected behavior**
Add a limit to the height (preferrably default height on page load for each display size) and enable scroll.

**Screenshots**
![image](https://user-images.githubusercontent.com/47032027/93382469-c8b40f00-f87f-11ea-8b82-072

[2020-09-16 19:30] aayush-05 opened #1657 "Add a default font for the platform"
**Describe the bug**
Currently we are not defining a font to be used on the platform so the browser resorts to using the browser-default font. This creates inconsistency when using the platform on different browsers.

**Expected behavior**
Add a font to the platform (personally prefer "Inter", finalise with @nitin10s) using a OTF/TTF file via the Asset Pipeline

**Are you working on this issue? (Y

[2020-09-16 19:36] aayush-05 opened #1658 "Update Images on Teachers Page"
**Describe the bug**
The screenshots provided on Teachers Page show a glimpse of the old UI.

**Expected behavior**
The images must be updated in accordance to the new UI.

**Screenshots**
![image](https://user-images.githubusercontent.com/47032027/93383968-07e35f80-f882-11ea-9849-2957a8c39626.png)

**Are you working on this issue? (Yes/No)**
No

[2020-09-17 00:29] #963 closed

[2020-09-17 00:29] #377 closed

[2020-09-17 05:07] pavanjoshi914 commented on #1657
I would like to work on this

[2020-09-17 06:36] aayush-05 commented on #1657
Great! Go ahead

[2020-09-17 13:31] siddhant2611 commented on #1655
can I work on this?

[2020-09-18 07:41] aayush-05 opened #1659 "Add LinkedIn Icon in Footer"
Add LinkedIn icon similar to Facebook and Twitter icon in the Footer.
![image](https://user-images.githubusercontent.com/47032027/93570283-660e6080-f9b0-11ea-8ef4-98a543ab9eb3.png)

**Are you working on this? (Yes/No)**
No

[2020-09-18 08:01] aayush-05 opened #1660 "Improve User-search page"
**Describe the bug**
Make the User-search page in sync with Project-search page. This requires the following changes:
--Add border around individual search result
--Remove the horizontal rule between results
--Center and add padding to the pagination element (to be done on both Project and User search page)
![image](https://user-images.githubusercontent.com/47032027/93572206-2432e980-f9b3-11ea-93d

[2020-09-18 11:08] abstrekt opened #1661 "drag out of bound"
Dragging of elements should not go out of bound in PR #1585, may take panels to a point of no return.

![image](https://user-images.githubusercontent.com/42478217/93591112-60734380-f9cd-11ea-9666-b163f3259eaf.png)

*Creating this issue to keep track of the bug*

[2020-09-18 14:59] animesh-007 commented on #1659
Can I work on this?

[2020-09-18 15:35] DarthCucumber commented on #1655
Hello I think someone is working on this but as I'm new into open source contribution I want to work on this so that I get the idea. If someone is already working please continue and you can make a pull request. I am working on this issue locally just to learn. I got stuck at a point. can you tell me which js file deals with the toggle dropdown. It'll be of great help.

[2020-09-18 15:37] aayush-05 commented on #1659
Sure, Go ahead!

[2020-09-18 16:22] nitin10s commented on #1655
@siddhant2611 should ideally be solving this.

[2020-09-18 16:25] DarthCucumber commented on #1655
Okay sure. So you'll be making the pull request?

[2020-09-18 16:27] DarthCucumber commented on #1655
okay sure no problem.

[2020-09-19 04:51] hdck007 commented on #1659
Can I work on this if @animesh-007 isn't doing it.

[2020-09-19 05:19] hdck007 commented on #1659
Can I go for this if @animesh-007 isn't doing it?

[2020-09-19 08:36] manasivaraiya commented on #1660
Hey! Can i try working on this? It's my first contribution to open source!

[2020-09-19 08:39] manasivaraiya commented on #1656
can i work on this? i haven't contributed to open source before!

[2020-09-19 09:05] DarthCucumber opened #1664 "Indicate that "circuit" and "info" in footer are not link"
**Describe the bug**
 "_**circuit**_" and "**_info_**" in footer are not link which is not indicated

**Expected behavior**
May be underlining the text _**circuit**_ and _**info**_
plus adding suitable color to the text so that visitors can differentiate.
Changing color would be ideal because links already get underlined on hovering cursor.

**Screenshots**
![bug](https://user-images.githubusercon

[2020-09-19 09:33] tachyons commented on #1381
Irony

[2020-09-19 10:01] ShubhankarKG commented on #1381
What does it mean by no activity ?
Only close ?

[2020-09-19 11:39] pavanjoshi914 commented on #1657
@nitin10s and @aayush-05 plz review the pull request if any further changes needed you're welcome

[2020-09-19 11:47] pavanjoshi914 commented on #1660
Hii @aayush-05 If anyone is working ? if not then  I want to take it

[2020-09-19 12:18] pavanjoshi914 opened #1667 "After search results of user the category of search should still remain 'Users' and not projects"
**Describe the bug**
when a user is searched it shows result of  all registered users but category of search automatically changes to projects

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'www.circuitverse.org'
2. Click on 'search tab and search for user'
3. after search of user the  category shows projects as category and not users
4. See error

**Expected behavior**
  If a user is

[2020-09-19 12:44] DarthCucumber commented on #1667
can I work on this?

[2020-09-19 13:21] pavanjoshi914 commented on #1667
yes ... Go ahead

[2020-09-19 18:46] aayush-05 commented on #1656
Sure! Go ahead

[2020-09-19 18:52] aayush-05 commented on #1660
@manasivaraiya alloted another PR to you. @pavanjoshi914 you can work on this

[2020-09-19 20:18] animesh-007 commented on #1659
@hdck007 Sure😀

[2020-09-20 05:43] nitin10s commented on #1402
@satu0king

[2020-09-20 08:42] pavanjoshi914 commented on #1660
ohk

[2020-09-20 12:17] animesh-007 commented on #1658
I would love to work on this.

[2020-09-20 12:47] Creatoon commented on #1655
is it still open?

[2020-09-20 13:23] DarthCucumber commented on #1655
Yes I guess. I already fixed the issue but someone is already working on it. If he drops I'll make a PR. You can search for some other issue.

[2020-09-20 19:45] gr455 commented on #1651
Hello!, I would like to take up this issue

[2020-09-21 00:31] #1422 closed

[2020-09-21 00:31] #1028 closed

[2020-09-21 07:32] #1659 closed

[2020-09-21 10:25] #1657 closed

[2020-09-21 12:00] Roshan13046 commented on #49
I would like to work upon this.
Is the issue open?

[2020-09-21 12:25] Roshan13046 commented on #2
I would like to contribute to this issue.
Is the issue open?

[2020-09-23 04:31] pavanjoshi914 opened #1693 "navbar UI fixes required in new UI of simulator"
**Describe the bug**
problem1:whe navbar collapse, sign in button and toggler overlap on each other
problem2 : after clicking on toggler the content is not well displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://beta.circuitverse.org/simulator'
2.minimise browser window until toggler is visible on navbar
3. click on toggler
4. See error

**Expected behavior**
sign in bu

[2020-09-23 11:43] sanskar-p commented on #1664
Hi @DarthCucumber. Can I work on this issue?

[2020-09-23 13:29] #1664 closed

[2020-09-25 00:31] #55 closed

[2020-09-25 05:53] Roshan13046 commented on #1449
Anyone working on the issue.
I am interested to work on it.
Please suggest ways to gets started.

[2020-09-25 06:30] HADES-01 commented on #1656
Is anyone still working on this issue, if not then I would like to fix this bug. @aayush-05

[2020-09-25 09:02] aayush-05 commented on #1656
Hey!
Closing this, because Satvik fixed it himself here >> #1691

[2020-09-25 09:02] #1656 closed

[2020-09-25 12:41] #1397 closed

[2020-09-25 13:40] nTrfAce opened #1702 "Priorty Encoder Enable input is really a Valid output"
**Describe the bug**
The documentation for the Priority Encoder https://docs.circuitverse.org/#/decodersandplexers?id=priority-encoder says "AN enable input is also provided to activate/deactivate the priority encoder."  The connection at the bottom of the symbol is labeled EN.

However, this is not an Enable input, rather it is a output which indicates if the output is Valid.  The Valid output go

[2020-09-25 16:49] satu0king opened #1704 "Google Slides Plugin | Powerpoint Plugin"
CircuitVerse circuit's can be easily be embedded in websites using an iframe. This is great however, it cannot be embedded in a PPTX or Google Slides. I have used liveslides program before to achieve the same on PPTX (Liveslides is deprecated now)

However, I think it is possible to create a plugin/extension/add-on to achieve the same. Poll Anywhere and several other services achieve this, so we d

[2020-09-25 16:56] rohan2734 commented on #2
@satu0king I would like to work on the task ```Decimal to BCD and vice versa```  please assign it to me,

[2020-09-26 10:25] satu0king opened #1706 "Boolean function -> Circuit Generation"
Currently, we have Combinational Analysis to generate circuits.
We also have ways to generate boolean logic table given a boolean function. See [here](https://learn.circuitverse.org/docs/bool2.html)

We should easily be able to integrate the 2. Given a boolean function like `X = AB' + C`, we should get a minimized circuit for the same.

Please send PRs to `new_UI` branch.

**Are you working on thi

[2020-09-26 10:32] satu0king opened #1707 "Update Simulator Issue reporting"
**Describe the bug**
Report Issue window in `new_UI` branch is outdated from `master` branch

`new_UI` branch:
![image](https://user-images.githubusercontent.com/2092958/94338595-41019980-0011-11eb-9b17-d27105390b25.png)

`Master` branch:
![image](https://user-images.githubusercontent.com/2092958/94338592-39da8b80-0011-11eb-800d-6b22da3531b0.png)

Please send a PR fixing this issue.
Code for the h

[2020-09-26 10:35] satu0king commented on #1702
Thanks for reporting this!

[2020-09-26 10:39] satu0king opened #1708 "Zoom in and Zoom out buttons"
The Zoom slider in the new UI at [beta.circuitverse.org](beta.circuitverse.org) works but the + and - symbols are not buttons. It would be nice if they act as buttons for zooming in and zooming out respectively.

Branch: new_UI
JS: public/src
HTML: app/views/simulator/edit.html.erb

The class name for the zoom slider is `zoom-slider`

**Are you working on this? (Yes/No)**
No

![image](https://user

[2020-09-26 10:56] Shivansh2407 opened #1709 "Night Sky Theme Not working Properly"
**Describe the bug**
The Night Sky Theme in the Tools section on selecting works well, but on refresh it fades all the options on the Navbar.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'beta.circuitverse.org'
2. Click on 'simulator'
3. Apply Night Sky theme and refresh
4. See error

**Expected behavior**
The Navbar options should remain as it is like in the other themes.

**Screen

[2020-09-26 10:59] satu0king commented on #1709
I think the issue will be here `public/src/themer/themes.js`, some colors might be missing for some themes.

[2020-09-26 11:21] Shivansh2407 opened #1711 "Insert Subcircuit Dialog : Longer Circuit Names Bug"
**Describe the bug**
Longer Circuit names either with space or without space gives abnormality while Insert Subcircuit option is clicked.

For Ex: With Space ->Helloworld Helloworld Helloworld Helloworld Helloworld Helloworld Helloworld Helloworld HelloworldHelloworld Helloworld Helloworld Helloworld Helloworld Helloworld
Without Space ->HelloworldHelloworldHelloworldHelloworldHelloworldHelloworld

[2020-09-26 11:26] satu0king opened #1712 "Feature: Starburst Announcements [High Priority]"
We need to be able to make announcements of new features easily. Ideally we don't want to update the View code to make these kind of announcements.

Gem: https://github.com/starburstgem/starburst#scheduling-announcements

**Describe the solution you'd like**
- [ ] Integrate the gem with our platform
- [ ] Confirm that announcements can support basic text as well as custom HTML with basic styling
-

[2020-09-26 11:40] Shivansh2407 opened #1713 "Delete Selected option Not working on the Quick Access Panel"
**Describe the bug**
When selecting a Particular element, for, example : input element, and then clicking on Delete Selected on the Quick Access Panel, The Input is not getting deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'beta.circuitverse.org'
2. Go to Simulator
3. Insert any element and click delete selected on the Quick Access Panel
4. See error

**Expected behavior**
I

[2020-09-26 11:57] #1651 closed

[2020-09-26 20:00] nTrfAce commented on #1702
The octocat waved to me from the corner of the docs page,
![image](https://user-images.githubusercontent.com/25803511/94349049-e0189800-fff5-11ea-8443-05d2dc870986.png)
leading me to realize that the docs are in markdown on github at:
https://github.com/CircuitVerse/CircuitVerseDocs/blob/master/docs/decodersandplexers.md
Cool.

The truth table edit I'm suggesting would be in markdown:
[code]
Which

[2020-09-27 05:14] pavanjoshi914 commented on #1712
I would like to implement It if it is not taken by anyone

[2020-09-27 05:30] satu0king commented on #1702
@nTrfAce, you are right. You can simply send in a PR yourself to fix the bug or wait for someone to fix the same. Thanks!

[2020-09-27 05:31] satu0king commented on #1712
Go ahead!

[2020-09-27 10:06] arjungarg07 commented on #1707
Hey @satu0king , I am willing to work on this as my first issue. Can you assign this to me?

[2020-09-27 10:50] satu0king commented on #1707
Go ahead! @arjungarg07

[2020-09-27 11:23] Shivansh2407 opened #1716 "Delay in Text to be removed"
**Describe the bug**
Delay Property from Text Element should not be there.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'beta.circuitverse.org'
2. Select 'Text' Element
3. See error

**Expected behavior**
The Delay property should be removed from Text.

**Screenshots**
![image](https://user-images.githubusercontent.com/42182955/94363710-c9e80600-00e1-11eb-9af8-168b858951a7.png)

**D

[2020-09-27 14:41] nTrfAce commented on #1702
Okay, I'll take this as "I'm working on this issue", with the intention of submitting a Pull Request with the documentation fix and code fix for EN to V and fixing 'enable' to 'valid' internally in the module.

[2020-09-27 17:28] arjungarg07 commented on #1707
Hey @satu0king , I have opened a pull request for the same , kindly review https://github.com/CircuitVerse/CircuitVerse/pull/1717

[2020-09-27 21:57] arjungarg07 commented on #1708
Hey @satu0king Can i work upon this feature?

[2020-09-27 23:40] nTrfAce commented on #1702
Module PR
https://github.com/CircuitVerse/CircuitVerse/pull/1718

Documentation PR
https://github.com/CircuitVerse/CircuitVerseDocs/pull/276

Someone with access please edit https://circuitverse.org/simulator/embed/762 to change the input box on the bottom of the circuit.  Remove the input box, have instead V run to an output box, and place it in the bottom right of the circuit.

[2020-09-28 09:51] gr455 opened #1720 "Some contents not escaped"
**Describe the bug**
The contents of the 'Open offline project' menu are not escaped. The title can contain malicious javascript. Since this only happens locally, it is not a security threat but escaping is always better

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'beta.circuitverse.org/simulator'
2. Click on 'Project > Save offline'
3. Change the value of 'projectList' key in the

[2020-09-28 13:54] Yashs911 commented on #1716
Hi, @Shivansh2407 Can I work on this Issue. I am new to open source so, can guide me what all changes are necessary.

[2020-09-28 15:02] ShubhankarKG opened #1721 "Change logo for Google OAuth"
**Describe the solution you'd like**
I'd like that we update our auth logo for Google to something along the lines of https://developers.google.com/identity/branding-guidelines

**Additional context**
Currently, we use this.

![Screenshot from 2020-09-28 20-27-12](https://user-images.githubusercontent.com/50791000/94449249-849f0380-01c9-11eb-940b-83aa2260a07d.png)

It's a small fix, but I feel we

[2020-09-29 07:21] gr455 opened #1724 "Project properties display object on 'Launch'"
**Describe the bug**
Project properties section displays a span object instead of the project name when launching a saved circuit

**To Reproduce**
Steps to reproduce the behavior
1. Go to 'beta.circuitverse.org'
2. Make a new project ( if you don't have an existing project)
3. Go to Dashboard, click 'Launch' on the project
4. See error

**Expected behavior**
Should display the project name in pla

[2020-09-29 13:31] satu0king commented on #1708
@arjungarg07 go ahead

[2020-09-29 15:15] nishd8 commented on #1721
Yes I am working on this even put a pull request

[2020-09-29 16:42] satu0king opened #1728 "Pace.js interfering with Turbolinks"
**Describe the bug**
In the beta deployment, navigation from simulator page to other pages is weird. I believe this is due to turbolinks.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to simulator page
2. Goto dashboard page
3. Observer how the page transitions
4. See the weird simulator flash in between transition

[2020-09-29 16:42] satu0king commented on #1728
@tachyons you might have inputs on this.

[2020-09-29 16:42] satu0king commented on #1724
@gr455, I pushed some new changes today. Can you check if it is still happening?

[2020-09-29 16:46] satu0king commented on #1716
@Yashs911, just add `Text.prototype.propagationDelayFixed = true;` to `public/src/modules/Text.js`

[2020-09-29 16:46] satu0king commented on #1711
@abstrekt can you add some input on how to fix this?

[2020-09-29 16:49] satu0king commented on #1661
Interesting, in the older UI it is not happening, maybe that will give a clue on how to fix this?

[2020-09-29 16:50] Yashs911 commented on #1716
@satu0king okay. I will create a PR on 1st Oct.

[2020-09-29 16:51] satu0king commented on #1661
https://forum.jquery.com/topic/prevent-draggable-to-go-outside-screen

I think this will solve the problem

[2020-09-29 16:57] abstrekt commented on #1711
best to not displaying the full name imo

[2020-09-29 17:01] abstrekt commented on #1661
exactly what was needed!

[2020-09-29 17:10] satu0king opened #1729 "Add link to project page in simulator"
Add a link to redirect to project page directly from the simulator.
Please send PR to new_UI branch.

![image](https://user-images.githubusercontent.com/2092958/94590655-a5885700-02a4-11eb-9db8-1973ec46eb43.png)

[2020-09-30 05:36] 1337w0rm commented on #1720
I don't think this is a relevant issue or bug. It is a self XSS and no sensitive information is being stored in the localstorage.

[2020-09-30 06:29] ryuk156 opened #1731 "Hex-Bin-Dec-converter not working"
**Describe the bug**
No prompt appearing when we click on  Hex-Bin-Dec-converter inside Tools

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Simulator
2. Click on 'tools'
3. Then Click to 'Hex-Bin-Dec-converter'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

Old UI:
![image](https://user-images.githubusercontent.com/49101492/94650

[2020-09-30 06:39] Rajat-S-Patel commented on #1731
it's working in my case

[2020-09-30 06:41] ryuk156 commented on #1731
@Rajat-S-Patel  its not working on beta   https://beta.circuitverse.org/simulator can you  try this URL

[2020-09-30 06:42] Rajat-S-Patel commented on #1731
yes, It's not working on beta

[2020-09-30 06:44] ryuk156 commented on #1731
@satu0king  can you take a look please

[2020-09-30 06:44] gr455 commented on #1720
Yes this is true. I mentioned that this is not a security issue. Just for UI sake. But to be fair, this is really not an important issue because people will most likely not alter local storage contents

[2020-09-30 06:46] gr455 commented on #1720
A similar bug is in the combinational analysis popup, but there you can just type in unescaped HTML/JS which is better issue.(again not a security issue, just UI)

[2020-09-30 06:51] satu0king commented on #1731
Yes it has not been migrated, we just need to migrate the code.

[2020-09-30 07:25] 1337w0rm commented on #1720
In the `Save Offline` feature the contents are being sanitized. The XSS in triggered only when you manipulate the local storage

[2020-09-30 07:29] gr455 commented on #1720
You're right. I think it's best to only focus on the combinational analysis one.

[2020-09-30 07:34] Rajat-S-Patel opened #1733 "Tutorial Guide is not working properly under certain conditions in beta version"
**Descption**
Tutorial Guide is not working after deleting an element
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'beta.circuitverse.org/simulator'
2. Select circuit element, and then delete that element.
3. Now click on Help
4. Try to open tutorial guide
5. It will work for circuit element, but when you click next, it will hang.

**Expected behavior**
It should continue to display

[2020-09-30 08:18] 1337w0rm commented on #1720
I tried to fix the Combinationa Analysis bug. Can you please verify if the fix is working correctly or not. [Combinational Analysis XSS Fix](https://3000-c1ec5981-a3ba-49ed-a382-f576c2ad6632.ws-us02.gitpod.io/simulator)

[2020-09-30 08:41] gr455 commented on #1720
Can you base your changes over the new_UI branch?

[2020-09-30 09:58] 1337w0rm commented on #1720
By "Base your changes over the new_UI branch" you meant to make a PR ?

I made a PR, tell me if I did it right. I'm fairly new to these stuff.

[2020-09-30 10:08] gr455 commented on #1720
I meant use the new_UI branch and make changes in that and PR to the new_UI branch.
If you have CircuitVerse in your git remote(as circuitverse), then you can use

`git checkout circuitverse/new_UI`
Then you can make a new branch(say you call it xssfix) by
`git checkout -b xssfix`
This will create(and switch to) a branch 'xssfix' which will be based on the new_UI branch.
Now any commits that you m

[2020-09-30 10:56] 1337w0rm commented on #1720
Thanks for the help.

Did a Pull Request to new_UI branch can you please check it out.

[2020-09-30 15:14] gr455 commented on #1724
Fixed now thanks!

[2020-09-30 15:14] #1724 closed

[2020-09-30 15:20] CEa-TIde opened #1738 "Moving camera is incorrectly added to action history queue, so that ctrl+Z does nothing once."
**Describe the bug**
Moving camera is added to the action history queue, but does not move the camera back when pressing ctrl+Z. resulting in that ctrl+Z does nothing, one time.

**To Reproduce**
Steps to reproduce the behavior:
1. Do anything that can be undone with ctrl+Z.
2. Move the camera.
3. Now it takes two ctrl+Z presses to undo that earlier action. (It does not move the camera on the firs

[2020-09-30 15:24] Yashs911 commented on #1716
@satu0king I think there is some typo in the file path because I cannot find src folder in public

[2020-09-30 15:26] pavanjoshi914 opened #1740 "browser compability of simulator's new UI"
**Describe the bug**
consistant look of UI is changing with change in browser

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://beta.circuitverse.org/simulator'
2. Open website in different browsers and observe UI

**Expected behavior**
UI components must must be compatible with any widely used browser

**Screenshots**
UI look that we want
![image](https://user-images.githubuser

[2020-09-30 16:21] satu0king commented on #1716
Check new_UI branch

[2020-09-30 17:12] reshma-avvaru commented on #1655
is it still open

[2020-09-30 17:20] reshma-avvaru opened #1742 "Navigation link"
The navigation button of current page in navigation bar  is not disabled.
view get reloaded on clicking the button leading to same view again
![bug1](https://user-images.githubusercontent.com/69675204/94774883-5a715f80-03dc-11eb-96c6-f92d13e9c826.png)

Are you working on this issue? (Yes/No)
Yes

[2020-10-01 03:02] GAUTAMSAHARAN commented on #1729
can i work on this feature

[2020-10-01 03:05] pavanjoshi914 commented on #1742
@reshma-avvaru always use screeshots to describe the bug ,Thanks!

[2020-10-01 03:46] satu0king commented on #1729
Go ahead!

[2020-10-01 05:05] GAUTAMSAHARAN commented on #1729
should I directly put href in <a> tag or we need to go with creating function in js just like with other options in dropdown.

[2020-10-01 05:10] GAUTAMSAHARAN commented on #1729
One more thing, rather than adding another option in menu how about we put link directly on project name in the navbar

[2020-10-01 06:27] GAUTAMSAHARAN commented on #1729
I have created this feature i put link on the project-name in simulator page, and made a pr . Please review it.

[2020-10-01 07:18] satu0king commented on #1729
Interesting, However, I think it is better if we add the hyperlink on a icon like this.
![image](https://user-images.githubusercontent.com/2092958/94779298-577a6d00-03e4-11eb-8890-219b85697f7a.png)

@Shivansh2407, @sal2701 any inputs?

[2020-10-01 07:22] GAUTAMSAHARAN commented on #1729
What i think is we don't have any kind of icon in whole nav-bar so it looks bit different, and usually we reach to our desired location by clicking on main title, that's my thought.

[2020-10-01 07:33] satu0king commented on #1729
Agreed with your point on the icon. However, there is another feature coming in soon letting users edit the the project name by clicking on the project name (Like in google docs). This feature takes precedence over yours. Moreover, the userwill not expect the project name to be a hyperlink. I think for now just add the hyperlink to the drop down. We can always move it as we improve. Thanks!

[2020-10-01 07:51] GAUTAMSAHARAN commented on #1729
ok, I understand and I put a hyperlink in dropdown menu rather than in project-title. Now you can review my PR. Thanks for your help.

[2020-10-01 16:01] sal2701 opened #1748 "Inconsistent color scheme in the Combinational Analysis Tool"
**Describe the bug**
The Combinational Analysis Truth Table has a green and white color scheme which isn't consistent with the theme of the simulator.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Simulator Beta Version](https://beta.circuitverse.org/simulator)
2. Click on ```Tools - > Combinational Analysis```
3. Enter the variables to see the table.

**Expected behavior**
A color

[2020-10-01 17:48] sal2701 opened #1749 ""Draggable" indicator vanishes on minimizing Property Menu"
**Describe the bug**
The Property Menu has a "-" to indicate that it can be dragged around in the simulator. On minimizing, this indicator vanishes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Simulator Beta](https://beta.circuitverse.org/simulator)
2. Click on the Property Menu Title to minimize it.
3. The bar vanishes

**Expected behavior**
The bar should be present in the minim

[2020-10-01 19:01] sal2701 opened #1751 "Button to create "New Circuit" in "Insert Subcircuit" Dialogue"
**Is your feature request related to a problem? Please describe.**
If there is only 1 circuit and we press ```Insert SubCircuit``` we get a dialogue box. Adding a button to ```Create a New Circuit``` can be helpful.

**Describe the solution you'd like**
A simply button or anchor tag to create a new circuit.

**Additional context**
Screenshot
![image](https://user-images.githubusercontent.com/42511

[2020-10-01 20:06] sal2701 opened #1752 "Display CircuitVerse Projects on GitHub"
**Is your feature request related to a problem? Please describe.**
Nowadays, GitHub has become a platform for users to display all their technical work, so it would be really helpful if users could have the ability to display their circuits created on CircuitVerse on GitHub in a proper way.

**Describe the solution you'd like**
We do have the ability to download images, but we could come up with s

[2020-10-02 02:14] GAUTAMSAHARAN commented on #1751
I wanted to work on this.

[2020-10-02 02:16] ShubhankarKG commented on #1721
Closing this since the issue has been resolved.

[2020-10-02 02:16] #1721 closed

[2020-10-02 04:21] drjyeh commented on #251
Hi,
I am very interested in generating Verilog from CircuitVerse, and would like to help getting this functionality to work.

I am an Associate Professor at Azusa Pacific University and I teach Digital Logic Design.  I am an expert in the field of Internet-of-Things (IoT).  Because of COVID-19, we are fully online in the USA, and I use CircuitVerse for my labs in place of physical labs.  I am trul

[2020-10-02 04:25] drjyeh opened #1753 "Generating Verilog"
**Is your feature request related to a problem? Please describe.**
This was a previous issue:
#251 by satu0king was closed on Mar 11 0 of 3

**Describe the solution you'd like**
I would like to help with the development so that CircuitVerse can generate Verilog code, which can be simulated by open source tools like Icarus Verilog (iverilog). And then it can be running on an actual open-source comp

[2020-10-02 05:17] GAUTAMSAHARAN commented on #1751
a simple button I think works and it's great because we wanted to minimize the work of user so it's good d

[2020-10-02 06:00] rohan2734 commented on #1708
@satu0king  if @arjungarg07 couldnt do it, then assign me otherwise i will look on other issue.

[2020-10-02 06:01] rohan2734 commented on #1712
@satu0king  if @pavanjoshi914  has not yet done, i would like to work on this issue.

[2020-10-02 06:03] rohan2734 commented on #1706
@satu0king  hi i would like to work on this issue if no one has taken it.

[2020-10-02 06:29] satu0king commented on #1708
@arjungarg07 working on this?

[2020-10-02 06:29] satu0king commented on #1712
@pavanjoshi914 working on this?

[2020-10-02 06:30] satu0king commented on #1706
Go Ahead @rohan2734

[2020-10-02 06:46] satu0king commented on #1753
@drjyeh thanks for showing interest in this project. We would love to develop this feature completely. A quick point to note, we have a new UI - https://beta.circuitverse.org, you will need to see `new_UI` branch for this code.

Let us know how and what exactly do we need to get this project up and running.

Thanks!

[2020-10-02 07:12] AkashChetia commented on #1709
Hi, @Shivansh2407. Can I work on this Issue?
I'm new to opensource and hope will get some values by contributing to it.

[2020-10-02 07:18] satu0king commented on #1709
Go ahead, this is an easy one. Good luck!

[2020-10-02 07:25] rohan2734 commented on #1706
- @satu0king does ```combinational analysis``` mean this one [here](https://learn.circuitverse.org/docs/combinational) ?
- > We should easily be able to integrate the 2. Given a boolean function like X = AB' + C, we should get a minimized circuit for the same.

can you give some hints , i dont know with what language or skills ,we can do them, thats why.

[2020-10-02 07:41] satu0king commented on #1706
Check tools-> combinational analysis.
@rohan2734 I recommend going through the product for a while and try different things. This will give you a good picture on everything. Good luck!

[2020-10-02 08:14] sal2701 commented on #1751
That's great @GAUTAMSAHARAN. Go ahead. Let me know if you face any issues.

[2020-10-02 08:17] GAUTAMSAHARAN commented on #1751
Thanks, @sal2701,  I am having an issue which is when i try to make changes in public/src directory js files and restart the server i am not getting it's those changes in my browser, is there some way to rebuild the js file??

[2020-10-02 08:32] mahmodHammad commented on #1753
@drjyeh
Thank you for the interest!
I would love to help in this, please let me know when can we srart

[2020-10-02 08:54] pavanjoshi914 commented on #1712
@satu0king  work in progress....

[2020-10-02 08:58] pavanjoshi914 commented on #1712
HII @rohan2734
even a single line you contribute to circuit verse ,it is a great contribution

If you  are new to circuitverse plzz have a look on them

https://github.com/CircuitVerse/CircuitVerse/issues/1740
https://github.com/CircuitVerse/CircuitVerse/issues/1711

also visit https://beta.circuitverse.org/simulator and file some good issues that you will enouter
Thanks!

[2020-10-02 09:02] rohan2734 commented on #1706
- @satu0king  ya i have understood now, I even tried to give inputs A,B
- and output as X=A.B, the boolean table is not working?, for ```AND``` gate.
![image](https://user-images.githubusercontent.com/58523134/94906324-e73f1a80-04bb-11eb-90f3-afe84a84ca99.png)

- the output is not correct right? according to and gate between A and B, the output should be
![image](https://user-images.githubusercont

[2020-10-02 09:07] rohan2734 commented on #1655
@nitin10s @satu0king   I have an idea, should i  work on this?

[2020-10-02 09:14] rohan2734 commented on #1740
- operat browser
![image](https://user-images.githubusercontent.com/58523134/94907256-7ef13880-04bd-11eb-8c21-0ab6d856ccd9.png)
-chrome browser
![image](https://user-images.githubusercontent.com/58523134/94907289-8dd7eb00-04bd-11eb-911b-e724878c2238.png)
I observed two differences, as you can see in the image, in the opera broswer , the background of the
Project:
Untitled
is black
but in chrome it

[2020-10-02 09:18] rohan2734 commented on #1711
@Shivansh2407 i think making it a flex box , and managing the overflow direction will work, @satu0king i would like to work on this.

[2020-10-02 09:19] Shivansh2407 commented on #1711
Go ahead and make a PR @rohan2734 👍

[2020-10-02 09:20] rohan2734 commented on #1712
- @pavanjoshi914  sure pavan, but no one has responded to #1655 issue, who have commented there. please someone check it.
- #1740 , do you have any idea , how to manage that problem?
- #1711 , i have commented my idea, there, if it could be assigned to me , i can work and solve it.

[2020-10-02 09:23] abstrekt commented on #1711
@rohan2734 , you can start working with what you think is best, and also share screenshot in your PR

[2020-10-02 09:27] pavanjoshi914 commented on #1712
respective authors will respond soon on them
1740 needs more test results from different browsers and os after that only browser specific changes can be done

[2020-10-02 09:32] rohan2734 commented on #1712
ok

[2020-10-02 09:33] rohan2734 commented on #1711
@abstrekt  the problem which i suffer is where is the code, and do i need to setup the whole repo?, can i work in gitlab virtual termninal? is it working fine.
-because setting it itself will take so much time.

[2020-10-02 09:38] abstrekt commented on #1711
I usually prefer setting it up locally, but you can use gitlab @Shivansh2407 works on it if I'm not wrong, he can tell you more about it.
the html for this is the ```edit.html.erb``` and the css is ```main.stylesheet.css``` & most the color css rules are in ```color_theme.scss```, JS ```public/src/```

[2020-10-02 09:50] Shivansh2407 commented on #1711
Are you talking about Gitpod @abstrekt @rohan2734 ? I use Gitpod just for reviewing the PRs, but in my opinion the Best way to make PRs is to setup the Repo in your local machine so that you can easily work on it without any interruptions (Because some PRs need changes and each time opening gitpod will be tedious, also Gitpod gives 40 hours free worktime only). Also this will help you contribute e

[2020-10-02 10:07] rohan2734 commented on #1711
- @Shivansh2407 how to setup RVM  for this```Install ruby using RVM, use ruby-2.6.5```
- and how to download redis and posgre SQL?

are these links  provided in the setup.md enough?
[code]

[2020-10-02 10:16] Shivansh2407 commented on #1711
RVM Install : https://rvm.io/rvm/install
You can download PostgreSQL from the link given, I think you will not need Redis setup , but incase you need it, the links are enough to download Redis. If you need any further help, feel free to ask us here.

[2020-10-02 10:19] rohan2734 commented on #1711
@Shivansh2407  but it is on ubuntu OS right, mine is on windows OS.

[2020-10-02 10:27] Shivansh2407 commented on #1711
For Windows, Directly install Ruby using the given link : https://rubyinstaller.org/

[2020-10-02 10:29] sal2701 commented on #1751
Yeah @GAUTAMSAHARAN. CircuitVerse uses Webpack to handle the javascript modules and assets. So the files are generated and are served from the ```public/packs/``` directory. This bundling process takes place once at the beginning, which works great for production, but for local development we need it to reload aka. Hot Reload on our changes. So you need to run ```bin/webpack-dev-server``` to enabl

[2020-10-02 10:34] rohan2734 commented on #1711
@Shivansh2407  installed rubyonrails from a youtube video.

[2020-10-02 10:47] sal2701 commented on #1753
Thanks a lot Prof. @drjyeh for the initiative. I would like to be a part of this. Having worked with verilog in a course, I believe the ability to get verilog code from CircuitVerse circuits will be amazing and will help students as well as professors.

[2020-10-02 10:57] sal2701 opened #1757 "Add instructions to enable Webpack Hot Reload to SETUP.md"
**Describe the bug**
Information about Webpack is not present in ```SETUP.md```. It needs to be updated.

The new_UI uses webpack to bundle the javascript module and assets. So to see any changes made to the simulator code aka. Hot Reload, on the local server, we need to start the ```webpack-dev-server```.

This can be done by running the command ```bin/webpack-dev-server``` .

This instruction ne

[2020-10-02 12:49] arjungarg07 commented on #1757
Hey @sal2701 ,Can I work on this?

[2020-10-02 12:52] sal2701 commented on #1757
Sure @arjungarg07, go ahead.

[2020-10-02 13:13] rohan2734 commented on #1711
@Shivansh2407  which version should i download for windows for imageMagick, please check this [link](https://imagemagick.org/script/download.php#windows).

[2020-10-02 13:17] arjungarg07 commented on #1757
I have made the changes as requested, Please review @sal2701. Thanks

[2020-10-02 13:20] Shivansh2407 commented on #1711
I guess, the latest versions for Redis and ImageMagick should work. Let me know if there is any issue.

[2020-10-02 13:24] rohan2734 commented on #1711
@Shivansh2407  after entering ```yarn``` command , there is an error about python
![image](https://user-images.githubusercontent.com/58523134/94927786-60e8ff80-04e0-11eb-99a6-53a9f7ab62b3.png)

and about imageMagick which one out of these?
![image](https://user-images.githubusercontent.com/58523134/94928049-b45b4d80-04e0-11eb-95d1-c713eb30b850.png)

[2020-10-02 14:11] rohan2734 commented on #1711
@abstrekt please mention the file names along with the path, because i am not  able to find them, if you mention them with folder names , it would be easy for me.

[2020-10-02 14:14] rohan2734 commented on #1711
-hey what branch do i need to push if  i complete the task?
- @Shivansh2407 in gitpod , if i did the task, and i want to push it but to a different branch, it wont be directly merged right.

[2020-10-02 14:33] r0the opened #1760 "Project saved as "Inverter" changes into completely different circuit."
**Describe the bug**
When I save a project online under the name "Inverter", a totally different project is saved.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new circuit
2. Click on Project / Save Online.
3. Enter "Inverter" as Project name.
4. Click on "Update Project".

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
<img

[2020-10-02 14:49] r0the opened #1761 "Test bench resets when I click on "cancel""
**Describe the bug**
When I double click on a test bench to enter a new JSON definition, but then click on "Cancel", the test bench resets and loses outputs and inputs.

**To Reproduce**
Steps to reproduce the behavior:
1. Add TB_Input to circuit
2. Double click on TB_Input.
3. Enter JSON definition and click on "OK"
4. Double click on TB_Input again (see first screenshot)
5. Click on "Cancel" ->

[2020-10-02 15:04] sal2701 opened #1762 "Login Button overlaps with ReCaptcha on hovering"
**Describe the bug**
ReCaptcha was recently added, but it is not styled properly. It needs to be fixed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [CircuitVerse Login Page](https://circuitverse.org/users/sign_in).
2. Hover over the login button.

**Expected behavior**
Proper styling around the ReCaptcha Element.

**Screenshots**
![image](https://user-images.githubusercontent.com/4

[2020-10-02 15:14] sal2701 opened #1763 "Complete div behaves as checkbox rather than just the checkbox on Login Page"
**Describe the bug**
Clicking the whole div selects/deselects the checkbox.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [CircuitVerse Login Page](https://circuitverse.org/users/sign_in)
2. Click on and around the 'Remember Me' Checkbox
3. It selects/deselects the Remember Me Checkbox

**Expected behavior**
Only clicking the checkbox should select/deselect it.

**Screenshots**
![ima

[2020-10-02 15:14] sal2701 commented on #1763
@nitin10s Is this a bug or was it intended?

[2020-10-02 16:41] zhanghailing commented on #1762
can I work on this issue?

[2020-10-02 16:45] GAUTAMSAHARAN commented on #1751
Thanx for your help about webpack and i add a button in dialog box to create new circuit directly and made a Pr. Please review it.

[2020-10-02 16:56] Shivansh187 commented on #1763
I would like to work on this issue

[2020-10-02 17:25] nitin10s commented on #1763
Not intended, it's a bug

[2020-10-02 18:39] drjyeh commented on #1753
Hi,
Thank you for your interest.  I am trying to use Chrome Development to overide module.js file.  But for some reason the overide does not work.  I slightly changed the tooltip message and add "s", but the tooltip remains the same.
NotGate.prototype.tooltipText = "Not Gate Tooltips : Inverts the input digital signal.";
I think we can fix the NotGate issue in verilog by adding:

//NotGate.prototy

[2020-10-02 19:05] satu0king opened #1766 "Assignment Close Immediately"
Currently assignments close at a deadline. However, it will be a nice for the professor to have the ability to close the assignment immediately. This will be helpful in a test like environment, where the official time is 1 hour, but the professor has set deadline as 1.5 hours (for margin). But once he is convinced everyone is done, he can close it manually himself.

I would like a button which say

[2020-10-02 19:18] satu0king opened #1767 "Group Page needs fine tuning"
**Describe the bug**
The time column takes lot of space. And because of that, the title column is going into 2 lines.

![image](https://user-images.githubusercontent.com/2092958/94961173-c6a1af80-0511-11eb-8f15-7e04f3096050.png)

Not sure what can be done. I suppose we can remove time zone detail and GMT?

@nitin10s @aayush-05 @Shivansh2407 @sal2701 any inputs here?

**Are you working on this issu

[2020-10-02 19:36] satu0king opened #1768 "Export Link is not very visible"
**Describe the bug**

![image](https://user-images.githubusercontent.com/2092958/94962632-606a5c00-0514-11eb-8c04-c328a6ba306c.png)

I think the export link in the assignment page can be made into button to increase visibility. Also rename to export grades instead of export results.
@aayush-05 is that good?

**Are you working on this issue? (Yes/No)**
No

[2020-10-02 19:38] satu0king opened #1769 "Set assignment name as name for export results file."
Currently, the exported file name is assignment-grades. It would be better to have the name of the assignment instead.

**Are you working on this? (Yes/No)**
No

[2020-10-02 19:46] sal2701 commented on #1763
Great @Shivansh187 go ahead!

Thanks @nitin10s

[2020-10-02 19:47] aayush-05 commented on #1768
Yeah! This looks a good improvement

[2020-10-02 19:51] aayush-05 commented on #1767
Umm, not sure if we should remove the timezone information altogether since now maybe with remote classes students and teachers could be residing in different ones. We can surely remove the "GMT+0530" and even the seconds information since it is always gonna be 00. Other thing we can do is maybe via some string manipulation we can reduce "India Standard Time" to IST (this should be achievable sinc

[2020-10-02 19:58] satu0king commented on #1767
@aayush-05 I think if we set the bootstrap class attribute appropriately, it will work?

[2020-10-02 19:58] arjungarg07 commented on #1708
Yeah! , @rohan2734  can work on it, I am solving other issues.Thanks!

[2020-10-02 20:00] arjungarg07 commented on #1769
Hey, @satu0king Can I work on this one?

[2020-10-02 20:03] aayush-05 commented on #1767
Yes, just required to increase column span for Name column and decrease the same for Deadline one.

[2020-10-02 20:05] satu0king commented on #1767
Also graded column can be merged with name?
Like

7 segment display
Graded(letter)

[2020-10-02 20:06] sal2701 commented on #1767
I feel we can try few things
- Round off the time, Instead of 5 days 15 hours 30 minutes, just display 5 days 15 hours. Once the deadline approaches, make it hours, minutes. Basically display just 2 units of time.
- Regarding the timezone, we could display in local timezone. As using the "Time" and "Time Left" user can easily figure out the deadline. And if necessary do something like Codeforces,

[2020-10-02 20:08] satu0king commented on #1712
Anyone send a PR for this issue. It is urgent as we need to announce the beta website so that we can get more testers.

[2020-10-02 20:09] satu0king commented on #1738
What is camera?

[2020-10-02 20:12] satu0king commented on #1733
Nice catch @Rajat-S-Patel, This is happening because the property menu is not active. Also noticed that if the menu's are collapsed, it won't work properly.

@abstrekt any inputs here?

![image](https://user-images.githubusercontent.com/2092958/94965712-9827d280-0519-11eb-8308-df8f3345af92.png)

[2020-10-02 20:12] satu0king commented on #1748
@nitin10s @abstrekt is this intended?

[2020-10-02 20:14] CEa-TIde commented on #1738
Sorry, did I use the incorrect word choice there? I meant the current viewport. Dragging the mouse would be 'moving the camera'.

[2020-10-02 20:15] abstrekt commented on #1748
definitely not, missed this element

[2020-10-02 20:24] arjungarg07 commented on #1769
@satu0king Can I work upon this?

[2020-10-02 20:28] nitin10s commented on #1748
As far as I remember, this was designed in a way to look different from all other elements deliberately? And it should ideally change as we change the theme.
But I strongly believe this can be improved and incase someone has a design in mind, pls do suggest.

[2020-10-02 20:31] satu0king commented on #1738
Ah yeah, I would use "dragging the canvas"

[2020-10-02 20:36] satu0king commented on #1767
I like the rounding off idea. Remaining time in days + hours, then hours + minutes as it becomes less than 1 day. Also we can consider not displaying the date in words and rather 03-02-2020

[2020-10-02 20:42] satu0king commented on #1706
@sal2701 can you help out here. Thanks!

[2020-10-02 20:46] satu0king commented on #450
@shubhankarsharma00, @gr455 this is happening because we are storing the name of the circuit in the json data as well as in the database. We need to deprecate the name from the json data.

[2020-10-02 20:48] satu0king commented on #379
@aayush-05

[2020-10-02 20:50] satu0king commented on #7
We need to migrate everything, so closing this PR

[2020-10-02 20:50] #7 closed

[2020-10-02 20:52] satu0king commented on #381
I think this is implemented. @abstrekt

[2020-10-02 20:52] #381 closed

[2020-10-02 20:52] CEa-TIde commented on #1738
There, edited it! I hope it's more clear now

[2020-10-02 20:58] satu0king commented on #1297
@Nitish145 Can you fix this? Basically you need to create a copy of the image when forking.

[2020-10-02 21:00] satu0king commented on #1315
@aayush-05, what do you suggest?

[2020-10-02 21:01] Nitish145 commented on #1297
AFAIK we remove the circuit preview while forking, removing that would suffice i guess..

Will give it a shot.. @satu0king

[2020-10-02 21:02] satu0king commented on #1381
@tachyons I am confused, is this working or not?

[2020-10-02 21:03] satu0king commented on #1464
@shubhankarsharma00 can this be closed?

[2020-10-02 21:08] arjungarg07 commented on #1768
@satu0king, I would like to work on this, please.

[2020-10-03 03:35] tachyons commented on #1381
Already removed the github action for marking stale PRs

On Saturday, October 3, 2020, Satvik Ramaprasad <notifications@github.com>
wrote:

--
Regards
Aboobacker MK

[2020-10-03 03:49] rohan2734 commented on #1706
- @sal2701  i think here the first task is to correct the logic in boolean table right?.
- please provide the filenames with complete path,
- i will work on first correcting the loigc in boolean talbe, then creating a circuit.

[2020-10-03 03:50] rohan2734 commented on #1708
@satu0king @arjungarg07 ok i am working on this.

[2020-10-03 04:32] shubhankarsharma00 commented on #1464
Yes, This is fixed

[2020-10-03 04:32] #1464 closed

[2020-10-03 06:17] #1757 closed

[2020-10-03 08:22] GAUTAMSAHARAN commented on #1749
I like to work on this issue.

[2020-10-03 08:33] GAUTAMSAHARAN commented on #1749
I solve this issue and also did for the Circuit Element menu and I made the  Pr request Please review it and let me know any changes needed.

[2020-10-03 08:38] GAUTAMSAHARAN commented on #1749
and I more think @sal2701 this pr also have the code to resolve the issue #1751, do I need to exclude the changes for that issue from this pr.

[2020-10-03 09:02] rohan2734 commented on #1704
hey @satu0king  i have done till  the step of clicking the load unpack button
- when i click this, i get this error.
![image](https://user-images.githubusercontent.com/58523134/94987592-0bb2f980-0585-11eb-9d2b-9cdf8a96421e.png)

and you made the extension for this issue?, how to make one?

[2020-10-03 09:09] 1337w0rm commented on #1713
Has this issue been fixed ? I can't seem to reproduce it.

[2020-10-03 09:12] pavanjoshi914 commented on #1748
@nitin10s
![color](https://user-images.githubusercontent.com/55848322/94987775-96482880-0586-11eb-8dcf-7fa7ba30e143.png)
have a look  on this combination...

[2020-10-03 09:18] Shivansh2407 commented on #1713
Closing this issue, as it has been Fixed in this [commit](https://github.com/CircuitVerse/CircuitVerse/commit/c8ee110f371620117b8c2f3ada104363f115be89)

[2020-10-03 09:18] #1713 closed

[2020-10-03 09:37] Shivansh2407 opened #1774 "Fork Own Circuit Bug"
**Describe the bug**
While saving the circuit, we get to see the Project Description, along with the Launch Simulator, Fork and Star Button, But Fork must only be implemented for other users forking our project or vice-versa. Currently Fork button is shown for my very own project in the Project description page and the View Modal in the Dashboard.

**To Reproduce**
Steps to reproduce the behavior:

[2020-10-03 09:45] abstrekt commented on #1748
The only color-changing per theme is the 1st row

[2020-10-03 11:19] pavanjoshi914 commented on #1763
@sal2701  If not done yet shall I generate a PR?

[2020-10-03 12:00] 1337w0rm opened #1776 "The new_UI branch not working on Gitpod for development."
**Describe the bug**
new_UI branch doesn't work on Gitpod for development because webpack-dev-server is not started.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://gitpod.io/#https://github.com/CircuitVerse/CircuitVerse/tree/new_UI'
2. Let it build.
3. When the server has started make some code changes and save.
4. Reload webpage there is no change in webpage.

**Expected beh

[2020-10-03 13:52] #1768 closed

[2020-10-03 13:59] #1776 closed

[2020-10-03 14:10] Shivansh187 commented on #1763
@sal2701 I'm new to open source and facing some issues. If @pavanjoshi914 has solved, you can reassign it to him. Sorry for the inconvenience

[2020-10-03 15:27] sal2701 commented on #1774
Instead of removing the 'Fork' option we could have a 'Create Copy' option for our own circuits, it might be useful to users creating circuits which involve lot of common stuff.

@Shivansh2407 @satu0king Thoughts?

[2020-10-03 15:30] satu0king commented on #1774
Yes, the fork your own circuit feature is very important. If you want to rename it to Create Copy instead of Fork, go ahead!

[2020-10-03 15:38] Shivansh2407 commented on #1774
Create Copy would be a Better option 👍

[2020-10-03 15:44] sal2701 commented on #1774
@Shivansh2407 can you edit the issue to reflect that? Thanks

[2020-10-03 17:28] 1337w0rm commented on #1774
Do you want to keep the fork icon ? @satu0king @Shivansh2407

[2020-10-03 19:23] arjungarg07 commented on #1774
ok

[2020-10-03 22:43] drjyeh commented on #1753
Please check Pull Request #1781
I used Docker and modified the files using Chrome Dev
It now generates not gates and subcircuit properly

[2020-10-04 01:24] 1337w0rm opened #1782 "Google Login not working on beta.circuitverse.org"
**Describe the bug**
Google Login doesn't work on beta.circuitverse.org

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'beta.circuitverse.orh'
2. Click on 'Login'
3. Scroll down to 'Google Login Button' and click it.
4. See error

**Expected behavior**
Clicking on google login button should've let the user to login or choose their google account to login.

**Screenshots**
![Screenshot

[2020-10-04 04:37] rohan2734 commented on #1706
@satu0king  i think @sal2701 is not responding, can you assign it to others ?

[2020-10-04 04:39] rohan2734 commented on #1711
hey @Shivansh2407  can you mention the file names with path, i am not able to find them.

[2020-10-04 04:41] Shivansh2407 commented on #1711
@abstrekt has already mentioned the files. Please check them in the New UI Branch.

[2020-10-04 05:07] GAUTAMSAHARAN commented on #1749
Well just do me a favor @sal2701, first please review my first PR request #1764, and if that get's merged and we will see if this Pr #1773  gets any conflict then I start work on how to solve them.

[2020-10-04 05:45] rohan2734 commented on #1708
[code]

[code]

[code]
guys here, ```console.log ``` is working , but the ```top``` and``` left``` values of the ```style``` in ```canvas``` are not changing, do you guys have any idea?.

[2020-10-04 06:18] rohan2734 commented on #1711
ya but those files i am not able to find, can you send i with path?

[2020-10-04 12:27] GAUTAMSAHARAN commented on #1751
so here we go, I made a new pull request with different branch
![Screenshot from 2020-10-04 17-48-46](https://user-images.githubusercontent.com/54721472/95015538-0e881a00-066b-11eb-8c14-52e0ba3d4a62.png)

[2020-10-04 12:39] abstrekt commented on #1733
The tutorial pop-ups are attached to the elements but the offsets are static & fixed, it doesn't actually hang, but as the properties panel is currently hidden so is the popup..  though as a consequence the next previous buttons get hidden but the tutorial also operates with the arrow keys and the tour continues when pressing ```right or left``` arrow key..

As a consequence of draggable component

[2020-10-04 12:45] abstrekt commented on #1711
open the CV folder on your drive, use the file explore search feature.

[2020-10-04 12:56] GAUTAMSAHARAN commented on #1749
made a new pr request with different branch
![Screenshot from 2020-10-04 18-13-16](https://user-images.githubusercontent.com/54721472/95016206-1b0e7180-066f-11eb-8325-005525eaab47.png)

[2020-10-04 14:07] pavanjoshi914 commented on #1712
@satu0king
 https://circuitverse.org/custom_mails/new
not authorised to view this plzz share screenshot for the same...

[2020-10-04 14:11] rohan2734 commented on #1711
@abstrekt  i tried ,but i will try one more time.

[2020-10-05 07:42] Yashs911 commented on #1716
@satu0king, can you, please provide the link for that file where I need to add Text.prototype.propagationDelayFixed = true; Sorry If I caused any inconvenience.

[2020-10-05 14:41] aayush-05 commented on #1297
Was their any specific reason for [this](https://github.com/CircuitVerse/CircuitVerse/blob/59410933500a51a868e4224e25ee4c7b30669a0c/app/controllers/projects_controller.rb#L71) though?

[2020-10-05 14:43] aayush-05 commented on #1315
Showing username(minified) below the Project/Circuit name should do @satu0king ? A tag like "Forked" can also be introduced but it too won't make it very clear with multiple forks

[2020-10-05 14:45] aayush-05 commented on #379
Basically we require an export script for user's data and some changes to the Privacy Policy/TnC reflecting new additions. Rest all is covered.

[2020-10-05 14:48] aayush-05 commented on #1767
Merging graded column would save up a lot of space. Personally I don't agree with removing the timezone text altogether; add in some work for user to figure out

[2020-10-05 16:42] Nitish145 commented on #1297
Since `image_previews` are not copied directly, it's was once better to just remove them.. @aayush-05

[2020-10-05 17:00] gr455 commented on #1782
I think this is only because Google Oauth is not configured for beta since beta is not really for end usage, @satu0king can confirm?

[2020-10-06 06:03] tachyons commented on #1782
Yes, it is just a matter of configuration issue

[2020-10-06 06:07] tachyons commented on #1767
Timezone information is important as we are not showing the time based on user's time zone yet. So showing IST time without specifying IST mark will be misleading

[2020-10-06 06:08] tachyons commented on #1767
We need to allow students to set their timezone

[2020-10-06 07:39] aayush-05 commented on #1767
We are changing time based on user's timezone (as provided by browser). So the user can input time in his timezone while creating an assignment. It will be first changed to UTC and then saved to dB. Further, whenever it will be shown to other users; the time in UTC will be fetched from dB, changed according to user's timezone and then displayed.
Not all users are seeing time in IST, rather in time

[2020-10-06 12:47] DhairyaBahl commented on #1762
I would like to work on the issue if its still available

Thanks :)

[2020-10-06 12:48] DhairyaBahl commented on #1752
I would like to work on this issue but I am a newbie. If you can guide me a bit .....?

Thanks :)

[2020-10-06 14:29] rohan2734 commented on #1711
![edit_html_erb_so_many](https://user-images.githubusercontent.com/58523134/95215231-627f3400-080e-11eb-9520-ea28a78a6afd.png)

- as you can see there are so many edit.html.erb files, which one is the correct one?

[2020-10-06 14:44] abstrekt commented on #1711
`views\simulator` for simulator

[2020-10-06 15:06] rohan2734 commented on #1711
ok thanks.

[2020-10-07 12:36] danielluehr commented on #1753
Hi,

this is a great idea! Thanks Prof. @drjyeh ! Since I am currently working in the GSoD2020 project I didn't have the time to mention it but I was already wondering about CV/verilog interactions. Just like Prof. @drjyeh  I also replaced labs with activities using CV and I also use ICESticks to teach programmable logic devices. After the GSoD project I will see how can I contribute to this devel

[2020-10-07 19:53] DevanshD3 commented on #1774
Hey I am new to open source and would love to contribute to Circuitverse! Could you please explain me how to proceed ? Is anyone working on this issue ?

[2020-10-08 06:49] rohan2734 commented on #1711
i have tried, updating this, but the class is not updating,
![changed_class_of_label_in_inside_circuit](https://user-images.githubusercontent.com/58523134/95424607-82267180-0960-11eb-9946-37259424f94a.JPG)

![image](https://user-images.githubusercontent.com/58523134/95424481-54412d00-0960-11eb-92ee-ce900a0ac7b6.png)

but the class is not changin at all.

[2020-10-08 14:31] rohan2734 commented on #1711
@Shivansh2407 @abstrekt did you check it?, can you help?,
here the class is not changing even though i am changing it and viewing it.

[2020-10-08 14:50] abstrekt commented on #1711
make sure you've webpacker running on a separate terminal tab,
`ruby ./bin/webpack-dev-server` for windows.

[2020-10-08 15:12] rohan2734 commented on #1711
ok i will try and tell you.

[2020-10-09 02:53] drjyeh commented on #1753
### The minimum viable product code has been created with #1781

It includes

1) ```Tools```->```Concert Verilog``` added that downloads Verilog files to local computer with file name _projectName_.v
2) Ability to generate Verilog for Finite State Machine with D-Flip-Flops.  Multibit D-Flip-Flops supported with Splitters to combinatorial logic.
3) Module instantiation supported.
4) Fixed NotGate.

[2020-10-09 06:32] pavanjoshi914 commented on #1712
@satu0king  @tachyons
I was working on feature announcement implementation and created it from scratch before generating a PR for the same it is worthy to ask modifications

1>basically announcement is displayed for both logged in and logged out users on hompage only (suggest if want to display site wide)
2>It represents new created (latest record)  single line announcement in between start and en

[2020-10-09 16:46] yuktibagrodia commented on #1763
Can I give it try? if it's not done?

[2020-10-09 16:46] yuktibagrodia commented on #1763
Can I give it a try? If it's not done?

[2020-10-10 07:40] shubhankarsharma00 commented on #450
@satu0king wouldn't that affect loading offline save or recovered project. In these cases, json data is the only place where the name is stored. One way I can think is a flag that will tell us that the data is a load from localStorage in which we will use data.name else we use __projectName.
Let me know if I am missing something.

[2020-10-11 06:48] vkassingh commented on #1774
I am also looking to make quality contributions in UI, UX and documentation for circuit verse. Please guide me a bit.
Thanks

[2020-10-11 08:39] SakshiSarna commented on #1762
would love to work on this issue

[2020-10-12 14:26] tachyons commented on #1712
We can think about more flexible announcements feature later, we are looking for an immediate solution for now, we are already delayed for this

[2020-10-12 14:37] pavanjoshi914 commented on #1712
Ohk sure sir, so I will generate pr to display announcements with basic operations on it....

Also I have finished my work on modifications that i've suggested if any want plzz suggest freely ...

Thanks for the review!!

[2020-10-13 08:01] PragatiVerma18 opened #1802 "Can't disable notifications once enabled it"
**Describe the bug**
A clear and concise description of what the bug is.
There is no option to disable the notifications once enabled. There's only a test button available.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your profile after signing in
2. Click on **notifications**
3. Enable the notifications
4. See the error

**Expected behavior**
A clear and concise description of what

[2020-10-14 05:47] #1297 closed

[2020-10-14 06:06] satu0king commented on #1774
@1337w0rm and others, note that this issue is not simply rename fork -> copy. It is rename fork -> copy only for the authors. Also I don't think just renaming makes sense, because the database and view will show the circuit as forked later.

[2020-10-14 07:42] aayush-05 commented on #1774
It would be better if someone can first list all the instances where we mention a project as a fork (or forked from). Then we can add on a conditional to all of them once

[2020-10-14 09:23] rajat2502 opened #1805 "Change the theme of the stimulator"
**Is your feature request related to a problem? Please describe.**
The theme of the stimulator does not match with that of the organization or its other website.

**Describe the solution you'd like**
Change the theme of the stimulator so that it matches the theme/design of the organization website and other projects. Right now the organization used some shade of green in all the places but the sti

[2020-10-14 09:24] rajat2502 opened #1806 "Add a search bar in the user's dashboard"
**Is your feature request related to a problem? Please describe.**
Right now, the user's dashboard doesn't have any option to search for a particular project (circuits).

**Describe the solution you'd like**
A search bar will improve the user's experience as they will be able to search for the required project easily.

[2020-10-14 09:29] rajat2502 opened #1807 "Add new layout options in the stimulator"
**Is your feature request related to a problem? Please describe.**
We can add different layout options so that the user can choose whatever suits them.

**Describe the solution you'd like**
Add different types of layout in the stimulator. This can be easily done using flex options on the layout. Some of the view options can be as follows:
- Sidebar on the left and canvas right (present layout)
- S

[2020-10-14 09:31] rajat2502 opened #1808 "Add feature to directly edit the project title"
**Is your feature request related to a problem? Please describe.**
Right now, a prompt opens up asking for the title, we can improve this experience if we could directly edit the project title by clicking on it.

**Describe the solution you'd like**
Edit the project title by directly clicking on the title, it can be implemented by using an input tag in place of the span tag

**Screenshots**
![imag

[2020-10-14 18:42] manwindersingh1712 commented on #1762
Can I work on this issue !! I would love to do it .

[2020-10-15 01:16] #1667 closed

[2020-10-15 13:12] paultech4u commented on #1808
@rajat2502 can I work on this issue.

[2020-10-15 13:13] paultech4u commented on #1806
@rajat2502 can I work on this issue.

[2020-10-15 14:21] satu0king opened #1813 "Move Clear Project to bottom"
https://circuitverse.org/forum/threads/clear-project#forum_post_33

Send PR to new_UI branch.

[2020-10-17 18:28] Lahirutech commented on #1813
I am Working on this issue

[2020-10-18 04:46] khanjasir90 opened #1817 "On click of search button the heading "Dive into the world of Logic" gets hidden!!!"
**Describe the bug**
When you click on the search button on the home page the search bar hides the heading "Dive into the world of Logic"

**To Reproduce**
Steps to reproduce the behavior:
1.Go to the home page of circuitverse.org
2.Click on search button icon
3.on the click of the button the search bar hides the line of user interface "Dive into the world of Logic".
4.See error

**Expected behavi

[2020-10-18 04:47] khanjasir90 commented on #1817
Please assign this to me !!! I would like to work on this!

[2020-10-18 06:03] pavanjoshi914 commented on #1817
This was tried earlier too.. plzz refer
https://github.com/CircuitVerse/CircuitVerse/pull/1789
As it is not required you can close issue...
thanks!!!

[2020-10-18 06:06] khanjasir90 commented on #1817
okay @pavanjoshi914

[2020-10-18 06:06] #1817 closed

[2020-10-18 12:46] tachyons commented on #1813
@Lahirutech set newUi as the target branch as issue states

[2020-10-19 08:15] aayush-05 commented on #1763
@nitin10s @satu0king do we want it to accessible by the text too or just the box?

[2020-10-19 17:27] yuktibagrodia commented on #1806
can I do?

[2020-10-20 05:21] alishahzil commented on #1742
I would like to work on this issue.

[2020-10-20 07:20] jayantchaudhary002 commented on #1766
I would like to work on this issue

[2020-10-20 07:21] jayantchaudhary002 commented on #1762
I would like to work on this issue

[2020-10-20 09:05] gr455 opened #1823 "Subcircuit's dimensions increase non uniformly"
**Describe the bug**
Subcircuit's dimensions' alteration and movement of the label happens at a varying rate when multiple circuits are created

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'beta.circuitverse.org/simulator'
2. Make 4 to 5 circuits
3. For each circuit, go into layout mode and increase the height/width or move the label
4. Notice that for each subsequent circuit, the i

[2020-10-20 11:08] satu0king commented on #1766
Go ahead @jayantchaudhary002

[2020-10-20 15:38] Lahirutech commented on #1813
Done

[2020-10-21 10:21] satu0king opened #1825 "Circuit2Verilog - Splitter Bug?"
Splitter Circuit
![image](https://user-images.githubusercontent.com/2092958/96707317-55894580-13b5-11eb-8912-86dd540160b7.png)

Combiner Circuit
![image](https://user-images.githubusercontent.com/2092958/96707295-4e623780-13b5-11eb-924e-5dd1ed960eac.png)

@drjyeh please check this. Is this the intended output?

[code]

[2020-10-21 10:22] satu0king commented on #1825
I think this is the intended circuit, can you give a circuit example where this is failing?

[2020-10-22 02:46] iprithvitharun opened #1827 "Inconsistent use of the microcopy "Log in""
**Describe the bug**
Three different words (Log in, Login, and Log In) used on the Log in page to denote the same action.

'Login' is the noun/adjective form referring to the form, page, or actual credentials. 'Log In' is the verb form referring to the action.

**To Reproduce**

Visit the [Log in page](https://circuitverse.org/users/sign_in)

**Expected behavior**
All three instances should use th

[2020-10-22 04:29] satu0king commented on #1827
Interesting, according to you, we should rename it to which of the 3? Also is `Sign In` better?

[2020-10-22 10:18] iprithvitharun commented on #1827
@satu0king

We should rename all three to **Log in**.

The reason I didn't use Sign in is that users can easily mistake Sign in for Sign up and vice-versa as both the labels look almost identical.

From a consistency perspective, you'd expect to use Sign in since we are using Sign up. But users are easily prone to making mistakes. I did analytics on the users' behaviour in my organization regardin

[2020-10-22 13:12] #1712 closed

[2020-10-22 16:26] aavishkarmishra commented on #1808
Hello, I can make it work with auto save feature also like in google docs.
@rajat2502 Will you please assign this issue to me !!

[2020-10-22 16:30] rajat2502 commented on #1808
Hey @aavishkarmishra, I found that this feature is required and so I created it.
Please ask any of the project maintainers @satu0king or @tachyons to assign it to you.

[2020-10-22 19:07] drjyeh commented on #1825
Hi,

Please see a slightly more complicated circuit:

https://circuitverse.org/users/37205/projects/splitter-test <https://circuitverse.org/users/37205/projects/splitter-test>

The code generated is follows:

module Main(out_0, clk, rst, inp_1, inp_2);
  output out_0;
  input clk, rst, inp_1, inp_2;

  wire and_0_out, clk, Splitter_1_inp[1], Splitter_1_inp[0];
  wire [1:0] Splitter_1_inp, state_Q;

[2020-10-23 02:23] satu0king commented on #1825
@drjyeh I am getting the following output, have you updated your code from the latest branch?
This is how it looks for me
[code]

[2020-10-23 02:35] drjyeh commented on #1825
Hi,

This has been fix with the latest commit.

The generated code is:

module Main(out_0, clk, rst, inp_1, inp_2);
  output out_0;
  input clk, rst, inp_1, inp_2;

  wire and_0_out, clk;
  wire [1:0] Splitter_1_inp, state_Q;

  assign out_0 = and_0_out;
  DflipFlop #(2) state(state_Q, state_Q_inv, clk, Splitter_1_inp, rst, , );
  and and_0(and_0_out, state_Q[0], state_Q[1]);
  not not_1(Splitter_

[2020-10-23 02:42] drjyeh commented on #1825
Hi,

Yes but for the other circuit the previous commits does not work.
https://circuitverse.org/users/37205/projects/splitter-test <https://circuitverse.org/users/37205/projects/splitter-test>

I have just provide a NEW commit that fixes the problem by creating a new noGenerate list.

Thanks,
James
---
James H-J Yeh, Ph.D.
Associate Professor, Engineering and Computer Science
Azusa Pacific Univers

[2020-10-23 02:44] drjyeh commented on #1825
It is my hope that with this way, I can merge all the changes you made with PR1814 to work with splitters.

Would you please resolve the conflict between my newest commit and your newest branch, and I will test and try to make everything work.

Thanks,
James
---
James H-J Yeh, Ph.D.
Associate Professor, Engineering and Computer Science
Azusa Pacific University

[2020-10-23 03:42] satu0king commented on #1825
@drjyeh I have actually merged everything you sent and its all working together locally on my laptop. Can you check slack?