[2022-03-16 16:47] #3039 closed

[2022-03-17 18:09] tachyons commented on #3002
Already deployed updated docs, so we can start fixing links

[2022-03-18 10:50] legendarykamal commented on #2919
@vedant-jain03  I would like to work on this if its still open?

[2022-03-18 10:55] vedant-jain03 commented on #2919
@legendarykamal thanks for your interest but the PR for the issue is already under review. Check out other issues!!!

[2022-03-18 10:57] legendarykamal commented on #2919
ya sure

[2022-03-18 11:07] legendarykamal commented on #2712
hey @vedant-jain03 the PR's that was proposed i found that it has conflicts, so should I work on this?
https://github.com/CircuitVerse/CircuitVerse/pull/2922

[2022-03-18 13:35] legendarykamal commented on #2919
@vedant-jain03 can you suggest me any issue to start with as I am exploring the codebase and most of the issues i found are under PR review . It would be nice of you if  you could suggest me!

[2022-03-18 14:26] pavanjoshi914 commented on #3002
@aashimawadhwa  you can start working on this

[2022-03-18 18:06] Subhraneel77 opened #3045 "Responsive Simulator is not Working"
Describe the bug
When You reduce the size of your displaying screen, then all the components present in simulator gets distorted.

To Reproduce
Steps to reproduce the behavior:
1. Go to 'Simulator'
2. Click on 'Minimise Button'
3. See error

Expected behavior
All the components should reduce their respective sizes in order to fit in the screen.

Screenshots
<img width="570" alt="Screenshot 2022-03

[2022-03-19 03:19] vedant-jain03 commented on #3045
@Subhraneel77 I guess the PR for this issue is under review as this was under the last year's GSoC project.
@CircuitVerse/circuitverse-core-team Any lead on this one?

[2022-03-20 06:42] legendarykamal commented on #3033
Hi I would like to work on this  @tachyons @gr455  : )

[2022-03-21 10:48] tachyons commented on #3033
Fixed

[2022-03-21 10:48] #3033 closed

[2022-03-22 03:29] ahmedibrahim404 opened #3047 "Navbar Overlap with Panels"
**Describe the bug**
When opening the navbar of the simulator for small devices, it overlaps with the panels as shown below

**Expected behavior**
The navbar should appear on top of these panels

**Screenshots**
If applicable, add screenshots to help explain your problem.
![CVL](https://user-images.githubusercontent.com/34144004/159402215-ff536c37-902e-4c8d-bcdf-1fc616186ca6.gif)

**Are you workin

[2022-03-22 03:45] ahmedibrahim404 opened #3048 "Zooming in/out in different circuits"
**Describe the bug**
As shown below, when zooming in/out in circuit, then change the scope to another one, the slider of zoom doesn't change

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Simulator
2. Create second circuit (to have at least 2)
3. Zoom in/out using the slider
4. Switch to the other circuit

**Expected behavior**
Each circuit should have its own current zoom percentage

[2022-03-23 03:16] khareyash05 opened #3050 "feat : show contributors' name on hover"
**Is your feature request related to a problem? Please describe.**
I would like to show contributors name on hover in the about us page.
![image](https://user-images.githubusercontent.com/60147732/159616935-e4fe1b9c-2e05-471c-8a46-34c3eb395cc6.png)

**Describe the solution you'd like**
Hovering effect

**Are you working on this? (Yes/No)**
Yes

[2022-03-23 03:27] khareyash05 opened #3051 "bug: communication channel not working on mobile size"
**Describe the bug**
A clear and concise description of what the bug is.
communication channel not working on mobile size

**Expected behavior**
A clear and concise description of what you expected to happen.
Should be responsive on mobile size as well

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/60147732/159617870

[2022-03-23 04:14] devartstar opened #3052 "Testbench, Properties Panel and plotArea not updating on creating New Circuit."
**Describe the bug**

There are 3 ways to create a New Circuit:-
1. Right Click - context menu - New Circuit
2. Navbar Circuit dropdown - New Circuit
3. Tabsbar + button

On creating a New circuit (via option1 & 2) the Testbench and Properties Panel and plot area do not update from that of the previous circuit.
It should restore to default just like on creating New Circuit (via option 3).

Check o

[2022-03-24 16:11] vedant-jain03 commented on #3050
I guess GitHub profile is enough to know more about any respective contributor.
Let's wait for @CircuitVerse/circuitverse-core-team review!

[2022-03-24 16:12] vedant-jain03 commented on #3051
Can you please share which device is it not responsive for?

[2022-03-24 16:13] vedant-jain03 commented on #3048
@gr455 Any views on this?

[2022-03-24 18:42] ayan-biswas0412 commented on #3050
i dont think it will be a good idea,  WDYT @nitin10s

[2022-03-25 01:06] khareyash05 commented on #3051
Mobile -s 320 px
![image](https://user-images.githubusercontent.com/60147732/160034865-cd09a709-3c55-4418-8ebc-158943789192.png)

[2022-03-25 11:29] khareyash05 commented on #3050
@vedant-jain03 User needs to click on the pic to access the name I am suggesting to show names on hover

[2022-03-27 09:16] Subhraneel77 opened #3058 "Simulator is not Working Properly in Mobile Website"
**Describe the bug**
Simulator is not Working properly in Mobile Website Page. We cannot change the positions of Timing Diagram, Circuit Elements and Properties.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org/ in Mobile'
2. Click on 'Launch Simulator'
3. Try to Change the positions of Timing Diagram, Circuit Elements , Properties etc.
4. See error

**Expected

[2022-03-27 11:43] devartstar commented on #3058
Hi @Subhraneel77,
A lot of work has already been done for UI and working of Simulator in mobile in the [PR # 2362](https://github.com/CircuitVerse/CircuitVerse/pull/2362)

[2022-03-27 17:58] Shofiya2003 commented on #2202
The issue is already fixed I believe. The text and icon seems to be aligned.

[2022-03-29 15:08] VishalIITP commented on #3016
@devartstar can you please confirm if you are working on this issue? And if no one is working on the issue at present then I am willing to get it assigned to me.
Thank you

[2022-03-29 15:18] devartstar commented on #3016
@VishalIITP Sure you go ahead with it.

[2022-03-30 05:43] VishalIITP commented on #3016
Thanks, I have started to work.

[2022-04-01 17:58] Subhraneel77 commented on #2746
Can I give it a try?

[2022-04-02 03:46] vedant-jain03 commented on #2746
@khareyash05 are you working on this issue?

[2022-04-05 18:25] Kissh12 commented on #2855
if it is still open, can I work on this?

[2022-04-05 19:47] aashimawadhwa opened #3062 "adding shortcuts in the tooltips"
**Is your feature request related to a problem? Please describe.**
if shortcuts are added in the tool-tips it will be more convenient

**Describe the solution you'd like**
adding shortcuts in the tool-tips

currently it look like -
![Screenshot from 2022-04-06 01-12-24](https://user-images.githubusercontent.com/73706697/161837330-08a6359e-3d0a-4009-9920-2617691b01ce.png)

after adding shortcuts -

[2022-04-05 21:30] anand817 commented on #3034
Is anyone working on it ? @vedant-jain03, i think we can make any floating panel on the top on clicking

[2022-04-05 21:45] PeanutbutterWarrior opened #3063 "Tristate buffers do not completely disable output"
**Describe the bug**
When the enable pin of the tristate buffer is grounded, not passing through the input, it will cause a Simulation Stack Limit Exceeded error if the output is connected to the input.

**To Reproduce**
Steps to reproduce the behavior:
1. Create circuit as shown below
![image](https://user-images.githubusercontent.com/50717143/161854232-b52497f0-d278-4657-81a1-40b550f15379.png)
2

[2022-04-06 01:57] AmewsSoft commented on #2200
Still an issue for me as of today. Just built a MOD50 timer to count 5 seconds with a 10Hz clock input but with the clock set to 100ms it takes 10 seconds to cycle, so the clock speed must actually be double what I selected.

[2022-04-08 07:08] #2920 closed

[2022-04-09 07:36] vedant-jain03 commented on #3062
@aashimawadhwa the custom shortcut feature is already implemented.
If you visit tools > custom shortcuts, you will see the shortcuts and also can modify them.
I was suggesting that we can show the respective custom shortcut + name of the shortcut.
@CircuitVerse/circuitverse-core-team

[2022-04-10 16:46] aashimawadhwa commented on #3062
yes sure we can wait for the core to reply

[2022-04-13 17:17] #3052 closed

[2022-04-15 08:21] ashuvssut opened #3073 "Documentation: Steps to set up yosys in local environment"
Steps for local environment set up yosys for Verilog need to be added in SETUP.md

**Are you working on this?**
yes

[2022-04-16 20:12] techMonowar opened #3076 "Duplicate id - the same ID is used on more than one element."
**Describe the bug**
Same id is used on more than one Element.

id=save id=save id=saveOffline id=saveOffline id=createSaveAsImgPrompt

[](https://circuitverse.org/simulator)
**To Reproduce**
Go to Simulator codebase and check Line No. 103, 108, 192, 317, 325, 341

You can also check Simulator page source code : [](view-source:https://circuitverse.org/simulator)

**Expected behaviour**
id name sho

[2022-04-16 20:25] techMonowar opened #3077 "All "onclick" handlers should have an equivalent "onkeyup" or "onkeydown" handler."
**Is your feature request related to a problem? Please describe.**

Some users are unable to use a mouse, so use the keyboard instead. Add an equivalent keyboard event handler to help these users.

[](https://circuitverse.org/simulator)

Simulator codebase Line No. 1214, 1217, 1220, 1223, 1226, 1229, 1232, 1235

![image](https://user-images.githubusercontent.com/95315609/163690218-fc258bd2-c11d-4a

[2022-04-16 21:14] techMonowar opened #3078 "Use the "lang" attribute to identify the language of the page."
**Describe the bug**
The HTML "lang" attribute is used to identify the language of text content on the web. This information helps search engines return language specific results, and it is also used by screen readers that switch language profiles to provide the correct accent and pronunciation.

**To Reproduce**
https://circuitverse.org/simulator
Visit CV Simulator Codebase Line No. 2

**Are you

[2022-04-17 04:20] vedant-jain03 commented on #3078
@CircuitVerse/circuitverse-core-team

[2022-04-17 04:23] vedant-jain03 commented on #3076
@techMonowar Nice catch

@CircuitVerse/circuitverse-core-team Any views on this?

[2022-04-17 09:15] vedant-jain03 opened #3079 "fix: unexpected tooltip alignment"
**Describe the bug**
The tooltip is giving unexpected alignment for the dashboard page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ''dashboard
2. Hover on 'Project Title'
3. See an error

**Screenshots**
![Screenshot from 2022-04-17 10-04-54](https://user-images.githubusercontent.com/76901313/163708285-0dda31b3-ae37-4a26-a671-5b903300adf8.png)

**Device Information [optional]:**

[2022-04-17 11:47] tachyons commented on #3076
This is a bug

[2022-04-24 12:46] Prerna-0202 commented on #2202
Fixed

[2022-04-24 12:46] #2202 closed

[2022-04-25 17:56] Prerna-0202 commented on #2055
I would like to work on this issue...
@tachyons @gr455

[2022-04-25 17:56] Prerna-0202 commented on #2055
I would like to work on this issue...
@tachyons @gr455

[2022-04-27 09:09] aashimawadhwa commented on #3062
@ayan-biswas0412 WDYT?

[2022-04-27 09:11] gr455 commented on #2055
Yep go ahead!

[2022-04-27 09:12] ayan-biswas0412 commented on #3062
i think it is good, wdyt @nitin10s

[2022-05-03 21:50] ashuvssut opened #3092 "Verilog SubCircuits do not work when Project is Re-loaded (load offline)"
**Describe the bug**
Verilog SubCircuits show a contention error when Project is Re-loaded (load offline)
1. Create any verilog Subcircuit
for eg: create a NOT gate
![image](https://user-images.githubusercontent.com/60546840/166570942-0fefbe13-39b6-4e79-abd8-5bf45bd00d05.png)

2. Use the Verilog Sub Circuit (Everything works fine)
![image](https://user-images.githubusercontent.com/60546840/1665711

[2022-05-04 09:25] devartstar opened #3093 "Properties Panel showing in Preview Mode"
**Describe the bug**
On clicking a Circuit Element in Preview Circuit Mode, Properties Panel gets displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Simulator
2. in the `Project` dropdown click on `Preview Circuit`
3. Click on a Circuit Element
4. See the error

**Expected behavior**
In Preview mode, except for the circuit, nothing should get displayed.
Can someone please confi

[2022-05-04 16:13] aashimawadhwa opened #3094 "drag and drop functionalities of elements it's not up to the mark on Firefox."
**Describe the bug**
I wanted to point out on drag and drop functionalities of elements it's not smooth and up to the mark on Firefox.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "circuit elements panel" in firefox
2. Click on "any element"
3. Try to drag them
4. compare with other browsers
5. See error

**Expected behavior**
t is very smooth and easily draggable in chrome and brav

[2022-05-05 08:25] devartstar opened #3095 "Replaying of Circuits Feature"
I recently found out about this replay feature in One Note and found it interesting.
Applying it to Circuitverse Simulator for the replaying of circuits.

https://user-images.githubusercontent.com/61665451/166881091-96d04037-8a55-4dc0-bb92-30af7b211560.mp4

This issue focuses on 2 parts:-

- Having a Replay Feature for a circuit (as a video) to show all the previous circuit states.
- Allowing user

[2022-05-05 15:19] vedant-jain03 opened #3097 "Migrate Assignment Resctrictions table from JSON to JSONB"
**Is your feature request related to a problem? Please describe.**
Postgres offers data type JSON to store any structure easily, but one disadvantage is that filtering by properties stored in the JSON column is super slow, one simple fix before refactoring the whole implementation is to migrate the column to be jsonb, since it is stored in binary form, it supports indexes, an easy and safe way to

[2022-05-09 16:35] #2577 closed

[2022-05-16 12:24] #2203 closed

[2022-05-28 16:25] tachyons opened #3141 "Fix jemalloc path for arm and amd64"
We had jemalloc configured on dockerfile using ` ENV LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libjemalloc.so.` . But this won't work for multi arch images as path will be different. We need to set this conditionally by checking the architecture

[2022-05-28 16:26] tachyons opened #3142 "Reduce the size of production docker image"
Our current docker image takes around 600MB, we might be able to reduce this by using small base images like alpine.

[2022-05-28 16:29] tachyons opened #3143 "Create a github action workflow for production deployment"
Our current deployment model includes many manual steps, having them in CI ensures faster releases and rollbacks

[2022-05-28 20:07] gr455 commented on #3142
Our build image takes about 2.6 GB I think. Updating to alpine only makes it 2GB
We might have to use a multi-stage build but that might be tricky considering we have multiple services using the same image

[2022-05-29 05:54] tachyons commented on #3142
Sorry for not making the issue clear enough, this issue is about the production docker file which is already using multi stage build. And it's current size is about 600 MB

[2022-05-29 05:56] tachyons commented on #3142
https://github.com/CircuitVerse/CircuitVerse/pkgs/container/circuitverse production images are currently built here

[2022-05-29 12:06] tachyons opened #3147 "Fix trivy github action"
Trivy github action which is used to scan the container is currently broken

[2022-06-01 13:01] gr455 opened #3153 "[Simulator/Themes] Cannot apply the same theme file twice"
**Describe the bug**
Cannot apply the same theme file twice even after chagning the colors.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the simulator
2. Click on 'Themes'
3. Click on 'Custom Theme'
4. Import a theme file
5. Change some color
6. Apply theme
7. Go back to 'Custom Theme'
8. Import the same theme file again
9. See that the theme does not change this time

**Expected be

[2022-06-01 14:12] Prerna-0202 commented on #3153
I would like to work on this issue.
@gr455

[2022-06-01 21:37] Jaagrav commented on #2848
Still working?

[2022-06-02 02:20] vedant-jain03 opened #3157 "Gitlab integration"
## Description
Implement sign in with Gitlab

[2022-06-03 04:23] vedant-jain03 commented on #2848
@Jaagrav go ahead if you want!

[2022-06-03 12:09] pulkit-30 opened #3161 "Tests for the simulator"
## [CircuitVerse Simulator Improvements](https://github.com/CircuitVerse/CircuitVerse/wiki/GSoC%2722-Project-List#project-4---circuitverse-simulator-improvements)
### Tests for the simulator:
Simulator currently has a [testbench engine](https://github.com/CircuitVerse/CircuitVerse/blob/master/simulator/src/testbench.js) which serves as a good API for running tests on the simulator. The goal is to

[2022-06-05 14:27] AviralSingh-code opened #3163 "Fix typo in CONTRIBUTING.md"
I found a small typo in the CONTRIBUTING.md file. The spelling of documentation was miss spelt as domumentation.
![Contributing](https://user-images.githubusercontent.com/72146088/172055376-f5de79ab-c9fd-43b3-b1e5-4b07b87be17a.JPG)

**I have PR ready to fix this issue.**

[2022-06-06 06:23] #3153 closed

[2022-06-06 06:26] #3094 closed

[2022-06-07 14:13] vedant-jain03 opened #3166 "SSO integration"
## Description
SSO (Single Sign-On) integration: Many institutions that use CircuitVerse use a local copy of CircuitVerse with a custom SSO authentication. We intend to make this task easier for the institutions by natively supporting SSO with CircuitVerse

[2022-06-08 04:57] #3161 closed

[2022-06-11 14:27] #3073 closed

[2022-06-11 14:29] #2990 closed

[2022-06-11 16:53] #3163 closed

[2022-06-11 18:40] jaas666 commented on #1370
This seems stale.
For some reason GirHub actions said it'll be closed but it's still open.

[2022-06-12 06:19] aman-singh7 opened #3182 "Expose profile picture api"
**Is your feature request related to a problem? Please describe.**
The user can not update his profile picture from the mobile app. [#222](https://github.com/CircuitVerse/mobile-app/issues/222)

**Are you working on this? (Yes/No)**

[2022-06-15 10:46] #3157 closed

[2022-06-15 13:59] pulkit-30 opened #3187 "Connecting only `R` input to SR Flip Flop crashes simulator"
**Describe the bug**
Connecting **only** R input to SR Flip flop throws  error : ` TypeError: Cannot read properties of undefined (reading 'toString') `

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [CircuitVerse simulator](https://circuitverse.org/simulator)
2. Add SR flip flop
3. Only attach R input to it.
4. toggle its state to ` 1 `.
5. see error

**Expected behavior**
It should

[2022-06-18 12:38] #3166 closed

[2022-06-19 16:49] aman-singh7 opened #3200 "Implement search project api"
**Is your feature request related to a problem? Please describe.**
This endpoint will enable users to search circuits in the mobile app directly. [#223](https://github.com/CircuitVerse/mobile-app/issues/223)

**Are you working on this? (Yes/No)**
Yes

[2022-06-22 16:21] degenta69 commented on #3093
Hello, is this issue open?
can I work on this issue, please?

[2022-06-23 06:25] tachyons commented on #2683
@kushalShukla-web Yes

[2022-06-24 00:14] #3200 closed

[2022-06-24 00:30] tachyons opened #3208 "Fix pundit deprecation message"
Pundit gem  is showing the following deprecation message
[code]

[2022-06-24 08:10] #3182 closed

[2022-06-25 14:34] devartstar opened #3213 "Help links in Properties Panel broken"
**Describe the bug**
Help links for the circuit elements in the properties panel are not working.
This is because of the change in the file structure of the CircuitVerseDocs repository.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `simulator`
2. Click on any circuit element on canvas
3. Click Help button in Properties Panel
4. See error

**Expected behavior**
Fix them with the prope

[2022-06-25 17:24] Prerna-0202 commented on #3213
I would like to work on this issue
@tachyons

[2022-06-25 17:56] tachyons commented on #3213
Go ahead

[2022-06-26 17:22] me-aashish commented on #3208
Hey @tachyons I would love to work on this issue. Can you please assign it to me if it is still open?

[2022-06-26 17:23] tachyons commented on #3208
Yes, you can work on this

[2022-06-26 17:29] me-aashish commented on #3208
Thanks!

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Aboobacker MK ***@***.***>
Sent: Sunday, June 26, 2022 10:53:41 PM
To: CircuitVerse/CircuitVerse ***@***.***>
Cc: Aashish Kumar Jha ***@***.***>; Comment ***@***.***>
Subject: Re: [CircuitVerse/CircuitVerse] Fix pundit deprecation message (Issue #3208)

Yes, you can work on this

—
Reply to this email

[2022-06-26 22:51] me-aashish commented on #3008
Hey @vedant-jain03! Can you please review my PR #3216 for this particular issue #3008

[2022-06-27 06:03] me-aashish commented on #2855
Hey @vedant-jain03 ! Can you please assign this to me if it is still open ?

[2022-06-27 06:05] me-aashish commented on #2746
@vedant-jain03 can you please assign it to me if this issue is still open and others are not working on this ?

[2022-06-27 06:07] me-aashish commented on #2712
@rucha0702 can I work on this issue if it is still open ?

[2022-06-27 06:09] me-aashish commented on #2699
@Shilpashreemr can I work on this issue if it is still open ?

[2022-06-28 03:43] vedant-jain03 commented on #2855
Go ahead @me-aashish

[2022-06-28 08:55] #3213 closed

[2022-06-30 08:40] adarrssh opened #3225 "feat: Add transition effect to the Sidebar"
**Is your feature request related to a problem? Please describe.**
I would like to add some transition effects to the sidebar. The sidebar doesn't have any transition effect when it slides from left to right, it just pops out suddenly.

 **Current Sidebar sliding from left to right (without transition)**

https://user-images.githubusercontent.com/85433137/176629746-d0624367-48fd-47b5-96af-c9a9b8d8

[2022-06-30 08:45] vedant-jain03 commented on #3225
@adarrssh Open this issue in [this](https://github.com/CircuitVerse/Interactive-Book) repo

[2022-06-30 08:46] adarrssh commented on #3225
okay @vedant-jain03

[2022-06-30 08:50] adarrssh commented on #3225
I have open the this issue in different repo @vedant-jain03

[2022-06-30 08:51] #3225 closed

[2022-07-05 11:12] vedant-jain03 commented on #3208
@me-aashish Any progress?

[2022-07-05 12:09] #1938 closed

[2022-07-05 12:11] tachyons opened #3229 "Fix appeveyor build"
Appveyor build started breaking recently and we need to figure out the cause and fix it

[2022-07-06 15:13] #2050 closed

[2022-07-07 05:43] vedant-jain03 opened #3231 "pagination on comment section is broken"
**Describe the bug**
pagination on the comment section is broken

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://circuitverse.org/users/3/projects/67
2. Scroll down to the 'comment section'

**Are you working on this issue? (Yes/No)**
Yes

[2022-07-07 16:04] me-aashish commented on #3208
@vedant-jain03 sorry for the late reply. Been bit busy with my end sem exams. Actually I tried to fix this issue but I couldn't. Sorry. It will be better if you could assign it to some other better people. Thank you!

[2022-07-11 12:36] aman-singh7 opened #3234 "Add support to add mentor in the group in the app"
**Is your feature request related to a problem? Please describe.**
API `/groups/:id/members` takes a list of emails and add them as members.

**Describe the solution you'd like**
There should be a param in the body like `mentor: true` to add those emails as mentors.

**Additional context**
Multiple mentor support in the group.

**Are you working on this? (Yes/No)**
No

[2022-07-11 15:08] pulkit-30 opened #3235 "Update documentation for Simulator Testing"
Update documentation

- [ ] update setup.md (instructions to run tests before opening PR)

[2022-07-12 11:14] SrijanShovit commented on #2919
I am working on this!

[2022-07-14 23:55] MarloFC opened #3241 "VHDL Export"
**Is your feature request related to a problem? Please describe.**
In the CircuirtVerse we have only a Module export to the Verilog description language.

**Describe the solution you'd like**
The idea is to implement a feature with a new import/export module with the VHDL, the most used HDL nowadays

**Are you working on this? (Yes/No)**
Yes

[2022-07-15 03:15] vedant-jain03 commented on #3241
CC @CircuitVerse/circuitverse-core-team.

[2022-07-15 14:25] #2296 closed

[2022-07-15 17:25] ABHISHEK-PANDEY2 commented on #2855
We can just accept the name with the space at the beginning and then trim the value of the input field ? .. i can work on this if the issue is not being solved yet

[2022-07-16 13:26] Prerna-0202 commented on #3002
Fixed in #3215

[2022-07-16 13:26] #3002 closed

[2022-07-17 10:55] Nishchay1571999 commented on #3208
Hey @tachyons is this issue  still open? I would like to work on it if it is

[2022-07-17 11:00] vedant-jain03 commented on #3208
@Nishchay1571999 Thanks, go ahead!

[2022-07-17 11:16] Nishchay1571999 commented on #3208
@vedant-jain03 Hey Can you help and could tell me where to start?

[2022-07-17 11:37] vedant-jain03 commented on #3208
Sure, here:
1. Setup CircuitVerse([ref](https://github.com/CircuitVerse/CircuitVerse/blob/master/SETUP.md))
2. You will see this error in the console while running the server.
3. Debug it.

[2022-07-24 12:51] #1892 closed

[2022-07-25 18:50] gr455 opened #3246 "[Simulator] Broken zoom range on generating circuit with comb analysis"
**Describe the bug**
When a circuit is generated with combinational analysis, the simulator zooms in too much and minimum zoom (most zoomed out) is also significantly reduced

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Simulator
2. Generate a circuit with comb analysis
3. Try to zoom in and out

**Expected behavior**
The zoom range should not change in the simulator

**Screenshots*

[2022-07-26 02:10] vedant-jain03 commented on #3208
@Nishchay1571999 Any updates?

[2022-07-26 12:21] ABHISHEK-PANDEY2 commented on #2855
@vedant-jain03 I can work on this , is the issue open ?

[2022-07-26 12:22] vedant-jain03 commented on #2855
@ABHISHEK-PANDEY2 Sure, go ahead!

[2022-07-27 03:04] Pankaj-SinghR commented on #3208
Hey, @vedant-jain03 would you please assign me this issue. I would like to give it a shot

[2022-07-27 03:17] Pankaj-SinghR commented on #3208
hey, @Nishchay1571999 you still working in this bug or need some help

[2022-07-27 03:18] vedant-jain03 commented on #3208
Go ahead, @Pankaj-SinghR.

[2022-07-27 03:20] Pankaj-SinghR commented on #3208
Thanks

[2022-07-27 05:17] Pankaj-SinghR commented on #3208
Hey, @vedant-jain03 I'm getting no error in console btw I'm using docker container. Do I need to setup Manually to replicate this issue

[2022-07-27 05:19] vedant-jain03 commented on #3208
I will prefer that but the simplest way to do that is just to find the `include Pundit` and replace it!
The description says everything!

[2022-07-27 05:33] Pankaj-SinghR commented on #3208
If I replace `include Pundit` with `include Pundit::Authorization` how would I know it worked cuz my terminal not showing any error

[2022-07-27 05:37] vedant-jain03 commented on #3208
hmm, for that I will prefer the manual setup
@pulkit-30 any way we can see rails deprecation errors in docker?

[2022-07-27 06:38] Pankaj-SinghR commented on #3208
Thanks it's showing now. I'll show update with the progress

[2022-07-27 08:12] Pankaj-SinghR commented on #3246
Hey @gr455 , would you please assign me this issue it would like to work on it

[2022-07-27 08:14] Pankaj-SinghR commented on #3235
Hey, @pulkit-30 would you please assign me this issue I would like to work on it

[2022-07-27 08:45] pulkit-30 commented on #3235
Sorry, This issue is under the GSoC'22 project [simulator Improvement](https://github.com/CircuitVerse/CircuitVerse/wiki/GSoC%2722-Project-List#project-4---circuitverse-simulator-improvements)
I am working on it.

[2022-07-28 02:45] vedant-jain03 opened #3250 "undefined mentor_id in assignment_policy.rb"
**Describe the bug**
undefined mentor_id [here](https://github.com/CircuitVerse/CircuitVerse/blob/dc577a4eaea90ae36f984863eb945a49f847ff91/app/policies/assignment_policy.rb#L42)

**Expected behavior**
It should be `primary_mentor_id`

**Are you working on this issue? (Yes/No)**
Yes

[2022-07-28 04:47] #3250 closed

[2022-07-28 14:28] #3208 closed

[2022-08-02 04:10] vedant-jain03 commented on #3246
Go ahead @Pankaj-SinghR !

[2022-08-02 04:12] Pankaj-SinghR commented on #3246
Thanks I'll update soon with progress

[2022-08-03 04:36] vedant-jain03 opened #3252 "Misalign Checkbox in Login"
**Describe the bug**
Misaligned Checkbox in Login
![Screenshot from 2022-08-03 10-03-36](https://user-images.githubusercontent.com/76901313/182524790-ab3e3784-893f-4f47-a544-8f4c80014caa.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://circuitverse.org/users/sign_in
2. See an error

**Expected behavior**
The checkbox should be aligned properly

**Device Information [optiona

[2022-08-03 14:46] Sarthaknegigit commented on #3252
Hey @vedant-jain03 , I would like to work on this issue if you could assign it to me.

[2022-08-03 15:00] vedant-jain03 commented on #3252
Sure, go ahead!

[2022-08-03 20:43] codewithnadeem14502 commented on #3252
hello sir/madam , I am complete new to this , I want to try to fix sir , if you can assign me this , i try my best to solve it , thank you

[2022-08-04 05:56] Sarthaknegigit commented on #3229
Found a discussion on AppVeyor that might help. Attaching it [here](https://help.appveyor.com/discussions/problems/16277-build-fails-on-master-branch-for-unknown-reasons)

[2022-08-04 14:53] Sarthaknegigit commented on #2855
Is this issue still open ?

[2022-08-04 17:23] vedant-jain03 commented on #2855
Sure, you can take this after successful merge of your ongoing PR!

[2022-08-04 17:23] vedant-jain03 commented on #3229
Thanks @Sarthaknegigit for the ref!

[2022-08-04 17:33] vedant-jain03 commented on #2218
#3071 Resolved

[2022-08-04 17:33] #2218 closed

[2022-08-04 17:37] vedant-jain03 commented on #3252
Hey @codewithnadeem14502, @Sarthaknegigit is working on it
You can check out other open unassigned issues!

Welcome to the Community!

[2022-08-05 07:07] Sarthaknegigit commented on #3252
@vedant-jain03 Resolved this issue in PR #3254. Please review.

[2022-08-05 17:53] #357 closed

[2022-08-06 04:05] debrajrout commented on #3252
Hi I would  like to resolve the issue if u assign it to me

[2022-08-06 04:22] Sarthaknegigit commented on #3252
@debrajrout Hey Debraj, I am already working on this issue with an ongoing PR.
You can check other issues with `good first issue` label if you are new.

[2022-08-06 04:27] debrajrout commented on #3252
@Sarthaknegigit Sure sure.
And thank you.

[2022-08-06 16:54] Sarthaknegigit commented on #2855
@vedant-jain03 Can I start working on this one now?

[2022-08-09 14:13] Arijit6258 commented on #2787
@Kartikay304  Is this issue still open and can I work on this?

[2022-08-11 12:30] kumarsanu2002 commented on #3047
if it is open then i can fix it. Let me know and provide code base.
Thanks.

[2022-08-11 14:36] Prerna-0202 commented on #3047
Hey @kumarsanu2002, The pr for this issue has been already made under the Gsoc task(#3236). You can try other open issues.

[2022-08-14 05:25] itsAastha commented on #3252
The misalignment still exists, please check again

[2022-08-14 06:21] Sarthaknegigit commented on #3252
Hey Astha, there is some problem with appveyor while pushing the build, that' why the approved PR hasn't been pushed yet.

[2022-08-14 09:38] siddhi-244 commented on #3252
Can I try this? Hello myself Siddhi Bhanushali and I am planning to apply for gsoc next year and would really love to work with this organization

[2022-08-14 10:21] rakshitgondwal commented on #2746
@vedant-jain03 I guess no one has been solving this issue lately, so can I try to solve this issue?

[2022-08-14 12:51] codewithnadeem14502 commented on #3008
I think I can do this, if applicable

[2022-08-14 12:53] codewithnadeem14502 commented on #2870
I think I can do this, if applicable

[2022-08-14 12:55] codewithnadeem14502 commented on #2787
Hello, dear @Kartikay304 sir, can you plz assign me any good first issue. I didn't find any unassigned good first issue in circuitverse repositories.

[2022-08-14 17:50] Sarthaknegigit commented on #3252
Hey Siddhi, this issue has already been resolved and approved. You can try to solve other issues with `good first issue` tag if you are a beginner.
Welcome to Circuitverse Community.

[2022-08-14 19:10] codewithnadeem14502 commented on #3231
hello sir @vedant-jain03 , can i start working on this , i am complete new to open source , hoping this will be my first PR. thank you sir .

[2022-08-15 05:09] vedant-jain03 commented on #3231
Hey @codewithnadeem14502 , I have already made a PR on it and is under review!
You can work on any other good first issue that is not been taken by anyone!

[2022-08-15 05:51] siddhi-244 commented on #3008
Can I try it ?

[2022-08-15 06:23] vedant-jain03 commented on #3008
Thanks but the PR for the issue is under review, you can check out other open issues!

[2022-08-15 12:51] vedant-jain03 opened #3258 "feat: API endpoint for notifications"
**Is your feature request related to a problem? Please describe.**
API endpoint for notifications

**Are you working on this? (Yes/No)**
Yes

[2022-08-19 18:32] sahilsuman933 commented on #2599
I would love to work on this issue. @vedant-jain03, can you please assign this issue to me?

[2022-08-23 04:19] joannasjohnraj commented on #2855
Is this issue still open? i would like to work on it

[2022-08-23 04:20] joannasjohnraj commented on #2787
Is this issue still open? I would like to work on it.

[2022-08-23 04:21] joannasjohnraj commented on #2005
Is this issue still open? I would like to work on it.

[2022-08-23 04:22] joannasjohnraj commented on #2712
Is this issue still open? I would like to work on it.

[2022-08-23 04:25] joannasjohnraj commented on #2919
Is this issue still open? I would like to work on it.

[2022-08-23 04:43] joannasjohnraj commented on #3008
Is this issue still open? I would like to work on it.

[2022-08-23 04:43] joannasjohnraj commented on #2870
Is this issue still open? I would like to work on it.

[2022-08-25 05:28] lucifer694u commented on #2870
hey i am new to open source and i would really like to contribute .can you suggest me how to start

[2022-08-29 16:47] #2931 closed

[2022-08-29 16:47] #2964 closed

[2022-08-29 16:47] #3058 closed

[2022-08-31 06:35] vedant-jain03 opened #3271 "feat: web push notification"
**Are you working on this? (Yes/No)**
Yes

[2022-09-01 12:07] vedant-jain03 opened #3275 "fix: ActionView::Template::Error: Couldn't find Project with 'id'"
**Describe the bug**
New unhandled error in production from [circuitverse](https://app.bugsnag.com/circuitverse/circuitverse?i=sk&m=nw) in projects#destroy [(details)](https://app.bugsnag.com/circuitverse/circuitverse/errors/630f03a63d053400098bc0bf?event_id=630f03a6009657c426200000&i=sk&m=nw)
Unhandled error
ActionView::Template::Error: Couldn't find Project with 'id'=792042
Location
app/notifica

[2022-09-05 08:15] #3275 closed

[2022-09-09 14:26] #3258 closed

[2022-09-10 02:45] Rounak-28 opened #3283 "Merge two if conditions into one"
In `public/js/listeners.js` there are some if conditions inside another condition like this: -

` if ( // something ) {
     if ( // something ) {
        // the code
        }
     } `

Those two ` if ` can be merged together.

[2022-09-10 05:09] vedant-jain03 commented on #3283
cc @pulkit-30

[2022-09-10 10:02] pulkit-30 commented on #3283
hey @Rounak-28,
Welcome to CircuitVerse 🎉
[pubic/](https://github.com/CircuitVerse/CircuitVerse/tree/master/public) dir code is for old simulator version.
You can find current version code in the [simulator/](https://github.com/CircuitVerse/CircuitVerse/tree/master/simulator) dir.

[2022-09-10 14:48] Mbiakop1 opened #3285 "bug"
Describe the bug
A clear and concise description of what the bug is.
communication channel not working on mobile size

Expected behavior
A clear and concise description of what you expected to happen.
Should be responsive on mobile size as well

Screenshots
If applicable, add screenshots to help explain your problem.
image

Device Information [optional]:

OS: Windows 11
Browser : Chrome
Additional

[2022-09-11 07:29] pulkit-30 opened #3286 "[style]: importing and exporting circuit-files dialog box"
**Describe the bug**

Need to improve import and export circuit-files dialog box styles.

<img width="489" alt="Screenshot 2022-09-11 at 12 56 21 PM" src="https://user-images.githubusercontent.com/76155456/189516810-5e8e75d5-82c4-4e43-bcd7-78e8202edc23.png">

<img width="470" alt="Screenshot 2022-09-11 at 12 56 35 PM" src="https://user-images.githubusercontent.com/76155456/189516818-53ace361-0ab1-

[2022-09-13 04:59] vedant-jain03 opened #3290 "[feat] : suggested tags for the circuits based on the circuit data/description"
**Is your feature request related to a problem? Please describe.**
Suggested tags for the circuits based on the circuit data/description

**Are you working on this? (Yes/No)**
Yes

[2022-09-15 17:29] ashish960 commented on #2787
can i work on this issue

[2022-09-15 17:31] ashish960 commented on #2870
can i work on this issue

[2022-09-15 19:19] Prerna-0202 commented on #2870
Have you checked if this issue still exists? because in my system issue does not exist now.

[2022-09-15 20:02] omsurase opened #3292 "Check box and "Remember Me" not alinged on log in page."
**Describe the bug**
On Log In page, "Remember Me" and its corresponding text box is not aligned properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org/'
2. Click on 'Log In'
3. Scroll down to 'Forgot Password
4. See error

**Expected behavior**
"Remember me" and its checkbox should be properly aligned. They should also be responsive to screen size changes.

[2022-09-16 02:53] vedant-jain03 commented on #3292
#3252

[2022-09-16 02:53] #3292 closed

[2022-09-16 03:00] vedant-jain03 opened #3294 "feat: notify group members for the new assignment in the group"
**Is your feature request related to a problem? Please describe.**
- All group members of a group should get notify regarding the new assignment in the group.

**Describe the solution you'd like**
- Create a new notification in `app/notifications`(we are using the `noticed` gem, [documentation](https://github.com/excid3/noticed))
- When group mentors click the submit button in the form for a new a

[2022-09-16 18:21] Devraj5032 commented on #3286
I would like to work on it.

[2022-09-16 18:22] Devraj5032 commented on #3286
I would like to work on it.

[2022-09-17 03:29] vedant-jain03 commented on #3286
@Devraj5032 this issue is under `GSoC2022`!
Thanks for your interest, you can check out another open issue!

[2022-09-17 05:14] omsurase commented on #3294
@vedant-jain03  i would like to work on this.

[2022-09-17 05:18] vedant-jain03 commented on #3294
@omsurase Sure go ahead!

[2022-09-17 05:35] omsurase commented on #3294
@vedant-jain03 could you please tell me what type of notification is expected?
Currently, group members are getting notifications in emails regarding new assignments.

[2022-09-17 06:04] vedant-jain03 commented on #3294
@omsurase we are expecting the web platform notification.
Currently, we have two notification events
- when someone stars a project, notify the author
- when someone forks a project, notify the author

We want to notify all the group members for new assignment published by group mentor!

[2022-09-17 15:51] natzmonteiro commented on #3252
#3292  @vedant-jain03 Is this issue still open? I would like to work on it.

[2022-09-17 19:06] Prerna-0202 commented on #2855
Solved already.

[2022-09-17 19:22] Prerna-0202 commented on #3285
Duplicate  #3051

[2022-09-17 19:22] #3285 closed

[2022-09-17 19:24] Prerna-0202 commented on #3047
Solved in #3236

[2022-09-17 19:24] #3047 closed

[2022-09-17 19:26] Prerna-0202 commented on #3045
Solved in #3236

[2022-09-17 19:26] #3045 closed

[2022-09-17 19:41] Prerna-0202 commented on #2890
Solved already
![Screenshot (686)](https://user-images.githubusercontent.com/89515816/190873891-1309eb89-1e55-4b94-826f-fe5c1b16e58a.png)

[2022-09-17 19:41] #2890 closed

[2022-09-17 19:45] Prerna-0202 commented on #2862
Solved  in #3243

[2022-09-17 19:45] #2862 closed

[2022-09-20 04:32] joannasjohnraj commented on #3252
@vedant-jain03 Is this issue still open? I would like to work on it.

[2022-09-20 13:56] vedant-jain03 opened #3297 "feat: weekly contests in the circuitverse"
**Is your feature request related to a problem? Please describe.**
Weekly contests on CircuitVerse will be open for every user. Users can register in contests and can submit one of their creations or Project on the CircuitVerse platform. The top projects and project authors will be the winner. The judging criteria for projects will be the votes by other users. The more votes, the higher will be th

[2022-09-20 16:35] vedant-jain03 commented on #3252
Hey @joannasjohnraj the PR for the issue is already been raised and under review, you can checkout other open issues!

[2022-09-21 17:23] tachyons commented on #3283
We are no longer accepting contributions for old simulator

[2022-09-21 17:23] #3283 closed

[2022-09-22 05:28] JatinSingh08 commented on #3078
Hey @techMonowar, I'm new to the CircuitVerse community. Can I start working on this bug?

[2022-09-22 05:31] gr455 commented on #3078
How does this fit with our i18n? // @vedant-jain03

[2022-09-23 08:25] #2855 closed

[2022-09-28 03:06] vedant-jain03 opened #3299 "fix: not to show mark all as read button for no unread notifications."
**Describe the bug**
not to show mark all as read button for no unread notifications.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org/'
2. Click on 'notification icon'
3. Scroll down to 'see all'

**Expected behavior**
The button for `mark all as read` should be visible when there are unread notifications.

**Screenshots**
![Screenshot from 2022-09-28 08-36-14

[2022-09-28 03:26] r3yc0n1c commented on #3299
Hi @vedant-jain03! I want to work on this issue

[2022-09-28 03:39] vedant-jain03 commented on #3299
Sure, go ahead!

[2022-09-29 00:07] palashb01 commented on #3008
i think i can resolve this issue, @vedant-jain03  could you please assign this issue to me.

[2022-09-29 04:55] vedant-jain03 commented on #3008
@palashb01 PR for the issue is already raised and is under review. You can checkout another open issue!

[2022-09-29 11:42] wallento opened #3304 "production Docker build error"
**Describe the bug**
When running the current Docker container from `ghcr.io/circuitverse/circuitverse:master` I observe the following error:

[code]
I was able to pin it down to this commit: https://github.com/CircuitVerse/CircuitVerse/commit/c801c4215167e5f05e1ac8f1fbefc82bef42ac17

This is also visible with the two buillds of this commit and the preceeding commit:

- image: ghcr.io/circuitverse

[2022-09-30 02:44] vedant-jain03 commented on #3304
cc @CircuitVerse/circuitverse-core-team

[2022-09-30 05:32] #3304 closed

[2022-09-30 05:34] tachyons commented on #3304
This was caused after the rails upgrade which somehow caused noticed's ability to automatically be included in models, I fixed it on circuitverse side for now.

[2022-10-03 10:09] VaibhavUpreti commented on #3294
Hi , is anybody currently working on this issue? If not ... I would like to contribute.

[2022-10-03 10:51] omsurase commented on #3294
hey @VaibhavUpreti I'm still working on it, feel free to come over to slack and we can work on this together

[2022-10-03 11:28] VaibhavUpreti commented on #3294
Oops I missed checking slack... well thanks for the heads up 👍

[2022-10-03 12:22] tachyons commented on #3304
@wallento We have a plan to improve the self hosting experience for circuit verse. Do you have 30 minute this month to talk about your use case and challenges ?

[2022-10-03 17:06] wallento commented on #3304
Hi, thats a great proposal. I am currently spinning it up for the upcoming semester and was quite successful. I will show you what we changed for our purpose and how we could benefit from some minor changes in our work to keep the fork up to date. Can you please drop me a mail at stefan.wallentowitz@hm.edu, thanks!

[2022-10-04 13:08] tachyons opened #3309 "Investigate Firefox compaibility"
An [issue](https://github.com/webcompat/web-bugs/issues/108042) is reported on [web-bugs]([web-bugs](https://github.com/webcompat/web-bugs)) regarding browser compatibility. We need to check if it is an issue from our side.

[2022-10-04 19:27] ABHISHEK-PANDEY2 commented on #3246
@vedant-jain03   Is this issue solved ? Because on the main website i can't see the issue , though in the cloned version the issue persists

[2022-10-06 07:08] #3299 closed

[2022-10-07 19:51] Gairick52 commented on #3309
@tachyons i am new to open source can you suggest me some beginner friendly issues

[2022-10-08 08:24] Prerna-0202 commented on #3309
Hey @Gairick52 , You can try this one https://github.com/CircuitVerse/CircuitVerse/issues/2599

[2022-10-08 09:21] Mbiakop1 commented on #3297
@vedant-jain03 I am new to open source can you suggest to me some beginner-friendly issues?

[2022-10-08 09:38] Gairick52 commented on #3309
@Prerna-0202 hello mam i have not mentioned above i am new in open source world i just started day yesterday to explore.What would you recommend to me?Please suggest me some steps so that i remain consistent ,should i keep trying to fix issues

[2022-10-08 09:45] Mbiakop1 opened #3311 "Add a welcome message to all the new users"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-08 09:49] Gairick52 commented on #2599
why not put error 404 in Bold text  and in next line we could add oops the page you are looking for could not be found in an attractive logo/template and in beside that logo it will appear in return to homepage in this size only and we could also add an extra tab for troubleshooting the possible causes for error 404

[2022-10-08 10:22] Gairick52 commented on #2599
https://www.figma.com/file/4KxvZ6qM4EUjidf8N6VDD1/Untitled?node-id=4%3A3

[2022-10-08 12:37] prsndp commented on #3311
Hi @Mbiakop1, Could I take this issue?

[2022-10-08 20:09] Prerna-0202 commented on #2599
You can post the designs in the #ux slack channel, and try the theme should be consistent with the site, also you can take reference for design by https://github.com/CircuitVerse/CircuitVerse/pull/1341, and once your design is approved by core team members, then you can make a pull request.

[2022-10-09 02:30] Gairick52 commented on #2599
@Prerna-0202 thank you very much for your guidance till now,i just have one doubt can you please tell me how to find ux slack channel of circuitverse

[2022-10-09 12:42] omsurase commented on #3294
@vedant-jain03 unassigning myself because i cant seem to fix this issue.

[2022-10-09 13:33] vedant-jain03 commented on #3294
@VaibhavUpreti are you interested to work on this issue?

[2022-10-09 15:49] VaibhavUpreti commented on #3294
Yes ... I think I can make it work. Kindly assign me the issue.

[2022-10-10 05:54] bijoysijo commented on #3294
Hi @vedant-jain03, @VaibhavUpreti I'd also like to work on this.

@VaibhavUpreti  Can we work together?

[2022-10-10 13:52] Mbiakop1 commented on #3311
Yes bro definitely.
Sorry for the late reply.

[2022-10-11 14:02] UditNS commented on #3077
Hi,

I am new to open source community and I want to contribute on this issue. Would you tell me how I can get started?

[2022-10-11 16:47] VaibhavUpreti opened #3313 "feat: Include mark as read button in the drop down menu of notifications"
**Is your feature request related to a problem? Please describe.**
I think it will be much more user friendly if users had an option to mark all notifications as read from the drop down itself ... rather than going to the notification page every time.

**Describe the solution you'd like**
To include
- mark as read button in the drop down menu of notifications

I propose a solution like the one men

[2022-10-11 17:55] VaibhavUpreti commented on #3313
Also there seems to be some issue with overlapping of text and the green unread circle when a notification is long( occupies 2 lines )

![beforefix](https://user-images.githubusercontent.com/85568177/195164732-d162947d-9db1-4d05-8f17-c5ceb3c8e164.png)

[2022-10-12 10:02] vedant-jain03 opened #3316 "CircuitVerse Main Platform Future Scopes"
## CircuitVerse Main Platform Future Scope List
- [ ] complete SSO integration.
- [ ] more notifications events.
- [ ] make noticed notification gem implementation more stable(WIP).
- [ ] push notification for mobile app.
- [ ] web push notification.
- [ ] Users can customize the notification event they want to get notified for.
- [ ] improve logic, and accuracy for project tag suggestion.

### Co

[2022-10-12 16:24] vedant-jain03 commented on #3316
cc @tachyons

[2022-10-13 04:13] vedant-jain03 opened #3317 "ActionView::Template::Error: Couldn't find User with 'id'=148788"
**Describe the bug**
ActionView::Template::Error: Couldn't find User with 'id'=148788. This error generated when the notifier(user who triggered the notification event) got deleted.

**Expected behavior**
So when user does not exist, we will use `Someone forked/star your project <project-name>`.

**Are you working on this issue? (Yes/No)**
Yes

[2022-10-13 05:25] tachyons commented on #3316
This need to be broken down to individual issues, but not urgent

[2022-10-13 05:30] tachyons commented on #3313
@nitin10s Could you check if this is needed ? Close button now looks odd with mark as read button

[2022-10-13 06:06] vedant-jain03 commented on #3313
Can we have `mark as read` button in footer, I mean on lets not touch header, we have space in footer we can place `mark as read` on left and `see all` on right.

WDYT?

[2022-10-13 06:19] VaibhavUpreti commented on #3313
Or maybe we can have the cross(X) svg when there are no unread notifications and replace it with 'mark as read' when we have unread notifications . Something like in this image
![image](https://user-images.githubusercontent.com/85568177/195516823-1798c307-8618-4ccb-935b-cf00fbc1ef99.png)

[2022-10-13 09:36] vedant-jain03 commented on #3313
What if user have unread notifications and do not want to mark them as read?
The close button and mark as read have different context, I think we should make them separately.

WDYT?

[2022-10-13 09:48] SteveMassDev commented on #3097
Hi @vedant-jain03, Could I take this issue?

[2022-10-14 08:46] VaibhavUpreti commented on #3313
Yes I think this makes much more sense.

[2022-10-16 16:09] snehalshah8429 commented on #2919
is the PR for this process accepted? If nit can I work on this?

[2022-10-26 11:50] vedant-jain03 opened #3328 "feat: clear all button for notifications"
**Is your feature request related to a problem? Please describe.**
If the user wants to delete all the notification there need to be an option for that.

**Describe the solution you'd like**
A "Clear all" button similar to "mark all as read" that destroys all notifications. Before destroying, it should ask for confirmation in `modal`.

**Are you working on this? (Yes/No)**
No

[2022-10-26 11:53] vedant-jain03 opened #3329 "feat: pagination for notifications"
**Is your feature request related to a problem? Please describe.**
There may be more than 50 notifications for users which makes the webpage lengthy.

**Describe the solution you'd like**
Pagination for notification just like we have on the home page for "circuits". notifications per page = 10.

**Are you working on this? (Yes/No)**
No

[2022-10-26 14:01] palashb01 commented on #3328
Hey @vedant-jain03, I would like to work on this Issue, Please assign this issue to me, Thanks.

[2022-10-26 14:02] vedant-jain03 commented on #3328
@palashb01 Go Ahead!

[2022-10-30 12:05] aashimawadhwa commented on #3329
Hello @vedant-jain03  I am looking forward to work in this issue can you assign it to me and elaborate more about it?

[2022-10-30 15:33] vedant-jain03 commented on #3329
Go ahead @aashimawadhwa

[2022-10-30 17:16] aashimawadhwa opened #3331 "Remember me button is not rendering properly"
**Describe the bug**
remember me button on the signup page is rendering in an unaligned manner with the checkbox on Chrome and Firefox.

**Screenshots**
![Screenshot from 2022-10-30 22-36-11](https://user-images.githubusercontent.com/73706697/198891969-16c9176c-8f89-44dc-9a1e-47480bbeaa9f.png)
![Screenshot from 2022-10-30 22-45-21](https://user-images.githubusercontent.com/73706697/198892024-ded73

[2022-10-31 03:32] vedant-jain03 commented on #3331
@aashimawadhwa this issue is already raised https://github.com/CircuitVerse/CircuitVerse/issues/3252 and the PR for this is under review!

[2022-10-31 03:32] #3331 closed

[2022-11-01 12:23] VaibhavUpreti opened #3333 "Overlapping Notification and unread notification green circle"
**Describe the bug**
Overlapping Notification and unread notification green circle

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Notifications modal'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
The text should not overlap with the unread notification circle.

**Screenshots**
If applic

[2022-11-01 12:31] VaibhavUpreti commented on #3328
I think this is mentioned in issue #3313  and PR #3312 . @vedant-jain03

[2022-11-02 04:57] vedant-jain03 commented on #3328
@VaibhavUpreti this is a different context, this button is used to **Delete** all notifications, and **mark all as read** button will just mark notifications as read!

[2022-11-02 04:57] vedant-jain03 commented on #3328
@palashb01 Any updates?

[2022-11-03 05:50] Adityasaini10012001 commented on #3329
hey @aashimawadhwa are you working on this issue

[2022-11-03 05:51] Adityasaini10012001 commented on #3311
hello @Mbiakop1  are you working on this issue

[2022-11-03 11:33] aashimawadhwa commented on #3329
Hey, yes i am working on it, in the middle of it will finish by weekend .

[2022-11-03 13:29] Haidar13 opened #3335 "Grouping projects in a folder like structure"
I have been using CircuitVerse for 2 years now teaching Digital Logic Design course and I like it a lot.
Each semester I'm building new projects and I got added as a collaborator to other projects by the students for debugging and grading; with this, the dashboard is now full of projects and it becomes harder to navigate.

It will be great if there is a folder-like structure on the dashboard where

[2022-11-03 19:12] peppergrayxyz opened #3336 "Verilog/VHDL API export"
**Is your feature request related to a problem? Please describe.**
To export verilog the project needs to be opened from a browser, which is hard to automate.

**Describe the solution you'd like**
Hava an API to get the data, e.g.
- GET /api/v1/projects/:id/verilog
- GET /api/v1/projects/:id/vhdl

**Describe alternatives you've considered**
There is no good workaround which would enable build scri

[2022-11-04 03:31] vedant-jain03 commented on #3336
cc @gr455 @pulkit-30 @devartstar

[2022-11-05 17:17] palashb01 commented on #3328
Hey @vedant-jain03 , I am actively working on this and have posted some queries on the slack community, Thanks.

[2022-11-08 17:25] sulogna2001 commented on #3333
Hey @VaibhavUpreti  can I work on this issue?

[2022-11-09 08:57] Mbiakop1 opened #3343 "Fix pundit deprecation message"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device Information [optional]:**
 -

[2022-11-10 05:41] vedant-jain03 commented on #3343
@Mbiakop1 Could you please add a description for the issue?
The way for reproducing the issue!

[2022-11-10 06:39] vedant-jain03 opened #3346 "the deleting user is blocked if they have subscribed to forum"
**Describe the bug**
update or delete on table "users" violates foreign key constraint "fk_rails_8268bd8830" on table "forum_subscriptions".

**Expected behavior**
The user should be able to get destroyed without any interruptions!

**Are you working on this issue? (Yes/No)**
Yes

[2022-11-11 18:08] sulogna2001 commented on #2454
hey @vedant-jain03  can i work on this issue?

[2022-11-11 18:10] sulogna2001 commented on #3077
hey @techMonowar  can i work on this issue

[2022-11-11 18:19] sulogna2001 commented on #3311
hey @Mbiakop1  can i work on this issue

[2022-11-11 18:21] Rutwik187 commented on #2599
hi. I am really good at designing [figma] and programming [vue , react]  web pages. If the issue is still open I would love to contribute.

[2022-11-11 18:25] sulogna2001 commented on #2339
hey @Comerstar  can i work on this issue

[2022-11-12 13:19] Mbiakop1 commented on #3329
Hi, @aashimawadhwa are you still working on this issue?

[2022-11-12 15:57] AtharvaShobhane commented on #3328
Can I work on this?

[2022-11-12 17:15] palashb01 commented on #3328
Hey @AtharvaShobhane , I am actively working on this Issue, you can pick another issue, Thanks.

[2022-11-13 21:20] MartenBE commented on #3309
I am using circuitverse for in the classroom and this issue rcomes up regularly with Firefox users, including myself.

[2022-11-16 17:51] Mbiakop1 commented on #3311
Nop

[2022-11-17 04:49] dhruvaop opened #3353 "README should be updated it look outdated"
**Is your feature request related to a problem? Please describe.**
As I have seen many open source project they look more attractive and easy to use for beginners.

**Describe the solution you'd like**
Add more section in the README should be beneficial for newbies

**Describe alternatives you've considered**
Adding section like support and workflow

**Are you working on this? (Yes/No)**
Yes

[2022-11-17 05:58] vedant-jain03 commented on #3353
cc @CircuitVerse/circuitverse-core-team

[2022-11-17 06:23] dhruvaop commented on #3353
Cc ?

[2022-11-17 09:38] #3313 closed

[2022-11-17 10:11] #3346 closed

[2022-11-17 11:14] omthakare16 opened #3354 "Aligment of the remember me option in login page"
**Describe the bug**
"Remember me" text not align with the check box in login page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://circuitverse.org/users/sign_in
2. See the error below the email and password input section.

**Expected behavior**
It should be perfectly aligned with the checkbox given for it.

**Screenshots**
![Screenshot from 2022-11-17 16-31-13](https://user-im

[2022-11-17 12:40] #3008 closed

[2022-11-17 20:07] vedant-z commented on #3354
@omthakare16 May I work on this please?

[2022-11-17 20:08] vedant-z commented on #3353
@dhruvaop May I work on this as well?

[2022-11-17 20:25] dhruvaop commented on #3353
Hey @vedant-z  I am actively working on this Issue, you can pick another issue, Thanks.

[2022-11-17 20:27] dhruvaop commented on #3353
@vedant-jain03 I have send a PR please have a look

[2022-11-18 05:11] omthakare16 commented on #3354
@vedant-z I myself want to work on this issue but I don't have right to assign anyone, @vedant-jain03  can you assign me.

[2022-11-18 09:29] akashshukla7458 commented on #3354
@vedant-jain03  @omthakare16  can i work on this issue???

[2022-11-18 09:32] akashshukla7458 commented on #3311
@vedant-jain03 @Mbiakop1  can i work on this issue?

[2022-11-18 10:13] vedant-jain03 commented on #3354
This issue is duplicate
https://github.com/CircuitVerse/CircuitVerse/issues/3252

[2022-11-18 10:13] #3354 closed

[2022-11-18 10:19] vedant-jain03 commented on #3353
@dhruvaop I don't find this as practical.
Could you elaborate on what perspectives you think the readme should get updated as you mentioned "more attractive"?

Again I am saying kindly read the contribution guidelines before making the PR.
Let the core-team approve whether the issue is valid or not!

[2022-11-18 10:21] dhruvaop commented on #3353
Ok no issues

[2022-11-18 10:25] vedant-jain03 commented on #3353
Also, we recommend discussing the issue in the slack #community channel as that is our platform for discussions!
You can ask your doubts or anything related to issues/pr/suggestions!

[2022-11-18 10:27] vedant-jain03 commented on #3329
Hey @aashimawadhwa, any progress on this?

[2022-11-18 11:00] tachyons commented on #3353
We had too many things in the readme file before, it started to clutter with adding setup instructions for different operating systems, that is why we moved them to different pages and linked from readme. Ideas to improve readme files are welcome, but we can't simply imitate other projects due to the constraints we have.

[2022-11-18 17:54] #3353 closed

[2022-11-19 01:08] aashimawadhwa commented on #3329
Hey I was sick and had exams in the middle I really want to work on it will finish it asap.

[2022-11-19 13:20] pavanjoshi914 commented on #3329
nice catch @vedant-jain03 but do we really have that level of intensity in notifications that this feature will be in use frequently?
if yes then it's good to go else it will be just a extra piece of code!

WDYT @tachyons ?

[2022-11-19 13:25] vedant-jain03 commented on #3329
I would yes, as we have more notification events coming up!

[2022-11-19 13:27] tachyons commented on #3329
Yes, there will be more notifications.

[2022-11-19 13:31] pavanjoshi914 opened #3357 "Feat: weblate integration for continuous localization in CircuitVerse"
**Is your feature request related to a problem? Please describe.**
Weblate is a great tool to manage localized string and provide an easy dashboard to manage and translate strings into alternate languages.
Weblate also helps new translators to translate strings in their native language right from their dashboard.

it also provides support for ruby ```.yaml``` files. it also provides paid solutions

[2022-11-19 13:38] pavanjoshi914 commented on #3077
Interesting! but there might not be the vast majority of people who works without a mouse.

[2022-11-19 13:40] pavanjoshi914 commented on #3309
Hey @MartenBE  thanks for helping CircuitVerse! can you please elaborate on what kind of issues you encountered so that we can reconfirm and take major steps toward it. it will be really helpful for us

[2022-11-19 13:45] pavanjoshi914 commented on #3311
We already have getting started guide for new users! adding an additional layer just for welcoming users creates a delay to access the homepage! not much necessary i think so.

[2022-11-19 13:53] MartenBE commented on #3309
1. Go to https://circuitverse.org/simulator .
2. The blue bar at the top loads till half of the screen (it goes fast in the beginnen, but starts to grind to a halt).
3. The page stays blank, except for the blue bar at the top.

![image](https://user-images.githubusercontent.com/1958780/202853926-65be48e6-8ae7-449c-8bfa-3e9aef66a00d.png)

![image](https://user-images.githubusercontent.com/1958780/2

[2022-11-19 14:25] pavanjoshi914 commented on #3309
thanks a lot, does page loads after some time?

[2022-11-19 18:40] Prerna-0202 commented on #2683
I would like to work on this issue @tachyons.

[2022-11-20 04:53] danger-ahead opened #3358 "ERROR: db migrate throws `=== Dangerous operation detected #strong_migrations ===`"
**Describe the bug**
db migrate throws `Standard error: === Dangerous operation detected #strong_migrations ===`

**To Reproduce**
Steps to reproduce the behavior:
1. Complete all the steps of local environment setup.
2. Run `rails db:migrate`

**Expected behavior**
DB migrations should have completed successfully.

**Device Information [optional]:**
 - OS: [e.g. iOS] Fedora 37
 - Browser [e.g. ch

[2022-11-20 05:42] danger-ahead opened #3359 "bug: UI / Remember me button not positioned correctly in user sign in page"
**Expected behavior**
The remember me text should be properly aligned with the checkbox.

**Screenshots**
![image](https://user-images.githubusercontent.com/55531939/202887396-c8389793-cca4-4075-8d2e-9d38d4036c0d.png)
![image](https://user-images.githubusercontent.com/55531939/202887676-73fa756d-2dcc-4be8-b78e-5868bc95e92a.png)

**Device Information [optional]:**
 - OS: [e.g. iOS] Fedora 37
 - Bro

[2022-11-20 07:56] tachyons commented on #2683
Go ahead

On Sun, 20 Nov, 2022, 12:10 am Prerna Sharma, ***@***.***>
wrote:

[2022-11-21 10:57] sambhavgupta0705 commented on #2712
Hey @vedant-jain03 is this issue still open? I want to work on this

[2022-11-21 19:15] Shruti799 commented on #3359
I would like to work on this issue and fix it.

[2022-11-22 13:53] pavanjoshi914 commented on #3309
unable to produce on
browser: firefox 107.0
OS: windows 11

[2022-11-22 14:13] #3359 closed

[2022-11-25 16:47] Waishnav opened #3365 "feat: infinite scroll feature in recent circuits section instead of pagination."
**Is your feature request related to a problem? Please describe.**
Yes, there is a User-experience flaw on the home page **Recent Circuit** section.

**Describe the solution you'd like**
Instead of pagination, we can have an infinite scroll feature for a better user experience.
So that users don't need to click on the Nth page again n again.

**Describe alternatives you've considered**
Or we can h

[2022-11-27 10:14] Sekhar-Kumar-Dash commented on #3365
hello Waishnav  can you please assign me this issue and also i am new to open source can you please guide me through

[2022-11-27 13:19] Prerna-0202 commented on #3309
browser: firefox 105.0.2  and 107.0 (both)
OS: Windows 10

[2022-11-27 13:28] #3333 closed

[2022-11-27 17:24] #3286 closed

[2022-11-27 17:25] #3235 closed

[2022-11-27 21:17] MartenBE commented on #3309
- Firefox 107.0 (64-bit)
- Windows 10 Pro Version 22H2 (Installed on 25/‎11/‎2022), build 19045.2251, Windows Feature Experience Pack 120.2212.4180.0

[2022-11-28 07:51] pavanjoshi914 commented on #3309
is it an updated version?
![image](https://user-images.githubusercontent.com/55848322/204222657-2dab5854-7554-4605-86d4-3374a35733e3.png)

[2022-11-28 10:16] MartenBE commented on #3309
Firefox 107.0 is indeed the latest version at the moment of writing:

![image](https://user-images.githubusercontent.com/1958780/204252459-c9c60330-ccf6-4208-a704-7c81f70e8245.png)

[2022-11-28 11:58] Sekhar-Kumar-Dash commented on #3365
hello tachyons please assign me this issue

[2022-11-29 14:57] tachyons commented on #2887
Sure