[2020-10-23 04:46] drjyeh commented on #1825
Hi,

Thanks. That is great.

I have made a few more modifications that potentially solved the Splitter problem for many situations.  Also I merged most of the code.

The previous code would fail on the following:
https://circuitverse.org/users/37205/projects/splitter-test <https://circuitverse.org/users/37205/projects/splitter-test>

The new commits would fix this problem.

Thanks,
James

---
Jame

[2020-10-23 09:25] Logicless-Coder opened #1831 "Two overlapping x-icons to close a window"
**Describe the bug**
In the Dec-Bin-Hex-Converter and the BooleanLogicTable window, you can see 2 overlapping x-icons in the top-right corner of the window. Once, you hover over it, one of them becomes invisible.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://circuitverse.org/simulator](https://circuitverse.org/simulator)
2. Click on Tools in the menu bar on the top
3. Open e

[2020-10-23 09:42] Logicless-Coder commented on #1831
I wanted to work on this issue, but I don't know Ruby on Rails.

[2020-10-23 13:27] satu0king opened #1832 "Announcement Feature improvements"
Small improvements for the announcement feature
- [ ] Text Wrapping is not correct?
![image](https://user-images.githubusercontent.com/2092958/97009211-72627c00-1561-11eb-9265-d9e09c988357.png)

- [ ] Button Text should be customizable. I think here the button text should be "Try It" instead of "Read More"
![image](https://user-images.githubusercontent.com/2092958/97009241-7bebe400-1561-11eb-8c8f-

[2020-10-23 15:17] pavanjoshi914 commented on #1832
@satu0king working on it!! :+1:

[2020-10-23 16:16] satu0king commented on #1832
Awesome. I added a couple of additional improvements in the issue, please check.

[2020-10-23 16:33] pavanjoshi914 commented on #1832
https://github.com/froala/wysiwyg-rails

this gem is to be integrated for 4th checkpoint?

[2020-10-23 16:42] satu0king commented on #1832
This looks amazing! However we are already using a text editor for project page description and assignment page description. Probably just use that for now.

@aayush-05 @nitin10s does this froala text editor look better?

[2020-10-23 16:47] satu0king commented on #1832
https://summernote.org/
@pavanjoshi914 can u research on other text editors
https://awesomeopensource.com/projects/wysiwyg-editor

[2020-10-23 16:49] pavanjoshi914 commented on #1832
ohk i was not aware  of text editor already present got it in editor folder will use that !!!

[2020-10-23 16:58] pavanjoshi914 commented on #1832
on it!!

[2020-10-23 17:45] aayush-05 commented on #1832
We are currently using this: https://alex-d.github.io/Trumbowyg/
It's not the most feature-rich, but very small ~20kB (comparison: SummerNote is ~100kB). I would recommend the current one since our usage isn't much in terms of fancy text styling.
If we go by the current one, it has already been abstracted as a rails partial, and would require one-line change to incorporate for this feature.
cc: @s

[2020-10-23 18:07] pavanjoshi914 commented on #1832
poked around the list of the editors except simiditor and summernote  some lacks ui some lacks features
found current one always better than them...
 as compared with size i agree with @aayush-05

[2020-10-24 05:11] pavanjoshi914 commented on #1832
if we put url in the link without protocol like "www.circuitverse.com" it opens localhost:3000/www.google.......
url must have https or http
is this needs to be corrected?

[2020-10-24 05:26] satu0king commented on #1832
Current Behavior seams fine.

[2020-10-24 05:46] satu0king opened #1837 "WYSIWYG Text Editor - Improvements"
**Is your feature request related to a problem? Please describe.**

Current Editor
![image](https://user-images.githubusercontent.com/2092958/97068776-3de5d300-15e8-11eb-9e5b-2133a7df8665.png)

We are using https://alex-d.github.io/Trumbowyg/

However, the editor in the main website is having more features
![image](https://user-images.githubusercontent.com/2092958/97068819-a339c400-15e8-11eb-8bee-

[2020-10-24 05:46] satu0king commented on #1837
cc @pavanjoshi914 @aayush-05

[2020-10-24 06:28] #1832 closed

[2020-10-24 10:45] satu0king commented on #1825
@drjyeh closing this issue

[2020-10-24 10:45] #1825 closed

[2020-10-24 11:33] #1827 closed

[2020-10-24 18:26] satu0king commented on #1332
@gr455 check this please?

[2020-10-24 19:52] gr455 commented on #1332
I think this is happening because the value is becoming signed somewhere in the middle of splitter resolution

[2020-10-25 02:59] pavanjoshi914 commented on #1837
I would like to work on this...

[2020-10-26 06:19] aaryandewan opened #1846 "Search elements are not draggable onto the main canvas in the beta simulator"
Describe the bug
After searching for an element (say Multiplexer) from the newly introduced search box in the beta simulator, you cannot drag the element into the canvas. To add that element, you must click on it and then move your mouse to the canvas. This bug is not present in the working (main/non-beta) version.

To Reproduce
Steps to reproduce the behavior:
1. Go to https://beta.circuitverse.o

[2020-10-27 05:05] shivamparashar165 commented on #1762
I would like to work on this issue.

[2020-10-27 05:21] shivamparashar165 commented on #1846
Love to work on this issue.

Assign me this issue @satu0king

[2020-10-27 14:45] satu0king commented on #1846
Go ahead @shivamparashar165

[2020-10-27 15:05] DevanshD3 commented on #1837
@satu0king I would like to work on this issue

[2020-10-27 15:06] DevanshD3 commented on #1846
Can I work on this issue please ?

[2020-10-27 15:08] DevanshD3 commented on #1807
I am not exactly sure what the issue is ? What exactly needs to be done?

[2020-10-27 15:08] DevanshD3 commented on #1802
I would like to work on this issue

[2020-10-27 15:08] shivamparashar165 commented on #1846
Thanks, I am working on it.

[2020-10-27 15:36] rajat2502 commented on #1807
This is about various types of views like we have in codepen editor.
(https://codepen.io/pen/)

[2020-10-28 08:31] pavanjoshi914 commented on #1708
@satu0king if not done by anyone, would like to work on it....

[2020-10-29 04:42] KKVANONYMOUS opened #1853 "Sign In and Navbar Toggler Button overlap in Beta Simulator when browser window is resized"
**Describe the bug**
After resizing the browser window of **Beta Simulator** you can see that the **Sign In** and **Navbar Toggler Button** overlap each other which makes it difficult to distinguish between the two.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://beta.circuitverse.org/simulator
2. Resize the browser window, Sign In and Navbar toggler button will overlap

**Expe

[2020-10-29 07:32] #1753 closed

[2020-10-29 10:18] shivamparashar165 commented on #1846
Hey ! Everyone

Sorry from my side, As a new developer I was not able to fix the issue.

For, this issue I think that it is not made-up for me. I am trying for last 2 days but not able to solve that issue.
I am with community and like to do small contributions now.

Hope in future, I will also able to solve these complex issue.

[2020-10-29 11:12] shivamparashar165 commented on #1831
@Logicless-Coder

It is an simple bug in CSS file. This is happening due to jQuery UI CSS. We can add embedded style **(backgound-image:none)** for all of the element which have this type of bug.

It will fix the issue.

@satu0king Sir, Give them if he would like to work or able to fix this issue. I am here also if any further help will be needed.

[2020-10-30 03:22] pavanjoshi914 commented on #1853
resolved in #1725 , #1745 but yet to be merged...

[2020-10-30 04:00] KKVANONYMOUS commented on #1853
ohhk, I will close this issue, Thank You for notifying me

[2020-10-30 04:00] #1853 closed

[2020-10-30 04:33] vkassingh opened #1856 "No redo option available"
**Is your feature request related to a problem? Please describe.**
There is only undo option in the user interface. So I would like to add a redo option there to make the circuit verse more user friendly.

**Additional context**
![bug1](https://user-images.githubusercontent.com/42089632/97660215-e5ef1680-1a96-11eb-8d56-dc7e70a1c047.JPG)

**Are you working on this? (Yes/No)**
Yes I would like to wo

[2020-10-30 08:02] Ddevendra commented on #1762
[resolved recaptcha-button overlap #1854](https://github.com/CircuitVerse/CircuitVerse/pull/1854)

[2020-10-31 04:48] vkassingh commented on #1806
I would like to work on this issue. So @satu0king can you please guide me through this?

[2020-10-31 07:39] DevanshD3 opened #1857 "Splitter doesn't work when serched"
The **splitter** works in https://beta.circuitverse.org/simulator when u open misc and select but if u **search and select**, it doesn’t work.

[2020-10-31 14:52] #1332 closed

[2020-11-01 06:47] rishabhgit0608 commented on #1763
is this issue fixed ? i was seeing to work on it .

[2020-11-01 11:26] #1837 closed

[2020-11-01 11:28] #1762 closed

[2020-11-01 11:29] #1813 closed

[2020-11-01 11:43] satu0king commented on #1831
Check if the issue is present in https://beta.circuitverse.org/simulator. If not, please close this issue.

[2020-11-01 11:59] satu0king commented on #1846
@shivamparashar165, Hey it is alright. This was a slightly hard fix. But don't give up!

Check the fix here: https://github.com/CircuitVerse/CircuitVerse/commit/085a374c021f0e4dd48753ecc77582f0a1a66dd6

[2020-11-01 11:59] #1846 closed

[2020-11-01 12:05] satu0king commented on #1708
Go ahead

[2020-11-01 12:06] #1655 closed

[2020-11-01 12:09] satu0king commented on #450
Nice catch, yeah I didn't think of this

[2020-11-01 12:14] satu0king commented on #1767
Yes @aayush-05 so does it mean we can remove the timezone?

[2020-11-01 12:14] satu0king commented on #1782
It is working now.

[2020-11-01 12:14] #1782 closed

[2020-11-01 15:38] satu0king commented on #1857
Resolved

[2020-11-01 15:38] #1857 closed

[2020-11-01 15:39] satu0king commented on #1856
Duplicate of #376 #redo

[2020-11-01 15:40] satu0king commented on #1808
Do this in `new_UI` branch. @aavishkarmishra go ahead

[2020-11-01 15:41] satu0king commented on #1807
Please check https://beta.circuitverse.org/simulator

[2020-11-02 11:09] shubhankarsharma00 commented on #450
@satu0king I'll open a pr for this.

[2020-11-02 13:02] dipanshparmar opened #1863 "Top 2 collaborators names are misplaced."
**Describe the bug**
In the collaborator section of every project the top 2 names are misplaced.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any project
2. Scroll down to collaborator section
4. See error

**Expected behavior**
All the collaborators names were supposed to be aligned in the same manner.

**Screenshots**
![image](https://user-images.githubusercontent.com/49204837/978

[2020-11-02 15:26] rishabhgit0608 commented on #1863
Could You pls mention the link @dipanshparmar

[2020-11-02 15:33] dipanshparmar commented on #1808
@satu0king Can I also work on this?

[2020-11-02 15:58] dipanshparmar commented on #1863
@rishabhgit0608 Here you go: https://circuitverse.org/users/5978/projects/18309

[2020-11-02 16:22] rishabhgit0608 commented on #1863
you managed to fix this issue ?
if no I can start working or we can work on it together ?

[2020-11-02 17:39] dipanshparmar commented on #1863
I am working on it right now. I'll let you know if I need any help 🙂

[2020-11-03 05:13] dipanshparmar opened #1865 "UI Improvement: Improve dropdown menu of search"
**Description**
The drop down menu lacks the theme of the website theme because of its default drop down icon. I am looking forward to change this default icon so that it matches the website theme. I am also looking forward to add cursor: pointer to the search icon so that it looks clickable.

**Screenshot**
![image](https://user-images.githubusercontent.com/49204837/97951738-34ffb900-1dc1-11eb-96

[2020-11-03 06:13] rishabhgit0608 commented on #1863
cool do let me know brother i am here itself
:}

[2020-11-03 15:09] Flarp opened #1868 "Uncaught TypeError: Cannot set property 'parent' of undefined"
**Describe the bug**
After inserting a sub-circuit into my simulation, CircuitVerse freezes and my project is inaccessible. Trying to open it will leave the loading screen animation (the folding blue squares) running forever but the actual simulator will be non-responsive.

**To Reproduce**
Steps to reproduce the behavior:
1. Insert a sub-circuit from the same project
2. Exit the project and attem

[2020-11-03 17:48] aavishkarmishra commented on #1808
@dipanshparmar Please go ahead I am stuck while setting up my development environment with docker.

[2020-11-03 17:50] dipanshparmar commented on #1808
@aavishkarmishra Thanks for the green flag :smile:

[2020-11-03 18:07] aavishkarmishra opened #1869 "new_UI branch is not running on gitpod and docker"
**Describe the bug**
In **gitpod** new_UI branch is not running and giving error that yarn_integrity check fails. Same case with **docker** while running docker-compose up. And after disabling yarn_integrity check it is showing errors in javascript/packs/simulator.js and  javascript/packs/src/scss/tutorials.js.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'new_UI' on gitpod or run `

[2020-11-03 18:21] IVRANUBHV commented on #1805
@rajat2502 Hello sir i would like to work on this issue.Can you give me a little info about the same?

[2020-11-04 07:03] satu0king opened #1870 "Protocol for Deprecation of Circuit Elements"
There have been a few mistakes while creating some Circuit Elements. There have been some slight and some minor deviations in circuit behaviour.

For example the splitter acts both like a splitter and a combiner. It seemed a good idea at the time, but we have had many complexities due to this. A separate Splitter and a Separate combiner seems the best way now.

Some the mistakes are not correctabl

[2020-11-04 07:04] satu0king commented on #1870
@gr455 @shubhankarsharma00 @abstrekt @mahmodHammad @drjyeh Any inputs here?

[2020-11-04 13:17] shubhankarsharma00 commented on #1870
I had an idea we can have all modules have a version number AndGate-v1, NotGate-v1, RAM-v2 and save that while saving the project if it doesn't have a version number while loading we load element's version 1 else we load from new module's version.
Version clearance for old versions can be done in here:
https://github.com/CircuitVerse/CircuitVerse/blob/7b3ecb4e6141c681cebf0c1533176fc2bb7e2ce9/publi

[2020-11-04 14:59] satu0king commented on #1870
@shubhankarsharma00 yes I was thinking on similar lines. But I think we need to discuss more on the details. Yes the sidebar can be configured to include only elements which don't have `.deprecated` as `true`. And we can configure formalType as 'AndGate-v2` and Human Type as `And Gate`.

And about older types, we can use rectifyObject to *upgrade* some objects when possible. And in some cases *not

[2020-11-04 18:18] jknechtel commented on #1493
+1 -- would be great to have this fixed!

[2020-11-04 18:19] jknechtel commented on #1609
+1 -- would be great to have this fixed!

[2020-11-04 19:09] satu0king commented on #1609
On it

[2020-11-05 06:12] abstrekt commented on #1831
It is not present in new UI.

[2020-11-05 06:17] abstrekt commented on #1805
Themes have been added on the `new_UI` branch, if you  like you can work on improving it @rajat2502 check branch: `new_UI`

[2020-11-05 06:36] dipanshparmar opened #1874 "Heading and Icon are overlapping with each other"
**Describe the bug**
Heading and icon of the 'circuit elements' tab are overlapping with each other.

**Expected behavior**
There were supposed to be some spacing between the heading and the icon.

**Screenshots**
![image](https://user-images.githubusercontent.com/49204837/98205993-24854500-1f5f-11eb-8eb9-e8dcb5c5fcd0.png)

**Device Information [optional]:**
 - OS: Ubuntu 20.04
 - Browser: firefox

[2020-11-05 07:14] rishabhgit0608 opened #1875 "Pressing "more" button gives a 404"
**Pressing more Gives 404"

![Screenshot (227)](https://user-images.githubusercontent.com/53399949/98209064-52b95380-1f64-11eb-9ceb-1326fc37c294.png)

press **view**

![Screenshot (228)](https://user-images.githubusercontent.com/53399949/98209074-54831700-1f64-11eb-9251-354cc090a4a3.png)

press **more**

![Screenshot (229)](https://user-images.githubusercontent.com/53399949/98209071-54831700-1f64-

[2020-11-05 08:02] #1641 closed

[2020-11-05 08:02] #1875 closed

[2020-11-05 14:07] dipanshparmar opened #1879 "'Report an Issue' button in the beta simulator is not visible correctly."
**Describe the bug**
Report an issue button in the beta simulator is way more outside, hence the bug icon is not visible correctly.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://beta.circuitverse.org/simulator'
2. Scroll down to 'bottom'
3. See error

**Expected behavior**
The bug icon was supposed to be fully visible.

**Screenshots**
![image](https://user-images.githubuserc

[2020-11-05 14:13] satu0king opened #1880 "LMS Integration"
Currently CircuitVerse contains a simple LMS in CircuitVerse. It would be amazing if we have support for integrating with full fledged LMS.

Some LMS
1. Moodle
2. Google Classroom

[2020-11-05 14:24] tachyons commented on #1870
We can also potentially think about parsing circuits in backend and update for existing circuits, but it can be tricky.

We also have to think about circuitverse engine versioning with this feature

[2020-11-05 14:29] anuragdandge commented on #2
@satu0king  i would like work and contribute on "configure back button "  can i work on it

[2020-11-05 17:02] harshitaaaaaa commented on #1880
Can I work on this issue?

[2020-11-05 17:13] harshitaaaaaa commented on #1806
![Screenshot from 2020-11-05 22-40-53](https://user-images.githubusercontent.com/66556662/98273354-292a1780-1fb8-11eb-91ad-3bf145d4edcd.png)

A search bar is already available in user dashboard.

[2020-11-06 04:11] pavanjoshi914 commented on #1708
@satu0king created a PR for this have a check on pr

[2020-11-06 04:16] pavanjoshi914 commented on #1706
@satu0king I would like to work on this.....

[2020-11-06 04:24] dipanshparmar commented on #1808
I messed up branched in my localhost so I'm closing the above-mentioned PR for now and will make a new one soon :)

[2020-11-06 12:44] harshitaaaaaa commented on #2
@satu0king I would like to work on the customization of dashboard. Can I go ahead?

[2020-11-06 16:18] DevanshD3 commented on #1880
I would like to work on integrating it with google classroom !

[2020-11-07 05:10] dipanshparmar commented on #1805
@rajat2502 and @abstrekt If no one is assigned to this, then can I work on this?

[2020-11-07 14:39] satu0king opened #1890 "Collaborator - Assignment Access Bug"
The circuitverse assignment system is supposed to prevent modifications to circuits after the deadline. However it is very easy to view a closed assignment and add a collaborator who can then alter the assignment. The grader of the assignment has no way of telling if it has been altered since the closing time or by whom, there is not even a date of last alteration or list of collaborators visible

[2020-11-07 14:53] satu0king commented on #1863
Any update on this?

[2020-11-07 15:04] #1890 closed

[2020-11-07 15:05] dipanshparmar commented on #1863
@satu0king not yet. Actually I got busy fixing UI bugs of beta simulator for firefox. But now I'm free and from tomorrow I'll start working on this.

[2020-11-07 15:08] satu0king opened #1892 "Assignment Restrictions"
We have got quite a few complaints from professors that CircuitVerse allows cheating easily. For example users can easily copy/paste any public circuit. They can give collaborator access to their own circuit and copy paste etc. So it has been requested by professors to disable this feature.

I think we need to optionally disable the following features
1. Combinational Analysis Tool
2. Verilog tool

[2020-11-07 15:10] satu0king opened #1893 "Group Page - Privacy Violations"
**Describe the bug**
The group page lists all email ids of all members of the group. Only group admin should be able to see the email ids as this is a possible Privacy violation.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a group
2. Add 2 members to group
3. Login to member 1 account
4. Member 1 user can see member 2's email id (privacy violation)

**Expected behavior**
Only grou

[2020-11-07 15:32] satu0king opened #1894 "Assignment - Collaborators Bug"
Currently when an assignment is closed, the collaborators remain for the submission. Ideally they should be removed.

[2020-11-07 15:33] satu0king commented on #1892
@Shivansh2407 @sal2701

[2020-11-07 16:44] satu0king commented on #1880
@harshitaaaaaa @DevanshD3, please work on them. Others also please work on this. This is not something one person can do. I believe it is fairly complicated. First find out how Google Classroom and Moodle work. I am very much aware about Moodle as we use in our college but no idea about google classroom.

So it goes like this
1. Find out about these LMS, how integrations are, which language etc
1.

[2020-11-07 16:46] satu0king commented on #1880
https://developers.google.com/classroom/guides/manage-classwork
Developer Documentation for Google Classroom

[2020-11-07 16:52] satu0king commented on #1880
https://docs.moodle.org/dev/Plugin_types
Moodle Documentation

[2020-11-07 16:56] satu0king commented on #1880
Adding some points here from a quick glance, looks like moodle plugin has to be written in PHP. Google classroom exposes lot of API in multiple languages including Ruby.

Moodle gives lot of access and possibilities. It would be possible to create a moodle plugin which allows the professors to create assignments, grade assignments directly from moodle. Lot of possibilities here. However, the contr

[2020-11-07 19:38] gr455 opened #1895 "Can't erase project name"
**Describe the bug**
Project properties menu dissapears on pressing backspace/delete

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'beta.circuitverse.org/simulator'
2. Try to erase the project name from the properties menu on the right side

**Expected behavior**
Must be able to erase the project name

**Are you working on this issue? (Yes/No)**
No

[2020-11-07 20:10] satu0king commented on #1895
Fixed

[2020-11-07 20:10] #1895 closed

[2020-11-07 22:05] arjungarg07 commented on #1893
I would like to work on this.

[2020-11-07 22:12] arjungarg07 commented on #1893
I have opened a pull request. Kindly review https://github.com/CircuitVerse/CircuitVerse/pull/1896
Thanks.

[2020-11-08 06:27] satu0king opened #1898 "Hot Fix is failing test"
![image](https://user-images.githubusercontent.com/2092958/98458697-6c070d80-21b9-11eb-8979-dea3c2ffbf3e.png)

This commit caused the problem

https://github.com/CircuitVerse/CircuitVerse/commit/5eeeabde71a92941e9b0202f5ee3299ccf486861#diff-07b471d02484a51cfbf465c574cdec696023cb004384a37875d280c00d0e42a2L11-L14

[2020-11-08 06:58] abstrekt opened #1899 "backdrop appears at top in report issue popup"
**Describe the bug**
the backdrop for the 'Report an Issue' popup is appearing on top on everything, making the popup inaccesible.
**To Reproduce**
Just click report an issue

**Expected behavior**
1. Backdrop should be in proper z-index,
2. as well as also clicking on backdrop should close the Report Issue dialog/popup
3. The close 'X' & the dialog title should have proper formatting/alligned (al

[2020-11-08 07:27] dipanshparmar commented on #1899
@abstrekt can I work on this?

[2020-11-08 07:28] abstrekt commented on #1899
okay.

[2020-11-08 07:34] satu0king commented on #1899
Hey @dipanshparmar, I pushed a fix as I knew exactly what causes this problem. Thanks!

[2020-11-08 07:34] #1899 closed

[2020-11-08 07:35] #1893 closed

[2020-11-08 07:35] dipanshparmar commented on #1899
Oh! okay :slightly_smiling_face:

[2020-11-08 07:36] #1879 closed

[2020-11-08 07:37] satu0king commented on #809
Implemented in new UI

[2020-11-08 07:37] #809 closed

[2020-11-08 07:38] satu0king commented on #1806
Yes this is a much needed feature. The search bar that you are referring to @harshitaaaaaa searches across all projects and users.

What a user would need is a search for just his/her projects. Implement this in client side. It will be very easy to do so using basic JQuery and JS.

[2020-11-08 07:40] satu0king commented on #1516
@medakk I was not able to reproduce this. Can you show exact steps with images preferably?

[2020-11-08 07:46] medakk commented on #1516
I'm not able to reproduce it anymore, not sure what I was doing different back then. Feel free to close!

[2020-11-08 09:24] #1516 closed

[2020-11-08 09:47] pratyush6717 opened #1900 "Improving search bar"
**Is your feature request related to a problem? Please describe.**
Right now, there is no query suggestion and recent searches in search bar,

**Describe the solution you'd like**
Adding query suggestion and recent searches  will improve user experience.

[2020-11-08 11:36] Shubhamverma2796 commented on #1806
Can I work on this issue?

[2020-11-08 13:06] dipanshparmar opened #1901 "Add focus to input box"
**Is your feature request related to a problem? Please describe.**
Right now, when we click on the 'Add a collaborator' button, it shows us a modal with an input box. But we have to click on that input box to activate it.

**Describe the solution you'd like**
I want to add autofocus to the input box so that whenever the user clicks on the 'Add a collaborator' button, it automatically gets focused.

[2020-11-08 15:25] dipanshparmar commented on #1863
@satu0king I think I'm halfway through there. I found the bug and already started working on it. I'll update you accordingly from now.

[2020-11-09 08:26] dipanshparmar commented on #1863
@satu0king please review the mentioned PR.

[2020-11-10 03:40] dipanshparmar opened #1909 "Input box should not reload when it is empty"
**Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/49204837/98624425-d04ddc80-2333-11eb-8155-96ccb8e59394.png)
If we don't add anything in the input box and click on <b>add collaborators</b> button then the page reloads and give this error:
![image](https://user-images.githubusercontent.com/49204837/98624553-160aa500-2334-11eb-954e

[2020-11-10 03:42] #1901 closed

[2020-11-11 09:49] satu0king opened #1911 "New UI Tab Bar issues"
Old UI:

![image](https://user-images.githubusercontent.com/2092958/98796037-f1482780-2430-11eb-877b-2bd569e78a2b.png)

New UI:

![image](https://user-images.githubusercontent.com/2092958/98796075-fe651680-2430-11eb-9456-b252dabeeacb.png)
![image](https://user-images.githubusercontent.com/2092958/98796100-045af780-2431-11eb-8367-3ba3637556ce.png)

Issues:
1. Old UI tabs look more modern, brighter,

[2020-11-11 09:50] satu0king commented on #1911
@abstrekt please check this. Thanks!

[2020-11-11 13:26] dipanshparmar commented on #1911
@satu0king if this issue is open for everyone then I would like to work on this.

[2020-11-11 16:47] Just-A-Pixel commented on #2
@satu0king I would like to work and contribute on 'Add shortcuts to getting started page' and/or 'Preview should go full screen' . Can I go ahead?

[2020-11-11 16:51] Just-A-Pixel commented on #1911
satu0king Is it possible that I can contribute to this issue too?

[2020-11-13 05:21] pavanjoshi914 opened #1915 "combinational analysis needs few improvements"
position should be correct when circuit gets generated
![2020-11-13_10-45](https://user-images.githubusercontent.com/55848322/99031685-b283b000-259d-11eb-9f03-5defad62b6bc.png)
small ui improvement will make it correct
![2020-11-13_10-40](https://user-images.githubusercontent.com/55848322/99031692-b6173700-259d-11eb-974d-5c68bdef19b2.png)
tooltip
![Screenshot from 2020-11-13 10-53-45](https://user

[2020-11-13 14:29] pavanjoshi914 commented on #1880
I think ,Settling with something which allow doing more things from our servers/site will be more better this will also increase usability of site

[2020-11-16 03:32] pavanjoshi914 commented on #1806
@satu0king ,If not done yet, I would like to work on this....

[2020-11-16 07:37] dipanshparmar commented on #1806
Hello @pavanjoshi914 , I'm really sorry that I forgot to claim this issue. Actually I have already started working on this and it'll be completed soon. So, can I continue my work on this? or do you want to work on this?

[2020-11-16 07:42] dipanshparmar commented on #1806
Hello @pavanjoshi914 , I'm really sorry that I forgot to claim this issue. Actually I have already started working on this and it'll be completed soon. So, can I continue my work on this?

[2020-11-16 07:57] pavanjoshi914 commented on #1806
@dipanshparmar no  problem please continue work on this!! I will work on something else

[2020-11-16 14:26] abhinav-TB opened #1919 "Image to circuit"
**Is your feature request related to a problem? Please describe.**
Recreating a circuit from circuit diagrams is taking too much time

**Describe the solution you'd like**
The user should be able to convert images to circuits, that is the user should be able to paste a picture in the work area and it should be automatically converted to a circuit

[2020-11-16 14:48] fazil47 commented on #1919
+1

[2020-11-16 16:38] jknechtel commented on #1892
Hi, I'm also using CircuitVerse for the 1st time for teaching this semester, and I've noticed the same issues. (Otherwise, excellent efforts and I really like the software overall!)

However, as such restrictions would depend on the work mode for assignments, I'm suggesting that you have this as option when setting up the assignment, like there's already the option to restrict gates/elements the s

[2020-11-16 16:39] jknechtel commented on #1892
As for collaborators, this shouldn't be just binary (enable/disable), but I'd appreciate further options: collaboration only with mentor, or collaboration only among pre-defined subsets of group members.

[2020-11-16 16:45] jknechtel commented on #1892
As of now, combinational analysis doesn't work in assignment mode, but it doesn't give any user feedback. So, assuming you have disabled the analysis on purpose, there should be user feedback about that, or maybe better, when disabled it should just be removed from the tools menu.

[2020-11-16 16:46] jknechtel commented on #1892
As I wanted my students to use this feature, I actually advised them to use it in another, regular project, and then copy-paste into the assignment. So, for the feature of restrictions, you should also check for any restricted parts/gates/structures during copy-paste. Or, maybe simpler, disable copy-paste altogether for assignment mode (but here as well, better to allow the mentor to configure thi

[2020-11-16 16:47] jknechtel commented on #1892
I hope this feedback helps -- thanks again for the great efforts on the software!

[2020-11-16 19:51] satu0king commented on #1915
There is no exact position actually because the property menu and other things can be moved

[2020-11-16 19:52] satu0king commented on #1911
@dipanshparmar , @Just-A-Pixel , check new_UI branch, @abstrekt has fixed it. However, you can try and make it Better.

[2020-11-16 19:52] #1911 closed

[2020-11-16 19:52] #1898 closed

[2020-11-17 06:30] dipanshparmar commented on #1911
@satu0king yeah! Sure 🙂

[2020-11-17 06:51] DevanshD3 commented on #1900
Are you working on this issue ?

[2020-11-17 09:59] richardpawson opened #1923 "Allow circuit tabs to be re-ordered"
At present (unless I have missed something), the order in which circuit tabs are displayed within a project is determined only by the order in which they were created. This can be inconvenient - I often want to create a new sub-circuit that's related to an existing one and would like to have the tabs next to each other.

As in most IDEs, I'd like just to be able to drag a tab and drop it on top of

[2020-11-17 13:14] satu0king opened #1922 "Group Invite by Link"
It is difficult to invite users in large groups in some cases as teachers don't have list of email ids.

**Describe the solution you'd like**
We can have group invite link similar to the one used in whatsapp.

Url can be of the form `groups/id/invite/<secret token>`

I think there is a rails API to create tokens easily, something along the lines `has_secure_token :auth_token` @tachyons any inputs

[2020-11-17 13:38] pratyush6717 commented on #1900
No,I am not working in it.

[2020-11-17 13:41] satu0king commented on #1923
Duplicate of #443 #1268

[2020-11-17 13:43] satu0king commented on #1923
@gr455, @shubhankarsharma00  this would be an interesting task for you.

[2020-11-17 14:21] satu0king commented on #1923
A possible solution to consider
* Circuit ordering needs to be part of saved data
* Circuits are ordered according to saved data ordering on load
* Ordering is maintained in UI when editing, ordering

[2020-11-17 15:32] dipanshparmar commented on #1806
.

[2020-11-17 15:38] pavanjoshi914 commented on #1922
@satu0king i would like to work on this..

[2020-11-17 15:53] DevanshD3 opened #1924 "Not being copied to clipboard"
**Describe the bug**
While we try to Embed the iframe links on the main website , when we click on "Embed" we see the <iframe> code and below that it says "copied to clipboard" but it hasn't been copied to clipboard. This is a problem in all the 3 ie Featured Examples , Editor picks and Recent Circuits.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://circuitverse.org/
2. Scroll

[2020-11-18 05:41] aldrinjenson opened #1927 "Difficulty in clicking help link in Navbar"
**Describe the bug**
- No hand-pointer  in the Navbar for the help link (only present when the mouse is hovered only to the extreme left)
- In order to access the help link from the simulator, unlike other links in the nav, most part of the help link seems to be disabled

**To Reproduce**
Steps to reproduce the behavior:
1. Open the simulator
2. Try to open help section by clicking on the help lin

[2020-11-18 11:02] satu0king commented on #1412
@Mazurel , sorry for lack of activity, We have incorporated some of your suggestions in #1929

[2020-11-18 12:48] #1806 closed

[2020-11-18 12:48] satu0king commented on #1922
Go ahead

[2020-11-18 12:50] satu0king commented on #1922
Yeah agreed, @pavanjoshi914 keep this in mind? This actually might make things easier. We can set an automatic invitation link expiry of 2 weeks.

[2020-11-18 12:51] satu0king commented on #1924
@DevanshD3 also mention on what platforms it is working and on what it is not

[2020-11-18 12:52] satu0king commented on #1915
Call autofocus in the end, that should work. @pavanjoshi914

[2020-11-18 12:53] satu0king commented on #1892
Haha, we are aiming to provide basic LMS features. Having grouped collaboration would be out of our current scope. But nevertheless, ideas for future.

[2020-11-18 12:54] satu0king commented on #1869
@tachyons is this fixed?

[2020-11-18 17:10] SingingApple commented on #1927
@aldrinjenson Can I work on this issue?

[2020-11-19 06:39] tachyons commented on #1869
Partially fixed, some issues are remaining

[2020-11-19 06:59] Shivansh2407 opened #1933 "New Circuit Dialog : Not working Properly"
**Describe the bug**
Whenever the user clicks on New Circuit, A dialog box appears asking for the name of the circuit, but if we click on cancel it generates an Untitled-Circuit.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'beta.circuitverse.org'
2. Click on 'Simulator'
3. Click On 'New Circuit' -> Click Cancel
4. See error

**Expected behavior**
It should not generate the Circuit,

[2020-11-19 11:01] Preeti2095 commented on #1933
i want to work on this issue.

[2020-11-19 12:44] shivamkushwah0 commented on #1927
works pretty fine with my system.......no such problem i m facing

[2020-11-19 13:26] shivamkushwah0 opened #1934 "positioning of the "Untitled" text in Simulator"
**Describe the bug**
the positioning of "Untitled" text after opening of the simulator is not justified in some screen size

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org/'
2. Click on 'Simulator'
3. Reduce the screen size to less than 991px
4. See the Blue colored "Untitled" after toggling on the navbar, the text is hidden from the left side to some extent

[2020-11-19 13:27] shivamkushwah0 commented on #1934
I would like to work on this issue, please assign it to me

[2020-11-19 14:06] pavanjoshi914 commented on #1915
got it!! I was unaware of that option

[2020-11-19 14:06] #1915 closed

[2020-11-19 16:28] SingingApple commented on #1927
@shivamkushwah0 another div is overlapping ***help*** in navbar which creates a difficulty in clicking on it.

[2020-11-19 17:00] aldrinjenson commented on #1927
@SingingApple , I am not currently working on this. If you have found the fix, then ig you can make a pr

[2020-11-19 17:06] aldrinjenson commented on #1927
@shivamkushwah0 ,  here is a gif showing the difficulty. Apparently, the help nav link becomes active only when the cursor is hovered to the far left.
![problem](https://user-images.githubusercontent.com/53407417/99699105-98733180-2ab7-11eb-9cf8-45f7412925e2.gif)

[2020-11-19 17:37] harshitaaaaaa commented on #1934
Yes, I want to work on this issue.

[2020-11-19 17:52] harshitaaaaaa commented on #1933
This error is not occuring in my browser.

[2020-11-19 17:55] harshitaaaaaa commented on #1927
@aldrinjenson It's working pretty fine on my system as well.

[2020-11-19 18:05] harshitaaaaaa commented on #1924
![Screenshot from 2020-11-19 23-33-46](https://user-images.githubusercontent.com/66556662/99705528-d96f4400-2abf-11eb-866e-18eaa684f9d4.png)

In mozilla, there is no Embed feature whereas in Chrome it is there.

[2020-11-19 18:09] harshitaaaaaa commented on #1924
@DevanshD3 @satu0king Actually the error is just that after clicking on Embed we have to manually copy the code by selecting it but the message shows copied to clipboard. I think we should either code it in a way that it directly copies the link or it should not show the copied to clipboard message, instead it should say,'select and copy'.

[2020-11-19 18:10] shivamkushwah0 commented on #1927
![16058093634113671940698184909701](https://user-images.githubusercontent.com/66745614/99706016-7f22b300-2ac0-11eb-9735-e2e5ed33d8f7.jpg)

See......this isn't the same as urs!! I'm using windows and chrome browser

[2020-11-19 18:19] harshitaaaaaa commented on #1900
Can I work on this?

[2020-11-19 23:24] Shivansh2407 commented on #1933
Did you use beta.circuitverse.org? Please specify your Device Info

[2020-11-19 23:24] Shivansh2407 commented on #1933
Go ahead @Preeti2095 👍

[2020-11-20 07:48] shivamkushwah0 commented on #1934
https://github.com/CircuitVerse/CircuitVerse/pull/1935#issue-524508858

[2020-11-20 09:05] Preeti2095 commented on #1933
when we open the simulator it gives us a default circuit page. it is designed like that. and when we try to delete that last tab it says there must me 2 tabs to delete it. that means we can't have a page with no tab. so, when you did the things which you have written for recreating the behavior for error, it does nothing and the default untitled page remains. so i wanted to ask can we remove that

[2020-11-20 09:54] satu0king commented on #1909
The issue presented is not a big deal. But there is something better you can work on. Instead of getting the details from the server, why don't you do it in client side only.

Something like this: This will give confidence to the user that it is working.

![image](https://user-images.githubusercontent.com/2092958/99786378-6cea5880-2b44-11eb-9312-82f4aa1229f0.png)

[2020-11-20 09:57] satu0king commented on #1909
Or even better something liek this

https://codepen.io/gehadz/pen/PrMNba

[2020-11-20 10:04] satu0king commented on #1909
@Shivansh2407 any inputs here?

[2020-11-20 10:19] #1749 closed

[2020-11-20 10:39] Shivansh2407 commented on #1909
I was thinking like when there is no text present in the Text box, till that time we can disable the button to Add Collaborators. Next, On adding an email ID, for sure we should go with tagging the inputs. Then As we get one or more tag, we can enable the Button and add the Collaborator, this way it solves the empty field issue and also will improve the user experience. Please let me know your vie

[2020-11-20 10:45] Shivansh2407 commented on #1934
@shivamkushwah0 Please have a look at the new Simulator at https://beta.circuitverse.org/simulator

[2020-11-20 10:48] Shivansh2407 commented on #1933
So the thing is, We need to have atleast One Circuit to continue our work. We cannot remove the circuit if we have only one circuit left. The issue here is that when we click on new circuit, and click on cancel in the dialog box, it adds a new circuit named Untitled Circuit, which is unnecessary and needs to be fixed.

[2020-11-20 11:07] satu0king commented on #1909
Yes just disabling the button is a great idea. Yes https://bootstrap-tagsinput.github.io/bootstrap-tagsinput/examples/ is a good alternative as well.

[2020-11-20 11:09] satu0king commented on #1909
Note most of these options do not seem to allow the emails to be separated by "space" or "new line" or "tab", this is important because our users might just copy/paste from excel or other sources and the emails may not be separated by comma.

[2020-11-20 11:12] satu0king commented on #1927
Please check if this issue is there in https://beta.circuitverse.org/simulator, otherwise close this issue.

[2020-11-20 11:14] satu0king commented on #1924
@harshitaaaaaa no we actually copy to clipboard also but it is not working for some browsers - https://github.com/CircuitVerse/CircuitVerse/blob/master/app/views/projects/show.html.erb#L205-L224

[2020-11-20 11:19] satu0king commented on #1915
No, I mean we should call autofocus in the code to fix this issue. `globalScope.centerFocus();` I added that now.

[2020-11-20 11:29] satu0king commented on #1919
Haha, this would be a very ambitious feature.

[2020-11-20 11:35] satu0king commented on #2
@all this is an old Issue created 2 years back. I don't know if these are relevant anymore. Check if they are relevant and create a new issue to work on them.

[2020-11-20 11:38] pavanjoshi914 commented on #1915
ohh i thought you were talking about right click and center focus to centralize thinks...

[2020-11-20 11:46] satu0king commented on #1874
@dipanshparmar reference issues

[2020-11-20 11:46] #1874 closed

[2020-11-20 11:47] #1831 closed

[2020-11-20 11:48] satu0king commented on #1915
Yes that calls the above function

[2020-11-20 11:49] abhinav-TB commented on #1919
@satu0king it may be ambitious, but it will make circuit verse standout form the existing platforms

[2020-11-20 11:51] #1934 closed

[2020-11-20 11:52] satu0king commented on #1933
@Shivansh2407 I think this is good if it renames as untitled. User can delete anyway ..

[2020-11-20 11:54] satu0king commented on #1823
Fixed

[2020-11-20 11:54] #1823 closed

[2020-11-20 11:55] satu0king commented on #1760
@tachyons what is this bug?

[2020-11-20 11:55] dipanshparmar commented on #1874
@satu0king I actually did so, but somehow the issue was not showing up there.

[2020-11-20 11:58] satu0king commented on #1738
This might be a tricky bug

[2020-11-20 11:58] satu0king commented on #1731
Fixed

[2020-11-20 11:58] #1731 closed

[2020-11-20 11:59] satu0king commented on #1716
Fixed

[2020-11-20 11:59] #1716 closed

[2020-11-20 12:00] satu0king commented on #1711
@abstrekt can you send a fix for this. Thanks!

[2020-11-20 12:01] #1707 closed

[2020-11-20 12:01] #1661 closed

[2020-11-20 12:02] satu0king commented on #1586
Fixed in new UI

[2020-11-20 12:02] #1586 closed

[2020-11-20 12:09] satu0king opened #1938 "Improve Embed Feature."
Currently the embed feature is basic, it just embeds under some default settings. Would like something as follows:

1. Click Embed
2. Dialog Opens
3. Dialog has following options

- iFrame Size
- Color Theme
- Optional Project Title Display
- Landing Circuit Tab (Circuit that is displayed be default)
- Some Styling options like border etc
- Optionally Disable stuff like Clock Enable/Clock Time Int

[2020-11-20 12:18] satu0king commented on #1372
Fixed in new UI

[2020-11-20 12:18] #1372 closed

[2020-11-20 12:18] satu0king commented on #1401
@Shivansh2407 is this issue fixed?

[2020-11-20 12:19] satu0king commented on #1449
Fixed in new UI

[2020-11-20 12:19] #1449 closed

[2020-11-20 12:19] satu0king commented on #1502
Yes this feature needs to be docoumented,  will be doing this

[2020-11-20 12:20] #1502 closed

[2020-11-20 12:20] satu0king commented on #1498
Haha

[2020-11-20 12:22] satu0king commented on #1493
@mahmodHammad can you help debug this issue? I believe one of your previous PRs introduced this.

[2020-11-20 12:26] satu0king commented on #1466
@Shivansh2407, `0b` was actually on purpose but we can discuss removing it. I was following convention used in C language. Since it is a convention, I feel it should stay as it is.

[code]

[2020-11-20 12:26] satu0king commented on #1467
@Shivansh2407 is this issue present in new UI?

[2020-11-20 12:27] satu0king commented on #1460
Its kinda hard to implement stuff like this

[2020-11-20 12:28] satu0king commented on #1446
@shubhankarsharma00  closing this issue xD

[2020-11-20 12:28] #1446 closed

[2020-11-20 12:29] #1412 closed

[2020-11-20 12:29] #252 closed

[2020-11-20 12:29] Preeti2095 commented on #1933
For this I want to make clear that if I am understanding wrong or you are saying something else(Don't get offended):-
1) you launched the simulator
2) it will give you a circuit page with name untitled
3) so when you create new circuit but you canceled it
4) so now it shows you the circuit page named "untitled" which was already present when you first launched the simulator
5) it doesn't create an

[2020-11-20 12:29] #1394 closed

[2020-11-20 12:30] satu0king commented on #1402
@Shivansh2407 go ahead! Sorry for the super late response

[2020-11-20 12:30] satu0king commented on #1381
Closing this issue as we are removed the bot

[2020-11-20 12:30] #1381 closed

[2020-11-20 12:31] satu0king commented on #1358
An alternative is instead of redirecting to project edit page, it can redirect to the simulator page itself. There will still be a reload but it will be less annoying ...

[2020-11-20 12:32] satu0king commented on #1315
Sounds good.

[2020-11-20 12:33] #1249 closed

[2020-11-20 12:33] #1247 closed

[2020-11-20 12:34] satu0king commented on #1240
Fixed in new UI

[2020-11-20 12:34] #1240 closed

[2020-11-20 12:34] satu0king commented on #1224
Fixed in new UI

[2020-11-20 12:34] #1224 closed

[2020-11-20 12:38] #485 closed

[2020-11-20 12:40] shivamkushwah0 commented on #1934
@Shivansh2407 is the new simulator in new_UI branch of the codebase......i was looking at the old simulator.....where is the codebase for the new simulator??

[2020-11-20 12:42] satu0king commented on #1003
@abstrekt is the issue still there?

[2020-11-20 12:48] satu0king commented on #1934
check new_UI branch public/src folder

[2020-11-20 14:14] SingingApple commented on #1927
@satu0king @aldrinjenson it is working fine in the above link. Kindly, close this issue.

[2020-11-20 14:52] aldrinjenson commented on #1927
@satu0king , it is working fine in https://beta.circuitverse.org/simulator

But the issue still persists in Firefox for https://circuitverse.org/simulator
However, it does not seem to be there for Chrome browser

[2020-11-20 15:49] #1709 closed

[2020-11-21 01:48] Preeti2095 commented on #1933
Now I am not handling this issue.

[2020-11-21 07:26] Shivansh2407 commented on #1709
@satu0king, Is the the fix for this issue deployed on Beta Site? Because I am able to reproduce the bug currently in the Beta Site. Please check and Update.

[2020-11-21 07:38] Shivansh2407 commented on #1467
The upper limit restriction now work perfectly @satu0king . But now we can enter alphabets too along with the numbers, and on pressing enter, it clears aways the content in the field. So I guess, we now only need to restrict alphabets to the field. rest all works fine. Please let me know your views 👍

[2020-11-21 07:59] Shivansh2407 opened #1944 "Tutorial Guide for Verilog Module"
**Is your feature request related to a problem? Please describe.**
When I open a New Verilog Module, on clicking the Tutorial Guide, it does not works. Being a new feature, and for everyone to understand about this, We can introduce a separate Tutorial Guide for the Verilog Module that explains each and thing present in the Verilog Module.

**Describe the solution you'd like**
We can introduce a s

[2020-11-21 08:00] Shivansh2407 commented on #1944
@satu0king @sal2701 @abstrekt @nitin10s Please let me know your views on this.

[2020-11-21 09:09] satu0king commented on #1467
This is because of the plugin we are using. @abstrekt might know more.

[2020-11-21 09:09] satu0king commented on #1944
yes we can do this. But why stop at this? we can have tutorial guide for edit layout mode as well. Also maybe tutorial guides for certain features like the timing diagram feature.

[2020-11-21 09:35] Shivansh2407 commented on #1944
Oh so Here I was talking to implement a simulator guide as we already have one, for the verilog module, to know and understand better about the Verilog Feature in the Simulator. Because on clicking the Tutorial guide button in drop-down, in the normal circuit starts the guide but the same does not works in the Verilog module, so wanted that feature.
As far as Tutorials are concerned, so yes we nee

[2020-11-21 09:42] satu0king commented on #1944
Videos are there, this is extra @Shivansh2407. But mainly the current tutorial guide is enough, lets see how this goes before we try and confuse our users with multiple guides :P

[2020-11-21 09:52] shivamkushwah0 opened #1945 "Bugs"
**Describe the bug**
1.) The "TIMING DIAGRAM" is overlapping to one more template in the screen sizes 1143px or less
2.) The toggling on of the navigation bar at screen sizes less than 991px, the contents of the navigation bar are hidden

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://beta.circuitverse.org/'
2. Click on 'simulator'
3. Reduce the screen size using chrome dev to

[2020-11-21 14:21] AkashChetia opened #1946 "Improving password input fields"
**Is your feature request related to a problem? Please describe.**
Currently password input field in Signup and Log-in form, only supports for the toggling option to look for the input. It would be better if we put capslock alert functionality, to alert for 'capsLock ON ' while inputting the password without having to toggle and look for whether the caps is on or not.

**Additional context**
Curre

[2020-11-21 15:42] Shivansh2407 opened #1949 "Email not Rendering Properly"
**Describe the bug**
In the Recent Email sent out by Circuitverse Team, **The Logo of Circuitverse**, **Join Us ( Slack, Facebook, Twitter etc. ) buttons** were not Visible on Gmail. This might be an issue on some other email clients too.

**Expected behavior**
They should be visible to each and every user on any Email Client.

**Screenshots**
Original Mail:

![IMG-20201121-WA0022](https://user-im

[2020-11-21 15:43] Shivansh2407 commented on #1949
@satu0king @nitin10s @tachyons Please have a look

[2020-11-21 19:25] jaggu21 opened #1952 "Unusual working of Tutorial Guide"
**Describe the bug**
Tutorial guide sometimes vanishes the Navbar . This can create issues for the user to save his/her current progress.

Navbar vanishes in 3 cases:
1. When **Properties panel** is placed to extreme left.
2. When **Quick Access Panel**  is placed at the bottom.
3. When **Timing Diagram Panel** is placed at the bottom.

In some cases it creates an additional white space which neve

[2020-11-23 03:56] dipanshparmar commented on #1909
@satu0king and @Shivansh2407, so the final concept is that:-
1. Emails input should be in the format of the tags.
2. Button should be enabled only when there are one or more email tags present.
3. Input box should have the ability to differentiate the emails when 'space', 'new line', or 'tab' is encountered.

Please let me know if this is what you guys wanted.

**Note:** There can be a delay for t

[2020-11-23 05:22] #1733 closed

[2020-11-23 11:47] Shivansh2407 commented on #1952
There is another Unusual Behaviour, When we click on the Empty Circuit Canvas and Press Delete, The Property Panel gets removed. Then On Opening the Tutorial Guide, It shows black faded screen after one step (Because it cannot generate the removed property panel). @abstrekt @satu0king Please Check this.

[2020-11-23 12:18] ShubhankarKG commented on #1949
CircuitVerse's logo is in SVG I suppose. Maybe that's the underlying problem?

[2020-11-23 12:19] Shivansh2407 commented on #1949
Yes @ShubhankarKG

[2020-11-23 12:20] ShubhankarKG commented on #1949
See also : #964 #845

[2020-11-24 04:27] satu0king opened #1964 "Theme Creator"
Create a theme creator window where I can select the colors for different theme elements. It should reflect changes realtime. This is a mostly a UI task of creating a window for the same. Allow the theme to be downloaded/loaded as a JSON.

**Are you working on this? (Yes/No)**
No

@abstrekt any inputs here?

[2020-11-24 04:29] satu0king commented on #1949
Oh damn, it was reported before :(

[2020-11-24 06:03] shubhankarsharma00 opened #1966 "A view option in menu bar."
**Is your feature request related to a problem? Please describe.**
Right now all the options are on the canvas and it might feel a bit cluttered to some users.

**Describe the solution you'd like**
View option in the menubar next to tools with 3 check list options to view the Circuit elements, Timing Diagram help and properties dialog box.

**Are you working on this? (Yes/No)**
No.

[2020-11-24 11:15] satu0king commented on #1966
The preview circuit feature is there. Do check that once.

[2020-11-25 06:49] satu0king commented on #1945
Please label issue appropriately

[2020-11-25 07:04] shubhankarsharma00 commented on #1966
Timing diagram still appears in preview mode.

[2020-11-25 07:40] #1706 closed

[2020-11-26 06:29] khanjasir90 commented on #1949
@satu0king  can i work on this

[2020-11-27 08:26] kshitij86 commented on #1966
@satu0king I would like to work on this feature request and start contributing to `CircuitVerse` !
Can I please get assigned?

[2020-11-27 10:50] iemprashant commented on #1900
I would like to work on this.

[2020-11-27 10:58] iemprashant commented on #1863
PR is not merged for this issue, May i take it forward?

[2020-11-27 12:57] abstrekt opened #1979 "Listing some UI plugins used in simulator"
* Plugins are inside `public/js/plugins`
1. `bootstrap-input-spinner.js` is being applied to

![image](https://user-images.githubusercontent.com/42478217/100451499-87d94180-30dd-11eb-89c3-be6e1b522583.png)

2. `jquery.twbs-toggle-buttons.min.js` is being applied to

![image](https://user-images.githubusercontent.com/42478217/100451591-ae977800-30dd-11eb-9ca4-05f0188ee6ae.png)

3. `checkBo.min.js`

[2020-11-27 17:24] #1311 closed

[2020-11-27 17:51] #1769 closed

[2020-11-28 13:56] #1946 closed

[2020-11-28 14:53] dipanshparmar commented on #1766
Working on it @satu0king

[2020-11-28 15:54] aayush-05 commented on #1003
@satu0king it's fixed now. Since we have decreased the modal size, so now whole of it is visible in one go and bootstrap doesn't add an addiional scroll bar when the modal is shown (disabling any scroll).
![image](https://user-images.githubusercontent.com/47032027/100519792-1aeaa800-31c0-11eb-821d-e2e2bda9df31.png)

[2020-11-28 16:07] aayush-05 commented on #1767
Not exactly, it clarifies the user that the time shown is in his local timezone. Minifying something like GMT+0530 (Indian Standard Time) to IST would do along with decreasing that column span

[2020-11-29 07:22] shagun25 commented on #1766
Is this issue still open, I would like to work on it.

[2020-11-29 11:07] saumyasrivastava08 commented on #1964
can i work?

[2020-11-29 11:42] Shivansh2407 opened #1985 "Elements Can Be Moved in Embedded Circuits"
**Describe the bug**
Elements in the Embedded circuits are meant for display, and should not move upon dragging the elements. But Pressing any key on the Keyboard and then dragging the Element inside the embedded circuit is Possible, which should be disabled too.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Any Embedded Circuit'
2. Press any Key ( Ex: Ctrl, Shift, A, C etc. ) and d

[2020-11-29 11:42] Shivansh2407 commented on #1985
@satu0king @tachyons Please have a look at this

[2020-11-29 11:53] satu0king commented on #1985
@shubhankarsharma00  @gr455

[2020-11-29 11:53] satu0king commented on #1964
Yes @abstrekt any inputs here?

[2020-11-29 12:41] abstrekt commented on #1964
Yes, this is can be done & would be great allowing users to customize their simulator UI as per their taste, most useful for colorblindness, currently, when a theme is changed the function `updateThemeForStyle` is called to preview it in real-time, but it does so for all the elements, meaning it updates all the varibales. If in this feature we want each component to update in real-time for every p

[2020-11-29 14:42] satu0king commented on #1964
JSoN Editor is an easy way out. I was thinking of having a nice UI where u can color pick colors.

[2020-11-29 14:44] satu0king commented on #1964
@saumyashrm2802 create something basic now. Themes is going to be a long task.

[2020-11-29 14:47] satu0king commented on #1909
Did u do this in the PR? the PR seems to disable the button?

[2020-11-29 15:01] dipanshparmar commented on #1909
yeah @satu0king I am working on this but I also feel like that I should close this PR and create a new one as there are no major changes done on that PR yet and I also want to do a fresh start. So I'm closing this PR now and will make a new one ASAP with the mentioned features. Sorry for the delay.

[2020-11-29 18:59] satu0king commented on #1923
Implemented

[2020-11-29 18:59] #1923 closed

[2020-11-29 20:39] satu0king opened #1987 "Wire States"
Currently,
If there is a circuit error, the simulator just gives up immediately and shows red color for unresolved wires. This is fine because if there is an issue in the circuit, we cannot resolve it.

However, in 2 other cases - High Impedance (Z) and Indeterminate case (X), the wires show red color. This is because the current simulator doesn't distinguish between the 2.

Ideally the 2 would be

[2020-11-29 21:27] richardpawson commented on #1987
I would definitely like to see differentiation between high-impedance ('Z') state and an error state. I think that Logisim showed high-impedance state as a blue wire, although CV uses blue as a highlight colour for the wire, so they would have to be different.

Also, for an error state, I perceive four causes, (though this might not be a complete or correct analysis):

- Mismatch of number of wire

[2020-11-30 07:17] satu0king commented on #1949
Yes please. Would like a PR fast. Thanks!

[2020-11-30 07:21] satu0king commented on #1868
@Flarp this is a rare bug but we are trying to reproduce this. Are you able to reproduce this issue? If so please respond with detailed steps as we would like to fix this ASAP.

[2020-11-30 10:51] abhinav-TB commented on #1924
I can't copy the circuit into my clipboard as text now, can anyone help

[2020-11-30 11:33] khanjasir90 commented on #1949
made a pull request , pls verify fast!!!

On Mon, Nov 30, 2020 at 12:47 PM Satvik Ramaprasad <notifications@github.com>
wrote:

[2020-11-30 17:04] richardpawson opened #1990 "Ability to 'load' an EPROM from a CSV file"
I designed my own, simple, 'EPROM burner' in CircuitVerse - it just advances the address counter (or you can set it) and you enter the data value and click next. Works nicely but very tedious for anything but a tiny data set.

I'd like to be able to generate the data set just a sequential set of values, in CSV format, say, then be able to load (preferably via a File dialog, but will accept a cut-a

[2020-11-30 17:17] richardpawson opened #1991 "Make 'bus' wires more distinct from single wires, and multi-bit components distinct from single-bit"
Currently bus wires are distinguished from single wires by colour (black instead of light/dark green). This is fine once you are used to it, but to newcomers (especially in a teaching context, which is my interest).

I think it would be clearer if bus wires were kept black, but made twice the thickness of single wires (irrespective of how many bits they carry). I note that Logisim did this.

Relat

[2020-11-30 17:23] satu0king commented on #1991
Good inputs. The multi wire thing can be done immediately. Though we need to see how it will look aesthetically. Double the width seems like a lot, Maybe 30-50% thicker will do the trick.

Showing the number of bits is actually a good idea. It will help in debugging as well.

[2020-11-30 17:32] satu0king commented on #1990
@shubhankarsharma00 check #1457 and #1014

[2020-11-30 17:38] satu0king commented on #1990
I think we need to consider multiple formats.
1. Entire Data String like "0 0x12 0x2f 0". We have to assume its binary its decimal if no 0x. Assume its octal if starting with a zero. Data can be separated by space, tab, comma, newline.
2. JSON format like { "addr1": "value1", "addr2":value2" }
3. CSV format with 2 columns - Address | Value.

The first option is most straightforward but if entire m

[2020-11-30 18:08] richardpawson opened #1992 "A simple diode component"
I would like there to be a simple Diode component. This has one input and one output. With this truth table:

Input   Output
  0             Z (high impedance state)
  1             1

The current Tir-state component (very useful) is really like a Zener Diode (a diode switched by a third input)., I'm seeking a plain Diode.

The plain Diode is extremely important in order to be able to create a [di

[2020-11-30 18:18] richardpawson opened #1993 "Ability to change the clock speed, start, pause, and single step"
I'd like to see much greater control over the clock component (or add an alternative, more sophisticated clock component).

My ideal would be a larger clock component that had, always visible (not a pop-up window) the standard control symbols that you find on most audio-visual player devices:

Play (right-pointing triangle) = Start the clock running
Pause (two vertical bards) = Pause the clock
Sin

[2020-11-30 18:23] richardpawson commented on #1991
'Maybe 30-50% thicker will do the trick.'

Yes, could be. Maybe try it & post an example of a complex circuit for feedback.

[2020-11-30 18:25] richardpawson commented on #1993
I wouldn't over-complicate it. In Excel you can easily do the conversion between binary, hex, decimal. (Even for oldies like me, I doubt Octal has much use), and then output as a CSV. I'm also not sure that it is necessary to specify the address and the value. I think I would prefer just a sequence of data values and assume it starts from address zero.

 I don't really care whether hex, decimal, o

[2020-11-30 18:25] richardpawson commented on #1990
I wouldn't over-complicate it. In Excel you can easily do the conversion between binary, hex, decimal. (Even for oldies like me, I doubt Octal has much use), and then output as a CSV.

 I'm also not sure that it is necessary to specify the address and the value. I think I would prefer just a sequence of data values and assume it starts from address zero.  I don't really care whether hex, decimal,

[2020-11-30 19:00] satu0king commented on #1993
Interesting, you want the clock element to have all this within itself am I correct? Like a bigger box with all these buttons.

[2020-11-30 19:05] #1990 closed

[2020-11-30 20:00] richardpawson commented on #1993
That would be my suggestion. But if you felt it would work better as a pop-up 'properties' box, that would be OK, too.

[2020-11-30 20:02] satu0king commented on #1993
I think what you suggested is better than a pop up box. It is easier to implement as well.

[2020-12-01 00:00] Flarp commented on #1868
I am unable to reproduce this issue but I still have the project that resulted in the error (and it still results in an error, even with the new UI). If you would like a link, I can provide it.

[2020-12-01 04:52] shivamkushwah0 commented on #1945
i am not working on this issue anymore, reason being my laptop is at service center since last week and might take more time to come......sorry for notifying late. anyone who want to take this issue please go ahead

[2020-12-01 05:21] satu0king commented on #1868
Please provide the link. Unfortunately we need to be able to reproduce it to fix it :(

[2020-12-01 05:54] satu0king commented on #1868
@Flarp can you reproduce this in old UI? https://circuitverse.org/simulator_old

[2020-12-02 08:24] dipanshparmar commented on #1909
@satu0king, @aayush-05, @Shivansh2407
Updates:
1. This is how the tags input will look like:
![image](https://user-images.githubusercontent.com/49204837/100847119-64c7dc80-34a5-11eb-906a-57225f291ef6.png)

**Now I'm trying to figure out how to do the 3rd step when pasting**

[2020-12-03 06:41] humble-barnacle001 opened #1998 "Export to svg not working"
**Describe the bug**
Downloading the circuit as svg is not working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to simulator
2. Click on download as an image
3. Click on svg option
4. Nothing happens and the circuit is shifted towards bottom right

**Expected behavior**
The circuit should be downloaded as svg file

**Screenshots**
Output on console
![image](https://user-images.githubus

[2020-12-03 06:44] humble-barnacle001 opened #1999 "Ability to change the color of connecting wire in properties panel"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Changing the color of the connecting wire

**Describe alternatives you've considered**
None

**Additional context**
If the color of the connecting wire can be changed in the properties panel, it would be so helpful in making a neater project than now

**Are you working on this? (Yes/No)**
No

[2020-12-03 07:23] humble-barnacle001 opened #2000 "Incorrect project name while saving the project for offline"
**Describe the bug**
Incorrect project name while saving the project for offline.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Simulator
2. Click on save for offline
3. See error

**Expected behavior**
It should show the project name instead of `[object HTMLSpanElement]`

**Screenshots**
![image](https://user-images.githubusercontent.com/58736240/100976826-14fd1a00-3566-11eb-9963-f4

[2020-12-03 10:14] Shivansh2407 opened #2001 "Dashboard : Blank Space when the User Has all private circuits"
**Describe the bug**
When the user has no circuits, there is an indication shown by image that the user does not have any circuits. But if the user creates a new Circuit and Keeps the Project Acces type to be private, Then in that case ( if the user has all the circuits as private ) there is no image shown and the space remains blank.

**To Reproduce**
Steps to reproduce the behavior:
1. See this

[2020-12-03 10:15] Shivansh2407 commented on #2001
@satu0king @nitin10s Please have a look at this

[2020-12-03 11:31] tachyons opened #2004 "Enhance about page"
Enhance about page with following details

Mentors
Core team members
Alumni
Contributers (as it is)

For inspiration

https://www.rust-lang.org/governance/teams/core
https://rubyonrails.org/community/

[2020-12-03 12:03] AkashChetia commented on #2004
@tachyons i would like to work on it.

[2020-12-03 13:02] satu0king commented on #2004
@AkashChetia Please go ahead! Check how we hardcore featured page section in the codebase. Please make a similar hardcoding comprising of name, image and link. Create the PR with placeholder names and images. We can later populate the details once the PR is ready :D

Assume that mentors have 4-5 people.
Core team has 8-10 people.
Alumni has 4-5 people.

Hardcoded Featured Examples Page: https://ci

[2020-12-03 13:34] sarthakm21 commented on #2001
I want to work on this. The image of the circuit is intended to be displayed for the private circuits as well right? Instead of showing blank space.

[2020-12-03 16:06] ShreyaPrasad1209 opened #2005 "Create "Humans of CircuitVerse" markdown page"
**Is your feature request related to a problem? Please describe.**
 This feature will show significant contributions of individual members in CircuitVerse so as to appreciate the efforts made by them and motivate others to contribute to open source.

**Describe the solution you'd like**
They can be displayed in following manner:

-    Contribution - Person

This allows people to be grouped into a

[2020-12-03 18:21] joshibhaumik commented on #2004
@tachyons I would like to work on it. Can you grant me permission to work on this issue?

[2020-12-04 04:40] Bbiswabasu commented on #1999
Can I work on this issue?

[2020-12-04 06:45] AkashChetia commented on #2004
@joshibhaumik  Hi! I am working on it....will shortly generate a PR for it. 🙂

[2020-12-04 14:24] harshitaaaaaa commented on #2005
Can you assign this issue to me?

[2020-12-04 15:44] iCoder-007 opened #2007 "Option to share the circuit designed by the respective user"
When anyone save the circuit he/she must have an option to share the circuit with read permission only.

I would like to work on the above mentioned project .

[2020-12-04 19:36] sanchit36 commented on #1927
@aldrinjenson It is working on my system ( windows 10 and ubuntu 20.04 on firefox).

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/66944705/101207010-fb5af000-3695-11eb-9f82-bc6e4887f6a6.gif)

[2020-12-05 03:42] #1927 closed

[2020-12-05 06:14] ShreyaPrasad1209 commented on #2005
Sure! @satu0king can you assign this issue to her? Seems like I don't have the required permissions.

[2020-12-05 08:18] mayank-kabra2001 commented on #1992
Sir , in this if we design a diode , it is similar to buffer with no enable pin . As high impedance means we should not drive the signal in Analog but in digital it will simply means zero right ???

[2020-12-05 09:24] richardpawson commented on #1992
My (new) [Diode and Diode Matrix](https://circuitverse.org/users/56463/projects/diode-and-diode-matrix) CV project makes this clearer. It contains a simulation of a diode - built from a Tri-state where the input is also connected to the Enable pin - and an example of how multiple diodes are connected together in a diode matrix.

My simulated diode does the job. The advantage of making it a native

[2020-12-06 00:38] ineffable23 commented on #1766
@satu0king Do let me know if this issue is still open. I'm highly interested to work on this issue.

[2020-12-06 04:30] dipanshparmar commented on #1998
@satu0king any inputs here? I can't reproduce this behavior in localhost.

[2020-12-06 13:50] tachyons commented on #1880
We are already providing an api now, but that is not enough

[2020-12-07 08:09] Shivansh2407 commented on #2005
@harshitaaaaaa you can start working on the issue, You just need to Comment "Working on it" or something Similar to make it clear to the Admins/Maintainers/Other Contributors that you've taken up this issue. Looking forward to your PR 🚀

[2020-12-07 20:19] Kartik1397 commented on #1880
@satu0king Can I contribute to this issue?

[2020-12-08 12:01] Kartik1397 opened #2018 "Rotate circuit element with keyboard shortcut"
**Describe the solution you'd like**
Select element from CIRCUIT ELEMENT panel
Press R to change the direction of the element by 90deg clockwise.

**Are you working on this? (Yes/No)**
Discussion required.

[2020-12-08 14:38] harshitaaaaaa commented on #2005
Yeah, I'm working on it!

[2020-12-08 15:29] mayank-kabra2001 commented on #1992
I have done it .. will soon make the PR .

[2020-12-08 17:03] richardpawson commented on #1992
Great! Is it possible  that - before it gets to PR - that you could show a screen snippet showing what the diode looks like in action. (If that can't be done on GitHub, you could just post it on the Slack forum - I'll see it here.)

[2020-12-09 09:38] mayank-kabra2001 commented on #1992
Yes sir , i am sharing screenshot of the following . If you want i can make video and upload it on slack .

![Screenshot from 2020-12-09 15-06-37](https://user-images.githubusercontent.com/57330493/101612033-365f7980-3a30-11eb-8305-d328aac71f7d.png)
![Screenshot from 2020-12-09 15-06-41](https://user-images.githubusercontent.com/57330493/101612038-38293d00-3a30-11eb-8537-86b411f479ce.png)

[2020-12-09 09:50] richardpawson commented on #1992
Terrific - thanks! Small request. Could you make the visual representation of the diode even slightly smaller. Currently, it covers 3 x 3 grid squares. I think it could be 2 x 2. That would then make triangle part of the diode the same size as the triangle part of a NOT gate in CircuitVerse, which would be consistent and suitable as both are 1-input devices. (NOT gate is 2 x 3 squares, but it need

[2020-12-09 09:55] richardpawson commented on #1992
Also, if you made it 2 x 2 it would be good if the triangle were solid black, as that is normal diode symbol. (However, if the CircuitVerse drawing routines do not facilitate solid shapes then this is not a big issue for me).

[2020-12-09 12:39] dipanshparmar commented on #1945
Working on it!

[2020-12-09 18:02] harshitaaaaaa commented on #2005
@ShreyaPrasad1209 I have started making the markdown page. Can you have a look at it whether it looks the same as you expected or do I have to make some changes in it. After that I'll proceed further. I am hereby attaching screenshots, you can have a look at them and please tell me if it needs any changes or improvements.
![image](https://user-images.githubusercontent.com/66556662/101668509-a1cc3a

[2020-12-09 18:26] mayank-kabra2001 commented on #1992
Done sir , made solid black and grid size covering is reduced .

[2020-12-09 20:41] richardpawson commented on #1992
Thanks!

[2020-12-10 15:03] ShreyaPrasad1209 commented on #2005
@harshitaaaaaa this looks good. Some suggestions -

- Give user the option to enter their details manually.
- Right below Humans of CircuitVerse headline, reserve some space for a introduction paragraph. I will give you the content in some time. Add dummy paragraph for now.

[2020-12-10 15:06] harshitaaaaaa commented on #2005
@ShreyaPrasad1209 Yeah thankyouuuu. I'll do as directed.

[2020-12-11 06:37] vinzvinci98 opened #2024 "Toggle Dark/Light Mode"
I have suggestion, what if I add Toggle Dark/Light Mode on the website? I think it's better because not all users like light mode. What do you think?

**Are you working on this? (Yes/No)**
Yes

[2020-12-11 07:25] #2024 closed

[2020-12-11 10:33] #1922 closed

[2020-12-11 15:04] shubhankarsharma00 opened #2026 "Offline save not working as desired."
**Describe the bug**
Successfully saving the project gives a message showing which is a hint to where this probably is going wrong.
when you save the project to your local object it is saved with key "undefined" as compared to earlier when it was saved with projectId as key.

![img](https://files.slack.com/files-pri/TJTJJ6R1A-F01HE4ZK5AL/image.png)

**To Reproduce**
Steps to reproduce the behavior

[2020-12-11 15:06] shubhankarsharma00 opened #2027 ""Save" listener in embed mode."
**Describe the bug**
ctrl + S trying to save in embed mode

**Expected behavior**
It should not be working in embed mode.

Related info : check the embedListeners.js and listeners.js in public/src

Not working on this

[2020-12-11 16:01] gr455 opened #2028 "Bitwidth conflict in tunnels"
**Describe the bug**
If the bitwidth of paired tunnels is not manually set to the same value, then one of the tunnels may get value greater than it's max value (2^n - 1). If this tunnel's node is connected to say an output node, then it causes a bitwidth conflict and raises an uncaught exception.

**Proposed solution**
 Sync the bitwidths of paired tunnels to the same value everytime.

**To Reprod

[2020-12-11 17:38] legendsovermyths commented on #2018
Hey can I work on this?

[2020-12-11 17:43] satu0king commented on #2018
@Kartik1397 u can set whatever shortcut u want in Tools->Custom Shortcut

[2020-12-11 17:44] satu0king commented on #2007
@iCoder-007, unless someone is a collaborator, he or she cannot edit the circuit.

[2020-12-11 19:37] Kartik1397 commented on #2018
Sorry, my bad

[2020-12-11 19:37] #2018 closed

[2020-12-11 19:41] harshitaaaaaa commented on #2005
@ShreyaPrasad1209 I've completed the frontend part. Now I have to make a column in which users can enter their details manually. For that, I need to do the backend part. I have a few queries, please guide me.
1. Do we have to use ruby on rails for the backend part?
2. How will we get the validation from all the users so that only they have the access to edit/add their information manually.
Please

[2020-12-12 03:36] iCoder-007 commented on #2007
But let say , i am the owner of the circuit and to share someone the circuit with read only permission

[2020-12-12 07:38] #2027 closed

[2020-12-12 07:39] satu0king commented on #2027
Turns out the bug was because custom shortcuts were loaded in embed mode as well.

[2020-12-12 08:14] satu0king commented on #1922
Thank you @pavanjoshi914 !

[2020-12-12 08:36] #1998 closed

[2020-12-12 09:05] sal2701 opened #2031 "UI Improvements for Projects Page"
**Is your feature request related to a problem? Please describe.**
In the project page, the simulator is the main interest but is taking very less percentage of space. This page needs to be redesigned.

**Describe the solution you'd like**
 One way to go would be YouTube's video layout, without the recommended videos on the side. There are other possibilities as well. Would love some design previe

[2020-12-12 09:08] satu0king commented on #2031
Please try and show designs before trying to make the page, so we can suggest improvements and changes.

[2020-12-12 09:28] satu0king opened #2032 "TestBench Project"
Currently the testbench is just a proof of concept. It can be found here - https://circuitverse.org/testbench.html

Some terms -
1. Test Set - List of test cases
1. TestBench Creator - A page which allows users to create test sets
1. TestBench Element - Element within the simulator which does the actual testing

The current workflow is a bit awkward.

1. Create tests on testbench creator page

[2020-12-12 10:14] satu0king commented on #2005
@harshitaaaaaa looks really good!

Sorry for the change here, but I think this need to be part of the main website. So can you make it a html page like
http://circuitverse.org/humans-of-circuitverse ?

The idea of having a markdown page was it is easier to add the details. But that may not be possible. We can see other alternatives after you make a PR.

Also can you add optional links like Linkedi

[2020-12-12 10:15] satu0king commented on #2007
@iCoder-007 we can have a share button but I am not sure what exactly it will do. Right now unless the project is private, you can just share the URL of the project with your friend

[2020-12-12 13:43] richardpawson commented on #2032
**Test Sets**
You captured my main point about the 3 types of test & I agree that 1 & 2 are the priority.

I agree about keeping test cases separate from the circuits for the reason you gave.

**TestBench Creator**
Personally,I wonder about the value of having our own TestBenchCreator. It is a lot of work for something rather generic. It worked OK for me, but I found it limited e.g.:

- Couldn't d

[2020-12-12 13:58] harshitaaaaaa commented on #2005
@satu0king Yes I can definitely make an HTML page instead of this markdown page and will add all the additional social options.
So in that HTML page, is there any need to give a separate column to each person so that they can manually edit their details?

[2020-12-12 14:51] iCoder-007 commented on #2007
Ya we can a share option were the user can share the circuit as image or something like that

[2020-12-12 15:52] gr455 commented on #2032
I agree with @richardpawson, the current TB input and output pair seems quite redundant. But since we plan to use tests across circuits (also automated). We could just get rid of the TB element and have the tests' input and output linked to the circuit's input and output through labels (the professor instructs the students to name inputs and outputs a certain way)

[2020-12-12 17:38] satu0king commented on #2032
@gr455

Not sure if labels is a good idea. It will not be very evident to the user. We can discuss this though. Another issue is design complexity.

[2020-12-12 17:47] satu0king commented on #2032
@richardpawson Yes I think our testbench creator can simply have a load CSV option. The idea of the testbench creator is to do validation of things such as bitwidth. And also users might want to see their tests on the website, so we need a UI for the same.

Why are you particular about the testbench being one element instead of 2? The reason it is two elements is, in general inputs are on the left

[2020-12-12 17:52] sal2701 commented on #2032
We could have a toggle in the property menu. Only input/output elements with toggle "Test" will be tested.

These elements will be visible in the TestBench Modal (which has to be created, like the one for timing diagram). Here we will generate a CSV template with values to be filled by the user or they can just upload a CSV file in the right format.

The results also need to be displayed in a bett

[2020-12-12 17:57] satu0king commented on #2032
@sal2701 and @gr455 both raised good points on using the labels for testing. Still a little skeptical but worth a try. We will need to try. The design is definitely more complicated though.

[2020-12-12 18:01] satu0king commented on #2007
@iCoder-007 if u just want to share the circuit as an image, just download it and share? Tools -> Download Image

[2020-12-12 18:02] satu0king commented on #2005
You mean separate row? Yeah i think so, unless you have a better idea

[2020-12-12 18:40] seinos opened #2033 "ROM size increase"
**Is your feature request related to a problem? Please describe.**
I would like to use the ROM but i need an input of 5 and an output of 9 Bit.

**Describe the solution you'd like**
I would like to be able to set the ROM input and output size using the properties panel.

**Describe alternatives you've considered**
I could use a multiplexer to increase the input but I have no idea how to increase t

[2020-12-12 18:48] satu0king commented on #2033
@seinos can you use EEPROM for this?

[2020-12-12 19:26] gr455 commented on #2032
@satu0king you have mentioned about 'maximum circuit delay'. Didn't quite undertand that part. Why is it required and how will this work considering how we treat delays currently?

[2020-12-13 06:22] dipanshparmar commented on #2026
Working!

[2020-12-13 06:39] satu0king commented on #2026
@dipanshparmar, this issue is not the same one you fixed. Please check this issue carefully.

[2020-12-13 06:45] dipanshparmar commented on #2026
Sure @satu0king

[2020-12-13 12:50] seinos commented on #2033
@satu0king Thanks looks promising. If not I think I could try to use the multiplexer implementation of the control I want to realize. By the way I took a look in the docs and I think the example of the EEPROM in the docs is broken (Bit width error 8 and 7) and RAM as well.
Thanks for the quick answer and for the free open source tool which all in all is simple to use and a lot of fun to play with.

[2020-12-13 17:46] satu0king commented on #2033
@seinos, thanks for reporting, I fixed the documentatin circuits.

[2020-12-13 22:15] Kartik1397 commented on #2031
Hello @satu0king, can I work on this?

[2020-12-14 07:30] harshitaaaaaa commented on #2005
@ShreyaPrasad1209 You asked me to add a small paragraph after the heading, till now I've added a dummy paragraph. Please provide we with appropriate content so that I can finish making the page.
@satu0king I have converted the markdown into HTML. Do I have to link it with any other webpage?

[2020-12-14 07:56] Kartik1397 commented on #2031
My design preview

![Screenshot from 2020-12-14 13-18-56](https://user-images.githubusercontent.com/24036721/102054577-a0e92e80-3e0f-11eb-8a0a-b1981139a42c.png)

![Screenshot from 2020-12-14 13-19-06](https://user-images.githubusercontent.com/24036721/102054580-a21a5b80-3e0f-11eb-85f1-5f877d282a31.png)

[2020-12-14 08:56] harshitaaaaaa commented on #2005
![image](https://user-images.githubusercontent.com/66556662/102060243-f295b700-3e17-11eb-970b-427ca1459004.png)
![image](https://user-images.githubusercontent.com/66556662/102060268-fa555b80-3e17-11eb-8e0b-f3a218ea6e70.png)
@satu0king Please have a look at it. I have made it an HTML page and also added other links. Can I generate a PR if it looks good to you. If you want some other changes and imp

[2020-12-14 16:14] robin025 commented on #2005
Working On It..!

[2020-12-14 16:29] Ayushdubey86 commented on #1964
I would like to work on this?

[2020-12-14 16:30] harshitaaaaaa commented on #2005
@robin025 I've already done it. Will soon generate a PR.

[2020-12-14 23:12] richardpawson commented on #2032
@satu0king  You asked 'Why are you particular about the testbench being one element instead of 2? The reason it is two elements is, in general inputs are on the left and outputs are on the right.'

I understand your argument for it being two elements, and I'm not wedded to it being one, but I find the idea of adding two elements separately, that are somehow, magically, _and invisibly_, linked toge

[2020-12-15 02:42] robin025 commented on #2005
@ShreyaPrasad1209 can I work on it.....?

[2020-12-15 05:23] ShreyaPrasad1209 commented on #1966
@shubhankarsharma00 maybe we can use preview feature to hide timing diagram as well?

[2020-12-15 05:27] shubhankarsharma00 commented on #1966
I think many will want to use preview feature with the timing diagram for presentations. I was just thinking an option to show it or hide it from the tool bar. lie Microsoft word has a view option in which you can decide which tools you want to view.

[2020-12-15 05:51] ShreyaPrasad1209 opened #2040 "Circuits invisible on Gitpod"
**Describe the bug**
On setting up CircuitVerse through Gitpod, I saw that circuits on home page under Editor's Pick and Recent Circuits were not visible.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to SETUP.md
2. Follow Gitpod instructions to set up CircuitVerse
3. On successful setup, open the preview in browser
4. Scroll down to see error on homepage

**Expected behavior**
Circuits

[2020-12-15 05:56] ShreyaPrasad1209 commented on #2005
@robin025 let's wait for Harshita's PR and then you can work on it in case there's any issue with the PR.

[2020-12-15 05:57] ShreyaPrasad1209 commented on #1966
Okay so you want a feature which can specifically hide certain tools?

[2020-12-15 06:13] shubhankarsharma00 commented on #1966
![ezgif com-gif-maker](https://user-images.githubusercontent.com/32474302/102178069-c2f3b700-3eca-11eb-8fa1-278222eac9d6.gif)
I was thinking of something like this.

[2020-12-15 06:17] kshitij86 commented on #1966
@shubhankarsharma00 where would this be implemented? Like the toolbar on the right has the tools.

[2020-12-15 06:29] ShreyaPrasad1209 commented on #1966
@shubhankarsharma00 yup got it. I'm working on it. I have created only a button till now, will add functionality. Let me know if Full Screen button's position is fine. I will change its name later on.

![image](https://user-images.githubusercontent.com/43600306/102179339-f8999f80-3ecc-11eb-8449-7cb896b5743d.png)

[2020-12-15 07:13] kshitij86 commented on #1966
@ShreyaPrasad1209 Can I also contribute to this?

[2020-12-15 07:39] ShreyaPrasad1209 commented on #1966
@kshitij86 sure. Do you want to coordinate on Slack?

[2020-12-15 08:21] kshitij86 commented on #1966
@ShreyaPrasad1209 sure.

[2020-12-15 08:24] sal2701 commented on #2031
Hey @Kartik1397 Great work! You can surely work on this. A few things to consider
- The space beside the title is empty, do you think you can shift few elements there?  Like the Launch, Fork, Star Button, Project Access Type, etc
- How long are you planning to keep the Title and Description? What will happen when limit is exceeded. Since there are buttons beside the description, how will it be dis

[2020-12-15 17:02] Kartik1397 commented on #2031
If lenght of the Title and Description exceed the text will wrapped into the next line. We can see exact behavior in this screenshot.
![localhost_3000_users_4_projects_full-adder-circuit-this-circuit-allow-to-add-2-bit-with-carry-this-circuit-allow-to-add-2-bit-with-carry-this-circuit-allow-to-add-2-bit-with-carry-this-circuit-allow-to-add-2-bit-with-carry (1)](https://user-images.githubuserconten

[2020-12-16 06:37] MegaMind77-coder opened #2042 "Zoom In Zoom Out not working in Circuit Preview"
**Describe the bug**
Zoom In Zoom Out Buttons not working after Selecting preview Circuit option

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any circuit from your dashboard
2. Click on Preview Circuit option from the Projects dropdown.
3. Try to zoom in or zoom out from the Timing diagram control panel provided.
4. It is not functional

**Expected behavior**
Zoom In Zoom out should

[2020-12-16 13:31] Shivansh2407 commented on #2042
The Zoom in and Zoom out button in the Timing Diagram Panel is used to control the Timing Digram specifically and not the circuit. To zoom in and out the circuit, the user can make use of Scroll up and down in the Preview Mode. While in the Embed Mode we have respecrive buttons to perform the same action .

[2020-12-16 14:21] MegaMind77-coder commented on #2042
@Shivansh2407 could you share how the Timing Diagram is controlled by the zoom-in and out buttons?

Scroll Works Perfectly fine.

[2020-12-16 14:55] Shivansh2407 commented on #2042
You can fork this circuit and try out various functions. Also you can ask related questions on the CV forum or slack channel, we will be happy to answer them as soon as possible.
Circuit Link : https://circuitverse.org/users/3/projects/timing-diagram-test

Closing this issue 👍

[2020-12-16 15:02] #2042 closed

[2020-12-16 18:27] satu0king commented on #2005
@harshitaaaaaa generally u make a PR and then get a review not in the issue itself.

[2020-12-16 18:28] satu0king commented on #2005
@harshitaaaaaa don't like the background color.

[2020-12-16 22:13] sal2701 commented on #2031
@Kartik1397 Great work. Looks quite good. Few points
- Since the username and Fork, Embed, Star buttons are aligned and you could've the description span all columns.
- Yeah, the wide collaborator section looks weird, we could try the cards approach, it has been done in the 'Groups' page.
- The simulator background is completely white so is the web page. Having a darker border might give better vi

[2020-12-17 06:11] r-arvind opened #2047 "Showing date/time of creation and last modification of a circuit"
**Is your feature request related to a problem? Please describe.**
When I look at a circuit, it would be really helpful to see when the circuit was created and when it was last modified.

**Describe the solution you'd like**
Display `Date created` and `Date Modified` below the circuit description

**Describe alternatives you've considered**
The best estimate of date-time I could make was by using

[2020-12-17 15:05] Kartik1397 commented on #2031
Updated design
https://www.figma.com/file/jUuuEsFFzfxA7SPvb6si8L/Circuit-Verse-Project-Page?node-id=0%3A1

[2020-12-18 08:36] shubhankarsharma00 commented on #2040
I think this is because `rails db:seed` is not run and so there are no circuits available ?

[2020-12-18 08:40] shubhankarsharma00 commented on #2047
hmm should be an easy feature to add. Created_at and Updated_at is already a part of schema.
https://github.com/CircuitVerse/CircuitVerse/blob/129182c0f422c9482abe149f730e03292ec1a7ef/db/schema.rb#L281-L282

[2020-12-18 13:11] dipanshparmar commented on #2026
@satu0king I'm no longer working on this issue because my industrial training is starting from today up to 31 Jan. So I'm busy between this time span. I'm sorry for the inconvenience. If anyone wants to take this issue then please go ahead and if no one takes this issue till 31st of Jan then I'll make a PR for this after 31 Jan. Thanks

[2020-12-18 18:47] devanshmarwaha commented on #2004
I would like to work on this. Can you give me permission to work on this issue?

[2020-12-19 04:13] iCoder-007 commented on #2007
ok ,sorry i didn't saw that option

[2020-12-19 13:24] apoorvdwi commented on #1774
Is the issue still open ?
I would like to work on it .

[2020-12-20 20:25] Cronus1007 commented on #2047
@ShubhankarKG Let me implement this one then.

[2020-12-22 06:35] pavanjoshi914 commented on #1938
@satu0king any updates here... I would like to complete this feature for you.

[2020-12-23 15:36] ghoshdipan commented on #2040
What is the issue? Can anyone explain?

[2020-12-23 15:58] seinos commented on #2033
Thanks and thank you for the fast reply.

[2020-12-23 15:58] #2033 closed

[2020-12-23 18:09] robin025 commented on #2005
Hi @ShreyaPrasad1209 , thanks for your reply. I was referring to #2005 as you mentioned to create a "Humans of CircuitVerse" markdown page.

So here my suggestion request!
To be able to use a markdown page that will show significant contributions of individual members in CircuitVerse so as to appreciate the efforts made by them ,we can use Jekyll theme which is a static website generator that’s de

[2020-12-24 08:26] shubhankarsharma00 commented on #2047
@Cronus1007 you tagged the wrong guy I guess, but yeah go ahead.

[2020-12-24 19:23] shadowoflight commented on #2040
I am using Gitpod as well, the recent circuits are being shown in the preview.
Browser: Chrome
OS: Mac OS

[2020-12-25 04:28] ShreyaPrasad1209 commented on #2005
@robin025 this page will be dynamic because users need to have the option to change their content. A basic CRUD application will be enough I think. Jekyll theme sounds good 👍

[2020-12-26 14:25] r-arvind opened #2050 "Assigning Roles to Members of a group"
**Is your feature request related to a problem? Please describe.**
In Circuitverse for Teachers, only the user who created the group can make new assignments and grade them. This is a problem when working in teams. For example, when a faculty/teacher creates an assignment, the grading is done by a team of TAs (Teaching Assistants). Therefore, the teacher should be able to add other members who hav

[2021-01-01 16:22] raffayatiq commented on #2026
Hello. I would like to work on this issue. However, I am not sure what code is handling the Save Offline functionality. This is the HTML for the Save Offline button inside the canvas:
![image](https://user-images.githubusercontent.com/58357644/103442317-e5315700-4c76-11eb-91b6-85b4e83d17ef.png)
And this is HTML for the Save Offline link when you click on "Projects" top-left on the File menu:
![ima

[2021-01-02 04:00] dipanshparmar commented on #2026
Hey @raffayatiq,
The save offline functionality is implemented using javaScript (Local Storage). These are the code sections that are probably handling this functionality:

**File Location**: public/js/**data.js**
![image](https://user-images.githubusercontent.com/49204837/103450464-d7162180-4cdc-11eb-8415-e3239a59f1a0.png)

**File Location**: public/src/data/**project.js**
![image](https://user-i

[2021-01-02 09:14] shubhankarsharma00 commented on #2026
yes the first snippet is the latest code and the second one is the legacy code. We want the save to work in the new simulator same as it did before and I'm not sure what the issue is.

[2021-01-02 19:37] SingingApple opened #2055 "Pretty URL for Users"
**Is your feature request related to a problem? Please describe.**
Having pretty URLs is a must for a website. I personally, don't like seeing random numbers appear in the address bar. It would be better if we have pretty URLs for a user.

**Describe the solution you'd like**
`/users/123434234` can be replaced by `/users/:user-name` by adding a slug to users' schema or by using [friendly_id](https

[2021-01-02 22:42] raffayatiq commented on #2026
It seems like the second snippet is the one being used. I am trying to edit the public/src/data/project.js file, but the changes are not being reflected in the browser. This is what I edited:
![image](https://user-images.githubusercontent.com/58357644/103467900-89012c80-4d75-11eb-9d80-e1604ca99838.png)
And this is what's being loaded by the browser:
![image](https://user-images.githubusercontent.c

[2021-01-03 03:48] pavanjoshi914 commented on #1924
@satu0king i am not able to reproduce bug... it is working fine
is this still a problem?

[2021-01-03 05:09] DevanshD3 commented on #1924
@pavanjoshi914 it still is a problem for my browser( Chrome 87 on Windows 10), it says "copied to clipboard" but it doesn't copy on its own.

[2021-01-03 05:12] pavanjoshi914 commented on #1924
yup fixed it !!

[2021-01-03 05:29] pavanjoshi914 opened #2057 "integrating group invitation via link feature in circuitverse api"
**Is your feature request related to a problem? Please describe.**
  currently we use group invitation system via link  to add members in the group same facility should be given in mobile app
  refer pr #1997 for more

**Describe the solution you'd like**
   Integrating same feature in circuitverse api so that mobile app can make use of it

[2021-01-03 07:03] DevanshD3 commented on #2040
I think it's because some circuits are hardcoded (in the featured section) by the team and if you want to see your recent circuits, you need to make your own, and then it will be shown there. @tachyons could you please confirm ?

[2021-01-03 17:09] tachyons commented on #2040
Gitpod creates a fresh setup, so there won't be any circuits in the recent circuits section, you create new circuits to get items in recent circuits section, also there is an option to set a circuit as featured

[2021-01-07 07:38] sarthakkundra commented on #1774
@Shivansh2407 I would like to work on this for SWoC. Can you assign it to me?

[2021-01-07 07:57] Shivansh2407 commented on #1774
@sarthakkundra you can go ahead and start working on the issue. Make sure to keep in mind, the suggestions in the comments mentioned above, and work accordingly 👍

[2021-01-08 07:04] ZadeAbhishek commented on #2026
Hey @satu0king @shubhankarsharma00 I have fixed this bug i guess this was the desired result tell if
![Screenshot from 2021-01-08 02-03-31](https://user-images.githubusercontent.com/66520848/103984778-c0951d80-5155-11eb-963f-5a525d9cfcc8.png)

[2021-01-09 04:01] dipanshparmar commented on #2026
@ZadeAbhishek this issue is already solved at #2008. The issue here is the project is saving with the undefined key in the local storage instead of the project id.

**Screenshot**
![image](https://user-images.githubusercontent.com/49204837/104082577-5ff10800-525d-11eb-9b5a-1b60b902706c.png)

[2021-01-09 04:43] ZadeAbhishek commented on #2026
okay got it

[2021-01-09 14:24] ZadeAbhishek commented on #1933
i know this not big issue but i know the solution for this can i solve this.

[2021-01-09 18:48] sal2701 opened #2065 "Export Circuits as GIFs"
**Is your feature request related to a problem? Please describe.**
At the moment, we have the option to download the circuits as images ( PNGs, JPEGs, etc ). Some users prefer to have the option to share their circuits as GIFs. This requires an external tool.

**Describe the solution you'd like**
To help with this we can have an inbuilt GIF exporter making it easy for users to share their circuits

[2021-01-10 12:30] abstrekt commented on #2031
The design seems to be really well crafted, a few minor things that can be given a thought:
* would the `Show More` center-aligned look better?
* Not making the unsubscribe button primary & keeping the old style?
* I think a threaded comment section would be better as well as hiding after a particular number of comments with a 'Show More'

[2021-01-10 18:55] ishandeveloper commented on #2065
I might be able to work on this. Can you explain a bit more about "Add the option to start and stop the recording for the GIF" ?

What do we want to animate in the gif, should there be a seek bar or something else, etc?

[2021-01-11 09:02] arnab15 commented on #2065
hello,
I have knowledge of javascript ,nodejs,reactjs,expressjs, Mongodb but I haven't contributed to any open-source project so I'm a beginner.I would like to contribute to this project.
how should I start can anyone suggest to me the way should I start contributing.

[2021-01-12 06:59] Grumpyyash commented on #2004
@satu0king I would like to work on this issue if it is still open?

[2021-01-12 16:35] 2019UCP1350 commented on #1952
I think I can solve this issue, but this is my first time contributing to an organization. So, Could you please guide me?

[2021-01-13 10:57] ZadeAbhishek commented on #2065
@sal2701
my idea is if any body wants to save the circuit as GIF the animated part would be the input vs output.
so for external tools to save as GIF we can use "gifshot" library.
https://yahoo.github.io/gifshot/
can i help you with this feature ?

[2021-01-13 20:28] sal2701 commented on #2065
Since the circuit outputs change based on the inputs & the clock cycle, users might want to record it for multiple cycles or even for given seconds. So I feel what we need is a proper way to facilitate this. Yeah a seek bar might make it easier.

@ishandeveloper interested in this issue?

Hey @arnab15 good you want to contribute here. I suggest that you first setup CircuitVerse and use the simulat

[2021-01-14 03:42] ZadeAbhishek commented on #2065
yes sure

[2021-01-14 17:02] Flarp commented on #1868
https://circuitverse.org/users/52858/projects/untitled-f2e43584-26db-4fdf-bfe8-912a5af17f6e

I apologize for the wait, I was waiting for the semester to end as this was an assignment in our class. Here is the project, which doesn't work on either the new nor old API.

[2021-01-14 22:39] ishandeveloper commented on #2065
Thanks @sal2701 . Thanks for offering me the chance to work on this, however something came up and I might be busy for next few weeks. You can move forward and assign this to @ZadeAbhishek , meanwhile I'll be keeping an eye out for other issues, once I'm free : )

[2021-01-14 22:50] sal2701 commented on #2065
@ishandeveloper no issues. @ZadeAbhishek you can take this up. gifshot sounds good. Let me know if you've any doubts.

[2021-01-15 02:26] 2019UCP1350 commented on #1952
Can I work on this issue?

[2021-01-15 07:49] ZadeAbhishek commented on #2065
yes

[2021-01-15 10:46] abstrekt commented on #1952
certainly go ahead, let us know if you face any issues.

[2021-01-15 15:07] Kartik1397 commented on #2031
I think left aligned `Show More` will be more easy to reach.

Maybe, this can add inconsistency to design.

Yes, this feature can make comment section more organized.

These are my thoughts but I'm not expert at UI/UX.

[2021-01-16 06:19] syedobaid45git commented on #2065
Hey would you please guide me to setup circuitverses

[2021-01-16 07:13] syedobaid45git commented on #2065
I want this issue to be fixed but unable to setup the circuitverses

[2021-01-16 13:37] raffayatiq commented on #2026
Sorry for creating two pull requests. I made a mistake in the first one. The issue seems to be fixed now. @satu0king @shubhankarsharma00, please let me know if I have overlooked anything. Thank you!

[2021-01-17 05:07] 2019UCP1350 commented on #1952
Could u please help me in setting up the workspace on gitpod.
It is showing some error like the creation of a new role failed: ERROR:  role "postgres" already exists.

[2021-01-17 06:54] ZadeAbhishek commented on #2065
read setup.md will help you to setup

[2021-01-17 09:36] jknechtel commented on #1892
Hi, any updates on this issue and thread? I think for now the most important is to have assignment projects as private only.

[2021-01-17 11:18] ZadeAbhishek commented on #2065
https://user-images.githubusercontent.com/66520848/104838764-06cf4700-58e3-11eb-962c-ee9480185f01.mp4

hey @sal2701 gifshot is intergrated as shown in above video now we can save image as GIF in chrome and firefox i have not tested for all but in gifshot docs its is given that it supports all brouser.But problem is as  said  earlier we need seek bar implementation but not able to do  can you give

[2021-01-18 05:39] syedobaid45git commented on #2065
Hey @ZadeAbhishek could I get your mail Id please.i have some doubts and question that I want to get cleared by you

[2021-01-18 17:11] akashdwivedi98 opened #2079 "Showing only one (latest) project saved offline"
Open Offline option showing only one (latest) project saved  offline.
On clicking the "Open Offline" option it shows only one project saved offline but in previous versions it showed upto six offline saved projects.

**Device Information [optional]:**
 - OS: [Windows]
 - Browser [Microsoft Edge/Chrome]

**Are you working on this issue? (Yes/No)**
No.

[2021-01-19 02:20] 2019UCP1350 commented on #1952
Please help I had tried many times to set up a workspace on git pod but it is still showing the same error.

[2021-01-19 05:33] #1909 closed

[2021-01-19 09:15] syedobaid45git commented on #2065
Hey, I need some source to contact with you . Just needed help for open source, would you please give your email id

[2021-01-19 16:16] ZadeAbhishek commented on #2065
zabhidoc@gmail.com

[2021-01-20 20:15] jvilaplana opened #2084 "Circuit not loading"
**Describe the bug**
When opening an assignment submission, the circuit is stuck at the loading spinner and several errors keep popping in the debug console.

**To Reproduce**
Steps to reproduce the behavior:
No clear steps to reproduce it. This error is showing in one of the submissions to one of my assignments. The author of the circuit experiences the same issue when trying to open it in their

[2021-01-21 11:46] raffayatiq commented on #2079
PR #2078 should solve this issue.

[2021-01-23 03:33] syedobaid45git commented on #2065
Hi @ZadeAbhishek I have sent you so many emails with my mail I'd syedobaidali453@gmail.com . Please respond to my mail please

[2021-01-24 13:51] syedobaid45git commented on #2065
Bro I read your mails, thanks for your advice. I wanted to know which js framework should I start learning to start contributing in circuitverses. Pls

[2021-01-25 03:28] TheShubhendra commented on #23
Any updates? So that simulator can be used in phone browser's also.

[2021-01-25 19:47] pushpendrahpx opened #2090 "Issue while setting up the project using docker-compose up"
**Describe the bug**
The docker images named "circuitverse_web" and "circuitverse_webpacker" are not runnning as expected, they are throwing error
1. Error From "circuitverse_web" image in docker is like this given below
``` web_1        | standard_init_linux.go:219: exec user process caused: no such file or directory```
```  circuitverse_web_1 exited with code 1 ```
2. Error From "circuitverse_we

[2021-01-26 05:44] shubhankarsharma00 commented on #2084
@jvilaplana This seems like a project-specific bug. Can you share the link of the project so I can have a look at why this bug originated.

[2021-01-26 09:44] gr455 commented on #2090
Hey, are you using Windows to build? Also which branch are you trying to build?

[2021-01-26 10:50] Pushpendrahpx commented on #2090
Yes I am using windows I think this issue is due this only

[2021-01-26 11:12] gr455 commented on #2050
@satu0king @tachyons, this will require the the roles to be added in the `group_member` model. So for existing groups it will be required to set the 'owner / mentor' in `group_member` instead of `group`. How do we handle that? Do we write a rake task for that?

[2021-01-26 11:19] tachyons commented on #2050
https://github.com/CircuitVerse/CircuitVerse/pull/1682 related

[2021-01-26 11:32] Pushpendrahpx commented on #2090
It seems it is the issue in windows due to some due to '\r' return character in cmd. It is working fine in Linux.

[2021-01-26 14:06] Pushpendrahpx commented on #1999
Have you started working on it or not ? If no then let me start on this then.

[2021-01-26 16:25] gr455 commented on #2050
I will try to build on those PRs

[2021-01-26 18:55] pushpendrahpx opened #2091 "Making Changes to Dashboard Page of User"
**Is your feature request related to a problem? Please describe.**
No, this is not the problem, but when we click on Dashboard it actually takes us to user profile page, so it seems like there is no dashboard page there.

**Describe the solution you'd like**
Designing and Implementation of Dashboard will give user's a better user experience, and people can see there recent Circuits and many more f

[2021-01-27 03:44] Bbiswabasu commented on #1999
@Pushpendrahpx actually no one replied or assigned me due to which I didn't start working on it. If you want, you may start working on this :)

[2021-01-27 08:20] jvilaplana commented on #2084
@shubhankarsharma00 it's a private project, the link is:

https://circuitverse.org/simulator/edit/practica-2-4c823a80-81ca-41e4-bda3-b9e6086ad6be

[2021-01-27 16:16] gr455 opened #2092 "Adding group owner as member"
**Describe the bug**
Currently it is possible to add the group mentor (owner) in the group as a member through mail and invite link, this is unnecessary.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Group
2. Add yourself to the group by clicking `Add Members` through email or the invite link

**Expected behavior**
Should not add owner to the group as a member

**Screenshots**
![S

[2021-01-28 09:06] shubhankarsharma00 commented on #2084
Oh, I wouldn't be able to help you if it's private. This may be a bug that happens sometimes when some input or output was deleted from one of the subcircuits but that change wasn't saved properly and is not reflected in the circuits that the subcircuit was included in. Maybe try changing included subcircuits.

[2021-01-28 12:58] arjunagarwal899 opened #2094 "Having only one button for "Resume timing diagram" and "Pause timing diagram" in the TIMING DIAGRAM panel"
**Is your feature request related to a problem? Please describe.**
In the timing diagram panel, having two separate buttons: "Resume Timing Diagram" and "Pause Timing Diagram" seems redundant as only one of them can be used at a time, the other has no effect.

**Describe the solution you'd like**
To merge both functionalities into a single button. Initially autoscrolling is on by default and the P

[2021-01-28 13:14] arjunagarwal899 opened #2095 "Renaming "Resume Timing Diagram" and "Pause Timing Diagram" button tooltips in the TIMING DIAGRAM panel as they are misleading"
**Describe the bug**
The "Resume Timing Diagram" and "Pause Timing Diagram" button tooltips are confusing as they do not actually pause the timing diagram from recording the values but just pause the autoscrolling. The code itself indicates that it is only for controlling the autoscrolling of the diagram.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any circuit with a Flag component

[2021-01-29 10:39] ZadeAbhishek commented on #2065
@sal2701  hey i success fully add GIF feature here is the video  please check what to do next ?

https://user-images.githubusercontent.com/66520848/106264963-6109c980-624c-11eb-8943-a19cd0c7d3e4.mp4

[2021-01-29 10:43] ZadeAbhishek commented on #2065
as such i don't know much about javascript  i am not pro but start j query library is will help you to ease work

[2021-01-29 15:17] ShrutiKhatri826 commented on #49
May I work on this?

[2021-01-29 17:37] vnksnkr commented on #1919
@satu0king image to circuit does look ambitious but is it possible to maybe have a feature to convert a .sch file to circuit ?

[2021-01-30 17:27] jvilaplana commented on #2084
@shubhankarsharma00 I've forked the original project from the student and changed it to public, this should work for you now:

https://circuitverse.org/simulator/edit/practica-2-5bb094a5-74ba-4361-8669-e55790ad7872

I can't navigate through the different circuits to try to check your solution. Thank you!

[2021-01-31 06:11] shubhankarsharma00 commented on #2084
@jvilaplana can u share the project link? You can get it from the projects page. It'll be like this: https://circuitverse.org/users/64636/projects/7-segment-082ca31a-2003-4013-b9d8-106acc9ab108

[2021-01-31 11:45] ZadeAbhishek commented on #2065
@sal2701 can you help me i have created pull request know what to do can you help me

[2021-02-01 14:29] jvilaplana commented on #2084
@shubhankarsharma00 Sure, it should be this one: https://circuitverse.org/users/42748/projects/practica-2-5bb094a5-74ba-4361-8669-e55790ad7872

[2021-02-01 15:20] shubhankarsharma00 commented on #2084
https://circuitverse.org/users/3642/projects/practica-2-d0688787-d216-4534-9e90-714b3e64ad33 check this out @jvilaplana . I am not sure if I have recovered the complete project but it is probably some state of it I hope. You can Fork this and continue working.

[2021-02-01 18:16] gr455 opened #2101 "No authorization check for generating group token"
**Describe the bug**
There is no authorization for generating a group token. Anybody can generate a group invitation token for any group

**To Reproduce**
Steps to reproduce the behavior:
1. Create any group
2. Click `Add Members`
3. Change the form element's action to `/groups/<unauthorized_group_id>/generate_token`
4. Get invitation link

**Expected behavior**
The function should check if the us

[2021-02-02 07:19] raghavendrashekhawat2 commented on #2092
Hi. I'd Like to work on this issue. As i see it if anyone tries to add themselves to a group they should get a flash saying that they can not be added to the group as they are the group owner ?.

[2021-02-02 07:45] gr455 commented on #2092
No, that is not the problem. The problem is that if the mentor adds themself to the group, they get added in as a member too (note that this doesn't drop their mentor privileges), but this is redundant as a mentor is always in their group. So maybe flash a message saying 'Member already exists as the group mentor'

[2021-02-02 14:32] jvilaplana commented on #2084
Perfect, thank you @shubhankarsharma00 ! 😄

[2021-02-02 14:32] #2084 closed

[2021-02-02 17:27] raghavendrashekhawat2 commented on #2092
Yep cool. I am working on it

[2021-02-02 18:30] #1924 closed

[2021-02-03 04:39] #2101 closed

[2021-02-03 12:21] Utsargsaxena opened #2108 "Navigation bar should not be hidden behind widgets when scrolled down"
**Describe the bug**
While clicking on simulator and going to mobile version, then clicking on hamburger menu , the contents of navigation bar gets hidden behind widgets. It does not seem appealing. They should overlap widgets.

**To Reproduce**
Steps to reproduce the behavior:
2. Click on 'Simulator'
3. Click on Hamburger menu in mobile version.
4. See error as contents of navigation bar are hidd

[2021-02-06 06:36] devartstar commented on #2108
Hi, I want to work on this issue. Please can you assign this to me.

[2021-02-07 16:47] akgupta0777 commented on #2108
just drag the properties and tabs down and click on hamburger menu to see what's behind

[2021-02-07 16:48] akgupta0777 commented on #2108
You want that to cover everything behind the hamburger menu when you click on this

[2021-02-07 17:17] ayan-biswas0412 commented on #1880
@satu0king this task is very big can we start brainstorming the idea and chalk out an implementation plan probably making a GitHub wiki or a google doc on that , I think if there would be a slack channel for this then we can properly engage among ourselves and can make one great implementation pathway for this. I am very excited about this problem and want to work for this

[2021-02-07 19:18] Utsargsaxena commented on #2108
I thought it'll be good if we do not have to slide properties down to see contents behind, it'll look good if drop-down contents overlap properties when clicked on hamburger. Is it fine?

[2021-02-08 03:35] devartstar commented on #2108
![type1](https://user-images.githubusercontent.com/61665451/107172946-a5375f80-69ec-11eb-852f-4226b7bc6733.png)
![Screenshot (460)](https://user-images.githubusercontent.com/61665451/107172955-ac5e6d80-69ec-11eb-928a-8815852f0fde.png)

[2021-02-08 03:38] devartstar commented on #2108
@Utsargsaxena can you please confirm which one should be implemented...should the widgets slide down when the contents of the navigation bar are displayed...or the widgets should remain fixed and get hidden below the navigation bar contents.

[2021-02-08 06:33] Utsargsaxena commented on #2108
The lower one, looks optimal, in which widgets slide down.

[2021-02-08 15:15] raghavendrashekhawat2 commented on #2092
Whenever the mentor adds a user a message informing about the number of new users added, invited or if a user is already present is flashed. So instead of flashing something like "mentor already exists as a user" i am flashing "user is already present" does that work too ?

[2021-02-08 18:42] surbhigoel191 commented on #1774
@sarthakkundra Are you still working on the issue? If not I would like to take it @Shivansh2407

[2021-02-08 19:21] sarthakkundra commented on #1774
@surbhigoel191 please go ahead. I have my hands full right now.

[2021-02-08 20:57] surbhigoel191 commented on #2
@satu0king Should the decimal-bcd converter be in Tools or as a circuit element?

[2021-02-10 20:06] gr455 commented on #2092
Hey! sorry for following up late. Yeah that looks good according to me!

[2021-02-12 15:25] ayan-biswas0412 opened #2112 "introduce refreshToken to keep user logged in from browser"
**Is your feature request related to a problem? Please describe.**
In most of the websites we see after log in for the first time it keeps user in logged in state until and unless any unusual activity happens from user's account but in the CircuitVerse website it not happens , one user has to give his/her credential every time he/she visits the website.

**Describe the solution you'd like**
I woul

[2021-02-12 15:33] ayan-biswas0412 commented on #2112
would like to hear suggestions from you guys
@satu0king  @sal2701 @Shivansh2407 @nitin10s

[2021-02-13 11:14] raghavendrashekhawat2 commented on #2092
Hi. No worries. I am new to open source, whenever i create a pull request on gitpod i get this error. I have given gitpod all the access but i still get this error.
![image](https://user-images.githubusercontent.com/70352627/107848579-900e6680-6e1a-11eb-8468-e0386b88d2e6.png)

[2021-02-13 11:25] gr455 commented on #2092
@raghavendrashekhawat2 that seems to be   a Bugnsag warning. This is expected since the API key is only set on the actual production server.

They does not affect the functioning of the app locally, so don't worry

[2021-02-15 08:37] nitin10s commented on #1774
If this is the case, I don't think changing name would be wise. Whatsay @Shivansh2407 ?

[2021-02-15 08:59] Shivansh2407 commented on #1774
Yeah @nitin10s, As mentioned earlier, renaming fork -> copy only for authors will show forked in the database so we need to update that entirely to show up create copy in database instead of forked only for the authors, because just renaming it is meaningless here at this point, as we cannot identify which is forked and copied from database point of view.
Let me know your views on this @satu0king

[2021-02-15 10:46] Shivansh2407 commented on #1880
Anyone who is interested in working on this issue can have a look at [this](https://www.guide2research.com/research/list-of-learning-management-systems-for-schools-and-universities) . It has a list of various LMS that can be used and integrated with Circuitverse. But again, as mentioned by @satu0king , we need to follow a specific flow as :

Keep Contributing 🎉

[2021-02-15 14:48] koolgax99 commented on #1880
@Shivansh2407 as you mentioned about having a specific workflow for integrating the lms, can i know where to brainstorm ideas and how to start the work if we have any ideas.

i am deeply interested in the issue and integration.

[2021-02-15 15:29] Shivansh2407 commented on #1880
@koolgax99 you can continue to give your views here or in the [slack channel](https://join.slack.com/t/circuitverse-team/shared_invite/enQtNjc4MzcyNDE5OTA3LTdjYTM5NjFiZWZlZGI2MmU1MmYzYzczNmZlZDg5MjYxYmQ4ODRjMjQxM2UyMWI5ODUzODQzMDU2ZDEzNjI4NmE). You can also discuss it with the respective mentors. Keep Contributing 👍

[2021-02-16 08:15] silentC1C4D4 commented on #2047
Is this issue still open? @Shivansh2407

[2021-02-16 08:39] silentC1C4D4 commented on #1802
Seems like there is no one working on it. I would like to claim this issue. @PragatiVerma18

[2021-02-16 11:52] silentC1C4D4 opened #2116 "Enable Notifications is not working properly"
**Describe the bug**
Even after clicking the "Enable!" button, it shows browser notifications are disabled.  Moreover, as discussed in a previous issue #1802, there is no disable button.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ' dropdown menu by clicking on the username on right side'
2. Click on 'Notifications'
3. Click on 'Enable!'
4. You will notice no visible change.

**Exp

[2021-02-17 06:57] raghavendrashekhawat2 commented on #2092
@gr455  Hi. Sorry for continuing this a little late. In my pr @tachyons mentioned that my pr does not address the group invite link and the api. I have fixed the group invite link but i am having some trouble understanding the api could you help me with it?. Does api refer to the documentation here  https://api.circuitverse.org/#group-members ?. If yes what would i need to add in the documentation

[2021-02-17 14:40] gr455 commented on #2092
@raghavendrashekhawat2, Yes that's the documentation for the API. In the documentation under https://api.circuitverse.org/#create-add-group-member, you might want to add another status code 409 saying the group member already exists. If you have any questions regarding the API you can ask those too

[2021-02-17 18:25] srishty-07 commented on #49
Can I work on this issue, is it still open

[2021-02-17 18:43] raghavendrashekhawat2 commented on #2092
@gr455 Thanks !. I would need to add the error code in the api doc or would i need to return a 409 in the code too ?.

[2021-02-18 09:12] gr455 commented on #2092
I think you will need to return it in the API too

[2021-02-18 10:37] srishty-07 opened #2117 "navbar"
Last semester due to the pandemic we were making circuits on  circuit verse , it was really very helpful .In pc's when we do work on circuit work it is very easy to work with ,but sometimes some people who want to do it on phones or smaller devices it becomes very difficult for them many of my classmates also find that issue.
![image](https://user-images.githubusercontent.com/70388131/108344453-28

[2021-02-18 15:43] pranay-simejia commented on #2031
Great design @Kartik1397 .
Can I start working on implementing this design?

[2021-02-20 19:58] #2116 closed

[2021-02-21 11:02] Bbiswabasu commented on #2094
I would like to work on this

[2021-02-21 11:39] #2028 closed

[2021-02-21 11:44] #1933 closed

[2021-02-21 12:03] satu0king commented on #2091
CC: @aayush-05 @nitin10s

We actually had it separate initially and then we integrated it.

[2021-02-21 12:22] Grumpyyash commented on #2091
No, I have not added any circuits as such but what I have done is that I have seperated the user page for just information regarding them and made dashboard for circuits and other stuff as mentioned in the issue

[2021-02-21 18:27] SaDevat commented on #2117
I think this is already being addressed in issue #2108 https://github.com/CircuitVerse/CircuitVerse/issues/2108

[2021-02-22 04:42] nitin10s commented on #2091
Yes, we integrated it essentially so that users can have a holistic view of people's profiles when they visited them. Info about people + their circuits, fav circuits, etc. That is a sort of a dashboard itself.

[2021-02-22 04:53] Grumpyyash commented on #2091
Yes, it definitely makes sense, I just tried implementing it when I saw an issue regarding this.

[2021-02-24 00:51] AswinCG2002 commented on #49
Is the issue till there? Can i work on this?

[2021-02-25 01:19] devartstar commented on #2108
Hi. I have created a pull request...can you please check it and suggest any changes if required.

[2021-02-25 06:38] manjotsidhu opened #2125 "Minor UI Enhancements in Simulator"
**Describe the bug**
There are some minor UI/UX enhancements that can be done while while using simulator.

1. There is a 1-2 px gap between the arrows of the expandable section in circuit elements.
![image](https://user-images.githubusercontent.com/22657113/109112260-56195a80-7760-11eb-975b-2fd12f0b1eee.png)

2. "Report an Issue" icon is off-centered.
![image](https://user-images.githubuserconten

[2021-02-26 02:20] dhiru9599 commented on #49
I want to work on this issue.is it still open?

[2021-02-26 02:26] dhiru9599 commented on #2125
I want to work on this, can I?

[2021-02-27 09:56] satu0king commented on #1774
The database can maintain it as forked, that shouldn't be a big deal. The key point is it should show copy only if the circuit is owned by the current user. Otherwise it should be fork.

[2021-02-27 09:59] #2125 closed

[2021-02-27 10:02] satu0king commented on #2091
Closing this issue for now

[2021-02-27 10:02] #2091 closed

[2021-02-27 11:29] satu0king commented on #49
Yes, this issue is still open. Please send in a PR. Thanks!

[2021-02-27 11:51] #1763 closed

[2021-02-27 11:52] satu0king commented on #850
Please check the comments on #865 for further details regarding this issue.

[2021-02-27 11:54] srishty-07 commented on #49
I would like to work on this issue could you please tell how to proceed , like what necessary changes are  to be made.

[2021-02-27 11:55] satu0king opened #2128 "Improve Webpacker Configuration"
1. Remove duplicate jquery import
1. Move jquery ui to webpacker
1. Add canvas2svg to the bundle
1. Add webpack analyser plugin
1. Move webpack dir to simulator

Reference PR: https://github.com/CircuitVerse/CircuitVerse/pull/1601
Note: Reference PR was closed as it became stale and was difficult to use it directly

[2021-02-28 10:34] #2026 closed

[2021-03-01 07:20] shubhankarsharma00 commented on #438
@satu0king we have a fix for this in #472 we can implement the fix or close this issue.

[2021-03-01 11:46] MrBartusek commented on #850
@satu0king I personally don't like text input, to be honest, it will look wired, uncompleted, and unprofessional. The better idea is to maybe use a simpler button-based selector with the ability to use full-size selection hidden somewhere?

![image](https://user-images.githubusercontent.com/23432278/109492881-ee2e8100-7a8b-11eb-9014-0c04b3991fad.png)

[2021-03-07 07:55] #1774 closed

[2021-03-08 03:22] Sickaada opened #2138 "Radio button for Web Push enable and disable"
**Is your feature request related to a problem? Please describe.**
Right now,  the user has to disable notifications using chrome settings.

**Describe the solution you'd like**
Create a radio button that should be able to enable and disable notifications in a jiffy.

**Are you working on this? (Yes/No)**
Yes

[2021-03-09 12:58] devartstar opened #2145 "Improper Positioning of the Context Menu"
Its observed that on the simulation Page on Right-clicking and opening the context menu, it always open below the point of click which sometimes results in it being hidden.
A clear and concise description of what the bug is.

Steps to reproduce the behavior:
1. Simulation Page
2. Right mouse click on the bottom part of the page
3. The some part context menu is hidden

The context menu should be di

[2021-03-09 13:04] devartstar commented on #2145
I am working on this issue.

[2021-03-11 17:50] vmk8826 commented on #2128
assign it to me please

[2021-03-11 17:51] vmk8826 commented on #1894
assign it to me please.

[2021-03-11 18:40] vmk8826 commented on #2128
assign it to me please

[2021-03-11 19:10] vmk8826 commented on #1938
assign it to m please

[2021-03-11 19:16] vmk8826 commented on #1892
can I work on this

[2021-03-12 03:38] pavanjoshi914 commented on #1938
I was busy in my semesters for a while.. @vmk8826 if you want to complete it please proceed

[2021-03-12 03:47] vmk8826 opened #2147 "Move the space around by two finger on mousepad."
**Describe the bug**
When we keep our two fingers on the mousepad and try to move the space around, the application instead zooms the wok area

**Expected behavior**
When two fingers are kept on the mousepad and they are moved, the work area should move instead of it zooming.

**Screenshots**
![mousepad](https://user-images.githubusercontent.com/68069180/110889238-ca80fb80-8313-11eb-8e40-36dafe572

[2021-03-12 03:49] vmk8826 commented on #2147
please assign it too me, I wish to work on it.

[2021-03-12 05:24] vmk8826 commented on #1938
okay @pavanjoshi914  can you tell me about the progress you have made until now

[2021-03-12 07:25] ayan-biswas0412 commented on #2057
@pavanjoshi914 can you elaborate me more on this I think I can fix it

[2021-03-12 08:56] ShreyaPrasad1209 commented on #2147
@vmk8826 you can start working on it

[2021-03-12 08:58] ShreyaPrasad1209 commented on #2108
@devartstar mention this issue in your PR

[2021-03-12 08:58] vmk8826 commented on #2147
can please point me to the file where I should start from. It will be very helpful.

[2021-03-12 09:06] ShreyaPrasad1209 commented on #2147
@vmk8826 you can see that yourself using Dev Tools

[2021-03-12 09:13] vmk8826 commented on #2147
Can you assign it to me please. I am new to this code base, I don't completely understand what you mean by dev tool, are you talking about VStudio and Gitpod.

[2021-03-12 13:38] CoderMayhem commented on #1766
Has there been any developement regarding this issue? If not I would like to take it up @satu0king . Kindly let me know.

[2021-03-12 13:54] ShreyaPrasad1209 commented on #2147
@vmk8826 you can start working on this issue, it doesn't need to be explicitly assigned. For understanding the codebase, you need to have prior knowledge of Ruby on Rails (RoR). You can find the resources to learn in #random channel on Slack. To access Dev Tools, right click on the page that you want to work on and select inspect element.
You can learn all these things yourself by Googling and You

[2021-03-12 13:57] vmk8826 commented on #2147
sure thanks.

[2021-03-13 07:49] Aayush-hub opened #2149 "Add hover effect to social icons"
**Is your feature request related to a problem? Please describe.**
Add hover effect to social icons in footer section.

**Are you working on this? (Yes/No)**
Yes

[2021-03-13 07:51] Aayush-hub commented on #2149
I am working on this , can it be assigned to me?

[2021-03-13 08:18] #2128 closed

[2021-03-13 10:25] pavanjoshi914 commented on #2057
we already have an api developed for mobile app. in short the feature which is integrated in the site we have to add same feature in api, so that mobile app users can make a use of it.please visit above mentioned pr and discussions .Thanks

[2021-03-13 11:32] koolgax99 opened #2150 "Describing Gates using IC Numbers"
**Is your feature request related to a problem? Please describe.**
No, it is not a  problem but the current site does not identify the component by its IC number. It just identifies the component by its name. We can make it more interesting and technical by introducing the IC number feature.

**Describe the solution you'd like**
I want to add a feature of describing or identifying each gate or com

[2021-03-15 14:13] Blakelist7 opened #2164 "Better documentation for Docker"
**Is your feature request related to a problem? Please describe.**
I think some might be facing trouble while setting up CircuitVerse through docker, (to be honest I faced a lot as new to docker)

**Describe the solution you'd like**
A simple and brief docker installation docs would do the job.

**Are you working on this? (Yes/No)**
yes

[2021-03-15 16:23] ayan-biswas0412 commented on #2164
@Blakelist7 can you explain what kind of problem you faced ? like I have also setup the codebase using docker but I have not got any problem .

[2021-03-15 16:32] Blakelist7 commented on #2164
@ayan-biswas0412  see for someone like me who isn't familiar with docker may face trouble installing docker since as far as I am aware there are different aspects to docker so I want to make a documentation that you can use and directly setup docker. I have requested a PR also.You can look into it for more info.
https://github.com/CircuitVerse/CircuitVerse/pull/2165

[2021-03-15 17:28] danieltak opened #2166 "Graph of time (Scope)"
**Is your feature request related to a problem? Please describe.**

Falstad has a graph for each element or you can input a Scope to plot a time diagram of the circuit.
I think it is really helpfull and educational.

**Describe the solution you'd like**

As in Falstad (https://www.falstad.com/circuit/circuitjs.html) or Github (https://github.com/pfalstad/circuitjs1/commits/master), you could add o

[2021-03-16 05:43] ashutosh264 commented on #2149
Can I work on this?

[2021-03-16 05:44] ashutosh264 commented on #2117
Is this issue still open?

[2021-03-16 05:44] ashutosh264 commented on #2138
Can I work on this issue?

[2021-03-16 07:26] ShreyaPrasad1209 commented on #2149
@Aayush-hub what's the status on this issue?

[2021-03-16 08:34] ShreyaPrasad1209 commented on #2147
@vmk8826 I checked and looks like this is not a bug but an expected behaviour so this issue can be closed

[2021-03-16 08:37] vmk8826 commented on #2147
okay

[2021-03-16 08:37] #2147 closed

[2021-03-16 08:53] Aayush-hub commented on #2149
@ShreyaPrasad1209 Can be assigned to @ashutosh264

[2021-03-16 08:57] silentC1C4D4 commented on #2138
I am working on it. The thing is, there is some other problem with Push notifications. I need to fix that before working on this.

[2021-03-16 09:02] ShreyaPrasad1209 commented on #2149
@ashutosh264 you can work on it

[2021-03-16 13:09] Aayush-hub commented on #2149
@ashutosh264 Good luck. Happy Coding :)

[2021-03-17 20:27] devartstar commented on #2108
@ShreyaPrasad1209 I closed the previous PR and created a new one with few changes in code. Can you please check if it good enough to merge.

[2021-03-19 17:31] ayan-biswas0412 commented on #2150
I think this is exactly replica of my issue 😜 #2112

[2021-03-19 18:16] ashutosh264 commented on #2149
Added hover effect to social icons. Improvised a bit & made changes according to theme. Please suggest if any more modifications needed.
@ShreyaPrasad1209 @Aayush-hub
Sorry for delayed response.

[2021-03-20 14:27] shubhankarsharma00 commented on #2166
In the misc submenu we have an element called "Flag" it does something similar and plots timing graphs. You can visualize these graphs by opening timing graph menu as in the photo.
![image](https://user-images.githubusercontent.com/32474302/111873477-68c92d00-89b6-11eb-918c-ce3880723ab4.png)
Is this your feature request

[2021-03-21 14:52] #1708 closed

[2021-03-22 13:52] koolgax99 commented on #1892
any updates on this issue? i want to work on this issue

[2021-03-22 17:23] jknechtel commented on #1892
AFAIK, no updates yet. At least from my end, I'd appreciate if you guys want to tackle this.

[2021-03-24 10:33] two-ticks opened #2188 "logo is not loading in wiki/GSoC'21-Project-List"
**Describe the bug**
The circuitverse logo is not loading in wiki/GSoC'21-Project-List page and all other wiki pages

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/CircuitVerse/CircuitVerse/wiki
3. Scroll down to 'About'
4. See error

**Expected behavior**
Logo of CircuitVerse logo should be loaded

**Screenshots**
<img src="https://user-images.githubusercontent.com

[2021-03-25 08:10] pranay-simejia commented on #2188
go ahead and send a PR.

[2021-03-26 04:55] vijay938 commented on #1720
I want to work on this issue

[2021-03-26 12:06] gr455 commented on #1720
I think this issue is already fixed

[2021-03-26 12:06] #1720 closed

[2021-03-26 14:14] ayan-biswas0412 commented on #2188
@Shivansh2407 @satu0king please take a note of this the wiki really looks bad for this
<img width="934" alt="image" src="https://user-images.githubusercontent.com/52851184/112644697-b4268400-8e6b-11eb-9662-ed8955746ec7.png">

[2021-03-26 15:51] Dnouv commented on #2145
@devartstar, sorry for the interruption, but are you still working on this issue?

[2021-03-26 18:06] devartstar commented on #2145
yeah, I am working on this ... will generate a PR soon!

[2021-03-26 19:29] anmolkohli13 commented on #2004
@tachyons I would like to work on this issue if it is still open.

[2021-03-27 06:33] satu0king commented on #2188
Thanks for reporting this. I have resolved it temporarily now.

[2021-03-27 06:33] #2188 closed

[2021-03-27 10:01] pranay-simejia opened #2190 "Support more time units in clock time."
**Is your feature request related to a problem? Please describe.**
I don't particularly appreciate it when I have to play with units in my assignments. The clock time here only supports milliseconds.

**Describe the solution you'd like**
Implementing a dropdown to switch between units of clock time.

**Additional context**
![image](https://user-images.githubusercontent.com/70064696/112717232-46cd2

[2021-03-27 10:13] pranay-simejia opened #2191 "property panel disappears."
**Describe the bug**
Properties panel vanishes on selecting and pressing delete key and then re-appears.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org/simulator.'
2. Shift + drag on property table and keep the cursor on the table itself.
4. See the table vanish and re-appear.

**Expected behavior**
The circuit below the table should be selected.

**Gif**
![b

[2021-03-27 18:42] anmolkohli13 commented on #2191
@pranay-simejia I tried to reproduce the behavior but the property table didn't disappear .

[2021-03-28 18:22] anmolkohli13 opened #2194 "Making cards fro all the contributors in about page"
**Is your feature request related to a problem?**
 Yes it is related to #2005 and #2041

**Describe the solution you'd like**
I think that rather than creating a markdown page for the contributors as stated in #2005 or creating a page like #2041 the contributor's page or in the about page itself the contributors should be displayed by making cards for each contributor. For example: check https://h

[2021-03-30 08:25] saumyasrivastava08 commented on #1880
Can I start on this I have specific designs for this whole lms integration system

[2021-03-30 08:41] tachyons commented on #1880
As this is now marked as a gsoc project, we can't assign this task to anyone. But you can consider making a proof of concept implementation if you're applying for gsoc with this task

[2021-03-30 08:46] saumyasrivastava08 commented on #1880
Yeah I have submitted the whole design and the structure which we will be using drafted the proposal.

[2021-03-30 17:18] anmolkohli13 opened #2197 "Utility bar in simulator not visible on mobile devices"
**Describe the bug**
The utility bar which provides options such as saving offline, online, fit to screen, etc. is not available on mobile devices.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the link https://circuitverse.org/simulator on any mobile device
2. See that the utility bar is not visible

**Expected behavior**
The utility bar should be visible between the timing diagram s

[2021-03-31 09:34] pranay-simejia commented on #2197
Please attach a relevant screenshot for this issue.

[2021-03-31 10:24] pranay-simejia commented on #2197
Send a PR for this; mentors would be busy currently reviewing the proposals.

[2021-03-31 10:48] pranay-simejia opened #2198 "Make error message user friendly."
**Describe the bug**
on setting ConstVal to except 1/0, the Contention error of NaN and NaN at ConstVal shows up.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[simulator](https://circuitverse.org/simulator)'
2. Click on 'select a ConstVal input.
3. Double click the Const Val input and set value except 1/0.
4. See an error.

**Expected behavior**
A user-friendly error message like,

[2021-03-31 11:54] humble-barnacle001 opened #2199 "Render as an image issue"
**Describe the bug**
When exporting a circuit as a png or jpg or any image format, the labels are not included in the rendered image even if "full-circuit view" is selected

**To Reproduce**
Steps to reproduce the behavior:
1. Export any circuit as image which has any element whose label is very long and on the extreme left or right side.
2. Select "full-circuit view" instead of "current view" and

[2021-03-31 12:13] humble-barnacle001 opened #2200 "Clock time displayed is half of the actual time period"
**Describe the bug**
The displayed clock pulse on the right side panel is wrong

**Expected behavior**
The clock time (ms) displayed is only half of the actual working clock. For example, if the clock pulse is set to 500ms, the time period of the working clock pulse is actually 1s on the platform.

**Device Information [optional]:**
 - OS: Win 10
 - Browser: Chrome
 - Version: 89

**Additional con

[2021-03-31 17:05] ZadeAbhishek commented on #2199
@humble-barnacle001 can I work on this issue .

[2021-04-01 07:33] humble-barnacle001 commented on #2199
I'm not working on it so you can ofc

[2021-04-01 10:05] ZadeAbhishek commented on #2199
okay @humble-barnacle001

[2021-04-01 11:48] ryuk156 opened #2202 "Text and Icon not aligned on issue reporting tool"
**Describe the bug**

![image](https://user-images.githubusercontent.com/49101492/113289539-f9383380-930d-11eb-80be-991172c92a4b.png)

**Expected behavior**
![image](https://user-images.githubusercontent.com/49101492/113289667-21279700-930e-11eb-9e61-33326a069064.png)

**Device Information [optional]:**
 - OS: Ubuntu 18.04
 - Browser: Firefox

**Are you working on this issue? (Yes/No)**
NO

[2021-04-02 11:41] pranay-simejia opened #2203 "clashing inputs on generating 2 combinational circuits"
**Describe the bug**
Simulator overwrites the first input element when generating 2nd combinational circuit with different boolean variables.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[simulator](https://circuitverse.org/simulator)'
2. Click on 'tools>combinational analysis.'
4. Create a combinational circuit with boolean variables A, B, C ... and generate a circuit.
5. Repeat s

[2021-04-03 09:44] ZadeAbhishek commented on #2203
Hey @pranay-simejia  can i work on this issue

[2021-04-03 10:26] pranay-simejia commented on #2203
Sure, go-ahead. @ZadeAbhishek

[2021-04-04 06:54] ShreyaPrasad1209 commented on #2194
@anmolkohli13 markdown style is consistent with GitHub and easy to use that's why we are going with it. Feel free to work on #2005

[2021-04-04 12:51] anmolkohli13 commented on #2194
@ShreyaPrasad1209 can you please confirm what kind of page has to be made as in the thread of #2005 @satu0king asked to make an HTML webpage and after that, there was again a discussion about creating a markdown page.
Thanks in advance

[2021-04-04 12:55] ShreyaPrasad1209 commented on #2194
@anmolkohli13 the markdown page will be rendered as HTML page, similar to CircuitVerse's Blog.

[2021-04-04 14:50] anmolkohli13 commented on #2194
@ShreyaPrasad1209 ok working on it

[2021-04-05 12:27] Sukriti-sood commented on #2202
@ryuk156 Can i work on this issue

[2021-04-08 19:03] abhishek-iiit commented on #2202
While file check at PR, I encountered one error "AppVeyor build failed ".
Could you please help me out with solving this issue. I still can't get why the check failed.
Thanks in advance

[2021-04-08 19:08] ryuk156 commented on #2202
@abhishek-iiit did you check "AppVeyor build failed" details?

[2021-04-08 19:28] abhishek-iiit commented on #2202
Actually, I didn't know why did it fail.
Here's the screenshot of the error ,I did face
![Screenshot from 2021-04-09 00-55-25](https://user-images.githubusercontent.com/69477761/114085116-8fe88f80-98ce-11eb-9c06-188e09f5395a.png)

[2021-04-12 08:24] jokerJun00 commented on #2197
@anmolkohli13 Can I fix this issue?

[2021-04-12 19:51] pranay-simejia opened #2212 "Broken icons"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ['sign_in page'](https://circuitverse.org/users/sign_in)
2. See an error
3. Go to [footer](https://circuitverse.org/)
4. See an error

**Expected behavior**
 Icons should be loaded.

**Screenshots**
![image](https://user-images.githubusercontent.com/70064696/11445283

[2021-04-13 02:28] silentC1C4D4 opened #2213 "WebPush Subscription failed"
**Describe the bug**
After one cycle of Subscription and Unsubscription to web push notifications, it gives an internal server error when tested for the notification.

**To Reproduce**
Steps to reproduce the behavior:
1. Subscribe to the notification by navigating to Username/Notifications.
2. Then click on Test. You will receive a notification.
3.  Block the notifications again from chrome settin

[2021-04-13 08:42] felixschlegel opened #2215 "Combinational Analysis Tool: Circuits generated over existing circuits"
**Describe the bug**
In the Combinational Analysis tool, I realised that there is the following issue:

When generating a circuit from a truth table, no respect is paid to existing elements already placed inside of the editor. Therefore the generated circuit is drawn over existing circuits, which is often unpleasant for the user.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the htt

[2021-04-13 08:45] ZadeAbhishek commented on #2215
this issue already exist #2203

[2021-04-13 08:46] felixschlegel commented on #2215
Sorry for the duplicate

[2021-04-13 08:46] #2215 closed

[2021-04-13 14:40] mahendrarathore1742 opened #2216 "UI Feature"
Ui Feature is redesign of all ui because we wanna good looking and rich ui drag and drop utility.

[2021-04-14 13:16] anmolkohli13 commented on #2216
@mahendrarathore1742 this issue is already being addressed in the project for making the website touch compatible.

[2021-04-14 13:19] anmolkohli13 commented on #2212
@pranay-simejia can you mention in which OS and browser are you experiencing this?

[2021-04-14 14:15] pranay-simejia commented on #2212
windows and chrome @anmolkohli13

[2021-04-14 15:31] anmolkohli13 commented on #2212
@pranay-simejia are you experiencing this issue every time you open the sign-in page? Also, I am not able to reproduce the error 🤔maybe this happened due to some network issue

[2021-04-14 23:16] tachyons opened #2218 "Bump omniauth version"
Omniauth need to be upgraded to 2.x to fix a vulnerability. But this requires some code changes. Refer #2207

[2021-04-15 15:03] pranay-simejia commented on #2212
@anmolkohli13 yes, I even tried clearing my cache and cookies.
But I didn't face the same issue in any other browser. You got on how to fix this, or should I close this issue?

[2021-04-15 15:46] anmolkohli13 commented on #2212
I am not facing this issue nor able to reproduce it. I think if you continue to face this issue and others face it too then you should work on fixing this otherwise close this issue.

[2021-04-15 15:48] anmolkohli13 commented on #2218
@tachyons can you tell if we have to make the same changes as the bot or update it manually?

[2021-04-15 16:18] tachyons commented on #2218
Simply updating gem version is not enough as the omniauth 2.0 is not backward compatiable. See the failing specs from the linked PR

[2021-04-18 20:49] #2212 closed

[2021-04-20 17:56] lukasz-zaroda commented on #1493
This is one of the most annoying things about CircuitVerse right now. If not few features that I need, it would totally turn me away.

[2021-04-23 05:39] pavanjoshi914 commented on #2218
I can't see any specs failing in appveyor logs.
similar error  ```Gem::Ext::BuildError: ERROR: Failed to build gem native extension.```  was encountered on my local machine when working with jekyll gem which was solved after installing g++ compiler.
any further ideas how to proceed for it?

[2021-04-23 05:42] tachyons commented on #2218
Check circleci logs

On Fri, 23 Apr, 2021, 11:09 am pavan, ***@***.***> wrote:

[2021-04-28 10:04] nitin10s opened #2227 "Add search icon in search file - User dashboard"
**Describe the bug**
The search field lacks a search icon which could help users easily identify it as a search field

**To Reproduce**
![image](https://user-images.githubusercontent.com/16988558/116386081-1392fd80-a837-11eb-8814-2d4844a39021.png)

**Are you working on this issue? (Yes/No)**
No, a good first issue

[2021-04-28 16:55] jokerJun00 commented on #2227
@nitin10s Can I work on this issue?

[2021-04-28 17:46] Whitroy commented on #2199
@ZadeAbhishek  Are you working on it?

[2021-04-28 17:47] Whitroy commented on #2198
Can I work on it?

[2021-04-28 21:02] #2164 closed

[2021-04-28 21:26] pranay-simejia commented on #2198
sure, go ahead. @Whitroy

[2021-04-30 09:21] Whitroy commented on #2198
@pranay-simejia  Hey, I have searched some of the simulators' code but I didn't find the error handling file. Could you help me out?

[2021-04-30 10:19] shubhankarsharma00 commented on #2227
@jokerJun00 I think you should go ahead and start working on this 😄

[2021-04-30 14:36] nitin10s commented on #2227
Yes please, sorry for the late reply!

[2021-05-01 12:24] pranay-simejia commented on #2198
Error is fired from /simulator/src/node.js line 390. You can find the showError function in /simulator/src/utils.js line 47. All the best,. @Whitroy

[2021-05-02 01:39] jokerJun00 commented on #2227
Alright, I make a pull request but I am not sure why I cannot pass AppVeyor

[2021-05-02 14:13] Whitroy commented on #2198
@pranay-simejia thanks for the above help. One more question, What are the other possibilities to get contention error?

[2021-05-02 18:52] pranay-simejia commented on #2198
you can read about it here. [error messages](https://github.com/pranay-simejia/CircuitVerseDocs/blob/GSoD2020/docs/chapter8/3cverrormessages.md) @Whitroy

[2021-05-04 04:33] pavanjoshi914 commented on #2227
pull requests must be linked with the respective issue  for easy to refer and automated closure of issue after merge

[2021-05-04 10:24] pranay-simejia opened #2236 "Support to download/upload circuits."
**Is your feature request related to a problem? Please describe.**
Save offline button stores the circuit data on the localStorage of the browser. The user's circuit is lost if the user clears browsing data.

**Describe the solution you'd like**
A file should be download to the user's local PC, which the user could upload to the simulator again. By this, the user could also share their circuits wi

[2021-05-05 08:52] tachyons commented on #2236
This one of the feature we wanted with Desktop app. So the downloaded file need to be compatible with Desktop version as well. Also, when we allow file upload more restrictions like file size need to in place

[2021-05-05 08:56] tachyons opened #2237 "Update hosting sponsor image"
Circuitverse is currently hosted using the credits from aws. So we need to update Digital ocean Logo with aws logo in the footer

[2021-05-05 10:19] pranay-simejia commented on #2237
Can I work on this issue? @tachyons

[2021-05-05 11:16] tachyons commented on #2237
Sure

On Wed, 5 May, 2021, 3:49 pm pranay-simejia, ***@***.***>
wrote:

[2021-05-05 12:45] pranay-simejia commented on #2236
Desktop App has already integrated this feature. It uses *.json format to store files locally, so I would move forward with .json format for the WebApp to make it compatible both ways. What should be the max file size uploading limit?

[2021-05-05 14:42] #2237 closed

[2021-05-05 14:45] tachyons commented on #2236
You can set limit as 5MB for now

[2021-05-07 11:13] pranay-simejia opened #2242 "deleteOfflineProject not a function."
**Describe the bug**
When deleting an offline project in the openOfflineProject prompt, the browser console throws an uncaught ReferenceError.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the simulator
2. Create multiple projects and save them offline.
3. Click on projects > Open Offline button.
4. Click the delete button and see an error in the browser console.

**Expected behavior

[2021-05-08 14:02] sal2701 opened #2245 "Add option for mentors to grade privately and publish later"
**Is your feature request related to a problem? Please describe.**
Many mentors prefer the following
- Grade in batches : So, random students end up seeing the grades
- Grade in private in an Excel Sheet : So as to not share these partial grades with students. A final grade is released towards the end of the course.
- Grade privately and release at once : This is done to ensure uniformity while re

[2021-05-14 13:50] devartstar opened #2251 "Navbar disappears during Tutorial Guide"
**Describe the bug**
Navbar disappears during Tutorial Guide after clicking next for the Time Diagram Panel

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Help on Navbar
2. Chick on Tutorial Guide
3. Click Next, Next for the guide
4. After clicking next for the Time Panel the Navbar disappears suddenly.

**Expected behavior**
The Navbar should have remained in its place.

**Screens

[2021-05-19 09:55] deepaahuja92 commented on #2251
I am interested in this project.Please assign this issue to me.

[2021-05-19 09:56] deepaahuja92 commented on #2242
I want to work on this issue.Please assign this issue to me.

[2021-05-19 09:57] deepaahuja92 commented on #2227
I want to work on this issue.please assign this issue to me.

[2021-05-19 09:59] deepaahuja92 commented on #2149
I want to work on this issue.Please assign this issue to me.

[2021-05-19 10:14] deepaahuja92 commented on #2149
Working on this issue

[2021-05-19 11:05] devartstar commented on #2251
Hi @deepaahuja92 , I have already created a pull request for this issue...waiting for a review of mentors.

[2021-05-19 14:53] nitin10s commented on #2227
@jokerJun00 are you still working on this issue? Otherwise @deepaahuja92 can take this up

[2021-05-19 15:26] pranay-simejia commented on #2242
@deepaahuja92 go ahead, atb!

[2021-05-19 15:49] deepaahuja92 commented on #2227
Thank you very much

On Wed, May 19, 2021 at 8:44 PM Choon Kiat Lim ***@***.***>
wrote:

[2021-05-19 15:53] deepaahuja92 commented on #2242
Thank you for assigning this issue to me.

[2021-05-20 04:15] deepaahuja92 commented on #2242
@pranay-simejia sir I am having problem in opening this website in gitpod please can you help me with it..when I am trying to access it,it is just showing the folders and not the actual website.

[2021-05-20 05:20] Anshnrag02 commented on #2227
Can I work upon it?

[2021-05-20 06:05] pranay-simejia commented on #2242
Could you try running the repo locally? https://github.com/CircuitVerse/CircuitVerse/blob/master/SETUP.md

[2021-05-21 11:15] nitin10s commented on #2227
@deepaahuja92 is taking this up @Anshnrag02

[2021-05-26 15:50] nitin10s opened #2264 "Fixing Features section"
The features section has very big icons and large padding. Fixing these would make the section appear better. We can aim for something like 50% icon width and removing the Y-padding from the card-body

![image](https://user-images.githubusercontent.com/16988558/119691279-10a42080-be68-11eb-956d-b443fe583950.png)

[2021-05-26 15:52] Anshnrag02 commented on #2264
Kindly assign

[2021-05-29 05:45] shubhankarsharma00 opened #2267 "Better Error Reporting when loading or saving projects."
**Is your feature request related to a problem? Please describe.**
Sometimes while saving or loading a project there are some problems. This can happen due to a node that was deleted but due to some reason it is still present in the subcircuit included another circuit. There are some reasons which are still unknown. In case any such error happens the project just keeps on loading and no error is r

[2021-05-29 22:13] ayan-biswas0412 opened #2268 "Can we have a link of Blog in nav and footer"
**Is your feature request related to a problem? Please describe.**
There is no direct link of CircuitVerse blog site available in the navbar as well as footer in the main website of CircuitVerse

**Describe the solution you'd like**
Like to add Blog in the nav and footer which will redirect users to https://blog.circuitverse.org

**Are you working on this? (Yes/No)**
No , but looking for inputs

[2021-05-29 22:13] ayan-biswas0412 commented on #2268
@ShreyaPrasad1209 @Shivansh2407 @satu0king can you give your suggestions ?

[2021-06-02 11:04] satyampgt4 commented on #2190
I like to work on it .

[2021-06-03 09:12] deo002 commented on #2264
Are you still working on this issue?

[2021-06-03 09:25] Anshnrag02 commented on #2264
@deo002 I am really sorry I was unable to inform but I am stuck up in some emergency and wont be able to work on it for the time being. Once again really sorry

[2021-06-03 10:51] deo002 commented on #2264
Ok. I'll work on it then. @Anshnrag02

[2021-06-03 14:58] prashantpandey9 commented on #2268
@ayan-biswas0412  I can add these links to Navbar and footer.  Can I work on this?

[2021-06-03 15:00] ayan-biswas0412 commented on #2268
ofc you can work on, but this issue is awaiting approval from official maintainers, your work will be merged if and only if this issue is approved

[2021-06-04 04:58] prashantpandey9 commented on #2268
@ayan-biswas0412 Okay I can wait till then. After approval, I will work on this issue.

[2021-06-05 08:21] ShreyaPrasad1209 commented on #2268
We can do this. I've added good first issue for a special project and is currently not open for contributors.

[2021-06-05 08:23] #2216 closed

[2021-06-05 08:25] ShreyaPrasad1209 commented on #2194
I've added good first issue label for a special project and is currently not open for contributions.

[2021-06-05 08:27] ShreyaPrasad1209 commented on #2005
I've added good first issue label for a special project and is currently not open for contributions.

[2021-06-05 08:43] ShreyaPrasad1209 commented on #1966
I've added good first issue for a special project and is currently not open for contributors.

[2021-06-05 08:46] ShreyaPrasad1209 commented on #2198
I've added good first issue for a special project and is currently not open for contributors.

[2021-06-05 08:48] ShreyaPrasad1209 commented on #2117
This issue is being worked on as part of our GSoC project - Compatibility with Touch Devices. I will close this issue.

[2021-06-05 08:48] #2117 closed

[2021-06-05 08:52] ShreyaPrasad1209 commented on #2197
I've added good first issue for a special project and is currently not open for contributors.

[2021-06-05 08:54] ShreyaPrasad1209 commented on #2065
This issue has been resolved so I'm closing it.

[2021-06-05 08:54] #2065 closed

[2021-06-08 15:31] beverleyokogwu commented on #2095
May I take this issue?

[2021-06-10 08:29] ritika99 opened #2278 "Fix: password input on login and signup pages"
**Describe the bug**
The input element in div form-input for the password in login and signup is overflowing. This hides the bottom border of form-input.
#
**Expected behavior**
The border is visible properly and the height of the input element should fit inside the div form-input.

**Screenshots**
<img width="1017" alt="login" src="https://user-images.githubusercontent.com/35415933/121490504-b6bc

[2021-06-12 07:30] ShreyaPrasad1209 commented on #2264
@nitin10s do you want to merge the PR and close this issue? Else I will reserve it for open source day.

[2021-06-16 11:02] deepaahuja92 commented on #2149
#2286 Kindly review my PR. I have added the hover effect to social icons.

[2021-06-17 05:50] pavanjoshi914 opened #2288 "Status of Localization of Views - GSOC ' 2021 - pavanj"

[2021-06-17 07:38] ShreyaPrasad1209 opened #2290 "Broken checkboxes in firefox"
**Describe the bug**

Checkboxes are broken in Firefox browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Login Page](https://circuitverse.org/users/sign_in)
2. Scroll to see "Remember Me" option
3. See error

**Expected behavior**

![image](https://user-images.githubusercontent.com/43600306/122352525-d3b1e200-cf6c-11eb-8bc8-9cfe46d09a70.png)

**Screenshots**

<img width="963" a

[2021-06-17 14:35] MadhuNimmo opened #2291 "Side Bar Item "Circuit Elements" Format Mismatch"
**Describe the bug**
Side Bar Items Format Mismatch

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.circuitverse.org/#/
2. Scroll down to Circuit Elements
4. You will see Circuit Elements in bold and the sub-menu visible.

**Expected behavior**
Circuits Elements format should comply with others.

**Screenshots**
<img width="1436" alt="Screenshot 2021-06-17 at 10 05 55 AM"

[2021-06-18 03:14] #2291 closed

[2021-06-18 03:27] dineshkumar12004 commented on #2290
can i work on this issue ?

[2021-06-18 05:16] ShreyaPrasad1209 commented on #2290
Hi @dineshkumar12004, as mentioned above this issue is reserved for a special project and is not open for contributions at the moment. You can check out other issues and contribute 😊

[2021-06-18 05:56] dineshkumar12004 commented on #2290
okay cool :)

[2021-06-18 06:08] dineshkumar12004 commented on #2278
can i work on this issue? I'm on windows I can see the same bug too.
![image](https://user-images.githubusercontent.com/67814205/122514474-a70fd000-d029-11eb-8b34-4722263fe94e.png)

[2021-06-19 17:40] AshuKV commented on #2278
I want to work on this issue. Please assign this issue to me.

[2021-06-19 17:40] AshuKV commented on #2267
I want to work on this issue. Please assign this issue to me.

[2021-06-19 18:47] shubhankarsharma00 commented on #2267
@AshuKV ok but This will be a medium-hard level difficulty because you'll need to understand the errors occuring in the simulator for which you can go to stimulator-issues channel on circuitverse slack. Beware this is tougher then it looks.

[2021-06-20 12:48] ayan-biswas0412 opened #2296 "CI continuous-integration/appveyor/pr failing every time"
**Describe the bug**
One of the CI is failing for every PR

**To Reproduce**
make a simple PR and see the error of the ```continuous-integration/appveyor/pr```

**Screenshots**
here is a  failed log for one of my PR
<img width="966" alt="image" src="https://user-images.githubusercontent.com/52851184/122674672-da05bf80-d1f3-11eb-80ec-afd0af2ed7a2.png">

**Additional context**
N/A

**Are you working

[2021-06-21 12:59] ShreyaPrasad1209 commented on #2296
@ayan-biswas0412 yes I have noticed this. Even with minor changes this CI fails. @tachyons what's the purpose of this CI and do we really need this? Or can we make do with some alternative solution?

[2021-06-21 13:02] Shivansh2407 opened #2299 "Navbar disappears after the tutorial guide is launched"
**Describe the bug**
When the Tutorial guide is Launched, and it reaches the report system step, the navbar automatically disappears and does not show up until I refresh the page. Refer to the screenshots for more information.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org/simulator'
2. Click on 'Help' -> 'Tutorial Guide'
3. Click on next until you reach repo

[2021-06-21 13:03] Shivansh2407 commented on #2299
@satu0king @abstrekt please have a look at this.

[2021-06-21 13:11] tachyons commented on #2296
Appveyor is to ensure that circuitverse is working fine in windows environment. It started failing since the mimemagic update which made configuration on Windows difficult.

[2021-06-25 12:08] ShreyaPrasad1209 commented on #2191
@pranay-simejia should I close this issue?

[2021-06-25 12:09] #2040 closed

[2021-06-25 12:11] #2047 closed

[2021-06-25 12:14] ShreyaPrasad1209 commented on #1766
@satu0king @tachyons can we add this under good first issues?

[2021-06-25 12:15] #1627 closed

[2021-06-25 12:18] ShreyaPrasad1209 commented on #1658
@aayush-05 does this issue requires help?

[2021-06-25 12:20] ShreyaPrasad1209 commented on #898
@tachyons @YashKumarVerma is this still active?

[2021-06-25 12:36] ShreyaPrasad1209 opened #2304 "Resize width of search filter according to content"
**Describe the bug**

Currently we have two search filters in CircuitVerse - Users and Projects. On selecting Projects, some of the letters get hidden.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org/'
2. Click on the search icon
3. On the left side, you'll see a filter. Choose Projects.
4. See that "s" hidden partially.

**Expected behavior**

The box should

[2021-06-26 17:56] lonwabo-mnyaiza commented on #2304
@ShreyaPrasad1209 can I work on this if no one has picked it up already?

[2021-06-27 05:03] Mbiakop1 commented on #2304
Hello, recently worked on this. I made a pull request but I don't know why its not being accepted

[2021-06-28 05:43] pavanjoshi914 opened #2307 "Adding collaborator via link"
**Is your feature request related to a problem? Please describe.**
Currently we can add members to the group via invitation link , which is token based invitation system and expires every 7 days .
Similar functionality can be implemented for add collaborators modal.

**Describe the solution you'd like**
Adding functionality to add collaborators via invitation links

**Are you working on this? (Yes

[2021-06-29 08:51] devartstar commented on #2299
I had already created this issue - [Issue - 2251](https://github.com/CircuitVerse/CircuitVerse/issues/2251)
And also made a pull request solving it - [PR - 2253](https://github.com/CircuitVerse/CircuitVerse/pull/2253)

[2021-06-29 08:54] Shivansh2407 commented on #2299
Thank you @devartstar for the clarification and your contribution. Closing this issue. Please see #2251

[2021-06-29 08:54] #2299 closed

[2021-06-29 10:03] YashKumarVerma commented on #898
@ShreyaPrasad1209 I'm not sure whether someone worked on it/ is working on it. It was kinda put on host in the last gsoc season as testing and refactoring were considered a possible idea to be worked on, and therefore could not be done before GSoC.

We're in the second GSoC season after this issue was opened, so I'm not entirely sure of this. 😄

[2021-06-29 14:38] sonali-dudekula commented on #2304
@ShreyaPrasad1209 Can I please work on this issue?

[2021-06-29 14:45] sonali-dudekula commented on #2278
@ritika99 Can I please work on this issue?

[2021-06-30 06:33] ritika99 commented on #2278
Hey @sonali-dudekula and @AshuKV
Thank you for showing interest. However, I have resolved the issue and waiting for the PR to be merged.

[2021-06-30 08:53] Ayush7614 opened #2309 "Improve docs added more information in README about the project"
* In README there is very less information regrading project i think we have to improve that one

[2021-06-30 14:57] pranay-simejia commented on #2191
Yes, closing it. @ShreyaPrasad1209

[2021-06-30 14:57] #2191 closed

[2021-07-01 13:23] #2278 closed

[2021-07-02 04:34] itsij commented on #2304
I am an Open Source Day contributor. Plz assign this issue to me. I would like to resolve it on Open Source Day.

[2021-07-02 04:59] mgjain9871 commented on #2304
I would like to work on this issue on Open Source Day as an Open Source Day Contributor.
@ShreyaPrasad1209

[2021-07-03 14:54] ShreyaPrasad1209 commented on #2309
@Ayush7614 what exactly do you think we are missing?

[2021-07-03 21:46] astelrastogi commented on #2268
I want to work on this issue

[2021-07-04 04:16] Ayush7614 commented on #2309
Hey @ShreyaPrasad1209, maam thanku for replying I read the documentation and had the following observations

[2021-07-04 04:16] Ayush7614 commented on #2309
![image](https://user-images.githubusercontent.com/67006255/124373031-ad9a7a80-dcac-11eb-994c-552fb4bdd23f.png)

[2021-07-04 04:17] Ayush7614 commented on #2309
![image](https://user-images.githubusercontent.com/67006255/124373047-d3c01a80-dcac-11eb-9499-f17da4bd7528.png)

[2021-07-04 04:21] Ayush7614 commented on #2309
Like after the define of circuit verse we have added some bullet points with dots or stars like what we have cover
* Introduction
* Getting started this type this all things i have add and improved and added some more new features

[2021-07-04 04:22] Ayush7614 commented on #2309
If you assign me this issue then i will work on it surely it looks very good

[2021-07-06 04:42] ShreyaPrasad1209 commented on #2309
@Ayush7614 feel free to get started.

[2021-07-06 04:44] ShreyaPrasad1209 commented on #2307
@Shivansh2407 do you think we can add this to good first issues?

[2021-07-06 05:25] Shivansh2407 commented on #2307
Yes! As we need a functionality which is similar to the one already used by CircuitVerse in group invitation, so we can push it to the good first issues. I think a fix including the invitation functionality with minor tweaks with respect to collaborators would be good to go.

[2021-07-06 05:29] pavanjoshi914 commented on #2307
Contributor can refer this PR  and can understand the designing behind the feature https://github.com/CircuitVerse/CircuitVerse/pull/1997

[2021-07-06 14:48] AbhipsaGuru1012 commented on #2304
@ShreyaPrasad1209 can I work on this issue? I am an Open Source Day contributor

[2021-07-06 14:50] AbhipsaGuru1012 commented on #2290
@ShreyaPrasad1209 can I work on this issue? I am a contributor in Open Source Day

[2021-07-06 15:38] ayan-biswas0412 opened #2317 "Refractor the css in group.scss"
Firstly checkout to the ```lms-lti``` branch
see the file ```app/assets/stylesheets/groups.scss``` where the class named ```groups-lmsmodal-link-text``` need to be refractored.

the class name is too long refractor it as something like this
[code]

[2021-07-07 13:46] crudybagger commented on #2317
I'll work on this

[2021-07-08 12:50] tachyons opened #2321 "Improve notifications page"
Notifications page need a UI revamp to align with the rest of the Circuitverse pages.

- Fix title and headers
- Remove big browser notifications test button
- Other ux improvements

[2021-07-10 12:34] Ayushdubey86 opened #2322 "Minor Enhancement in README.md"
There are several minor issues in the README.md that need to be fixed for the enhancement of the documentation.

[2021-07-13 06:18] vidyasagar4069 commented on #2321
I would like to work on this, Please assign this to me

[2021-07-13 06:46] vidyasagar4069 commented on #2321
what changes would you like to see in this title and headers  and also what are you expecting in "Other ux improvements"

[2021-07-15 16:17] dineshkumar12004 commented on #2095
hey can i work on this ?

[2021-07-15 16:23] vvijayalakshmi21 commented on #2198
HI,
This needs just changing the error message to the specified text. Is that right?
https://github.com/CircuitVerse/CircuitVerse/blob/master/simulator/src/node.js#L390

[2021-07-15 16:28] itsij commented on #2304
Working on it

[2021-07-15 16:33] ankit80570 commented on #2227
I'm working on this for OSD.

[2021-07-15 16:36] vedant-jain03 commented on #2194
I want to work on this Issue.

[2021-07-15 16:37] vedant-jain03 commented on #2268
I want to work on this issue.

[2021-07-15 16:41] Shivansh2407 commented on #2268
Go ahead @vedant-jain03 :+1:

[2021-07-15 17:41] astelrastogi commented on #2268
@Shivansh2407 im working on this issue too

[2021-07-15 17:43] astelrastogi commented on #2268
can you tell which file is the homepage for this site in the repo? https://circuitverse.org/

[2021-07-15 17:44] Ansh7899 opened #2331 "Stuck while running the command docker-compose up"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
the localhost should run properly but its showing site can't be reached

**Screenshots**
![image](https://user-images.githubusercontent.com/63894658/125833258-f0afc380-252e-42d0-a29

[2021-07-15 17:48] ankit80570 commented on #2227
![image](https://user-images.githubusercontent.com/52366781/125833679-79202b70-c8df-4dfc-8808-1c5bedb09bd0.png)
Will this work for pr?

[2021-07-15 17:58] Shivansh2407 commented on #2268
The thing I'll suggest you to go with is browsing the file structure. You can also have a look at the Viscose search, wherein you can find the file easily with keyword search. Thanks

[2021-07-15 17:58] ShreyaPrasad1209 commented on #2227
@ankit80570 yes

[2021-07-15 18:23] ankit80570 commented on #2227
I have made a pull request, can you check it?

[2021-07-15 18:35] astelrastogi commented on #2268
@Shivansh2407 @ShreyaPrasad1209 i'm not able to find the homepage file in the repository for adding the link on navbar  and footer. is this the correct repository im looking: https://github.com/CircuitVerse/CircuitVerse ?

[2021-07-15 18:36] Ansh7899 commented on #2202
Can I take this issue for OSD?

[2021-07-15 18:45] #2304 closed

[2021-07-15 19:05] astelrastogi commented on #2268
Completed the issue, sending in a PR
<img width="682" alt="Screenshot 2021-07-16 at 12 33 56 AM" src="https://user-images.githubusercontent.com/54110949/125843394-b5d9af59-852a-4f5d-aab7-51ee775c4b0e.png">

<img width="676" alt="Screenshot 2021-07-16 at 12 32 30 AM" src="https://user-images.githubusercontent.com/54110949/125843386-f91c5319-9abf-4cf9-9101-528fdae3882c.png">

[2021-07-15 19:35] ryuk156 commented on #2202
@ShreyaPrasad1209 I think this one is fixed,  @Ansh7899 just check in the simulator before working

[2021-07-15 19:38] ryuk156 commented on #2331
@Ansh7899 you should ask on slack, anyone might answer if they had an installation problem before like this

[2021-07-15 19:40] Ansh7899 commented on #2331
I have already asked nobody replied there .... Therefore i reported it as a bug

[2021-07-15 19:43] ryuk156 commented on #2331
I think @Shivansh2407 can help you,

[2021-07-15 19:50] ShreyaPrasad1209 commented on #2331
Hi @Ansh7899, it's not a bug, this is how docker behaves. You need to reload localhost again and again until page shows up. This has happened with me many times.

[2021-07-15 19:51] Ansh7899 commented on #2331
Thanks for the help @ShreyaPrasad1209

[2021-07-16 03:01] vedant-jain03 opened #2336 "Cursor:Pointer property to search button in Home Page."
**Describe the bug**
I thought it will be classy if the search button on the home page has pointer property.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org/'
2. Hover on the 'search bar button'
3. See error

**Expected behavior**
Pointer hover effect on Search Button.

**Screenshots**

![Screenshot (36)](https://user-images.githubusercontent.com/76901313/1258

[2021-07-16 03:33] #2198 closed

[2021-07-16 08:52] #2268 closed

[2021-07-16 10:01] abhishekrawe commented on #2197
- I am part of Open Source Day in the SUSE organization.
- I want to contribute to this Bug.
- Can you assign me?

[2021-07-17 23:09] Comerstar opened #2338 "Nodes on components can be dragged from their components"
When a body of component is selected at the same time as a node, it can be dragged, moving the node relative to the component's main body

Steps to reproduce the behaviour:
1. Select a node on a component
2. Select a body of a component
3. Drag
4. The node will become disconnected from the component body

A clear and concise description of what you expected to happen.
The node does not become sepa

[2021-07-17 23:23] Comerstar opened #2339 "Non ASCII character can be entered into keyboard"
**Describe the bug**
Typing a non ASCII character into the keyboard is allowed and can cause issue

**To Reproduce**
Steps to reproduce the behaviour:
1. Setup keyboard
2. Enter a non ASCII character, e.g.¬
3. Pulse the clock so that the character's value is being read
4. Observe that the output is unlikely to be a 7 bit number
5. If an output is connected to the ASCII out, all nodes and wires sto

[2021-07-17 23:26] Comerstar opened #2340 "Entering text into a keyboard when viewing a project in fullscreen kicks you out of fullscreen"
**Describe the bug**
Entering text into keyboard when viewing a project in fullscreen kicks you out of fullscreen.

**To Reproduce**
Steps to reproduce the behaviour:
1. View a project
2. Enter fullscreen
3. Click on a keyboard
4. Enter text
5. Get kicked out of fullscreen

This can be avoided by viewing another subcircuit first.

**Expected behaviour**
Entering text in a keyboard does not kick yo

[2021-07-17 23:33] Comerstar opened #2341 "Delay 0 on non input/output components is possible"
**Describe the bug**
Non input/components can be set to have delay 0, and will behave as though they have delay 0.

**To Reproduce**
Steps to reproduce the behaviour:
1. Place down a component
2. Set its delay to 0
3. The component will behave as though it has delay 0
4. Saving or copying another component will reset the delay to 10

**Expected behaviour**
Since a component cannot be saved with de

[2021-07-18 05:31] AsherThomasBabu commented on #2336
I've created a one liner PR to fix this issue at #2342
Please review.

P.S: This is my first, and I'm excited to start contributing to CircuitVerse!

[2021-07-18 12:05] praveeno opened #2343 "Slack link is no longer active"
I'm interested to join slack workspace, but slack link shared in issues template is not working
I want to discuss if there is any near future plan to add course similar to https://www.nand2tetris.org/, as Circuitverse have everything needed to build a computer itself I believe, correct me if I'm wrong

[2021-07-18 13:36] AsherThomasBabu commented on #2200
@humble-barnacle001 could you provide more information on how to recreate the issue?

[2021-07-19 04:12] vedant-jain03 opened #2344 "Enhance the UI of Simulator."
**Is your feature request related to a problem? Please describe.**
UI of the Simulator is not good enough. I want to change the UI of the simulator that will match the theme of the main page.

**Describe the solution you'd like**
For buttons, I will change the theme as "Launch Simulator" in Homepage.
For Every toolbox, bg color: theme. font color: white
For Navbar: Same as Homepage Navbar.

**Are

[2021-07-20 03:49] pavanjoshi914 opened #2348 "Bug - Simulator Navbar disappears at the end of tutorials guide"
**Describe the bug**
The end msg of the tutorials guide goes out of the screen and makes the navbar disappear. reloading is required to restore everything in a normal state

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'circuitverse.org/simulator'
2. Click on 'help-->tutorials guide'
3. click next till the last msg appear
4. See error

**Expected behavior**
msg must not go out of sc

[2021-07-21 04:44] vedant-jain03 commented on #2348
I want to work on this issue

[2021-07-21 05:14] pavanjoshi914 commented on #2348
Go ahead!!

[2021-07-21 05:17] vedant-jain03 commented on #2348
Sure

[2021-07-23 07:41] #2344 closed

[2021-07-24 12:42] the-halfbloodprince commented on #2336
In case the issue isn't closed, I would like to fix this, please assign me this issue if it's not closed.

[2021-07-25 00:46] #2166 closed

[2021-07-27 21:23] ayan-biswas0412 opened #2361 "Grade scaling fix to 1-100 for LTI Assignments"
First checkout to the `lms-lti` branch and run CircuitVerse locally

1. Login to your account
2. Go to the Group page by clicking on `My-Groups`
3. Click on any existing group (if you haven't any create one)
4. Click on the `+Add Assignment`
After Clicking you will see the screen shown below
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/52851184/127228742-060114bc-d1

[2021-07-28 05:59] ayan-biswas0412 opened #2363 "Update UI in open in CircuitVerse page for LTI assignments"
First checkout to the `lms-lti` branch and run CircuitVerse locally and check `app/views/lti/open_incv.html.erb`

#### currently the view look like below
<img width="1079" alt="image" src="https://user-images.githubusercontent.com/52851184/127271026-dce0c0b6-97f5-4c95-bce6-549550e80fc2.png">

### Expected Feature
You need to update the view according the below
<img width="1056" alt="image" src="ht

[2021-07-28 07:25] vedant-jain03 commented on #2363
I want to work on this issue.!

[2021-07-28 07:25] ayan-biswas0412 commented on #2363
yah go ahead 🎉

[2021-07-28 07:28] vedant-jain03 opened #2364 "Updated simulator UI"
**Is your feature request related to a problem? Please describe.**
The current simulator navbar is UI is not looking appropriate as compare to UI of circuitverse main page.

**Describe the solution you'd like**

* Current
![Screenshot (60)](https://user-images.githubusercontent.com/76901313/127281660-9363dc7c-fad5-431b-89dd-55acf4cbbb12.png)

* Before
![Screenshot (61)](https://user-images.githubu

[2021-07-28 07:28] vedant-jain03 commented on #2364
@ShreyaPrasad1209 @pavanjoshi914 @nitin10s What do you think of this?

[2021-07-30 06:50] akshatvirmani commented on #2361
I would like to work on this issue. Kindly assign this to me.

[2021-07-30 07:23] ayan-biswas0412 commented on #2361
Yah go ahead,  you can start working

[2021-08-01 12:10] ayan-biswas0412 commented on #2361
@akshatvirmani hi are you still working on the issue ?

[2021-08-01 12:56] akshatvirmani commented on #2361
Yes Sir, But I don't know how to setup the project locally on VS Code. I read the README.md file but was still not able to set it up. I messaged you yesterday regarding the same on discord as I did not have permission to join the Slack channel.

[2021-08-01 13:14] ayan-biswas0412 commented on #2361
You can join slack from here https://circuitverse.org/contribute, and also you can use Gitpod environment if you are facing difficulties In stepping locally , look here for Gitpod working https://github.com/CircuitVerse/CircuitVerse/wiki/Development-on-Gitpod

[2021-08-02 06:30] aadityasinha-dotcom commented on #2363
Can I work on this issue?

[2021-08-02 06:34] ayan-biswas0412 commented on #2363
I think @vedant-jain03 is working? Please ask him once before starting

[2021-08-02 06:47] aadityasinha-dotcom commented on #2363
Ok

[2021-08-02 07:03] aadityasinha-dotcom commented on #2363
@vedant-jain03 are you working on this right now?

[2021-08-02 07:09] vedant-jain03 commented on #2363
Yes I am working on it!

[2021-08-02 18:54] chiraglulla commented on #1880
Is the issue still open?

[2021-08-03 10:32] aadityasinha-dotcom commented on #2340
Can I work on this issue?

[2021-08-04 11:20] #2364 closed

[2021-08-05 08:37] #2336 closed

[2021-08-06 04:20] ayan-biswas0412 commented on #2361
Closing via #2375

[2021-08-06 04:20] #2361 closed

[2021-08-06 04:20] ayan-biswas0412 commented on #2363
Closing via #2373

[2021-08-06 04:20] #2363 closed

[2021-08-06 04:20] vedant-jain03 opened #2376 "Centralise of About Page UI"
**Describe the bug**
The components of about page UI looks good when centered

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org/about'

**Screenshots**
* Before
![Screenshot (92)](https://user-images.githubusercontent.com/76901313/128455508-289a9313-c7cf-4ce0-87fa-aff24d6b65c5.png)

* After
![Screenshot (94)](https://user-images.githubusercontent.com/76901313/12

[2021-08-06 04:21] vedant-jain03 commented on #2376
@nitin10s

[2021-08-06 05:21] Ayush7614 commented on #2376
@vedant-jain03 are you working on the issue ?

[2021-08-06 05:24] vedant-jain03 commented on #2376
Yes

[2021-08-07 10:31] ayan-biswas0412 commented on #2343
@praveeno Slack link is now active ? can I close the issue ?

[2021-08-07 14:10] praveeno commented on #2343
Hello @ayan-biswas0412 , slack link mention on here https://github.com/CircuitVerse/CircuitVerse/issues/new/choose, still not working

[2021-08-07 15:45] ayan-biswas0412 commented on #2343
@ShreyaPrasad1209 can you please update this, in the issue section the slack link is outdated

[2021-08-09 05:08] vedant-jain03 opened #2380 "Adding rel="noopener" to footer external links to enhance the security."
**Describe the bug**
Links to cross-origin destinations are unsafe according to lighthouse report: https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url=http%3A%2F%2Fcircuitverse.org#accessibility > Best Practice > Links to cross-origin destinations are unsafe

**Expected behavior**
The noopener is needed to enhance the security of website and prevent other websites from gaining access to

[2021-08-09 05:08] vedant-jain03 commented on #2380
@tachyons Should I go for it?

[2021-08-09 05:45] tachyons commented on #2380
Sure

[2021-08-12 09:09] #2380 closed

[2021-08-12 15:25] #2343 closed

[2021-08-12 15:28] zidingz opened #2389 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2021-08-16 15:26] #2376 closed

[2021-08-17 16:37] AnirudhPanda opened #2392 "Broken Image on Homepage"
**Describe the bug**
Broken Image on Homepage

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [this link](https://circuitverse.org/)
2. Scroll down to Recent Circuits
3. See error

**Expected behavior**
The Image should appear instead of the alt text

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Capture](https://user-images.githubusercontent.com/662184

[2021-08-18 15:16] Comerstar opened #2394 "Breaks are not saved in descriptions"
**Describe the bug**
Breaks are deleted from descriptions

**To Reproduce**
Enter a break into a description (either by shift + enter, or by adding <br> into the markup)
Save the description
Observe how the break is gone

**Expected behaviour**
The breaks are saved since they help format descriptions

**Device Information [optional]:**
 - OS: Windows
 - Browser: Chrome

**Additional context**
Retr

[2021-08-18 16:13] Comerstar opened #2395 "Controller Inverters are broken"
**Describe the bug**
Controlled inverters fail to update values beyond one line away.

**To Reproduce**
Steps to reproduce the behaviour:
1. Place a controlled inverter
2. Set Enable to 1
3. Set Enable to 0
4. Observe how all the nodes do not update their value, despite the wire updating its value

**Expected behavior**
The behaviour is similar to that of tristates

**Screenshots**
![image](https:

[2021-08-18 17:12] #2264 closed

[2021-08-23 02:53] AsherThomasBabu commented on #2392
This issue was not reproducible on Firefox Version 91.0. or Chrome Version 92.

[2021-08-23 02:57] AsherThomasBabu commented on #2389
@zidingz I suppose you can reach out to the team on [Slack](https://join.slack.com/t/circuitverse-team/shared_invite/zt-p6bgler9-~8vWvsKmL9lZeYg4pP9hwQ)

[2021-08-23 14:24] zidingz commented on #2389
Thank you, machane! We would need to verify their maintainer status here on GitHub. If you can bring their awareness to this issue, perhaps they'll provide a contact method?

[2021-08-23 17:50] AsherThomasBabu commented on #2389
@zidingz I'm just getting started with contributing to this project and hence don't have any contacts.
@tachyons could help give more info probably.

[2021-08-23 18:04] tachyons commented on #2389
@AsherThomasBabu Thanks for bring this to my attention.

We will add security.md file as soon as possible. Meanwhile you can reach me at aboobackervyd  AT gmail DOT com. You can confirm my identity here in github.

[2021-08-24 16:31] zidingz commented on #2389
As far as I can tell, @tachyons has been one of the most responsive maintainers on huntr and has dealt with security issues swiftly, and was quick to sign up. Communication channels are already in place, so no rush on the `SECURITY.md`.

If you want to encourage security researchers to responsibly disclose security issues in CircuitVerse in future, feel free to link us in your `SECURITY.md`: [![hu

[2021-08-24 16:31] #2389 closed

[2021-08-24 17:01] tachyons commented on #2389
We have already linked huntr here https://github.com/CircuitVerse/CircuitVerse/blob/master/SECURITY.md

[2021-08-24 17:15] zidingz commented on #2389
Thank you! Much appreciated.

[2021-08-27 03:10] vedant-jain03 opened #2454 "Copy to Clipboard functionality in Group Invite Link"
**Is your feature request related to a problem? Please describe.**
Instide of showing group invite link in textarea , we can make link copied when someone hit that group link button.

![Screenshot (114)](https://user-images.githubusercontent.com/76901313/131066000-97dd4962-5665-4b90-8570-e9b0c7e20f88.png)

**Describe the solution you'd like**
Using "navigator.clipboard.writeText" in JS.

**Are you

[2021-08-28 15:54] Kartikay304 commented on #2005
@satu0king I want to work on this issue. Can you please, assign this issue to me?

[2021-08-30 05:15] vedant-jain03 commented on #2454
Sure @pavanjoshi914 :)

[2021-08-30 11:30] Gieted commented on #2090
Why have you closed this issue? The problem still persists, the main branch cannot be build on Windows.

[2021-08-30 11:44] gr455 commented on #2090
You can fix it by changing the end of line(EOL) from `\r\n` (CRLF) to `\n` (LF) in `bin/docker_run` and `bin/docker_webpacker_run`

refer: https://stackoverflow.com/a/52665687

Sorry for this, we'll try to figure out a way to fix this. Until then you can fix it like above

[2021-08-30 12:36] Gieted commented on #2090
Couldn't you just use `.gitattributes` file as described [here](https://docs.github.com/en/get-started/getting-started-with-git/configuring-git-to-handle-line-endings#per-repository-settings)?

[2021-08-30 13:00] gr455 commented on #2090
Yes we'll do that. Thanks!

[2021-08-30 17:47] Gieted opened #2458 "Images aren't loading, when running on Windows"
**Describe the bug**
There's a symlink under `public/img`. Git for Windows won't clone symlinks by default, so cloning the repo will result in this symlink being a file instead. This causes images under it to not load. You should consider updating `SETUP.md` to give some information about symlinks being used and the problems it causes on Windows.

**To Reproduce**
Steps to reproduce the behavior:

[2021-09-01 06:28] gr455 commented on #2090
@Gieted Sorry for being late. Can you try out [this](https://github.com/gr455/CircuitVerse/tree/crlf-fix-docker) branch. I am not sure if I have done this right

Thanks

[2021-09-01 06:47] Rakshit0404 commented on #2321
is this still runnning???

[2021-09-01 07:11] Rakshit0404 commented on #2194
I would like to work on this issue

[2021-09-01 15:56] ShreyaPrasad1209 commented on #2194
Please feel free to work on this issue. No need to assign it specifically

[2021-09-01 15:57] #2309 closed

[2021-09-01 17:10] Kartikay304 commented on #2194
@ShreyaPrasad1209 I have completed the front-end of the web page. Now the thing left is how to give users the option to enter their details manually. I have temporarily hosted the web page at [this](http://voracious-distribution.surge.sh/index.html) site. Can you take a look at it and if you would like some other changes and enhancements, please let me know.

Here my suggestion request! on how to

[2021-09-04 06:57] Kartikay304 opened #2466 "Broken checkboxes"
**Describe the bug**
Checkboxes are greyed in the browser

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "My Groups"
2. Create a "New Group"
3. Add an "Assignment"
4. Scroll down  and check on 'Enable elements restriction'
5. See error

**Expected behavior**
![login (1)](https://user-images.githubusercontent.com/40604582/132085609-fcce27a6-26a7-47d2-a8bb-dc62b1979ad4.png)

**Screensho

[2021-09-04 17:52] Kartikay304 commented on #2242
I would like to work on this issue.

[2021-09-05 10:19] Kartikay304 commented on #2340
I would like to work on this issue.

[2021-09-09 12:38] Kartikay304 commented on #2031
I would like to work on this issue

[2021-09-09 17:25] Gieted commented on #2090
Nope, it's not working. Dot is probably not supported by git patterns, just do it like this instead:
[code]

[2021-09-09 17:27] gr455 commented on #2090
Will try this. Thanks a lot!

[2021-09-09 18:11] Gieted commented on #2458
The issues can be solved by cloning the repo with `git clone -c core.symlinks=true https://github.com/CircuitVerse/CircuitVerse.git` **with an administrative shell**. Like mentioned above, I think you should consider adding information about symlink problems under Windows in `SETUP.md`.

[2021-09-11 11:24] gr455 commented on #2090
I have updated the [branch](https://github.com/gr455/CircuitVerse/tree/crlf-fix-docker) with this change. Can you please confirm if it works?

[2021-09-11 14:17] #2242 closed

[2021-09-11 14:18] ShreyaPrasad1209 commented on #2392
I'm closing this issue as it was not reproducible.

[2021-09-11 14:18] #2392 closed

[2021-09-11 14:39] ShreyaPrasad1209 commented on #2394
@Comerstar could you attach a gif/screencast showing this error? It could provide better context.

[2021-09-12 07:18] #2458 closed

[2021-09-12 14:43] Kartikay304 opened #2488 "Broken Button in collaborated Circuits page"
**Describe the bug**
In view after popup screen shows up, on clicking More button, it is re-directing to wrong page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  'Collaborated Circuits'
2. Click on 'View'
3. Click on  'More'
4. See error

**Expected behavior**
It should re-direct to respective project  page.

**Screenshots**

https://user-images.githubusercontent.com/40604582/13299

[2021-09-14 20:10] Gieted commented on #2090
Yes, now it works 👍.

[2021-09-14 20:24] gr455 commented on #2090
Great! Thank you for helping with this

[2021-09-15 10:04] #2090 closed

[2021-09-15 14:51] MarcusPeixe commented on #1991
Adding to this: if you accidentally short circuit two outputs of the same component, with more than 1 bit of width, the wire becomes undistinguishable from the edge of the component's box (e.g. grab a D flip-flop, change the bit width to 2 or more, and connect Q to Q inverse with a single straight wire).

This makes the wire invisible in practice, and can lead to some very hard to debug "ConstVal

[2021-09-15 20:15] 19bcs6140 commented on #2307
Hi Everyone @pavanjoshi914 @ShreyaPrasad1209 @Shivansh2407  I'm Rahul from Chandigarh University, Chandigarh currently pursuing my bachelor's in Computer Science with AIML 3rd year . Recently I did an internship at ISRO and I am a web developer and Open source enthusiastics as I am Contribute to many small program and many project so now I think the time is coming to contribute to some big project

[2021-09-16 03:54] pavanjoshi914 commented on #2307
@sharmarahul1001  Go ahead!

[2021-09-16 20:57] Kartikay304 opened #2496 "Docker-compose up is not working"
**Describe the bug**
When setting up local environment using docker then,Docker-compose up is not working

**Screenshots**

![docker error](https://user-images.githubusercontent.com/40604582/133684536-f72f4ecc-ad6b-46bc-9b8f-8b0e75a65ccc.png)

**Device Information [optional]:**
 - OS: 11
 - Browser: Edge
 - Version:  Version 93.0.961.47

**Are you working on this issue? (Yes/No)**
No

[2021-09-17 13:22] #2290 closed

[2021-09-17 17:43] ShreyaPrasad1209 opened #2497 "Incorrect alignment of pagination"
**Describe the bug**

The pagination should be below the line but instead it is too much on left side.

<img width="1214" alt="Screenshot 2021-09-14 at 3 47 20 PM" src="https://user-images.githubusercontent.com/43600306/133827065-fc35e3ba-3e24-45f9-b0bb-e74663616176.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Go to
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expecte

[2021-09-17 18:00] nitin10s commented on #2321
What is the current design? Can you attach a screenshot @tachyons?

[2021-09-17 19:23] Kartikay304 commented on #2497
I would like to work on this issue.  :-)

[2021-09-17 19:34] Kartikay304 opened #2498 "Incorrect position of checkbox"
**Describe the bug**
On the login screen remember-me checkbox should be on left and text at right, as anywhere on the rest of the site.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'login page'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Remember-me checkbox should be on left and text at right.

**Are you working on this issue? (Yes/No)**
Yes

[2021-09-18 02:31] ShreyaPrasad1209 commented on #2497
At least read the issue description carefully before trying to claim it 🤦🏻

[2021-09-18 03:50] Kartikay304 commented on #2497
That is why I have commented on the issue so that when it is available I can work on it. Apart from this, can you please help me in setting up docker (issue #2496).

[2021-09-18 06:14] #2498 closed

[2021-09-18 14:35] tachyons commented on #2321
<img width="1421" alt="Screenshot 2021-09-18 at 8 04 18 PM" src="https://user-images.githubusercontent.com/3112976/133892419-b4de58b7-9048-4b78-a628-b4fef3092aca.png">

[2021-09-18 14:38] #1865 closed

[2021-09-20 08:23] ShreyaPrasad1209 commented on #2496
Do you have codespaces?

[2021-09-20 13:45] Kartikay304 commented on #2496
Yes, I have tried restarting, and reinstalling but none of them worked for me. I use  Gitpod but it  has a time limit and my monthly time limit is already ended :-(

[2021-09-22 05:16] vedant-jain03 commented on #2497
@ShreyaPrasad1209 Can I work on this?

[2021-09-22 13:09] ShreyaPrasad1209 commented on #2497
This is for OSD so not open for contributions

[2021-09-22 13:56] vedant-jain03 commented on #2497
Are registration is open now?

[2021-09-22 19:20] gr455 opened #2501 "Include more information with simulator bug reporting"
Right now, simulator has a `report bug` option which sends the circuit screenshot along with the issue to the slack channel. It will be helpful to include
a) the circuit data and
b) javascript console logs
along with this so that issues could be looked better into.

[2021-09-23 16:09] Vivekk07 commented on #2317
Is the scope of refactoring only limited to `groups-lmsmodal-link-text` class?
There are a few other long class names as well (in `app/assets/stylesheets/groups.scss`) which can be refactored in the same way.

[2021-09-23 16:13] ayan-biswas0412 commented on #2317
can you provide some inputs @tachyons

[2021-09-23 16:14] ayan-biswas0412 commented on #2501
Yah it will be great i think @gr455

[2021-09-23 16:50] tachyons commented on #2317
No, you can fix other issues as well

[2021-09-29 15:34] vedant-jain03 opened #2507 "Back to top button"
**Is your feature request related to a problem? Please describe.**
We can implement back to top button for the user to navigate to top of the page.

**Describe the solution you'd like**
Making a button absolute for the screen.

**Are you working on this? (Yes/No)**
Yes

[2021-09-30 15:30] vedant-jain03 opened #2509 "Translation of "Open assignment" using i18n"
https://github.com/CircuitVerse/CircuitVerse/blob/59bf87ccb3f9cc19443e72af9084077c6334566f/app/views/lti/open_incv.html.erb#L17

[2021-09-30 15:31] vedant-jain03 commented on #2509
@ayan-biswas0412 @pavanjoshi914 I will make new key in en.yml file for making it translatable.

[2021-09-30 15:36] vedant-jain03 commented on #2509
so I go ahead?

[2021-09-30 15:55] ayan-biswas0412 commented on #2509
yah sure you can do that

[2021-10-01 03:51] tachyons commented on #2317
@LinaJohnson Yes, Idea is to refactor styles without changing the existing user interface

[2021-10-01 05:03] pavanjoshi914 commented on #2509
not translatable?  gives different meaning use proper context in issue title

Please go ahead

[2021-10-01 08:30] Kriti-bit commented on #2497
Hi, I would like to work on this as a part of OSD(October)

[2021-10-01 11:25] pulkit-30 commented on #2251
Hii,
Is anyone working on this issue?
Please assign me this issue and please help me out with some code pointers/references from where I can start digging into it.