[2019-03-25 19:40] satu0king commented on #311
Yes the feature is already present but in a prototype stage. Check #252

[2019-03-25 19:40] #311 closed

[2019-03-26 05:05] #91 closed

[2019-03-26 06:42] vik-y opened #320 "Speed up docker builds"
**Is your feature request related to a problem? Please describe.**
Docker builds are too slow. I understand the first build will be slow because it has to download tons of things but if someone makes any change to Gemfile then it again takes forever to fetch in all those gems and rebuild the thing.

**Describe the solution you'd like**
The basic thing which can be done is to cache the downloaded g

[2019-03-26 20:01] sal2701 opened #322 "Backspace not working in Combinational Analysis inputs"
**Describe the bug**
While entering data in the combinatinalAnalysis inputs, backspace doesn't work. It just stops the input as well. Same goes for delete as well.

**Expected behavior**
Backspace should work as normal

**GIF**

![backspace](https://user-images.githubusercontent.com/42511766/55027622-b874f800-502b-11e9-920b-9aeca9e38f38.gif)

**Desktop (please complete the following information):*

[2019-03-26 20:09] sal2701 opened #323 "Adding a column with Decimal value for binary value in combinationalAnalysis table"
**Is your feature request related to a problem? Please describe.**
While dealing with tables with large number of rows in the combinationalAnalysis tool a lot of confusion arises, so an extra column with decimal value of corresponding binary values will be very helpful.

**Describe the solution you'd like**
An extra column with decimal value of corresponding binary values

**Describe alternatives

[2019-03-26 22:10] gautam-prajapat commented on #320
@vik-y I want to work on this issue. Can you please elaborate more about the issue ?

[2019-03-27 07:47] NavonilDas commented on #322
I am Working on it :)

[2019-03-27 08:30] Amansingla97 commented on #322
https://stackoverflow.com/questions/49263039/backspace-not-working-in-firefox-in-input-field

[2019-03-27 08:42] Amansingla97 commented on #323
In combinational Analysis the inputs are not always combined and read as decimal values.
eg input =0100( A,B,C,D )
It is not necessary read as input is 4 .Rather it will be read as, the input is 0100 when the B is positive and A,C,D are negative.
I means to say that  always giving a decimal representation gives a false idea that input A,B,C,D are related.
Best Solution according to me would be giv

[2019-03-27 09:02] NavonilDas commented on #322
@Amansingla97 it's not specific to Firefox. it was happening in chrome also.

[2019-03-27 09:03] sal2701 commented on #323
@Amansingla97 I agree with you, I have included a checkbox below the inputs. I will pr it asap

[2019-03-27 11:02] Parikshit-Hooda commented on #125
@pradnyasd  please make the whole logo(the one that looks like a voltmeter) in black and white. We will make a final decision based on how that looks.

[2019-03-27 11:05] Parikshit-Hooda commented on #313
Fix this issue by opening a PR @blane1257 . Reference this issue. The current link works fine for me, by the way.

[2019-03-27 11:09] blane1257 commented on #313
I believe the posted link will only work for users who have already joined the server (i.e. clicked on an invite link and accepted it)

I've never opened a PR before, so im not entirely sure how to, but I'll see what I can do.

[2019-03-27 11:12] blane1257 commented on #313
I'm sorry, I really have no clue how to do this..

[2019-03-27 16:52] #316 closed

[2019-03-27 16:54] #307 closed

[2019-03-27 16:57] Amansingla97 commented on #323
@sal2701 that's gr8. Let me know if you need any help.

[2019-03-27 17:03] Amansingla97 commented on #320
@gautam-prajapat Try setting up the docker.
Now lets take an eg:
Suppose we change the gemfile and compose the docker again.It would take a lot of time to compose it again. Instead of that, @vik-y is suggesting to setup a cache and remote server Gemstash.Gemstash server will fetch the gems from https://rubygems.org and cached them for you! To prove this, you can disable your Internet connection an

[2019-03-27 17:09] #309 closed

[2019-03-27 17:36] #272 closed

[2019-03-27 18:20] tachyons commented on #320
For development environment or for deployment environments ?

[2019-03-27 18:26] #301 closed

[2019-03-27 20:09] Amansingla97 commented on #320
We are using docker env for development. In production we are not using it.

[2019-03-28 00:38] gautam-prajapat commented on #320
@Amansingla97 Alright, I am working on this issue.

[2019-03-28 05:50] monsij commented on #313
I am interested to take up this issue as @blane1257 would not be able to do it. @Parikshit-Hooda

[2019-03-28 08:09] Parikshit-Hooda commented on #313
@monsij  go ahead.

[2019-03-28 09:37] Parikshit-Hooda commented on #254
whats the progress?

[2019-03-28 13:42] monsij opened #330 "Unofficial -> Official discord server"
**Describe the bug**
The current [`README.md`](https://github.com/CircuitVerse/CircuitVerse#circuitverse-community) still mentions the discord server being an unofficial channel. It should be updated as the channel is already made official.

**Are you working on this issue? (Yes)**

[2019-03-28 15:30] mahmodHammad commented on #254
can i work on this issue?

[2019-03-28 15:34] mahmodHammad commented on #196
can i work on this issue?

[2019-03-28 16:17] Parikshit-Hooda commented on #254
@mahmodHammad I think the PR for this issue has already been opened. I intend to check the status of that so that this issue can be closed or expedited. @armudgal @satu0king

[2019-03-28 16:47] tabishshakeel commented on #254
@Parikshit-Hooda this issue is already solved and merged. You can see the changes on the site.

[2019-03-29 00:37] ankitkataria opened #332 "Duplication of tags is not handled"
**Describe the bug**
If in the project update page, if the input for tags is `tag tag tag tag`, then this duplication is not removed and 4 taggins are created, while there should only be 1.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to project edit page
2. Input `tag tag tag tag` in tags input
2. Click `Update Project`
3. Go to project preview page

**Expected behavior**
Duplicate ta

[2019-03-29 04:52] pradnyasd commented on #125
@Parikshit-Hooda @satu0king
I have made 2 black and white logos. Kindly review it.
![Screenshot from 2019-03-29 10-20-16](https://user-images.githubusercontent.com/46742046/55210247-7f47ae00-520c-11e9-9d1e-59112ed58f75.png)

[2019-03-29 05:45] shubhankarsharma00 commented on #332
Yeah, I think this can be solved in 2 ways. One is checking out the tags when the tag list is converted to tags array and remove duplicates. But Another can be to validate uniqueness in Active record in taggings.rb models using validate_uniqueness_of [like this](https://stackoverflow.com/questions/923796/how-do-you-validate-uniqueness-of-a-pair-of-ids-in-ruby-on-rails)

[2019-03-29 06:50] shubhankarsharma00 commented on #332
@ankitkataria does this look okay now?

[2019-03-29 11:37] #330 closed

[2019-03-29 11:38] #21 closed

[2019-03-29 11:51] satu0king opened #334 "Search failing on large search"
Goto: https://circuitverse.org/search?utf8=%E2%9C%93&q=test

Error: ` ActionView::Template::Error (uninitialized constant SearchPaginateRenderer::ELLIPSIS)`

**Are you working on this issue? (Yes/No)**
No

[2019-03-29 11:53] satu0king opened #335 "Search results not rendered correctly"
https://circuitverse.org/search?page=1&q=LED&utf8=%E2%9C%93

![image](https://user-images.githubusercontent.com/2092958/55230942-4da00880-5247-11e9-9144-e2f8ce453f26.png)

The HTML content is getting rendered as text instead of HTML

**Are you working on this issue? (Yes/No)**
No

[2019-03-29 12:07] tabishshakeel commented on #335
Okay! I am working on this issue.

[2019-03-29 12:10] Parikshit-Hooda commented on #254
In that case, I shall go forward and close this issue.

[2019-03-29 12:10] #254 closed

[2019-03-29 12:51] shubhankarsharma00 commented on #335
@tabishshakeel change this line to load sanitized html https://github.com/CircuitVerse/CircuitVerse/blob/5863caf21cbce9d5cd17cc306a4ea6099d947aea/app/views/logix/search.html.erb#L13
using
 https://edgeapi.rubyonrails.org/classes/ActionView/Helpers/SanitizeHelper.html

[2019-03-29 14:00] monsij commented on #313
@Parikshit-Hooda  : This issue has been addressed via #331 . You may close this now.

[2019-03-29 14:01] #313 closed

[2019-03-29 14:01] Parikshit-Hooda commented on #313
closed. please make sure your points are updated for gssoc.

[2019-03-29 14:04] monsij commented on #313
sorry but I am not participating for gssoc but surely for GSoC 😄

[2019-03-29 14:06] Parikshit-Hooda commented on #313
noted. For future instances, please refrain from taking up issues that are specifically marked as gssoc(which is undergoing) just like this issue. Good work. Godspeed.

[2019-03-29 14:42] NavonilDas opened #336 "Extra bit lines in splitter on adding space on bitWidth split prompt"
**Describe the bug**
Adding Extra space on splitter bitWidth Split prompt creates extra lines.

**To Reproduce**
Steps to reproduce the behavior:
click on splitter, then type 4 as bitwidth, then type "1&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;1 1" as bitwidth split.

**Expected behavior**
The no of bit lines should be 4.

**Screenshots**
The no of bit lines are 9 instead of 4.
![Screenshot (2)](

[2019-03-29 15:01] NavonilDas opened #338 "Deleting Offline Project"
**Problem**
There is no way to delete an offline project either the user has to clear the complete local storage which will delete all his offline projects.

**Describe the solution you'd like**
Adding Delete Button on the Project > Open Oflline.

open offline Project it will display a cross button on the right of the title.
when we click the on the button it will ask for confirmation from user. i

[2019-03-29 18:22] Amansingla97 commented on #334
As the database grows we ultimately have to shift to elastic search.pgsearch would be too slow to process all the text data.Postgres full-text search is pretty solid for straightforward use cases, but there are a number of reasons why Lucene (and thus Solr and ElasticSearch) is superior both in terms of performance and functionality.

**Advantages to ElasticSearch**

->Scale your indexing and sear

[2019-03-30 07:54] AniMysore74 commented on #199
This library abstracts canvas implementations as react components. I think it's a good idea to use this for the React refactor.
https://github.com/Flipboard/react-canvas

[2019-03-30 09:46] armudgal commented on #20
Please go forward with replacing the names of the images for now.

[2019-03-30 09:54] armudgal commented on #196
@mahmodHammad Hi, yeah you can go forward as this is taking a lot of time. Thanks

[2019-03-30 09:57] armudgal commented on #114
As @satu0king mentioned, this issue is now open and we will be merging the first PR that comes and is satisfactory.

[2019-03-30 10:28] NavonilDas opened #341 "Circuit Element's Label gets removed on pressing 'l'."
**Describe the bug**
Circuit Element's Label gets removed on pressing l.

**To Reproduce**
Select a circuit element then press 'l' in the keyboard. This will remove the existing Label on the Element.

**Expected behavior**
Add a new Label to the element.

**Screenshots**
![l](https://user-images.githubusercontent.com/29132316/55274953-9cf83e80-5304-11e9-956d-00a718f81772.gif)

**Desktop (please co

[2019-03-30 10:32] Aanisha commented on #196
Sir but I already submitted a PR regarding this issue.

On Sat, 30 Mar 2019, 15:24 Arushit Mudgal, <notifications@github.com> wrote:

[2019-03-30 11:12] Aanisha commented on #196
Sir do I have to improve my PR regardind this issue?

On Sat, 30 Mar 2019 at 03:32, Aanisha Bhattacharyya <
aanishabhattacharyya@gmail.com> wrote:

[2019-04-01 17:06] satu0king commented on #125
@pradnyasd looks good! Will you be able to generate SVGs of the same?

[2019-04-02 01:37] SubhajitCode commented on #48
@satu0king Hi I am interested in this project and I intend to be part of this one through GSoC .Can You Guide me please What is your primary Idea to do this project . I mentioned one of My own in the proposal But It will really help me a lot if you guide me here.....Thanks

[2019-04-02 03:37] swpradnyad commented on #125
@satu0king How should I send you the SVGs?
This doesn't support SVG format.

[2019-04-02 10:59] armudgal commented on #125
Send a PR with the SVG logos. Or else post the code of the SVG here(not recommended).

[2019-04-02 11:57] pradnyasd commented on #125
@armudgal  @satu0king
I have created a PR. Kindly review it and merge it.

[2019-04-02 12:53] SubhajitCode opened #345 "BUG in embeded Mode"
**Describe the bug**
The Bug appears when We embed the iframe generated in to another website .CircuitVerse Does not take any user input ,mouse click on the button is also broken
**To Reproduce**
1. open a project project window
2. Click on 'Embed' to generate embed iframe tag
3. paste in your personal Website
4. Some interactivity is lost and circuit verse does not take any mouse input to change

[2019-04-02 14:39] fpintos commented on #48
Hi @SubhajitCode ,

I have not put too much thought on this one yet, but my gut feeling is that we need to extend how we handle layoutProperties to other elements, augmenting CircuitElement to draw itself while in a sub-circuit.

If you search for 'layoutProperties' in the JavaScript files you'll see how they are specific to Input and Output elements. Files like data.js and layout.js have code tha

[2019-04-03 04:28] SubhajitCode commented on #48
@fpintos my Idea is also close to you except

-  I am thinking about creating seperate version of Selected elements which  to be shown in the subcircuit like creating surface_led which will inherit DigitalLed and it will have a customDraw() function which we will call from subcircuit.js to render  that way we don't need showInSubCircuit or canShowInSubCircuit flag as user will add those element if

[2019-04-03 14:19] fpintos commented on #48
I would like to look at this from a user experience point of view before we go forward with any implementation.

**How does the user build the IC layout?**
I see two approaches:
1. **Circuit-first**: in this approach, one builds the circuit first and configures the IC layout later. It is what we have today. Elements are inserted in the circuit editor and the ones that are layout-enabled or tagged

[2019-04-03 15:17] SubhajitCode commented on #48
@fpintos
I got Your Point
I now agree putting an checkbox is the better way to go
1 st way seems to be the easy way to implement
thanks for your valuable input
I will change my proposal accordingly

Thanks again ---Subhajit

[2019-04-04 02:00] NavonilDas opened #349 "Output Disconnects on changing the Width of subCircuit."
**Describe the bug**
When we change the width of the subCircuit from layout mode and switch back to the circuit the output nodes are disconnected.

**To Reproduce**

![demo](https://user-images.githubusercontent.com/29132316/55524571-7000ae80-56ab-11e9-8482-7c4b787fb10f.gif)

**Expected behavior**
Output Should remain connected.

**Are you working on this issue? (Yes/No)**
Yes

[2019-04-04 02:10] Parikshit-Hooda commented on #308
What is the progress on this issue @jbox144  ?

[2019-04-04 02:13] Parikshit-Hooda opened #350 "Update CircuitVerse Github org logo"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
The latest favicon suggestions or the circuitverse logo can be used. Letting them remain the default way is not too exciting to look at.

**Describe alternatives you've considered**
No alternative.

**Additional context**
Null.

**Are you working on this? (Yes/No)**
No

[2019-04-04 14:02] tachyons commented on #320
Configuring gemstash for caching in development seems an overkill. If changing something in Gemfile causes downloading whole gems again, then that is bug in our current Docker setup

[2019-04-04 14:03] tachyons commented on #284
Fixed in #285

[2019-04-04 14:03] #284 closed

[2019-04-04 15:11] Amansingla97 opened #351 "Implement Elastic Search"
Currently, CircuitVerse is using Pg_search's full-text search.As the database grows we ultimately have to shift to elastic search.pgsearch would be too slow to process all the text data. Postgres full-text search is pretty solid for straightforward use cases, but there are a number of reasons why Lucene (and thus Solr and ElasticSearch) is superior both in terms of performance and functionality.
I

[2019-04-04 17:13] ankitkataria commented on #351
I'll start looking into this.

[2019-04-04 18:00] shubhankarsharma00 commented on #351
I started looking into this earlier this month and I also noticed the same shortcomings which @ankitkataria has talked about but the advantages were huge as @Amansingla97 mentioned. I was also looking into chewy which dealt with most of the issues @ankitkataria mentioned but the gem currently doesn't have support for Elastic search 6+ and The EOL for Elasticsearch 5 has passed(11/03/2018).

[2019-04-04 18:28] #125 closed

[2019-04-04 18:31] Amansingla97 commented on #351
If you're interested in Pg_search vs. Lucene, why not both? Check out the ZomboDB extension for Pg_search, which integrates Elasticsearch as a first-class index type. Still a fairly early project but it looks really promising to me.

[Zombodb](https://github.com/zombodb/zombodb)

[2019-04-05 04:54] #341 closed

[2019-04-05 05:05] #323 closed

[2019-04-05 05:14] #334 closed

[2019-04-05 09:31] satu0king commented on #349
This is actually intended behavior. Users are not supposed to change the width often. And if they do, there is no well-defined way to handle it, so the simple solution is to break the circuit and let the user redraw the wires again. Interested to see your approach.

[2019-04-05 09:31] satu0king commented on #345
@ankitkataria , I think you worked on this, maybe you have some inputs.

[2019-04-05 09:34] #336 closed

[2019-04-05 09:35] satu0king commented on #312
I think you misunderstood the purpose of preset. Preset is the value you want to reset to. So when reset is triggered by default it resets to 0 but if there is a preset value it presets to that value.

I am not sure if regular flipflops have these things but this is the purpose we use preset for so far. @fpintos might have some inputs on this. Nevertheless we cannot change this now as many circuit

[2019-04-05 09:35] #312 closed

[2019-04-05 09:36] #288 closed

[2019-04-05 09:36] satu0king commented on #263
Please reach out to us on gitter with specific questions, we will be happy to help you out.

[2019-04-05 09:36] #263 closed

[2019-04-05 21:56] woswos commented on #192
I discovered a few more CSS related issues as well. I don't know if I should open a new issue. I will just comment here.

**Describe the bug**

- The footer is shifted to the right in the "Editing Project" page. I tried with Google Chrome & Firefox gives the same results.

Chrome:
![Screen Shot 2019-04-06 at 1 11 07 AM](https://user-images.githubusercontent.com/10498874/55656705-0a2a3900-5809-11e9

[2019-04-05 22:01] woswos commented on #248
I want to work on this, and I think this is a quite serious issue.

I have a way to fix it in my mind. I tried to find the exact code piece that dynamically changes the title based on the project properties entry. I might need some help to locate that code piece and apply the fix.

[2019-04-06 00:35] woswos commented on #195
I saw this issue only after I fixed responsibility issue with the footer (Pr #354). @Aanisha  I am sorry for accidentally taking what you were working on.

Addition to the responsive footer problem, I didn't understand what is going with the "Editing Project" page. Somehow the footer is inside of the div for the main content. The header bar is also there but not visible. I can see it when I check

[2019-04-06 08:38] woswos commented on #69
I have a lifetime enterprise web hosting deal which I bought years ago. I paid once and I don't pay anything else. It has 4gb ram and almost unlimited bandwidth. I am using it for my personal websites only.

Let me try to install a copy of circuit verse on it. If it works, I wouldn't mind sharing my hosting to host CircuitVerse. So far I never had problems with my hosting in terms of down times, e

[2019-04-06 18:40] Amansingla97 opened #355 "User able to edit and delete only latest comments"
User able to delete and edit only latest comment.I dont think this is expected behaviour.

<img width="1440" alt="Screenshot 2019-04-06 at 11 58 16 PM" src="https://user-images.githubusercontent.com/20012612/55673696-e62e2c80-58c8-11e9-85c5-b95cbfd78784.png">

**Are you working on this issue? (Yes/No)**
yes

[2019-04-07 03:54] creack opened #357 "Allow to import/export circuits"
**Is your feature request related to a problem? Please describe.**

To use the tool in a serious context, we can't just trust that the website & sponsor will be there forever. In order to consider the tool, we need to be able to export the work.
- Trust
- Outages
- Discontinuation of the project / sponsors
- Moving the circuit between local instance for dev and live one.
- Work around limitations

[2019-04-07 03:56] creack opened #358 "Increase the max addresses for EEPROM."
**Is your feature request related to a problem? Please describe.**

I'm using 28C16 and 28C256s and can't model them as they have 11 and 15 address pins. The current max is 10.

**Describe the solution you'd like**

Allow more than 10 address pins.

**Describe alternatives you've considered**

Logisim, but not ideal.

**Are you working on this? (Yes/No)**

No

[2019-04-07 04:03] creack opened #359 "Allow to preset EEPROM content"
**Is your feature request related to a problem? Please describe.**

Trying to model a circuit relying on EEPROM but doesn't seem possible as we can't change the content of it.

**Describe the solution you'd like**
A popup when clicking the eeprom or a menu item in right click or a link in the properties.
The UI could be similar to the ROM, based on the number of address and word size.

**Describe

[2019-04-07 18:56] #274 closed

[2019-04-09 04:53] fpintos commented on #359
Hi @creack ,

You can write to the EEPROM by setting its W pin to 1 and then it will save the value of the D pin in the address specified by the A pin. The idea is that you program the EEPROM using the circuit itself, as you would do with a "real" EEPROM and its data will persist when you save the project. The same goes for the RAM, except the RAM will not persist its data.

Here is a sample circu

[2019-04-09 04:59] fpintos commented on #357
+1 on this.

In the meantime, a workaround for this is to select and copy the circuit.
This puts the corresponding JSON data in the clipboard, which one can then save anywhere.
Then one can paste that data back into CircuitVerse to regenerate the circuit.

[2019-04-09 07:22] jbox144 opened #360 "CCS not loading"
**Describe the bug**
Going onto the CircuitVerse home page displays a broken web page, with no CSS loading. I originally thought this was a once off, but for the past week the same bug has occurred repeatedly. I have also tried a hard refresh, but that did not fix the issue.

![image](https://user-images.githubusercontent.com/40789662/55780474-54ead000-5aeb-11e9-890f-89f060013c6b.png)

**To Reprod

[2019-04-09 07:28] jbox144 commented on #360
Further revalations: Originally this would only affect the front page, now it affects all parts of the site. Even the simulator (much sadness)

![image](https://user-images.githubusercontent.com/40789662/55781137-d0994c80-5aec-11e9-9ada-840ceff2565b.png)

[2019-04-09 07:30] jbox144 commented on #360
Further information: My developer console states the following errors when loading any pages:
[code]

[2019-04-09 14:07] iamNamanKhare commented on #360
@jbox144 I tested it on the following configs many times and it worked fine every time :

- **OS** : Ubuntu Gnome 16.04 LTS  **Browser** : Firefox Quantum 67.0b5 (64-bit)

![Screenshot from 2019-04-09 19-27-55](https://user-images.githubusercontent.com/32154933/55806632-4528b700-5afe-11e9-8b68-25dac8c4bda3.png)

- **OS** : Ubuntu Gnome 16.04 LTS  **Browser** : Chromium Version 73.0.3683.75

![Scre

[2019-04-09 16:46] puskuruk commented on #360
It must be solved. But there is still problems in JS.

![Screenshot from 2019-04-09 19-45-35](https://user-images.githubusercontent.com/22892227/55818772-157aae80-5b00-11e9-97aa-a09076c988b2.png)

[2019-04-10 02:35] jgill88 commented on #236
I really like this tool a lot, but this issue is crippling.

I have refactored the resolve method in js/Node.js and have made some progress but it's not quite functioning right, although I think I'm close. I'm happy to continue working on it, if you could give some direction? @armudgal @satu0king

[2019-04-10 11:08] satu0king commented on #236
I will try and resolve this issue. Yes, there are some hacks that were used to implement tristate simulation which has been tested fairly well. But, I think there is an issue when it comes to subcircuits. Might have to introduce a check on that.

[2019-04-10 11:16] satu0king commented on #360
bootstrap.min.js:1 Failed to load resource: net::ERR_CONNECTION_RESET
sign_in:109 Uncaught TypeError: Cannot read property 'hide' of null at sign_in:109

This is exactly why previously the CSS files were in the public folder instead of serving over CDN because sometimes CDN fails!

[2019-04-10 12:48] tachyons commented on #360
Probably your ISP is blocking CDN!!. Try different connection and retry

[2019-04-11 03:26] jgill88 commented on #236
thank you!

[2019-04-11 04:35] satu0king commented on #360
@tachyons, This was an issue long back as well, I resolved it simply by copying all the CSS/JS files into our own public folder. Anyway cloudflare caches things for us, so it shouldn't be much slower. I understand that this is not the ideal solution but what do you say?

[2019-04-11 05:18] tachyons commented on #360
@jbox144 Seems like you are using one adblock extension, Can you try after disabling the extension

[2019-04-12 22:56] ankitkataria opened #364 "User groups page has n+1 queries"
**Describe the bug**
User groups page has n+1 query problem for group_member counts.

**To Reproduce**
Steps to reproduce the behaviour:
1. Goto user groups page
2. Check puma logs for the n+1 count queries

**Expected behaviour**
Should be possible in lesser number of queries.

**Screenshots**
![image](https://user-images.githubusercontent.com/22021150/56070151-f69c4680-5da3-11e9-8678-1e31bea2503

[2019-04-13 04:00] shubhankarsharma00 opened #365 "Tags page has n+1 queries."
**Describe the bug**
After reading #364 I realized Tags Page can be loaded in lesser queries.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[tags page](http://https://circuitverse.org/projects/tags)'
2. Check puma logs

**Expected behavior**
Can be done in lesser queries

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.github

[2019-04-14 06:02] harsha-iiiv opened #367 "Weird UI of 'change password' page"
**Describe the bug**
UI of change password page is not matching with other layouts.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://circuitverse.org/users/password/new
2. Request to change the password.
3. Open the reset link received.

**Screenshots**
![screenshot-circuitverse org-2019 04 14-10-15-40](https://user-images.githubusercontent.com/31560965/56088587-9c81ab00-5ea1-11

[2019-04-14 06:03] harsha-iiiv commented on #367
@satu0king

[2019-04-14 18:31] ankitkataria opened #368 "Groups mentors can be update via update route"
**Describe the bug**
The group update path doesn't sanitize the params. If mentor_id is one of the parameters, then the mentor of the group is updated, transferring the ownership of the group.

**To Reproduce**
Steps to reproduce the behaviour:
1. Make a put request at `/users/user_id/groups/group_id` with `mentor_id` in the body
2. The mentor will be updated. There are appropriate checks that ens

[2019-04-15 12:05] igaurab opened #369 "Adding features for Test Bench"
**Is your feature request related to a problem? Please describe.**
There is no feature for deleting particular input or output columns in [testbench](https://circuitverse.org/testbench)`This becomes a matter of issue when we accidentally click on add inputs or add outputs. If one have written a significant amount of test cases, in such case currently there is no option but to refresh the entire pa

[2019-04-15 14:46] creack commented on #357
I didn't realize we could copy/paste outside as JSON :). That do the trick for now, but a "full blown" import/export would still be nice.

In the same topic, having some kind of version control would be great. Maybe even a sync with github with the raw json file in a repo.

[2019-04-15 14:48] creack commented on #359
Copy/paste did the trick for now. However, I disagree with the use case. a "real" eeprom is most of the time programmed on the side using an eeprom programmer then inserted into a circuit.
I'm not UI expert, but having some kind of ways to preload the eeprom content would be great.
In the meantime, I updated my eeprom programmer to dump a json file that I can copy/paste.

[2019-04-17 03:49] jbox144 commented on #360
Sorry for the late reply. As it turns out, it was just my adblock blocking the CSS (don't know why, it's been pretty good so far). Whitelisting circuitverse.org and hard reloading the page (shift+reload) fixed the issue, and I can now view CircuitVerse in all it's stylesheeted glory.

Thanks @tachyons for the fix!

[2019-04-17 03:49] #360 closed

[2019-04-17 15:26] mosip-guest commented on #360
@tachyons @jbox144 that is a good diagnosis but I think we cannot expect users to realize this and disable their adblock. We can leave it at this for now.

[2019-04-17 19:02] vik-y commented on #320
@tachyons
Well I guess I'm too late but i think I have to respond to this. The bug is not with our docker setup - it's the problem of Docker philosophy that even though we write an efficient Dockerfile - it turns out to be inefficient.

Consider  a Dockerfile which does this:
1. take base ruby image
2. Copy Gemfile
3. bundle install
4. Copy rails code

Image generated after 3 will have all gems in

[2019-04-19 03:38] jbox144 opened #370 "Customisable machine code editor for EEPROM"
**Is your feature request related to a problem? Please describe.**
As our virtual computers grow progressively more complex, so will the programs we write for them. However, manually entering bytes of information, without use of an external system or mabey even using a console macro, will get slow and tedious very quickly. That's what this suggestion intends to solve.

**Describe the solution you'

[2019-04-19 11:08] tachyons opened #371 "Migrate from PaperClip to Active Storage"
**Is your feature request related to a problem? Please describe.**
Paperclip is [deprecated](https://thoughtbot.com/blog/closing-the-trombone)

**Describe the solution you'd like**
Follow this migration [guide](https://github.com/thoughtbot/paperclip/blob/master/MIGRATING.md)

**Are you working on this? (Yes/No)**

No

[2019-04-19 11:13] ankitkataria commented on #371
Active storage was released with rails 5.2. Will this task also entail upgrading to rails 5.2(we currently use 5.1.6)?

[2019-04-19 11:45] tachyons opened #372 "Upgrade to Rails 5.2"
**Is your feature request related to a problem? Please describe.**
Rails 5.2 is the latest released version of rails

**Are you working on this? (Yes/No)**
No

[2019-04-19 11:46] tachyons commented on #371
Made it separate issue #372

[2019-04-22 03:11] satu0king commented on #368
The mentor should not be updatable. This is a simple way to go.

Though I agree this is a bug, it is not a serious one as only the group owner can exploit it and will achieve very little by doing so.

Just collaborated projects, maybe we can have multiple mentors instead? Just a thought.

[2019-04-22 06:00] ankitkataria commented on #368
Multiple mentors for the group would be a nice functionality to add. Several times there is more than one TA for a subject and also multiple mentors will make grading the assignments faster.

[2019-04-23 09:14] terabo090 commented on #367
Can i work on this issue?

[2019-04-23 09:18] harsha-iiiv commented on #367
Sure, proceed @terabo090👍

[2019-04-23 09:22] terabo090 commented on #367
Thank you for your response

On Tue 23 Apr, 2019, 2:48 PM Harshavardhan Surisetty, <
notifications@github.com> wrote:

[2019-04-25 19:08] theredcap opened #374 "Save Online Project Bug"
**Describe the bug**
The site automatically saves the new project although we press cancel button while the alert asks us whether we want to save the project or not
**To Reproduce**
1. Go to [Simulator](https://circuitverse.org/simulator)
2. Draw any circuit(not necessary) click on Project/Save Online.
3. Press cancel.
Although we press cancel we are redirected to a new page, and our project is sa

[2019-04-26 14:13] shubhankarsharma00 commented on #374
I'm on the bug though I'll like to know if it is really necessary to ask for the name of the project with the help of the prompt during online save, because we ask for it in the next page anyway.

[2019-04-26 14:55] ankitkataria commented on #374
@shubhankarsharma00 We initially create the project using the name and add data to it in `simulator_controller#create` and then redirect the user to the actual project edit page, where we can add other parameters like description etc. The name is required to initially create the project and add the simulator data which won't be available on the edit page.

There a few replacements for the current

[2019-04-26 15:20] SubhajitCode opened #375 "Serious XSS issue in subcircuit/newCircuit name"
serious XSS security vulnerability exists in subcircuit name
If successfully exploited attacker can steal your cookie and make malicious request from victims browser
**To Reproduce**
Steps to reproduce the behavior:
1.launch simulator
2. Click on new Circuit +
3. Give this subcirccuit a name as {subcktname} <script>alert(1);</script>
for example a payload would be sbckt<script>alert(1);</script>
4

[2019-04-26 15:39] SubhajitCode commented on #248
https://github.com/CircuitVerse/CircuitVerse/issues/375 this is the critical varient as all the users will be affected by this vector

[2019-04-26 16:28] woswos commented on #375
There is an existing sanitization mechanism for inputs in the circuit editor. I couldn't figure out how to utilize that existing function to prevent XSS in the circuit names. You can try using that existing function or maybe introduce a completely new sanitation mechanism and replace the parts that use the existing one. I just wanted to share my experience with this issue :)

[2019-04-26 16:30] SubhajitCode commented on #375
I am thinking of using some thing like dom_purify

[2019-04-26 16:40] woswos commented on #375
You might check this out as well: https://github.com/rails/rails-html-sanitizer
It is native to Ruby on Rails

[2019-04-26 16:42] SubhajitCode commented on #375
okk I will look into this

[2019-04-27 06:17] shubhankarsharma00 commented on #374
@ankitkataria the suggestions are actually really good but I think rather then adding new create page or another prompt we can solve this bug easily: from what I could gather even if we leave the field empty there is a default name for every project so
- I think one way can be that we don't prompt the user for the name on the simulator edit page and create the project with a default name(`Untitled

[2019-04-27 07:54] #47 closed

[2019-04-27 16:51] harsha-iiiv opened #376 "Redo option"
**Currently, there is no redo option for the Simulator.

**Are you working on this? (Yes/No)**
No

[2019-04-27 18:22] theredcap commented on #376
@harsha-iiiv Ctrl-Z works fine in the simulator.

[2019-04-27 19:02] harsha-iiiv commented on #376
But Ctrl + y, Redo option is not functioning.

[2019-04-28 10:48] ankitkataria commented on #374
This sounds great!

Let's first start by fixing this bug, we can look into a different flow once this issue is tackled.

[2019-04-28 17:12] harsha-iiiv opened #377 "Step-by-step guide for simulator"
It would be a good feature if we add step by step guide for simulator like a website tour.

**Additional context**

![guide](https://user-images.githubusercontent.com/31560965/56867750-bb864e00-6a06-11e9-85e8-abc8f2c09486.gif)

**Are you working on this? (Yes/No)**
Yes

[2019-04-28 17:18] harsha-iiiv commented on #377
Please tell me your opinion on this feature @satu0king.

[2019-04-29 10:58] #365 closed

[2019-04-29 10:58] #355 closed

[2019-04-29 11:05] tachyons opened #379 "General Data Protection Regulation(GDPR) Complaince"
**Is your feature request related to a problem? Please describe.**
We need to make app comply with GDPR to legally enable this app in EU. We need to review user tracking, user details storage, deletion policy etc

**Describe the solution you'd like**
Need to evaluate to potential violations first.

Some possible violations:

- [ ] Do I need to collect this data for the scope of my business (and no

[2019-04-29 13:51] #6 closed

[2019-05-01 16:23] satu0king commented on #379
Yes, thank you for creating this issue.

[2019-05-01 16:31] satu0king commented on #379
I will consult an expert in college regarding this and get back.

[2019-05-05 18:21] ogierm opened #381 "Export Truth Tables"
I'm using CircuitVerse for lots uni stuff and truth tables would be useful for testing if my circuit behaves as expected, minimising etc..

When editing the circuit (where the whole thing is composed into one node and I can set the width and height) there could be an option to pop out the truth table. Additionally you should be able to have it rendered into the export image / SVG aswell

**Are you

[2019-05-20 17:43] #291 closed

[2019-05-20 17:58] #349 closed

[2019-05-20 18:20] #364 closed

[2019-05-20 18:44] ankitkataria commented on #375
@satu0king Here, Do we require to allow to users to use `></&` in the circuit and project names?
If not then we can directly strip any occurrence of these(or html tags) and the resultant string should be xss-safe.

[2019-05-20 19:13] satu0king commented on #375
Yes, except for project/assignment description everything else has to be HTML free.

[2019-05-20 19:51] #295 closed

[2019-05-20 19:51] #264 closed

[2019-05-22 16:07] KrishnaPhalgun5168 opened #384 "Add a feature that displays every possible output for a given circuit."

[2019-05-23 02:37] blane1257 opened #386 "User pages don't load"
**To Reproduce**
Steps to reproduce the behavior:
1. Open any project from any user
2. Click on the user's name to bring up their user page

**Expected behavior**
This should show you the users projects,as shown in this screenshot:
![Screenshot 2019-05-22 22 26 20](https://user-images.githubusercontent.com/34515731/58221798-d1bfbb00-7ce1-11e9-974f-30a5309e0697.png)

**Screenshots**
![Screenshot 20

[2019-05-24 03:40] sansarselim opened #388 "Gives contention error for no reason"
**Describe the bug**
if i use given circuit as subcircuit, when i change the 8 bit input while inputs enable is on message says contention error but if i use it directly it doesnt.

**To Reproduce**
Steps to reproduce the behavior:
1. Open this project 'https://circuitverse.org/users/6375/projects/17565'
2. Change the inputs enable on
3. Change the input
4. See error

**Expected behavior**
Show no

[2019-05-26 01:24] #386 closed

[2019-05-26 14:03] satu0king commented on #48
@fpintos
Thank You for your inputs. @mohammedsafwat please go through this.

I had a similar idea in mind. To reiterate some things, there will be 3 types of elements

1. Elements that always show up - Input, Output (type 1)
2. Elements that never show up - gates (type 2)
3. Elements that optionally show up - LEDs, Buttons etc  (type 3)

As @fpintos mentioned,  (type 1) is already present. I would

[2019-05-26 14:46] satu0king commented on #48
![image](https://user-images.githubusercontent.com/2092958/58383337-1a81b780-7ff3-11e9-9a61-e3d7e0c915e8.png)
I think this is the best UI possible but might be tricky to implement.

[2019-05-26 15:00] blane1257 commented on #48
I like the way that looks! I think I mentioned something like this before, but the user should also be able to insert text, which could support either markdown or html, and maybe users could have some basic graphical options, like lines and boxes. Something similar could be implemented with the current text tool.

[2019-05-26 15:28] satu0king commented on #48
Yes I agree. The current text tool should be extended to be a full-fledged markdown based text editor. However, I don't think the subcircuit text tool needs to be this complicated, it is expected to be used only for annotation.

Yes this could be useful.

[2019-05-26 15:45] satu0king commented on #379
https://medium.com/@thiagoko/gdpr-checklist-for-small-business-and-startups-who-want-no-trouble-1de5cc08be45

1. Do I need to collect this data for the scope of my business (and not to sell it to third parties)?
2. Has my user been warned and affirmatively consented (filled a not-pre-filled checkbox, for example) that I’ll be collecting this data and why I need it, how I’ll use it and who it will

[2019-05-27 04:04] #375 closed

[2019-05-27 04:10] satu0king commented on #379
@vik-y @tachyons do you have any inputs?

[2019-05-27 04:36] ankitkataria commented on #250
Will get resolved on solving #372

[2019-05-27 05:49] #250 closed

[2019-05-27 05:49] #335 closed

[2019-05-27 16:56] fpintos commented on #48
Supporting markdown is a good idea, but let's treat this as a separate issue, least it feature-creeps into the sub-layout issue.

[2019-06-04 08:47] #137 closed

[2019-06-10 01:24] yashjaiswal1 commented on #350
Hi! I'd like to help. Does this image meet the requirements?
![Circuit_verse](https://user-images.githubusercontent.com/46043241/59166990-85cb9d80-8b4c-11e9-8a50-249c7c7e9f66.png)

[2019-06-11 04:07] ankitkataria opened #393 "Add custom grading scale and comments to grades"
**Is your feature request related to a problem? Please describe.**
Grading has been implemented in #390. Currently 2 grading scales are supported 1-100 and A-F. A `:custom` grading scale is be useful when the prof doesn't want to use either one.
Also comments alongside grades will be useful for the prof leave remarks.

**Describe the solution you'd like**
Add another element to the `grading_scale`

[2019-06-13 02:59] shubhankarsharma00 commented on #374
sorry, I am not able to work on this I was busy with some internship work please feel free to approach this issue, anyone.

[2019-06-30 18:25] #384 closed

[2019-07-02 05:54] #393 closed

[2019-07-02 06:05] satu0king opened #398 "Improve Assignment Restricted Element Reporting"
1) Show restricted elements banner only if present
![image](https://user-images.githubusercontent.com/2092958/60487354-55939c80-9cbd-11e9-9a4c-ec89fa97e131.png)
2) Show restricted elements across all scopes in assignment preview (when mentor sees)
3) Improve restricted element detection
4) Show warning message when circuit is saved

[2019-07-02 06:06] ankitkataria commented on #398
I'll start working into this. 😄

[2019-07-02 06:07] satu0king commented on #398
Oh, I was going to assign this to myself xD

[2019-07-02 06:09] ankitkataria commented on #398
We can divide work on this one too. Which ones would you want to pick?

[2019-07-05 16:40] satu0king opened #400 "Docker: overwriting of config/database.yml"
Currently, docker overwrites `config/database.yml` when run. It would be nice if the local copy of config/database.yml was not changed.

[2019-07-17 05:17] satu0king opened #407 "Update channel link to slack"
@ankitkataria Please resolve this

[2019-07-17 09:11] #407 closed

[2019-07-17 13:54] satu0king opened #409 "Subcircuit Project Issue"
@abdullah-mohamed

We will add comments here as we proceed

PR #401
Here are some aesthetic things to improve later, not immediate concern now
1. Hover is not being detected correctly, the bug will be in `layoutUpdate()` and might be tricky to debug
2. Hover needs to be implemented for all elements but no immediate requirement
3. The seven segment display need to be able to stack next to each othe

[2019-07-21 12:52] satu0king opened #412 "BucketList - Ankit"
These are some requirements, Ping me before starting for more details.

- [x] Add feature link (make it work like a button) in the area below in circuit page
![image](https://user-images.githubusercontent.com/2092958/61591399-213c3d80-abe4-11e9-8a72-a1f8dd3d471a.png)

- [ ] You can work on the autosave feature for the simulator #34
- [ ] Automatically subscribe to emails(for comments) when user cr

[2019-07-21 13:08] satu0king opened #413 "Dashboard search for user's circuits"
Client side searching for user's circuits

Add a search bar below next to view favorites. Let the search happen in client side.

![image](https://user-images.githubusercontent.com/2092958/61591637-901a9600-abe6-11e9-8e3f-2954507cab30.png)

[2019-07-21 13:25] #12 closed

[2019-07-22 11:43] #135 closed

[2019-07-25 18:41] satu0king opened #415 "Hide tags if no tags are present"
![image](https://user-images.githubusercontent.com/2092958/61899781-d733be80-af39-11e9-82a3-239fd319f7d6.png)

Don't show **tags:** if no tags are present.

[2019-07-25 18:43] satu0king commented on #377
Sorry, I missed this somehow. Yeah it is a great feature. How did you achieve this?

[2019-07-25 18:44] #350 closed

[2019-07-25 18:46] #142 closed

[2019-07-25 18:51] satu0king opened #416 "RailsAdmin - assignment page error"
![image](https://user-images.githubusercontent.com/2092958/61900433-36de9980-af3b-11e9-9abe-8290aea9d242.png)

Error accessing `http://localhost:3000/admin/assignment`

[2019-07-26 05:01] #416 closed

[2019-07-27 15:54] #415 closed

[2019-07-31 03:46] Commander-Firestrike commented on #388
I was able to reproduce this error in Microsoft Edge and Firefox, in both your project and my own.

[2019-07-31 11:57] satu0king commented on #388
This is unfortunately due to an issue with the triState buffer. The tristate buffer loses its property when it is in a subcircuit. We will work on a fix but it will be a while.

[2019-08-04 10:00] satu0king opened #424 "Commentator mails failing"
Mails are created when a user comments on a subscribed mail thread. However the mails are failing due to this error.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a project
2. Add a comment (this will subscribe user1)
3. Sign in as another user (user2)
4. Create another comment on the same project (user1 should get email)
5. Run sidekiq in the background

**Expected behavior

[2019-08-04 10:06] satu0king opened #425 "Admin: Send Custom Mail Preview to Self"
When admin creates a mail and would like to send it, it would be nicer if we could test send a mail to admin first. This is necessary because sometimes mails turn out unexpected and doesn't match the preview mail shown.

**Describe the solution you'd like**
Along with **edit** and **send**, a **send to self** option is desirable.
page: `http://localhost:3000/custom_mails/1`
![image](https://user-i

[2019-08-04 15:40] satu0king opened #426 "Display 4 recent most editor picks"
Currently first 4 editor picks are displayed. Instead 4 most recently featured editor picks are required.

[2019-08-04 20:49] ankitkataria commented on #424
Looked into this for quite some time.

#### Probable solution
`./app/config/commontator.rb`
[code]

Reference: https://github.com/lml/commontator/issues/119

Then inside rails console
[code]

But, initial testing still showed the same error in sidekiq
Looking more into this.

More references:
- [Polymorphic routes](https://apidock.com/rails/ActionDispatch/Routing/PolymorphicRoutes)

[2019-08-05 06:16] #426 closed

[2019-08-06 09:37] satu0king commented on #424
@ankitkataria sidekiq runs independently of the rails server. So you will have to kill and restart the sidekiq process to test.

[2019-08-06 17:00] ankitkataria commented on #332
Fixed via #422

[2019-08-06 17:00] #332 closed

[2019-08-11 07:07] Blizzard57 commented on #367
Can I work on this issue?

[2019-08-11 13:00] harsha-iiiv commented on #367
Okay @Blizzard57

[2019-08-11 13:01] harsha-iiiv commented on #377
Yes @satu0king

[2019-08-11 17:13] satu0king commented on #377
@harsha-iiiv go ahead with w PR

[2019-08-12 08:41] ankitkataria commented on #367
Sure, go ahead @Blizzard57 :grin:

[2019-08-12 14:30] Blizzard57 commented on #367
Thanks for the response

[2019-08-13 13:27] satu0king opened #428 "Remove Display of Collaborator Emails"
Example: https://circuitverse.org/users/2484/projects/11615

![image](https://user-images.githubusercontent.com/2092958/62945204-f1a3de00-bdfb-11e9-96dd-d76cd56300ec.png)

Please display collaborator email only if the current user is the owner of the project otherwise only show name.

[2019-08-15 15:37] #424 closed

[2019-08-16 13:22] Sahaj8 commented on #428
Can I work on this issue??

[2019-08-16 13:23] satu0king commented on #428
Sure @Sahaj8 go ahead!

[2019-08-16 14:08] ankitkataria commented on #428
Fixed with #430

[2019-08-16 14:08] #428 closed

[2019-08-19 13:21] HypheX commented on #14
Has something similar to this been implemented yet?

[2019-08-19 17:17] satu0king commented on #14
No. It is actually quite difficult to introduce now as there should be backward compatibility as well.

[2019-09-04 18:35] simon-tiger opened #434 "Counter + TriState Not Working in my SAP-1"
Inspired by Ben Eater's 8-bit Breadboard Computer, I'm trying to build the [SAP-1 processor in CircuitVerse](https://circuitverse.org/users/7241/projects/22541). I'm on the program counter. It seems like it is counting, but it is in conflict with the Accumulator, even though the wasn't enabled.

I would think that, if the counter is enabled, but the accumulator isn't, it would just be happy output

[2019-09-04 19:04] satu0king commented on #434
This is the same issue faced in #236 . The issue is the tristate handling code right now doesn't work correctly across subcircuits. We are looking into it. For now try and get all tristate buses on one circuit itself.

[2019-09-05 08:45] simon-tiger commented on #434
Hmmm...

@satu0king The other TriState circuits work here!

[2019-09-05 08:47] satu0king commented on #434
@simon-tiger , no the issue is when the tristate is inside the circuit. A simple fix is to bring the wire controlling the tristate and the tristate outside.

[2019-09-20 02:43] phyzicist opened #437 "Stuck Selections"
**Describe the bug**
After using shift-select and copy-pasting a group, sometimes it becomes impossible to de-select what you had selected despite clicking elsewhere.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new circuit at circuitverse.org
2. Place three Input elements. Note that the most recent input element placed is yellow.
3. Single click in any empty space of the circuit

[2019-09-20 02:59] phyzicist opened #438 "Authentication Error on Second Click of "Start Working""
**Describe the bug**
Authentication error when following link to "Start" working on an assignment that you've already started. Current workaround is to refresh page to get a new link. Better fix would be to automatically re-direct the "Start working" link if the assignment is already started.

**To Reproduce**
Steps to reproduce the behavior:
1. Teacher: at circuitverse.org, create an assignment f

[2019-09-20 03:02] phyzicist commented on #438
Suggested solution:

Rather than giving authentication error, "Start Here" should automagically redirect to "View your Work" link if the work is already started.

[2019-09-20 03:09] phyzicist opened #439 "Typo in profile settings: "Not Susbcribed""
**Describe the bug**
There is a typo in profile settings when you unsubscribe from mailings. It says "Not Susbcribed".

**Expected behavior**
It should say "Not Subscribed"

**Are you working on this issue? (Yes/No)**
Yes. I think this is a simple chance for me to try to contribute to circuitverse. I will try to pull and fix.

[2019-09-20 03:17] phyzicist opened #440 "Improved Wire Management"
**Is your feature request related to a problem? Please describe.**
Yes, students are often accidentally bridging connections (a) when they lay down wire for the first time and (b) when they drag a circuit element around. They don't even realize it, and call me over where I identify the problem.

Also, students tell me that Mac/PC software that they have used for logic circuits has better wire mana

[2019-09-20 03:28] sfeister opened #441 "NAN dates on iMac"
**Describe the bug**
NAN in default date window when creating new assignment in iMac in Safari browser

**To Reproduce**
Steps to reproduce the behavior:
1. **On our iMacs**, go to 'Create New Assignment' or Edit Assignment.
2. Observe the date field is now filled with NANs.

**Expected behavior**
Of course, that it would have a date!

**Desktop (please complete the following information):**
 - OS

[2019-09-20 03:28] phyzicist commented on #441
This doesn't happen in Firefox on Windows 10.

[2019-09-20 03:28] phyzicist commented on #441
My proposed solution: Use server time, rather than local computer time, to pre-populate the date text box?

[2019-09-20 03:43] phyzicist opened #442 "Stuck on Save Animation"
**Describe the bug**
A few times in every class, one or a few students end up losing work. I'm not sure what causes it, but their "Save Online" gets stuck in endless "Save" animation. They typically watch the save animation anxiously for a while, then refresh the page and lose everything since the last save.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a circuit in circuitverse.org
2

[2019-09-20 03:50] phyzicist opened #443 "Re-order tabs of Circuits"
**Is your feature request related to a problem? Please describe.**
It's not a huge problem, but typically my students have a preferred order of circuits -- e.g. such that a new sub-circuit sits next to the circuit that uses it.

**Describe the solution you'd like**
Like in modern web browsers, it would be great if you could click and drag on Circuit tabs to re-order.

**Describe alternatives you'v

[2019-09-20 03:53] phyzicist opened #444 "Include font size property for text tool"
**Is your feature request related to a problem? Please describe.**
When I'm designing circuits to show students, I often want to add large text as a title.

**Describe the solution you'd like**
I'd like the text tool to have a font size property.

**Describe alternatives you've considered**
I just use the default font size, sometimes all-caps.

**Are you working on this? (Yes/No)**
No

[2019-09-20 04:07] phyzicist opened #445 "Text tool not behaving well with hotkeys"
**Describe the bug**
When typing out text in a Text element of Circuitverse, hotkeys result in weird blended behavior. E.g. typing Ctrl + C does copy the element, but also adds a "c" to the end of the text box. Weirdness for Ctrl + Z, Delete, apostrophe, etc.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a Text element.
2. Type anything in the box.
2. Deselect it.
3. Reselect it.
4. T

[2019-09-20 04:26] phyzicist opened #446 "Redraw Encoder or Decoder Icons to Match One Another"
**Is your feature request related to a problem? Please describe.**
I'm want to give my students experience with the symbols for the various circuit elements. The Multiplexer, Demultiplexer, and Decoder elements are all drawn as sideways trapezoids -- but the Priority Encoder element is drawn as a box.

**Describe the solution you'd like**
I'd like the Priority Encoder element to be drawn as a mirr

[2019-09-20 04:41] phyzicist opened #447 "Copy/Paste Stops Working Unexpectedly"
**Describe the bug**
Pretty frequently, I notice that Copy/Paste has stopped working in my circuit. I need to refresh the page to get it working again.

**To Reproduce**
**Not sure how to reproduce this**, actually. Steps to reproduce the behavior:
1. Work on a circuit for a while.
2. Type Ctrl + C.
3. Type Ctrl + V. Nothing!

**Expected behavior**
Ctrl + C and Ctrl + V hotkeys should continue to

[2019-09-20 04:46] phyzicist opened #448 "Shared Input/Output Data Lines"
**Is your feature request related to a problem? Please describe.**
To teach about buses, I would love to have bi-directional data lines.

**Describe the solution you'd like**
The following features:
(a) A new circuit element equivalent to the Input element (and Output element) that can act as both input & output.
(b) The ability to map this new circuit element onto a sub-circuit.
(c) Anything I ha

[2019-09-20 05:08] phyzicist opened #449 "Google-Docs-Like Collaboration Mode"
**Is your feature request related to a problem? Please describe.**
I have my students work in groups of two, but only one student can edit the circuit at a time. Usually one student operates the computer while the other student watches and dictates requests to them.

**Describe the solution you'd like**
Real-time circuit collaboration, like one would do with documents in Google Docs. I realize tha

[2019-09-20 05:21] sfeister opened #450 "Project Name Reverts"
**Describe the bug**
After renaming a Project, it reverts to its old name after launching simulator.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Simulator at circuitverse.org.
2. Draw something.
3. Save the Project online. Name it "Fantastic Project" and give it a brief description.
4. Go to My Circuits.
5. Under "Fantastic Project", click the blue "More" button.
6. Scroll down to t

[2019-09-27 02:35] tachyons opened #451 "Sunspot solr shouldn't be an hard dependency"
**Describe the bug**
Currently this application can not be run without solr

**Expected behavior**
Application must be able to run without solr configured

**Are you working on this issue? (Yes/No)**
No

[2019-09-28 05:05] Parikshit-Hooda opened #454 "Google Code-In 2019 application"
Google Code-in 2019 is accepting applications from 10 october.
Link : https://codein.withgoogle.com/

We should apply!

[2019-09-28 17:43] #439 closed

[2019-09-30 01:36] NavonilDas commented on #445
I am working on it.

[2019-10-12 18:32] NavonilDas commented on #443
Good Idea 👍 . I will be working on it.

[2019-10-13 01:13] Parikshit-Hooda commented on #454
@satu0king Its time!

[2019-10-13 01:13] Parikshit-Hooda commented on #454
Also, this time, I would like to mentor some of the participants.

[2019-10-13 14:46] ankitkataria commented on #454
Hey, we've started the discussion for application of GCI on #gci19 channel on slack, do consider joining for further updates! :grin:

[2019-10-14 06:55] Parikshit-Hooda commented on #454
ok, got it!

[2019-10-23 21:58] #216 closed

[2019-10-25 07:31] Parikshit-Hooda opened #459 "find and fix typos - GCI'19"
For beginner level, to introduce to how issues are raised and PR are created.
What can be a typo :
- any spelling issue. For example, ommit(typo) - omit(fixed typo)
- any grammatical mistake. For example, this-these, on-in etc.
Reach out to @Parikshit-Hooda to see is something relates to this issue.

[2019-10-25 16:35] Parikshit-Hooda opened #460 "Restructure README.md"
**Is your feature request related to a problem? Please describe.**
Restructure README.md for visitors to easily follow.

**Describe the solution you'd like**
Some content can be moved to more relevant locations and links to them can be added to the README.md

**Describe alternatives you've considered**
- Move Contributors section in the README.md to CONTRIBUTING.md, perhaps.
- Put 'Additional setu

[2019-10-25 16:48] Parikshit-Hooda commented on #5
@satu0king Can we put it under GCI 'hard' ?

[2019-10-25 16:49] Parikshit-Hooda commented on #1
@animysore What's the progress on this? If you are done, please let us know. If not, then let us know as well.

[2019-10-25 16:49] Parikshit-Hooda commented on #14
@HypheX Whats the progress on this? This issue can be taken under Google Code In-2019 as no PR has been raised yet. What say @satu0king @ankitkataria . Perhaps

[2019-10-25 16:53] Parikshit-Hooda commented on #108
@sanctophagus What's the progress on this?

[2019-10-25 16:54] ankitkataria commented on #1
Try out https://github.com/animysore/CircuitVersePPT, it needs to be tested for persistence.

[2019-10-25 16:57] Parikshit-Hooda commented on #86
@fpintos Is there any progress on this issue?

[2019-10-25 17:03] ankitkataria commented on #5
I don't think that'll be a good idea, there's still a lot of work required to achieve that.

[2019-10-25 17:04] Parikshit-Hooda commented on #5
Yes, I get it now. This was perhaps posted/refered before your advice on the slack.

[2019-10-25 17:47] Parikshit-Hooda opened #461 "Improve PULL_REQUEST.md template"
**Is your feature request related to a problem? Please describe.**
Currently, the PR template is very basic and has only 2 sections.
**Describe the solution you'd like**
More sections can be added. Consult this : [1](https://github.com/perry-contribs/concerto/blob/master/.github/pull_request_template.md) [2](https://github.com/adobe/aio-cli-plugin-cna/blob/master/.github/PULL_REQUEST_TEMPLATE.md)

[2019-10-25 17:54] Parikshit-Hooda commented on #444
Should also take into account overflow and other render issues that might happen as fontsize changes

[2019-10-26 14:58] #400 closed

[2019-10-26 14:58] #451 closed

[2019-10-26 16:07] ankitkataria opened #463 "Make development docker build work with solr"
**Is your feature request related to a problem? Please describe.**
The current local docker builds work without solr. We need to extend docker builds with Solr.

**Describe the solution you'd like**
Add to docker-compose file necessary solr image and link with web.

**Are you working on this? (Yes/No)**
Yes

[2019-10-26 21:40] HypheX commented on #236
This has become a crippling issue just now.
I am recreating the CPU shown in http://www.buthowdoitknow.com/ as closely as possible. However, this became an obstacle that prevents me from closely recreating it, as intended.

[2019-10-28 09:21] ankitkataria opened #464 "Move current email templates to zurb"
**Is your feature request related to a problem? Please describe.**

Our current email templates are very lengthy and tough to understand in the first go. Check - [new_project_email](https://github.com/CircuitVerse/CircuitVerse/blob/master/app/views/user_mailer/new_project_email.html.erb), [featured_circuit_email](https://github.com/CircuitVerse/CircuitVerse/blob/master/app/views/user_mailer/featur

[2019-10-28 09:36] ankitkataria opened #465 "Fix linting issues in specs"
**Describe the bug**
Some of the specs were added before rubocop was added for linting. As a result some of them were written without linting checks. These linting errors needs to be fixed. Check [rubocop](https://github.com/rubocop-hq/rubocop) to see how linting works.

Linting fixes are required in following directories inside `./spec`
- [controllers](https://github.com/CircuitVerse/CircuitVerse

[2019-10-28 09:45] ankitkataria opened #466 "Redesign circuit preloader"
**Is your feature request related to a problem? Please describe.**
Currently, we have a diamond-shaped preloader for circuits. It would be more appealing to change it to an animation of the logo found [here](https://github.com/CircuitVerse/CircuitVerse/blob/master/public/img/favicon.ico). Suggestions are welcome.

Current preloader -
![image](https://user-images.githubusercontent.com/22021150/6766

[2019-10-28 10:05] ankitkataria opened #467 "Send assignment submission report to mentors"
**Is your feature request related to a problem? Please describe.**

Upon the deadline of the submission of assignments, the mentors should get a submission report with at least the number of students who have submitted and those who missed the deadline. It will be added in a similar fashion as the [AssignmentDeadlineSubmissionJob](https://github.com/CircuitVerse/CircuitVerse/blob/master/app/jobs/a

[2019-10-28 13:46] Parikshit-Hooda opened #468 "Loader redesign proposal"
**Is your feature request related to a problem? Please describe.**
Currently, the loader is a blue diamond folding animation. For better impact, we may replace it with a new loader. Would look great if opposite arms of links in the circuitverse logo light up alternatively.

**Describe the solution you'd like**
The new proposed loader might build up on top of the [circuitverse logo](https://github.

[2019-10-28 17:06] ankitkataria commented on #468
Duplicate of #466

[2019-10-30 12:59] shubhankarsharma00 opened #470 "Trying to use clipboard in menubar results in chaos."
**Describe the bug**
When you try to paste stuff in menubar's text input fields you accidentally end up pasting it on the simulator.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Should paste stuff in the input text field and not in the menubar.

**Screenshots**
![8](https://user-images.githubusercon

[2019-10-30 13:01] shubhankarsharma00 commented on #470
As you can see in the screenshot I tried pasting some text in the input text filed but  ended up pasting the recent simulator element onto the simulator just below the field.

[2019-10-30 13:22] shubhankarsharma00 opened #471 "Can't resize menubar after it is collapsed."
**Describe the bug**
We can't resize the menubar once it is resized to a size where it almost collapses.
**Screenshots**
![9](https://user-images.githubusercontent.com/32474302/67861205-aae59a80-fb45-11e9-879e-553c40fc6afc.gif)

**Additional context**
I would like to point out that it resets when the page is reloaded.
I think when people see their circuit's simulation they would want to collapse t

[2019-10-31 12:00] ankitkataria opened #473 "Add a view for viewing all custom emails sent"
**Is your feature request related to a problem? Please describe.**
Custom email functionality for admins was added in #423. Check out #419 for detailed feature description. Currently, there is no way to view all the custom emails that have been sent so far.

**Describe the solution you'd like**
Create another view only visible to the admins where they can view all the custom emails that have been

[2019-10-31 17:45] PragatiVerma18 opened #474 "Search Bar needs improvement"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The search bar on <a href="https://docs.circuitverse.org/">docs page</a> needs to be differentiated from the rest of the sidebar, maybe adding a search button and input box with a search icon may help and also, fix that cross button, it is

[2019-10-31 18:03] PragatiVerma18 opened #475 "The toggle button for dark button needs a label."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The toggle button on the docs page( https://docs.circuitverse.org/#/ ) did not specify its purpose. Separate it from the edit on GitHub link. It is confusing at first sight.

**Additional context**
Add any other context or screenshots abou

[2019-10-31 18:25] PragatiVerma18 opened #476 "Striped Truth Tables needs color improvements in dark mode."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The tables on the docs page are too light in dark mode that the text is barely visible on them. So, please make the text darker in dark mode.

**Additional context**
Add any other context or screenshots about the feature request here.

![U

[2019-10-31 18:48] CodeSarthak commented on #475
Hi,
How does this look?

![dark-mode-toggle-fix](https://user-images.githubusercontent.com/24937677/67976902-05155700-fc3d-11e9-8d4b-674428e696a2.png)

I am actually very new (this is my first issue :) ) to this repository and I am not yet aware of the structure of the codebase. It would be helpful if you could point me to the HTML/CSS files.

Thank you.

[2019-10-31 18:56] PragatiVerma18 commented on #475
Hi, @CodeSarthak!!! This is cool but I can't help you with further stuff since I am just a contributor to this project and I don't have push permissions. So, wait for the reviewers to look at your solution. The HTML/CSS files you will find them here:
https://github.com/CircuitVerse/CircuitVerse/tree/master/public

[2019-10-31 19:02] CodeSarthak commented on #475
Sure, I'll wait for the approval and then start working on it.

Thanks a lot @PragatiVerma18. Just a small thing - I was able to locate the CSS files but I am still unable to find the HTML source files :(

[2019-10-31 20:04] Shweta0002 opened #477 "Import saved circuit from local desktop option"
Problem:
There is a option available for saving circuits as png , jpeg etc and exporting circuits , But what if i want to reopen my circuit on Circuit Verse which i already saved on my local desktop and want to edit it.

Requirement
Create a option for **importing** already saved circuits in local PC , for editing purpose.

 One can upload the file saved with the extension for circuits and then re

[2019-11-01 05:43] sakshi1499 opened #478 "Change of Readme to clearly explain gitpod usage"
**Is your feature request related to a problem? Please describe.**
While going through the development environment, I found Set up in cloud section not placed at the right position and not clearly stated.

**Describe the solution you'd like**
The readme could be updated with the following steps to be clear and precise.
1) Setup in cloud can be done using gitpod.
2) Click on the gitpod toggle.
3) W

[2019-11-01 05:47] sakshi1499 opened #479 "Words missing in the tagline"
**Is your feature request related to a problem? Please describe.**
Under 'teachers' and 'Create Groups', the statement makes no relevance. It has missing words.

**Describe the solution you'd like**
It can be changed to the following:
Teachers can create groups and **add** their students to them!

**Additional context**
![Capture](https://user-images.githubusercontent.com/42520146/68004877-1e4bf10

[2019-11-01 05:51] sakshi1499 opened #480 "In the dark mode the drop down button shows issues"
**Is your feature request related to a problem? Please describe.**
I have dark mode plugin enabled in my latest mozilla firefox browser and the drop down button after logging in to the development environment shows blurred icon.

**Describe the solution you'd like**
The drop down icon can be switched to some other icon.

**Additional context**
Please find enclosed the screenshot.
![drop down](http

[2019-11-01 05:56] sakshi1499 opened #481 "Same names can be given to new circuits."
**Is your feature request related to a problem? Please describe.**
After launching the simulator, the user can give same circuit names to more than one project. This induces redundancy.

**Describe the solution you'd like**
It would be better if the same circuit name cannot be given at the same time while creating circuits.

**Additional context**
Please find enclosed a screenshot of the same.
![s

[2019-11-01 06:09] sakshi1499 opened #482 "Alignment issue on home page"
**Is your feature request related to a problem? Please describe.**
Padding is required in the read more section. It looks unaligned.

**Describe the solution you'd like**
Padding of 20px or so can be added to make it appear better.

**Additional context**
Screenshot of the same has been attached.

![alignment](https://user-images.githubusercontent.com/42520146/68005748-40933e00-fc9c-11e9-8e24-9d18

[2019-11-01 06:42] sakshi1499 opened #483 "Invalid email ids also accepted in group"
**Is your feature request related to a problem? Please describe.**
While making a group and adding members to it, I added invalid email id namely sakshi@test but no filter stopped it and I received acceptance alert.

**Describe the solution you'd like**
Email id attribute should be added in the html page input tag.

**Additional context**
Find below the screenshot of the alert I received.

![inval

[2019-11-01 06:48] sakshi1499 opened #484 "Bootstrap missing in button"
**Is your feature request related to a problem? Please describe.**
Bootstrap is missing in create assignment button.

**Describe the solution you'd like**
Bootstrap is not added in the button.

**Additional context**
While some buttons look like below, the create assignment button lacks bootstrap.

![Bootstrap](https://user-images.githubusercontent.com/42520146/68007431-9d452780-fca1-11e9-9a54-3a7

[2019-11-01 06:52] sakshi1499 opened #485 "Different countdown times for assignment"
**Is your feature request related to a problem? Please describe.**
The countdown time for the same assignment varies once opened.

**Describe the solution you'd like**
The countdown should be synced.

**Additional context**
Add any other context or screenshots about the feature request here.

![error](https://user-images.githubusercontent.com/42520146/68007645-37a56b00-fca2-11e9-8806-444256d556b6.

[2019-11-01 07:02] junron commented on #482
We can use [flexbox](https://jsfiddle.net/2467mgn5/2/) for this, instead of hardcoding paddings, which may not work well if the text length changes later.

[2019-11-01 07:04] sakshi1499 commented on #482
Definitely, That'll be a better option :)

[2019-11-01 07:13] sakshi1499 opened #486 "Add alert for all options"
**Is your feature request related to a problem? Please describe.**
Alert pops up when any element in the input or output option in simulator is hovered but this does not happen in the rest of the options. Those alerts should also be added to maintain symmetry.

**Describe the solution you'd like**
Alert should be added when hovered over options other than input and output.

[2019-11-01 07:25] sakshi1499 opened #487 "No invite received after being added to the group"
**Is your feature request related to a problem? Please describe.**
Invite was to be sent to the people who are not already on CircuitVerse to connect to a project according to the alert, but none was received(not even in spam).

**Describe the solution you'd like**
Emails can be sent to the users using sendgrid api.

[2019-11-01 07:43] PragatiVerma18 commented on #475
Here you go :
<a href="https://github.com/CircuitVerse/CircuitVerseDocs/blob/master/docs/index.html">https://github.com/CircuitVerse/CircuitVerseDocs/blob/master/docs/index.html</a>

I guess we were looking at the wrong place. There is a separate repository for the CircuitVerse docs:
<a href="https://github.com/CircuitVerse/CircuitVerseDocs">https://github.com/CircuitVerse/CircuitVerseDocs</a>

[2019-11-01 07:59] junron opened #488 "Scroll zoom reversed"
**Describe the bug**
When scrolling up, the view zooms out, and zooms in when scrolling down.
This is the opposite to many applications like [google maps](https://www.google.com/maps/), where scrolling up zooms in and scrolling down zooms out. This also applies to preview screens.

**To Reproduce**
Steps to reproduce the behavior:
1. Scroll up
2. Circuit view zooms out

**Expected behavior**
1. Sc

[2019-11-01 08:05] sakshi1499 opened #489 "Remove re-entering of email in forgot password"
**Is your feature request related to a problem? Please describe.**
When user entered email and then clicked forgot password, the forgot password instructions should be directly sent instead of asking for email again.

**Describe the solution you'd like**
The same email parameter should be linked with the forgot password email parameter.

**Additional context**
Find below the screenshot of the abov

[2019-11-01 08:05] junron commented on #488
Hmm the control key seems to reverse this behavior

[2019-11-01 08:12] sakshi1499 opened #490 "Error page loads up when clicked on send instructions for password reset"
**Describe the bug**
Instead of getting a successfully sent page, a page with the following bug loads up.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Sign in page
2. Click on Forgot Password
3. Enter email and click on send instructions
4. See error

**Expected behavior**
Successfully sent or failure page should load up.

**Screenshots**
Screenshot has been attached.

![bug](https:

[2019-11-01 08:52] ShreyaPrasad1209 opened #491 "Bootstrap missing in Project's drop down buttons"
**Is your feature request related to a problem? Please describe.**
Drop down from the Project tab seems plain.

**Describe the solution you'd like**
Apply Bootstrap and make the drop down buttons light gray with text becoming black on hover.

**Additional context**
![2019-11-01 (2)](https://user-images.githubusercontent.com/43600306/68013152-31b78600-fcb2-11e9-8b1b-9f7147f66dc3.png)

[2019-11-01 09:02] ShreyaPrasad1209 opened #492 "Navbar unresponsive"
**Describe the bug**
Navbar becomes unresponsive at 1261x760 px.

**Expected behavior**
Navbar should maintain its dimensions even when size of the screen changes.

**How to correct**
Use media query and verify the size using inspection as shown in screenshot.

**Screenshots**
![2019-11-01 (3)](https://user-images.githubusercontent.com/43600306/68013857-0897f500-fcb4-11e9-9eb1-51f0b4c8599d.png)

[2019-11-01 09:06] ShreyaPrasad1209 opened #493 "Separate project and search button"
**Is your feature request related to a problem? Please describe.**
There's no gap between project button and search bar.

**Describe the solution you'd like**
Shift the project button towards left and apply Bootstrap on it. Prefer light greyish color scheme.

**Additional context**
![2019-11-01 (2)](https://user-images.githubusercontent.com/43600306/68014247-fd919480-fcb4-11e9-9b7c-afaa26f2ff8d.pn

[2019-11-01 09:22] ShreyaPrasad1209 opened #494 "Page index unresponsive"
**Describe the bug**
Page Index unresponsive after 767x760px.

**How to correct it**
Use media query and verify responsiveness using inspection.

**Expected behavior**
"Previous" and "Next" buttons should maintain its width.

**Screenshots**
If applicable, add screenshots to help explain your problem.

![2019-11-01 (5)](https://user-images.githubusercontent.com/43600306/68015040-316db980-fcb7-11e9

[2019-11-01 09:39] ShreyaPrasad1209 opened #495 "Fix mobile navigation menu bar to top left"
**Is your feature request related to a problem? Please describe.**
Mobile navbar menu in CircuitVerse's documentation is fixed at bottom left now, making it hard to find.

**Describe the solution you'd like**
Fix mobile navigation menu bar to top left

**Additional context**
![image](https://user-images.githubusercontent.com/43600306/68015980-7eeb2600-fcb9-11e9-96e6-e98ce37ccf1c.png)

[2019-11-01 09:42] ShreyaPrasad1209 opened #496 "Change colour of mobile navbar in documentation"
**Is your feature request related to a problem? Please describe.**
 Current colour of mobile navbar makes it hard to notice.

**Describe the solution you'd like**
Change its colour to dark green. Always use dark colours to highlight prominent features in a website.

**Additional context**
Refer to #495 for screenshot.

[2019-11-01 09:47] ShreyaPrasad1209 opened #497 "Highlight search bar in documentation"
**Is your feature request related to a problem? Please describe.**
 Search bar is not prominent in website, making it look like an insignificant feature.

**Describe the solution you'd like**
1. Give shadow to search bar
2. Colour placeholder green
3. Make placeholder bold

**Additional context**
![image](https://user-images.githubusercontent.com/43600306/68016451-9ecf1980-fcba-11e9-845e-c0183d14f

[2019-11-01 09:56] ShreyaPrasad1209 opened #498 "Fix scroll bar"
**Is your feature request related to a problem? Please describe.**
Scroll bar not moving up and down

**Describe the solution you'd like**
 Make scroll bar functional using overflow property.

**Additional context**
Refer to #497 for screenshot.

[2019-11-01 10:15] junron commented on #494
Simple solution: Remove the space between the arrow and the text. This causes the browser to render the text as one 'word' so it stays on the same line

[2019-11-01 10:18] ShreyaPrasad1209 opened #500 "Change font size and family."
**Is your feature request related to a problem? Please describe.**
Font too small and simple in documentation page, making it hard to pay attention.

**Describe the solution you'd like**
Make following changes-
[code]
It should look something like this-

![2019-11-01 (8)](https://user-images.githubusercontent.com/43600306/68018127-5d406d80-fcbe-11e9-94a4-62a2aca99041.png)

**Describe alternatives

[2019-11-01 10:56] eKuG opened #501 "Create a Parity Detector using Universal Gate"
![2019-11-01 (1)](https://user-images.githubusercontent.com/33174166/68020308-15bce000-fcc4-11e9-9512-7d938a6f4fbd.png)
Parity detectors are used to find the error in the transmitted signal. Two types of Parity Detectors are there - Even and Odd
Also, add the limitations of using Parity Detector for Error Detection

[2019-11-01 11:07] tachyons commented on #501
https://github.com/CircuitVerse/CircuitVerseDocs

[2019-11-01 11:15] sakshi1499 opened #502 "Change Password page lacks Bootstrap"
**Is your feature request related to a problem? Please describe.**
Change your password page lacks bootstrap.

**Describe the solution you'd like**
Add bootstrap buttons to keep a consistency between all buttons.

**Additional context**
Screenshot has been attached.

![bootstrap](https://user-images.githubusercontent.com/42520146/68021253-ed82b080-fcc6-11e9-995e-5b722308d093.PNG)

[2019-11-01 11:20] sakshi1499 opened #503 "Alert should disappear when reloaded"
**Is your feature request related to a problem? Please describe.**
The alert fails to disappear when reloaded.

**Describe the solution you'd like**
Alert popped up earlier should get removed on its own when the page is refreshed.

**Additional context**
Look at the screenshot attached.
![alert](https://user-images.githubusercontent.com/42520146/68021561-bb258300-fcc7-11e9-85b4-9dae1119eb41.PNG)

[2019-11-01 11:26] tachyons commented on #503
This is the intended behaviour in rails flash messages

[2019-11-01 11:26] #503 closed

[2019-11-01 11:28] sakshi1499 opened #504 "Should display messages properly"
**Is your feature request related to a problem? Please describe.**
When a user clicks on the send me instructions toggle in the forgot password page, the text displayed on screen should show texts like "Enter an email" or "Email can't be blank" instead of " 1 error prohibited this user from being saved: email can't be blank"

The text that is being displayed doesn't seem appropriate and individual

[2019-11-01 11:29] #495 closed

[2019-11-01 11:30] #500 closed

[2019-11-01 11:30] tachyons commented on #504
This is the default ui from the library we use (devise). Do you have better design suggestions to improve user experience on this page?

[2019-11-01 11:31] sakshi1499 commented on #503
Okay :)

[2019-11-01 11:33] sakshi1499 commented on #504
Yes definitely. Because the email can't be blank is generated directly from the library, we can change the text stating 1 error line, user is the person using it, why should it be in the third person and not second person?

[2019-11-01 11:33] #498 closed

[2019-11-01 11:35] #497 closed

[2019-11-01 11:36] #496 closed

[2019-11-01 11:36] sakshi1499 commented on #504
User experiences are majorly personalized and this makes it look generic, I hope you understand what I am conveying. Its not very eye pleasing to look at the same once it has loaded.
If you could direct me to the file, I'll look for how we can make it better.

[2019-11-01 11:56] CodeSarthak commented on #475
Right. Thank you once again.

[2019-11-01 12:04] CodeSarthak commented on #479
Hi,

How does this look?
![groups-text-missing](https://user-images.githubusercontent.com/24937677/68023666-dabfaa00-fccd-11e9-8473-2c8ace6b1feb.png)

[2019-11-01 12:05] sakshi1499 opened #505 "Invalid emails being allowed in 'add collaborator'"
**Is your feature request related to a problem? Please describe.**
I tried to add invalid email and it showed it was valid.
Email that I added was test@rosy
**Describe the solution you'd like**
Invalid emails should get removed.

**Additional context**
Screenshot attached.
![invalid](https://user-images.githubusercontent.com/42520146/68023657-c9769d80-fccd-11e9-9b14-e2c3a357ef1f.PNG)

[2019-11-01 12:07] sakshi1499 commented on #479
It looks great. :)

[2019-11-01 12:59] tachyons commented on #504
Yes, I that is why I used the term user experience.

This is the relavent file from the codebase https://github.com/CircuitVerse/CircuitVerse/blob/master/app/views/users/passwords/new.html.erb

[2019-11-01 14:30] sakshi1499 commented on #504
Yes, I'll look at it. Where is this file rendering?

[2019-11-01 14:52] sakshi1499 opened #507 "Bootstrap Missing in Post comment and cancel button"
**Is your feature request related to a problem? Please describe.**
Bootstrap missing in post and cancel buttons in the add comment section.

**Describe the solution you'd like**
Bootstrap can be added to make it look better and in sync with other buttons.

**Additional context**
Screenshot attached.

![comment](https://user-images.githubusercontent.com/42520146/68033211-42352400-fce5-11e9-94bc-1c1

[2019-11-01 14:58] sakshi1499 opened #508 "Comment should delete after being deleted."
**Is your feature request related to a problem? Please describe.**
As a user, its not likely that I would want my deleted comment to be marked as "comment deleted".

**Describe the solution you'd like**
It should actually be deleted or removed for better user experience.

**Additional context**
Screenshot Attached.
![delete](https://user-images.githubusercontent.com/42520146/68033682-31d17900-fce6

[2019-11-01 15:14] sakshi1499 opened #509 "Bootstrap missing in edit project"
**Is your feature request related to a problem? Please describe.**
Bootstrap missing in update
![update](https://user-images.githubusercontent.com/42520146/68034757-562e5500-fce8-11e9-9e7a-26777928aca9.PNG)
 project in simulator.

**Describe the solution you'd like**
The above button should have bootstrap.

**Additional context**
Screenshot has been attached.

[2019-11-02 01:12] tachyons commented on #504
From this gem https://github.com/plataformatec/devise

[2019-11-02 04:18] sakshi1499 commented on #504
I read that, I found an article similar to our situation, give it a read please?
https://stackoverflow.com/questions/20530682/modify-devise-reset-password-error-text

[2019-11-02 05:29] tachyons commented on #475
@satu0king

[2019-11-02 05:42] satu0king commented on #475
That looks good, you can just write `toggle theme` instead of go dark and try and avoid space between edit on github and the toggle button.

Thank You

[2019-11-02 06:30] CodeSarthak commented on #475
Thank you for the feedback @satu0king . I have made the improvements :

![updated-toggle-theme](https://user-images.githubusercontent.com/24937677/68067108-5ff79d00-fd68-11e9-9e4c-48f24c5b0d2e.png)

Please do recommend any other changes if required.

[2019-11-02 06:35] shubhankarsharma00 commented on #504
Hey @sakshi1499 to display custom message that might be good way.
Also this can be useful if we want to display flash messages: https://stackoverflow.com/a/5560355/9581628

[2019-11-02 06:40] #488 closed

[2019-11-02 06:44] sakshi1499 commented on #504
<% if flash.count > 0 %>
  <div id="error_explanation">
    <h2>Errors prevented you from logging in</h2>
      <ul>
        <% flash.each do |name, msg| %>
        <li>
          <%= content_tag :div, msg, id: "flash_#{name}" %>
        </li>
       <% end %>
     </ul>
   </div>
<% end %>
I really like this answer, I think this should work.

[2019-11-02 08:41] CodeSarthak commented on #475
Thank you for your help @PragatiVerma18 but this HTML file is not the correct one :(

[2019-11-02 09:54] ShreyaPrasad1209 opened #510 "Upvote/Downvote button showing faulty values"

[2019-11-02 09:59] ShreyaPrasad1209 opened #650 "Change mouse to pointer on hover"
Mouse should change to pointer form when hovered on post comment/cancel button.

![image](https://user-images.githubusercontent.com/43600306/68069357-503a8180-fd85-11e9-8292-49025bd88747.png)

[2019-11-02 10:06] ShreyaPrasad1209 opened #651 "Change font size and family in comments section"
**Problem**
 No CSS on fonts in comment section. Font size also small.

**Changes proposed**
Try this out.
[code]
**Alternative changes**
Maybe use Poppins or some other font style.

**Screenshot**
![image](https://user-images.githubusercontent.com/43600306/68069415-e66ea780-fd85-11e9-9770-275f33394608.png)

[2019-11-02 10:06] #510 closed

[2019-11-02 10:19] ShreyaPrasad1209 opened #511 "Facebook sign up not working"
**Describe the bug**
Server error occuring when trying to sign up through Facebook

**Expected behavior**
Should sign up successfully.

**Screenshots**
![image](https://user-images.githubusercontent.com/43600306/68069603-49f9d480-fd88-11e9-8c46-36da82a8a44c.png)
On refreshing the above page,
![image](https://user-images.githubusercontent.com/43600306/68069608-5bdb7780-fd88-11e9-80d7-cd945f9bf8b9.p

[2019-11-02 10:28] ShreyaPrasad1209 opened #512 "Zoom button not working"
**Describe the bug**
On zooming the image, its making the background white instead of enlarging the image.

**Expected behavior**
Must enlarge the image according to each click.

**Screenshots**
Before zooming
![image](https://user-images.githubusercontent.com/43600306/68069682-72360300-fd89-11e9-8ef9-48412a55120f.png)
After zooming
![2019-11-02 (7)](https://user-images.githubusercontent.com/43600

[2019-11-02 13:15] shubhankarsharma00 commented on #512
This is the repo for docs https://github.com/CircuitVerse/CircuitVerseDocs

[2019-11-03 07:07] shubhankarsharma00 commented on #508
We can change the code below to reload the whole show partial.
https://github.com/CircuitVerse/CircuitVerse/blob/535b3c269b003aaa523492563af7be156a053b4d/app/views/commontator/comments/delete.js.erb#L1-L15
like
`$("#comment_<%= @comment.id.to_s%>_div").html("<%= j(render partial: 'show', locals: { comment: @comment,user: @user }) %>");
`
and then add an if statement here
https://github.com/Circuit

[2019-11-03 07:23] sakshi1499 opened #5782 "Add bootstrap to testbench"
#### I am submitting a -
* [] **Feature Request**

#### Describe your bug/feature -
Add bootstrap to enhance the look of testbench.
#### Current behaviour -
No bootstrap, plain buttons.
#### Expected behaviour -
Should contain bootstrap.
#### Screenshots (if relevant) -
![bootstrap](https://user-images.githubusercontent.com/42520146/68081753-f4c9cb80-fe38-11e9-8482-75b2582e14f1.PNG)

[2019-11-03 07:38] sakshi1499 commented on #508
I think it should work but I just have to contribute in raising issues for now and leave it for GCI participants. Right?

[2019-11-03 11:19] shubhankarsharma00 commented on #508
@sakshi1499 yeah, I guess..... I was just leaving an explanation to make it easier for first-timers.

[2019-11-03 11:41] ankitkataria commented on #438
@phyzicist refreshing the page would be required to load the "View your Work" project.

[2019-11-03 12:03] fluctix commented on #466
Do you mean something like this
![ezgif com-gif-maker](https://user-images.githubusercontent.com/40538506/68084752-f78be700-fe5f-11e9-93d4-aecfb5ef0e9c.gif)

[2019-11-04 15:03] ShreyaPrasad1209 opened #513 "Implementation of Standard IC's in the Simulator"
https://circuitverse.org/simulator
Circuitverse universe has only limited components of the digital world. Requesting to implement standard IC's such as 741 and 555 for op-amp gain simulation and timers respectively.

[2019-11-04 15:07] eKuG opened #514 "Displaying and Exporting Truth Tables"
Displaying and maybe popping the truth table while simulation of single node circuits.
Rendering the circuits and diagrams into and SVG/PNG format.

[2019-11-04 19:34] eKuG opened #515 "Designing Finite State and Algorithmic State Machines"
The algorithmic state machine (ASM) method is a method for designing finite state machines. It is used to represent diagrams of digital integrated circuits. The ASM diagram is like a state diagram but less formal and thus easier to understand.

FSM includes Mealy and Moore machines. Requesting to implement in the Circuitverse website.

[2019-11-05 05:31] sakshi1499 opened #516 "Signing up name should not contain number"
**Describe the bug**
I made an account on circuitverse with my name being sakshi1

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Sign Up page
2. Add your name as Any Alphabet and number
3. No alert of a wrong name will pop up.
4. See error

**Expected behavior**
Alert showing invalid name should pop up.

**Screenshots**
Screenshot has been attached.

![name](https://user-images.github

[2019-11-05 05:44] sakshi1499 opened #517 "Easily accessible grading option shold be added."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I made two accounts, one for teacher and one for student and I posted an assignment and completed that through the student account. I added that it should be a graded assignment but no buttons or options were added to grade the assignment d

[2019-11-05 05:50] sakshi1499 opened #518 "Unable to login using the admin credentials mentioned."
**Is your feature request related to a problem? Please describe.**
I am unable to login through the login credentials mentioned on the readme.md file of CircuitVerse.

**Describe the solution you'd like**
Make these credentials work or create a new account and hence update the readme.

**Additional context**
Screenshots have been attached.
![readme](https://user-images.githubusercontent.com/425201

[2019-11-05 05:59] sakshi1499 opened #519 "Separate Email templates based on the notification type"
**Is your feature request related to a problem? Please describe.**
Every time I create a new group and new assignment, I get the similar emails. When I have already started using it and I am making assignments why should I get the same email having options of getting started. It should be more personalized, just the text part would be sufficient.

**Additional context**
Screenshot of what appears

[2019-11-05 10:35] eKuG opened #520 "Cross Implementation of Circuits"
Combinational circuits are defined as the time independent circuits which do not depends upon previous inputs to generate any output are termed as combinational circuits.

Sequential logic is a type of logic circuit whose output depends not only on the present value of its input signals but on the sequence of past inputs, the input history as well.

Would like to request the cross implementation o

[2019-11-05 10:35] eKuG commented on #520
Use https://circuitverse.org/simulator

[2019-11-05 10:40] eKuG opened #521 "Setup using Ruby on Rails on Windows without the use of Docker"
**Is your feature request related to a problem? Please describe.**
I always use Windows as my primary Operating system due to ease of use and so does people around the world. Ruby on Rails, on windows is a very tedious task to properly install.

**Describe the solution you'd like**
With the incoming of WSL and windows terminal, I would like to request using the same for the implementation of Circu

[2019-11-05 10:49] eKuG opened #522 "Design Modulo, Up and Down Counters"
Use https://circuitverse.org/examples for reference.
Modulus Counters, or simply MOD counters, are defined based on the number of states that the counter will sequence through before returning back to its original value.

Up and Down Counters by the name of it refers to state change either progressively or reggressively

[2019-11-05 10:51] eKuG opened #523 "Designing Shift registers using Sequential Circuits"
Shift Register is a group of flip flops used to store multiple bits of data. The bits stored in such registers can be made to move within the registers and in/out of the registers by applying clock pulses.

Use https://circuitverse.org/simulator

I recommend making it a standard Example.

[2019-11-05 10:53] eKuG commented on #523
Designing a Universal Shift Register would give a proper understanding for every type.

[2019-11-05 13:49] Anjalizi opened #525 "Make the Setup Instructions beginner friendly"
**Describe the bug**
The instructions to be followed aren't clear and will present newbies to RoR with a lot of problems. A detailed step with a code snippet should be provided.

**Desktop (please complete the following information):**
 - OS: Linux
 - Browser: Chrome

**Additional context**
For instance, instead of "Install ruby using RVM, use ruby-2.5.1", the instruction should be like -
Install

[2019-11-05 14:03] Anjalizi opened #526 "Error installing gem pg while setup [SOLVED]"
**Describe the bug**
An error occurred while installing pg (1.1.4), and Bundler cannot continue.
Make sure that `gem install pg -v '1.1.4' --source 'https://rubygems.org/'` succeeds before bundling.
^This occurs on doing `bundle install` during setup

**Desktop (please complete the following information):**
 - OS: Linux
 - Browser: Chrome

**Solution**
As referred from [here](https://wikimatze.de/

[2019-11-05 14:25] ankitkataria commented on #525
A better approach would be to add setup scripts for Windows and Linux environments. Something on the lines of [this](https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/setup/deb-setup.sh). This would make the instructions as easy as running a bash script.

[2019-11-05 14:36] #526 closed

[2019-11-05 14:47] #479 closed

[2019-11-05 16:26] Tanish0019 opened #527 "New Group Page Styling"
**Is your feature request related to a problem? Please describe.**
Log in.
Go to https://circuitverse.org/groups/new
This section looks very out of place with no styles applied. Moreover, a one-liner description of how making groups are useful can be helpful for new users.

**Describe the solution you'd like**
Use of simple bootstrap classes to style it so it goes with the rest of the website.

**

[2019-11-05 16:30] rajat2502 opened #528 "Unwanted div at the bottom of the page"
**Describe the bug**
There is an empty space from the pagination links which is not required and actually looking bad in the mobile view of the website. That extra space is due to an empty *div* of a height of 250 pixels. That div ( of class name *container* ) is not required as it is not looking good in the Mobile view.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://circuitve

[2019-11-05 16:39] CodeSarthak commented on #511
Hi @ShreyaPrasad1209 , I just tried to sign up through Facebook and I was successful.

Are you already signed in to Facebook before trying to sign up? Maybe, that is the difference. I was already signed in to my Facebbok (i.e. from www.facebook.com not from Circuit Verse)

[2019-11-05 16:40] CodeSarthak commented on #527
Hi  @Tanish0019 , I see that you are already working on this, but if you need any help, do let me know :)

[2019-11-05 16:47] CodeSarthak opened #529 "Club Financial Contributors under readme.md"
Under the Financial Contributors section of the readme file in the main repository, contributing for individuals and organisations is listed separated but they point to the same webpage.

Contribution for individual/organisation can be clubbed under 1 heading itself.

![issue](https://user-images.githubusercontent.com/24937677/68227557-f1416a80-0019-11ea-81be-d8521a8a9349.png)

Working on it? - Ye

[2019-11-05 17:00] Tanish0019 opened #530 "Show uploaded image preview in profile edit section"
**Is your feature request related to a problem? Please describe.**
Log in and go to profile edit section. When a new photo is uploaded a preview of the uploaded photo is not shown.

**Describe the solution you'd like**
Show a preview of the uploaded photo to improve user experience.

**Additional context**
![Screen Shot 2019-11-05 at 10 19 30 PM](https://user-images.githubusercontent.com/30210495/

[2019-11-05 20:29] aayush-05 opened #531 "Contact Email link doesn't work"
**Describe the bug**
The contact email link on the About Us page doesn't respond.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'About' page
2. Click on 'support@circuitverse.org'
3. See error

**Expected behavior**
The link should redirect the browser window to Gmail or any other email client.

**Screenshots**
![image](https://user-images.githubusercontent.com/47032027/68243651-f104

[2019-11-05 20:43] aayush-05 opened #532 "Example Div elements' size mismatched"
**Describe the bug**
The size of the elements in given Examples on the Homepage gets mismatched to each other when the browser window is resized.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org'
2. Scroll down to 'Featured Examples'
3. Resize the browser window
4. See error

**Expected behavior**
All the elements showcased should have equal dimensions irrespective of

[2019-11-05 20:51] aayush-05 opened #533 "Logo image missing from Navbar"
**( Under GCI )**

**Describe the bug**
The CircuitVerse Logo on the Navigation Bar disappears when the browser window is resized to 1016*676 px

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org'
2. Resize the browser window to 1016*676 px
3. See error

**Expected behavior**
The Logo div element should have fixed width irrespective of the current dimensions of the brows

[2019-11-05 22:10] anshh opened #534 "Layout issues"
**Is your feature request related to a problem? Please describe.**
I observed in circuitverse.org/users/3/projects/249 that the description of the project is missing and the number of views and ratings can be shown in better way

**Describe the solution you'd like**
Add description of project and perhaps the rating and number of views can be shown in smaller font at the corner of the simulation sc

[2019-11-05 22:16] anshh opened #535 "Can only authors reply to comments?"
**Is your feature request related to a problem? Please describe.**
I observed in https://circuitverse.org/users/3/projects/248 and https://circuitverse.org/users/3/projects/249 too that a user cannot reply to comments by another user

**Describe the solution you'd like**
I'd like for this platform to be made more user-friendly and supportive of the doubts raised by our fellow engineers so that any

[2019-11-05 22:25] anshh opened #536 "Some more examples should be added"
**Is your feature request related to a problem? Please describe.**
Examples are a great way to show the beginners how the wonderful Circuitverse works.

**Describe the solution you'd like**
Circuits like parity generators and ROM implementations can be added

**Describe alternatives you've considered**
Complexity in examples should increase gradually unlike being done

Yes I'd love to work on this

[2019-11-05 22:36] anshh opened #537 "No loading screen in simulator"
**Is your feature request related to a problem? Please describe.**
While loading https://circuitverse.org/simulator I observed that it took it's fair share of time. While loading this we can show a cool loader which may slow the loading further by second or two but is great from psychological point of view.

**Describe the solution you'd like**
Add a loading animation
**Describe alternatives you'v

[2019-11-05 23:56] Parikshit-Hooda commented on #511
Perhaps try clearing browser storage and reattempt. Let me know if this is fixed.

[2019-11-06 00:00] Parikshit-Hooda opened #538 "google and fb signin not working - gitpod"
**Describe the bug**
Google signin in Gitpod not working

**To Reproduce**
Steps to reproduce the behavior:
1. Run gitpod on browser.
2. In launch window, go to signin.
3. Click on google sign-in.

**Expected behavior**
Successful signin

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - Gitpod

**Additional co

[2019-11-06 00:02] Parikshit-Hooda commented on #538
gitpod bash :
`Started GET "/users/auth/google_oauth2" for 10.140.0.21 at 2019-11-05 23:54:28 +0000
Cannot render console from 10.140.0.21! Allowed networks: 127.0.0.1, ::1, 127.0.0.0/127.255.255.255
I, [2019-11-05T23:54:28.666565 #25702]  INFO -- omniauth: (google_oauth2) Request phase initiated.`

[2019-11-06 00:08] Parikshit-Hooda opened #539 "text overflow - gitpod"
**Describe the bug**
When the window is made small, 'login with google' and 'login with facebook' overflows.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to gitpod circuitverse
2. Click on click on sign-in tab
3. Scroll down to bottom and lessen the width of the window.
4. See error

**Expected behavior**
Font accomodating window size

**Screenshots**
![textoverflow](https://user-image

[2019-11-06 02:23] rajat2502 opened #540 "Fix Navbar in Mobile view"
**Describe the bug**
The Navbar is not responsive as it is not working properly in the Mobile view of the website. The navbar toggler is not completely visible in the mobile view and that's why it is hard to click on a small screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://circuitverse.org/'
2. Change the view to iPhone 6/7/8
3. Notice the Navbar and its toggler

**Expec

[2019-11-06 07:33] dev9414 opened #541 "Title correction"
**Describe the bug**
In circuit element there is one section is decoder&plexer it should be decoder& multiplexer
Because plexer itself have no meaning in digital circuit

**Screenshot**
![Screenshot_20191106-125844~2](https://user-images.githubusercontent.com/46513305/68277713-c5fc6100-0095-11ea-8e94-c16f9dcab558.png)

**Are you working on this issue? (Yes/No)**no but will try

[2019-11-06 07:39] tachyons commented on #538
We will have to add documentation for how to configure fb and Google integration in gitpod and localhost

[2019-11-06 08:01] #465 closed

[2019-11-06 08:51] rajat2502 opened #542 "Layout problem in about page"
**Describe the bug**
There is a major layout problem in the mobile view of about page of the website. The children of the div having class names row and features are taking only half of the width of the page due to which each list item is taking 2-3 lines for a single name. Due to this issue, the mobile view of the website is looking bad.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2019-11-06 10:33] dev9414 opened #543 "Sign up constraints"
**Describe the bug**
In signup section Tobe specific name field should contain only alphabet not any types of symbol/number
PS:it is act as username section because it can contain alphanumeric and symbol

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'signup'
2. Click on 'name'
3. Enter 'any alphanumeric symbol'
4. See error

**Expected behavior**
When we enter any symbol or number it

[2019-11-06 11:18] deepak2431 opened #544 "Improve the group page"
**Is your feature request related to a problem? Please describe.**
Currently, the group page doesn't contain any information about what the group is and how it works. So, if a new user would open it he would have no idea about the working of it.

**Describe the solution you'd like**
Make the group page more attractive by improving it's UI. Also add the details related to the working of the group.

[2019-11-06 13:42] dev9414 opened #545 "Criteria for title"
**Is your feature request related to a problem? Please describe.**
I seen in  recent circuit section that some of circuit titled randomly.

**Describe the solution you'd like**
We should define some criteria for circuit nomenclature in recent section

![Screenshot_20191106-190657~2](https://user-images.githubusercontent.com/46513305/68303208-64ee8080-00c9-11ea-8f5c-33fde5e6d585.png)

**Are you wor

[2019-11-06 13:46] satu0king commented on #545
Hey @dev9414 ,
These recent circuits are actual recent circuits by users. We cannot and should not put a constraint on the language they can use!

[2019-11-06 13:46] #545 closed

[2019-11-06 13:47] dev9414 commented on #545
Ok got it
On Wed, Nov 6, 2019, 7:16 PM Satvik Ramaprasad <notifications@github.com>
wrote:

[2019-11-06 13:53] satu0king commented on #543
Hey,
The user should be free to use handles. For example dev9414 if he wants to be pseudo-anonymous. I don't see if there is an issue with this.

[2019-11-06 13:53] dev9414 opened #546 "Template is not dynamic mobile view"
**Describe the bug**
In mobile view of this page there blank column type part is there

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org' in mobile
3. Scroll right side to '....'
4. See error

**Expected behavior**
Page should look like same as desktop view

**Screenshots**
![Screenshot_20191106-191858](https://user-images.githubusercontent.com/46513305/68303965-e5fa478

[2019-11-06 13:54] satu0king commented on #541
Well plexers is short of multiplexer and demultiplexer :P , we need to come up with a new name as we have encoders as well.

[2019-11-06 13:55] dev9414 commented on #541
What about deplexer

[2019-11-06 13:56] satu0king commented on #519
This is basically the template we use for all mails. What you can propose is creating a new template which suits the needs of a generic mail better.

[2019-11-06 13:58] dev9414 commented on #541
Can't we make separate section like encoder/decoder And
multiplexer/demultiplexer

On Wed, Nov 6, 2019, 7:24 PM Satvik Ramaprasad <notifications@github.com>
wrote:

[2019-11-06 14:08] dev9414 opened #547 "Delete comments"
I am submitting a -
[] Feature Request
Describe your bug/feature -
Right now There is delete option .after delete there is option undelete there should be more option like permanent delete option

Screenshots (if relevant) -
![Screenshot_20191106-193232](https://user-images.githubusercontent.com/46513305/68305112-1642e580-00cd-11ea-9040-48b834b7872f.png)

Are you working on this issue? (Yes/No)
No

[2019-11-06 14:15] sakshi1499 commented on #519
Yes exactly what I wanted to convey 💯

[2019-11-06 14:50] plxity opened #548 "Error message color should be in red."
**Is your feature request related to a problem? Please describe.**
The error message displayed is in the same colour as the rest of the components present of the screen.
![Screenshot from 2019-11-06 20-13-14](https://user-images.githubusercontent.com/28510494/68308129-55c00080-00d2-11ea-8e57-ce0afd46f11e.png)

**Describe the solution you'd like**
The error displayed when a form is submitted should

[2019-11-06 15:04] plxity opened #549 "Add "eye button" in password field to view it."
**Is your feature request related to a problem? Please describe.**
As of now, there is no option to view your password. Like most of the website usually have an eye icon for viewing the password.

**Describe the solution you'd like**
Adding an option to view the password entered in the input field.

**Describe alternatives you've considered**

**Are you working on this? (Yes/No)**

[2019-11-06 15:09] plxity opened #550 "Add padding in mobile view."
**Describe the bug**
Padding should be present between the buttons.
![Screenshot from 2019-11-06 20-35-43](https://user-images.githubusercontent.com/28510494/68309868-1a730100-00d5-11ea-8092-9cdf74c7ef50.png)

**To Reproduce**
Steps to reproduce the behaviour:
1) Go to signup option in mobile view.

**Expected behaviour**
There should be proper padding between the buttons to make the UI better

**

[2019-11-06 15:19] plxity opened #551 "Fix search field in mobile view"
**Describe the bug**
A dropdown adjacent to the search field is not proper in the mobile view.
![Screenshot from 2019-11-06 20-46-11](https://user-images.githubusercontent.com/28510494/68310783-96ba1400-00d6-11ea-9bfc-43d99c815dc6.png)

**To Reproduce**
Steps to reproduce the behaviour:
1) Go to the navigation bar in the mobile view

**Expected behaviour**
The dropdown should be visible properly i

[2019-11-06 15:43] aayush-05 opened #552 "All Navbar elements missing on Edit Project page"
**Describe the bug**
No element/button is showing up on the navbar when redirected to 'Editing Project' page. It just shows a strip of grey colour at the top of the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org/simulator'
2. Click on 'Project > Save Online'
3. See error

**Expected behavior**
The navbar div element should be shown properly along with its sub e

[2019-11-06 16:17] M06631 commented on #549
first you need to use font-awesome css to show eye icon
second you need pure javascript or jQuery to change the 'password' type of html input to 'text' type and vice versa....
here is a live example..
https://codepen.io/Sohail05/pen/yOpeBm
wish you find it usefull :)

[2019-11-06 16:24] plxity commented on #549
@M06631 Thanks for the response. Actually I have already figured out the way to solve it :)

[2019-11-06 16:33] M06631 commented on #549
Please assign issue to me :)

[2019-11-06 16:37] Tanish0019 opened #553 "Current page highlight on navbar"
**Is your feature request related to a problem? Please describe.**
The page you're on is not highlighted on the navbar.

**Describe the solution you'd like**
When you go to any page that page's button in the navbar should be highlighted.

**Additional context**
![Screen Shot 2019-11-06 at 10 05 47 PM](https://user-images.githubusercontent.com/30210495/68317825-c91d3e80-00e1-11ea-95dd-50436e5759d8.

[2019-11-06 16:56] Tanish0019 opened #554 "Sign up error messages"
**Is your feature request related to a problem? Please describe.**
While signing up if you run into an error like using an already taken email. The error message show is poorly displayed.

**Describe the solution you'd like**
The errors should be shown like flash messages or like helper text under the input field.

**Additional context**
![Screen Shot 2019-11-06 at 10 25 12 PM](https://user-images

[2019-11-06 17:00] Anjalizi opened #555 "Unequal width and length of Input Fields"
**To Reproduce**
Can be found on http://localhost:8080/groups/1/assignments/new

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Issue](https://user-images.githubusercontent.com/26696144/68319725-c6701880-00e4-11ea-815b-30e6088fcd2c.png)

Also, unequal width of input fields for "Name", "Grading Scale" and "Deadline"

[2019-11-06 17:05] Anjalizi opened #556 ""New Assignment" page should be Fit to Screen"
**To Reproduce**
Go to http://localhost:8080/groups/1/assignments/new

**Screenshots**
![issue2](https://user-images.githubusercontent.com/26696144/68320240-98d79f00-00e5-11ea-8fc1-8b0487a65c50.png)

This created an issue of misalignment of the footer.

[2019-11-06 17:10] plxity commented on #554
@Tanish0019 This issue has been already raised. You may close this.

[2019-11-06 17:11] plxity commented on #549
@satu0king Can you please assign this to him? Thank you :)

[2019-11-06 17:14] PragatiVerma18 opened #557 "The website is not properly responsive in mobile view."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The homepage is not properly responsive in the mobile view. The navbar breadcrumb is not completely visible when the webpage first loads and also, there is an overflow in the x-direction. Moreover, please make the pagination bar provided a

[2019-11-06 17:16] Anjalizi opened #558 "Overview iframe element and Deadline not rightly aligned"
**To Reproduce**
Navigate to http://localhost:8080/groups/1/assignments/1

**Screenshots**
![issue3](https://user-images.githubusercontent.com/26696144/68320927-d7ba2480-00e6-11ea-8d29-60ade9fc556c.png)

P.S. The box isn't a textbox since not clickable.

[2019-11-06 17:31] Anjalizi opened #559 "Member invitation not being received even after MULTIPLE invites"
**To Reproduce**
Steps to reproduce the behavior:
Navigate to http://localhost:8080/groups/1

**Screenshots**
![issue4](https://user-images.githubusercontent.com/26696144/68322323-3f716f00-00e9-11ea-9259-8a9dd14fcd37.png)

P.S. The system should keep track of the invites being sent and shouldn't allow sending multiple invites

[2019-11-06 17:42] aayush-05 commented on #555
A similar issue had been created earlier; you can close this one.

[2019-11-06 17:43] Anjalizi commented on #525
Sure, I'll look into it but the setup instructions [here](https://github.com/publiclab/plots2#standard-installation) are also very user friendly and easy to comprehend. Do have a look.

[2019-11-06 17:44] Anjalizi commented on #555
Is it fine now @aayush-05 ?

[2019-11-06 17:52] aayush-05 opened #560 "Unnecessary Fork button on User's self project"
**Describe the bug**
Fork is used to get someone else's project on your profile; but having that same functionality on your same project page does nothing but creates same copy of the project the user already have. This creates multiple copies of the same project for a single user.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project
2. Go on to Project's info page
3. Fork yo

[2019-11-06 18:10] aayush-05 commented on #555
Yes @Anjalizi . Keep contributing :)

[2019-11-06 18:44] dev9414 opened #561 "custom search(HIGH LIGHTED)"
**Is your feature request related to a problem? Please describe.**
whenever we do search in search field we get result like if we search "unique" we get some result
and if we search "nothing will get same search result output we will confused why it so.but because in first case it giving output because its title is named "unique" but in the second time when we search "nothing" it gave the same res

[2019-11-06 20:06] JoshuaPoddoku opened #562 "Navbar toggle button is not working in smaller viewports."
**Describe the bug**
The navigation bar toggle button is not placed well in smaller viewports.

**To Reproduce**
Steps to reproduce the behavior:
1. Inspect the home page
2. Switch to the available viewport (411 x 731) Pixel 2.
3. Check all the devices and see the difference.
3. Observe the toggle button coming out of the actual position. i.

**Expected behavior**
The button should be responsive e

[2019-11-06 20:20] JoshuaPoddoku opened #563 "After launching simulator in smaller devices"
**Describe the bug**
Simulation in smaller devices
**To Reproduce**
Steps to reproduce the behavior:
1. Through the mobile device, go to 'Home Page'
2. Click on 'Launch Simulator'
3. You can see that you can't design the circuits properly.

**Expected behavior**
The simulator should be responsive enough for various devices (or)
The mobile user should be displayed with an alert message to use in hi

[2019-11-07 01:55] tachyons commented on #560
What if tge same user want to make variants of same circuit ?

[2019-11-07 03:13] aayush-05 commented on #560
I guess the same could be achieved by the Insert SubCircuit button in the simulator.

[2019-11-07 03:36] aayush-05 opened #565 "SubCircuit button not working correctly"
**Describe the bug**
The SubCircuit button in the simulator just shows a common error messsage irrespective of the dependencies of the current circuit.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Simulator
2. Click on 'Circuit > Insert SubCircuit'
3. See error

**Expected behavior**
The SubCircuit button should allow the user to import circuits from his other projects. Even though a

[2019-11-07 03:45] aayush-05 opened #566 "Unusual error message on Deleting Circuit"
**Describe the bug**
The Delete Circuit button in the simulator raises an error to have atleast two circuit windows open , if you want to delete the current circuit. While rather it should just delete the current circuit window.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Simulator
2. Click on 'Delete Circuit'
3. See error

**Expected behavior**
The Delete Button does so that it can

[2019-11-07 03:56] aayush-05 opened #567 "ScrollBars missing in Simulator"
**Describe the bug**
There are no scroll bars in the simulator window for better navigation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Simulator window
2. See error

**Expected behavior**
Since the swipe up/down actions zoom in and out of the window rather than scrolling through the window; it would be good to have explicit scroll bars present on sides of the circuit window.

**

[2019-11-07 04:04] aayush-05 opened #568 "Download as Image feature for someone else's circuits"
**Is your feature request related to a problem? Please describe.**
Currently, we have the ability to download our own circuits as Images via the simulator window. In order to download someone else circuits, we are first required to fork that project, then open it up the simulator window and then download it

**Describe the solution you'd like**
But it would great, if the user have this option on t

[2019-11-07 13:49] #541 closed

[2019-11-07 13:49] #543 closed

[2019-11-07 14:13] ShreyaPrasad1209 opened #569 "Purpose of Lite Mode in simulator unclear"
**Describe the bug**
There seems to be some sort of confusion regarding lite mode's purpose. If its purpose is to toggle dark mode, then its not happening.

**Expected behavior**
I'm unsure about this. Maybe change the simulation to dark mode?

**Screenshots**
Before Lite Mode
![2019-11-07](https://user-images.githubusercontent.com/43600306/68396041-dfd19d00-0196-11ea-9adf-cdfb3c2d7984.png)

After

[2019-11-07 14:20] ShreyaPrasad1209 opened #570 "Purpose of rectangle on bottom right of simulator unclear"
**Is your feature request related to a problem? Please describe.**
This rectangle doesn't seem to serve any purpose. Moreover, it's taking up space in the simulator.

**Describe the solution you'd like**
If it has a purpose then make it functional else remove it.
**Additional context**
![image](https://user-images.githubusercontent.com/43600306/68396353-730ad280-0197-11ea-8cba-d9274d976f85.png)

*

[2019-11-07 14:24] ShreyaPrasad1209 commented on #557
**Duplicate Issue**
Already opened at #540

[2019-11-07 14:38] ShreyaPrasad1209 commented on #546
**Duplicate Issue**
This issue is already opened at #540

[2019-11-07 14:40] ShreyaPrasad1209 commented on #547
Isn't the current feature more flexible? If you want the comment to be permanently deleted, then just don't un-delete it.

[2019-11-07 14:46] #546 closed

[2019-11-07 14:57] ShreyaPrasad1209 commented on #568
Forking lets you know who's using your circuits.

[2019-11-07 14:58] ShreyaPrasad1209 commented on #544
Could you add a link or screenshot for better understanding?

[2019-11-07 15:02] ShreyaPrasad1209 commented on #535
I'm able to comment successfully.
![image](https://user-images.githubusercontent.com/43600306/68400119-815bed00-019d-11ea-97b0-a150fadb0877.png)

[2019-11-07 15:05] aayush-05 commented on #570
@ShreyaPrasad1209 isn't that box showing the overview of the positions of the elements present on the simulator window.
![image](https://user-images.githubusercontent.com/47032027/68400444-119a3200-019e-11ea-9424-c49e18ec4a5a.png)

[2019-11-07 15:07] ShreyaPrasad1209 commented on #570
It didn't in mine. I guess we have to add more than two elements to show an overview.

[2019-11-07 15:10] dev9414 commented on #547
No I mean that whenever we delete comments it is saying that "this comment
is deleted"
And what I am trying say by permanent delete is after doing so there no
show up  like "this comment is deleted".
I mean it should be totally disappear.

On Thu, Nov 7, 2019, 8:10 PM Shreya Prasad <notifications@github.com> wrote:

[2019-11-07 15:11] ShreyaPrasad1209 commented on #511
I was already logged in to my Facebook when I signed up here. This issue persists today too.

[2019-11-07 15:14] ShreyaPrasad1209 commented on #474
This issue is meant for CircuitVerse Docs and is already opened at https://github.com/CircuitVerse/CircuitVerseDocs/issues/143

[2019-11-07 15:16] ShreyaPrasad1209 commented on #547
"This comment is deleted" ensures transparency.

[2019-11-07 15:18] aayush-05 commented on #568
I didn't know that; on which page does it show that.
Further, the feature suggested to not only let fork someone else's circuit but make them download as images as well.
Because the user might not have the functionality to embed the circuits necessarily, say maybe in a word document.

[2019-11-07 15:49] dev9414 commented on #547
Agreed, but supposed if someone have commented many times and delete all
comment then whosoever other person reading comments he/she will feel some
problem or inconsistency

On Thu, Nov 7, 2019, 8:46 PM Shreya Prasad <notifications@github.com> wrote:

[2019-11-07 16:10] deepak2431 commented on #544
@ShreyaPrasad1209 Thanks for the review. Sure, I will add a screenshot.

[2019-11-07 16:33] anshh commented on #535
I asked about replreplying to the comments which are already there not make a new comment.

[2019-11-07 17:46] plxity opened #571 "Improve dropdown in the navbar."
**Is your feature request related to a problem? Please describe.**
As of now, the dropdown is the usual one.
![Screenshot from 2019-11-07 23-11-48](https://user-images.githubusercontent.com/28510494/68413512-69dc2e80-01b4-11ea-9897-df8af3676441.png)

**Describe the solution you'd like**
We can style the dropdown to make the UI/UX better.

**Are you working on this? (Yes/No)**
For GCI participant

[2019-11-07 18:37] ShreyaPrasad1209 commented on #571
**Duplicate Issue**
This issue is already open at #491

[2019-11-07 18:40] #571 closed

[2019-11-07 18:48] ShreyaPrasad1209 opened #572 "Footer design suggestion"
**Is your feature request related to a problem? Please describe.**
Made a few changes to the footer. Will change font style after initial changes are approved

**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/43600306/68417814-1f12e480-01bd-11ea-85fa-f3615b62ffb7.png)

**Describe alternatives you've considered**
Add shadow effect on hover maybe?

**Are you wo

[2019-11-07 19:18] aayush-05 commented on #562
**Duplicate Issue**
Same issued opened at #540

You can close this one.

[2019-11-07 19:22] JoshuaPoddoku commented on #562
I'm sorry. And thanks for letting me know. Please check other issues also.
:)

On Fri, Nov 8, 2019, 12:48 AM Aayush Gupta <notifications@github.com> wrote:

[2019-11-07 19:25] aayush-05 commented on #558
The box is actually an iframe element to show the thumbnail/overview of the assignment.
![image](https://user-images.githubusercontent.com/47032027/68420405-4b7d2f80-01c2-11ea-9e9d-e324f0e4a4ba.png)
 But it is not working properly, you can change the title of the issue for better understandability.

[2019-11-08 10:17] dev9414 opened #573 "RECAPTCHA"
Please implement a Recaptcha for the following activities:

Password Reset
First login failed (the second and following requests should have a recaptcha)
**Are you working on this? (Yes/No)**no,
This is for GCI Students

[2019-11-08 11:31] sakshi1499 commented on #558
@Anjalizi @aayush-05 This is not an empty box. This is the part where the students who have submitted their assignments can be seen.
![pic](https://user-images.githubusercontent.com/42520146/68473586-647cf380-0249-11ea-9229-477c9f690e1a.PNG)

[2019-11-08 12:41] ShreyaPrasad1209 opened #574 "Get notification when your circuit is forked"
**Is your feature request related to a problem? Please describe.**
As of now, if we are forking someone else's circuit, they don't get a notification. So they don't get an idea of how many people are using their circuits.

**Describe the solution you'd like**
Send notification to user whenever their circuit is forked. It creates a more transparent environment. Also, we can show how many time a cir

[2019-11-08 13:10] ShreyaPrasad1209 opened #575 "Add flexbox to div enclosing circuit boxes"
**Describe the bug**
Currently the image and header of boxes are separate( as shown by border) which makes shadow effect cover only the image part. Also, this makes it difficult to apply any common styling to the box.

**Expected behavior**
Enclose image and header under a common div so that any changes made to the box will apply to the whole box. Eg: Shadow effect on hover.
**Solution**
Use flex-

[2019-11-08 13:15] PragatiVerma18 commented on #557
There is an overflow in the x-direction. Moreover, the next and previous buttons at the bottom of the pagination bar at the bottom of the page are barely visible. This needs to be made responsive. These points are not pointed at #540 and need to be fixed as well.

[2019-11-08 13:28] ShreyaPrasad1209 commented on #557
Pagination bar issue is opened at #494 . Overflow in x-direction is understood, not needed to be stated explicitly.

[2019-11-08 13:31] ShreyaPrasad1209 commented on #547
Yes i agree, that'll be too annoying. Maybe we can set up a timer after which "This comment is deleted" will disappear?

[2019-11-08 13:34] dev9414 commented on #547
This is also not bad idea agreed with you

On Fri, Nov 8, 2019, 7:01 PM Shreya Prasad <notifications@github.com> wrote:

[2019-11-08 13:35] plxity opened #576 "Add tooltip in the upvote and downvote buttons."
**Is your feature request related to a problem? Please describe.**
Adding a tooltip in the upvote and downvote will make the UI/UX better.
![Screenshot from 2019-11-08 19-03-12](https://user-images.githubusercontent.com/28510494/68480367-a2364800-025a-11ea-920b-678f3a934950.png)

**Describe the solution you'd like**
Add tooltip property to the buttons.

**Are you working on this? (Yes/No)**
For GC

[2019-11-08 14:19] plxity opened #577 "Fix profile section in mobile view"
**Describe the bug**
A clear and concise description of what the bug is.
The dropdown is not properly aligned in the mobile view.
![Screenshot from 2019-11-08 19-36-17](https://user-images.githubusercontent.com/28510494/68482942-9b123880-0260-11ea-9132-a18802a2a867.png)

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to your profile on the mobile.

**Expected behaviour**
It should be res

[2019-11-08 14:29] plxity opened #578 "Remove unnecessary 'div'"
**Describe the bug**
An unnecessary `div` is present which creates extra in the mobile view.
![Screenshot from 2019-11-08 19-52-52](https://user-images.githubusercontent.com/28510494/68483456-9bf79a00-0261-11ea-88fc-26c8a4465cab.png)

**Expected behaviour**
Removing that `div` would solve the issue.

**Desktop (please complete the following information):**
 - OS: Linux
 - Browser: Chrome
 - Versio

[2019-11-08 15:26] plxity opened #579 "Change font color as existing color macthes with the background."
**Describe the bug**
Currently, the text colour is the same as the background colour, so seems like no text is present is the `div`

**To Reproduce**
Steps to reproduce the behaviour:
1) Go to any project.
2) Scroll down
3) Click on "new comment" & enter a comment.
4) Click on edit comment.

**Expected behaviour**
Text colour should be similar to color of the rest of the text present on the screen

[2019-11-08 15:27] shubhankarsharma00 commented on #570
@ShreyaPrasad1209, Should we close this issue?

[2019-11-08 17:41] deepak2431 opened #580 "Add tool tip feature"
**Is your feature request related to a problem? Please describe.**
Currently, when viewing a example project there's a option to fork and embed project but there is no information about what does it means.

**Describe the solution you'd like**
Add hover on text for fork and embed. If no so a short description can be added below and a detailed information about this what does it means can be added

[2019-11-08 17:57] deepak2431 opened #581 "Add counter on Web Page"
**Is your feature request related to a problem? Please describe.**
Currently, there is no information about total page visit.

**Describe the solution you'd like**
Add a counter on web page to track the total page visits.

**Are you working on this? (Yes/No)**
No, this task is for GCI students under medium.

[2019-11-08 18:58] aayush-05 commented on #580
I guess you are talking about tooltip feature. You can change the issue heading for better understandability.

[2019-11-08 19:05] eKuG opened #582 "Diminishing Circuitverse logo"
![2019-11-09](https://user-images.githubusercontent.com/33174166/68503385-b3964900-0288-11ea-898a-8209bbb1b515.png)
The website becomes unresponsive below 1100x800 pixels and the logo seems to dissapear.
Use Media Query

[2019-11-08 19:28] eKuG commented on #582
https://circuitverse.org/

[2019-11-08 19:55] aayush-05 commented on #578
I think rather than removing the div element completely, a better option would be to use media queries and add a breakpoint. Because the div element is necessary in the desktop view to maintain space.

![image](https://user-images.githubusercontent.com/47032027/68506518-cceec380-028f-11ea-8a02-5547a2c9b6a0.png)

[2019-11-08 19:58] aayush-05 commented on #582
**Duplicate Issue**
Issue already raised under #533

You can close this one.

[2019-11-08 19:59] #582 closed

[2019-11-08 20:15] aayush-05 opened #583 "Improper padding in the heading"
**Describe the bug**
The heading "CircuitVerse Features" don't have proper padding when the page is opened in the mobile view. The navbar overlaps on the title heading.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org'
2. Click on 'Features'
3. See error

**Expected behavior**
The heading should have proper padding relative to the other elements on the page. Since the

[2019-11-08 20:23] aayush-05 commented on #578
**Duplicate Issue**
This issue has already been raised #528

You can close this one.

[2019-11-08 20:27] aayush-05 opened #584 "Unresponsive footer under mobile view"
**Describe the bug**
The footer of the website becomes unresponsive in mobile view. It does not reduces its size according to the device size and streches on to multiple lines.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org'
2. Reduce the window to 574*676 or less
3. Scroll down to bottom
4. See error

**Expected behavior**
The footer div should reduce the elements'

[2019-11-08 20:48] aayush-05 opened #585 "Improper size of controls in circuit preview"
**Describe the bug**
The circuit preview of the simulator in the Project Info page on mobile view becomes unresponse. The control panel in the preview almost blocks the circuit preview.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org/examples'
2. Open up any featured example
3. Reduce the browser window to 480*676 or less
4. See error

**Expected behavior**
The contro

[2019-11-08 20:54] aayush-05 opened #586 "Login window link for better user experience"
**Is your feature request related to a problem? Please describe.**
Since the user cannot comment without logging in, the website shows a statement to log in before being able to comment. But it doesn't provide a link to the login screen; on the mobile devices it can be hard to find the login button since it gets hidden under the navbar dropdown.

![image](https://user-images.githubusercontent.com/

[2019-11-08 20:55] plxity commented on #581
@deepak2431 This is not a necessary feature I guess. It is of no use.

[2019-11-08 20:57] #578 closed

[2019-11-08 20:59] plxity commented on #584
@aayush-05 Footer looks absolutely fine.

[2019-11-08 21:12] aayush-05 opened #587 "Unresponsive View Count element"
**Describe the bug**
The element showing the stars and the view count on the project info page is irresponsive. Its size remains same even when the browser window is reduced.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org/examples'
2. Open up any featured example
3. Reduce the browser window to 480*676 or less
4. See error

**Expected behavior**
The view count elemen

[2019-11-08 21:15] aayush-05 commented on #584
Footers are never meant to be multilined. Even though we are mentioning the sponsors here they should remain in a single line as in the desktop version.

![image](https://user-images.githubusercontent.com/47032027/68511002-eea17800-029a-11ea-8d8c-e5784389c3e1.png)

The only instance they can be multilined is when we feature them inside the website content segment.

[2019-11-08 21:25] plxity commented on #584
@aayush-05 There is nothing like footers are never meant to be multilined. Check website you may get to know. Anyway let the maintainers decide if it is an appropriate issue.

[2019-11-08 21:28] deepak2431 commented on #580
@aayush-05 Thanks for the review. Sure, I will do that.

[2019-11-08 21:31] deepak2431 commented on #581
@plxity Thanks for the review. I will close this issue.

[2019-11-08 21:31] #581 closed

[2019-11-09 04:47] Parikshit-Hooda commented on #585
Hi. I don't think the simulator is meant to go that far low in terms of screen size.

[2019-11-09 04:51] #454 closed

[2019-11-09 04:52] #584 closed

[2019-11-09 05:01] aayush-05 commented on #585
Okay

[2019-11-09 05:01] #585 closed

[2019-11-09 07:54] deepak2431 opened #589 "Improve profile page"
**Is your feature request related to a problem? Please describe.**
Since the platform if for different category of users. There is not any information about the type of the user whether he/she is a student or teacher. Their is not much information about the users educational details. As if a user is a school student in which class he is, if he is a UG student his branch details and if he is a teac

[2019-11-09 08:00] samarpan1738 commented on #583
where is the CSS file for this (https://circuitverse.org/features) page?

[2019-11-09 08:09] ShreyaPrasad1209 commented on #570
Yep I think so

[2019-11-09 08:09] #570 closed

[2019-11-09 09:17] ShreyaPrasad1209 commented on #587
**Duplicate Issue**
Hi, this issue is meant for Interactive Book and is open at https://github.com/CircuitVerse/Interactive-Book/issues/19

[2019-11-09 09:26] samarpan1738 opened #590 "Small size and overflowing text of circuit elements in Simulator."
**Describe the bug**
The circuit elements are very small sized and text is overflowing in some of them too.Without zooming its pretty hard to read.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org/'
2. Click on 'simulator'
3. See the circuit elements on the right.

**Expected behavior**
The circuit elements must be big enough to be visible clearly and text over

[2019-11-09 11:59] aayush-05 commented on #587
Okay

[2019-11-09 11:59] #587 closed

[2019-11-09 12:37] fluctix commented on #468
@Parikshit-Hooda Did you mean something like this:
![ezgif com-resize](https://user-images.githubusercontent.com/40538506/68528657-af673b80-031b-11ea-884c-abc2f7376e6b.gif)

[2019-11-09 13:25] kushthedude commented on #477
@Shweta0002 Nice suggestion, it would definitely come handy

[2019-11-09 15:41] PragatiVerma18 opened #591 "Circuit description should have a word limit."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

If the circuit description is too large, then the page has lots of white space below the circuit and lots of text crushed in the other corner. Also, it worsens the responsiveness scenario in the mobile view.

**Describe the solution you'd

[2019-11-09 16:47] ankitkataria commented on #579
I could not replicate this issue in prod. The empty div there seems to be there for mentions.

![image](https://user-images.githubusercontent.com/22021150/68531935-e77f7600-033d-11ea-93bc-5807a3fd6de5.png)

![image](https://user-images.githubusercontent.com/22021150/68532005-991ea700-033e-11ea-9541-452cc80aee69.png)

[2019-11-09 16:47] #579 closed

[2019-11-09 16:56] ankitkataria commented on #575
The image and header are enclosed inside a div. The box-shadow can be given to the outside div.
![image](https://user-images.githubusercontent.com/22021150/68532112-adaf6f00-033f-11ea-9266-81e70b2bac34.png)

Though the circuits section is already pretty responsive, rewriting it using flexbox might be a good beginner task. Is it possible to edit the issue for the same?

[2019-11-09 16:57] plxity commented on #579
@ankitkataria This issue is present in prod as well. Open any project and click on edit comment, edit your comment and then inspect the element mentioned above. You will notice the div present.

[2019-11-09 17:01] ankitkataria commented on #579
I did and posted a screenshot of the same, it seems to be empty for me. :thinking:

[2019-11-09 17:06] ankitkataria commented on #574
Looks approachable after #243

[2019-11-09 17:16] plxity commented on #579
![Screenshot from 2019-11-09 22-45-59](https://user-images.githubusercontent.com/28510494/68532397-beadaf80-0342-11ea-9339-c465d36e8a94.png)
Check out this once.

[2019-11-09 17:23] #562 closed

[2019-11-09 17:28] PragatiVerma18 opened #592 "Preview is not available for a few larger circuits."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Preview is not available for larger circuits rather an image icon is shown. But the preview is necessary for an individual to easily make out if that is the correct circuit that he wants to open.

**Describe the solution you'd like**
A cle

[2019-11-09 17:28] ankitkataria commented on #560
This seems to make sense, as far as #565 is considered, it seems to be a very tough issue for GCI.

[2019-11-09 17:35] ankitkataria commented on #559
[This](https://github.com/CircuitVerse/CircuitVerse/blob/master/app/models/group_member.rb#L6) should ensure that emails are only sent when new group members are created.

Emails cannot be sent locally until SMTP has been configured.

[2019-11-09 17:35] #559 closed

[2019-11-09 17:40] ankitkataria commented on #558
Though the box serves it's purpose, having a better UI on this page can help. When there are no submissions a `No submissions yet` notice would be nice, instead of the empty circuit display box.

[2019-11-09 17:41] PragatiVerma18 opened #593 "An unusual alert message asking for bitwidth pops up on the window on opening some circuits."
**Describe the bug**
A clear and concise description of what the bug is.

An unusual alert message asking for bitwidth pops up on the window on opening some circuits.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org/'
2. Click on 'https://circuitverse.org/users/7229/projects/34327'
4. See error

**Expected behaviour**
A clear and concise description of what you

[2019-11-09 17:44] ankitkataria commented on #557
Closing this in favour of #540 and #494

[2019-11-09 17:44] #557 closed

[2019-11-09 17:46] PragatiVerma18 opened #594 "Messages should fade after sometime or upon clicking anywhere on window."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The messages should fade after some time or upon clicking anywhere else on the window. This would be great for user experience on phone as well as on laptop view.

**Describe the solution you'd like**
A clear and concise description of wha

[2019-11-09 17:46] #490 closed

[2019-11-09 17:50] aayush-05 commented on #560
Okay @ankitkataria !
We can then work on the SubCircuit button later after gci which will automatically solve this issue.

[2019-11-09 17:53] ankitkataria commented on #554
Duplicate of #548

[2019-11-09 17:53] #554 closed

[2019-11-09 17:57] #474 closed

[2019-11-09 18:05] ankitkataria commented on #486
@sakshi1499 is it possible to add a little bit more information and screenshots for this?

[2019-11-09 18:06] sakshi1499 commented on #486
Yes. Sure, attaching.

[2019-11-09 18:07] ankitkataria commented on #487
Does this issue arise in prod?

[2019-11-09 18:10] sakshi1499 commented on #486
![image](https://user-images.githubusercontent.com/42520146/68532976-17cd1180-034a-11ea-8b6e-19553739a86a.png)
![image](https://user-images.githubusercontent.com/42520146/68532986-2b787800-034a-11ea-9667-6b8608d09d0f.png)

[2019-11-09 18:12] ankitkataria commented on #486
Great, thanks! :slightly_smiling_face:

[2019-11-09 18:13] sakshi1499 commented on #487
This issue arises only in the developer environment, in gitpod which requires smtp service to be registered and applied and that needs to be worked on. Otherwise,the invite mail goes in spam.

[2019-11-09 18:14] plxity opened #595 "No option to remove uploaded photo in profile section."
**Is your feature request related to a problem? Please describe.**
There should be a feature to remove uploaded photo in profile section.

**Describe the solution you'd like**
Implement a function to remove the existing photo from profile section.

**Are you working on this? (Yes/No)**
For GCI 2019

[2019-11-09 18:17] sakshi1499 commented on #511
I was able to login too through facebook.

[2019-11-09 18:21] ankitkataria commented on #487
Email services, in my opinion, are not necessarily required in the development environment. Almost everything related to emails can be achieved indirectly without configuring SMTP. But it'll be nice to have some documentation on how to configure it if ever required. How does this sound?

[2019-11-09 18:24] ankitkataria commented on #540
Related to #492

[2019-11-09 18:26] ankitkataria commented on #493
Related to #491

[2019-11-09 18:27] ankitkataria commented on #502
Duplicate of #367

[2019-11-09 18:27] #502 closed

[2019-11-09 18:28] dev9414 opened #596 "Make change in sign up,login ,reset"
Describe the feature you'd like
 Certain verification is implemented there. We need to make those changes in the website accordingly.

Additional context
List of probable changes:

Require user passwords to have at least 8 characters and at least one special character, one number and text characters
Add Recaptcha for second log-in attempts
Add Recaptcha for password resets (forgot password)
Userna

[2019-11-09 18:30] sakshi1499 opened #597 "Option to make private to public should be available"
**Is your feature request related to a problem? Please describe.**
Once a project has been made public it cannot be made private. This should be always available.

**Describe the solution you'd like**
Toggle to turn public to private should be available.

**Additional context**
![public](https://user-images.githubusercontent.com/42520146/68533320-10f3ce00-034d-11ea-98db-07a52ada103f.PNG)
![public1

[2019-11-09 18:32] ankitkataria commented on #597
This is available, explore the project edit page.

[2019-11-09 18:33] sakshi1499 commented on #597
Oh yes alright! :)

[2019-11-09 18:36] sakshi1499 commented on #597
I was suggesting it to be handy. For someone in view my circuits page, they'll have to go all the way to clicking more and then edit and then save the whole thing. If there is a toggle button or a drop down button that they can access directly by clicking private button, it'll be much easier.

[2019-11-09 18:38] ankitkataria commented on #597
How do you propose the selection of `Limited Access` project visibility then?

[2019-11-09 18:39] sakshi1499 commented on #487
Great good idea to go. :)

[2019-11-09 18:44] sakshi1499 commented on #597
What I am actually suggesting is that if the same features are available to a person in edit why make the person go though all those steps if the button indicating public is available to them on that page only. It is like increasing the steps for a task that can be very handy. Limited Access Option should also be included like Public and Private, because they can anyway achieve that two steps late

[2019-11-09 18:45] ankitkataria commented on #516
What are possible drawbacks to using numbers?

[2019-11-09 18:47] aayush-05 commented on #596
I guess you have already made an issue regarding the Recaptcha thing #573

[2019-11-09 18:48] dev9414 commented on #596
Agreed,but I have added some more enhancement in this

On Sun, Nov 10, 2019, 12:17 AM Aayush Gupta <notifications@github.com>
wrote:

[2019-11-09 18:48] ankitkataria commented on #597
In my opinion, have a toggle button for public and private would hide the presence of the limited access feature. Opening this for more input. :v:

[2019-11-09 18:50] sakshi1499 commented on #516
As such I'll say no drawback, but it just seems inappropriate. Like whenever you refer them in email, because of the generated message, every time their name won't be an actual name. One other thing could be that they might be making a typo, no one really writes their names including numbers.

Otherwise not really a drawback, more like enhancement.

[2019-11-09 18:52] ankitkataria commented on #517
Grading options are only visible once the deadline for the assignment is over. A note on the assignment page somewhere will be helpful.

[2019-11-09 18:55] ankitkataria commented on #518
Doing `bundle exec rake db:seed` is necessary to seed the database with the admin credentials. It would be great add a note regarding this in the README.

[2019-11-09 18:57] sakshi1499 commented on #517
I added this issue thinking that some teachers like to start grading like first come first but that would not work in the case when students can update their assignment until the submission date. Is that what happens? Yes note on assignment page would actually help.

[2019-11-09 18:58] sakshi1499 commented on #518
Yes, okay.

[2019-11-09 18:59] ankitkataria commented on #517
Yup, students are allowed to edit the project until the submission deadline.

[2019-11-09 19:01] ankitkataria commented on #547
Duplicate of #508

[2019-11-09 19:03] aayush-05 commented on #593
Hey !
This isn't a bug, but an input required for the logic gates to work properly. Bit width suggest the length of the number in binary form to be calculated.

![image](https://user-images.githubusercontent.com/47032027/68533669-a4c79900-0351-11ea-9c21-e2e0755b32aa.png)

[2019-11-09 19:04] #547 closed

[2019-11-09 19:12] ankitkataria commented on #535
We use [commontator](https://github.com/lml/commontator) gem for handling comments. Although there is no documentation for nested replies, there seems to be some recent commits regarding the same. figuring out how to enable this would be really interesting.

[2019-11-09 19:14] ankitkataria commented on #531
What error are you facing @aayush-05 ?

[2019-11-09 19:20] aayush-05 commented on #531
The link doesn't redirect to the website of the email client when it is not installed on the system. But I guess it is the standard for the "mailto:" attribute. I even had a conversation with Satvik regarding this.

![image](https://user-images.githubusercontent.com/47032027/68533869-f53ff600-0353-11ea-8120-1788e4aee519.png)

Should I close this issue for now @ankitkataria ?

[2019-11-09 19:21] ankitkataria commented on #531
Yup. :grin:

[2019-11-09 19:21] #531 closed

[2019-11-09 19:51] plxity opened #598 "Should not save group with empty name."
**Describe the bug**
As of now, you can create a group with an empty name. The group name should not be empty.

**To Reproduce**
Steps to reproduce the behaviour:
1) Go to 'My Groups'
2) Click on 'New Groups'
3) Click on 'Create Group'

**Expected behaviour**
There should be a check before creating a group whether the name field is empty or not.

**Screenshots**
If applicable, add screenshots to h

[2019-11-09 20:02] aayush-05 commented on #598
Hey !
Even the Assignment and the Project name can be saved empty; you can add them in the isse too.
![image](https://user-images.githubusercontent.com/47032027/68534365-c593ec80-0359-11ea-8cfe-b9971bba9d20.png)

![image](https://user-images.githubusercontent.com/47032027/68534375-e9efc900-0359-11ea-9281-5e99a0e171a6.png)

[2019-11-09 20:10] aayush-05 opened #599 "Broken Drop down in Simulator"
**Describe the bug**
The drop down menus in the navbar on the simulator window appears when the cursor is hovered on a particular section. But it does not go back when the pointer is removed from the section heading.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org/simulator'
2. Hover on any section heading
3. Remove the pointer from the heading
4. See error

*

[2019-11-09 20:13] PragatiVerma18 commented on #593
But asking for value in an alert message like this doesn't look welcoming to beginners, maybe have some default and then allow the user to modify it because if someone is just looking at examples it doesn't clarify what is bit width or why is it required. It's just a suggestion.

[2019-11-09 20:27] aayush-05 commented on #593
There is actually a bit-width column in the simulator window with default value of 1.

![image](https://user-images.githubusercontent.com/47032027/68534689-486a7680-035d-11ea-8a76-d0f0d05cb3bb.png)

The problem might be with that specific example. But anyways I think a tooltip/description would be good to have in the alert.

[2019-11-10 03:17] CodeSarthak commented on #511
@ShreyaPrasad1209 Perhaps you could share your system specifications and the browser you are using.

[2019-11-10 08:19] ShreyaPrasad1209 commented on #575
Sure

[2019-11-10 12:39] aayush-05 commented on #537
Similar to #466

[2019-11-10 12:49] aayush-05 commented on #544
**Duplicate Issue**
This issue has already been raised under #527

You can close this one

[2019-11-10 12:57] aayush-05 commented on #572
I think rather than Black; dark grey colour similar to the navbar would make it look more good and uniform.

[2019-11-10 13:03] ShreyaPrasad1209 commented on #572
Actually I was thinking of changing navbar's colour to black

[2019-11-10 13:33] ac030540 commented on #599
@aayush-05, I would like to fix this issue. So can I work on it?

[2019-11-10 13:38] aayush-05 commented on #572
Oh, okay. Then that's a different story.

[2019-11-10 13:41] aayush-05 commented on #599
Hey @ac030540 !
I am not a contributer to this project as of now.
You can ask @satu0king or @ankitkataria , if they can assign this issue to you.

[2019-11-10 13:43] ac030540 commented on #599
Okay. Thanks.

[2019-11-10 13:44] ac030540 commented on #599
@satu0king , I would like to fix this issue. So can I work on it?

[2019-11-10 17:17] ShreyaPrasad1209 opened #600 "Gmail login not working"
**Describe the bug**
Unable to login via Google when CircuitVerse runs on Gitpod

**To Reproduce**
Steps to reproduce the behavior:
1. Go to README.md
2. Click on Gitpod
3. Give permission to expose all end points
4. Go to Sign In
5. Log in with Google

**Expected behavior**
Should log in successfully as it's an old account

**Screenshots**
![2019-11-10 (7)](https://user-images.githubusercontent.c

[2019-11-10 17:19] satu0king commented on #600
It is not expected to work as Oauth is generally used in production only. We can make it work but this would cause us to leak private keys into docker configuration.

[2019-11-10 17:23] #600 closed

[2019-11-10 17:23] PragatiVerma18 opened #601 "The cross button in simulator closes the properties panel but there is no way to reverse it."
**Describe the bug**
A clear and concise description of what the bug is.
The cross button in simulator closes the properties panel but there is no way to reverse it except reloading the page.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://circuitverse.org/simulator/edit/36189'
2. Click on 'x' in the upper rightmost corner
3. See error

**Expected behavior**
A clear and conci

[2019-11-10 18:40] PragatiVerma18 opened #602 "Backspace is not working in the text input field for boolean logic table."
**Describe the bug**
A clear and concise description of what the bug is.

Backspace is not working for the text input field at the Combinational Analysis > BooleanLogicTable link at simulator.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org/simulator/'
2. Click on 'Tools'
3. Select 'Combinational Analysis'
4. Input some text, try to use backspace.
4. See error

[2019-11-10 19:52] PragatiVerma18 opened #603 "Start Plot feature is not clear, has no mention in docs."
**Describe the bug**
A clear and concise description of what the bug is.

The start plot feature under tools is unclear. I tried finding the context about it in the docs but found no relevant mention of it. Please make it clear.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://circuitverse.org/simulator/'
2. Click on 'Tools'
3. Select 'Start Plot'
4. Search in docs
4. See erro

[2019-11-10 20:08] PragatiVerma18 opened #604 "There should be a Generate Truth Table From Circuit feature."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

There should be a Generate Truth Table From Circuit feature. This would help in better understanding of the circuit.

**Are you working on this? (Yes/No)**
No.

[2019-11-11 11:56] tachyons commented on #516
Given the complexity of names across the global It is better not to add validation for name other than sanitizing for security reasons

[2019-11-11 11:56] #516 closed

[2019-11-11 14:35] ac030540 commented on #599
@ankitkataria ?

[2019-11-11 15:08] ankitkataria commented on #599
Personally I prefer the way it is right now. It's pretty similar to the Google Docs menubar. @satu0king what do you think?

[2019-11-11 16:00] aayush-05 commented on #601
Hey!
You can actually get the properties panel easily by clicking anywhere in the simulator workspace.

[2019-11-11 16:11] PragatiVerma18 commented on #601
Yeah, but that's not clear at first sight. So, maybe a tooltip for the cross button can help. It is very confusing to know what the buttons do without proper text.

[2019-11-11 16:58] aayush-05 commented on #599
Then we can make it more uniform like the Google Docs menubar, like since the menu closes back only when the heading is clicked upon. It should open only on clicking of the heading, not when hovered.

[2019-11-11 17:00] aayush-05 commented on #601
Yes, a tooltip or a description in the documents would be fine.

[2019-11-11 17:19] plxity opened #606 "Add bottom to top button in all the pages."
**Is your feature request related to a problem? Please describe.**
A bottom to top button should be present in all pages to scroll to the top.

**Describe the solution you'd like**
Implement a simple button at the right bottom side of the page. As a user scrolls more a 50px it should be visible on the screen.

**Are you working on this? (Yes/No)**
For GCI 2019

[2019-11-11 20:12] aayush-05 commented on #602
It is not working for the Output names as well.

[2019-11-11 20:14] PragatiVerma18 commented on #602
Yeah, by text input field I meant the HTML input tag, so basically, I meant for both input and output.

[2019-11-11 20:17] aayush-05 commented on #602
Oh, okay. I misunderstood.

[2019-11-12 01:06] sourabhb77 commented on #533
add following css =>
navbar-brand img {
     max-width =100%
}

[2019-11-12 04:18] fluctix opened #607 "Update Contributing.Md"
The file links to the gitter channel which is no longer used , it would be good to change the link to the slack invite so that people don't get confused.

[2019-11-12 04:51] tachyons commented on #607
Go ahead

[2019-11-12 05:12] #607 closed

[2019-11-12 06:26] aayush-05 commented on #533
Hey @sourabhb77
I am not a contributor to this project; so can't give you the rights to merge your commits with the code base.
You can make a pr for this issue and get it reviewed by @ankitkataria or @satu0king

[2019-11-12 09:47] tachyons commented on #487
There which does mail handling for dev environment without configuring SMTP
Eg https://github.com/ryanb/letter_opener

[2019-11-12 11:43] tachyons commented on #544
Duplicate of #527

[2019-11-12 11:43] #544 closed

[2019-11-13 16:46] nitin10s commented on #606
The back to top button is preferred only when the pages are longer than 4-5 screens.
If you observe, our platform doesn't have more than 2-3 screens on a page.

The button would be an overkill and is not necessary in my opinion.

[2019-11-13 16:52] nitin10s commented on #576
Upvotes and Downvotes are pretty common features you must have seen/used on various platforms. There isn't much need for tooltips for common actions.

[2019-11-13 17:29] nitin10s commented on #567
What do you want to navigate? I tried designing a circuit and observed that I stay on the same window state for most of the time and use the zoom-in zoom-out feature. I think the navigation works perfectly fine.
My suggestion - Record your own video while trying to design a few circuits. Observe when or if you feel the need for scrolling up and down the circuits. Post the video because it'll be gr

[2019-11-13 21:10] aayush-05 opened #611 "Filter option for search results"
**Is your feature request related to a problem? Please describe.**
Currently the search bar present on the navigation bar allows to search for all the projects public on the website. But it would be great, if the user can filter out his own projects from the search results.

**Describe the solution you'd like**
A button can be placed on the right hand of the search bar on the search results page w

[2019-11-14 06:55] aayush-05 commented on #606
This button would be useful on the user's own circuits page. The length of that page isn't specified and solely depends upon the number of circuits the user has.

[2019-11-14 08:51] ShreyaPrasad1209 commented on #596
You can edit #573 and close this one

[2019-11-14 09:01] #573 closed

[2019-11-14 09:02] dev9414 commented on #596
I just closed #573

On Thu, Nov 14, 2019, 2:21 PM Shreya Prasad <notifications@github.com>
wrote:

[2019-11-14 09:10] sakshi1499 commented on #487
This seems like a good option, here the emails will get sent back to us only right?

[2019-11-15 12:15] sakshi1499 commented on #518
Should I add a note for the same in readme? It would be easier for beginners.

[2019-11-15 13:44] tachyons commented on #518
@sakshi1499 go ahead

[2019-11-15 20:45] keldor314 opened #615 "Simulation Enhancements for Debugging"
I have a few simple enhancements which should really enhance the user experience for debugging large, latency sensitive circuits, such as CPUs.  Microarchitecture is all about timings, after all.

Simulation control:

Just a small toolbar with the following buttons:

Play: start the simulation from the current circuit state.

Pause: halt the simulation, retaining circuit state.

Stop/Reset: halt t

[2019-11-15 21:01] keldor314 opened #616 "Reasonable Default Delays for Various Elements"
Right now, every circuit element has a default delay of 100ms.  But in real life, different elements have more or less delay.  Simple logic gates are faster than full blown adders, RAM is slow, bitwidth often matters.

Since the entire point of simulating delay in Circuitverse is to mimic real life concerns with performance, it would be really nice if the defaults loosely followed what you'd expec

[2019-11-16 05:34] #563 closed

[2019-11-16 09:56] criticic opened #617 "Getting Black Screen when Circuit Name is large"
**Describe the bug**
When you enter a very large circuit name you get a black screen

**To Reproduce**
Steps to reproduce the behavior:
1. Create New Circuit
2. enter a very large circuit name

The name i entered:
<details><summary>The name i entered:</summary>
<p>
`("[][(![]+[])[+[]]+([![]]+[][[]])[+!+[]+[+[]]]+(![]+[])[!+[]+!+[]]+(!![]+[])[+[]]+(!![]+[])[!+[]+!+[]+!+[]]+(!![]+[])[+!+[]]][([][(![

[2019-11-16 19:12] ankitkataria opened #619 "Add instructions to install bundler in README"
**Is your feature request related to a problem? Please describe.**
The current README doesn't specify instructions to install `bundler`, we currently use bundler version `1.17`.

**Describe the solution you'd like**
Add instruction to install bundler, take reference from [here](https://bundler.io/)

**Are you working on this? (Yes/No)**
No

[2019-11-16 19:31] ankitkataria opened #620 "Update bundler version to 2.0"
**Is your feature request related to a problem? Please describe.**
Currently, bundler version 1.17 is being used. Updating it to 2.0 is required.

**Describe the solution you'd like**
Refer [this](https://bundler.io/guides/bundler_2_upgrade.html) guide for steps to update to bundler v2.

**Are you working on this? (Yes/No)**
No

[2019-11-17 10:51] alkopop79 opened #624 "Clock speed and clock control"
I would like to be able to change the clock frequency, be able to stop and start the clock with a keyboard shortcut or with the space bar and be able to step the clock. I'm thinking of the 'Logisim' way.

[2019-11-17 11:14] tachyons commented on #620
Fixed in #621

[2019-11-17 11:14] #620 closed

[2019-11-17 11:17] tachyons opened #625 "Add windows CI using appveyor"
We are using circle CI to run specs, circle CI do no have support for windows builds, having a windows CI will ensure windows compatibility of the application,

Reference: https://www.appveyor.com/docs/lang/ruby/

[2019-11-17 11:23] alkopop79 opened #626 "Missing documentation"
The Help menu is not finished. I spent ages trying to find a description of the memory objects and there's none.

The instructions about offline use, development and contribution are also missing. I would like to be able to see the code for each part and be able to modify them. So far that's not possible, I could not find a description.

[2019-11-17 11:26] alkopop79 opened #627 "ROM and feature request"
It would be nice if I could load txt, ROM or hex file into the memory. I know I can copy and paste the memory into a text editor but it's not very convenient.
Dynamic address bit width would also be nice.

[2019-11-17 11:56] fluctix commented on #625
I want to work on this

[2019-11-17 12:21] tachyons commented on #625
Github actions is very slow since they don't have cache support yet

[2019-11-17 12:22] fluctix commented on #625
Okay , I would start work on appveyor integration soon.

[2019-11-17 14:40] fluctix commented on #625
@tachyons I cannot currently work on this issue

[2019-11-17 18:48] sakshi1499 opened #628 "Links Redirection to Contribute Page"
**Is your feature request related to a problem? Please describe.**
Cards on Contribute Page are static and as a first time user, a developer directly goes to the contribute page. It should be made dynamic and should redirect to the links of specified options.

**Describe the solution you'd like**
The page should have linking(anchor tags).

[2019-11-18 04:50] sgpritam opened #629 "Remove right margin when then page in mobile view"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-11-18 04:52] sgpritam commented on #629
Remove extra margin when then page in mobile view

[2019-11-18 05:00] sgpritam opened #630 "logo not properly seen or not readable"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-11-18 14:01] aayush-05 commented on #630
**Duplicate Issue**
Issue already opened at #533

[2019-11-18 14:04] aayush-05 commented on #629
**Duplicate Issue**
Similar issue opened at #540

[2019-11-18 14:27] criticic opened #632 "Add ASCIINEMA instructions for setting up codebase"
**Describe the solution you'd like**
Add ASCIINEMA instructions for setting up codebase.

**Additional context**

https://asciinema.org/

[2019-11-18 15:14] #630 closed

[2019-11-18 15:14] #629 closed

[2019-11-18 15:15] sgpritam commented on #619
[![Version     ](https://img.shields.io/gem/v/bundler.svg?style=flat)](https://rubygems.org/gems/bundler)
[![Build Status](https://img.shields.io/travis/bundler/bundler/master.svg?style=flat)](https://travis-ci.org/bundler/bundler)
[![Inline docs ](https://inch-ci.org/github/bundler/bundler.svg?style=flat)](https://inch-ci.org/github/bundler/bundler)
[![Slack       ](https://bundler-slackin.heroku

[2019-11-18 20:24] sgpritam opened #634 "Searchbar design"
Requested Feature:-
When page view(i.e. desktop to mobile) changes then `search` changes as `search logo` and size of search box is decreases

[2019-11-18 20:28] sgpritam opened #635 "Add user account logo"
Requested feature:-
When page view(i.e. desktop to mobile) changes then `sign in` changes as `user logo`

[2019-11-19 08:09] fluctix commented on #625
@tachyons I made a pr later , can you review it

[2019-11-20 02:08] satu0king commented on #597
We can just have a drop down then. The user can know that its possible to change this and easily.

[2019-11-20 08:15] fluctix commented on #632
ASCIINEMA works better on Linux but there is a workaround in windows

[2019-11-20 20:05] ankitkataria opened #638 "Fix simulator controller spec for windows."
**Describe the bug**
The following spec works in Linux but fails on Windows -

- [simulator_controller_spec](https://github.com/CircuitVerse/CircuitVerse/blob/master/spec/controllers/simulator_controller_spec.rb#L30)

For now, I've added a `skip_windows` flag for specs. On adding this flag the mentioned test doesn't run in AppVeyor, which the CI we use for testing windows build.

**To Reproduce**

[2019-11-21 07:16] fluctix commented on #625
This can now be closed through #637

[2019-11-21 07:27] tachyons commented on #625
Fixed in #637

[2019-11-21 07:27] #625 closed

[2019-11-22 04:23] #619 closed

[2019-11-23 17:53] PragatiVerma18 opened #641 "Back button should bring back to the same page."
**Describe the bug**
A clear and concise description of what the bug is.

The back button at <a href="https://circuitverse.org/users/13353/projects/39261">Projects</a> page redirects to the <a href="https://circuitverse.org/users/13353">Users</a> page whereas it should bring back the user to the same page where they came from.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://ci

[2019-11-23 18:07] PragatiVerma18 opened #642 "Empty profile information."
**Describe the bug**
A clear and concise description of what the bug is.

The public profile of users has lots of missing data because while creating a profile, all information is not mandatory. So, either don't show fields that have no value or else make it compulsory to enter complete user information.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://circuitverse.org/users/13

[2019-11-23 18:15] PragatiVerma18 opened #643 "If there are no favourites, show a message rather than showing a blank page."
**Describe the bug**
A clear and concise description of what the bug is.

If there are no favourites added by a user, show a message rather than showing a blank page or either open the favourites page and there show a message saying there are no favourites selected by the user yet and give an option to view more projects by that author.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '

[2019-11-23 18:31] PragatiVerma18 opened #644 "Add a rotate clockwise or counterclockwise option for circuit elements."
**Is your feature request related to a problem? Please describe.**
Adding rotate clockwise or counterclockwise options for circuit elements can be a great utility with respect to the user experience and interactiveness as that would help them align the circuit elements in a better and easier way.

**Are you working on this? (Yes/No)**
No.

[2019-11-25 16:45] aayush-05 commented on #644
There's actually a Direction column in the controller for the simulator that basically does the same.
![image](https://user-images.githubusercontent.com/47032027/69560017-0aae5480-0fd1-11ea-81bd-a811a1c3fb2a.png)

[2019-11-25 19:39] sal2701 commented on #644
@aayush-05 True! Also, one can use the arrow keys to orient the elements with the arrow direction corresponding to the output node.

[2019-11-26 18:58] shubhankarsharma00 commented on #398
Leaving some added information:
- [ ] To show Restricted Elements div only when applicable:
Just add an if statement
`         <%if @assignment.restricted_circuit_elements != "None"%>
`
https://github.com/CircuitVerse/CircuitVerse/blob/2898a70401ae1d7521a9e8c51347ec9710a74bdf/app/views/assignments/show.html.erb#L38-L40

[2019-11-26 19:25] shubhankarsharma00 opened #649 "Updating Restricted Elements doesn't work."
**Describe the bug**
When you make an Assignment and then try to change restricted elements of that assignment it does nothing.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'circuitverse.org'
2. Make a group
3. Add an Assignment with no restricted element
4. Edit the restricted elements.

**Expected behavior**
Should change the restricted elements.

**Additional context**
Add any oth

[2019-11-26 19:39] shubhankarsharma00 commented on #425
I think adding a button Send to self
https://github.com/CircuitVerse/CircuitVerse/blob/2898a70401ae1d7521a9e8c51347ec9710a74bdf/app/views/custom_mails/show.html.erb#L5
and adding a simple user_mailer to self can do the trick

[2019-11-27 10:46] ankitkataria commented on #478
Fixed in #618

[2019-11-27 10:46] #478 closed

[2019-11-27 10:54] #518 closed

[2019-11-27 21:18] sal2701 commented on #643
@PragatiVerma18  There is an empty screen in projects section as well. We can add a message for Favourites as well as Projects. Also the message should be different for the account owner and a viewer. The owner should preferably receive a motivational message :smile: and a link to the simulator. What do you think?

[2019-11-27 21:31] sal2701 opened #652 "Improve Create Assignment page"
**Is your feature request related to a problem? Please describe.**
The Create Assignment page is not user friendly and can be improved.

**Describe the solution you'd like**
* First of all we can change the way we set the deadline, it can either be a calendar to set the date or a clock to set the duration.
* We can remove the "help" link and write the info there.
* Also align the **Cannot be chang

[2019-11-27 21:54] sal2701 opened #653 "Set appropriate titles to all pages"
**Describe the bug**
All pages except for pages in the main navigation bar have the same title and we need to add appropriate titles to each page. Also there are some discrepancies in the titles like "CircuitVerse - Digital Circuit Simulator online" and "CircuitVerse - Digital Circuit Simulator". These need to be rectified.

**To Reproduce**
1. Go to different pages such as groups, assignments, et

[2019-11-27 22:48] sal2701 opened #654 "Align columns in Groups Page"
**Describe the bug**
The alignment in the groups page isn't right. Also, "Actions" needs to be written in the column heading. This is a very simple issue for GCI.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to groups page.
2. You can see that the "Show" buttons are not aligned.
3. "Actions" is not written in the column heading.

**Expected behavior**
Aligned buttons to improve the loo

[2019-11-27 23:19] sal2701 opened #655 "Change Project Name by clicking name on top of page."
**Is your feature request related to a problem? Please describe.**
If I want to change name of project while creating a circuit I have to go to the box at the bottom left, which is visible only in the default setup of page which we can access by deselecting any element, etc.

**Describe the solution you'd like**
I suggest that double clicking the title at the top of the page should make it possibl

[2019-11-28 09:06] PragatiVerma18 commented on #643
Nice idea @sal2701!!! 😀 That would be great considering user experience. Even when there are favorites there should be a link to view more projects from the same author or a link to simulator to create some of their own. Just the proper linking of pages can work wonders for user experience here.

[2019-11-28 14:18] nitin10s opened #656 "Different fonts used across different platforms of CV"
**Is your feature request related to a problem? Please describe.**
All three platforms - https://circuitverse.org/, https://learn.circuitverse.org/, https://docs.circuitverse.org/#/ have a completely different font family used in them. Segoe UI, Helvetica, and Source Sans Pro

**Describe the solution you'd like**
One single font family should be used across the platform to ensure consistency.

**A

[2019-11-28 14:43] nitin10s opened #657 "Dark mode is pretty messed up."
**Describe the bug**
Both the dark modes on https://docs.circuitverse.org/#/ and https://learn.circuitverse.org/ don't work properly at all.

**To Reproduce**
In the documentation, turn on dark mode and click on another link. We see the toggle comes back at its off position and works in a completely opposite way

In the learning platform, turn on dark mode and click on another link. We see the dar

[2019-11-28 21:07] sal2701 opened #658 "Add "Login with GitHub" feature"
**Is your feature request related to a problem? Please describe.**
Nowadays, logging into websites with your GitHub account has become common and convenient. So adding this feature will help in improving Login procedure and User Experience.

**Describe the solution you'd like**
Add **Login with GitHub** option.

**Additional context**
[Connect your app to GitHub](https://auth0.com/docs/connections

[2019-11-28 23:28] sal2701 opened #659 "Popup if Don't Cares present in Combinational Analysis Table"
**Is your feature request related to a problem? Please describe.**
While using the Combinational Analysis feature, we've to fill up a table of inputs which can be a lot sometimes. And if we forget to change even a single "x" we don't get a circuit. So the whole work of filling in the table goes to waste due to s small mistake.

**Describe the solution you'd like**
A popup which would show that "x"

[2019-11-29 09:42] nitin10s commented on #591
Rather than limiting length, we can put a limit on the number of characters shown followed by a "Read More" option. Read more option can maybe redirect them to the doc or better a popup opens displaying the full description and other main details.

[2019-11-29 10:56] shubhankarsharma00 commented on #591
One more option can be having the word limit for description and giving an option to upload a separate markdown file that can have an in-depth explanation of the whole circuit (like a report for a project). This alternative is easier to implement though I personally believe having a separate page would be very cool.

[2019-11-29 16:22] nitin10s commented on #591
The point you are mentioning is great when the majority of the users who upload their circuits want to give an in-depth explanation. By observing the current users, we see such users are way too less. So redirecting the users to a new complete page will just add more friction in their journey. IMO

[2019-11-30 03:08] M06631 commented on #549
https://github.com/CircuitVerse/CircuitVerse/pull/660

Review this PR

[2019-11-30 14:34] CodeSarthak commented on #651
Where are the HTML and CSS files for the same? @ShreyaPrasad1209 @satu0king

[2019-11-30 16:08] jaideepheer opened #1332 "Splitter cannot split 32-bit line"
#### I am submitting a -
* [] **Feature Request**
* [-] **Bug Report**

#### Describe your bug/feature -
When a splitter is attached to a 32-bit line, it causes a connection error if the line has the 32nd bit(MSB) as 1.
#### Expected behavior -
The splitter should be able to split without errors.
#### Screenshots (if relevant) -
![image](https://user-images.githubusercontent.com/15523937/69902975-

[2019-12-02 08:48] tachyons opened #661 "Move about page to seprate controller"
About page is currently rendered from logix, controller, move to separate controller

https://github.com/CircuitVerse/CircuitVerse/blob/stories%2Fnew_ux/app/controllers/logix_controller.rb#L30

[2019-12-02 08:49] tachyons opened #662 "Move privacy page to separate controller"
Move privacy page from logix controller to own controller

[2019-12-02 08:56] tachyons opened #663 "Move authorisation methods from User model"
Move check edit_access, check_view_access, and check_direct view access to pundit authorization layer

[2019-12-02 08:57] #372 closed

[2019-12-02 09:01] tachyons opened #664 "Preview mail in development environment"
Setting up SMTP in development environment is a difficult to task and not necessary, letter opener gem makes testing mails in dev environment easy
https://github.com/ryanb/letter_opener

[2019-12-02 19:00] myfrom commented on #551
Can't reproduce neither on my phone, nor in Chrome DevTools,
browsers: Edge Dev 80, Chrome Dev 80, Chrome Stable 78

![circuitverse org_](https://user-images.githubusercontent.com/19410489/69986776-5798aa80-153e-11ea-86f7-421ce7c8ea42.png)

[2019-12-02 20:16] myfrom commented on #494
I'll work on this as part of GCI task

[2019-12-02 20:57] JoshHeng commented on #628
Hi, I've claimed this task on Google Code In

So just to confirm, the [contribute](https://circuitverse.org/contribute) page should contain hyperlinks within the lists on each card?

By the looks of it most links will be either Github, Patreon, PayPal or the home page, and some items (e.g. `Introduce the platform to your buddie`) won't have any links at all. Is this right?

Thanks

[2019-12-02 21:01] namantechlabs commented on #550
Where can I find the respective CSS file for the login page?

[2019-12-02 21:22] ShreyaPrasad1209 commented on #494
@myfrom you can claim the task given on GCI dashboard, there's no need to comment here unless you wanna work on an issue that's not present in the task list.

[2019-12-02 21:24] myfrom commented on #494
Oh, ok. I wasn't sure if the tasks disappear once you claim them and didn't want to get a few people working on the same thing 😅

[2019-12-02 21:25] ShreyaPrasad1209 commented on #651
@CodeSarthak use inspection, name of the file will be shown.

[2019-12-02 21:29] ShreyaPrasad1209 commented on #494
Don't worry, we can still modify the number of instances. Just ping us on the Slack channel in case you're unable to claim an unfinished task.

[2019-12-02 22:13] JoshHeng commented on #628
Hi,
I've just added various linked icons to the list items. Is this what you need?

<img width="876" alt="contribute-page-screenshot" src="https://user-images.githubusercontent.com/34946235/69999588-e7dfeb00-1550-11ea-9cd3-5e58a6c484b2.png">

[2019-12-02 22:22] JoshHeng commented on #628
See PR https://github.com/CircuitVerse/CircuitVerse/pull/667

[2019-12-02 23:13] sakshi1499 commented on #628
@JoshHeng This is what we wanted in the link redirection. I think the fist sub topic of fan can redirect to the simulator. Do we want icons in every sub topic or should we go without them and just with the hyperlinks? @satu0king @ankitkataria

[2019-12-02 23:19] JoshHeng commented on #628
Also @sakshi1499 Patreon seems to have changed their branding so we might have to change the logo on the bottom left

[2019-12-02 23:22] sakshi1499 commented on #628
Right! I just noticed. Well I think that should be in a separate issue. I'll raise another issue about it and post it as a task. You can claim it if you want. 👍

[2019-12-02 23:34] sakshi1499 opened #669 "Patreon has changed its logo"
**Describe the bug**
Patreon has changed its branding logo and the Contribute page has Patreon's previous logo.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://circuitverse.org/
2. Click on Contribute
3. Scroll down to the bottom
4. Patreon logo is outdated.

**Expected behavior**
The old logo should be replaced by the new one.

**Screenshots**
![old](https://user-images.github

[2019-12-03 00:04] JoshHeng commented on #669
Hi I'll work on this too (but I can't currently claim it on GCI because the other task is still open, I'll claim it later)

[2019-12-03 01:25] fluctix commented on #551
I also cannot reproduce this on my phone.

[2019-12-03 01:39] fluctix commented on #664
Can I work on this ?(or wait for.it to.be published in the gci dashboard)

[2019-12-03 02:07] junron commented on #663
I want to take this task, but I'm not quite sure what I should do. Should I be moving the `check_edit_access` methods in the `project.rb` model to the project policy?

[2019-12-03 02:33] fluctix commented on #663
I want to work on this issue

On Tue, Dec 3, 2019, 7:37 AM junron <notifications@github.com> wrote:

[2019-12-03 06:34] sakshi1499 commented on #669
Okay no issue :) @JoshHeng

[2019-12-03 13:54] RYBPLAYER opened #673 "[GCI] Find and Fix Typos"
Task for GCI 2019
Student: Ryan Y. B.
Mentor: Sakshi Munjal

I found a few issues with the documentation on the Getting Started page on CircuitVerse.org, and I sorted them out based on what page of the documentation they are from. I tried to focus on the end parts of the documentation because I felt it explained a lot of the key features that are unique to CircuitVerse. I purposely skipped the cir

[2019-12-03 14:10] sakshi1499 commented on #673
You have to make a PR and not an issue. I have explained step by step on the GCI dashboard. Go through it okay? @RYBPLAYER

[2019-12-03 17:17] myfrom commented on #494
Is putting the pagination in a grid a valid solution? (would fix some styles, like align that better etc)
![image](https://user-images.githubusercontent.com/19410489/70073409-24672180-15f9-11ea-84e6-f969f476e367.png)

I think only other options would be to:
- make the pagination horizontally scrollable or
- decrease the number of pages shown on all screen sizes

[2019-12-03 19:24] ShreyaPrasad1209 commented on #494
Pagination is usually grid like in nature. But one can use other designs as well. Go with the first option. You can explore other ways to create an aesthetic pagination. I'll mark this issue under design.

[2019-12-04 04:12] ericsheng495 opened #680 ""for ever" Typo in app/view/logix/contribute.html.erb"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
"For ever" Typo in app/view/logix/contribute.html.erb. Will replace "for ever" with "forever" in the file.

**Screens

[2019-12-04 10:21] junron commented on #663
@tachyons Is there a task for this issue? I can't seem to find it in the GCI dashboard

[2019-12-04 10:22] fluctix commented on #663
I don't think it has yet been published

On Wed, Dec 4, 2019, 3:51 PM junron <notifications@github.com> wrote:

[2019-12-04 12:19] junron commented on #574
Hi, I'm interested in taking this task. However, I understand that the notification system is not completed yet. Perhaps I could use email instead of a notification system until the notification system is ready? The number of forks feature shouldn't be too hard though.

Comments @ShreyaPrasad1209 @ankitkataria ?

[2019-12-04 12:28] ankitkataria commented on #574
Go ahead! :rocket:

[2019-12-04 12:38] junron commented on #574
I'll take another task first and do more research on #243, and maybe do a PR to that, then come back to this task! Thanks for confirming!

[2019-12-04 12:54] shubhankarsharma00 opened #685 "No response on clicking upvote when user not logged in"
**Is your feature request related to a problem? Please describe.**
When a user isn't logged in there is no response to the upvote downvote button.

**Describe the solution you'd like**
I think clicking upvote should show a flash message of asking the user to log in.

**Are you working on this? (Yes/No)**
GCI

[2019-12-04 19:00] JoshHeng commented on #628
I've updated the simulator links. Should I change anything else?
<img width="922" alt="firefox_8MMR5EuIlr" src="https://user-images.githubusercontent.com/34946235/70172302-52676700-16c8-11ea-93ea-836d9d91268d.png">

[2019-12-04 19:19] JoshHeng commented on #628
If everything is fine please merge pull request https://github.com/CircuitVerse/CircuitVerse/pull/667

[2019-12-05 03:44] junron commented on #664
I find that [MainCatcher](https://mailcatcher.me/) is better for this, especially in remote environments like docker where there is no browser.

[2019-12-05 07:44] sakshi1499 commented on #673
@RYBPLAYER Please close/delete this issue. It had to be in a Pull Request only

[2019-12-05 07:50] sakshi1499 commented on #680
@ericsheng495 I don't think we need another issue of this. We have a general typo issue raised and if you want to make a change please update it in your existed Pull Request only, We'll review it there itself.

[2019-12-05 17:49] ericsheng495 commented on #680
How should I update these change in the existing Pull Request?

[2019-12-05 17:54] sakshi1499 commented on #680
@ericsheng495 You know the exact path of this right? So you can go and update changes in this particular file. Then you can update it in your existing patch. Otherwise you can open a completely new pr with all the changes in one place and close the existing one. Also, please check if someone has made these changes in some other PR, I think I have seen this issue with someone else too.

[2019-12-05 20:44] jrester opened #698 "The function call form_for is deprecated and should be replaced by form_with"
**Describe the bug**

According to the [official rails documentation](https://guides.rubyonrails.org/form_helpers.html#using-form-for-and-form-tag) the function `form_for` is soft deprecated and as such will be replaced by `form_with`. In some files `from_for` is still used and should therefore be replaced with `form_with`.

**Are you working on this issue? (Yes/No)**
Yes

[2019-12-06 02:10] Parikshit-Hooda commented on #628
Perhaps make the icons a bit smaller, look cluttery to me. @sakshi1499 Opinions? Also, do note that the link redirects should lead to new tabs.

[2019-12-06 04:43] #594 closed

[2019-12-06 06:28] deepak2431 opened #701 "Create a FAQ page"

[2019-12-06 07:31] #680 closed

[2019-12-06 07:53] JoshHeng commented on #628
@Parikshit-Hooda Links already redirect to new tabs and icons are already slightly smaller, but I can make them smaller again if needed

[2019-12-06 09:30] sakshi1499 commented on #628
@Parikshit-Hooda I had already pointed it out earlier, I wasn't really envisioning icons earlier. It'll be great if they are a smaller than this. Right now it kind of looks too crowded.

[2019-12-06 15:36] #698 closed

[2019-12-06 17:41] JoshHeng commented on #669
Also fixed in https://github.com/CircuitVerse/CircuitVerse/pull/667

[2019-12-06 21:00] jgill88 commented on #236
@HypheX i switched to logisim because of this one :( the UI is nowhere near as nice but once you figure it out, it works ok.

[2019-12-07 02:11] NumberC commented on #589
@deepak2431 I got the form setup. How would you like the student and teacher data represented in the database?

[2019-12-07 10:48] JoshHeng commented on #379
- We also need to automatically delete the user's data after a specified amount of time (like 3 years for example), but that could be impractical for analytics (such as how many users we have had).
   - Maybe we should just remove all personal data (e.g. names, emails, etc.) but keep the ghost account? Otherwise we can just delete the whole thing.
- As far as I'm aware we don't really send data to

[2019-12-07 10:50] tachyons commented on #379
encrypted_password actually stores hashed password with salt, it is done using bcrypt algorithm

[2019-12-07 10:57] JoshHeng commented on #379
Ok @tachyons that's fine, just checking

[2019-12-07 13:01] sakshi1499 commented on #379
Here in, CircuitVerse we don't get any terms and conditions or any consents filled before signing up. I think we should focus on having that. I think there are websites that help making terms for other websites. Also, do we even have any delete my account feature?

[2019-12-07 16:29] JoshHeng opened #707 "No blank option for the user's country when editing"
**Describe the bug**
There is no blank option for the country when an account is edited.
When a new user account is created and the user edits their profile, the country is set to India as it is the top of the list.

**To Reproduce**
1. Register a new account
2. Go to the profile page and click edit

**Expected behavior**
There should be a blank option for the country

**Are you working on this is

[2019-12-07 16:31] JoshHeng opened #708 "Ability to change emails"
**Is your feature request related to a problem? Please describe.**
If a user is changing their main email address, they cannot change their email and must instead create a new account.

**Describe the solution you'd like**
The user should be able to change their email

**Are you working on this? (Yes/No)**
No

[2019-12-07 16:35] JoshHeng opened #709 "Possible account enumeration bug"
**Describe the bug**
A potential attacker can modify the number in the profile URL (https://circuitverse.org/users/00000/profile) to enumerate a list of all the CircutVerse users and their public information

**To Reproduce**
1. Go to https://circuitverse.org/users/00000/profile, entering any number

**Additional context**
It could be a better idea to randomly generate account IDs or to base the U

[2019-12-07 16:42] JoshHeng commented on #709
If you go to https://circuitverse.org/users/00000/profile/edit with an account ID which is not your own, your own account will still be shown on the editing page. It would probably be better to return a forbidden/unauthorised message instead.

[2019-12-07 16:44] JoshHeng commented on #379
There currently isn't a delete account feature on the production website

[2019-12-07 16:47] sakshi1499 commented on #379
I think for us to make people agree to the terms we need to give them this option. Also, we have to make sure that after deleting all their data is deleted. Do we plan on deleting their public circuits also? Is there some provision that some data is kept and other gets deleted and still it follows GDPR?

[2019-12-07 16:51] JoshHeng opened #710 "Add a 'Create Project' button to the projects page"
**Is your feature request related to a problem? Please describe.**
There should be a clearly labelled button to create a project on the projects page itself

**Describe the solution you'd like**
Show a 'Create Project' in the project navigation bar, like so:
<img width="824" alt="firefox_DIw4vii5iP" src="https://user-images.githubusercontent.com/34946235/70377880-9c8f5900-1911-11ea-86a7-c5e29b8185

[2019-12-07 16:53] JoshHeng opened #711 "Show 'no projects' or 'no public projects' if a user has no projects"
**Is your feature request related to a problem? Please describe.**
If a user doesn't have any projects their projects page looks empty and like something isn't loading
<img width="848" alt="firefox_TMKc1CsUwo" src="https://user-images.githubusercontent.com/34946235/70377919-14f61a00-1912-11ea-8365-6d72998f5ba1.png">

**Describe the solution you'd like**
If the user has no public projects, the webs

[2019-12-07 16:58] JoshHeng commented on #379
I think we can keep some data as long as it isn't personally identifiable and more for analytics purposes (like how many users the platform has had, total number of circuits, etc.) but it's probably better off and safer just deleting their whole account.
If they want to delete their account their public circuits should also be deleted

[2019-12-07 17:00] JoshHeng opened #712 "Make the project information editing page look nicer"
The project information editing page doesn't look very well styled and like it was rushed
<img width="904" alt="firefox_2dp4nIVvgc" src="https://user-images.githubusercontent.com/34946235/70377929-4373f500-1912-11ea-8ac8-7a197a07926a.png">

**Describe the solution you'd like**
- The 'Update Project' button should have a bootstrap class,
- There should be less of a space between the 'Description' l

[2019-12-07 17:03] JoshHeng opened #713 "Change the URLs for the profile details and a user projects"
It would make more sense if the profile information of a user was found at https://circuitverse.org/users/00000/ and the projects found at https://circuitverse.org/users/00000/projects

Currently the projects are found at https://circuitverse.org/users/00000/ and profile at https://circuitverse.org/users/00000/profile

**Are you working on this? (Yes/No)**
No

[2019-12-07 17:04] sakshi1499 commented on #379
But then we have to decide that people who have replicated that circuit as in shared it on their account or like if the teacher deletes his account then students associated with the assignment, they shouldn't be left hanging. So the deletion process has a lot of details we should consider. Lets list all the pointers with solutions and various cases including above points that @tachyons has mention

[2019-12-07 17:07] JoshHeng commented on #379
Forked circuits should just become independent circuits. For teachers, I think the assignments should just be set to be issued by a 'deleted user' (i.e. just have the user id on the database blank)

[2019-12-07 17:12] sakshi1499 commented on #379
Lets try to write all the points in one comment and look for best solutions from our side. So like pick the first point and research on net and come to a solution, suggest it. Lets discuss first if there is some confusion and then we can focus on making a full comment including everything. As of assignments, they are submitted after a deadline is reached so we can't keep that id blank. What we can

[2019-12-07 19:30] tachyons commented on #379
This is a issue need research which includes some legal help. If someone can do the research and list out the things to be done for GDPR compliance, that will be great

[2019-12-07 20:37] JoshHeng commented on #379
**Notes**
- All of GDPR must be fulfilled as CircuitVerse offers service to people in the EU and/or is based in the EU.
- Not fulfilling it can lead to a huge fine.

**Principles**
- **Consent:** All new and existing users must directly give consent to the storage of their personal data. They must also be able to easily withdraw it. The GDPR notice must be clear, transparent and concise.
  - There

[2019-12-08 05:07] sakshi1499 commented on #379
Its not just for EU , India has adopted these measures, so it'll work. As far as I know there is one issue which discusses that not all the fields are filled by the user when they register. So that can be

- The first step that we fill all the data.
- Then we can ensure that we give them a checkbox option for their data usage.
- We can ensure we bring up a delete my account feature.
- We can make

[2019-12-08 05:09] sakshi1499 commented on #379
@tachyons I think @JoshHeng did his research work. I filled up where ever I felt it was required. Should I go ahead and approve his task?

[2019-12-08 05:17] tachyons commented on #379
FYI there is no proper data protection laws in India

[2019-12-08 05:27] sakshi1499 commented on #379
https://economictimes.indiatimes.com/tech/internet/the-india-draft-bill-on-data-protection-draws-inspiration-from-gdpr-but-has-its-limits/articleshow/65173684.cms?from=mdr

https://thenextweb.com/asia/2019/07/30/india-to-seek-eus-approval-on-gdpr-compliance-for-adequacy-status/

Though strangely its not effective and fails to account various measures. India is trying to execute proper laws. Lets h

[2019-12-08 09:50] JoshHeng commented on #379
_Under the GDPR, you must appoint a DPO if:
    - You are a public authority or body (except for courts acting in their judicial capacity);
     - Your core activities require large scale, regular and systematic monitoring of individuals (for example, online behaviour tracking); or
    - Your core activities consist of large scale processing of special categories of data or data relating to crimin